extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#mod-title
        .content
          | Section 3: Methods of Protection
      br
      //- p This module has been thoughtfully designed to help you gain a comprehensive understanding of identity theft scams, including their risks, warning signs and practical methods. Our primary objective is to empower you with the knowledge and methods necessary to safeguard yourself effectively. Throughout this module, you will explore three sections that cover the following topics:
      p In this section we will explore various tricks employed by cybercriminals. Learn to spot these tactics and strengthen your defense.
      .ui.centered.stackable.grid#section-grid
        .four.wide.column
          .ui.huge.label.lockContainer.unlocked
            i.big.unlock.icon
          p Section 1: Concepts & Consequences
        .four.wide.column
          .ui.huge.label.lockContainer.unlocked
            i.big.unlock.icon
          p Section 2: Recognize Tricks
        .four.wide.column
          .ui.huge.label.lockContainer.unlocked
            i.big.unlock.icon
          p Section 3: Methods of Protection  
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', '/submod2/learn15/identity', '/explore/identity', 62, 'Back', 'Complete Section 3')  