extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Example 2
      h2 Click on the red dots to explore this email 
      br
      //- h1(style='display: block; text-align: center; margin: auto;margin-top: 20px;')
      //-   b How can you recognize the techniques of scammers?
      //- #norton
      //-   img.ui.centered.image(src='/images/identity_explore.png' style="max-width:100%;max-height:100%;text-align:center;margin-top:40px;margin-bottom: 0px;")
      //-   div(data-hint='Go to Norton LLC official website to check if the email address it correct.' data-hint-position='top-right' style='position: absolute; top: 33%; right: 16%; width: 100%; height: 20px; background-color: transparent;')
      //-   div(data-hint='Message was automatically sent to spam. Spam filters emails that are not sent from a trust source.' data-hint-position='top-right'  style='position: absolute; top: 42%; left: 10%; width: 100%; height: 20px; background-color: transparent;')
      //-   div(data-hint='Please think of the following questions: Did you purchase what the email told you to? Do you see a charge on your credit/debit card statements? Did it appear in spam?' data-hint-position='top-right'  style='position: absolute; bottom: 20%; left: 10%; width: 100%; height: 20px; background-color: transparent;')

      .openEmailContainer(id="openEmail-1")
        .ui.padded.segment
          //- button.ui.circular.icon.button.closeEmailArrow(onclick='closeEmail()')
          //-   i.left.arrow.big.icon
          //- button#report.ui.circular.icon.button(onclick='reportEmail()' data-tooltip='Report')
          //-   i.bullhorn.large.icon
          //-   .report-tooltip Report
          //- button#block.ui.circular.icon.button(onclick='blockEmail()' data-tooltip='Block')
          //-   i.ban.large.icon
          //-   .block-tooltip Block
          //- button#delete.ui.circular.icon.button(onclick='deleteEmail()' data-tooltip='Delete')
          //-   i.trash.alternate.outline.large.icon
          //-   .delete-tooltip Delete
          //- .ui.horizontal.divider
          span#subjectLine
            | Order Confirmation - Norton Renewal
            #inboxLabel.ui.huge.label
              | Spam
              i.delete.icon
          //- .ui.right.floated.header
          //-   span#openDate Aug 31
          //- .ui.horizontal.divider
          .ui.icon.message
            i.exclamation.circle.icon 
            .content.senderInfo
              .header
                | NORTON LLC
                span.fromEmail &lt;subscriptions@deskera.com&gt;
                span.aHint(data-hint='Go to Norton LLC official website to check if the email address it correct.' data-hint-position='top-right')
          .ui.message#spam-warning(data-hint='This email was automatically sent to spam, and spam filters emails that are not sent from a trust source. So be careful!' data-hint-position='top-right')
            //- .header
            //-   | Changes in Service
            p
              | Why is this message in Spam? It's similar to messages that were identified as spam in the past.
            .ui.button Report not spam

          p#emailContent
            | Hi,
            span.aHint(data-hint='The missing name in the email raises suspicion of it being a scam.' data-hint-position='top-right')
            br           
            | This is to inform you that your annual subscription has been renewed successfully.
            br
            | Thanks for having service with us. Hence we have charged you 399 USD for your yearly subscription. Here are your order details:
            br
            br
            | Order ID: # 33L-6372V-M8
            br
            | Product name: Norton 360
            span.aHint(data-hint='Did you purchase what the email claims you did?' data-hint-position='top-right')
            br
            | Total Amount: 399.00 USD 
            span.aHint(data-hint='Confirm this charge by checking your credit/debit card statements.' data-hint-position='top-right')
            br
            | Transaction Data: #{currentDate}
            br 
            br
            | To upgrade/cancel your subscription, please contact our customer service desk: +1 (818) 835-5920
            br
            br
            | Cancellation after 72 hours from this email won't be valid for a Refund.



          //- p
          //-   | Click here NOW! 
          //-   a.fakeLink(onclick='linkClick()') http://jdksj6879sh.com
          //- button#reply.ui.basic.button(onclick='replyEmail()')
          //-   i.reply.icon
          //-   | Reply


    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub3_learn10', '/submod3/learn9/identity', '/submod3/learn11/identity', 80)  

block scripts
  //- script(src='/js/character.js')
  script.
    introJs().addHints();
    postStartTime("identity", "sub3_learn10");

block styles 
    link(rel='stylesheet', href='/css/exampleEmail.css')  
