extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | When you have your identity stolen
      h2 For Medical Identity Theft
      .ui.bulleted.list 
        .item Contact your health care provider first to see if it's a mistake. Your health care provider must respond to your request within 30 days and must notify other health care providers who may have the same mistake in their records.
        .item If your issue is not resolved by your provider, report the questionable charges to 1-800-MEDICARE or contact your local Senior Medicare Patrol for assistance: 1-877-808-2468 or <a href="www.SMPResource.org">www.SMPResource.org</a>
        .item Suspect Medicare Fraud? Contact the OIG's fraud hotline.
        .item Online: <a href="https://oig.hhs.gov/fraud/report-fraud/">oig.hhs.gov/fraud/hotline</a>; Phone: 1-800-447-8477 (1-800-HHS-TIPS)
        .item TTY: 1-800-377-4950 | Fax: 1-800-223-8164
      .ui.icon.blue.message
        //- i.info.circle.icon
                  .avatar(style="width: 100%; height: 100%; overflow: hidden; position: relative;background: red !important; border: 2px solid green;")
        .icon
          img#dart_image1.ui.small.image.right.floated(src=user.avatarImg)
        .content
          .header
            //- i.info.circle.icon
            | Note
          p Important contact details are included in the downloadable materials on the modules' homepage.
          //- include to download here


    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub3_learn8', '/learn/submod3/7/identity', '/learn/submod3/9/identity', 76)  

block scripts
  script.
    postStartTime("identity", "sub3_learn8");