extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Preventative measures when being contacted by scammers
      .dontssContainer
        .ui.large.red.fluid.label
          i.thumbs.down.icon 
          | Don'ts

      .ui.bulleted.list 
        .item Don’t share any  personal information over the internet and on public computers unless you are sure it’s safe or you initiated the contact 
        .item Don’t give out usernames and passwords
        .item Don’t click on anything in an unsolicited email or text
        .item Don’t call a number left on your voicemail by a robocaller or listed in a suspicious email or text 
        .item Don’t download anything you don’t know is safe
        .item Don’t use websites that start with “http://” instead of “https://” 

    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub3_learn4', '/learn/submod3/3/identity', '/learn/submod3/5/identity', 68)  


block scripts
  script.
    postStartTime("identity", "sub3_learn4");