extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Example 1
      .ios-chat-container
        .chat(style="width: 100%; align-items: center;")
          .yours.messages
            .message.last(style="width: 500px;")
              | W: Congrats, Dawn! Your unique code 
              u 36901
              |  printed on your receipt from March 4 came in 2nd in our giveaway: 
              a <u>x7683823/dfdlifxp</u>



      h2 If you receive the message above, what should you be thinking? 
      .ui.bulleted.list 
        .item Am I aware of the rules/regulations of this sweepstakes?
        .item This link looks suspicious... I shouldn’t click it!
        .item Does it sound too good to be true? Probably untrustworthy!
        //- .item If your issue is not resolved by your provider, report the questionable charges to 1-800-MEDICARE or contact your local Senior Medicare Patrol for assistance: 1-877-808-2468 or <a href="www.SMPResource.org">www.SMPResource.org</a>
      .ui.icon.blue.message
        //- i.info.circle.icon
                  .avatar(style="width: 100%; height: 100%; overflow: hidden; position: relative;background: red !important; border: 2px solid green;")
        .icon
          img#dart_image1.ui.small.image.right.floated(src='/profile_pictures/transparent.png')
        .content
          .header
            //- i.info.circle.icon
            | Note
          p Important contact details are included in the downloadable materials on the modules' homepage.
          //- include to download here


    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub3_learn9', '/learn/submod3/8/identity', '/learn/submod3/10/identity', 78)  

block scripts
  script(src='/js/character.js')
  script.
    postStartTime("identity", "sub3_learn9");