extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | When you have your identity stolen
      iframe(type='text/html' width='540' height='289'
        src='/videos/identity-video.mp4'
        frameborder='0' style='display: block; margin: auto;')
      .ui.bulleted.list 
        .item If you think your identity got stolen, report identity theft and get a recovery plan from the <a href="https://www.ftc.gov/news-events/topics/identity-theft/report-identity-theft" class="visitLink"> Federal Trade Commission</a>. You can also report it by phone at 1-877-438-4338.
        .item Contact your local police department.
        .item Tell your family, friends, and other people who can help you to minimize the damage and subsequent identity theft.
        .item Change passwords for other accounts.

    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub3_learn5', '/learn/submod3/4/identity', '/learn/submod3/6/identity', 70)  


block scripts
  script.
    postStartTime("identity", "sub3_learn5");