extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#mod-title
        .content
          | Chapter 3: Methods of Protection
      br
      //- p This module has been thoughtfully designed to help you gain a comprehensive understanding of identity theft scams, including their risks, warning signs and practical methods. Our primary objective is to empower you with the knowledge and methods necessary to safeguard yourself effectively. Throughout this module, you will explore three sections that cover the following topics:
      p In this chapter we'll explore different ways to protect yourself from scammers who try to steal your personal information.
      .ui.centered.stackable.grid#section-grid
        .four.wide.column
          .ui.huge.label.lockContainer.unlocked
            i.big.unlock.icon
          p Chapter 1: Concepts & Consequences
        .four.wide.column
          .ui.huge.label.lockContainer.unlocked
            i.big.unlock.icon
          p Chapter 2: Recognize Techniques
        .four.wide.column
          .ui.huge.label.lockContainer.unlocked
            i.big.unlock.icon
          p Chapter 3: Methods of Protection  
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub3_learn', '/learn/submod2/15/identity', '/learn/submod3/2/identity', 62, 'Back', 'Start Chapter 3')  

block scripts
  script.
    postStartTime("identity", "sub3_learn");
  