@font-face {
    font-family:'dotsfont';
    src:url('/fonts/dotsfont.eot');
    src:url('/fonts/dotsfont.eot?#iefix')  format('embedded-opentype'),
        url('/fonts/dotsfont.svg#font')    format('svg'),
        url('/fonts/dotsfont.woff')        format('woff'),
        url('/fonts/dotsfont.ttf')         format('truetype');
    font-weight:normal;
    font-style:normal;
}
/* https://github.com/kylewelsby/dotsfonts */

#customPasswordInput {
  font-size: 14px;
  height: 50px;
}

.ui.one.column.centered.grid{
  padding-top: 1em;
}

.ui.fixed.bottom.sticky{
  padding-bottom: 6em;
}

#removeHidden, #clickAllDotsWarning{
  display: none;
}

.ui.form{
  font-size: 130%;
}

.addFieldSpacingBottom {
  margin-bottom: 1em !important;
}

.addFieldSpacingTop{
  margin-top: 1em !important;
}

.ui.form .ui.warning.message{
  margin-bottom:18px;
  font-size:16px;
}

.ui.indicating.progress{
  margin-top:.5em;
}

#strengthLabel{
  font-weight: bold;
  font-size:120%;
}

#feedbackMessage{
  margin-bottom: 18px;
  font-size: 16px;
}

#feedbackSuggestion{
  padding-left: 28px;
  margin-top: 0;
}
