/* general */

#content.column.removeTopPadding {
  padding-top: 0;
}

.pointerCursor {
  cursor: pointer;
}

/* tabs - general */

.ui.tab {
  margin-top: 1em;
}

.ui.tab:not([data-tab="timeline"]) {
  margin-bottom: 8em;
}

.ui.grid.gridInsideTab {
  margin-bottom: 4em;
}

/* article tab */

.articleImage {
  cursor: pointer;
}

/* search results tab */

.button.homeTab {
  margin: 0 5px 5px 0;
}

.resultURL{
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
  font-size: 16px;
  cursor: default;
}

.resultTitle {
  margin: 0;
  padding: 10px 0;
  font-size: 22px;
  cursor: default;
}

.resultPreviewText {
  margin: 0;
  padding: 0 0 35px 0;
  font-size: 16px;
  cursor: default;
}

/* tutorial */

.img.post img{
  max-width: 100%;
}

.fullArticleImage{
  max-width: 100%;
  margin-right: 3em !important;
}

.articleText {
  font-size: 22px;
}

/* trans */

i.caret.icon {
  text-indent: 3em;
}

/* sim */

.ui.grid .removeColumnPadding {
  padding: 0;
}

.ui.segment .articlePublisher {
  padding: 0 0 15px 0;
  margin: 0;
}

.ui.segment .articleHeadline,
.ui.segment .articleBody {
  padding: 0 0 15px 0;
}
