.testDriveBlue {
  background-color: #14a1f6 !important;
  color: white !important;
}

.testDriveLightGray {
  background-color: #D7D7D7 !important;
  color: white !important;
}

/* trans */

i.caret.icon {
  text-indent: 3em;
}

/* a.item {
  background-color: white !important;
} */

.ui.tab {
  margin-top: 1em;
}

.removeTopPadding {
  padding-top: 0 !important;
}

/* tutorial */

.img.post img{
  max-width: 100%;
}

.fullArticleImage{
  max-width: 100%;
  margin-right: 3em !important;
}

.articleText {
  font-size: 22px;
}

/* sim */

.articleImage {
  cursor: pointer;
}

.newsArticleTitleContainer {
  background: rgba(0, 0, 0, 0.05) !important;
  cursor: pointer;
}

/* search results */

.button.homeTab {
  margin: 0 5px 5px 0;
}

.resultURL{
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
  font-size: 16px;
  cursor: default;
}

.resultTitle {
  margin: 0;
  padding: 10px 0;
  font-size: 22px;
  cursor: default;
}

.resultPreviewText{
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 16px;
  cursor: default;
}

/* sim page */

.ui.fixed.bottom.sticky {
  margin-bottom: 4em;
}

.sixteen.wide.column.centered.removeTopPadding.addBottomMargin{
  margin-top:2em;
}
