/* custom cursor appearances */
.ui.card .comments :not(.actions){
  cursor: default;
}

.ui.card .description,
.newsArticleTitleContainer {
  cursor: pointer;
}

/* sim and results */

#clickArticleLinkWarning {
  display: none;
}

.info_button {
  z-index:12;
  text-align:center;
  align-self:flex-end;
  position:relative;
  bottom:10px;
  width:7%;
  height:auto
}


/* tutorial */

.img.post img{
  max-width: 100%;
}

/* sim */

.newsArticleTitleContainer {
  background: rgba(0, 0, 0, 0.05) !important;
}

/* results */

.resultsPromptLabel{
  background-color:#2185d08a !important;
  color:#000000d1 !important;
}

.resultsPromptLabel h4 {
  float: left;
}

.resultsPromptLabel .exclamation.triangle.icon{
  color: #f9ff00 !important;
}

.img.post img {
  max-width: 100%;
  cursor: pointer;
  display: inline !important;
}

.ui.checkbox label, .inlineFields label {
  font-size: 120%;
}
