/* Post appearances */

.ui.card .description,
.ui.card .img.post,
.newsArticleTitleContainer {
    cursor: pointer;
}

.ui.card .newsArticleTitleContainer {
    background: rgba(0, 0, 0, 0.05);
}

.info_button {
    /* z-index: 9; */
    text-align: center;
    align-self: flex-end;
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 7%;
    height: auto
}