/* trans2 */

form label{
  font-size: 120% !important;
}

.menu .item {
  font-size: 100% !important;
}

#selectTopicError{
  display: none;
}

/* trans script */

.noLineBreak{
  white-space: nowrap;
}

/* general */

.customCircularAvatar {
  object-fit: cover;
}
