.preserveWhitespace {
    white-space: pre;
}


/* warning messages */


/* .ui.warning.message {
    display: none;
} */

.sticky.warningMessagesSticky {
    padding-bottom: 6em;
    z-index: 10000000;
}


/* tut_guide checkboxes */

.segment.requiredCheckbox {
    min-height: 55px;
}


/* privacy settings page */


/* tutorial, sim, settings pages */

.ui.container.addTopMargin {
    margin-top: 1em
}

.ui.form .grouped.fields>label.sectionTitle {
    font-size: 140%
}

.ui.form .grouped.fields>label.subsectionTitle {
    font-size: 120%;
}

.ui.form .field>label.standardLabel {
    font-size: 100%;
}

.ui.form .field>label.standardLabel .div {
    width: 200px;
}

#locationCue1Text,
#locationCue2Text,
#locationCue3Text,
#tagCue1Text,
#tagCue2Text {
    display: none;
}

#privateAccountCueText {
    display: none;
    font-size: 60%;
}


/* free-play sections */

.img.post img {
    max-width: 100%;
}

.ui.card .content a span {
    color: black;
}