/* tutorial */

.image img {
    max-width: 100%;
}

.introjs-hint.introjs-fixedhint,
.introjs-hint.introjs-floating,
.introjs-fixedTooltip {
    /* Appears over header & footer and chat*/
    z-index: 10000003 !important;
}


/* tut_guide */

.ui.text.container>.ui.raised.segment {
    padding: 25px;
}

.step.ui.raised.segment {
    cursor: pointer;
}

.responseSuggestion {
    font-weight: 600;
}

#clickViewMessagesWarning,
#clickToSeeWarning,
#clickLabelsWarning {
    display: none;
}


/* results */

.img.post img {
    max-width: 100%;
    cursor: pointer;
    display: inline !important;
}

.ui.stackable.two.cards .chat {
    bottom: auto;
    font-size: 12px;
    right: auto;
    position: relative;
    width: auto;
    float: left;
}

.ui.stackable.two.cards .chat-history {
    height: inherit;
}