extends ../script-esp.pug

block post
  if (val.type === user.esteemTopic[user.esteemTopic.length - 1] || val.type === "neutral")
    if (val.info_text !== "")
      include ../partials/script/actorPost-esp
    else
      include ../partials/script/taggedPost-esp

block rightColumn

  .computer.only.four.wide.column
    .ui.sticky.compact.positive.message.advancedLitReminder
      case user.esteemTopic[user.esteemTopic.length - 1]
        when "Música"
          p
            | Recuerda que estás viendo el feed de Jeremy. Presta atención a las
            | publicaciones de Lilian y Alejandro. Todavía puedes hacer publicaciones y
            | agregar comentarios en el feed.
        when "Deportes"
          p
            | Recuerda que estás viendo el feed de Jeremy. Presta atención a la
            | publicaciones de Sofia y María Cristina. Todavía puedes hacer
            | publicaciones y agregar comentarios en el feed.
        when "Juegos"
          p
            | Recuerda que estás viendo el feed de Jeremy. Presta atención a las
            | publicaciones de Lilian y Alejandro. Todavía puedes hacer 
            | publicaciones y agregar comentarios en el feed.
        default
          p
            | Recuerda que estás viendo el feed de Jeremy. Presta atención a las
            | publicaciones de Lilian y Alejandro. Todavía puedes hacer publicaciones y
            | agregar comentarios en el feed.

block scripts2
  script.
    $('.advancedLitReminder')
    .sticky({
      context: '#content',
      offset: 90
    })
