extends ../ui_layout-esp

block content

  .ui.text.container.addBottomMargin

block scripts
  script(src="/module_js/esteem-esp/esteem-esp_trans_script.js")
  
block styles
  link(rel='stylesheet', href='/css/modules/esteem.css')
