extends ../ui_layout-esp

block content
  
  .ui.text.container.addBottomMargin
    br
    .column
      .ui.raised.segment
        h3.ui.header
          i.binoculars.blue.icon
          .content
            | Explorar
        hr
          
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | Antes de explorar el feed del TestDrive,
            | elige el tema que más te interese.

        br
        .ui.container
          form.ui.form
              .field#animateDropdownError
                label
                  i.search.large.gray.icon
                  .ui.selection.dropdown(name='topicSelect')
                    input(type='hidden', name='_csrf', value=csrfToken)
                    i.dropdown.icon
                    .default.text Elige un tema...
                    .menu
                      //- .item(data-value='0') Music
                      //- .item(data-value='1') Sports
                      //- .item(data-value='2') Gaming
                      .item(data-value='0') Música
                      .item(data-value='1') Deportes
                      .item(data-value='2') Videojuegos
      br
      br
    br
    br
    .ui.warning.message#selectTopicError
     .header
      | Elige un tema para seguir
      
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.labeled.icon.button
            i.rocket.icon
            |   ¡Continuemos!
    br
    br
    br
    
block scripts
  script(src="/module_js/esteem-esp/esteem-esp_trans2.js")
