extends ../script-esp.pug

block post
  if (val.type === user.esteemTopic)
    if (val.info_text !== "")
      include ../partials/script/taggedPost-esp
    else
      include ../partials/script/actorPost-esp
  
block rightColumn

  .computer.only.four.wide.column
    .ui.sticky.compact.positive.message.advancedLitReminder
      case user.esteemTopic
        when "Música"
          p 
            | Remember that you are viewing Jeremy's timeline. Pay special 
            | attention to posts by Jeremy's friends, Kiki and Franklin. You can 
            | still make posts and add comments on the timeline. hello
        when "Deportes"
          p 
            | Remember that you are viewing Jeremy's timeline. Pay special 
            | attention to posts by Jeremy's friends, Brielle and Hayden. You can 
            | still make posts and add comments on the timeline.  
        when "Juegos"
          p 
            | Remember that you are viewing Jeremy's timeline. Pay special 
            | attention to posts by Jeremy's friends, Lindsay and Asher. You can 
            | still make posts and add comments on the timeline.  
        default
          p 
            | Remember that you are viewing Jeremy's timeline. Pay special 
            | attention to posts by Jeremy's friends, Kiki and Franklin. You can 
            | still make posts and add comments on the timeline. 

block scripts2
  script.
    $('.advancedLitReminder')
    .sticky({
      context: '#content',
      offset: 90
    })
