extends ../ui_layout

block content

  .ui.text.container

    .ui.raised.segment
      h3.ui.header
        i.key.blue.icon
        .content
          | Introduction and Key Concepts
      hr
      h5.ui.header
        i.info.circle.icon
        .content
          | Social media is a great way to get news quickly and easily. Your friends may like or share articles that are interesting to you. 
      h5.ui.header
        i.exclamation.triangle.icon
        .content
          | But you have to be careful! Sometimes people share articles on social media that look like accurate news but actually include false or untrustworthy information.

      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.question.circle.outline.blue.icon
        .content Why does fake news exist?
          .sub.header 
            i.hand.pointer.icon 
            span Click on each label below to learn more
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          #money.ui.raised.segment
            a.ui.blue.ribbon.label
                i.dollar.sign.icon 
                span Money
            span.hidden(id="money_info", style="font-weight:600") Each time someone clicks on a news article, the website makes more money. So, websites create news articles that draw people's attention. They don't care whether the information is true or not.
        .ui.column
          #influence.ui.raised.segment
            a.ui.blue.ribbon.label
                i.magic.icon 
                span Influence
            span.hidden(id="influence_info",style="font-weight:600") Other times, people write misleading articles to spread their beliefs, presenting their opinions as facts.        
    
    
    .ui.message.negative.transition.hidden
      i.close.icon
      .header
       | Complete all activities to proceed!
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.green.labeled.icon.button.disabled
            i.rocket.icon
            |   Got it!
    br
    br
    br
block scripts
  script().
    var incomplete_activities = ($('#question').is(":hidden") ||  $('#influence_info').is(":hidden") || $('#money_info').is(":hidden"));
    $('#introduction_next').on('click', function () {      
      $('#question').show(); 
      $('#question').transition('jiggle');     
      if(!($('#question').is(":hidden") ||  $('#influence_info').is(":hidden") || $('#money_info').is(":hidden"))){
        $('.ui.green.labeled.icon.button').removeClass('disabled');
      } 
    });
    $('#money>a').on('click', function () {      
        $('#money_info').show(); 
        $('#money').transition('tada');     
        if(!($('#question').is(":hidden") ||  $('#influence_info').is(":hidden") || $('#money_info').is(":hidden"))){
          $('.ui.green.labeled.icon.button').removeClass('disabled');
        }
    });

    $('#influence>a').on('click', function () {      
        $('#influence_info').show();      
        $('#influence').transition('tada');     
        if(!($('#question').is(":hidden") ||  $('#influence_info').is(":hidden") || $('#money_info').is(":hidden"))){
          $('.ui.green.labeled.icon.button').removeClass('disabled');
        }
    });


    function startIntro(){
        if(($('#question').is(":hidden") ||  $('#influence_info').is(":hidden") || $('#money_info').is(":hidden"))){          
          $('.ui.message').addClass('visible')
            .delay(3000)
            .queue(function() {
              $(this).removeClass('visible').dequeue();
          });
        }
        else {
          console.log(incomplete_activities)
          $('.ui.text.container').hide();
          var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'scrollToElement':true , 'doneLabel':'Done &#10003'});
            intro.setOptions({
              steps: [
                { 
                  intro: "<b>Now lets go over some Key Concepts.</b>"
                },
                { 
                  intro: "<b>Source</b>: the website, organization, or person the information comes from"
                },
                {
                  intro: "<b>Credible</b>: believable and trustworthy"
                },
                { 
                  intro: "<b>Fake news</b> : a news story that looks real but has been made up."
                },
                { 
                  intro: "<b>Clickbait</b>: an article that has a catchy headline to get people to click on it."
                }              
              ]
            });
            intro.start().onexit(function() {
            window.location.href='/tutorial/digital-literacy';
          });
        }          
      };

      //$(window).on("load", function() {startIntro();});

