extends ../ui_layout

block content

  .ui.text.container
    br
    .ui.raised.segment
      h3.ui.header
        i.bullhorn.icon
        .content
          | Welcome to the TestDrive social media site!
      hr
      h5 You're about to enter a social media site, but before you get started, we wanted to review a few key terms related to reading news on social media.
    .ui.blue.message.hidden 
          i.forward.blue.icon
          | Here are the four activities that we will be doing.

    .ui.tiny.four.steps.hidden(style="display:none !important;")
      .active.step
        i.book.icon
        .content
          .title Learn
          .description Learn key ideas
      .step
        i.edit.icon
        .content
          .title Practice
          .description Practice social media skills
      .step
        i.binoculars.icon
        .content
          .title Explore
          .description Explore the social media timeline
      .step
        i.question.icon
        .content
          .title Reflect
          .description Reflect on what you did
          
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!
    br
    br
    br
   
   
  block scripts
  script().
    function startIntro(){       
          window.location.href='/start/digital-literacy';
        };


    setTimeout(function(){
      $('.ui.blue.message').transition('fly down', '1500ms',function() {
        $('.steps').transition('fly down', '1500ms');
      }); 
    }, 1000);
  