extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
              |  It's important to know how to spot fake news on social media so you can stop it from spreading.
  
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | Look out for clickbait headlines, suspicious sources, and excessive grammatical errors.
        
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | Once you've done that, be sure to read the article more closely and check the source. You should also look for corroboration by finding other credible articles that have the same claims. 
        br
    
    br
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!

block scripts
  script().
    function startIntro(){
      window.location.href='/trans_script/digital-literacy';
    };
