extends ../ui_layout

block content

  .ui.text.container
    br
    
    h2.ui.header
      i.check.square.outline.green.icon
      .content Here are things you can do next to determine the credibility of an article.
        .sub.header 
          i.eye.icon 
          span Read and check all the boxes
    
    .ui.message.negative.transition.hidden
      i.close.icon
      .header
        | Read and select all boxes to proceed!
          
    .ui.styled.fluid.accordion
      #point1.title.active
        i.dropdown.icon
        | Read the article closely. Ask yourself: Does it make sense? Is it believable?
      .active.content.ui.list
          .item
            #protip1.ui.floated.compact.segment
              .ui.fitted.large.checkbox
                input.ui(type="checkbox" checked="")
            .label If the information in the article is surprising, even unbelievable, be suspicious that it might be fake news.

          .item
            #point1_button.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
      #point2.title
        i.dropdown.icon
        |     Analyze the source. Ask yourself: Does it come from a credible source?
      .content.ui.list
          .item
            #protip2.ui.floated.compact.segment
              .ui.fitted.large.checkbox
                input.ui(type="checkbox" id="")
            .label If the website is part of a credible news, academic (ends with ".edu"), or governmental (ends with ".gov") organization, this is a good sign the article is credible.

          .item
            #protip3.ui.floated.compact.segment
              .ui.fitted.large.checkbox
                input.ui(type="checkbox"  id="")
            .label You can also look at the "About Us" page to learn more about the website and who is writing the articles. It's also important to look beyond the "About Us" page to make sure it's a reliable source.
          .item
              #point2_button.button.ui.mini.green.right.labeled.icon.button
                i.down.arrow.icon
                |   Next
      #point3.title
        i.dropdown.icon
        |     Look for corroboration. Ask yourself: Do other credible sources say the same thing?
      .content.ui.list
          .item
            #protip4.ui.floated.compact.segment
              .ui.fitted.large.checkbox
                input.ui(type="checkbox")
            .label As a next step, you should look for additional credible sources or articles that confirm what the article says. This is called corroboration. 
          .item
            #protip5.ui.floated.compact.segment
              .ui.fitted.large.checkbox
                input.ui(type="checkbox")
            .label To do this, search for the same topic on fact-checking websites such as Snopes.com, FactCheck.org, and major news websites.
          .item
              #point3_button.button.ui.mini.green.right.labeled.icon.button
                i.down.arrow.icon
                |   Next          
    br
    br
    .ui.big.labeled.icon.button.cybersim
        i.rocket.icon
        |   Got it!
    br
    br
    br
block scripts
  script().
    $('.ui.accordion').accordion();   

    setTimeout(function(){
      $('.sub.header').transition('shake');    
    
    }, 1500);

    setTimeout(function(){
      $('#point1').transition('shake');    
    }, 2500);


    $('#point1_button').on('click', function () {
      if (($('#protip1 .checkbox input')[0].checked)){
        $('#point2').transition('shake');
        $('#point2').click();
      }
      else {
        $('.ui.message').addClass('visible')
        .delay(3000)
        .queue(function() {
          $(this).removeClass('visible').dequeue();
        });
      }
     });


    $('#point2_button').on('click', function () {
      if (($('#protip2 .checkbox input')[0].checked) && 
                          ($('#protip3 .checkbox input')[0].checked)){
        $('#point3').transition('shake');
        $('#point3').click();
      }
      else {
        $('.ui.message').addClass('visible')
        .delay(3000)
        .queue(function() {
          $(this).removeClass('visible').dequeue();
        });
      }
    });

    $('#point3_button').on('click', function () {
      if (($('input:checked').length) == 
          ($('input').length)){  
        $('.ui.big.labeled.icon.button.cybersim').addClass('green');
        $('.ui.big.green.labeled.icon.button.cybersim').transition('jiggle');
      }
      else {
        $('.ui.message').addClass('visible')
        .delay(3000)
        .queue(function() {
          $(this).removeClass('visible').dequeue();
        });
      }
    });

    //- $('.ui.big.labeled.icon.button.cybersim').on('click', function () {
    //-     $('.ui.message').addClass('visible')
    //-     .delay(3000)
    //-     .queue(function() {
    //-       $(this).removeClass('visible').dequeue();
    //-     });
    //- });    

    $("input").change(function(){
      if (($('input:checked').length) == 
            ($('input').length)){
        $('.ui.big.labeled.icon.button.cybersim').addClass('green');
        $('.ui.big.labeled.icon.button.cybersim').transition('jiggle');
      }
      else{
        $('.ui.big.labeled.icon.button.cybersim').removeClass('green');
      }
    });
   
    
    
