extends ../ui_layout

block content

  .ui.text.container
    br
    #learn.ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.right.arrow.icon
        .content
          | Social media is a great way to get news quickly and easily. Your friends may like or share articles that are interesting to you. 
      h5.ui.header
        i.right.arrow.icon
        .content
          | But you have to be careful! Sometimes people share articles on social media that look like accurate news but actually include false or untrustworthy information.

      #ideas_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    

    
    #key_ideas.ui.segment.hidden
      h3.ui.header
        //- i.key.blue.icon
        .content Key Ideas!
          .sub.header 
            i.hand.pointer.icon 
            span Click on each label below to learn more
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          #source.ui.raised.segment
            a.ui.blue.ribbon.label
                //- i.dollar.sign.icon 
                span Source
            span.hidden(id="source_info", style="font-weight:600") The website, organization, or person the information comes from.
        .ui.column
          #credible.ui.raised.segment
            a.ui.blue.ribbon.label
                //- i.magic.icon 
                span Credible
            span.hidden(id="credible_info",style="font-weight:600") Believable and trustworthy
        .ui.column
          #news.ui.raised.segment
            a.ui.blue.ribbon.label
                //- i.magic.icon 
                span Fake news
            span.hidden(id="news_info",style="font-weight:600") A news story that looks real but has been made up.
        .ui.column
          #clickbait.ui.raised.segment
            a.ui.blue.ribbon.label
                //- i.magic.icon 
                span Clickbait
            span.hidden(id="clickbait_info",style="font-weight:600") An article that has a catchy headline to get people to click on it.

    #question.ui.segment.hidden
      h3.ui.header
        i.question.circle.outline.blue.icon
        .content Why does fake news exist?
          .sub.header 
            i.hand.pointer.icon 
            span Click on each label below to learn more
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          #money.ui.raised.segment
            a.ui.blue.ribbon.label
                i.dollar.sign.icon 
                span Money
            span.hidden(id="money_info", style="font-weight:600") Each time someone clicks on a news article, the website makes more money. So, websites create news articles that draw people's attention. They don't care whether the information is true or not.
        .ui.column
          #influence.ui.raised.segment
            a.ui.blue.ribbon.label
                i.magic.icon 
                span Influence
            span.hidden(id="influence_info",style="font-weight:600") Other times, people write misleading articles to spread their beliefs, presenting their opinions as facts.            
      br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
      .ui.labeled.icon.button
          i.rocket.icon
          |   Got it!   
          

    .ui.message.negative.transition.hidden
        i.close.icon
        .header
          | Complete all activities to proceed!  


      

    br
    br
    br
block scripts
  script().
    var incomplete_activities = ($('#key_ideas').is(":hidden") ||  $('#influence_info').is(":hidden") || $('#money_info').is(":hidden"));
    
    $('#ideas_next').on('click', function () {      
      $('#key_ideas').show(); 
      $('#key_ideas').transition('jiggle');     
      if(!($('#key_ideas').is(":hidden") ||  $('#influence_info').is(":hidden") || $('#money_info').is(":hidden"))){
        $('.ui.labeled.icon.button').addClass('green');
      } 
    });

    $('#money>a').on('click', function () {      
        $('#money_info').show(); 
        $('#money').transition('tada');     
        if(!($('#influence_info').is(":hidden") || $('#money_info').is(":hidden"))){
          $('.ui.labeled.icon.button').addClass('green');
        }
    });

    $('#influence>a').on('click', function () {      
        $('#influence_info').show();      
        $('#influence').transition('tada');     
        if(!($('#influence_info').is(":hidden") || $('#money_info').is(":hidden"))){
          $('.ui.labeled.icon.button').addClass('green');
        }
    });

    $('#source>a').on('click', function () {      
        $('#source_info').show();      
        $('#source').transition('tada');     
        if(!($('#key_ideas').is(":hidden") ||  $('#credible_info').is(":hidden") || 
             $('#news_info').is(":hidden") ||  $('#news_info').is(":hidden") 
             ||  $('#clickbait_info').is(":hidden")))
        {
          $('.ui.labeled.icon.button').addClass('green');
        }
    });

    $('#credible>a').on('click', function () {      
        $('#credible_info').show();      
        $('#credible').transition('tada');     
        if(!($('#key_ideas').is(":hidden") ||  $('#credible_info').is(":hidden") || 
             $('#news_info').is(":hidden") ||  $('#news_info').is(":hidden") 
             ||  $('#clickbait_info').is(":hidden")))
        {
          $('.ui.labeled.icon.button').addClass('green');
        }
    });    

    $('#news>a').on('click', function () {      
        $('#news_info').show();      
        $('#news').transition('tada');     
        if(!($('#key_ideas').is(":hidden") ||  $('#credible_info').is(":hidden") || 
             $('#news_info').is(":hidden") ||  $('#news_info').is(":hidden") 
             ||  $('#clickbait_info').is(":hidden")))
        {
          $('.ui.labeled.icon.button').addClass('green');
        }
    });

    $('#clickbait>a').on('click', function () {      
        $('#clickbait_info').show();      
        $('#clickbait').transition('tada');     
        if(!($('#key_ideas').is(":hidden") ||  $('#credible_info').is(":hidden") || 
             $('#news_info').is(":hidden") ||  $('#news_info').is(":hidden") 
             ||  $('#clickbait_info').is(":hidden")))
        {
          $('.ui.labeled.icon.button').addClass('green');
        }
    });


    function startIntro(){

       if(($('.ui.raised.segment').is(":hidden") &&  $('#key_ideas').is(":hidden") &&  $('#question').is(":visible")))
        {          
            if(!($('#question').is(":hidden") ||  $('#influence_info').is(":hidden") || $('#money_info').is(":hidden")))
            {
              window.location.href='/tutorial/digital-literacy';
            }
            else{
            $('.ui.message').addClass('visible')
            .delay(3000)
            .queue(function() {
              $(this).removeClass('visible').dequeue();
          });
            }
        }

        else if(($('#key_ideas').is(":hidden") ||  $('#credible_info').is(":hidden") || 
             $('#news_info').is(":hidden") ||  $('#news_info').is(":hidden") 
             ||  $('#clickbait_info').is(":hidden")))
        {          
          $('.ui.message').addClass('visible')
            .delay(3000)
            .queue(function() {
              $(this).removeClass('visible').dequeue();
          });
        }

        else {
          console.log(incomplete_activities)
          $('#learn').hide();
          $('#key_ideas').hide(); 
          $('#question').show(); 
          $('.ui.labeled.icon.button').removeClass('green');

          //- var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'scrollToElement':true , 'doneLabel':'Done &#10003'});
          //-   intro.setOptions({
          //-     steps: [
          //-       { 
          //-         intro: "<b>Now lets go over some Key Concepts.</b>"
          //-       },
          //-       { 
          //-         intro: "<b>Source</b>: the website, organization, or person the information comes from"
          //-       },
          //-       {
          //-         intro: "<b>Credible</b>: believable and trustworthy"
          //-       },
          //-       { 
          //-         intro: "<b>Fake news</b>: a news story that looks real but has been made up."
          //-       },
          //-       { 
          //-         intro: "<b>Clickbait</b>: an article that has a catchy headline to get people to click on it."
          //-       }              
          //-     ]
          //-   });
          //-   intro.start().onexit(function() {
          //-   window.location.href='/tutorial/digital-literacy';
          //- });
        }          
      };

      //$(window).on("load", function() {startIntro();});
