extends ../ui_layout

block content

  .ui.text.container
    br
    .ui.raised.segment
      h3.ui.header
        i.bullhorn.blue.icon
        .content
          | Welcome to the TestDrive social media site!
      hr
      h5 You're about to enter a social media site.
      h5 Here are the four activities that we will be doing.
    //- .ui.blue.message.hidden 
    //-       i.forward.blue.icon
    //-       | Here are the four activities that we will be doing.

    .ui.tiny.four.steps
      .step.glowing-box(data-color="#FCF6BD",style="background-color: #FCF6BD !important;")
        i.book.icon
        .content
          .title Learn
          .description(style="background-color: #FCF6BD !important;") Learn key ideas
      .step.glowing-box(data-color="#D0F4DE",style="background-color:  #D0F4DE !important;") 
        i.edit.icon
        .blue.content
          .title Practice
          .description( style="background-color: #D0F4DE !important;") Practice social media skills
      .step.glowing-box(data-color="#A9DEF9", style="background-color:  #A9DEF9 !important") 
        i.binoculars.icon
        .content
          .title Explore
          .description(style="background-color: #A9DEF9 !important")  Explore the social media timeline
      .step.glowing-box(data-color="#E4C1F9",style="background-color: #E4C1F9 !important;") 
        i.question.icon
        .content
          .title Reflect
          .description(style="background-color:#E4C1F9 !important;")  Reflect on what you did
          
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!
    br
    br
    br
   
   
  block scripts
  script().
    function startIntro(){       
          window.location.href='/start/digital-literacy';
        };


    //- setTimeout(function(){
    //-   $('.ui.message').transition('fly down', '1500ms',function() {
    //-     $('.steps').transition('fly down', '1500ms');
    //-   }); 
    //- }, 1000);
  