#blackmail.hidden
    .ui.container#blackmail-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.middle.aligned.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.list.icon
                            | Pressure Tactics        
                    h2(style="margin-top: 0;") Blackmail: 
                    p Scammers might threaten to expose your relationship or the intimate details you shared with them if you refuse unless you do what they want. These threats are designed to create fear and anxiety, compelling you to comply with their demands to avoid the consequences. 
                    p It's crucial to never share intimate details or images, such as nude photographs, with strangers online. Once scammers have this material, they can use it to coerce you into giving them money or other favors under the threat of exposure.

                .six.wide.computer.ten.wide.tablet.centered.column
                    img.ui.image(src='/images/romance/blackmail.png' style='margin-left: auto; margin-right: auto')
                //- i.source *Sources: 1. Anatomy of the Online Dating Scam,  Springer Link, 
                //-     a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') 'https://link.springer.com/article/10.1057/sj.2012.57' 
