#callout.hidden
    .ui.container#disclaimer-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                //- .content
                //-     i.book.icon
                //-     | Reporting Tax Identity Theft
                //- br
                .into-container 
                    p Scammers use many tricks to fool you. While some may initially bring joy, their ultimate goal is to get money from you. If they can't get money, they might stop talking to you or even use personal information you shared to cause problems.
                    h3(style="margin-top: -10px; margin-bottom: -20px;") Two Fundamental Rules
                    ol 
                        li A genuine person won't ask for money from you before meeting in person!
                        li A genuine person won't ask for an investment before meeting in person!


                        //- li Never sending money or making investments with someone you haven't met in person.
                        //- li Never share personal information with someone you haven't met in person.
                .avatar-container(style="text-align: center; margin-top: -30px;")
                    img#dart_image1.ui.small.image(src=user.avatarImg style="text-align: center; display: block; margin: 0 auto;")
