#emotional.hidden
    .ui.container#emotional-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.middle.aligned.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.list.icon
                            | Pressure Tactics        
                    h2(style="margin-top: 0;") Emotional Manipulation: 
                    p To add a sense of urgency to their requests, scammers often use specific words and phrases like “please” or “quickly help me.” They may also threaten to harm themselves or others. This tactic is designed to make you feel under pressure, pushing you to act swiftly, often leading to decisions without proper consideration, such as sending money immediately.
                    p Additionally, scammers will often use guilt to their advantage. They may send gifts or do small favors, creating a scenario where you feel indebted. This leads you to believe you need to reciprocate their generosity. In doing so, they further manipulate your emotions for their benefit.

                .six.wide.computer.ten.wide.tablet.centered.column
                    img.ui.image(src='/images/romance/emotional_manipulation.png' style='margin-left: auto; margin-right: auto')
                //- i.source *Sources: 1. Anatomy of the Online Dating Scam,  Springer Link, 
                //-     a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') 'https://link.springer.com/article/10.1057/sj.2012.57' 
