#emotional.hidden
    .ui.container#emotional-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.middle.aligned.column
                    //- h1.ui.header.large#learn-title
                    //-     .content 
                    //-         i.book.icon
                    //-         | Emotional Manipulation      
                    h2(style="margin-top: 0;") Emotional Manipulation: 
                    strong Make you feel pressure to act fast
                    p Scammers often use words and phrases such as “please,” “quickly help me” to convey urgency in their request, often leading you to feel pressure and send money as soon as they can.
                    strong Make you feel guilty and the need to return the favor
                    p In stage 2, some scammers may provide things for you, such as flowers, which may make you feel the need to do something in return.
                    strong Make you feel the need to listen to authority 
                    p Scammers often lie about being in a situation where a figure of authority is threatening them to give them money that they don’t have. Scammers may also pretend themselves to be a figure of authority. 
                    strong Make you feel the need to continue sending money after the first time 
                    p Scammers will often ask for small amounts of money initially, and then increase their requests.


                    //- p To add a sense of urgency to their requests, scammers often use specific words and phrases like “please” or “quickly help me.” They may also threaten to harm themselves or others. This tactic is designed to make you feel under pressure, pushing you to act swiftly, often leading to decisions without proper consideration, such as sending money immediately.
                    //- p Additionally, scammers will often use guilt to their advantage. They may send gifts or do small favors, creating a scenario where you feel indebted. This leads you to believe you need to reciprocate their generosity. In doing so, they further manipulate your emotions for their benefit.

                .six.wide.computer.ten.wide.tablet.centered.middle.aligned.column
                    img.ui.image(src=`${public_resources}/images/modules/romance/emotional_manipulation.png` style='margin-left: auto; margin-right: auto' alt="hurtful words")
                //- i.source *Sources: 1. Anatomy of the Online Dating Scam,  Springer Link, 
                //-     a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') 'https://link.springer.com/article/10.1057/sj.2012.57' 
