#examples.hidden
    .ui.container#types-read(style="width: 97%;")
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Request Examples
            //- p(style="margin-top: -15px;") When engaging with strangers online, be cautious of these warning signs:
            .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-bottom: 10px; margin-top: -5px;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click each card to learn more
            .ui.three.column.stackable.grid#warning-cards
                .column 
                    .ui.shape
                        .sides
                            .side.active
                                .ui.raised.card.click-me-glow.front
                                    .content
                                        h4.ui.centered.header Money / Gift Card
                                    .content
                                        .ios-chat-container
                                            .chat
                                                .yours.messages
                                                    .message.last
                                                        | I really love hiking too!
                                                .mine.messages
                                                    .message.last
                                                        |  Great, want to go on a hike this weekend?
                                                .yours.messages
                                                    .message.last
                                                        | Sure! Just need to pick up some new gear first. Mind sending a $25 gift card for Nike? It would help a lot.
                                                        //- | It's been great chatting with you on here, but I find this app a bit clunky and slow. 😕 Do you use WhatsApp? It's so much smoother and we can chat anytime without any hassle. Plus, we can share photos and videos. What's your number? I'll add you right away!

                            .side
                                .ui.raised.card.back
                                    .content
                                        h4.ui.centered.header Money / Gift Card
                                    .content
                                        p This scammer attempted to request a small sum of money initially to gauge the victim's reaction and adjust their next steps accordingly.

                                            //- b Scammers Swiftly Shift to Other Messaging Tools
                                            //- | Scammers often suggest switching to other messaging platforms shortly after making contact. This tactic helps them avoid detection by the site's moderation team.
                                            //- p In order to not be traced, Romance Scammers usually want to move quickly from well-known social networking or dating sites to other methods, usually texting.
                .column 
                    .ui.shape
                        .sides
                            .side.active
                                .ui.raised.card.click-me-glow.front
                                    .content
                                        h4.ui.centered.header Investment

                                    .content
                                        .ios-chat-container
                                            .chat
                                                .yours.messages
                                                    .message.last
                                                        | You mentioned needing money for your mom's surgery. I feel like you should start investing!
                                                .mine.messages
                                                    .message.last
                                                        | Maybe I should try it. We really need the money.
                                                .yours.messages
                                                    .message.last
                                                        | Great, let me help you set up an account.
                            .side
                                .ui.raised.card.back
                                    .content
                                        h4.ui.centered.header Investment
                                    .content
                                        p 
                                            | Here, the scammer uses intimate details of the person’s life in order to increase the likelihood that they will fall victim to their investment scam.
                .column 
                    .ui.shape
                        .sides
                            .side.active
                                .ui.raised.card.click-me-glow.front
                                    .content
                                        h4.ui.centered.header Money Mule 

                                    .content
                                        .ios-chat-container
                                            .chat
                                                .yours.messages
                                                    .message.last
                                                        | I love the movie you recommended! By the way, did the money arrive yet?
                                                .mine.messages
                                                    .message.last
                                                        | Yep, I got the $500. What's next?
                                                .yours.messages
                                                    .message.last
                                                        | Can you send it to this account for me?

                            .side
                                .ui.raised.card.back
                                    .content
                                        h4.ui.centered.header Money Mule 
                                    .content
                                        p 
                                            | While these types of favors may seem harmless, you may be helping them launder money, which could result in you being charged with a crime.

