#pressure.hidden
    .ui.container#pressure-read(style="width: 80%;")
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            | Pressure Tactics        

                    ol 
                        li 
                            strong Fake Sob Story: 
                            | Before making a request scammers will often tell a sob story. They might fabricate tales of a family member's severe illness or an accident involving their child to invoke sympathy. The narrative often escalates to claims of danger or injury, necessitating urgent financial assistance to deal with supposed authorities or medical bills. The objective of these fabricated stories is to elicit sympathy and portray their situation as urgent, compelling you to act swiftly and without hesitation.
                        li
                            strong Delayed Request: 
                            | Scammers often wait a bit into a relationship before they ask for money or share a sad story. They do this to make you feel like it is your obligation as their partner or friend to help them when they claim to be in trouble.
                        li
                            strong Emotional Manipulation: 
                            | To add a sense of urgency to their requests, scammers often use specific words and phrases like “please” or “quickly help me.” This tactic is designed to make you feel under pressure, pushing you to act swiftly, often leading to decisions without proper consideration, such as sending money immediately. Additionally, scammers might use guilt to their advantage. By sending gifts or doing small favors, they create a scenario where you might feel indebted, believing you need to reciprocate their generosity, further manipulating your emotions to their benefit.
                    //- donesn't have dots next to the numbers
                    //-  .ui.ordered.list 
                    //-     .item 
                    //-         strong Create fake profiles: 
                    //-         | Create alluring fake profiles on dating or social networking sites, designed to draw you in.
                    //-     .item 
                    //-         strong Contact and groom: 
                    //-         | Invest time in developing a seemingly genuine bond with you, which can take the form of a romantic relationship or friendship
                    //-     .item 
                    //-         strong Make a request: 
                    //-         | After gaining your trust, they fabricate an emergency, requesting money or a favor. Unknowingly, this could entangle you in illegal activities.



                .six.wide.column.middle.aligned
                    img.ui.image(src='/images/romance/romance-concepts-phases.jpg' style='margin-left: auto; margin-right: auto')
                i.source *Sources: 1. Anatomy of the Online Dating Scam,  Springer Link, 
                    a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') 'https://link.springer.com/article/10.1057/sj.2012.57' 
