#pressure.hidden
    .ui.container#pressure-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                h1.ui.header.large#learn-title
                    .content 
                        i.list.icon
                        | Pressure Tactics        
                p Scammers employ various tactics to pressure their victims into fulfilling their requests of sending money or doing favors. Understanding these tactics can help you recognize and avoid potential scams:
                h2(style="margin-top: 0;") Delayed Request:
                p Scammers often 
                    strong wait a bit 
                    | into a relationship before they ask for money or share a sad story! Scammers use this technique to make you feel like it is your obligation as their partner or friend to help them when they claim to be in trouble.
                //- p Scammers often wait a bit into a relationship before they make a request. By the time they ask for something, they have already established strong emotional investment and trust in the relationship. They can then exploit this emotional bond, making you feel like it is your obligation as their loyal partner or friend to help them when they claim to be in trouble.
                img.ui.medium.image(src=`${public_resources}/images/modules/romance/delayed.svg` style='margin-left: auto; margin-right: auto' alt="calendar")
