#reflection.hidden
    .ui.container#reflection-read(style="width: 90%;")
        .ui.stackable.middle.aligned.grid
            .column.nine.wide.computer.only.sixteen.wide.tablet.only
                h1.ui.header.large#learn-title
                    .content
                        i.lightbulb.icon
                        | Reflect

                p Take a moment to think about the following:
                .ui.bulleted.list
                    //- .item(style="font-size: 1.5rem; font-weight: 700; line-height: 1.65rem; margin-bottom: 10px") In your everyday life, how trusting of others are you? How trusting do you think you should be when meeting people online?
                    .item(style="font-size: 1.5rem; font-weight: 700; line-height: 1.65rem; margin-bottom: 10px") Can you recall a time when a stranger asked you for a favor in real life? Share that story, focusing on why you decided to trust them and what the outcome was. Considering what you've learned about online scams, how trusting will you be of similar requests from strangers you meet online?
                    .item(style="font-size: 1.5rem; font-weight: 700; line-height: 1.65rem;") How can you maintain your decision-making abilities under the pressure of urgent or threatening requests from someone you've met online?
                .ui.centered.grid
                    img.ui.small.image(src=`${public_resources}/images/shared_sources/reflection.svg` alt="image of head")

            .column.seven.wide.computer.only.sixteen.wide.tablet.only
                //- button.ui.big.blue.button(onclick="toggleReflection()") Journal thoughts
                .type-here
                    .ui.form
                        .ui.fluid.left.corner.labeled.input(style="font-size: 1.25rem;")
                            .ui.left.corner.label(style="font-size: 1rem;")
                                i.pencil.alternate.icon
                            textarea(placeholder="Type your thoughts here. What you input will not be saved or shared with anyone.")

                //- img.ui.image(src=`${public_resources}/images/shared_sources/reflection.svg`)
