#types.hidden
    .ui.container#types-read
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Common Requests

            .ui.icon.mini.message(style="padding: 5px; margin-top:-5px; margin-bottom: -10px; z-index: 99;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click the arrows to learn more.
            .ui.stackable.middle.aligned.grid#double-slider(style="margin-top: -20px;")
                .column.six.wide.computer.only.sixteen.wide.tablet.only
                    #image-slider(style="margin: 0 auto;")
                        img(src='/images/romance/romance-concepts-types-1.png' alt='Gift Card Request')
                        img(src='/images/romance/romance-concepts-types-2.png' alt='Investment / Cryptocurrency')
                        img(src='/images/romance/romance-concepts-types-3.png' alt='Money Mule' style="max-height: 300px;  width: auto;")
                        //- img(src='/images/romance/romance-concepts-types-4.png' alt='Catfishing' style="height: 300px;  width: auto;")
                
                .column.ten.wide.computer.only.sixteen.wide.tablet.only
                    #steps-slider
                        //- Card 1
                        .ui.basic.card
                            .content
                                h2 Money/Gift Card Request
                                p Scammers create fake stories to ask you to send them money for emergencies, such as medical bills, car payments, rent, or plane tickets.  
                                p  They commonly request money via gift cards, convincing victims to buy them and share the codes. This method leaves little trace and makes fund recovery nearly impossible.
                                //- p Scammers request money, claiming they need it for emergency expenses, to fund travel to meet in person, or as a simple favor to prove love or friendship. They commonly request money via gift cards, convincing victims to buy them and share the codes. Alternatively, they might ask for funds to be transferred directly from your bank account through peer-to-peer payment services such as Zelle, Venmo, Cash App, or PayPal, specifically requesting the use of the "send to friends and family" option. They present this as a quick and simple way to send money. However, these methods leave little trace and make fund recovery nearly impossible.

                                //- h2 Money
                                //- p Scammers request money, claiming they need it for emergency expenses, to fund travel to meet in person, or as a simple favor to prove love or friendship. They commonly request money via gift cards, convincing victims to buy them and share the codes. Alternatively, they might ask for funds to be transferred directly from your bank account through peer-to-peer payment services such as Zelle, Venmo, Cash App, or PayPal, specifically requesting the use of the "send to friends and family" option. They present this as a quick and simple way to send money. However, these methods leave little trace and make fund recovery nearly impossible.
                                
                                //-  or peer-to-peer payment services. Victims are persuaded to buy gift cards and share the codes or to transfer funds directly using platforms like Zelle, Venmo, Cash App, or PayPal (using the "send to friends and family" option). They pitch it as a quick and simple way to send money, however, these methods leave little trace and makes fund recovery nearly impossible.


                                //- p Scammers request money claiming they need it for emergency expenses, to fund travel to meet in person, or as a simple favor to prove love or friendship. They often ask for this money to be sent through gift cards or peer-to-peer payment services. Victims are persuaded to buy gift cards and share the codes or to transfer funds directly using platforms like Zelle, Venmo, Cash App, or PayPal (using the "send to friends and family" option). They pitch it as a quick and simple way to send money, however, these methods leave little trace and makes fund recovery nearly impossible.
                                
                                //- They convince victims to buy these cards and share the codes, pitching it as a quick and simple way to send money.  This method leaves little trace and makes fund recovery nearly impossible.

                                //- p Scammers request money under various pretenses such as claiming they need it for emergency expenses, to fund travel to meet in person, or as a simple favor to prove love or friendship. They convince victims to buy these cards and share the codes, pitching it as a quick and simple way to send money.  This method leaves little trace and makes fund recovery nearly impossible.
                        //- .ui.basic.card
                        //-     .content
                        //-         h2 Peer-to-Peer (P2P) Payment
                        //-         p Scammers request gift cards, claiming they need them for emergency expenses, to fund travel to meet in person, or as a simple favor to prove love or friendship. They convince victims to buy these cards and share the codes, pitching it as a quick and simple way to send money.  This method leaves little trace and makes fund recovery nearly impossible.
                        //- Card 2 
                        .ui.basic.card
                            .content
                                h2 Investment / Cryptocurrency
                                p Instead of asking you for money, a scammer might offer to help you make money. Once the scammer feels you trust them, they will offer investment advice, often involving cryptocurrency. The scammers may have you open a cryptocurrency account and then provide you with a link to deposit your funds. This account will show high levels of returns to encourage you to deposit even more money. However, once you try to withdraw your money, you will be asked to either pay a hefty tax bill or the site will shut down, taking your money with it. 


                                //- h2 Investment
                                //- p Instead of asking you for money, a scammer might offer to help you make money. They will offer investment advice, often involving cryptocurrency, a type of digital money. Well-known examples of cryptocurrencies include Bitcoin and Ether. The scammers may have you open a cryptocurrency account and then provide you with a link to deposit your funds. This account will show high levels of returns to encourage you to deposit even more money. However, once you try to withdraw your money, you will be asked to either pay a hefty tax bill or the site will shut down, taking your money with it.
 
                        //- Card 3
                        .ui.basic.card
                            .content
                                h2 Money Mule
                                p “Money Mule” Romance Scams involve scammers asking you to move money for them. 
                                p After building a relationship, the scammer will ask you to do them a favor: They will send you money to purchase gift cards or cryptocurrency, then ask you to open a bank account or send/receive packages. 
                                i.source [4] Money Mules,  FBI, 
                                    a(href='https://www.fbi.gov/how-we-can-help-you/scams-and-safety/common-scams-and-crimes/money-mules' target='_blank') 'https://www.fbi.gov/how-we-can-help-you/scams-and-safety/common-scams-and-crimes/money-mules' 
            

                                //- p Scammers manipulate you into moving illegal money, in a scheme reminiscent of how a mule carries heavy loads. After building a relationship, they will ask you to do them a favor. They will send you money to purchase gift cards or cryptocurrency, then ask you to open a bank account or to send/receive packages. While these may seem like innocent favors, you are actually helping them launder money which could result in you being charged with a crime. 

                        //- Card 3
                        //- .ui.basic.card
                        //-     .content
                        //-         h2 Catfishing
                        //-         p Scammers use a fake online profile to trick you into believing they are someone else. By presenting themselves as an ideal partner, scammers can manipulate emotions and gain trust, making it easier to exploit victims for financial or emotional gain. The aim is to create a compelling but entirely fictional identity to attract victims, playing on their desires and vulnerabilities.
 
