#badge.hidden
    .ui.container#badge-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            | Congratulations!
                    #text
                        p You've completed the Challenge and earned a bronze badge!  
                        p You have an Romance and Friendship Scam Resilience score of 
                            span#resil-score 
                            |  out of 100.
                        p To build your resilience and earn more badges, continue to the next section.    
                .six.wide.center.aligned.column
                    img.ui.small.centered.image#earned_badge(src='/badges/romance/challenge.svg' onmouseenter="animateBadge()" style="margin-bottom: -10px; width: 125px;")
                    h3 <strong>Challenge</strong>
                        br
                        | <strong>Conqueror</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")



