#activity.hidden
    .ui.container#activity-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            | Activity
                    p Identity thieves try to steal your information so they can impersonate you.
                .six.wide.column.middle.aligned
                    img.ui.image(src='/images/learn-2.png' style='margin-left: auto; margin-right: auto')