#definitions.hidden
    .ui.container#definitions-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.middle.aligned.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        | Identity Theft Basics

                    p Identity Theft occurs when someone uses your 
                        strong personal information without your permission.
                    p For instance, they might take your name, social security number, or credit card details. 
                    p This information enables them to do things like make purchases, open new accounts, or commit crimes.

                    //- p <u>Identity Theft</u> is when your personal information is stolen and used against you.
                    //- p <u>Personal Information</u> Information that can be used to distinguish or trace an individual’s identity, either alone or when combined with other information that is linked or linkable to a specific individual.
                    //- p Here are some specific examples of personal information:
                    //- .ui.bulleted.list 
                    //-     .item 
                    //-         strong Descriptors: 
                    //-         | full name, maiden name, alias, gender, race, date of birth
                    //-     .item 
                    //-         strong Identification numbers: 
                    //-         | social security number (SSN), passport number, driver’s license number, taxpayer identification number, patient identification number, financial account number, medicare number, or credit card number
                    //-     .item 
                    //-         strong Address information:
                    //-         |  street address or email address
                    //-     .item 
                    //-         strong Account information 
                    //-         | bank account, social media account, shopping platform account, and the corresponding passwords
                    //-     .item 
                    //-         strong Phone numbers: 
                    //-         | full name, maiden name, alias, gender, race, date of birth
        
                .six.wide.column.middle.aligned
                    .polaroid 
                        img.ui.image(src='/images/johnsons-suprised.png')
                        //- p(style="text-align: center; font-size: 1rem;") When Mr. Johnson shared his personal information over the phone, it led to unauthorized charges by scammers.
                        //- p Mr. Johnson sharing his personal info over the phone let scammers make unauthorized charges.
                        p Mr. Johnson sharing his personal info over the phone allowed scammers to make unauthorized charges.
