#personal-info.hidden
    .ui.container#personal-info-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .column.ten.wide.computer.only.sixteen.wide.tablet.only.mobile.only
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            span#narrate-title-personal-info Personal Information
                    p#narrate-1-personal-info 
                        span “Information that can be used to distinguish or trace an individual’s identity, either alone or when combined with other information that is linked or linkable to a specific individual.”
                        a(href='https://csrc.nist.gov/glossary/term/personal_information' target='_blank')
                            sup [1]
                    p#narrate-2-personal-info  
                        span Here are some specific examples of personal information:
                        a(href='https://www.technology.pitt.edu/help-desk/how-to-documents/guide-identifying-personally-identifiable-information-pii' target='_blank')
                            sup [2]               

                    .ui.bulleted.list 
                        .item#narrate-3-personal-info   
                            span(style="font-weight: bold") Personal Descriptors: 
                            span#narrate-4-personal-info
                                span full name, maiden name, alias, gender, race, date of birth
                        .item#narrate-5-personal-info
                            span(style="font-weight: bold") Personal identification numbers: 
                            span#narrate-6-personal-info
                                span social security number (SSN), passport number, driver’s license number, taxpayer identification number, patient identification number, financial account number, medicare number, or credit card number
                        .item#narrate-7-personal-info 
                            span(style="font-weight: bold") Personal address information: 
                            span#narrate-8-personal-info
                                span street address or email address
                        //- .item 
                        //-     span Personal account information:
                        //-     |  bank account, social media account, shopping platform account, and the corresponding passwords
                        .item#narrate-9-personal-info 
                            span(style="font-weight: bold") Personal telephone numbers


                    //- p Identity thieves try to steal your information so they can impersonate you. The more pieces of info they can get about you, the more likely they'll be able to imitate you and commit fraud. They target these details, among others:
                    //- .ui.bulleted.list 
                    //-     .item 
                    //-         strong Descriptors: 
                    //-         | full name, maiden name, alias, gender, race, date of birth
                    //-     .item 
                    //-         strong Identification numbers: 
                    //-         | social security (SSN), taxpayer (TIN), patient, passport, driver’s license, medicare
                    //-     .item 
                    //-         strong Account information: 
                    //-         | bank, credit card, social media, entertainment
                    //-     .item 
                    //-         strong Address information:
                    //-         |  street address or email address
                    //-     .item 
                    //-         strong Phone numbers
                .column.six.wide.computer.only
                    img.ui.large.image(src=`${public_resources}/images/modules/identity/personal-gov-docs.png` alt="image description" style='margin-left: auto; margin-right: auto')
                .column.sixteen.wide.tablet.only.mobile.only
                    img.ui.medium.image(src=`${public_resources}/images/modules/identity/personal-gov-docs.png` alt="image description" style='margin-left: auto; margin-right: auto')

                i.source *Sources: 1. National Institute of Standards and Technology 
                    a(href='https://csrc.nist.gov/glossary/term/personal_information' target='_blank') 'Personal Information' 
                    br
                    | 2. University of Pittsburgh 
                    a(href='https://www.technology.pitt.edu/help-desk/how-to-documents/guide-identifying-personally-identifiable-information-pii' target='_blank') 'Guide to Identifying Personally Identifiable Information (PII)' 
