#personal-info.hidden
    .ui.container#personal-info-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            | Personal Information
                    p Identity thieves try to steal your information so they can impersonate you. The more pieces of info they can get about you, the more likely they'll be able to imitate you and commit fraud. They target these details, among others:
                    //- p Individual details may not directly point to you, but when linked, they can reveal who you are.
                    

                    //-  Single details may not directly pinpoint you, but when linked, can be used to reveal your identity.

                    //- p Scammers try to steal information that helps them impersonate you. Some details alone might not directly identify you. But when linked together, they piece together to reveal your identity. Scammers target the following details, among others: 

                    //- p Scammers try to steal information that helps them impersonate you. Each piece of info they get about you can be linked. Scammers target the following details, among others: 
                    //- p Scammers try to steal information that helps them impersonate you. Some details, like addresses or phone numbers, might not directly tell who you are on their own. But when combined with other info they can be linked together to piece your identity. Scammers target the following details, among others: 

                    //- p Scammers try to steal information that helps them impersonate you. Some details might not directly tell who you are on their own. But when combined with other available information, could be used to identify an individual. They target the following details, among others: 
                    .ui.bulleted.list 
                        .item 
                            strong Descriptors: 
                            | full name, maiden name, alias, gender, race, date of birth
                        .item 
                            strong Identification numbers: 
                            | social security (SSN), taxpayer (TIN), patient, passport, driver’s license, medicare, financial account, credit card
                        .item 
                            strong Account information: 
                            | bank, shopping, social media, entertainment
                        .item 
                            strong Address information:
                            |  street address or email address
                        .item 
                            strong Phone numbers

                .six.wide.column.middle.aligned
                    img.ui.image(src='/images/learn-2.png' style='margin-left: auto; margin-right: auto')