#reflection.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.middle.aligned.grid
                .column.eleven.wide.computer.only.sixteen.wide.tablet.only
                    h1.ui.header.large#learn-title
                        .content
                            i.lightbulb.icon
                            | Reflect

                    p Take a moment to think about the following:
                    .ui.bulleted.list
                        .item Can you recall a moment when you shared information about yourself that you later regretted? If so, what happened?
                        .item How comfortable are you sharing information with strangers, and what level of trust do you think is appropriate when responding to requests from unfamiliar individuals?
                        .item How much personal information do you currently share online?
                        //- .item Do you often stop and think about the value of the personal information you're about to share online?

                .column.five.wide.computer.only.sixteen.wide.tablet.only
                    img.ui.image(src='/images/reflection.svg')
