#takeaways.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.middle.aligned.grid
                .column.eleven.wide.computer.only.sixteen.wide.tablet.only
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Congragulations

                    p Takeaways
                .column.five.wide.computer.only.sixteen.wide.tablet.only
                    p Mr. Johnson sharing his personal info over the phone allowed scammers to make unauthorized charges.
