#activity.hidden
    .ui.container#know-you-read(style='width: 100%;')
        .limit(style='padding: 0;')
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-types Why Drugs and Dietary Supplements Are Targets
                .row
                    .sixteen.wide.column
                        .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px;")
                            i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                            .content
                                p Click each card to learn more.

        .ui.five.column.stackable.grid#warning-cards
            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front
                                .content
                                    h4.ui.centered.header Regulatory loopholes
                        .side
                            .ui.raised.card.back
                                .content
                                    h4.ui.centered.header Regulatory loopholes
                                .content
                                    p While prescription drugs are heavily regulated, dietary supplements face less stringent oversight, creating opportunities for fraudulent products.
            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front
                                .content
                                    h4.ui.centered.header Complexity 


                        .side
                            .ui.raised.card.back
                                .content
                                    h4.ui.centered.header Complexity 
                                .content
                                    p The effects of drugs and supplements can be complex and not immediately apparent, making it easier for scammers to make false claims.
            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front
                                .content
                                    h4.ui.centered.header Online sales

                        .side
                            .ui.raised.card.back
                                .content
                                    h4.ui.centered.header Online sales 
                                .content
                                    p The rise of e-commerce has made it easier to sell fraudulent products directly to consumers, bypassing traditional safeguards.

            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front
                                .content
                                    h4.ui.centered.header Urgency and Vulnerability


                        .side
                            .ui.raised.card.back
                                .content
                                    h4.ui.centered.header Urgency and Vulnerability 
                                .content
                                    p Individuals with serious or chronic illnesses may be desperate for treatment, making them more susceptible to scams promising quick or miraculous cures.
            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front
                                .content
                                    h4.ui.centered.header High demand

                        .side
                            .ui.raised.card.back
                                .content
                                    h4.ui.centered.header High demand
                                .content
                                    p There is a constant demand for remedies to treat medical conditions or improve health and wellness. Also, the increasing focus on health and wellness encourages people to buy supplements to improve various aspects of their health. The demand creates a lucrative market for scammers.  
            