#definitions.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-definitions What are Grandparent Scams?
                    p
                        span#narrate-1-definitions  
                            span In a grandparent scam, a scammer pretends to be a target’s grandchild, other loved one, or someone calling on behalf of the grandchild or loved one, such as a lawyer. 
                        span#narrate-2-definitions  
                            span The scammers will claim that the grandchild is in an emergency situation, such as an accident, and needs money urgently.

                        //- Reflecting on the severe impact these scams have had, Michael Delaney, a Chicago-based lawyer who specializes in elder law, said:
                    i.source [1] The Grandparent Scam. FBI. 
                        a(href='https://www.fbi.gov/news/stories/the-grandparent-scam' target='_blank')  https://www.fbi.gov/news/stories/the-grandparent-scam 

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src=public_resources+'/images/modules/grandparent/private-caller.png' style='margin-left: auto; margin-right: auto')
