#definitions.hidden
    .ui.container#financial-read
        .limit(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-definitions What are Medication Scams?
                    p
                        span#narrate-1-definitions  
                            span Medication scams are when a company or individual markets medication products with false or misleading claims about the products’ ability to cure, treat, or prevent diseases or conditions [1].
                    p
                        span#narrate-2-definitions  
                            span Scammers will make a variety of claims about their products concerning serious conditions with phrases like “miraculous cure”, “scientific breakthrough”, or “secret ingredient” to elicit a false sense of hope.

                        //- Reflecting on the severe impact these scams have had, Michael Delaney, a Chicago-based lawyer who specializes in elder law, said:
                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src=public_resources+'/images/modules/medication/medication_ads.svg' style='margin-left: auto; margin-right: auto')
