#dietary.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-dietary Regulation of Dietary Supplements
                    p
                        span#narrate-1-dietary  
                            span The FDA classifies dietary supplements as foods, so they face different rules than drugs [13]. 
                    p
                        b#narrate-2-dietary   
                            span Under existing law, the FDA does NOT have the authority to approve dietary supplements for any purpose before they are sold to the public.
                        ul
                            li#narrate-3-dietary   
                                span Scammers will make a variety of claims about their products concerning serious conditions with phrases like “miraculous cure”, “scientific breakthrough”, or “secret ingredient” to elicit a false sense of hope.
    
                    .callout
                        .dark-blue-square
                            img(src=user.avatarImg, alt='avatar picture')
                        .light-blue-content
                            h3.call-header#narrate-4-dietary   
                                span Important
                            p#narrate-5-dietary   
                                span Dietary supplements are NOT intended to diagnose, cure, mitigate, treat, or prevent diseases. Only drugs can legally make such claims.
                
                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src=public_resources+'/images/shared_sources/filler.png' style='margin-left: auto; margin-right: auto')
