#drugs.hidden 
    .ui.container#financial-read
        .limit(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-drugs Regulation of Drugs
                    p
                        b#narrate-1-drugs  
                            span Prescription drugs 
                        span#narrate-2-drugs   
                            span must receive Food and Drug Administration (FDA) approval before they can be sold to the public [4]. 
                    p
                        b#narrate-3-drugs  
                            span Over-the-counter (OTC) drugs 
                        span#narrate-4-drugs  
                            span are regulated through the OTC monograph or the drug application process [11]. 
                        ul
                            li#narrate-5-drugs  
                                span Unverified claims from supposed doctors and scientists.
                            li#narrate-6-drugs
                                span Fake testimonials from alleged past buyers.


                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.small.image(src=public_resources+'/images/modules/medication/concepts_prescription-drugs.svg')
                    img.ui.small.image(src=public_resources+'/images/modules/medication/concepts_otc-drugs.svg')