#intro-video.hidden
    .ui.container#raised-container.center-layout
        .limit
            #intro-video-read
                h1.ui.header.large#learn-title
                    .content
                        i.video.icon
                        span#narrate-title-intro-video Showcase of a Medication Scam
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p#narrate-2-intro-video 
                            span Click the image to start the video
            br
            #video-container
                video-js#my_video_1.video-js.vjs-default-skin.vjs-show-big-play-button-on-pause(width='640px' height='360px' controls='' preload='none' 
                data-setup=`{ "poster": "${public_resources}/videos/health_fraud_scam.png", "aspectRatio":"16:9", "playbackRates": [0.5, 0.75, 1, 1.5, 2] }`)
                    source(src=`${public_resources}/videos/health_fraud_scam.mp4` type='video/mp4')
            br
            i.source [4] Health Fraud Scams – Be Smart, Be Aware, Be careful. U.S. Food & Drug Administration ( FDA). 
            br
            a(href='https://www.youtube.com/watch?v=KsPlwKbGxE8' target='_blank')  https://www.youtube.com/watch?v=KsPlwKbGxE8
