#intro-video.hidden
    .ui.container#raised-container.center-layout
        .limit
            #intro-video-read
                h1.ui.header.large#learn-title
                    .content#narrate-1-intro-video
                        i.video.icon
                        span Showcase of a Medication Scam

            br
            //- iframe(width="100%", height="400", src="https://www.youtube.com/embed/KsPlwKbGxE8", title="Health Fraud Scams -- Be Smart, Be Aware, Be Careful Video", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)


