#supplements.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-supplements Drugs and Dietary Supplements
            .ui.stackable.grid(style="padding:0; margin:0")
                .fourteen.wide.column(style="padding:0; margin:0")
                    p
                        span#narrate-1-supplements  
                            span Drugs and dietary supplements are the two most common product categories in medication scams:
                .one.wide.column(style="padding:0; margin:0")
                    img.ui.medium.image(src=public_resources+'/images/modules/medication/concepts_drugs.svg' style='margin-left: auto; margin-right: auto')
                .one.wide.column(style="padding:0; margin:0")

            .ui.stackable.grid(style="margin-top: 0px;")
                .eight.wide.column
                    .dosContainer
                        .ui.large.green.fluid.label
                            i.pills.icon
                            span#narrate-2-supplements
                                span Drugs
                        .ui.list
                            .item
                                i.check.green.icon
                                .content#narrate-3-supplements
                                    span Any substance used to diagnose, treat, or prevent illnesses in humans or animals, and/or
                            .item
                                i.check.green.icon
                                .content#narrate-4-supplements
                                    span Any non-food item that can change how the body works or is structured [3].
                            .item
                                i.check.green.icon
                                .content#narrate-5-supplements
                                    span Prescription drugs are medications prescribed by a doctor, purchased at a pharmacy, and intended for use by one individual [3].
                            .item
                                i.check.green.icon
                                .content#narrate-6-supplements
                                    span Over-the-counter drugs, also known as nonprescription drugs, are medications that do not require a doctor's prescription and can be bought off-the-shelf in stores [3].

                .eight.wide.column
                    .dontsContainer
                        .ui.large.orange.fluid.label
                            i.capsules.icon
                            span#narrate-7-supplements
                                span Dietary Supplements
                        .ui.list
                            .item
                                i.times.red.icon
                                .content#narrate-8-supplements  
                                    span Products taken to add nutrients to your diet, such as vitamins, minerals, herbs, or probiotics.
                            .item
                                i.times.red.icon
                                .content#narrate-9-supplements  
                                    span These products are meant to complement, not replace, a balanced diet [12].
                            .item
                                i.times.red.icon
                                .content#narrate-10-supplements  
                                    span Supplements are always swallowed or eaten. Products applied to skin or inhaled are not considered supplements.
            br               
            i.source [3] Is It a Cosmetic, a Drug, or Both? (Or Is It Soap?). Food and Drug Administration (FDA)
                a(href='https://www.fda.gov/cosmetics/cosmetics-laws-regulations/it-cosmetic-drug-or-both-or-it-soap#Definedrug' target='_blank') https://www.fda.gov/cosmetics/cosmetics-laws-regulations/it-cosmetic-drug-or-both-or-it-soap#Definedrug
