#work.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-work How medication scams work
                    p
                        span#narrate-1-work  
                            span Scammers often target older adults with medical issues through fake product advertisements via social media, news websites, and magazines. These ads lure potential victims to the scammers' websites, where they encounter:
                    ol
                        li#narrate-2-work
                            span Unverified claims from supposed doctors and scientists.
                        li#narrate-3-work
                            span Fake testimonials from alleged past buyers.
                        li#narrate-4-work 
                            span Exaggerated promises about the products' effectiveness.

                    p
                        span#narrate-5-work  
                            span These deceptive tactics create a false sense of hope for vulnerable individuals seeking relief from their medical conditions.

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src=public_resources+'/images/modules/medication/medication_ads.svg' style='margin-left: auto; margin-right: auto')
