extends ../../ui_layout

block content
  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item(style='background-color: darkgray; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: darkgray; color: white;')
        | Method and Protection
    .ui.raised.segment
      h1.ui.header
        .content
            | Concepts & Consequences
      #module-steps(style="max-width:100%;max-height:100%;text-align:center;")
        .row#steps-icons  
          img(src='/images/quiz-icon.png')
          img(src='/images/learn-icon.png')
          img(src='/images/explore-icon.png')
          img(src='/images/quiz-icon.png')
          img(src='/images/reflect-icon.png')
          
        .progress-wrapper
          .progress-item.completed
            .step-counter 1
            .step-name Pre-quiz
          .progress-item.active
            .step-counter 2
            .step-name Learn
          .progress-item
            .step-counter 3
            .step-name Explore
          .progress-item
            .step-counter 4
            .step-name Post-quiz
          .progress-item
            .step-counter 5
            .step-name Reflect
    
    button.btn(style="background-color: green; color: white; font-size: 24px; padding: 10px 20px; border: none; border-radius: 5px; float: right;" onclick="location.href='/learn2/identity';") Start Submodule 1


block scripts
  script.
    localStorage.setItem('progress', 5);
    localStorage.setItem('theft-path', "/learn/identity");

block styles
  link(rel='stylesheet', href='/css/progress.css')  