extends ../ui_layout

block content
  
  .sixteen.wide.column
    h3.ui.header Bio and Location
    p="Some social media sites let users add other information about themselves to their own pages. If you’d like to tell other users about you, you can put your location and some fun facts or other information about yourself in the boxes below. You can also choose whether everyone will be able to see the information, or whether only you will be able to see it."

    form.ui.form(action='/create_bio', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .field
        label(for='name') Location
        input(type='text', name='location', id='location', placeholder='Enter your location') 
      .field
        label(for='bio') Bio
        textarea(rows='2', name='bio', id='bio')=user.profile.bio
      button.ui.button(type='submit') Submit