extends ../ui_layout

block content
  -var user_post = []
  -var textSize = 0;
  -var user_info = [{profile_pic : "/profile_pictures/amy.jpg",background_pic : "/profile_pictures/blueToWhite.png",user_name : "Amy G",user_id : "@amyg__g",bio : "Daughter. Sister. Proud Black American. I tend to get political.",location : "New York, NY",join_date : "Joined January 2019"}]
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
    //-####################### title
  .twelve.wide.computer.fourteen.wide.tablet.sixteen.wide.mobile.column.centered( style="margin-bottom:5%")
    .ui.one.column.centered.grid.feedbackMessagesGrid
    .ui.fluid.card.dim(style = "margin-top:0px;margin-bottom:0px;")

      span.br( style="font-size: 25px; margin-left: 5%;margin-bottom: 5%; margin-top: 5%; font-weight: bold;") Edit Profile
      form.ui.form(style="margin-right: 10%; margin-left: 5%;")
        .field
           
            label(for='password' style="font-size:larger; ") ID: &nbsp;#{user.username},
            div(style="display: flex; align-items: center;")
                label(for='username' style="font-size:larger; margin-top: -5%") Name: &nbsp;
                input(style="margin:5px 0px; margin-bottom: 5%; width: 70%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !important; color: #000 !important;" type='text', name='username', id='username', placeholder='Username').field
            
              
      .ui.profilePicForm.form 
        .ui.segment
            .two.fields(style="display: flex; margin-left: 10%;")
              .field
                .ui.radio.checkbox(style="flex: 1; position: relative; overflow: hidden;")
                      img.lazy(src="/profile_pictures/Daring_PT_Determined1.png" data-src="/profile_pictures/Daring_PT_Determined.png")
                      button.ui.secondary.button(style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);", onclick="saveButton1()") Select
              .field
                .ui.radio.checkbox
                      img.lazy(src="/profile_pictures/"+"Dartie_Happy_31.png" data-src="/profile_pictures/Dartie_Happy_3.png")
                      button.ui.secondary.button(style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);", onclick="saveButton2()") Select
            .two.fields(style="display: flex; margin-left: 10%;")
              .field
                .ui.radio.checkbox
                      img.lazy(src="/profile_pictures/"+"Intrepid_PT_Determined1.png"  data-src="/profile_pictures/Intrepid_PT_Determined.png")
                      button.ui.secondary.button(style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);", onclick="saveButton3()") Select
              .field
                .ui.radio.checkbox
                      img.lazy(src="/profile_pictures/Valiant_PT_Determined1.png" data-src="/profile_pictures/Valiant_PT_Determined.png")
                      button.ui.secondary.button(style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);", onclick="saveButton4()") Select
      
      button.ui.secondary.button(style="margin-top: 1%" onclick="saveButton5()" ) I prefer to have the journey myself

block scripts
  script.
    function updateTextSizeDisplay() {
        const textSizeInput = document.getElementById('textSize');
        const textSizeDisplay = document.getElementById('textSizeDisplay');
        textSizeDisplay.textContent = `Text size: ${textSizeInput.value}px`;
        textSizeDisplay.style.fontSize = `${textSizeInput.value}px`;
    }
    updateTextSizeDisplay();
    function saveButton1() {
      localStorage.setItem('character', 'Daring_PT_Determined.png');
      location.reload();

    }
    function saveButton2() {
      localStorage.setItem('character', 'Dartie_Happy_3.png');
      location.reload();
    }

    function saveButton3() {
      localStorage.setItem('character', 'Intrepid_PT_Determined.png');
      location.reload();
    }

    function saveButton4() {
      localStorage.setItem('character', 'Valiant_PT_Determined.png');
      location.reload();
    }

    function saveButton5() {
      localStorage.setItem('character', 'transparent.png');
      location.reload();
    }


block styles
  style(type='text/css').
    .lazy {
      width: 90%;
      height: 90%;
    }

    .profilePictureModal {
    height: calc(100% - 50px);
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    }