extends ../ui_layout

block content
  -var user_post = []
  -var textSize = 0;
  -var user_info = [{profile_pic : "/profile_pictures/amy.jpg",background_pic : "/profile_pictures/blueToWhite.png",user_name : "Amy G",user_id : "@amyg__g",bio : "Daughter. Sister. Proud Black American. I tend to get political.",location : "New York, NY",join_date : "Joined January 2019"}]
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
    //-####################### title
  .div
    .ui.one.column.centered.grid.feedbackMessagesGrid
    .ui.fluid.card.dim(style = "margin-top:0px;margin-bottom:0px;")
      a(style='margin-top: 5%; margin-bottom: 5%;' href="/account")
        span.br( style="font-size: 25px; margin-left: 5%;margin-bottom: 5%; margin-top: 5%; font-weight: bold;") ← Edit Profile

      form.ui.form(action="/changePassword", method='POST' style="margin-left:5%;margin-right:5%")
        input(type='hidden', name='_csrf', value=csrfToken)
        .field
          label(for='password' style="margin-top:15px; font-size:larger;") Enter Your New Password
          input(type='hidden', name='username', id='username', value=user.username)
          input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='password', name='password', id='password', placeholder='Password', required).field
        button.ui.big.blue.button(type='submit', style="width: 100%; border-radius: 20px;") Confirm
      br
            
      .ui.grid(style="margin:30px;")
        .four.wide.column(style="display: flex; flex-direction: column; align-items: center; justify-content: center; ")
                .ui.radio.checkbox
                      img.lazy(style=' border: 2px solid  #2884d4 !important; border-radius: 15px;' src="/profile_pictures/Daring_PT_Determined2.png" data-src="/profile_pictures/Daring_PT_Determined.png")
                      button.ui.primary.basic.button(style="border-radius: 15px; background:white !important;position: absolute; bottom: 20%; left: 48%; transform: translateX(-50%);", onclick="saveButton1()") Select
                      button.ui.inverted.basic.button(style=" cursor: default; color: black !important; border-radius: 15px; position: absolute; bottom: -7%; left: 48%; transform: translateX(-50%);") Daring

        .four.wide.column(style="display: flex; flex-direction: column; align-items: center; justify-content: center;")
                .ui.radio.checkbox
                      img.lazy(style=' border: 2px solid  #2884d4 !important; border-radius: 15px;' src="/profile_pictures/Valiant_PT_Determined2.png" data-src="/profile_pictures/Valiant_PT_Determined.png")
                      button.ui.primary.basic.button(style="border-radius: 15px; background:white !important;position: absolute; bottom: 20%; left: 48%; transform: translateX(-50%);", onclick="saveButton4()") Select
                      button.ui.inverted.basic.button(style=" cursor: default; color: black !important; border-radius: 15px; position: absolute; bottom: -7%; left: 48%; transform: translateX(-50%);") Valiant

        .four.wide.column(style="display: flex; flex-direction: column; align-items: center; justify-content: center;")
                .ui.radio.checkbox
                      img.lazy(style=' border: 2px solid  #2884d4 !important; border-radius: 15px;' src="/profile_pictures/"+"Intrepid_PT_Determined2.png"  data-src="/profile_pictures/Intrepid_PT_Determined.png")
                      button.ui.primary.basic.button(style="border-radius: 15px; background:white !important;position: absolute; bottom: 20%; left: 48%; transform: translateX(-50%);", onclick="saveButton3()") Select
                      button.ui.inverted.basic.button(style=" cursor: default; color: black !important; border-radius: 15px; position: absolute; bottom: -7%; left: 48%; transform: translateX(-50%);") Intrepid
        .four.wide.column(style="display: flex; flex-direction: column; align-items: center; justify-content: center;")
                .ui.radio.checkbox
                      img.lazy(style=' border: 2px solid  #2884d4 !important; border-radius: 15px;' src="/profile_pictures/"+"Dartie_Happy_32.png" data-src="/profile_pictures/Dartie_Happy_3.png")
                      button.ui.primary.basic.button(style="border-radius: 15px; background:white !important;position: absolute; bottom: 20%; left: 48%; transform: translateX(-50%);", onclick="saveButton2()") Select
                      button.ui.inverted.basic.button(style=" cursor: default; color: black !important; border-radius: 15px; position: absolute; bottom: -7%; left: 48%; transform: translateX(-50%);") Dartie

      button.ui.primary.basic.button(style="margin: auto; margin-bottom:50px; width:50%; border-radius: 15px !important; margin-top: 1%" onclick="saveButton5()" ) I prefer to have the journey myself!

block scripts
  script.
    function updateTextSizeDisplay() {
        const textSizeInput = document.getElementById('textSize');
        const textSizeDisplay = document.getElementById('textSizeDisplay');
        textSizeDisplay.textContent = `Text size: ${textSizeInput.value}px`;
        textSizeDisplay.style.fontSize = `${textSizeInput.value}px`;
    }
    updateTextSizeDisplay();
    function saveButton1() {
      localStorage.setItem('character', 'Daring_PT_Determined.png');
      location.reload();

    }
    function saveButton2() {
      localStorage.setItem('character', 'Dartie_Happy_3.png');
      location.reload();
    }

    function saveButton3() {
      localStorage.setItem('character', 'Intrepid_PT_Determined.png');
      location.reload();
    }

    function saveButton4() {
      localStorage.setItem('character', 'Valiant_PT_Determined.png');
      location.reload();
    }

    function saveButton5() {
      localStorage.setItem('character', 'transparent.png');
      location.reload();
    }


block styles
  style(type='text/css').
    .lazy {
      width: 90%;
      height: 90%;
    }

    .profilePictureModal {
    height: calc(100% - 50px);
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    }