extends ../ui_layout

block content
  .sixteen.wide.column
    h2.ui.header Create your Instructor Account
    form.ui.form(id='signup-username-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .six.wide.field
        label(for='username') Username
        input(type='text', name='username', id='username', placeholder='Username', autofocus, required)  
      .six.wide.field
        label(for='password') Password
        input(type='password', name='password', id='password', placeholder='Password', required)
      .six.wide.field
        label(for='confirmPassword') Confirm Password
        input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
      .six.wide.field
        label(for='name') Name
        input(type='text', name='name', id='name', placeholder='Enter your Name', required)
      .six.wide.field
        label(for='location') Location
        input(type='text', name='location', id='location', placeholder='Enter your location') 
      .field
        label(for='bio') Bio
        textarea(rows='2', name='bio', id='bio')
      .inline.fields
        label Pick a Profile Image:
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='picture', tabindex='0', value='minecraft.png')
            label 
              img.ui.small.circular.image(src='/profile_pictures/minecraft.png')
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='picture', tabindex='0', value='lizard.jpg')
            label 
              img.ui.small.circular.image(src='/profile_pictures/lizard.jpg')
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='picture', tabindex='0', value='bub.jpg')
            label 
              img.ui.small.circular.image(src='/profile_pictures/bub.jpg')
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='picture', tabindex='0', value='ball.png')
            label 
              img.ui.small.circular.image(src='/profile_pictures/ball.png')
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='picture', tabindex='0', value='dog.jpg')
            label 
              img.ui.small.circular.image(src='/profile_pictures/dog.jpg')
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='picture', tabindex='0', value='emoji.jpg')
            label 
              img.ui.small.circular.image(src='/profile_pictures/emoji.jpg') 
      button.ui.button(type='submit') Create Account
