extends ../ui_layout 

block content
    .ui.middle.aligned.center.aligned.grid(style="height: 100%;")
        .column.left.aligned
            br
            br
            .ui.stacked.segment
                h2#welcome Welcome back
                p#details Log in to your account
                form.ui.form(method='POST')
                    //- input(type='hidden', name='_csrf', value=_csrf)
                    .field
                        a.ui.big.fluid.button(href='/auth/google')   
                            span
                                img(src='/images/google-logo.png', alt="Google logo")#google-logo
                                span#google-text Continue with Google
                    .ui.horizontal.divider
                        | Or
                    .field 
                        label.input-margin Email:
                        input(type='email', name='email', id='email', placeholder='Enter Email', autofocus, autocomplete='email', required)
                    .field
                        label.input-margin Password:
                        input(type='password', name='password', id='password', placeholder='Enter Password', autocomplete='current-password', required)
                    br
                    a(href='/forgot') 
                        p.small-text Forgot password?
                    button.ui.fluid.blue.massive.button(type='submit') Login
                    //- .ui.fluid.white.huge.submit.button Sign Up
                    span.small-text Don't have an account? 
                    a.small-text(href="/signup") Sign up
            br
            br

                //- form(method='POST')
                //-     //- input(type='hidden', name='_csrf', value=_csrf)
                //-     .ui.big.fluid.button(href='/auth/google')   
                //-         span
                //-             img(src='/images/google-logo.png', alt="Google logo")#google-logo
                //-             span#google-text Continue with Google
                //-     .ui.horizontal.divider
                //-         | Or
                //-     p.input-margin Email:
                //-     .ui.fluid.input
                //-         input(type='email', name='email', id='email', placeholder='Enter Email', autofocus, autocomplete='email', required)
                //-     p.input-margin Password:
                //-     .ui.fluid.input
                //-         input(type='password', name='password', id='password', placeholder='Enter Password', autocomplete='current-password', required)
                //-     br


block styles 
    link(rel='stylesheet', href='/css/login.css')

block scripts
  script.
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;
