extends ../ui_layout

block content
  .ui.grid
    .row#blue-upper
      .sixteen.wide.column
        .ui.container
          h1.ui.header.center.aligned Welcome to the Deception Awareness and Resilience Training (DART) learning platform
          .limit(style="padding-bottom: 200px;")
            p#about A platform that aims to help senior people navigate the online world. It offers easy-to-understand resources and training to help you spot false information and avoid scams. 
    .row#video-overlay(style="background: transparent;")
      .inner-video
        iframe#intro-video(type='text/html' width='600px' height='340px' src='videos/dart_intro.mp4' frameborder='0')
    .row#white-lower
      .sixteen.wide.column
        .ui.container
          h2.ui.header.center.aligned Our Mission 
          .limit(style="padding-bottom: 40px;")
            p#aim The primary aim of the platform is to empower older adults with increased resilience against the detrimental effects of scams, ensuring that you can effectively safeguard yourself and others from falling victim to deception.
            .ui.raised.segment
              .ui.fluid.container(style="height: 200px;")
                .ui.image.banner
                  img(src="/images/identity-theft-banner.jpg", alt="Identity Theft Banner Image")
              hr
              #raised-content
                h3.ui.header.large#mod-title
                  .contentconsequences
                    | Identity Theft
                p Understand the  of identity theft and learn how to identify and take action against scams on social media.
                button.ui.huge.blue.button.right.floated#nextButton(onclick="location.href='/getGuest';")
                  | Learn Now
                  i.arrow.right.icon
            p(style="padding-top:30px") To stay up-to-date on the latest scam cases and keep track of what you're learning, click the button below to create an account.
            .ui.basic.segment(style="text-align: center; margin-top: -15px;")
              button.ui.huge.blue.button#sign-up-button(onclick="location.href='/createStudent';")
                | Sign Up Now
                i.arrow.right.icon


                    
block styles
  link(rel='stylesheet', href='/css/login.css')
