extends ../ui_layout

block content
  .ui.grid
    .row#blue-upper
      .ui.container
        h1.ui.header.center.aligned Learn to spot online deception and stay scam-free
        .limit(style="padding-bottom: 10px;")
          .home-img-container(style="text-align: center;")
            img(src="/images/dart-home.png", alt="Illustration of older adults safely navigating the online world" style="width: 600px; height: 340px;")
          p#aim(style="margin-top: 15px; width: 108%;") The Deception Awareness and Resilience Training (DART) learning platform offers easy-to-understand resources and training to help you spot false information and avoid scams. 

          //- p#about A platform that aims to help senior people navigate the online world. It offers easy-to-understand resources and training to help you spot false information and avoid scams. 
          .user-actions(style="margin-top: -50px; justify-content: center; display: flex; flex-direction: row; ")
            button.ui.blue.huge.button
              | Learn Now
            //- button.ui.blue.huge.button(style="margin-right: 20px;")
            //-   | Sign up 
            //- button.ui.inverted.huge.button
            //-   | View Video

    //- .row#video-overlay(style="background: transparent;")
    //-   .inner-video
    //-     iframe#intro-video(type='text/html' width='600px' height='340px' src='videos/dart_intro.mp4' frameborder='0')
    .row#white-lower
      .ui.container
        //- h2.ui.header.center.aligned#our-mission Our Mission 
        .ui.stackable.mobile.reversed.grid
          //- First section with text on the left and image on the right
          .row
            .eight.wide.column
              h2(style="font-family: 'Armata', sans-serif; font-weight: 900;") Prepare yourself for the online world
              p Embracing the internet opens up a vast realm of knowledge, entertainment, and connections that can greatly enrich your life. However, it can also pose certain risks and dangers.
              p DART provides valuable insights and practical strategies to help you stay informed about online security measures, enabling you to protect yourself against potential risks.
            .eight.wide.column(style="margin: 0; padding: 0; display: flex; align-items: center;")
              img(src="/images/simulation.png" alt="Image description" style="width: 100%")

          //- Second section with image on the right and text on the left
          .row(style="margin-top: 20vh;")
            .eight.wide.column
              img(src="/images/simulation3.png" alt="Image description" style="width: 90%")
            .eight.wide.column
              //- h2(style="font-family: 'Armata', sans-serif; font-weight: 900;") Prepare yourself for the online world
              h2(style="font-family: 'Armata', sans-serif; font-weight: 900;") Engaging hands-on learning
              p DART simulates realistic digital dilemmas and scenarios that older adults may encounter while navigating online platforms and services.
              p Each module teaches essential digital citizenship concepts, covering topics such as privacy, online identities, common scams, and more.

            //- p DART provides valuable insights and practical strategies to enhance your online presence and safety.
            //- p It's equally important to take steps to stay safe in this digital landscape. Dart helps you do just that.
            //- p By staying informed about online security measures, you can confidently explore the internet and safeguard yourself against potential risks.
            //- p Our target audience is older adults, but we welcome everyone to explore it.
            //- p Whether you're a seasoned user or just starting out, DART provides valuable insights and practical strategies to enhance your online presence and safety.
            //- p By actively educating yourself about online security measures, you can confidently navigate the internet and protect yourself from potential risks.
          
          
          
          //- Third section with text on the left and image on the right
          //- .eight.wide.column
          //-   h2(style="font-family: 'Armata', sans-serif; font-weight: 900;") Education for the digital age
          //-   p DART simulates realistic digital dilemmas and scenarios that older adults may encounter as they enter the social media world.
          //-   p Each module teaches essential digital citizenship concepts, covering topics such as privacy, online identities, common scams, and more.
          //- .eight.wide.column(style="margin: 0; padding: 0; display: flex; align-items: center;")
          //-   img(src="/images/simulation.png" alt="Image description" style="width: 100%")

        //- p#about A platform that aims to help senior people navigate the online world. It offers easy-to-understand resources and training to help you spot false information and avoid scams. 
        //- .user-actions(style="justify-content: center; display: flex; flex-direction: row; ")
        //-   button.ui.huge.blue.button(style="margin-right: 20px;")
        //-     | Log in
        //-   button.ui.huge.blue.button(style="margin-right: 20px;")
        //-     | Sign up 
          //- button.ui.blue.button
          //-   | Continue As Guest

        //- Courses
        //- h2.ui.header#in-progress Explore Courses:

        .row(style="margin-top: 20vh;")
          h2.ui.header#in-progress Popular Courses:
          //- Referenced Source: https://codepen.io/dannyarty/pen/JjKrPOL 
          .wrap
              .slider
                  .item(style="position: relative; ")
                    .border(style="border: #235799 4px solid; ")
                      .ui.in-slider(style="position: relative;")
                        img(src='/images/identity-theft-banner.jpg' alt='' style="position: relative")
                        hr
                        .white-container(style="margin: 0; padding: 0; width: 100%; background: white; margin-top: 150px;")
                          #raised-content(style="padding-top: 20px;")
                            h3.ui.header.large.home-mod-title(style="margin-top: 10px;")
                              | Identity Theft
                            p(style="color:black") Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
                        .white(style="background: white; width: 100%; margin: 0; padding: 0; min-height: 77px;")
                          button.ui.huge.blue.button.right.floated#nextButton(onclick="location.href='/getGuest';" style="z-index: 10000;position: relative; margin-right: 20px;" )
                            | Learn Now
                            i.arrow.right.icon
                          br
                  .item(style="position: relative; ")
                    .border(style="border: #235799 4px solid; ")
                      .ui.in-slider(style="position: relative;")
                        img(src='/images/romance-scam.jpg' alt='' style="position: relative")
                        hr
                        .white-container(style="margin: 0; padding: 0; width: 100%; background: white; margin-top: 150px;")
                          #raised-content(style="padding-top: 20px;")
                            h3.ui.header.large.home-mod-title(style="margin-top: 10px;")
                              | Romance Scams
                            p(style="color:black") Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
                        .white(style="background: white; width: 100%; margin: 0; padding: 0; min-height: 77px;")
                          button.ui.huge.blue.button.right.floated#nextButton(onclick="location.href='/getGuest';" style="z-index: 10000;position: relative; margin-right: 20px;" )
                            | Learn Now
                            i.arrow.right.icon
                          br
                  .item(style="position: relative; ")
                    .border(style="border: #235799 4px solid; ")
                      .ui.in-slider(style="position: relative;")
                        img(src='/images/phishing-scam.jpg' alt='' style="position: relative")
                        hr
                        .white-container(style="margin: 0; padding: 0; width: 100%; background: white; margin-top: 150px;")
                          #raised-content(style="padding-top: 20px;")
                            h3.ui.header.large.home-mod-title(style="margin-top: 10px;")
                              | Phishing
                            p(style="color:black") Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
                        .white(style="background: white; width: 100%; margin: 0; padding: 0; min-height: 77px;")
                          button.ui.huge.blue.button.right.floated#nextButton(onclick="location.href='/getGuest';" style="z-index: 10000;position: relative; margin-right: 20px;" )
                            | Learn Now
                            i.arrow.right.icon
                          br
                  .item(style="position: relative; ")
                    .border(style="border: #235799 4px solid; ")
                      .ui.in-slider(style="position: relative;")
                        img(src='/images/sales-scam.jpg' alt='' style="position: relative")
                        hr
                        .white-container(style="margin: 0; padding: 0; width: 100%; background: white; margin-top: 150px;")
                          #raised-content(style="padding-top: 20px;")
                            h3.ui.header.large.home-mod-title(style="margin-top: 10px;")
                              | Sales Scam
                            p(style="color:black") Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
                        .white(style="background: white; width: 100%; margin: 0; padding: 0; min-height: 77px;")
                          button.ui.huge.blue.button.right.floated#nextButton(onclick="location.href='/getGuest';" style="z-index: 10000;position: relative; margin-right: 20px;" )
                            | Learn Now
                            i.arrow.right.icon
                          br
        .ui.basic.segment(style="text-align: center; margin-top: -15px;")
          button.ui.huge.blue.button#sign-up-button(onclick="location.href='/createStudent';")
            | Learn Now
            i.arrow.right.icon


        //- a.ui#theft-link(href=`/intro/identity` alt="Begin identity theft module")
        //-   .ui.raised.segment
        //-     .ui.fluid.container(style="height: 200px;")
        //-       .ui.image.banner
        //-         img(src="/images/identity-theft-banner.jpg", alt="Identity Theft Banner Image")

        //-         //- #theft-progress.ui.bottom.attatched.small.progress(style='margin:0;padding:0;' data-percent='33')
        //-         //-   .bar(style='border-radius: 0 !important;')
        //-         //-     .progress
        //-     hr
        //-     #raised-content(style="padding-top: 20px;")
        //-       h3.ui.header.large.home-mod-title
        //-         | Identity Theft
        //-       p(style="color:black") Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
        //-       button.ui.huge.blue.button.right.floated#nextButton
        //-         | Learn Now
        //-         i.arrow.right.icon
        //- br
        //- br
        //- br
        //- a.ui#romance-link(href=`/intro/identity` alt="Begin identity theft module")
        //-   .ui.raised.segment
        //-     .ui.fluid.container(style="height: 200px;")
        //-       .ui.image.banner
        //-         img(src="/images/romance-scam.jpg", alt="Identity Theft Banner Image")

        //-         //- #theft-progress.ui.bottom.attatched.small.progress(style='margin:0;padding:0;' data-percent='33')
        //-         //-   .bar(style='border-radius: 0 !important;')
        //-         //-     .progress
        //-     hr
        //-     #raised-content(style="padding-top: 20px;")
        //-       h3.ui.header.large.home-mod-title
        //-         | Romance Scams
        //-       p(style="color:black") Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
        //-       button.ui.huge.blue.button.right.floated#nextButton
        //-         | Learn Now
        //-         i.arrow.right.icon
        //- br
        //- br
        //- br
        //- a.ui#phishing-link(href=`/intro/identity` alt="Begin identity theft module")
        //-   .ui.raised.segment
        //-     .ui.fluid.container(style="height: 200px;")
        //-       .ui.image.banner
        //-         img(src="/images/phishing-scam.jpg", alt="Identity Theft Banner Image")

        //-         //- #theft-progress.ui.bottom.attatched.small.progress(style='margin:0;padding:0;' data-percent='33')
        //-         //-   .bar(style='border-radius: 0 !important;')
        //-         //-     .progress
        //-     hr
        //-     #raised-content(style="padding-top: 20px;")
        //-       h3.ui.header.large.home-mod-title
        //-         | Phishing
        //-       p(style="color:black") Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
        //-       button.ui.huge.blue.button.right.floated#nextButton
        //-         | Learn Now
        //-         i.arrow.right.icon

        //- br
        //- br
        //- br
        //- a.ui#theft-link(href=`/intro/identity` alt="Begin identity theft module")
        //-   .ui.raised.segment
        //-     .ui.fluid.container(style="height: 200px;")
        //-       .ui.image.banner
        //-         img(src="/images/sales-scam.jpg", alt="Identity Theft Banner Image")

        //-         //- #theft-progress.ui.bottom.attatched.small.progress(style='margin:0;padding:0;' data-percent='33')
        //-         //-   .bar(style='border-radius: 0 !important;')
        //-         //-     .progress
        //-     hr
        //-     #raised-content(style="padding-top: 20px;")
        //-       h3.ui.header.large.home-mod-title
        //-         | Sales Scam
        //-       p(style="color:black") Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
        //-       button.ui.huge.blue.button.right.floated#nextButton
        //-         | Learn Now
        //-         i.arrow.right.icon






        .row(style="margin-top: 20vh;")
          h2.ui.header#in-progress App Demo
          .ui.segment
            p App Demo
            img(src="/images/phone-bg.png", alt="Phone screen" style="width: 250px;height:450px;position: absolute;top:43px;left:3px;z-index:100;pointer-events:none;")
            .ui.container(style="background: red; display: flex;justify-content: left;")
              .containerz
                .single-item(style="width: 225px;")
                  .slide-holder
                      //- p 1 
                      img(src="/images/demo.png", alt="DART app's logo screen;")
                  .slide-holder 
                      //- p 2 
                      img(src="/images/demo2.png", alt="Puzzle match minigame")
                  .slide-holder 
                      //- p 3 
                      img(src="/images/demo3.png", alt="Cryptogram complete the sentence minigame")
                  .slide-holder 
                      //- p 4
                      img(src="/images/demo4.png", alt="Dot connect wordfinder minigame")


        //- p#aim The Deception Awareness and Resilience Training (DART) learning platform aims to help senior people navigate the online world. It offers easy-to-understand resources and training to help you spot false information and avoid scams. 
        //- //- p#aim The primary aim of the platform is to empower older adults with increased resilience against the detrimental effects of scams, ensuring that you can effectively safeguard yourself and others from falling victim to deception.
        //- .ui.raised.segment
        //-   .ui.fluid.container(style="height: 200px;")
        //-     .ui.image.banner
        //-       img(src="/images/identity-theft-banner.jpg", alt="Identity Theft Banner Image")
        //-   hr
        //-   #raised-content
        //-     h3.ui.header.large#mod-title Identity Theft
        //-     p Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
        //-     button.ui.huge.blue.button.right.floated#nextButton(onclick="location.href='/getGuest';")
        //-       | Learn Now
        //-       i.arrow.right.icon

        p(style="padding-top:30px") To stay up-to-date on the latest scam cases and keep track of what you're learning, click the button below to create an account.
        .ui.basic.segment(style="text-align: center; margin-top: -15px;")
          button.ui.huge.blue.button#sign-up-button(onclick="location.href='/createStudent';")
            | Sign Up Now
            i.arrow.right.icon

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
  script.
      $(document).ready(function(){
          $('.single-item').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: false,
              arrows: false,
              infinite: true,
              autoplay: true,
              autoplaySpeed: 3000 // milliseconds
          });


          /* Referenced Source: https://codepen.io/dannyarty/pen/JjKrPOL */
          $('.slider').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            zIndex: 1,
            accessibility: true,
            arrows: true,
            dots: false,
            centerMode: true,
            variableWidth: true,
            infinite: true,
            focusOnSelect: true,
            cssEase: 'linear',
            touchMove: true,
            prevArrow:'<button class="slick-prev"> < </button>',
            nextArrow:'<button class="slick-next"> > </button>',
            responsive: [                        
                {
                  breakpoint: 576,
                  settings: {
                    centerMode: false,
                    variableWidth: false,
                  }
                },
            ]
            });


          var imgs = $('.slider img');
          imgs.each(function(){
          var item = $(this).closest('.item');
          item.css({
              'background-image': 'url(' + $(this).attr('src') + ')', 
              'background-position': 'center',            
              '-webkit-background-size': 'cover',
              'background-size': 'cover', 
          });
          $(this).hide();
          });

      });


                      
block styles
  link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css')
  link(rel='stylesheet', href='/css/login.css')
