extends ../ui_layout

block content
  .ten.wide.column
    h2.ui.header Login to Your Account
    form.ui.form(method='POST')
      input(type='hidden', name='_csrf', value=csrfToken)
      .field
        label(for='username' style="font-size:larger;") Username
        input(type='text', name='username', id='username', placeholder='Username', autofocus, required).field
      button.ui.big.green.button(type='submit') Login
    br
    br  
    //- a(href="/privacy")="Privacy policy" 
  br
  br
  br
  
