extends ../ui_layout

block content
  .ui.sixteen.wide.row
    .ui.sixteen.wide.column
      h2.loginPageTitle Welcome to the Research Version of DART!
  .ui.sixteen.wide.row 
    .ui.sixteen.wide.column
      a(href='/studentLogin')
        button.ui.big.green.labeled.icon.button
            i.chevron.circle.right.icon
            |   Login
      br
      br
      a(href='/createStudent')
        button.ui.big.green.labeled.icon.button
            i.chevron.circle.right.icon
            |   Signup
      br
      br
        
block styles
  link(rel='stylesheet', href='/css/login.css')
