extends ../ui_layout

block content
  .ui.sixteen.wide.row
    .ui.sixteen.wide.column
      h2.loginPageTitle Welcome to the Research Version of Social Media TestDrive!
  .ui.sixteen.wide.row
    .eight.wide.column.studentLoginColumn
      h2.ui.header Login As Student
      form.ui.form(action="/studentLogin" method='POST')
        input(type='hidden', name='_csrf', value=csrfToken)
        .field
          label(for='username' style="font-size:larger;") Username
          input(type='text', name='username', id='username', placeholder='Username', autofocus, required).field
        button.ui.big.green.button(type='submit') Login
      br
      br  
    .eight.wide.column.isntructorLoginColumn
      h2.ui.header Login As Instructor
      form.ui.form(action="/instructorLogin", method='POST')
        input(type='hidden', name='_csrf', value=csrfToken)
        .field
          label(for='instructor_username' style="font-size:larger;") Username
          input(type='text', name='instructor_username', id='instructor_username', placeholder='Username', required).field
          label(for='instructor_password' style="font-size:larger;") Password
          input(type='password', name='instructor_password', id='instructor_password', placeholder='Password', required).field
        button.ui.big.green.button(type='submit') Login
  
block styles
  link(rel='stylesheet', href='/css/login.css')
