extends ../ui_layout

block content
 .ui.sixteen.wide.row
  .ui.sixteen.wide.column(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
     .ui.fluid.card.dim(style = "margin-top:0px;margin-bottom:0px;width:106%!important; margin-top:-40px; ")
      .gradientdiv()
       h2.loginPageTitle(style="text-align: center; margin:5px 0px; font-family:'Noto Sans', sans-serif; margin:40px;margin-bottom:15px;color:white") Welcome to the Deception Awareness and Resilience Training (DART) learning platform
       p(style=" text-align: center; font-size: 17px; font-family:'Arial', Serif;margin:30px;color:white ") A platform that aims to help senior people navigate the online world. It offers easy-to-understand resources and training to help you spot false information and avoid scams. 
       .div(style="text-align: center;")
        iframe(type='text/html' width='600px' height='340px'
          src='videos/dart_intro.mp4'
          frameborder='0' style="align-items: center;margin-bottom:20px" )
       h2.loginPageTitle(style="text-align: center; margin:5px 0px; font-family:'Noto Sans', sans-serif;") Our Mission 
      p(style="text-align: left !important; font-size: 17px; font-family:'Arial', Serif;margin:20px; margin-left:30px;margin-right:30px;margin-top:-100px ") The primary aim of the platform is to empower older adults with increased resilience against the detrimental effects of scams, ensuring that you can effectively safeguard yourself and others from falling victim to deception. 
      
       div.ui.special.cards(style="margin-top:20px;width:100%;  margin-bottom:20px;")
        
        div.card(style="  box-shadow: 0px 0px 0px rgba(0,0,0,0.5);margin-left: 55px; margin-top: 0%; width: 85%; position: relative; border: solid #d3d3d3; 1px;  border-top: none;  border-top-left-radius: 0px; border-top-right-radius: 0px")
        
          img-crop(style="width:100%; height:250px;overflow: hidden;border-radius:0px !important ;")
            img( style="width:100%; height:auto; margin-top: -120px;" src="/profile_pictures/backgournd_img.png")
          div.content
            
            a.header(style="font-family:'Noto Sans', sans-serif; font-size:25px") Identity Theft
            div.meta
              span(style="font-family:'Noto Sans', sans-serif; font-size:20px") Understand the consequences of identity theft and learn how to identify and take action against phishing scams on social media.
            .div(style="display: flex; float:right")
              a.ui.button.big.white(href="/identity_home", style=" font-family:'Noto Sans', sans-serif; height:46.28px; border-radius: 17px; margin: 0px 0 0 0; padding:14.1429px !important; display: block; width: 250px; background-color: #fff; border: 1px solid #2884d4; text-align: center; margin-right:10px;")  
                span
                  span( style="vertical-align: middle;") Share Certificate 
                  img(src='/profile_pictures/award.png', alt="Google logo", style="height:20px; vertical-align: middle; margin-right: 10px;")
              button.ui.big.blue.button(onclick="window.location.href='/identity_home'" style="font-family:'Noto Sans', sans-serif; height:46.28px; border-radius: 17px; width: 200px; margin: 0px 0 0 0; ") Learn Again → 
       
       a(href='/createStudent' style='display: flex; justify-content: center; align-items: center; width: 100%;margin-bottom:20px; ')
        
        button.ui.big.blue.button(style="font-family:'Noto Sans', sans-serif; height:46.28px; border-radius: 17px; width: 200px; margin: 0px 0 0 0; ") Sign up → 


block scripts
  script.
    document.body.style.backgroundColor = 'white';
    
block styles
  link(rel='stylesheet', href='/css/login.css')
  style(type='text/css').
    .gradientdiv {
      height: 75vh; /* adjust this to the height you want */
      background: linear-gradient(to bottom, #2884d4 0%, black 50%, white 50%, white 100%);
    }