extends ../ui_layout

block content
 -var user_post = []
 -var cdn = "https://dhpd030vnpk29.cloudfront.net";

 .ui.container#raised-container(style="margin-top: 20px;")
  .ui.sixteen.wide.row.fluid.card.dim
   .ui.sixteen.wide.column(style="display: flex !important; flex-direction: column; justify-content: center; align-items: center;")
   div(style='display: flex; margin:10px')
    .sidebar(style="width:20%")
     .sidebarOption.sidebarOption__active
      span.material-icons(style='height:20px;margin:0px;padding:0px')  inbox 
      h3(style='height:20px;margin:0px;padding:0px;margin-top:10px;margin-left:10px') Inbox
     .sidebarOption(style='pointer-events: none;')
     .sidebarOption(style='pointer-events: none;')
     .sidebarOption(style='pointer-events: none;')
     .sidebarOption(style='pointer-events: none;')
     .sidebarOption(style='pointer-events: none;')
     .sidebarOption(style='pointer-events: none;')
     .sidebar__footer
      .sidebar__footerIcons
        span.material-icons(style='pointer-events: none;')   
        span.material-icons(style='pointer-events: none;')   
        span.material-icons(style='pointer-events: none;')   

    .emailList(style="height:80vh")
     .example
      h2(onclick="window.location.href='/gmail'" style="cursor: pointer") ←
      
     .example-layout

      .row
        .col-1 
          h2 irs Identity Verification Service
        .col-2 
        .col-3(style="margin-top:auto")  
          span 04/25/23

      .row
        .col-1 
          p 
            strong(style="font-size:17px") irs gov 
            | &lt;irsgov@gmail.com&gt;
            br
            | to me
        .col-2 
          img(style='cursor:pointer; border-radius: 50%; width:50px; height 50px; z-index: 2;top: 50%;left: 3%; border: 2px white solid;padding: -1px;padding: 5px white solid;z-index: 1;background-color: white;' src="/profile_pictures/Profile_Pic.png")

        .col-3 
      .row
        .col-1
          span Dear Tax Payer,
          br
          br
          span We’ve noticed your account information is missing or
          span incorrect. We need to verify your account information to file your Tax Refund.
          span Please follow 
          a.link(style="text-decoration: underline;") this link 
          span to verify your info.
          br
          span Thanks,
          br
          br
          span IRS team
          br
          span 2016 IRS all right reserved.
          br
          img(style='cursor:pointer; width:50px; height 50px; z-index: 2;top: 50%;left: 3%; border: 2px white solid;padding: -1px;padding: 5px white solid;z-index: 1;background-color: white;' src="/profile_pictures/irs.png")
          br
          span IMPORTANT NOTE: If you receive this message in spam or junk
          span it is a result of your network provider. Please move this 
          span message to your inbox and follow the instruction above.
        .col-2 

        .col-3

      .row
        .col-1 
          button.reply.btn(style='cursor:pointer; padding: 6px; border: 1px solid grey; border-radius: 50px; white-space: nowrap; margin-right:10px; margin-bottom:5px; margin-top:15px;background-color:white;width:120px !important') Reply
          button.block.btn(style='cursor:pointer; padding: 6px; border: 1px solid grey; border-radius: 50px; white-space: nowrap; margin-right:10px; margin-bottom:5px; margin-top:15px;background-color:white;width:120px !important') Blcok Sender
          button.report.btn(style='cursor:pointer; padding: 6px; border: 1px solid grey; border-radius: 50px; white-space: nowrap; margin-right:10px; margin-bottom:5px; margin-top:15px;background-color:white;width:120px !important') Report Scam
          button.delete.btn(style='cursor:pointer; padding: 6px; border: 1px solid grey; border-radius: 50px; white-space: nowrap; margin-right:10px; margin-bottom:5px; margin-top:15px;background-color:white;width:120px !important') Delete Email
        .col-2 

        .col-3
      .ui.small.long.post.modal.link_modal 
        
        .header(style="padding-bottom:0px;border:none; display: flex !important; flex-direction: column; justify-content: center; align-items: center;") 
          div(style="display:flex")
            img(style='idth:50px; height 50px; z-index: 2;top: 50%;left: 3%; border: 2px white solid;padding: -1px;padding: 5px white solid;z-index: 1;background-color: white;' src="/profile_pictures/icon_warning.png")
            span(style='font-size:25px !important') &nbsp; Warning
        i.close.icon
        .content(style='padding-top:10px;border:none;') 
          span(style='font-size:20px !important') This email is indicative of an identity theft scam. Clicking on the link is dangerous! The safe options would be to block sender, report scam, or delete the email. We can look into why this is a scam.
          button.btn.close_modal(style='cursor:pointer; padding: 6px; border: 1px solid grey; border-radius: 50px; white-space: nowrap; margin-right:10px; margin-bottom:5px; margin-top:15px;background-color:white;width:100% !important;height:40px') Continue Exploring

        .action  

      .ui.small.long.post.modal.reply_modal 
        
        .header(style="padding-bottom:0px;border:none; display: flex !important; flex-direction: column; justify-content: center; align-items: center;") 
          div(style="display:flex")
            img(style='idth:50px; height 50px; z-index: 2;top: 50%;left: 3%; border: 2px white solid;padding: -1px;padding: 5px white solid;z-index: 1;background-color: white;' src="/profile_pictures/icon_warning.png")
            span(style='font-size:25px !important') &nbsp; Warning
        i.close.icon
        .content(style='padding-top:10px;border:none;')
          span(style='font-size:20px !important') This email is indicative of an identity theft scam. Replying to the email is dangerous ! The safe options would be to block sender, report scam, or delete the email. We can look into why this is a scam.
          button.btn.close_modal(style='cursor:pointer; padding: 6px; border: 1px solid grey; border-radius: 50px; white-space: nowrap; margin-right:10px; margin-bottom:5px; margin-top:15px;background-color:white;width:100% !important;height:40px') Continue Exploring

        .action  

      .ui.small.long.post.modal.block_modal 
        
        .header(style="padding-bottom:0px;border:none; display: flex !important; flex-direction: column; justify-content: center; align-items: center;") 
          div(style="display:flex")
            img(style='idth:50px; height 50px; z-index: 2;top: 50%;left: 3%; border: 2px white solid;padding: -1px;padding: 5px white solid;z-index: 1;background-color: white;' src="/profile_pictures/icon_good.png")
            span(style='font-size:25px !important') &nbsp; Good Job
        i.close.icon
        .content(style='padding-top:10px;border:none;')
          span(style='font-size:20px !important') Blocking this sender is correct because this email is indicative of an identity theft scam. You could also report or delete the email. We can look into why this is a scam.
          button.btn.close_modal(style='cursor:pointer; padding: 6px; border: 1px solid grey; border-radius: 50px; white-space: nowrap; margin-right:10px; margin-bottom:5px; margin-top:15px;background-color:white;width:100% !important;height:40px') Continue Exploring

        .action  

      .ui.small.long.post.modal.report_modal 
        
        .header(style="padding-bottom:0px; border:none; display: flex !important; flex-direction: column; justify-content: center; align-items: center;") 
          div(style="display:flex")
            img(style='idth:50px; height 50px; z-index: 2;top: 50%;left: 3%; border: 2px white solid;padding: -1px;padding: 5px white solid;z-index: 1;background-color: white;' src="/profile_pictures/icon_good.png")
            span(style='font-size:25px !important') &nbsp; Good Job
        i.close.icon
        .content(style='padding-top:10px;border:none;')
          span(style='font-size:20px !important') Reporting this email is correct because this email is indicative of an identity theft scam. You could also block the sender or delete the email. We can look into why this is a scam.
          button.btn.close_modal(style='cursor:pointer; padding: 6px; border: 1px solid grey; border-radius: 50px; white-space: nowrap; margin-right:10px; margin-bottom:5px; margin-top:15px;background-color:white;width:100% !important;height:40px') Continue Exploring

        .action  
     
      .ui.small.long.post.modal.delete_modal 
        
        .header(style="padding-bottom:0px;border:none; display: flex !important; flex-direction: column; justify-content: center; align-items: center;") 
          div(style="display:flex")
            img(style='idth:50px; height 50px; z-index: 2;top: 50%;left: 3%; border: 2px white solid;padding: -1px;padding: 5px white solid;z-index: 1;background-color: white;' src="/profile_pictures/icon_good.png")
            span(style='font-size:25px !important') &nbsp; Good Job
        i.close.icon
        .content(style='padding-top:10px;border:none;')
          span(style='font-size:20px !important') Deleting this email is correct because this email is indicative of an identity theft scam. You could also block the sender or report it as a scam. We can look into why this is a scam.
          button.btn.close_modal(style='cursor:pointer; padding: 6px; border: 1px solid grey; border-radius: 50px; white-space: nowrap; margin-right:10px; margin-bottom:5px; margin-top:15px;background-color:white;width:100% !important;height:40px') Continue Exploring

        .action 
block scripts
  script.
    document.querySelector('.ui.borderless.menu.tablet-and-computer').style.setProperty('z-index', 'auto', 'important');
     $('.link').on('click', function(){
      $('.link_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('show');
    });
    $('.close_modal').on('click', function(){
      $('.link_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('hide');
    });

     $('.reply').on('click', function(){
      $('.reply_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('show');
    });
    $('.close_modal').on('click', function(){
      $('.reply_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('hide');
    });

    $('.block').on('click', function(){
      $('.block_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('show');
    });
      
    $('.close_modal').on('click', function(){
      $('.block_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('hide');
    });
      
    $('.report').on('click', function(){
      $('.report_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('show');
    });
    $('.close_modal').on('click', function(){
      $('.report_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('hide');
    });
    $('.delete').on('click', function(){
      $('.delete_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('show');
    });
    $('.close_modal').on('click', function(){
      $('.delete_modal').modal({
        onDeny: function(){
          return true;
        }
      }).modal('hide');
    });


block styles
 link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
 style(type='text/css').
  /* Sidebar */
  .sidebar {
    width: 20%;
    padding-right: 20px;
  }
  
  .sidebar__compose {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: gray;
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  }
  
  .sidebar__compose span {
    margin-right: 5px;
  }
  
  .sidebarOption {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
  }
  
  .sidebarOption .material-icons {
    padding: 5px;
  }
  
  .sidebarOption h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .sidebarOption:hover,
  .sidebarOption:hover h3,
  .sidebarOption:hover .material-icons,
  .sidebarOption__active,
  .sidebarOption__active h3,
  .sidebarOption__active .material-icons {
    background-color: #d3e3fd;
    color: #27425a;
    font-weight: 800;
  }
  
  .sidebar__footer {
    display: flex;
    justify-content: center;
  }
  
  .sidebar__footerIcons .material-icons {
    margin: 7px;
    cursor: pointer;
  }
  
  /* main body */
  .main__body {
    display: flex;
    height: 100vh;
  }
  
  body {
    height: 100vh;
    overflow-y: hidden;
  }
  
  /* email list */
  .emailList {
    width:80%
  }
  
  .emailList__settings {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 8px;
  }
  
  .emailList__settingsLeft {
    display: flex;
    align-items: center;
  }
  
  .emailList__settings .material-icons {
    margin: 5px;
    cursor: pointer;
  }
  
  .section {
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: grey;
    border-width: 0;
  }
  
  .emailList__sections {
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
  }
  
  .section__selected {
    background-color: whitesmoke;
    border-width: 3px;
    color: #0b57d0;
    border-bottom: 3px solid #0b57d0;
  }
  
  .section__selected .material-icons {
    color: #0b57d0;
  }
  
  .section:hover {
    background-color: whitesmoke;
    border-width: 3px;
  }
  
  .section h4 {
    font-size: 14px;
    margin-left: 15px;
  }
  
  .emailRow__options {
    display: flex;
    align-items: center;
  }
  
  .emailRow__options .material-icons,
  input {
    margin: 5px;
  }
  
  .emailRow {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
  }
  
  .emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
  }
  
  .emailRow__message {
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 13px;
  }
  
  .emailRow__message h4 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .emailRow__title {
    font-size: 13px;
    flex: 0.3;
  }
  
  .emailRow__time {
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .emailRow__description {
    font-weight: 400;
    color: gray;
  }
  
  .example {
  display: flex;
  flex-direction: column;
  }
  .example h2 {
    background: white;
  }

  .example-layout {
    display: flex;
    flex-direction: column;

  }
  .example-layout header,
  .example-layout footer {
    padding: 20px;
    background: #666;
    color: white;
  }
  .example-layout .row {
    display: flex;
    flex-grow: 1;
    background: white;
  }
  .example-layout .row .col-1 {
    background: white;
    flex-grow: 1;
    width: 350px;
  }
  .example-layout .row .col-2 {
    background: white;
    width: 60px;
    order: -1;
  }
  .example-layout .row .col-3 {
    background: white;
    width: 80px;
  }