extends ../ui_layout

block content
  .sixteen.wide.column
    h2.ui.header Create a new Password
    p="Now pick a password for your account. Pick something that is easy to remember but hard for others to guess. Try to choose something that is 10 letters and numbers or longer. Enter your password twice, once in each box, so that you’re sure you’re typing it right!"
    form.ui.form(id='signup-password-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .field
        label(for='password') Password
        input(type='password', name='password', id='password', placeholder='Password', required)

      .field
        label(for='confirmPassword') Confirm Password
        input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
          
      .field
      button.ui.button(type='submit') Create Password
