extends ../ui_layout

block content

  .ui.container#raised-container.short-page-margin
    .ui.raised.segment(style="margin-top:50px")
      #raised-content
        .limit
          form.ui.form(style="width: 100%" action='/postIdentityTheftModOneQuizScore', method='POST')
            input(type='hidden', name='username', value=user.username)
            input(type='hidden', name='_csrf', value=csrfToken)
            h3 4. Is the following email a scam?
            img(style='cursor:pointer; max-width:100% !important; height auto !important; max-height:550px; z-index: 2;top: 50%;left: 3%; border: 2px white solid;padding: -1px;padding: 5px white solid;z-index: 1;background-color: white;' src="/profile_pictures/Email_Fake_167_1.png")

            .field
              #b1.ui.radio.checkbox(style='border: 2px solid gray; border-radius: 5px; padding: 15px; width: 100%')
                input(type='radio' name='q1' value = 'a' id='radio1')
                label Yes
            .field
              #b2.ui.radio.checkbox(style='border: 2px solid gray; border-radius: 5px; padding: 15px; width: 100%')
                input(type='radio' id = 'c2' name='q1' value = 'b')
                label No
          
              br
              br
              h1
              h1
    .ui.container#nav-container
      .div#nav-menu          
        button.ui.huge.basic.button.left.floated#backButton(onclick="location.href='/post_quiz3';") 
          i.arrow.left.icon 
          | Back
        button.ui.huge.blue.button.right.floated#submitQuestion(style="border-radius:40px" onclick ='checkQuestion()')
          | Submit
        button.ui.huge.blue.button.right.floated#nextButton(style="display:none" onclick="location.href='/post_quiz5';")
          | Next
          i.arrow.right.icon
//- next location is in user.js postIdentityTheftModOneQuizScore

block scripts
  script.
    function checkQuestion(){
      document.getElementById("submitQuestion").style.display = "none";
      document.getElementById("nextButton").style.display = "unset";
      document.getElementById("b1").style.borderColor="green";
      document.getElementById("b2").style.borderColor="red";
    }
  
  
block styles
  link(rel='stylesheet', href='/css/module.css')  
    
    
