extends ../ui_layout

block content
  
  .sixteen.wide.column
    h3.ui.header Profile Information

    form.ui.form(action='/account/profile', method='POST', enctype='multipart/form-data')
      input(type='hidden', name='_csrf', value=_csrf)
      .field
        label(for='name') Name
        input.form-control(type='text', name='name', id='name', value=user.profile.name)
      .field
        label(for='location') Location
        input.form-control(type='text', name='location', id='location', value=user.profile.location)
      .field
        label(for='bio') Bio
        textarea(rows='2', name='bio', id='bio')=user.profile.bio
      button.ui.button(type='submit') Update Profile