extends ../ui_layout

block content
  
  .sixteen.wide.column
    h3.ui.header Profile Information

    form.ui.form(action='/account/profile/'+mod, method='POST', enctype='multipart/form-data')
      input(type='hidden', name='_csrf', value=_csrf)
      .field(data-tooltip="Remember, this information is stored on the site until you finish the lesson. Think about using a nickname or an alias instead of your real name." data-position="bottom left")
        label(for='name') Name
        input.form-control(type='text', name='name', id='name', value=user.profile.name)
      .field(data-tooltip="Think about using another location instead of your real location." data-position="bottom left")
        label(for='location') Location (City, State)
        input.form-control(type='text', name='location', id='location', value=user.profile.location)
      .field
        label(for='bio') Bio
        textarea(rows='2', name='bio', id='bio')=user.profile.bio
      button.ui.button(type='submit') Update Profile
