extends ../ui_layout

block content
  .ui.container#raised-container
    .ui.basic.segment#avatarContainer
      #raised-content
        h1.ui.header.large#mod-title(style="margin-top: -20px;")
          i.secret.user.icon
          .content
            | Welcome aboard, Agent!
        .mission-info
          //- h2 Your Target: 
          .ui.stackable.grid 
            .row.middle.aligned
              .ten.wide.column
                img(src="/images/dart-bullet.svg", alt="Bullet Point")
                span.target  Your Target: 
                p
                p(style="margin-left: 65px;") The Society for Covert Attacks and Mass Manipulation (SCAMM), a notorious group of scammers led by Walter Fang.
              .six.wide.center.aligned.column
                img(src="/images/scamm.png", alt="Group of Scammers" style="width: 225px;")
            .row.middle.aligned
              .ten.wide.column
                img(src="/images/dart-bullet.svg", alt="Bullet Point")
                span.target  Mission Brief: 
                p
                p(style="margin-left: 65px;") Learn how SCAMM works by going "deep cover." This means you'll work hands-on to uncover their tricks.
              .six.wide.center.aligned.column
                img(src="/images/deepcover.png", alt="Deepcover mission badge labeled: exposing scam and protecting the people" style="width: 175px;")
            .row.middle.aligned
              .sixteen.wide.column
                img(src="/images/dart-bullet.svg", alt="Bullet Point")
                span.target  Your Team: 
                p
                p(style="margin-left: 65px;") Choose from Valiant, Daring, and Intrepid — skilled agents ready to assist you!

          //- h2 Your Team:
          //- img(src="/images/dart-bullet.svg", alt="Bullet Point")
          //- p Choose from Valiant, Daring, Intrepid, and Dartie — skilled agents ready to assist in this operation.
        br
        h1 Choose Your Guide:
        .ui.stackable.three.column.grid
            .column
                .ui.card(onclick='updateAvatar("Daring", "/images/agent-daring.png")')
                    .ui.small.centered.image
                        img.daring(src='/images/agent-daring.png')
                    .content
                        a.header Daring
                        .meta
                          p.descriptors Bold, Fearless, Confident
                    button.ui.fluid.blue.huge.button Select
            .column
                .ui.card(onclick='updateAvatar("Valiant", "/images/agent-valiant.png")') 
                    .ui.small.centered.image
                        img.valiant(src='/images/agent-valiant.png')
                    .content
                        a.header Valiant
                        .meta
                          p.descriptors Courageous, Heroic, Noble &nbsp;
                    button.ui.fluid.blue.huge.button Select
            .column
                .ui.card(onclick='updateAvatar("Intrepid", "/images/agent-intrepid.png")')
                    .ui.small.centered.image
                        img.intrepid(src='/images/agent-intrepid.png')
                    .content
                        a.header Intrepid
                        .meta
                          p.descriptors Clever, Energetic, Resilient
                    button.ui.fluid.blue.huge.button Select
            //- .four.wide.column
            //-     .ui.card(onclick='updateAvatar("Dartie", "/images/agent-dartie.png")')
            //-         .ui.medium.centered.image
            //-             img.dartie(src='/images/agent-dartie.png' style="width: 200px;")
            //-         .content
            //-             a.header Dartie
            //-             .meta
            //-               p.descriptors Playful, Energetic, Loyal
            //-         button.ui.fluid.blue.huge.button Select

        //- .ui.grid.buttonGrid
        //-     .column.center.aligned
        //-         button.ui.blue.huge.basic.button I prefer to learn on my own
        br
        br

block scripts
  script.
    function updateAvatar(avatarName, avatarImg) {
      var userData = {
        avatar: avatarName,
        avatarImg: avatarImg
      };
      
      fetch('/postAvatar', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          // Include other headers as needed
        },
        body: JSON.stringify(userData)
      })
      .then(response => {
        if (response.ok) {
          console.log('Avatar updated successfully');
          window.location.href = '/character';
          // Handle success
        } else {
          console.error('Failed to update avatar');
          // Handle errors
        }
      })
      .catch(error => {
        console.error('Error:', error);
        // Handle network errors
      });
    }



block styles
  link(rel='stylesheet', href='/css/character-selection.css') 
