extends ../ui_layout

block content
  .ui.container#raised-container
    .ui.basic.segment#avatarContainer
      #raised-content
        h1.ui.header.large#mod-title
          .content
            | Welcome aboard, Agent!
        .mission-info
          h2 Your Target: 
          p SCAMM, a notorious group of scammers led by Walter Fang. They're the bad guys we're after.

          h2 Mission Brief: 
          p Learn how SCAMM works by going "deep cover." This means you'll work hands-on to uncover their tricks.

          h2 Your Team:
          p Choose from Valiant, Daring, Intrepid, and Dartie — skilled agents ready to assist in this operation.

        h1 Choose Your Guide:
        .ui.stackable.four.column.grid
            .four.wide.column
                .ui.card
                    .ui.small.centered.image
                        img.daring(src='/images/agent-daring.png')
                    .content
                        a.header Daring
                        .meta
                          p.descriptors Bold, Fearless, Confident
                        br
                        button.ui.fluid.blue.huge.button Select
            .four.wide.column
                .ui.card
                    .ui.small.centered.image
                        img.valiant(src='/images/agent-valiant.png')
                    .content
                        a.header Valiant
                        .meta
                          p.descriptors Courageous, Heroic, Noble
                        br
                        button.ui.fluid.blue.huge.button Select
            .four.wide.column
                .ui.card
                    .ui.small.centered.image
                        img.intrepid(src='/images/agent-intrepid.png')
                    .content
                        a.header Intrepid
                        .meta
                          p.descriptors Clever, Astute, Resilient
                        br
                        button.ui.fluid.blue.huge.button Select
            .four.wide.column
                .ui.card
                    .ui.medium.centered.image(style="min-height: 300px; justify-content: center; align-items: center; display: flex;")
                        img.dartie(src='/images/agent-dartie.png' style="width: 200px;")
                    .content
                        a.header Dartie
                        .meta
                          p.descriptors Playful, Energetic, Loyal
                        br
                        button.ui.fluid.blue.huge.button Select

        //- .ui.grid.buttonGrid
        //-     .column.center.aligned
        //-         button.ui.blue.huge.basic.button I prefer to learn on my own
        br
        br

block scripts
  script.
    function saveButton1() {
      localStorage.setItem('character', 'Daring_PT_Determined.png');
      location.reload();
      window.location.href = '/character';
    }
    function saveButton2() {
      localStorage.setItem('character', 'Dartie_Happy_3.png');
      location.reload();
      window.location.href = '/character';
    }

    function saveButton3() {
      localStorage.setItem('character', 'Intrepid_PT_Determined.png');
      location.reload();
      window.location.href = '/character';
    }

    function saveButton4() {
      localStorage.setItem('character', 'Valiant_PT_Determined.png');
      location.reload();
      window.location.href = '/character';
    }

    function saveButton5() {
      localStorage.setItem('character', 'info-icon.png');
      location.reload();
      window.location.href = '/character';
    }


block styles
  link(rel='stylesheet', href='/css/character-selection.css') 
