extends ../ui_layout 

block content
    .ui.middle.aligned.center.aligned.grid
        .column.left.aligned
            br
            br
            .ui.stacked.segment(style="margin-top: 46px;")
                h2#welcome Create an account
                p#details Please enter your details.
                form.ui.form#signup-form(method='POST' novalidate)
                    //- input(type='hidden', name='_csrf', value=_csrf)
                    .field
                        .help-container
                            i.icon.large.info.circle.blue.link(data-content="Your name lets us create a profile for you and personalize your experience on our platform." data-position="left center")
                        label Name: 
                        input#name(type='text', name='name', placeholder='Enter your name', autofocus, autocomplete='name', required)
                    .field
                        .help-container
                            i.icon.large.info.circle.blue.link(data-content="Your email will be used for communication, password recovery, and platform notifications." data-position="left center")
                        label Email: 
                        input#email(type='email', name='email', placeholder='Enter your email', autocomplete='email', required)
                    .field 
                        .help-container
                            i.icon.large.info.circle.blue.link(data-content="Create a password with a minimum of 8 characters. Consider including uppercase, lowercase, numbers, and special symbols for added security." data-position="left center")
                        label Password:
                        .password-container 
                            input#password(type='password', name='password', placeholder='Create a password', autocomplete='new-password', minlength='8', required)
                            .password-toggle(aria-label="Show password as plain text. Warning: this will display your password on the screen.")
                                i.icon.large.eye#showPassword
                                .password-text Show
                    .field#news-checkbox
                        .help-container
                            i.icon.large.info.circle.blue.link(data-content="Subscribe to our newsletter to receive cybersecurity tips, stay informed about the latest scams, and learn about enhancements to the DART platform." data-position="left center")
                        .ui.checkbox.huge
                            input#newsletter(type='checkbox', name='newsletterConsent')
                            label#subscribe-label Subscribe to newsletter

                    button.ui.fluid.blue.massive.button(type='submit') Sign Up
                    p#inform-terms By signing up, you agree to our 
                        a(href="/terms") Terms of Use
                        | , 
                        a(href="/privacy") Privacy Policy
                        | , and  
                        a(href="/cookies") Cookie Policy 
                    .ui.divider
                    //- .ui.fluid.white.huge.submit.button Sign Up
                    span.small-text Already haven an account? 
                    a.small-text(href="/login") Log in
            br




block styles 
  //- same styles as login page
  link(rel='stylesheet', href='/css/account-access.css')

block scripts
  script(src='/js/signup.js')
  script(src='/js/password-toggle.js')
