extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container.addBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect

    .ui.raised.segment.responseOne
      .ui.label
        h4
          | Did you notice any changes in Lily’s profile after you changed the privacy settings?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="privacy_responseOne")

    .ui.raised.segment.responseTwo
      .ui.label
        h4
          | Why is it important to know what information websites collect about you?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="privacy_responseTwo")

    .ui.raised.segment.responseThree
      .ui.label
        h4
          | What are the three things you should ask yourself when reading a privacy policy?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="privacy_responseThree")
            
    .ui.raised.segment.responseFour
      .ui.label
        h4
          | What can you do in the future to protect your privacy on social media?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="privacy_responseFour")
          
          

    br
    .ui.big.green.labeled.icon.button(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.cyberbullying_end
          i.rocket.icon
          |   Continue
          
          
block scripts
  script(src="/module_js/privacy/privacy_results.js")
    
block styles
  link(rel='stylesheet', href='/css/results.css')
  
