extends ../ui_layout

block content
  
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    .ui.one.column.centered.grid(style="padding-top:1em;")
      .ui.fixed.bottom.sticky(style="padding-bottom:6em;")
        .ui.icon.compact.message.warning(style="display:none;")#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
          
        .ui.icon.message.warning(style="display:none;")#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue.
    
    .ui.container(style="margin-top:1em;" data-hint="What would Lily need to do if she didn’t want strangers to see her social media posts? Which privacy settings would she have to change?")
      h2.ui.header#topOfPage Privacy Settings
      br
      .ui.divider
      br
      form.ui.form
        .grouped.fields
          label(for='account', style="font-size:140%") Account Settings
            .field(data-hint="She can make her account “<i>Private</i>,” so that only her social media friends can see her posts. Let’s try doing this!" data-hintPosition="top-middle")
              br
              .ui.warning.message#privateAccountCueText(style="display:none; font-size:60%;")
                .header
                  | Turn on the "private account" setting
              .ui.toggle.checkbox#privateAccountCue(name='togglePrivateAccount')
                input(type='checkbox' name='toggleValue')
                label Private account
            span.settingSmallLabel When your account is private, only people you approve can see your posts.
            br
            br
            
      .ui.divider
      br
      form.ui.form
        .grouped.fields
            label(for='interaction', style="font-size:140%") Interaction Settings
            br
            br
            label(for='contacts', style="font-size:120%") Contacts
            .field
              br
              label(style="font-size:100%") Allow friend requests from
                .div(style='width: 200px;')
                .ui.selection.disabled.dropdown
                  input(type='hidden' name='friendRequests')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
            br
            .field
              label(style="font-size:100%") Who can see my friends list?
                .div(style='width: 200px;')
                .ui.selection.disabled.dropdown
                  input(type='hidden' name='friendList')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            label(for='comments', style="font-size:120%") Comments
            .field
              br
              label(style="font-size:100%") Allow comments from
                .div(style='width: 200px;')
                .ui.selection.disabled.dropdown
                  input(type='hidden' name='friendRequests')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            .field
              label(style="font-size:100%") Block comments from
              .div(style='width: 200px;')
                select.ui.fluid.search.disabled.dropdown(multiple='')
                  option Fake N. Ame
                  option Ima Robot
                  option Cloe Hansen
                  option Hayden Abbey
                  option Kiki Pualani
                  option Elli Andreas
                  option Lauren Wakefield
                  option Rob Yang
                  option Katherine Zhou
                  option Franklin Robinson
                  option Aidan Acosta
                  option Shika Ramphal
                  option Jason Perez
                  option Sarah Stella
                  option Keith Hernandez
                  option Elena Anderson
                  option Mary Beckett
                  option Ethan Kravitz
                  option Dylan Goldstein
                  option David Cole
                  option Lana Sheehan
                  option Claire Johnson
                  option Jenny Chen
                  option Ella Sroni
            br
            label(for='tags', style="font-size:120%") Tags
              .field
                br
                .ui.toggle.read-only.checkbox
                  input(type='checkbox' name='public')
                  label Allow people to tag me in their posts
              .field
                .ui.toggle.read-only.checkbox
                  input(type='checkbox' name='public')
                  label Automatically add tagged posts in my timeline
                  br
                  br
      .ui.divider
      br
      form.ui.form
        .grouped.fields
            label(for='information', style="font-size:140%") Location Sharing Settings
              .field
                br
                .ui.toggle.read-only.checkbox
                  input(type='checkbox' name='locationShare')
                  label Turn on location sharing
            .field
              br
              label(style="font-size:100%") Share my location with
                .div(style='width: 200px;')
                .ui.selection.disabled.dropdown#locationDropdown
                  input(type='hidden' name='resetDropdownSelection')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            .ui.divider
            br(data-hint="Have you changed the account settings to a “<i>Private</i>” account? Click “<i>Let’s Continue!</i>” to see how her profile has changed." data-hintPosition="middle-right")

    .ui.warning.message#clickAllDotsSettings2(style="display:none;")
      .header
        | Click through all of the blue dots to continue
    button.ui.big.labeled.icon.button.free3#free3Button(style="margin-bottom:4em;")
        i.rocket.icon
        |   Let's Continue!
        
        
block scripts
  script().
    
    var literacy_counter = 0;
    clickCount = 0;
    
    //Get the status of the key setting
    var keySetting1 = $("input[name='toggleValue']").is(':checked');
    
    //Using logic to determine if all required criteria are met before allowing to proceed 

    $(".ui.toggle.checkbox[name='togglePrivateAccount']").change(function() {
      keySetting1 = $("input[name='toggleValue']").is(":checked");
      if(keySetting1 == true){
        $('#privateAccountCueText').hide();
      }
      if(literacy_counter == 3) {
        if((keySetting1 == true)){
           $( ".free3" ).addClass("green");
        }
        else{
          $( ".free3" ).removeClass("green");
        }
      }
    });
    
    //Initializing and managing the hints
    function startIntro(){
        var hints;

        hints = introJs().addHints();
        
        hints.onhintclick(function() {
            clickCount++;
            if(clickCount >= 3){
              //show the guidance message, user probably doesn't know to click "got it"
              if($('#removeHidden').is(":hidden")){
                $('#removeHidden').transition('fade');
                $('#free3Button').css("margin-bottom", "10em");
              } else {
                $('#removeHidden').transition('bounce');
              }
            }
        });
        
        hints.onhintclose(function(e) {
         literacy_counter++;
         clickCount = 0;
         if($('#removeHidden').is(":visible")){
           $('#removeHidden').transition('fade');
           if($('#clickAllDotsWarning').is(":hidden")){
             $('#free3Button').css("margin-bottom", "4em");
           }
         }
         if(literacy_counter == 3) {
           if($('#clickAllDotsWarning').is(':visible')){
             $('#clickAllDotsWarning').transition('fade');
             $('#free3Button').css("margin-bottom", "4em");
           }
           if(keySetting1 == true){
              $( ".free3" ).addClass("green");
           }
         }
        });  
      };
      
      //Function for adding visual cue to the appropriate setting
    
      function jiggleCue() {
        $('#privateAccountCue').transition('shake');
      }
      
      //Adding messaging for the private account setting, scrolling to the setting
      
      $('#free3Button').on('click', function () {  
        if(literacy_counter != 3){
          //show the message normally the first time
          if($('#clickAllDotsWarning').is(":hidden")){
            $('#clickAllDotsWarning').transition('fade');
            $('#free3Button').css("margin-bottom", "10em");
          }else{
            //otherwise, bounce the message to draw attention to it
            $('#clickAllDotsWarning').transition('bounce');
          }
        }
        if(keySetting1 == false){
          $('#privateAccountCueText').show(); 
          
          //snippet taken from StackOverflow
          $([document.documentElement, document.body]).animate({
              scrollTop: $("#topOfPage").offset().top
          }, 1000);
          
          setTimeout(function () {
            $('#privateAccountCue').transition('bounce');
          }, 1000);
        } else {
          $('#privateAccountCueText').hide();
        }
     });

    $(window).on("load", function() {startIntro();});

    //Make the dropdown work
    $('.ui.dropdown')
      .dropdown('set selected', '0');
    
    $('#locationDropdown')
      .dropdown('set selected', '2');
