extends ../ui_layout

block content

  .ui.text.container
    br
    h3 You have completed this lesson!
    h3 Would you like to: 

    .ui.big.green.labeled.icon.button.finish
        i.rocket.icon
        |   Finish Lesson
    br
    br
    .ui.big.green.labeled.icon.button.cybertutorial
        i.chevron.circle.left.icon
        |   Go Back to the Tutorial
    br
    br
    .ui.big.green.labeled.icon.button.cybersim
        i.chevron.circle.left.icon
        |   Go Back to the Guided Activity
    br
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |  Go Back to the Timeline
    br
    br
    br
      
block scripts
  script().
    function startIntro(){       
          window.location.href='/free-play/privacy';
        };
