extends ../ui_layout

block content
  
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    .ui.container(data-hint="Lily would like to hide her location information from the public on the Internet. Which privacy settings would she have to change?" data-hintPosition="top-middle")
      h2.ui.header Privacy Settings
      br
      .ui.divider
      br
      form.ui.form
        .grouped.fields
          label(for='account', style="font-size:140%") Account Settings
            .field
              br
              .ui.toggle.read-only.checkbox
                input(type='checkbox' name='privateAccount')
                label Private account
            span.settingSmallLabel When your account is private, only people you approve can see your posts.
            br
            br
            .field
              .ui.toggle.read-only.checkbox
                input(type='checkbox' name='public' checked='checked')
                label Allow my account to show in search engine results
            span.settingSmallLabel When this setting is on, search engines may link to your profile in their results.
            br
            br
      .ui.divider
      br
      form.ui.form
        .grouped.fields
            label(for='interaction', style="font-size:140%") Interaction Settings
            br
            br
            label(for='contacts', style="font-size:120%") Contacts
            .field
              br
              label(style="font-size:100%") Allow friend requests from
                .div(style='width: 200px;')
                .ui.selection.disabled.dropdown
                  input(type='hidden' name='friendRequests')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
            br
            .field
              label(style="font-size:100%") Who can see my friends list?
                .div(style='width: 200px;')
                .ui.selection.disabled.dropdown
                  input(type='hidden' name='friendList')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            label(for='comments', style="font-size:120%") Comments
            .field
              br
              label(style="font-size:100%") Allow comments from
                .div(style='width: 200px;')
                .ui.selection.disabled.dropdown
                  input(type='hidden' name='friendRequests')
                  i.dropdown.icon
                  .default.text Select
                  .default.
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            .field
              label(style="font-size:100%") Block comments from
              .div(style='width: 200px;')
                select.ui.fluid.search.disabled.dropdown(multiple='')
                  option Fake N. Ame
                  option Ima Robot
                  option Cloe Hansen
                  option Hayden Abbey
                  option Kiki Pualani
                  option Elli Andreas
                  option Lauren Wakefield
                  option Rob Yang
                  option Katherine Zhou
                  option Franklin Robinson
                  option Aidan Acosta
                  option Shika Ramphal
                  option Jason Perez
                  option Sarah Stella
                  option Keith Hernandez
                  option Elena Anderson
                  option Mary Beckett
                  option Ethan Kravitz
                  option Dylan Goldstein
                  option David Cole
                  option Lana Sheehan
                  option Claire Johnson
                  option Jenny Chen
                  option Ella Sroni
            br
            label(for='tags', style="font-size:120%") Tags
              .field
                br
                .ui.toggle.read-only.checkbox
                  input(type='checkbox' name='public' checked='checked')
                  label Allow people to tag me in their posts
              .field
                .ui.toggle.read-only.checkbox
                  input(type='checkbox' name='public' checked='checked')
                  label Automatically add tagged posts in my timeline
                  br
                  br
      .ui.divider
      br
      form.ui.form
        .grouped.fields
            label(for='information', style="font-size:140%") Location Sharing Settings
              .field(data-hint='She can <b>turn off location sharing</b> and restrict who can see her location to <b>“Friends” only</b>. Let’s try doing this!' data-hintPosition="top-middle")
                br
                .ui.toggle.checkbox#locationCue1(name='locationToggle')
                  input(type='checkbox' name='locationSetting' checked='checked')
                  label Turn on location sharing
            .field
              br
              label(style="font-size:100%") Share my location with
                .div(style='width: 200px;')
                .ui.selection.dropdown#locationCue2(name='shareLocationWith')
                  input(type='hidden')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            .ui.divider
            br(data-hint="Have you turned off location sharing and changed who can see Lily’s location? Click “Let’s Continue!” to see how her profile has changed." data-hintPosition="middle-right")
    
    
    .ui.warning.message#locationCue1Text(style="display:none;")
      .header
        | Turn location sharing off
    .ui.warning.message#locationCue2Text(style="display:none;")
      .header
        | Change to share your location with "Friends"
    .ui.warning.message#locationCue3Text(style="display:none;")
      .header
        | Click through all of the blue dots
    button.ui.big.labeled.icon.button.settings1#settings1Button
        i.rocket.icon
        |   Let's Continue!
        
        
block scripts
  script().
    
    var literacy_counter = 0;
    
    //Variables for the two key settings 
    var keySetting1 = $("input[name='locationSetting']").is(':checked');
    var keySetting2 = "";
    
    //Initializing and managing the hints
    function startIntro(){
        var hints;
        hints = introJs().addHints();
        console.log('hints added')
        hints.onhintclose(function(e) {
         literacy_counter++;
         //turn the button green if all three criteria are met
         if(literacy_counter == 3) {
           //remove the yellow warning about dots 
           $('#locationCue3Text').hide();
           if((keySetting1 == false) && (keySetting2 === "Friends")){
              $( ".settings1" ).addClass("green");
           }
         }
        });  
      };

    $(window).on("load", function() {startIntro();});

    //Make the dropdown work
    $('.ui.dropdown')
      .dropdown('set selected', '0');
      
    /*All code below is using logic to determine if all required criteria are met before allowing to proceed, handling error messages*/
    
    //Functions for adding visual cues to the appropriate settings
    
    function jiggleCueOne() {
      $('#locationCue1').transition('shake');
    }
    function jiggleCueTwo() {
      $('#locationCue2').transition('shake');
    }
    
    $('#settings1Button').on('click', function () {  
      if(keySetting1 == true){
        $('#locationCue1Text').show(); 
        $('#locationCue1').transition('bounce');   
      } else {
        $('#locationCue1Text').hide();
      }
      if(keySetting2 !== "Friends"){
        $('#locationCue2Text').show(); 
        $('#locationCue2').transition('bounce');   
      } else {
        $('#locationCue2Text').hide();
      } 
      if(literacy_counter != 3){
        $('#locationCue3Text').show(); 
      }
   });
    
        
    //get the value of the dropdown when it changes
    $(".ui.selection.dropdown[name='shareLocationWith']").change(function() {
      keySetting2 = $(".ui.selection.dropdown[name='shareLocationWith']").dropdown('get text');
      
      //If the yellow warning is already open, make it disappear when setting is corrected
      if(keySetting2 === "Friends"){
        $('#locationCue2Text').hide();
      }
      
      //All blue dots are clicked and the settings are correct
      if(literacy_counter == 3) {
        if((keySetting1 == false) && (keySetting2 === "Friends")){
           $( ".settings1" ).addClass("green");
        }
        else{
          $( ".settings1" ).removeClass("green");
        }
      }
    });
    
    //Get the value of the toggle when it changes
    $(".ui.toggle.checkbox[name='locationToggle']").change(function() {
      keySetting1 = $("input[name='locationSetting']").is(":checked");
      
      //If the yellow warning is already open, make it disappear when setting is corrected
      if(keySetting1 == false){
        $('#locationCue1Text').hide();
      }

      if(literacy_counter == 3) {
        if((keySetting1 == false) && (keySetting2 === "Friends")){
           $( ".settings1" ).addClass("green");
        }
        else{
          //Indicate settings to change with animation
          $( ".settings1" ).removeClass("green");
        }
      }
    });
