extends ../ui_layout

block content
  
  .ui.text.container(style="margin-bottom:4em;")
    br
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | When you go on social media, it’s important to be aware of what you share and who you share it with.
      
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | If you have your social media profile open to the public, people can use your information for harmful things, like to try to trick or scam you.

      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | The information you share can also be used by the company that runs the website. They can sell your information to advertisers and show you targeted advertisements.
      
      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header 
        i.hand.pointer.icon(style="color:gray;")
        span(style="color: gray;") Click on each label below to learn more
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          #privacyConcept.ui.raised.segment
            a.ui.blue.ribbon.label#privacyLabel
                //- i.magic.icon 
                span Privacy
            span.hidden(id="privacyConcept_info",style="font-weight:600")  Control of personal information to protect it from being observed or tracked by others.

        .ui.column
          #settingsConcept.ui.raised.segment
            a.ui.blue.ribbon.label#settingsLabel
                //- i.dollar.sign.icon 
                span Privacy Settings
            span.hidden(id="settingsConcept_info", style="font-weight:600") Choices a website or app might give you about what information is visible to other users and companies.

        .ui.column
          #privacyPolicyConcept.ui.raised.segment
            a.ui.blue.ribbon.label#privacyPolicyLabel
                //- i.magic.icon 
                span Privacy Policy
            span.hidden(id="policyConcept_info",style="font-weight:600") A legal document that an app or website must provide and that describes what user information they collect and how they use it.
        
        .ui.column
          #optOut.ui.raised.segment
            a.ui.blue.ribbon.label#optOutLabel
                //- i.magic.icon 
                span Opt Out
            span.hidden(id="optOut_info",style="font-weight:600") To choose to not participate in something.
              
    .ui.warning.message#clickNextWarning(style="display:none;")
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning(style="display:none;")
     .header
      | Click on each label to proceed  
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!
            
block scripts
  script(src="/module_js/privacy/privacy_start.js")
