extends ../ui_layout

block content

  .ui.text.container
    br
    .column
      .ui.raised.segment
         p Now that you have practiced changing privacy settings, let’s check out a Privacy Policy! Try using the <b>ASK</b> method to learn what information TestDrive collects about you when you use it. Remember, ASK stands for...
          
          .item
            p
              i.arrow.circle.right.blue.icon
              | Accessed: What will be <b>accessed</b> or collected by the company?

          br
          
          .item
            p
              i.arrow.circle.right.blue.icon
              | Shared: What will be <b>shared</b> with other people or third parties?
          br
          .item
            p
              i.arrow.circle.right.blue.icon
              | Known: What could be <b>known</b> about me if I use this?
    
    br
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |  Got It!
    br
    br
    br
      
  block scripts
    script().
      function startIntro(){       
            window.location.href='/sim2/privacy';
          };
