extends ../ui_layout

block content

  .ui.text.container
    br
    .ui.raised.segment
      h2.ui.header
        //- i.check.square.outline.green.icon
        .content What are some things I can do to protect my privacy?
          br
          
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Before you can protect your information, you need to understand what companies are collecting about you.

          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Social media sites have a privacy policy that explains what information they collect about you and what they do with it.
  
          #tut_guide_next.button.ui.mini.green.right.labeled.icon.button
                  i.down.arrow.icon
                  |   Next
            
    br
            
  
    .ui.message.negative.transition.hidden
      i.close.icon
      .header
        | Read and select all boxes to proceed!
          
    #hiddenEye.content.hidden
      .sub.header 
        i.eye.icon 
        span Read and check all the boxes below
        //-.ui.styled.fluid.accordion   
    #askQuestion.ui.raised.segment.hidden
      h2.ui.header#point3
        .content Remember the word ASK when you analyze a privacy policy. ASK yourself…
      .content.ui.list
          .item
            #protip1.ui.segment
              .ui.checkbox
                input.ui(type="checkbox")
                label(style="vertical-align: middle;") Accessed: What will be <b>accessed</b> or collected by the company?
          .item
            #protip2.ui.segment
              .ui.checkbox
                input.ui(type="checkbox")
                label Shared: What will be <b>shared</b> with other companies?
          .item
            #protip3.ui.segment
              .ui.checkbox
                input.ui(type="checkbox")
                label Known: What could be <b>known</b> about me if I use this?
                  
    br
    .ui.big.labeled.icon.button.cybersim2
        i.rocket.icon
        |   Got it!
    br
    br
    br
block scripts
  script().
    $('#tut_guide_next').on('click', function () {  
      $('#hiddenEye').show();    
      $('#askQuestion').show(); 
      $('#askQuestion').transition('jiggle');     
    }); 

    setTimeout(function(){
      $('.sub.header').transition('shake'); 
    }, 1500);

    setTimeout(function(){
      $('#point1').transition('jiggle');    
    }, 2500);



    $('#point3_button').on('click', function () {
      if (($('input:checked').length) == 
          ($('input').length)){  
        $('.ui.big.labeled.icon.button.cybersim2').addClass('green');
        $('.ui.big.green.labeled.icon.button.cybersim2').transition('jiggle');
      }
      else {
        $('.ui.message').addClass('visible')
        .delay(3000)
        .queue(function() {
          $(this).removeClass('visible').dequeue();
        });
      }
    });   

    $("input").change(function(){
      if (($('input:checked').length) == 
            ($('input').length)){
        $('.ui.big.labeled.icon.button.cybersim2').addClass('green');
        $('.ui.big.labeled.icon.button.cybersim2').transition('jiggle');
      }
      else{
        $('.ui.big.labeled.icon.button.cybersim2').removeClass('green');
      }
    });
   
    
    
