extends ../ui_layout

block content
  
  .ui.text.container(style="margin-bottom:4em;")
    br
    .ui.raised.segment
      h2.ui.header
        //- i.check.square.outline.green.icon
        .content What are some things I can do to protect my privacy?
          br
          
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Before you can protect your information, you need to understand what companies are collecting about you.

          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Social media sites have a privacy policy that explains what information they collect about you and what they do with it.
  
          #tut_guide_next.button.ui.mini.green.right.labeled.icon.button
                  i.down.arrow.icon
                  |   Next
            
    br
            
  
    .ui.message.negative.transition.hidden
      i.close.icon
      .header
        | Read and select all boxes to proceed!
          
    #hiddenEye.content.hidden(style="color:#696969;")
      .sub.header 
        .ui.compact.segment
          .ui.large.read-only.checked.checkbox.exampleCheckbox
            input.ui(type="checkbox" id="" checked="")
            label Read and check all the boxes below
        //-.ui.styled.fluid.accordion   
    #askQuestion.ui.raised.segment.hidden
      h2.ui.header#point3
        .content Remember the word ASK when you analyze a privacy policy. ASK yourself…
      .content.ui.list
          .item
            #protip1.ui.segment(style="min-height:55px;")
              .ui.checkbox
                input.ui(type="checkbox")#input1
                label(style="vertical-align: middle;") Accessed: What will be <b>accessed</b> or collected by the company?
          .item
            #protip2.ui.segment(style="min-height:55px;")
              .ui.checkbox
                input.ui(type="checkbox")#input2
                label Shared: What will be <b>shared</b> with other companies?
          .item
            #protip3.ui.segment(style="min-height:55px;")
              .ui.checkbox
                input.ui(type="checkbox")#input3 
                label Known: What could be <b>known</b> about me if I use this?
                  
    br
    .ui.warning.message#checkAllWarning(style="display:none;")
      .header
        | Check all the boxes to proceed
    .ui.warning.message#clickNextWarning(style="display:none;")
      .header
        | Click "Next"
    .ui.big.labeled.icon.button.cybersim2#privacyTutGuideButton
        i.rocket.icon
        |   Got it!

block scripts
  script(src="/module_js/privacy/privacy_tut_guide.js")
  
block styles
  link(rel='stylesheet' href='/css/checkbox_activity.css')    

    
