extends ../ui_layout

block content
  
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    .ui.container
      h2.ui.header Privacy Settings
      br
      .ui.divider
      br
      form.ui.form
        .grouped.fields(data-hint=" If your account is on a “Public” setting, everyone on the Internet can access your account and see what you post. Right now, it is set as a public account." data-hintPosition="top-middle")
          label(for='account', style="font-size:140%") Account Settings
            .div(data-hint="Let’s try changing it to “Private” so that only people you approve would be able to see your posts. Slide the button over so “Private account” is selected." data-hintPosition="left-middle")
              .field
                br
                .ui.toggle.checkbox
                  input(type='checkbox' name='public')
                  label Private account
              .field
                .ui.toggle.checkbox
                  input(type='checkbox' name='public' checked='checked')
                  label Allow my account to show in search engine results
                  br
                  br
      .ui.divider
      br
      form.ui.form
        .grouped.fields
            label(for='interaction', style="font-size:140%") Interaction Settings
            br
            br
            label(for='contacts', style="font-size:120%") Contacts
            .field(data-hint="This is where you can change who can contact you on the social media site. Try changing the settings to “Friends” or “Friends of Friends” so that strangers cannot comment on your posts or send you friend requests." data-hintPosition="top-middle")
              br
              label(style="font-size:100%") Allow friend requests from
                .div(style='width: 200px;')
                .ui.selection.dropdown
                  input(type='hidden' name='friendRequests')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
            br
            .field
              label(style="font-size:100%") Who can see my friends list?
                .div(style='width: 200px;')
                .ui.selection.dropdown
                  input(type='hidden' name='friendList')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            label(for='comments', style="font-size:120%") Comments
            .field
              br
              label(style="font-size:100%") Allow comments from
                .div(style='width: 200px;')
                .ui.selection.dropdown
                  input(type='hidden' name='friendRequests')
                  i.dropdown.icon
                  .default.text Select
                  .default.
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            .field
              label(style="font-size:100%") Block comments from
              .div(style='width: 200px;')
                select.ui.fluid.search.dropdown(multiple='')
                  option Fake N. Ame
                  option Ima Robot
                  option Cloe Hansen
                  option Hayden Abbey
                  option Kiki Pualani
                  option Elli Andreas
                  option Lauren Wakefield
                  option Rob Yang
                  option Katherine Zhou
                  option Franklin Robinson
                  option Aidan Acosta
                  option Shika Ramphal
                  option Jason Perez
                  option Sarah Stella
                  option Keith Hernandez
                  option Elena Anderson
                  option Mary Beckett
                  option Ethan Kravitz
                  option Dylan Goldstein
                  option David Cole
                  option Lana Sheehan
                  option Claire Johnson
                  option Jenny Chen
                  option Ella Sroni
            br
            label(for='tags', style="font-size:120%") Tags
              .field
                br
                .ui.toggle.checkbox
                  input(type='checkbox' name='public' checked='checked')
                  label Allow people to tag me in their posts
              .field
                .ui.toggle.checkbox
                  input(type='checkbox' name='public' checked='checked')
                  label Automatically add tagged posts in my timeline
                  br
                  br
      .ui.divider
      br
      form.ui.form
        .grouped.fields
            label(for='information', style="font-size:140%") Information Sharing Settings
            br
            br 
            label(for='location', style="font-size:120%") Location
              .field(data-hint="Use this setting to control how you share your location information. Right now, it is set so that you are putting your location on every post. You can try turning this off entirely, or restricting who can see your location information.", data-hintPosition="top-middle")
                br
                .ui.toggle.checkbox
                  input(type='checkbox' name='locationShare' checked='checked')
                  label Turn on location sharing
              .field
                br
                label(style="font-size:100%") Share my location with
                .div(style='width: 200px;')
                  .ui.selection.dropdown
                    input(type='hidden' name='shareLocationWith')
                    i.dropdown.icon
                    .default.text Select
                    .menu
                      .item(data-value='0') Everyone
                      .item(data-value='1') Friends of Friends
                      .item(data-value='2') Friends
                      .item(data-value='3') Only Me
            br
            label(for='advertisements', style="font-size:120%") Advertisements
              .field(data-hint="This is where you can change how the social media site shows you advertisements. Right now, the site is using your information to show you targeted ads. Let’s try turning off these settings to opt out of targeted advertisements." data-hintPosition="top-middle")
                br
                .ui.toggle.checkbox
                  input(type='checkbox' name='activityAds' checked='checked')
                  label Show me ads based on my activity
              .field
                .ui.toggle.checkbox
                  input(type='checkbox' name='partnersAds' checked='checked')
                  label Show me ads based on data from partners
                  br
                  br
            .ui.divider
            br
    button.ui.big.labeled.icon.button.cybertrans2
          i.rocket.icon
          |   Let's Continue!

  block scripts
    script().
      function startIntro(){
          var hints;
          var counter = 0;
          var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
            intro.setOptions({
              steps: [
                { 
                  intro: "This is an example of a privacy settings page you could see on a social media site."
                },
                { 
                  intro: "Here, you can change how you share information with others. Click on the blue dots &nbsp;<a role='button' tabindex='0' class='introjs-hint'><div class='introjs-hint-dot'></div><div class='introjs-hint-pulse'></div></a> &nbsp; &nbsp; &nbsp;to learn more!"
                }
                
              ]
            });
            intro.start().onexit(function() {
            hints = introJs().addHints();
            console.log('hints added')
            hints.onhintclose(function(e) {
             counter++;
             if(counter == 4) {$( ".cybertrans2" ).addClass("green");}
            });
          });
            
        };
        
        $(window).on("load", function() {startIntro();});

      $('.ui.dropdown')
        .dropdown('set selected', '0');
        
    
