extends ../ui_layout

block content
  .ui.text.container.mb-9
    .ui.raised.segment.mt-6 
      h3.ui.header.hidden
        .content What are some things I can do to protect my privacy?
          h5.ui.header.mt-5
            i.arrow.circle.right.blue.icon
            .content.
              Before you can protect your information, you need to understand 
              what companies are collecting about you.
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content.
              Social media sites have a privacy policy that explains what 
              information they collect about you and what they do with it.
      .button.ui.small.green.right.labeled.icon.button#tut_guide_start
        i.down.arrow.icon
        | Start   
      .button.ui.small.green.right.labeled.icon.button.hidden#tut_guide_next.mt-5
        i.down.arrow.icon
        | Next
    #askQuestion.ui.raised.segment.hidden
      h3.ui.header#point3
        .content
          | Remember the word ASK when you analyze a privacy policy. ASK yourself…
      .ui.header
        .ui.compact.segment
          .ui.large.read-only.checked.checkbox.exampleCheckbox
            input.ui(type="checkbox" id="" checked="")
            label Read and check all the boxes
      .content.ui.list
          .item
            .ui.segment.requiredCheckbox
              .ui.checkbox
                input.requiredCheckboxInput(type="checkbox")
                label.
                  Accessed: What will be #[b accessed] or collected by the company?
          .item
            .ui.segment.requiredCheckbox
              .ui.checkbox
                input.requiredCheckboxInput(type="checkbox")
                label.
                  Shared: What will be #[b shared] with other companies?
          .item
            .ui.segment.requiredCheckbox
              .ui.checkbox
                input.requiredCheckboxInput(type="checkbox")
                label.
                  Known: What could be #[b known] about me if I use this?              
    .ui.warning.message.hidden#checkAllWarning
      .header
        | Check all the boxes to proceed
    .ui.warning.message.hidden#clickStartWarning
      .header
        | Click "Start"
    .ui.warning.message.hidden#clickNextWarning
      .header
        | Click "Next"
    .ui.big.labeled.icon.button.cybersim2#privacyTutGuideButton
        i.rocket.icon
        |   Got it!

block scripts
  script.
    const voiceoverMappings = {
      '#tut_guide_start': {
        'initialDelay': 700,
        'delay': 500,
        'files': ['CUSML.7.3.1.mp3','CUSML.7.3.2.mp3','CUSML.7.3.3.mp3']
      },
      '#tut_guide_next': {
        'initialDelay': 700,
        'delay': 500,
        'files': ['CUSML.7.3.4.mp3','CUSML.7.3.5.mp3','CUSML.7.3.6.mp3','CUSML.7.3.7.mp3']
      }
    };
  script(src="/module_js/privacy/privacy_tut_guide.js")
  script(src='/module_js/voiceover.js')

block styles
  link(rel='stylesheet' href='/css/tut_guide.css')
  link(rel='stylesheet' href='/css/modules/privacy.css')