extends ../ui_layout

block content
  
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    .ui.one.column.centered.grid(style="padding-top:1em;")
      .ui.fixed.bottom.sticky(style="padding-bottom:6em;")
        .ui.icon.compact.message.warning(style="display:none;")#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
          
        .ui.icon.message.warning(style="display:none;")#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue.
            
    #step1.ui.container
      h2.ui.header Privacy Settings
      br
      
      br.ui.divider
      form.ui.form
        .grouped.fields(data-hint=" If your account is on a “<i>Public</i>” setting, everyone on the internet can access your account and see what you post. Right now, it is set as a public account." data-hintPosition="top-middle")
          label(for='account', style="font-size:140%") Account Settings  
            .field(data-hint="Let’s try changing it to “<i>Private</i>” so that only people you approve would be able to see your posts. Slide the button over so “<i>Private account</i>” is selected." data-hintPosition="bottom-middle")
              br
              .ui.toggle.checkbox
                  input(type='checkbox' name='public')
                  label Private account
            span.settingSmallLabel When your account is private, only people you approve can see your posts.
            br
            br
            
      .ui.divider
      br
      form.ui.form
        .grouped.fields
            label(for='interaction', style="font-size:140%") Interaction Settings
            br
            br
            label(for='contacts', style="font-size:120%") Contacts
            .field(data-hint="This is where you can change who can contact you on the social media site. Try changing the settings to “<i>Friends</i>” or “<i>Friends of Friends</i>” so that strangers cannot comment on your posts or send you friend requests." data-hintPosition="top-middle")
              br
              label(style="font-size:100%") Allow friend requests from
                .div(style='width: 200px;')
                .ui.selection.dropdown
                  input(type='hidden' name='friendRequests')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
            br
            .field
              label(style="font-size:100%") Who can see my friends list?
                .div(style='width: 200px;')
                .ui.selection.dropdown
                  input(type='hidden' name='friendList')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            label(for='comments', style="font-size:120%") Comments
            .field
              br
              label(style="font-size:100%") Allow comments from
                .div(style='width: 200px;')
                .ui.selection.dropdown
                  input(type='hidden' name='friendRequests')
                  i.dropdown.icon
                  .default.text Select
                  .default.
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            .field
              label(style="font-size:100%") Block comments from
              .div(style='width: 200px;')
                select.ui.fluid.search.dropdown(multiple='')
                  option Fake N. Ame
                  option Ima Robot
                  option Cloe Hansen
                  option Hayden Abbey
                  option Kiki Pualani
                  option Elli Andreas
                  option Lauren Wakefield
                  option Rob Yang
                  option Katherine Zhou
                  option Franklin Robinson
                  option Aidan Acosta
                  option Shika Ramphal
                  option Jason Perez
                  option Sarah Stella
                  option Keith Hernandez
                  option Elena Anderson
                  option Mary Beckett
                  option Ethan Kravitz
                  option Dylan Goldstein
                  option David Cole
                  option Lana Sheehan
                  option Claire Johnson
                  option Jenny Chen
                  option Ella Sroni
            br
            label(for='tags', style="font-size:120%") Tags
              .field
                br
                .ui.toggle.checkbox
                  input(type='checkbox' name='public' checked='checked')
                  label Allow people to tag me in their posts
              .field
                .ui.toggle.checkbox
                  input(type='checkbox' name='public' checked='checked')
                  label Automatically add tagged posts in my timeline
                  br
                  br
      .ui.divider
      br
      form.ui.form
        .grouped.fields
            label(for='information', style="font-size:140%") Location Sharing Settings
              .field(data-hint="Use this setting to control how you share your location information. Right now, it is set so that you are putting your location on every post." data-hintPosition="middle-middle")
                br
                .ui.toggle.checkbox
                  input(type='checkbox' name='locationShare' checked='checked')
                  label Turn on location sharing
            .field(data-hint="You can try turning this off entirely, or restricting who can see your location information." data-hintPosition="middle-middle")
              br
              label(style="font-size:100%") Share my location with
                .div(style='width: 200px;')
                .ui.selection.dropdown
                  input(type='hidden' name='shareLocationWith')
                  i.dropdown.icon
                  .default.text Select
                  .menu
                    .item(data-value='0') Everyone
                    .item(data-value='1') Friends of Friends
                    .item(data-value='2') Friends
                    .item(data-value='3') Only Me
            br
            .ui.divider
            br
    .ui.warning.message#clickAllDotsSim(style="display:none;")
      .header
        | Click through all of the blue dots to continue
    button.ui.big.labeled.icon.button.privacytrans2#privacytrans2(style="margin-bottom:4em;")
          i.rocket.icon
          |   Let's Continue!

  block scripts
    script().
      var counter = 0;
      var clickCount = 0;
      function startIntro(){
          var hints;
  
          var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'showBullets':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
            intro.setOptions({
              steps: [
                { 
                  element: document.querySelectorAll('#step1')[0],
                  intro: "Now that you have learned about different privacy settings, let’s practice how to change them!",
                  scrollTo:'tooltip',
                  position:'left'
                },
                { 
                  element: document.querySelectorAll('#step1')[0],
                  intro: "Click on the blue dots &nbsp;<a role='button' tabindex='0' class='introjs-hint'><div class='introjs-hint-dot'></div><div class='introjs-hint-pulse'></div></a> &nbsp; &nbsp; &nbsp;to learn more...",
                  scrollTo:'tooltip',
                  position:'left'
                }
                
              ]
            });
          intro.start().onexit(function() {
            
            hints = introJs().addHints();
            
            hints.onhintclick(function() {
                clickCount++;
                if(clickCount > 4){
                  //show the guidance message, user probably doesn't know to click "got it"
                  if($('#removeHidden').is(":hidden")){
                    $('#removeHidden').transition('fade');
                    $('#privacytrans2').css("margin-bottom", "10em");
                  } else {
                    $('#removeHidden').transition('bounce');
                  }
                }
            });
            
            hints.onhintclose(function(e) {
             counter++;
             clickCount = 0;
             if($('#removeHidden').is(":visible")){
               $('#removeHidden').transition('fade');
               if($('#clickAllDotsWarning').is(":hidden")){
                 $('#privacytrans2').css("margin-bottom", "4em");
               }
             }
             if(counter == 5) {
               if($('#clickAllDotsWarning').is(':visible')){
                 $('#clickAllDotsWarning').transition('fade');
                 $('#privacytrans2').css("margin-bottom", "4em");
               }
               $( ".privacytrans2" ).addClass("green");
             }
            });
            
            //error messaging
            $('#privacytrans2').on('click', function() {
              if(counter != 5){
                //show the message normally the first time
                if($('#clickAllDotsWarning').is(":hidden")){
                  $('#clickAllDotsWarning').transition('fade');
                  $('#privacytrans2').css("margin-bottom", "10em");
                }else{
                  //otherwise, bounce the message to draw attention to it
                  $('#clickAllDotsWarning').transition('bounce');
                }
              }
            });
            
            //showing the "Need some help?" guidance message after a total of 2 minutes
            setInterval(function(){
              if($('#removeHidden').is(":hidden")){
                if(counter != 5){
                  //user does not know to click blue dots
                  $('#removeHidden').transition('fade');
                  $('#privacytrans2').css('margin-bottom', '10em');
                }
              }
            },120000);
            
            
          });
            
        };
        
        /*$('#privacytrans2').on('click', function () { 
          if(counter != 5){
            $('#clickAllDotsSim').show();
          }
        });*/
        
        $(window).on("load", function() {startIntro();});

      $('.ui.dropdown')
        .dropdown('set selected', '0');
        
    
