extends ../ui_layout

block content

  
    .ui.text.container
      br
      .column
        .ui.raised.segment
          .ui.blue.ribbon.label
            h3
              i.history.icon
              | &nbsp Let's review!
              
          br  
               
          h5.ui.header
            .content  
              | It’s important to understand what information social media companies collect about you. When you read a website’s Privacy Policy, ASK yourself...
          
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Accessed: What will be <b>accessed</b> or collected by the company?
          
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Shared: What will be <b>shared</b> with other people or third parties?
      
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Known: What could be <b>known</b> about me if I use this?
            
          h5.ui.header
            .content
              | Also, when you sign up for a social media account, make sure you know what your <b>privacy settings</b> are and change them to something that you are comfortable with! 
          br
        br
        br
        a(href='javascript:void(0);', onclick='javascript:startIntro();')
            .ui.big.green.labeled.icon.button
                i.rocket.icon
                |  Got It!
        br
        br
        br
      
block scripts
  script().
    function startIntro(){       
          window.location.href='/free-play/privacy';
        };
