extends ../ui_layout

block content
  
  .ui.text.container.addBottomMargin
    br  
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | <b>Cyberbullying</b> is when someone posts or shares negative things 
          | about someone else online.
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | The <b>bully</b> may use digital devices, sites, or apps. The bully 
          | often does this again and again to the same person. 
      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header 
        i.hand.pointer.icon.grayElement
        span.grayElement Click on each label below to learn more
      br
      .ui.stackable.two.column.grid
        .ui.column
          .keyTerm.ui.raised.segment
            a.ui.blue.ribbon.label.keyTermLabel
                span Bully
            span.hidden.keyTermDefinition  
              | Someone who hurts a person or a group on purpose more than once.
        .ui.column
          .keyTerm.ui.raised.segment
            a.ui.blue.ribbon.label.keyTermLabel
                span Target
            span.hidden.keyTermDefinition 
              | Someone who is being bullied
        .ui.column
          .keyTerm.ui.raised.segment
            a.ui.blue.ribbon.label.keyTermLabel
                span Upstander
            span.hidden.keyTermDefinition 
              | Someone who acts against bullying.
              ul 
                | An upstander might confront the bully or tell a trusted adult. 
                | An upstander might support the person being bullied by 
                | checking in with them or defending them.       
    
    
    .ui.warning.message#clickNextWarning
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning
     .header
      | Click on each label to proceed   
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!

block scripts
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
