extends ../ui_layout

block content

  .ui.text.container
    br
    h3 Let’s recap what we have just learned!
    p <b>Cyberbullying</b> is when someone posts or shares negative things about someone else online. The bully may use digital devices, sites, or apps. The bully often does this again and again to the same person.

    p An <b>upstander</b> will confront the bully, or support and defend the target.

    p You can also <b>flag the comment</b> or <b>tell a trusted adult</b>.


    .ui.big.green.labeled.icon.button.cybertrans_script
        i.rocket.icon
        |   Got it!
    br
    br
    br

