
extends ../ui_layout
  
block content
  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()

    .ui.fluid.card.dim(postid='5bbd0194bc9b3d1990461574' ui='no' notify='no' state='unread' type='actor' actor_un='memeking' actor_name='Keegan Scott' actor_pic='user34.jpg')
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You &apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.time.meta 1543981591299
        a(href='/user/memeking')
          img.ui.avatar.image(src='/profile_pictures/user34.jpg')
          span Keegan Scott
      .img.post
        img(src='/birthdaywishes.jpg' style='max-width:100%;')
      .content
        .description Thanks for the Birthday wishes ^_^
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |                             Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                 Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment(commentid='5bbd01d88a48061a73337b96')
            a.avatar(href='/user/cool.kid5386')
              img(src='/profile_pictures/user63.jpg')
            .content
              a.author(href='/user/cool.kid5386') Liam Knapke
              .metadata
                span.date 1543985371299
                .rating
                  i.heart.icon
                  span.num 1
                  |                                             Likes
              .text(data-hint="This comment is an example of cyberbullying. Press the “flag” button to report it to the website.", data-position="bottom-left-aligned") No one cares about your lameeee bday
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src='/profile_pictures/bub.jpg' name='Dominic')
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
    //-##########
    .ui.fluid.card.test(postID="3")
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/hannahleee_23')
              img.ui.avatar.image(src='/profile_pictures/user55.jpg')
              span='Cassie Reed'
          .image
            img.post(src="/basketballshoes.jpg")
          .content
            .description="Wow, look at this awesome burger!!! :D "
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src='/profile_pictures/user66.jpeg')
                .content
                  a.author Emma Hanson
                  .metadata
                    span.date 1527025081548
                    i.heart.icon
                    |  0 Likes
                  .text(data-hint="This comment is an example of cyberbullying. Press the “flag” button to report it to the website.", data-position="bottom-left-aligned")
                    | when will you get it into your head that nobody likes your stupid head!.
                  .actions()
                    a.reply Reply
                    a.like Like
                    a.flag() Flag 
          .content
            //-.description(style="text-align:center;background:#E8E8E8")="How is Cassie Feeling?"
            .ui.fluid.left.labeled.right.icon.input(data-hint="Let’s send a supportive message to the target. Type here, 'Lana, a lot of people think math is hard! Don’t worry about it.'", data-position="bottom-left-aligned")
              .ui.label            
                img.ui.avatar.image(src='/profile_pictures/user61.jpg', name="Jane Doe")
              input.newcomment(type='text', placeholder='Write a Message')
              i.big.send.link.icon
    .ui.big.green.labeled.icon.button.cybertrans
          i.rocket.icon
          |   Let's Continue!

block scripts
  script().
    function startIntro(){
        var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'scrollToElement':true });
          intro.setOptions({
            steps: [
              { 
                intro: "Lana and Emma are in the same class at school. Recently, Emma has been saying a lot of mean things to Lana. Here is an example of what has been going on."
              },
              { 
                intro: "Which of these is an example of cyberbullying? Click on the Circles around the posts to learn more about Cyberbullying and what you can do about it."
              }
              
            ]
          });
          intro.start().onexit(function() {
          introJs().addHints();
        });
          
      };

      $(window).on("load", function() {startIntro();});


