extends ../ui_layout

block content

  .ui.text.container
    br
    h3 Welcome to the LearnLove.Life social media site!
    p#step  You're about to enter a social media site, but before you get started, we wanted to review a few key terms and show you ways to handle cyberbullying if you see it.
    p Here are the four activities that we will be doing in this lesson.
    .content
      .ui.tiny.four.steps
        .active.step
          i.book.icon
          .content
            .title Learn
            .description Learn key ideas
        .step
          i.edit.icon
          .content
            .title Practice
            .description Practice social media skills
        .step
          i.binoculars.icon
          .content
            .title Explore
            .description Explore the social media timeline
        .step
          i.question.icon
          .content
            .title Reflect
            .description Reflect on what you did
            
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!
    br
    br
    br
    block scripts
  script().
    function startIntro(){
        var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'scrollToElement':true , 'doneLabel':'Done &#10003'});
          intro.setOptions({
            steps: [
              { 
                intro: "<b>Cyberbullying</b> is when someone posts or shares negative things about someone else online. The <b>bully</b> may use digital devices, sites, or apps. The bully often does this again and again to the same person."
              },
              {
                intro: "A <b>bully</b> is someone who hurts a person or a group on purpose more than once."
            
              },
              { 
               
                intro: "A <b>target</b> is someone who is being <b>bullied</b>."
                
              },
              { 
                intro: "An <b>upstander</b> is someone who acts against bullying. An upstander might confront the bully or tell a trusted adult. An upstander might support the person being bullied by checking in with them or defending them."
              }
              
            ]
          });
          intro.start().onexit(function() {
          window.location.href='/tutorial/cyberbullying';
        });
          
      };

      //$(window).on("load", function() {startIntro();});

