extends ../ui_layout

block content
  
  .ui.text.container(style="padding-bottom:4em;")
    br  
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | <b>Cyberbullying</b> is when someone posts or shares negative things about someone else online.
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | The <b>bully</b> may use digital devices, sites, or apps. The bully often does this again and again to the same person. 
      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header 
        i.hand.pointer.icon(style="color:gray;")
        span(style="color: gray;") Click on each label below to learn more
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          #audience.ui.raised.segment
            a.ui.blue.ribbon.label#audienceLabel
                //- i.dollar.sign.icon 
                span Bully
            span.hidden(id="audience_info", style="font-weight:600") Someone who hurts a person or a group on purpose more than once.
        .ui.column
          #anonymous.ui.raised.segment
            a.ui.blue.ribbon.label#anonymousLabel
                //- i.magic.icon 
                span Target
            span.hidden(id="anonymous_info",style="font-weight:600") Someone who is being bullied
        .ui.column
          #curate.ui.raised.segment
            a.ui.blue.ribbon.label#curateLabel
                //- i.magic.icon 
                span Upstander
            span.hidden(id="curate_info",style="font-weight:600") Someone who acts against bullying.
              ul(style="font-weight:400") An upstander might confront the bully or tell a trusted adult. An upstander might support the person being bullied by checking in with them or defending them.       
    
    
    .ui.warning.message#clickNextWarning(style="display:none;")
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning(style="display:none;")
     .header
      | Click on each label to proceed   
    a(href='javascript:void(0);', onclick='javascript:startIntro();')#cyberStartButton
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!

block scripts
  script(src="/module_js/cyberbullying/cyberbullying_start.js")
    
    
