extends ../ui_layout

block content

  .ui.text.container
    br
    h3 You have completed this lesson!
    h5 Tell us what you think of this lesson! Click #[a(href="https://cornell.qualtrics.com/jfe/form/SV_4ShyOexfGOVMMKh" target="_blank") here] to share your thoughts!
    h4 Would you like to: 

    .ui.big.green.labeled.icon.button.finish
        i.rocket.icon
        |   Finish Lesson
    br
    br
    .ui.big.green.labeled.icon.button.cybertutorial
        i.chevron.circle.left.icon
        |   Go Back to the Tutorial
    br
    br
    .ui.big.green.labeled.icon.button.cybersim
        i.chevron.circle.left.icon
        |   Go Back to the Guided Activity
    br
    br
    .ui.big.green.labeled.icon.button.cyber_script
        i.chevron.circle.left.icon
        |   Go Back to the Timeline
    br
    br
    br

