extends ../ui_layout

block content

  .ui.text.container
    br
    br
    br
    block scripts
      script().
        function startIntro(){
            var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'showBullets':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
              intro.setOptions({
                steps: [
                  { 
                    intro: "Now that you know the basics of what cyberbullying is, let's practice what you can do if you see it happen."
                  },
                  {
                    intro: "On the next page, you will see some acts of cyberbullying."
                
                  },
                  { 
                   
                    intro: "Follow the instructions on the screen to practice what to do when you see cyberbullying happening online."
                    
                  }
                ]
              });
              intro.start().onexit(function() {
              window.location.href='/sim/cyberbullying';
            });
            
              
          };
          $(window).on("load", function() {startIntro();});


//-block content

  .ui.text.container
    br
    .ui.raised.segment
      h5.ui.header
        br
        i.right.arrow.circle.blue.icon
        .content
          |  Now that you know the basics of what cyberbullying is, let's practice what you can do if you see it happen.
      h5.ui.header
        i.right.arrow.circle.blue.icon
        .content
          | On the next page, you will see some acts of cyberbullying. Follow the instructions on the screen to practice what to do when you see cyberbullying happening online.
        br
    br
    .ui.big.green.labeled.icon.button.cybersim
        i.rocket.icon
        |   Got it!
    br
    br
    br
