extends ../ui_layout

block content

  .ui.text.container
    br
    
    p Now that you know the basics of what cyberbullying is, let's practice what you could do when you see it happen. In the next page, you will see some posts that may have cyberbullying. Follow the instructions on the screen to practice what to do when we see cyberbullying.

    .ui.big.green.labeled.icon.button.cybersim
        i.rocket.icon
        |   Got it!
    br
    br
    br

