extends ../ui_layout

block content

  .ui.text.container
    br
    h3 Before We Start
    p You have recently seen that a group of friends from school are bullying Dylan on social media.

    p
        img.ui.avatar.image(src='/profile_pictures/user55.jpg')
        <b>Dylan Goldstein</b>: Dylan is the target of cyberbullying.

    p 
        img.ui.avatar.image(src='/profile_pictures/user66.jpeg')
        <b>Keegan Scott</b>, 
        img.ui.avatar.image(src='/profile_pictures/user5.jpeg')
        <b>Ella Sroni</b>, and 
        img.ui.avatar.image(src='/profile_pictures/user64.jpg')
        <b>Breana Summers</b>: Keegan, Ella, and Breana are Dylan’s classmates from school. They are the bullies. They have been saying mean things about Dylan on social media.

    p Now, let’s apply what you have learned! Try to spot and respond to cyberbullying posts or comments on the LearnLove.Life timeline. Keep in mind that you may also see other mean comments.


    .ui.big.green.labeled.icon.button.cyber_script
        i.rocket.icon
        |   Got it!
    br
    br
    br

