extends ../ui_layout

block content

  .ui.text.container
    br
    h3 Welcome to the Cyberbullying lesson!
    p We’ll review a few key terms and show you ways to handle cyberbullying if you see it. Then you’ll have time to explore the LearnLove.Life timeline!
    p <b>Cyberbullying</b> is when someone posts or shares negative things about someone else online. The bully may use digital devices, sites, or apps. The bully often does this again and again to the same person.
    p A <b> Bully</b> is someone who hurts a person or a group on purpose more than once.
    p A <b>Target</b> is someone who is being bullied.
    p An <b>upstander</b> is someone who acts against bullying. An upstander might confront the bully or tell a trusted adult. An upstander might support the person being bullied by checking in with them or defending them.

    .ui.big.green.labeled.icon.button.cyberstart
        i.rocket.icon
        |   Got it!
    br
    br
    br

