extends ../ui_layout

block content

  .ui.text.container
    br
    h2 Standing Up Against Cyberbullying Pre-Activity Quiz
    form#cyber_post.ui.reply.form(action='/postquiz/cyberbullying', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .ui.form
        .grouped.fields
          label(for='embarrassment_post') You know that Lindsay isn't well-liked among kids in your grade. You see that some of your classmates are making online posts fun of Lindsay' you...
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='embarrassment_post', tabindex='0', value='1')
            label Tell an adult that you think Lindsay is being cyberbullied.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='embarrassment_post', tabindex='0', value='0')
            label Ignore it, it doesn't matter if someone else is being made fun of.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='embarrassment_post', tabindex='0', value='0')
            label Make your own mean post about Lindsay and her weird outfits.
        .grouped.fields
          label(for='friend_post') Your best friend tells you that she’s feeling depressed because her classmate has posted embarrassing photos of her online. What should you do? 
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friend_post', tabindex='0', value='0')
            label Tell your friend to fight back by posting embarrassing pictures of her classmates.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friend_post', tabindex='0', value='1')
            label Help your friend tell an adult about what her classmates are doing.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friend_post', tabindex='0', value='0')
            label Avoid talking to her because you don’t want to be friends with someone who’s being teased.
        .grouped.fields
          label(for='movement_post') Soojin just changed her profile picture. Someone commented, "Nice pimple! haha!". What should you do about the comment?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='movement_post', tabindex='0', value='1')
            label Report the comment as bullying, even though the commenter said "haha".
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='movement_post', tabindex='0', value='0')
            label Ignore it, someone was probably just joking around.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='movement_post', tabindex='0', value='0')
            label "Like" the comment, because it's funny.
        .grouped.fields
          label(for='behaviors_post') Which of the following are things that a cyberbully might do?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='behaviors_post', tabindex='0', value='0')
            label Posting embarrassing videos of people to social media sites.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='behaviors_post', tabindex='0', value='0')
            label Leaving hurtful comments on someone's YouTube channel.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='behaviors_post', tabindex='0', value='0')
            label Sending mean text messages to someone.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='behaviors_post', tabindex='0', value='1')
            label All of the above.
        .grouped.fields
          label(for='actions_post') Which of these are things you can do to stand up against cyberbullying?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='actions_post', tabindex='0', value='0')
            label Telling an adult you trust about something mean that you saw.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='actions_post', tabindex='0', value='0')
            label Being friendly and offering help to someone who is being bullied.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='actions_post', tabindex='0', value='0')
            label Blocking mean posts or pictures that you see online.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='actions_post', tabindex='0', value='1')
            label All of the above.
        h2 Just a few more questions... There are no right or wrong answers here!
        .grouped.fields
          label(for='like') How much did you like this activity?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='1')
            label I didn't like it at all.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='2')
            label Not very much, but it wasn't awful.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='3')
            label A little bit, it was neither good nor bad.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='4')
            label Some - it was god but not amazing.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='5')
            label A lot - it was awesome!
        .grouped.fields
          label(for='friends') Would you recommend this activity to your friends?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friends', tabindex='0', value='1')
            label No, not at all.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friends', tabindex='0', value='2')
            label Maybe.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friends', tabindex='0', value='3')
            label Yes, I would!
        .grouped.fields
          label(for='length') What did you think of the length of the activity?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='length', tabindex='0', value='1')
            label It was too short.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='length', tabindex='0', value='2')
            label It was just the right length.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='length', tabindex='0', value='3')
            label It was too long.
        .grouped.fields
          label(for='understand') Do you think you understand the issues of cyberbullying better after completing the activity?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='understand', tabindex='0', value='1')
            label Yes, I understand the issues better.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='understand', tabindex='0', value='2')
            label I'm not sure.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='understand', tabindex='0', value='3')
            label No, I didn't learn anything.

        br
        button.ui.button(type='submit') Submit
        br
        br
        br
