extends ../ui_layout

block content

  .ui.text.container.addBottomMargin

block scripts
  script(src="/module_js/cyberbullying/cyberbullying_tut_guide.js")
  script(src="/module_js/base_introSteps.js")
