#payment.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-payment Warning Sign 6: Untraceable Payment Methods
            .ui.centered.stackable.grid
                .eight.wide.column
                    p
                        span#narrate-1-payment  
                            span If the 
                        b
                            span#narrate-2-payment 
                                span website only accepts cryptocurrency 

                        span#narrate-3-payment  
                            span (e.g., bitcoin) or transactions through 
                        b#narrate-4-payment
                            span peer-to-peer (P2P) payment apps
                        span#narrate-5-payment 
                            span (e.g., Venmo, Cash App, Zelle), or 
                        b#narrate-6-payment
                            span offer discounts on purchases made using these payment methods. 
                        span#narrate-7-payment
                            span Be alert! [21]
                    p#narrate-8-payment 
                        span Scammers prefer these payment methods because these transactions are often immediate, irreversible, and untraceable. 

                    p
                        span#narrate-9-payment
                            span Some scammers provide a seemingly real credit card option. 
                        span#narrate-10-payment
                            span However, it always displays an error, then forcing you to use a sketchier payment method. Do not pay through it.



                .eight.wide.column
                        img.ui.image(src=public_resources+'/images/shared_sources/filler.png')

        br
        br
        br
        i.source(style="position: relative; top: -50px;") [18] Considering an Online Pharmacy? Food and Drug Administration (FDA). 
            a(href='https://www.fda.gov/drugs/besaferx-your-source-online-pharmacy-information/considering-online-pharmacy' target='_blank') https://www.fda.gov/drugs/besaferx-your-source-online-pharmacy-information/considering-online-pharmacy 
