#prescription.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-prescription Warning Sign 5: Prescription-Free Medications
            .ui.centered.stackable.grid
                .eight.wide.column
                    p
                        span#narrate-1-prescription  
                            span If a website (or online pharmacy) claims that 
                        b
                            span#narrate-2-prescription 
                                span you can purchase a prescription-only medicine without a doctor’s prescription, 

                        span#narrate-3-prescription  
                            span it’s most likely a scam [18]. A properly licensed online pharmacy will never sell prescription medicines without a valid prescription. 



                .eight.wide.column
                        img.ui.image(src=public_resources+'/images/modules/medication/warning_script-free-meds.svg')
