#promotion.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-promotion Warning Sign 4: Suspicious promotional methods
            
            p 
                span Be wary of suspicious promotional claims

            .ui.centered.stackable.grid
                .eight.wide.column
                    .ui.message(style="height:100%")
                        b
                            span#narrate-1-promotion  
                                span "Based on a secret formula"
                        p 
                            span#narrate-2-promotion 
                                span Scientists share their discoveries to allow other arthritis experts to review and scrutinize their findings. 
                            span#narrate-3-promotion  
                                span If the claim implies that the product is based on a secret formula, it indicates an unproven remedy [19].




                .eight.wide.column
                    .ui.message(style="height:100%")
                        b#narrate-4-promotion  
                            span "Available only from one source"
                        P
                            span#narrate-5-promotion    
                                span Treatments for illnesses like arthritis should be accessible through various medical providers, not just a single individual or company. 
                            span#narrate-6-promotion    
                                span If promotional claims come exclusively from one company, it could be a sign of a scam [19].
