#satisfaction.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-satisfaction Inaccurate satisfaction Details
            .ui.centered.stackable.grid
                .ten.wide.column
                    p#narrate-1-satisfaction 
                        span Scammers may know the name of your satisfaction member, such as your grandchild, but they likely lack specific details about them or other relatives. 

                    p 
                        span#narrate-2-satisfaction  
                            span Therefore, be alert if they say something inaccurate about your satisfaction members. 
                        span#narrate-3-satisfaction  
                            span It is a big red flag! 
                        span#narrate-4-satisfaction  
                            span They may try to excuse the mistake by claiming they misremembered or misspoke.
                        span 
                            b#narrate-5-satisfaction  
                                span Hang up immediately, then make separate phone calls to other satisfaction members to verify the information.


                .six.wide.column
                    div.ui.header
                        i.phone.volume.icon
                        | Example
                    //- a(href='https://dart-store.s3.amazonaws.com/grandparent-audio/randy.mp3' target='_blank') Listen to the audio example
                    .text-only-audio
                        ul
                            li.speaker2 Scammer: Hi grandma, it’s Alex
                            li.speaker1 Grandparent: Oh, Alex. How are you doing?
                            li.speaker2 Scammer: I’m travelling with my sister.
                            li.speaker1 Grandparent: Your sister? Who?
                            li.speaker2 Scammer: Oh, no, I mean my friend.
