#satisfaction.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-satisfaction Warning Sign 3: Satisfaction Guaranteed
            .ui.centered.stackable.grid
                .eight.wide.column
                    p
                        span#narrate-1-satisfaction  
                            span Be wary of money-back guarantees.
                    p 
                        span#narrate-2-satisfaction 
                            span To push you further, many scammers offer a 30 or 60-day money-back guarantee, making it seem risk-free to give their product a try.
                    p   
                        span#narrate-3-satisfaction  
                            span Scammers often disappear quickly, making their generous guarantees meaningless. By the time you realize the product doesn't work, they'll be gone, leaving you with no way to claim your refund [6].



                .eight.wide.column
                    .ui.message
                        em 
                            span
                                span "...
                            span#narrate-4-satisfaction    
                                span Guarantee: If after 30 days ... 
                            span#narrate-5-satisfaction    
                                span you have not lost at least 4 pounds each week, ... 
                            span#narrate-6-satisfaction    
                                span your uncashed check will be returned to you ..."
        br
        br
        br
        i.source(style="position: relative; top: -50px;") [6] How to Spot Health Fraud. Food & Drug Administration ( FDA). 
            a(href='https://www.fda.gov/drugs/bioterrorism-and-drug-preparedness/how-spot-health-fraud' target='_blank') https://www.fda.gov/drugs/bioterrorism-and-drug-preparedness/how-spot-health-fraud
