#testimonial.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-testimonial Warning Sign 2: Heavy use of emotion/testimonial language
            .ui.centered.stackable.grid
                .eight.wide.column
                    p
                        span#narrate-1-testimonial  
                            span Be cautious if the website 
                        b#narrate-2-testimonial 
                            span relies heavily on emotional appeals or testimonials rather than factual information. 
                    p   
                        span#narrate-3-testimonial  
                            span Scammers always attempt to manipulate your emotions and gain your trust without providing substantial evidence of the product's effectiveness.


                .eight.wide.column
                    .ui.message
                        em 
                            span#narrate-4-testimonial   
                                span "Alzheimer's Disease!!! My husband has Alzheimer. 
                            span#narrate-5-testimonial    
                                span On September 2, 1998 he began eating 1 teaspoon full of ... 
                            span#narrate-6-testimonial    
                                span Pure Emu Oil each day... 
                            span#narrate-7-testimonial    
                                span Now (in just 22 days) he mowed the grass, cleaned out the garage, weeded the flower beds, and we take our morning walk again. 
                            span#narrate-8-testimonial    
                                span It hasn't helped his memory much yet, but he is more like himself again!!!" [6]
        br
        br
        br
        i.source(style="position: relative; top: -50px;") [6] How to Spot Health Fraud. Food & Drug Administration ( FDA). 
            a(href='https://www.fda.gov/drugs/bioterrorism-and-drug-preparedness/how-spot-health-fraud' target='_blank') https://www.fda.gov/drugs/bioterrorism-and-drug-preparedness/how-spot-health-fraud
