#testimonial.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-testimonial Warning Sign 2: Heavy use of emotion/testimonial language
            .ui.centered.stackable.grid
                .eight.wide.column
                    p
                        span#narrate-1-testimonial  
                            span Be cautious if the website 
                        b#narrate-2-testimonial 
                            span relies heavily on emotional appeals or testimonials rather than factual information. 
                    p   
                        span#narrate-3-testimonial  
                            span Scammers always attempt to manipulate your emotions and gain your trust without providing substantial evidence of the product's effectiveness.


                .eight.wide.column
                    img.ui.image(src=public_resources+'/images/modules/medication/warning_emotional-language.svg')
