#types.hidden
    .ui.container#types-read
        .limit(style="padding: 0; margin-bottom: -30px;")
            h1.ui.header.large#learn-title(style="margin-top: 10px;")
                .content
                    i.book.icon
                    span#narrate-title-types Warning Sign 1: Too good to be true
            p#narrate-1-types(style="margin-top: -10px;") 
                span Health scammers often promote 'miracle' products with false claims.  
            .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click the arrows to learn more.
            .ui.stackable.middle.aligned.grid#double-slider(style="margin-top: -20px;")
                .column.centered.six.wide.computer.only.ten.wide.tablet.only
                    #image-slider(style="margin: 0 auto;")
                        img(src=public_resources+'/images/shared_sources/filler.png' alt='Illustration of a car accident, showing a red car colliding with an orange car from the side, with tire skid marks and yellow impact sparks highlighting the moment of collision.' style="max-width: 310px; margin-left: 50px;")
                        img(src=public_resources+'/images/shared_sources/filler.png' alt='Illustration depicting fake emergencies used by scammers to pressure victims. The image shows a broken window, handcuffs, and medicine bottles, representing scenarios like posting bail, paying ransom, covering medical treatment, or funding car repairs. These situations are designed to create a sense of urgency and panic in the victims.'  style="max-width: 310px; margin-left: 70px;")
                        img(src=public_resources+'/images/shared_sources/filler.png' alt='Silhouette of a cat tenderly gazing out a window at the fading sunset and emerging stars, with a small potted plant beside it, capturing a moment of quiet vulnerability and reflection' style="max-width: 310px; margin-left: 100px;")
                        img(src=public_resources+'/images/shared_sources/filler.png' alt='Law enforcement spoofed caller id' style="position: relative; left: 50%;")

                .column.ten.wide.computer.only.fifteen.wide.tablet.only
                    #steps-slider
                        //- Card 1
                        .ui.basic.card
                            .content
                                h2#narrate-2-types 
                                    span Cure a wide range of diseases
                                p   
                                    span#narrate-3-types 
                                        span Be wary of the claims promising to cure a wide range of diseases [6]. 
                                    span#narrate-4-types  
                                        span Different illnesses require different treatments. 
                                    span#narrate-5-types  
                                        span Even people with the same condition may need personalized approaches, as no single medication can cure everything.
                                
                                b#narrate-6-types  
                                    span Example: 
                                p 
                                    span#narrate-7-types 
                                        span Our revolutionary formula treats everything from arthritis to cancer! One product cures: 
                                    span#narrate-8-types 
                                        span rheumatism and joint pain, Infection and ulcers, prostate issues and impotence, heart disease and arterial problem, and many more ailments [6].
                                    
                        //- Card 2 
                        .ui.basic.card
                            .content
                                h2#narrate-1-types-2 
                                    span Quick Fix
                                p
                                    span#narrate-2-types-2  
                                        span Be wary of the "cure in days" and/or "permanent solutions" claims. 
                                    span#narrate-3-types-2
                                        span Most diseases require time to treat, and chronic illnesses rarely have permanent cures. 
                                    span#narrate-4-types-2
                                        span Be skeptical of vague timeframes like 'in days'—scammers use this ambiguity to avoid legal consequences while misleading consumers [6].
                                b#narrate-5-types-2 
                                    span Example: 
                                p#narrate-6-types-2
                                    span Our revolutionary pills will eliminate your chronic back pain in days.

                        //- Card 3
                        .ui.basic.card
                            .content
                                h2#narrate-1-types-3 
                                    span No Side Effects
                                p
                                    span#narrate-2-types-3  
                                        span Be wary of No Side Effect claims.
                                    span#narrate-3-types-3 
                                        span Scammers often use phrases like "100% Natural" and "No Side Effect" to suggest their medications are safe. 
                                    span#narrate-4-types-3  
                                        span However, any substance potent enough to have medicinal effects will likely cause side effects, whether synthetic or natural [6].
                                b#narrate-5-types-3 
                                    span Example: 
                                p#narrate-6-types-3 
                                    span Unlike other treatments, there are no harsh side effects - just FREEDOM!


                        //- Card 4
                        .ui.basic.card
                            .content
                                h2#narrate-1-types-4 
                                    span Unrealistic Discounts or Prices
                                p
                                    span#narrate-2-types-4   
                                        span Watch out for websites that sell medications at prices that are unreasonably low compared to similar products available on the market. 
                                p
                                    span#narrate-3-types-4  
                                        span The bottom line is: if a deal is too good to be true, it’s most likely a scam. 

        br
        br
        br
        i.source(style="position: relative; top: -50px;") [6] How to Spot Health Fraud. Food & Drug Administration ( FDA). 
            a(href='https://www.fda.gov/drugs/bioterrorism-and-drug-preparedness/how-spot-health-fraud' target='_blank') https://www.fda.gov/drugs/bioterrorism-and-drug-preparedness/how-spot-health-fraud
