#feature-container i.icon {
    /* background-color: red; */
    float: left;
    /* padding-right: 6vw !important; */
}

#feature-container .ui.row {
    /* background: green; */
    display: flex; 
    justify-content: center;
}

#feature-container .feature { 
    /* background: blue;  */
    width: 70%;
    /* margin-right: 6vw; */
}

.wide-content {
    width: 87%;
}

.ui.row .icon-container {
    position:absolute;
    left:6.5%;
}

@media (max-width: 767px) {
    .ui.row .icon-container {
        left: 0;
    }

    #feature-container .feature { 
        background: blue; 
        width: 80%;
    }
}


@media (max-width: 400px) {
    .ui.row .icon-container {
        left: -8%;
        top: 4%;
        font-size: medium;
    }

    #feature-container .feature { 
        background: green; 
        width: 95%;
    }
}