#avatarGrid {
    /* margin: 50px; */
    margin-bottom: 15px;
    /* background-color: red; */
}

#speechBubble {
    display: flex; 
    align-items: center; 
    float: left;
    width:50%;
    background-color: #E1F2F4;
    border: 1px solid #6BBCC7;
}

#speechText {
    padding: 0px; 
    text-align: center; 
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
}