.chat {
    background: transparent;
    font-size: 12px;
    position: fixed;
    right: 24px;
    bottom: 45px;
    width: 320px;
    /* Appears over header & footer, but below tooltips*/
    z-index: 10000002 !important;
}

.chat#step2,
.chat#chat1 {
    /*Tutorial Chat*/
    width: 360px;
}

.chat#chatbox2 {
    /*Script Chat #2*/
    right: 360px;
}

.chat-close {
    color: #fff;
    font-size: 20px !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
}

.chat-minimize {
    color: #fff;
    font-size: 18px !important;
    margin-top: 5px !important;
}

.chat .chat-header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid white;
    color: #fff;
    cursor: pointer;
    padding: 14px 20px;
    height: 65px;
}

.chat .chat-header img {
    float: left;
    width: 3em !important;
    height: 3em !important;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 8px;
    margin-top: 9px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 17px;
    text-wrap: wrap;
    word-break: break-word;
}

.chat .chat-history {
    border-left: 2px solid #e0dcdc;
    border-right: 2px solid #e0dcdc;
    padding: 10px 10px;
    overflow-y: scroll;
    background: #fff;
    height: 252px;
    max-height: calc(100vh - 200px);
    width: 100%;
}

.chat .chat-history ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.chat .chat-history .message-data {
    margin-bottom: 5px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 10px 10px;
    line-height: 15px;
    font-size: 14px;
    border-radius: 7px;
    margin-bottom: 8px;
    width: fit-content;
    position: relative;
    text-wrap: wrap;
    word-break: break-word;
}


/* .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #DCDCDC;
    border-width: 10px;
    margin-left: -10px;
} */

.chat .chat-history .my-message {
    background: #DCDCDC;
    color: black;
}

.chat .chat-history .other-message {
    background: #2185d0;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #2185d0;
    left: 93%;
}

.chat .chat-message {
    padding: 15px;
    border: 2px solid #e0dcdc;
    background-color: white;
    height: 70px;
}

.chat .chat-message button {
    float: right;
    color: #2185d0;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.float-right {
    float: right;
}


/* not currently used, but can keep for potential future use */


/* .chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-message img {
    border-radius: 50%;
    float: left;
}

.chat .chat-message textarea {
    width: 100%;
    padding: 5px 10px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 5px;
    border-radius: 5px;
    resize: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #DCDCDC;
}

.offline {
    color: #E38968;
}

.me {
    color: #2185d0;
}


.chat-time {
    float: right;
    font-size: 10px;
}

.chat-feedback {
    font-style: italic;
    margin: 0 0 0 80px;
}

.chat-message-content {
    margin-left: 56px;
} */