/* Set font size for all page content to 1.5rem, ~23px, which is what the National Institute on Aging uses for their page's body text */
html {
    font-size: 1rem;
}

header,
footer {
    z-index: 100000002;
    /* background-color: red !important; */
}

header a.item {
    font-size: 1.3rem;
    font-weight: 900 !important;
    /* background-color: yellow !important; */
}
  
header a.item.dart-blue {
    color: #2165AE !important;
}

.ui.container#-raised-container {
    width: 100%;
}

#raised-container {
    background-color: white;
    margin-top: 50px;
}

#raised-content {
    font-size: 1.5rem;
    /* width: 800px; */
    /* width: 55vw; */
    margin: 0 auto;
    /* background-color: green; */
}

.page-text-container {
    width: 55vw;
    margin: 0 auto;
    /* background-color: blanchedalmond; */
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mod-title {
    display: inline-block;
    font-size: 2.25rem;

}

/* hide bubbles so they don't get squished */
@media (max-width: 430px) {
    .bubble-container {
        display: none !important;
    }
}



body{ min-height: 100vh; margin:0; background:  #F5F8FA;}

#page-header{ min-height:50px; background:lightcyan !important; }
#page-footer{ min-height:50px; background:PapayaWhip !important; }

/* The article fills all the space between header & footer */
body{ display:flex; flex-direction:column; }
#page-article{ flex:1; }
