/* Set font size for all page content to 1.5rem, ~23px, which is what the National Institute on Aging uses for their page's body text */
html {
    font-size: 1rem;
}

.ui.raised.segment {
    font-size: 1.5rem;
    /* width: 120%; */
}

/* Want around 80 characters per line */
/* includedes everything in middle column, such as the raised segment and the back and next buttons underneath */
#page-content-container {
    /* background-color: aqua; */
    /* width: 85%;  */
    /* same width as the header allows for ~80 characters per line at 1.5rem font */
    /* width: 955px; */
    width: 65%; 
    /* so zooming out doesnt mess it up */
    max-width: 955px; /* Set a maximum width */
    padding: 0;
    padding-bottom: 15px;
}

/* content below header and before footer */
.ui.vertically.padded.grid.container {
    /* background-color: brown; */
    width: 100% !important;
    /* make it so that footer is at very bottom even on pages with less content than fills the page */
    min-height: 100vh;
}

#mod-title {
    display: inline-block;
    font-size: 2.25rem;

}




/* Set font size for all page content to 1.5rem which is what the National Institute on Aging uses for their page's body text */
