.ui.grid>.row.testdriveHeaderRow {
  padding-bottom: 40px;
}

.headerDropdownMenu{
  height: 100%;
}

#logo {
  width: 125px;
}

.ui.segment.progressHeader {
  padding: 8px 14px 8px 14px;

}

.hideHeader{
  display:none;
}

.moduleTitle {
  padding-top: 4px;
  padding-bottom: 10px;
}

.moduleTitle span {
  color: #333333;
  font-weight: 600;
  font-size: large;
}

.progressList{
  margin: -6px;
  padding: 0;
}

.progressStep {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  color: white;
  position: relative;
  cursor: pointer;
  /* for responsiveness */
  margin: 0 2vw 0 2vw;
}

.progressStep h4 {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #14a1f6;
  display: inline-block;
  color: white;
  position: relative;
  margin: 0;
}

.progressStep h4.number{
  display:none;
}

.progressStep h4.checkmark {
  display: inline-block;
}

.progressStep span{
  color: #14a1f6;
  position: static;
  margin: -1em;
  display: block;
}

.progressStep::before{
  content: '';
  position: absolute;
  top: 18px;
  height: 2px;
  background: #14a1f6;
  z-index: -1;
  /* for responsiveness */
  left: -4vw;
  width: 4vw;
}

.progressStep h4::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: #14a1f6;
  z-index: -1;
}

.progressStep:first-child::before {
  display: none;
}

.progressStep h4:first-child::before {
  display: none;
}

.progressStep h4.checkmark::before{
  display:none;
}

.progressBarActive {
  cursor: default;
}

.progressBarActive h4 {
  background: #333333;
}

.progressBarActive h4.checkmark {
  display:none;
}

.progressBarActive h4.number {
  display:inline-block;
}

.progressBarActive span {
  color: #333333;
}

.progressBarActive ~ .progressStep {
  cursor: default;
}

.progressBarActive ~ .progressStep h4 {
  background: white;
  color: #D7D7D7;
  border: 2px solid #D7D7D7;
  line-height: 1.75em;
}

.progressBarActive ~ .progressStep h4.checkmark {
  color: #D7D7D7;
  display: none;
}

.progressBarActive ~ .progressStep h4.number {
  color: #D7D7D7;
  display: inline-block;
}

.progressBarActive ~ .progressStep span {
  color: #D7D7D7;
}

.progressBarActive ~ .progressStep::before {
  background: #D7D7D7;
}

/* used technique provided by user bookcasey in the following post,
including the technique for responsiveness provided by user AaronDanielson:
https://stackoverflow.com/questions/19642308/creating-css3-circles-connected-by-lines */

/* extra large desktops, arbitrarily chosen cutoff */
@media (min-width: 2300px) {
  .progressStep {
    margin: 0 1vw 0 1vw;
  }
  .progressStep::before{
    left: -2vw;
    width: 2vw;
  }
}
