.tablet-and-computer {
  display: block !important;
}

.mobile-only {
  display: none !important;
}

@media (max-width: 480px) {
  .mobile-only {
    display: block !important;
  }

  .tablet-and-computer {
    display: none !important;
  }
}
