.hideHeader{
  display:none;
}

ul{
  margin: -6px;
  padding: 0;
}

li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  color: white;
  position: relative;
  /* for responsiveness */
  margin: 0 2vw 0 2vw;
}

li h4 {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #14a1f6;
  display: inline-block;
  color: white;
  position: relative;
  margin: 0;
}

li h4.number{
  display:none;
}

li h4.checkmark {
  display: inline-block;
}

li span{
  color: #14a1f6;
  position: static;
  margin: -1em;
  display: block;
}

li::before{
  content: '';
  position: absolute;
  top: 18px;
  height: 2px;
  background: #14a1f6;
  z-index: -1;
  /* for responsiveness */
  left: -4vw;
  width: 4vw;
}

li h4::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: #14a1f6;
  z-index: -1;
}

li:first-child::before {
  display: none;
}

li h4:first-child::before {
  display: none;
}

li h4.checkmark::before{
  display:none;
}

.active h4 {
  background: #333333;
}

.active h4.checkmark {
  display:none;
}

.active h4.number {
  display:inline-block;
}

.active span {
  color: #333333;
}

.active ~ li h4 {
  background: white;
  color: #D7D7D7;
  border: 2px solid #D7D7D7;
  line-height: 1.75em;
}

.active ~ li h4.checkmark {
  color: #D7D7D7;
  display: none;
}

.active ~ li h4.number {
  color: #D7D7D7;
  display: inline-block;
}

.active ~ li span {
  color: #D7D7D7;
}

.active ~ li::before {
  background: #D7D7D7;
}

/* used technique provided by user bookcasey in the following post,
including the technique for responsiveness provided by user AaronDanielson:
https://stackoverflow.com/questions/19642308/creating-css3-circles-connected-by-lines */
