/* defining cursor appearances */

h2, h3, h4, p, td {
  cursor: default;
}

/* general classes */

.newDashboardSection {
  margin-top:3em;
}

.removeMargins {
  margin: 0 !important;
}

.centerText {
  text-align: center;
}

.emphasizedText {
  font-size: larger;
  font-weight: bold;
}

.row.addMargin {
  margin-bottom: 30px;
}

/* My Learning Achievement section: module completion pie chart */

.completionChartColumn .ui.segment {
  display: grid;
}

.completionChartColumn .customChartLabelText {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  width: 34%;
  left: 33%;
  height: 34%;
  top: 33%;
  font-size: x-large;
}

/* Learning Map section */

#learningMapTable {
  border: none;
  background: transparent;
}

#learningMapTable td {
  border: none !important;
  overflow-wrap: break-word;
}

#learningMapTable td.rightBorder {
  border-right: 2px solid rgba(34,36,38,.2) !important;
}

#learningMapTable td.topBorder {
  border-top: 2px solid rgba(34,36,38,.2) !important;
}

#learningMapTable .xAxisLabel, #learningMapTable .yAxisLabel {
  font-weight: bold;
  font-size: large;
}

#learningMapTable .container {
  position: relative !important;
  min-height: 130px;
}

#learningMapTable .segment {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #14a1f6;
  color: white;
  border: none;
  min-height: 130px;
}

#learningMapTable i.icons {
  position: absolute;
  top: 3px;
  right: 0;
}

#learningMapTable i.icon {
  position: absolute;
  top: 3px;
  right: 0;
  color: rgba(255, 99, 132, 1);
  background-color: white;
}

/* Module Completion Section: list of modules*/

#moduleProgressColumn {
  overflow: auto;
  max-height: 350px;
}

#moduleProgressColumn .moduleProgressCustomIcon {
  padding: 0;
  margin: 0 20px 0 0;
  min-width: 90px;
}

#moduleProgressColumn .moduleProgressCustomIcon h3 {
  margin-top: 5px;
}

#moduleProgressColumn .moduleProgressCustomIcon .icon {
  color: rgba(250, 101, 132);
  background: white;
}

/* Module Completion Section: individual module details */

.hideModuleDetails {
  visibility: hidden;
}
