/* defining cursor appearances */

h2, h3, h4, p, td {
  cursor: default;
}

/* general classes */

.newDashboardSection {
  margin-top:3em;
}

.removeMargins {
  margin: 0 !important;
}

.removePadding {
  padding: 0 !important;
}

.centerText {
  text-align: center;
}

.emphasizedText {
  font-size: larger;
  font-weight: bold;
}

.row.addMargin {
  margin-bottom: 30px;
}

/* My Learning Achievement section: module completion pie chart */

.completionChartColumn .ui.segment {
  display: grid;
}

.completionChartColumn .customChartLabelText {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  width: 34%;
  left: 33%;
  height: 34%;
  top: 33%;
  font-size: x-large;
}

/* My Learning Achievement section: badge list */
#badgeItems {
  overflow: auto;
  max-height: 300px;
}

/* Learning Map section */

#learningMapTable {
  border: none;
  background: transparent;
}

#learningMapTable td {
  border: none !important;
  overflow-wrap: break-word;
}

#learningMapTable td.rightBorder {
  border-right: 2px solid rgba(34,36,38,.2) !important;
}

#learningMapTable td.topBorder {
  border-top: 2px solid rgba(34,36,38,.2) !important;
}

#learningMapTable .xAxisLabel, #learningMapTable .yAxisLabel {
  font-weight: bold;
  font-size: large;
}

#learningMapTable .container {
  position: relative !important;
  min-height: 90px;
}

#learningMapTable .segment {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #14a1f6;
  color: white;
  border: none;
  border-radius: 15px;
  min-height: 90px;
}

#learningMapTable i.icon {
  position: absolute;
  top: -15px;
  right: -15px;
  color: rgba(255, 99, 132, 1);
  background-color: white;
  box-shadow: 0 0 0 0.1em rgb(255 99 132) inset;
}

/* Module Completion Section: list of modules*/

/* Used with the old design for the module completion section - remove after
new design is approved */
/* #moduleProgressColumn {
  overflow: auto;
  max-height: 350px;
} */

#moduleProgressColumn .moduleProgressCustomIcon {
  padding: 30px;
  min-width: 150px;
}

#moduleProgressColumn .moduleProgressCustomIcon h3 {
  margin-top: 5px;
}

#moduleProgressColumn .moduleProgressCustomIcon .check.icon {
  color: rgba(255, 99, 132, 1);
  background: white;
  box-shadow: 0 0 0 0.1em rgba(255, 99, 132, 1) inset;
}

#moduleProgressColumn .moduleProgressCustomIcon .hourglass.icon,
#moduleProgressColumn .moduleProgressCustomIcon .minus.icon {
  color: rgb(0 0 0 / 35%);
  background: white;
  box-shadow: 0 0 0 0.1em rgb(0 0 0/ 35%) inset;
}

/* Module Completion Section: individual module details */

.hideModuleDetails {
  visibility: hidden;
}
