
#blue-upper {
  background: linear-gradient(to bottom, #2165AE, #091D32);
  color: white;
  z-index: -1;
  padding-top: 60px;
}

#white-lower {
  background-color: white;
  color: black;
  z-index: -1;
  padding-top: 200px;
}

h1.ui.header {
  font-size: 2.5rem;
  color: white;
}

.ui.container {
  font-size: 1.5rem;
}

/* Add the following styles */
#video-overlay {
  position: relative;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-overlay .inner-video {
  position: absolute;
  top: -170px;
}

p#about {
  margin-top: 50px;
}

p#aim {
  padding-bottom: 50px;
}