.loginPageTitle {
    font-size: xx-large;
}

.studentLoginColumn {
    border-right: solid #333333;
}

.field label {
    padding-top: 1em;
}

.testDriveBlue {
    background-color: #14a1f6 !important;
    color: white !important;
}