/* Fixed header and footer on module pages */
body{ 
    min-height: 100vh; 
    margin:0; 
    background: white;   
    /* overflow-y: hidden !important; */
    font-family: 'Inter', sans-serif;
}

#page-header{ 
    min-height:30px;
}



#page-footer{ 
    min-height:50px;
}

/* The article fills all the space between header & footer */
/* body{ 
    display:flex; 
    flex-direction:column; 
} */

/*  flex 1 to grow and shrink as necessary to fill available space in the flex container */
/* #page-article{ 
    flex:1; 
} */


#header-title {
    display: inline-block;
    font-size: 2.25rem;
    font-family: 'Inter', sans-serif; 
}

#raised-container {
    margin-top: 95px;
}

#raised-container .ui.raised.segment {
    background: none;border: none;box-shadow: none
}

#module-header {
    /* margin: 0;
    padding: 0;
    position: relative; */
}

module-footer {

}