#nav-menu {
    margin-bottom: 25px !important;
    width: 90vw;
}

#nav-container {
    width: 100%;
    display: flex;
    margin: 0 auto !important;
    text-align: center !important;
    justify-content: center !important;
    padding-top: 10px !important;
    z-index: 1000;
}

#backButton {
    border-radius: 30px !important;  
    color: #495057 !important;
    border: 1px solid #495057;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease;
    font-family: 'Armata', sans-serif; 
}

/* when hovering move back button to the left */
#backButton:hover {
    transform: translateX(-5px);
}

#nextButton {
    border-radius: 30px !important;  
    /* color: #495057 !important;
    border: 1px solid #495057; */
    background-color: #2165AE !important;
    color: white !important;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease;
    font-family: 'Armata', sans-serif; 
}

/* when hovering move start button to the right*/
/* #nextButton:hover {
    transform: translateX(5px);
    border: 2px solid #6BBCC7;
} */

#nextButton:hover {
    transform: translateX(5px);
    /* inset shadow instead of border used so that it doesn't doesn't affect the layout (push everything over 2px)*/
    box-shadow: inset 0 0 0 2px #6BBCC7;
}

#skipButton {
    border-radius: 30px !important;  
    color: #2165AE !important;
    border: 1px solid #2165AE;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Armata', sans-serif; 
}

button.ui.big.button.chatBotButton {
    border-radius: 30px !important; 
    background-color: white; 
    color: black !important;
    border: 1px solid #6BBCC7;
    padding-left: 30px;
    padding-right: 30px;
}

button.ui.big.button.chatBotButton:hover {
    background-color: #6BBCC7; 
}

.chat-container .ui.large.right.pointing.label {
    background: #6BBCC7 !important;
    color: black;
    float: left;
}

#sign-up-button {
    border-radius: 30px !important;  
    background-color: #2165AE !important;
    color: white !important;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease;

}

#sign-up-button:hover {
    transform: translateX(5px);
    box-shadow: inset 0 0 0 2px #6BBCC7;
}

@media (max-width: 430px) {
    #nextButton {
        padding-left: 10px;
        padding-right: 10px;
    } 
    #skipButton {
        padding-left: 10px;
        padding-right: 10px;
    }
    #backButton {
        padding-left: 10px;
        padding-right: 10px;
    }
}
