#backButton {
    border-radius: 30px !important;  
    color: #495057 !important;
    border: 1px solid #495057;
    /* background-color: red; */
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease;
}

/* when hovering move back button to the left */
#backButton:hover {
    transform: translateX(-5px);
}
  

#nextButton {
    border-radius: 30px !important;  
    /* color: #495057 !important;
    border: 1px solid #495057; */
    background-color: #2165AE !important;
    color: white !important;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease;
}

/* when hovering move start button to the right*/
/* #nextButton:hover {
    transform: translateX(5px);
    border: 2px solid #6BBCC7;
} */

#nextButton:hover {
    transform: translateX(5px);
    /* inset shadow instead of border used so that it doesn't doesn't affect the layout (push everything over 2px)*/
    box-shadow: inset 0 0 0 2px #6BBCC7;
}