#great-job, #text, #badgesGrid {
    visibility: hidden;
}

#text {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fieldStyle {
    width: 50%;
    height: 100px;
}

.ui.radio.checkbox.radioContainer {
    border-radius: 999px; 
    border: 2px solid gray;
    width: 100%;
    text-align: left;
    padding: 20px;
    display: flex;
    align-items: center;
}
