.segment.noPadding {
    padding: 0;
}

.ui.label {
    background-color: #2185d08a;
    color: #000000d1;
}

.ui.label h4 {
    float: left;
}


/* for Quiz Feedback elements */

i.icon.hidden {
    display: none !important;
}

.content.red {
    color: red;
    font-size: 1.25rem !important;
}

.content.green {
    color: green;
    font-size: 1.25rem !important;
}

#scoreBannerHeader {
    font-size: 1.15rem !important;
}

.explanation {
    margin: 5px;
}

.explanationLight {
    font-weight: 400;
}

.underline {
    text-decoration: underline;
}

.inline.bold {
    display: inline;
    font-weight: bold
}

.inline.bold.green {
    display: inline;
    font-weight: bold;
    color: green
}

.ui.big.labeled.icon.button {
    margin: 7px 14px 7px 0px !important;
}

.ui.form .disabled.fields .field,
.ui.form .disabled.field,
.ui.form .field :disabled {
    pointer-events: none;
    opacity: 0.99 !important;
}

.ui.container label {
    font-size: 120%;
}


/*------- SCREENSHOTS ---------*/

@media print {
    .ui.big.labeled.icon.button {
        display: none;
    }
    .testdriveHeaderRow,
    .ui.menu {
        display: none;
    }
    #pagecontainer {
        padding: 0 !important;
        margin: 5px;
    }
    /* .ui.segment {
        box-shadow: none !important;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    } */
    .ui.stackable.three.cards,
    .inline {
        display: flex !important;
        flex-direction: row !important;
    }
    h4 i,
    h3 i {
        float: left;
    }
    .ui.label {
        background-color: transparent !important;
    }
}