.segment.noPadding {
    padding: 0;
}

.ui.label {
    background-color: #2185d08a;
    color: #000000d1;
}

.ui.label h4 {
    float: left;
}


/* for Quiz Feedback elements */

i.icon.hidden {
    display: none !important;
}

.content.red {
    color: red;
    font-size: 1.25rem !important;
}

.content.green {
    color: green;
    font-size: 1.25rem !important;
}

#scoreBannerHeader {
    font-size: 1.15rem !important;
}

.explanation {
    margin: 5px;
}

.explanationLight {
    font-weight: 400;
}

.inline.bold {
    display: inline;
    font-weight: bold
}

.inline.bold.green {
    display: inline;
    font-weight: bold;
    color: green
}

.ui.big.labeled.icon.button {
    margin: 7px 14px 7px 0px !important;
}

.ui.form .disabled.fields .field,
.ui.form .disabled.field,
.ui.form .field :disabled {
    pointer-events: none;
    opacity: 0.99 !important;
}

.ui.container label {
    font-size: 120%;
}


/*------- SCREENSHOTS ---------*/

@media print {
    body * {
        display: none;
    }
    .insertPrint,
    .insertPrint * {
        display: block;
        overflow: visible;
    }
    .ui.big.labeled.icon.button {
        display: none;
    }
    .ui.big.labeled.icon.button.blue.showExplanationButton {
        visibility: hidden !important;
    }
    #scoreBannerHeader {
        visibility: hidden !important;
    }
    .ui.menu {
        display: none;
    }
    .breakHere {
        page-break-before: always;
    }
    .ui.form .disabled.fields .field,
    .ui.form .disabled.field,
    .ui.form .field :disabled {
        pointer-events: none;
        opacity: 1;
    }
}