.segment.noPadding {
    padding: 0;
}

.selectablePosts .ui.card {
    cursor: pointer;
}

.ui.card.selectedCard {
    box-shadow: 0 0 6px 8px rgba(0, 149, 255, .4);
}

.info_button {
    text-align: center;
    align-self: flex-end;
    position: absolute;
    bottom: -8px;
    right: 5px;
    width: 10%;
    height: auto;
    border-radius: 14px;
    border: 2px solid #cacacab0;
    box-sizing: border-box;
    color: #2185d0;
    background-color: #ffffff;
    box-shadow: 0px 4px 7.5px rgb(0 0 0 / 10%);
    z-index: 9;
}

.ui.label {
    background-color: #2185d08a;
    color: #000000d1;
}

.ui.label h4 {
    float: left;
}

i.icon.yellowIcon {
    color: #f9ff00;
}

.ui.container label {
    font-size: 120%;
}

.ui.form .glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.ui.form .glowing-border:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.ui.form .restrictMaxWidth {
    max-width: 15em;
}

.ui.form .grouped.fields .field {
    margin: 1em 0em 1em 1em !important;
}

.ui.form .field,
.ui.form .fields {
    margin: 0.5em 0 1em 0 !important;
}

.ui.card>.content>.description,
.ui.cards>.card>.content>.description {
    word-wrap: break-word;
}

.ui.big.labeled.icon.button {
    margin: 7px 14px 7px 0px !important;
}

.insertPrint,
.insertPrint * {
    display: none !important;
}


/*------- SCREENSHOTS ---------*/

@media print {
    .ui.big.labeled.icon.button {
        display: none;
    }
    .testdriveHeaderRow,
    .ui.menu {
        display: none;
    }
    #pagecontainer {
        padding: 0 !important;
        margin: 5px;
    }
    /* .ui.segment {
        box-shadow: none !important;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    } */
    .breakHere {
        page-break-before: always;
    }
    .ui.stackable.three.cards,
    .inline {
        display: flex !important;
        flex-direction: row !important;
    }
    h4 i,
    h3 i {
        float: left;
    }
    .ui.label {
        background-color: transparent !important;
    }
}