.segment.noPadding {
  padding: 0;
}

.selectedCard {
  box-shadow: 0 0 6px 8px rgba(0,149,255,.4) !important;
}

.ui.label {
  background-color: #2185d08a;
  color: #000000d1;
}

.ui.label h4 {
  float: left;
}

i.exclamation.triangle.icon {
  color: #f9ff00 !important;
}

label {
  font-size:120% !important;
}

.glowing-border {
  border: 2px solid #dadada !important;
  border-radius: 7px !important;
}

.glowing-border:focus {
  outline: none !important;
  border-color: #9ecaed !important;
  box-shadow: 0 0 10px #9ecaed !important;
}

/*------- SCREENSHOTS ---------*/
@media print {
  body * {
    display: none;
  }

  .insertPrint,
  .insertPrint * {
    display: block;
    overflow: visible;
  }
  .ui.big.labeled.icon.button {
    display: none;
  }
  .ui.menu {
    display: none;
  }
  .breakHere{
    page-break-before: always;
  }
}
