.ui.one.column.centered.grid {
  padding-top: 1em;
}

.ui.fixed.bottom.sticky {
  padding-bottom: 6em;
  z-index:10000000;
}

#removeHidden, #clickAllDotsWarning {
  display: none;
}

.img.post img {
  max-width: 100%;
}
