.learnSegment {
  padding: 14px 0 14px 0 !important;
}

.showLearnSectionButton {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.showKeyTermsButton {
  margin-top: 14px !important;
}

i.caret.icon {
  text-indent:3em;
}

.grayElement{
  color:gray;
}

.keyTermDefinition{
  font-weight: 600;
}

.keyTermDefinition ul {
  font-weight: 400;
}

.ui.warning.message{
  display: none;
}
