.bubbleText {
    background-color: white; 
    border: 1px solid #2165AE;
    padding: 8px; 
    border-radius: 20px; 
    display: inline-block; 
    margin-left: 20px;
}

#badgesGrid .column .content {
    /* background-color: red; */
    text-align: center;
}

/* OLD CSS From Truman  Start Pages Below */
/* 
.ui.warning.message {
    display: none;
}

.segment.removePadding {
    padding: 0;
}

.segment.learnSegment {
    padding: 14px 0 14px 0;
}

.button.showLearnSectionButton {
    margin-top: 14px;
    margin-bottom: 14px;
}

.circle.bullet {
    text-indent: 8em !important;
    font-size: 8px !important;
}


// Key terms section 

.button.showKeyTermsButton {
    margin-top: 14px;
}

.keyTermDefinition {
    font-weight: 600;
    vertical-align: middle;
}

.keyTermDefinition ul {
    font-weight: 400;
} */