i.caret.icon {
  text-indent:3em;
}

.grayElement{
  color:gray;
}

.keyTermDefinition{
  font-weight: 600;
  vertical-align: middle;
}

.keyTermDefinition ul {
  font-weight: 400;
}

.ui.warning.message{
  display: none;
}
