

.login-box{
    height: min-content;
    width: 400px;
    border-radius: 5px;
    background-color: #ffff;
    padding: 40px;
    text-align: center;
    border: 1px solid grey;
}

.login-box h2{
    font-size: 2.2rem;
}


.login-box p {
    color: #404040;
    margin-top: 4px;
    font-size: 1.2rem;
}

form{
    text-align: left;
    margin: top 30px; 
}

form .form-group{
    margin: 18px 0;
}

form .form-group label {
    display: block;
    font-size: 20px; 
    color: #404040;
}

form .form-group input {
    width: 100%;
    height: 40px;
    margin-top: 6px;
    padding: 0 12px 0 34px;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    font-size: 18px;
    color: #404040;
    transition: 1ms;
}


form .form-group input:focus{
    border-color: #124ce7;
    box-shadow: 0 0 12px #bbd3ff;
}


form .form-group input:valid{
    border-color: #124ce7;
    background: #e4edff;
}


.form-group i {
    position: absolute;
    color: #404040;
    transform: translateX(12px) translateY(16px);
    font-size: 20px;
}

.forgot{
    cursor:pointer ;
    color: #3784ff;
    font-size: 18px;
    text-decoration: none;
    margin-top: px;
}

 .forgot:hover {
    color: #001e81
}


.btn{  
    width:100%;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: #124ce7;
    color: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2px;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .btn:active,
  .btn:focus{  
    background-color: #ffffff;
    color: #124ce7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }
  .btn:hover{  
    background-color: #ffffff;
    color: #124ce7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }
