.ui.warning.message {
    display: none;
}


/* Trans section */

.segment.removePadding {
    padding: 0;
}

.segment.reviewSegment {
    padding: 14px;
}

.button.showReviewSectionButton {
    margin-top: 14px;
    margin-bottom: 14px;
}

.circle.bullet {
    text-indent: 8em !important;
    font-size: 8px !important;
}