.ui.top.fixed.three.item.menu.learnerDashboardMobileMenu(style="margin-top:75px;")
  a.item(data-value='1', href='/learningAchievement') My Learning Achievement
  a.item(data-value='2', href='/learningMap') Learning Map
  a.item(data-value='3', href='/moduleCompletion') Module Completion

.ui.left.fixed.vertical.menu.learnerDashboardMenu(style="padding:75px 0 0 0;")
  a.item(data-value='1', href='/learningAchievement') Learning Achievement
    i.icon.trophy
  a.item(data-value='2', href='/learningMap') Learning Map
    i.icon.compass.outline
  a.item(data-value='3',href='/moduleCompletion') Module Completion
    i.icon.hourglass.outline
      
