div#access(style='width:100%; background-color:white; color: black; border:2.5px solid black; display: none; padding: 10px;')
    h3 Accessibility Options
    button#large.ui.button.blue.large Large Text
    button#medium.ui.button.blue.medium Medium Text
    button#small.ui.button.blue.small Small Text
    button#dark.ui.button.black Dark Mode
    button#light.ui.button.white Light Mode
    button#close.ui.button.red.right.floated Close

script.
    document.getElementById('dark').onclick = dark;
    document.getElementById('light').onclick = light;
    document.getElementById('small').onclick = small;
    document.getElementById('medium').onclick = medium;
    document.getElementById('large').onclick = large;
    document.getElementById('close').onclick = function() {
      window.sessionStorage.setItem('modalMode', 'false');
      window.location.reload();
    };

    function dark(){
        window.sessionStorage.setItem('darkMode', 'true');
        window.location.reload();
    }

    function light(){
        window.sessionStorage.setItem('darkMode', 'false');
        window.location.reload();
    }

    function small(){
        window.sessionStorage.setItem('textMode', 'small');
        window.location.reload();
    }

    function medium(){
        window.sessionStorage.setItem('textMode', 'medium');
        window.location.reload();
    }

    function large(){
        window.sessionStorage.setItem('textMode', 'large');
        window.location.reload();
    }

    function changeToDark() {
        let collection = document.getElementById("container").getElementsByClassName("segment");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.backgroundColor = "black";
        }
        collection = document.getElementById("container").getElementsByClassName("card");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.backgroundColor = "black";
        }

        let tags = ["h1","h3","h4", "ul", "li", "a", "span", "i", "p", "b"];
        for(var j = 0; j < tags.length; j++){
        let collection = document.getElementById("container").getElementsByTagName(tags[j]);
        for (var i = 0; i < collection.length; i++) {
            collection[i].style.color = "white";
        }
        }
        collection = document.getElementById("container").getElementsByClassName("button");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.color = "black";
        }
        collection = document.getElementsByClassName("introjs-tooltip");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.backgroundColor = "dimgray";
        collection[i].style.color = "white";
        }
        collection = document.getElementsByClassName("introjs-arrow top");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.borderTopColor = "transparent";
        collection[i].style.borderRightColor = "transparent";
        collection[i].style.borderBottomColor = "dimgray";
        collection[i].style.borderLeftColor = "transparent";
        }
        collection = document.getElementsByClassName("introjs-arrow left");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.borderTopColor = "transparent";
        collection[i].style.borderRightColor = "dimgray";
        collection[i].style.borderBottomColor = "transparent";
        collection[i].style.borderLeftColor = "transparent";
        }
        collection = document.getElementsByClassName("introjs-arrow bottom");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.borderTopColor = "dimgray";
        collection[i].style.borderRightColor = "transparent";
        collection[i].style.borderBottomColor = "transparent";
        collection[i].style.borderLeftColor = "transparent";
        }
        collection = document.getElementsByClassName("introjs-arrow right");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.borderTopColor = "transparent";
        collection[i].style.borderRightColor = "transparent";
        collection[i].style.borderBottomColor = "transparent";
        collection[i].style.borderLeftColor = "dimgray";
        }
        return false;
    }

    function changeToLight() {
        let collection = document.getElementById("container").getElementsByClassName("segment");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.backgroundColor = "white";
        }
        collection = document.getElementById("container").getElementsByClassName("card");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.backgroundColor = "white";
        }

        let tags = ["h1","h3","h4", "ul", "li", "a", "span", "i", "p", "b"];
        for(var j = 0; j < tags.length; j++){
        let collection = document.getElementById("container").getElementsByTagName(tags[j]);
        for (var i = 0; i < collection.length; i++) {
            collection[i].style.color = "black";
        }
        }
        collection = document.getElementById("container").getElementsByClassName("ribbons");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.color = "white";
        }
        collection = document.getElementsByClassName("introjs-tooltip");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.backgroundColor = "white";
        collection[i].style.color = "black";
        }
        collection = document.getElementsByClassName("introjs-arrow top");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.borderTopColor = "transparent";
        collection[i].style.borderRightColor = "transparent";
        collection[i].style.borderBottomColor = "white";
        collection[i].style.borderLeftColor = "transparent";
        }
        collection = document.getElementsByClassName("introjs-arrow left");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.borderTopColor = "transparent";
        collection[i].style.borderRightColor = "white";
        collection[i].style.borderBottomColor = "transparent";
        collection[i].style.borderLeftColor = "transparent";
        }
        collection = document.getElementsByClassName("introjs-arrow bottom");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.borderTopColor = "white";
        collection[i].style.borderRightColor = "transparent";
        collection[i].style.borderBottomColor = "transparent";
        collection[i].style.borderLeftColor = "transparent";
        }
        collection = document.getElementsByClassName("introjs-arrow right");
        for (var i = 0; i < collection.length; i++) {
        collection[i].style.borderTopColor = "transparent";
        collection[i].style.borderRightColor = "transparent";
        collection[i].style.borderBottomColor = "transparent";
        collection[i].style.borderLeftColor = "white";
        }
        return false;
    }

    function changeToSmall() {
        let tags = ["h1","h3","h4", "ul", "li", "a", "span", "i", "p", "b"];
        newFontSize = 1.14285714 * .75;

        for(var j = 0; j < tags.length; j++){
        let collection = document.getElementById("container").getElementsByTagName(tags[j]);
        for (var i = 0; i < collection.length; i++) {
            collection[i].style.fontSize = newFontSize + "rem";
        }
        }
        document.body.style.fontSize = newFontSize + "rem";
        return false;
    }

    function changeToMedium() {
        let tags = ["h1","h3","h4", "ul", "li", "a", "span", "i", "p", "b"];
        newFontSize = 1.14285714 * 1.25;

        for(var j = 0; j < tags.length; j++){
        let collection = document.getElementById("container").getElementsByTagName(tags[j]);
        for (var i = 0; i < collection.length; i++) {
            collection[i].style.fontSize = newFontSize + "rem";
        }
        }
        document.body.style.fontSize = newFontSize + "rem";
        return false;
    }

    function changeToLarge() {
        window.sessionStorage.setItem('textMode', 'large');
        let tags = ["h1","h3","h4", "ul", "li", "a", "span", "i", "p", "b"];
        newFontSize = 1.14285714 * 1.75;

        for(var j = 0; j < tags.length; j++){
        let collection = document.getElementById("container").getElementsByTagName(tags[j]);
        for (var i = 0; i < collection.length; i++) {
            collection[i].style.fontSize = newFontSize + "rem";
        }
        }
        document.body.style.fontSize = newFontSize + "rem";
        return false;
    }