header(style="z-index: 1000 !important;")
    .ui.borderless.menu#module-header
        .ui.container
            .left.menu
                .item
                    a(href='#')
                        i.hamburger.large.black.icon
                .item  
                    h1#header-title 
                        .ui.breadcrumb
                            if module === 'identity'
                                a.section#header-module(href="/about/identity") Identity Theft
                            else if module === 'romance'
                                a.section#header-module(href="/about/romance") Romance & Friendship Scams
                            else if module === 'grandparent'
                                a.section#header-module(href="/about/grandparent") Grandparent Scams
                            else if module === 'tech'
                                a.section#header-module(href="/about/tech") Tech Support Scams
                            i.right.angle.icon.divider
                            //- capitalize section name
                            if section 
                                .active.section#header-section #{section.charAt(0).toUpperCase()}#{section.slice(1)}
                            else 
                                .active.section#header-section Challenge

            .right.menu
                .item.ui.dropdown#volume-button
                    i.volume.off.big.icon#volume-icon(style="padding-left: 5px;")
                    span(style="font-weight: bold;") Voiceover
                    .menu 
                        //- play or pause audio
                        .ui.fluid.blue.button#play-pause-audio(onclick="togglePlayPause()" style="margin-left: 5px; margin-top: 8px; width: 93%;")
                            i.play.icon
                            span.toggle-text Play
                        .ui.fluid.blue.button#replay-audio(onclick="replayAudio()" style="margin-left: 5px; margin-top: 8px; width: 93%;")
                            i.undo.icon
                            | Restart


                        //- Select Narrator Dropdown
                        .ui.basic.label(style="border: none; font-size: 1rem; padding-left: 5px;") Narrator
                        .ui.dropdown2.item#select-narrator(onclick="stopPropagation(event);")
                            i.dropdown.icon
                            .default.text #{user.avatar}
                            .menu
                                .item(data-value="Daring") Daring
                                .item(data-value="Intrepid") Intrepid
                                .item(data-value="Valiant") Valiant
                        //- Speed Control
                        .ui.basic.label(style="border: none; font-size: 1rem; padding-left: 5px;") Speed
                        .ui.dropdown3.item#select-narrator(onclick="stopPropagation(event);")
                            i.dropdown.icon
                            .default.text#currentSpeed 1x
                            .menu
                                .item(data-value="0.5" onclick="updateSpeed(0.5)") 0.5x
                                .item(data-value="0.75" onclick="updateSpeed(0.75)") 0.75x
                                .item(data-value="1" onclick="updateSpeed(1)") 1x
                                .item(data-value="1.25" onclick="updateSpeed(1.25)") 1.25x
                                .item(data-value="1.5" onclick="updateSpeed(1.5)") 1.5x
                                .item(data-value="1.75" onclick="updateSpeed(1.75)") 1.75x
                                .item(data-value="2" onclick="updateSpeed(2)") 2x

                        .ui.basic.label(style="border: none; font-size: 1rem; padding-left: 5px;") Mute Audio
                        //- Toggle Narration
                        .ui.toggle.checkbox.item#toggle-narration(onclick="stopPropagation(event); muteNarration();")
                            input(type="checkbox" id="mute-checkbox" onchange="postNarrationSetting('mute', this.checked)")
                            label
                        //- Toggle Narration
                        .ui.basic.label(style="border: none; font-size: 1rem;  padding-left: 5px;") Highlight Words
                        .ui.toggle.checkbox.item#highlight-words(onclick="stopPropagation(event);")
                            input(type="checkbox" id="highlight-words-checkbox" onchange="postNarrationSetting('word', this.checked)")
                            label
                        .ui.basic.label(style="border: none; font-size: 1rem;  padding-left: 5px;") Highlight Sentences
                        .ui.toggle.checkbox.item#highlight-sentences(onclick="stopPropagation(event);")
                            input(type="checkbox" id="highlight-sentences-checkbox" onchange="postNarrationSetting('sentence', this.checked)")
                            label


                a.item#exit-button
                    i.home.large.icon

    #theft-progress.ui.small.bottom.progress
        .bar(style='border-radius: 0 !important;')

//- Modal
.ui.modal#exit-modal(style="z-index: 999999; width: 400px;")
    .header Are you sure you want to exit?
    .content
        p You can come back and resume from where you left off at any time.
    .actions(style="text-align: center;")
        .ui.negative.huge.button#no-button No
        .ui.positive.huge.button#yes-button Yes
