.ui.modal.optInToShareActivityDataSegment
    .content
        p Dear Student,
        p We are doing a study to find out how well Social Media TestDrive works to teach young people about social media. Social Media TestDrive is an educational program to help youth learn about safe and responsible behavior on social media. We are asking you to help!
        p If you agree to be in our study, we are going to ask you to complete the tasks on this website (module and/or surveys). You can ask your teacher questions about this study at any time. If you decide at any time not to go forward, you can stop at any time.
        p If you click “I want to participate”, it means that you have read this and that you want to be in the study. If you don’t want to be in the study, you can simply leave this website. Being in the study is up to you, and no one will be upset if you don’t want to be in the study or if you change your mind later.    
    .actions
        .ui.positive.big.button I want to participate. Continue to the next page.
        p.italicText.negative Please leave this website if you don’t want to participate in our study.
