//- .ui.top.fixed.four.item.icon.menu.teacherDashboardMobileMenu(style="margin-top:75px;")
//-   a.item(data-value='1', title='Class Management', href='/classManagement')
//-     i.icon.edit
//-   a.item(data-value='2', title='Class Overview', href='/classOverview')
//-     i.icon.users
//-   a.item(data-value='3', title='Module Overview', href='/moduleOverview')
//-     i.icon.cube
//-   a.item(data-value='4', title='Student Report', href='/studentReport')
//-     i.icon.address.book.outline

.ui.top.fixed.four.item.menu.teacherDashboardMobileMenu(style="margin-top:75px;")
  a.item(data-value='1', href='/classManagement') Class Management
  a.item(data-value='2', href='/classOverview') Class Overview
  a.item(data-value='3', href='/moduleOverview') Module Overview
  a.item(data-value='4', href='/studentReport') Student Report

.ui.left.fixed.vertical.menu.teacherDashboardMenu(style="padding:75px 0 0 0;")
  a.item(data-value='1', href='/classManagement') Class Management
    i.icon.edit
  a.item(data-value='2', href='/classOverview') Class Overview
    i.icon.users
  a.item(data-value='3',href='/moduleOverview') Module Overview
    i.icon.cube
  a.item(data-value='4', href='/studentReport') Student Report
    i.icon.address.book.outline
      
