.ui.top.fixed.four.item.menu.teacherDashboardMobileMenu
  a.item(data-value='1', href='/classManagement') Class Management
  a.item(data-value='2', href='/classOverview') Class Overview
  if !user.control
    a.item(data-value='3', href='/moduleOverview') Module Overview
    a.item(data-value='4', href='/studentReport') Student Report

.ui.left.fixed.vertical.menu.teacherDashboardMenu
  a.item(data-value='1', href='/classManagement') Class Management
    i.icon.edit
  a.item(data-value='2', href='/classOverview') Class Overview
    i.icon.users
  if !user.control
    a.item(data-value='3',href='/moduleOverview') Module Overview
      i.icon.cube
    a.item(data-value='4', href='/studentReport') Student Report
      i.icon.address.book.outline