.ui.left.fixed.vertical.menu.teacherDashboardMenu(style="padding-top:75px;")
  a.item(data-value='1', href='/classes') Class Management
    i.icon.edit
  a.item(data-value='2', href='/classOverview') Class Overview
    i.icon.users
  a.item(data-value='3',href='/moduleOverview') Module Overview
    i.icon.cube
  a.item(data-value='4', href='/studentReport') Student Report
    i.icon.address.book.outline
      
