footer.ui.bottom.small.borderless.menu.testDriveFooter
    //- put in .ui.container if you want to make lined up with the rest of the page
    .left.menu
      .item
        .ui.toggle.checkbox.hidden#voiceoverCheckbox
          input(type="checkbox", name="voiceoverCheckbox" id='voiceoverCheckbox' checked)
          label(for='voiceoverCheckbox' style="font-size: 1rem !important;") Voiceovers
    .right.menu
      a.item(href='https://socialmediatestdrive.org/terms.html') Terms of Service 
      //- a.item(href='/privacy') Privacy Policy  
      a.item(href='mailto:socialmediatestdrive@gmail.com') Contact Us
