footer
  //-.ui.vertical.footer.segment
  footer
    .ui.right.aligned.container
      a(href='https://socialmediatestdrive.org/terms.html') Terms of Service 
      | - 
      a(href='/privacy') Privacy Policy 
      | - 
      a(href='mailto:socialmediatestdrive@gmail.com') Contact Us

    //-ul.right.list-inline
      li
        a(href='https://socialmediatestdrive.org/terms.html') Terms of Service
      li
        a(href='/privacy') Privacy Policy
      li
        a(href='mailto:socialmediatestdrive@gmail.com') Contact Us
