.ui.bottom.fixed.small.borderless.menu(style="z-index:10000000")
  .left.menu 
    a.item(href='/') English
  .right.menu
    a.item(href='https://socialmediatestdrive.org/terms.html') Condiciones de servicio
    a.item(href='mailto:socialmediatestdrive@gmail.com') Contactarnos
