//-footer
  //-.ui.vertical.footer.segment
  footer
    .ui.right.aligned.container
      a(href='https://socialmediatestdrive.org/terms.html') Terms of Service 
      | - 
      a(href='/privacy') Privacy Policy 
      | - 
      a(href='mailto:socialmediatestdrive@gmail.com') Contact Us

    //-ul.right.list-inline
      li
        a(href='https://socialmediatestdrive.org/terms.html') Terms of Service
      li
        a(href='/privacy') Privacy Policy
      li
        a(href='mailto:socialmediatestdrive@gmail.com') Contact Us
  
.ui.bottom.fixed.small.borderless.menu(style="z-index:10000000")
  .right.menu
    a.item(href='https://socialmediatestdrive.org/terms.html') Condiciones de servicio
    a.item(href='/privacy') Política de privacidad 
    a.item(href='mailto:socialmediatestdrive@gmail.com') Contactarnos
