-var cdn = "https://dhpd030vnpk29.cloudfront.net";
-var isResearchVersion = process.env.isResearchVersion === 'true';
-var enableLearnerDashboard = process.env.enableLearnerDashboard === 'true';
.computer.only.tablet.only.row.testdriveHeaderRow 
  .ui.borderless.fixed.menu.not-fixed-header
    #outer-header.ui.borderless.fixed.menu.testDriveHeader.not-fixed-header
      #inner-header.ui.menu   
        a.item(href='/')
          img.ui.small.image(src='/images/dart-logo.png', id='logo')
        .right.menu
          a.item(href='/').dart-blue
            | Home
          a.item(href='/account').dart-blue
            | Profile
          a.item(href='/logout')
            | Logout
.mobile.only.row
  .ui.fluid.top.fixed.two.item.menu.testDriveHeader
    a.item(href='/')
      img.ui.small.image(src='/images/dart-logo.png', id='cell_logo')
    if isResearchVersion
        if user
          //- a.item.newpost.float.right
          //-   i.big.plus.icon
          .item
            .right.menu.headerDropdownMenu
              .ui.simple.dropdown.item
                if isResearchVersion
                  span= user.username || user.profile.name || user.id
                else 
                  span= user.profile.name || user.username || user.id
                i.dropdown.icon
                .menu
                  if user.isInstructor
                    a.item(href='/classManagement') View Dashboard
                  if (user.isStudent && enableLearnerDashboard)
                    a.item(href='/learningAchievement') My Dashboard
                  a.item(href='/') Module Page
                  a.item(href='/account') Profile Page
                  a.item(href='mailto:socialmediatestdrive@gmail.com') Contact Us
                  a.item(href='/logout') Logout
          
