header.ui.borderless.menu.tablet-and-computer
    .ui.container
        #logo
            a.item(href='/')
                img.ui.small.image.dart-logo(src=`${public_resources}/images/shared_sources/dart-logo.svg` alt='dart logo')
        if user
            .right.menu#navbar-header
                a.item(href='/').dart-blue
                    | Home
                a.item(href='/courses').dart-blue
                    | Missions
                a.item(href='/dashboard').dart-blue
                    | Dashboard
                a.item(href='/account').dart-blue
                    | Profile
                a.item(href='/logout').dart-gray
                    | Log out
        else 
            .right.menu
                button.ui.blue.huge.button(href='/getGuest' style="display: none; margin-top: 10px; margin-bottom: 10px;" onclick="window.location.href='/getGuest';")
                    | Get Started
                a.item(href='/login' style="color: #3757A6;").dart-blue
                    | Log in
                a.item(href='/signup').dart-blue
                    | Sign up

header.mobile-only(style="z-index: auto !important;")
    .ui.fluid.top.two.item.menu
        a.item(href='/')
            img.ui.small.image.dart-logo(src=`${public_resources}/images/shared_sources/dart-logo.svg` id='cell_logo')
        .item
            .menu.headerDropdownMenu
                if user
                    .ui.simple.dropdown.item
                        if isResearchVersion
                            span= user.name || user.id
                        else 
                            span= user.name || user.id
                        i.dropdown.icon
                        .menu
                            a.item(href='/') Home
                            a.item(href='/account') Profile
                            a.item(href='/logout') Log out
                else 
                    a.item(href='/login').dart-blue
                        | Log in

block styles
    //- link(rel='stylesheet', href='/css/NavBar/nav-header.css')

block scripts
    //- script(src='/module_js/navbar/nav-header.js')
