#activity.hidden
  .ui.container#know-you-read(style="width: 100%;")
    .limit(style="padding: 0;")
      h1.ui.header.large#learn-title
        .content 
          i.dice.icon
          | Activity: Which one is a scam pop-up?
      .ui.three.column.stackable.grid#warning-cards
          .column 
              .ui.shape
                  .sides
                      .side.active
                          .ui.raised.card.click-me-glow.front
                              .content
                                  h4.ui.centered.header Money / Gift Card
                              .content
                                  .ios-chat-container
                                      .chat
                                        img(src="/images/tech/signs-activity-1.png", alt="Chat")
                      .side
                          .ui.raised.card.back
                              .content
                                  h4.ui.centered.header Legitimate
                              .content
                                  p This e-commerce discount pop-up is legitimate. It asks for your email to offer subscriber discounts, resulting in promotional emails. Unlike scams, it doesn't claim device issues or provide a 'tech support' number.

                                      //- b Scammers Swiftly Shift to Other Messaging Tools
                                      //- | Scammers often suggest switching to other messaging platforms shortly after making contact. This tactic helps them avoid detection by the site's moderation team.
                                      //- p In order to not be traced, Romance Scammers usually want to move quickly from well-known social networking or dating sites to other methods, usually texting.
          .column 
              .ui.shape
                  .sides
                      .side.active
                          .ui.raised.card.click-me-glow.front
                              .content
                                  h4.ui.centered.header Investment

                              .content
                                  .ios-chat-container
                                      .chat
                                        img(src="/images/tech/signs-activity-2.png", alt="Chat")
                      .side
                          .ui.raised.card.back
                              .content
                                  h4.ui.centered.header Scam
                              .content
                                  p This is a scam pop-up. It falsely claims your PC is blocked and urges you to call a 'helpline'. Legitimate tech companies won't lock you out and prompt you to call an unknown number.
          .column 
              .ui.shape
                  .sides
                      .side.active
                          .ui.raised.card.click-me-glow.front
                              .content
                                  h4.ui.centered.header Money Mule 

                              .content
                                  .ios-chat-container
                                      .chat
                                        img(src="/images/tech/signs-activity-3.png", alt="Chat")

                      .side
                          .ui.raised.card.back
                              .content
                                  h4.ui.centered.header Legitimate 
                              .content
                                  p This legitimate e-commerce discount pop-up asks for your information to offer subscriber discounts, resulting in promotional emails. It doesn't claim device issues or provide a 'tech support' number, unlike scam pop-ups.

      //- .ui.basic.segment#avatarContainer
      //-   #raised-content
      //-     h1 Choose Your Guide:
      //-     .ui.stackable.three.column.grid
      //-         .column
      //-             .ui.card(onclick='')
      //-                 .ui.small.centered.image
      //-                     img.daring(src='/images/tech/signs-activity-1.png')
      //-                 .content
      //-                     a.header Daring
      //-                     //- .meta
      //-                     //-   p.descriptors Bold, Fearless, Confident
      //-                 button.ui.fluid.blue.huge.button Select
      //-         .column
      //-             .ui.card(onclick='') 
      //-                 .ui.small.centered.image
      //-                     img.valiant(src='/images/tech/signs-activity-2.png')
      //-                 .content
      //-                     a.header Valiant
      //-                     //- .meta
      //-                     //-   p.descriptors Courageous, Heroic, Noble &nbsp;
      //-                 button.ui.fluid.blue.huge.button Select
      //-         .column
      //-             .ui.card(onclick='')
      //-                 .ui.small.centered.image
      //-                     img.intrepid(src='/images/tech/signs-activity-3.png')
      //-                 .content
      //-                     a.header Intrepid
      //-                     //- .meta
      //-                     //-   p.descriptors Clever, Energetic, Resilient
      //-                 button.ui.fluid.blue.huge.button Select
