#secrecy2.hidden
    .ui.container(style="width: 90%;")
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 6: Demand for Secrecy 
            .ui.centered.stackable.grid
                .eight.wide.column
                    p <strong> Excuse 2: To avoid having a criminal record, </strong> the “lawyer” may advise you not to disclose this information to anyone, especially the bank representative. They emphasize that it's important to keep this confidential.

                    .callout
                        .dark-blue-square
                            img(src=user.avatarImg, alt='avatar picture')
                        .light-blue-content
                            h3.call-header Important
                            p This is a very cunning scheme. The scammers are aware that banks and money transfer services ask about the purpose when someone wants to withdraw or transfer a large amount of money. They take advantage of grandparents' worries that their grandchild may get a criminal record. By playing on this fear, the scammers persuade the grandparents not to reveal the real reason for the money transaction. So, DO NOT BELIEVE THEM!

                .eight.wide.column
                    h3 Audio Example
                    p Scammer: At Walmart, for the money transfer, they have the right to ask why you are doing the money transfer. If you inform them that you are sending the money to pay a bond or any legal fee, they will have the right to put Jimmy’s arrest and his information into public record. My advice is to keep the transfer reason personal. Simply tell them that it is a gift or even a birthday present [2].
