#sign-1.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Warning Sign 1: Pre-recorded or Robotic Voices
            .ui.centered.stackable.grid
                .eight.wide.column
                    p Be cautious if you answer a phone call and hear a robotic voice or a voice that does not respond to your questions. That could be a warning sign of a potential scam.
                    h3 Hang up the phone immediately. Do not do or say anything.


                .eight.wide.column
                    div.ui.header
                        i.phone.volume.icon
                        | Audio Example
                    //- a(href='https://dart-store.s3.amazonaws.com/grandparent-audio/randy.mp3' target='_blank') Listen to the audio example
                    .audio-player
                        .wrap
                            audio#audio.with-transcript(controls)
                                source(src=`${public_resources}/audio/tech-audio/apple-robo.mp3`  type="audio/mpeg")
                                | Your browser does not support the audio element.
                            ul#transcript(data-audio-file=`${public_resources}/audio/tech-audio/apple-robo.mp3`)
                                li.speaker1.current(data-timecode="00:00") Scammer: Before using any devices or going online, please contact Apple Support Advisor. 
                                li.speaker1(data-timecode="00:06") Scammer: Press 1 to connect to Apple Support Advisor. 
                                li.speaker1(data-timecode="00:09") Scammer: Press 2 to listen to this again. Thank you.


