#sign-2.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Warning Sign 2: Unsolicited Phone Calls
            .ui.centered.stackable.grid
                .eight.wide.column
                    p Be highly alert if you receive an unsolicited call from someone claiming to be from a reputable company like Apple or Microsoft. If the caller also insists that your device has a serious issue that needs to be addressed immediately, it's almost certainly a scam. 
                    h3 Hang up the phone immediately. Do not do or say anything. Legitimate companies never initiate unsolicited calls or emails to provide tech support.


                .eight.wide.column
                    div.ui.header
                        i.phone.volume.icon
                        | Audio Example
                    //- a(href='https://dart-store.s3.amazonaws.com/grandparent-audio/randy.mp3' target='_blank') Listen to the audio example
                    .audio-player
                        .wrap
                            audio#audio.with-transcript(controls)
                                source(src=`${public_resources}/audio/tech-audio/warning-2.WAV`  type="audio/mpeg")
                                | Your browser does not support the audio element.
                            ul#transcript(data-audio-file=`${public_resources}/audio/tech-audio/warning-2.WAV`)
                                li.speaker1.current(data-timecode="00:00") Scammer: Hello, this is Sam from Microsoft Support.
                                li.speaker1(data-timecode="00:03") Scammer: I’m calling to inform you that your new computer has some critical security vulnerabilities that need immediate attention.
                                li.speaker2(data-timecode="00:09") Target: That’s strange; I just bought this computer. What do I need to do?
                                li.speaker1(data-timecode="00:13") Scammer: Yes, unfortunately, many new computers can have pre-existing security issues. Don’t worry, we can fix this. We offer a special security package that will protect your computer and personal data. It’s a one-time fee of $299.99 for complete protection.
                                
