#sign-4.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Warning Sign 4: Unsolicited Email Notifications
            .ui.centered.stackable.grid
                .eight.wide.column
                    p If you receive an email allegedly from a reputable antivirus company, stating that you have been charged for their service when you did not initiate or authorize such a purchase, be cautious as this could be a scam attempt. 
                    p As shown in the example, this email appears harmless, like a receipt, the amount charged can prompt you to call the provided number, leading to potential scams.
                    h3 Ignore the email and directly check your bank statements for any unauthorized charges. Do not call the provided number on the email. Do not share your personal information.


                .eight.wide.column
                    img(src=public_resources + '/images/modules/tech/norton-invoice.png' alt='fake invoice' style='width: 700px;')
