#sign-3.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Warning Sign 3: A Pop-up Warning Claiming Device Issues

            .ui.centered.stackable.grid
                .eight.wide.column
                    p In general, pop-ups are advertisements and are harmless. However, if a pop-up claims there are issues with your device be alert. For example, this pop-up states that your computer is infected with a virus and provides a phone number to call for 'tech support'. 
                    h3 Do not interact with the pop-up window. Instead, close your browser. We will cover this in more detail in Chapter 5.


                .eight.wide.column
                    img(src=public_resources + '/images/modules/tech/types-popup.svg' alt='Computer image')
