#sign-7.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Warning Sign 7: A Sense of Pressure and/or Urgent
            .ui.centered.stackable.grid
                .eight.wide.column
                    p If you sense or perceive that the caller is attempting to instill an acute feeling of pressure or urgency about something happening to your personal device, it could be a warning sign of a tech support scam [12, 13].
                    h3 Remain calm and composed. Then refer to the methods outlined in Chapter 5 to properly handle the situation.

                .eight.wide.column
                    div.ui.header
                        i.phone.volume.icon
                        | Audio Example
                    //- a(href='https://dart-store.s3.amazonaws.com/grandparent-audio/randy.mp3' target='_blank') Listen to the audio example
                    .audio-player
                        .wrap
                            audio#audio.with-transcript(controls)
                                source(src=`${public_resources}/audio/tech-audio/warning-7.mp3`  type="audio/mpeg")
                                | Your browser does not support the audio element.
                            ul#transcript(data-audio-file=`${public_resources}/audio/tech-audio/warning-7.mp3` style="max-height:225px;")
                                li.speaker1.current(data-timecode="00:00") Scammer: My good luck, madam. It would be my humble request to help you, please do not try to click on any of them okay? Because that’s of the malicious online infections I was speaking of okay? Once you click on any of them, your computer might even stop responding at any point of time. So be very careful okay?
