#sign-1.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Warning Sign 1: Pre-recorded or Robotic Voices
            .ui.centered.stackable.grid
                .eight.wide.column
                    p Be cautious if you answer a phone call and hear a robotic voice or a voice that does not respond to your questions. That could be a warning sign of a potential scam.
                    h3 Hang up the phone immediately. Do not do or say anything.


                .eight.wide.column
                    h3 Audio Example
                    p Before using any devices or going online, please contact Apple Support Advisor. Press 1 to connect to Apple Support Advisor. Press 2 to listen to this again. Thank you.