#voice.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 4:  Voice Sounding Unnatural
            .ui.centered.stackable.grid
                .eight.wide.column
                    p  When you answer the phone,  if you feel their voice does not sound the same as it usually doess, <strong>be alert!!</strong>
                    p <strong> They may claim that: </strong>

                    .ui.bulleted.list
                        .item They are sick 
                        .item Their phone line quality is poor
                        .item They need to talk quietly because they are hiding and trying to disguise themselves or not be heard by others.

                .eight.wide.column
                    h3 Audio Example
                    p Grandparent: Hello?
                    p Scammer [Female Accented Voice Hoarsely] Grandma, is that you?
                    p Grandparent: Yes, who is this?
                    p Scammer: It's me, Grandma. It's your granddaughter.
                    p Grandparent: Oh my dear, you sound terrible. What's happened?
                    p Scammer: I'm sorry, Grandma. I'm in the hospital. I've been really sick, and it’s hard to talk.
