extends ../../../module_layout

block content

  .ui.container#raised-container(style='padding-top: 50px;')
    .limit
      h1.ui.header.large#mod-title
        .content
          | Definitions
      br
      p <u>Identity Theft</u> is when your personal information is stolen and used against you.
      p <u>Personal Information</u> is information uniquely associated with you, which can be directly or indirectly used to identify you. 
      ul
        li Here are some specific examples of Personal Information:
        ul
          li 
            strong Name: 
            | full name, maiden name, mother’s maiden name, or alias
          li 
            strong Personal identification numbers: 
            | social security number (SSN), passport number, driver’s license number, taxpayer identification number, patient identification number, financial account number, or credit card number
          li 
            strong Personal address information: 
            | street address or email address
          li 
            strong Personal account information: 
            | bank account, social media account, shopping platform account, and the corresponding passwords.
          li 
            strong Personal telephone numbers
      img.ui.image(src='/images/learn-2.png' style='margin-left: auto; margin-right: auto')
      br
      br
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', '/submod/learn/identity', '/submod/learn3/identity', 14)  

block scripts
  script(src='https://app.wotnot.io/chat-widget/79V9VnbBQMxM062228268676IdMJdpQW.js' defer='')
