extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#mod-title
        .content
          | Definitions
      br
      p <u>Identity Theft</u> is when your personal information is stolen and used against you.
      p <u>Personal Information</u> Information that can be used to distinguish or trace an individual’s identity, either alone or when combined with other information that is linked or linkable to a specific individual.
      ul
        li Here are some specific examples of personal information:
        ul
          li 
            strong Personal Descriptors: 
            | full name, maiden name, alias, gender, race, date of birth
          li 
            strong Personal identification numbers: 
            | social security number (SSN), passport number, driver’s license number, taxpayer identification number, patient identification number, financial account number, or credit card number
          li 
            strong Personal address information: 
            | street address or email address
          li 
            strong Personal account information: 
            | bank account, social media account, shopping platform account, and the corresponding passwords
          li 
            strong Personal telephone numbers
      img.ui.image(src='/images/learn-2.png' style='margin-left: auto; margin-right: auto')
      br
      br
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub_learn2', '/submod/learn/identity', '/submod/learn3/identity', 14)  

//- block scripts
//-   script(src='https://app.wotnot.io/chat-widget/79V9VnbBQMxM062228268676IdMJdpQW.js' defer='')
