.ui.container#activity.hidden
  .ui.container#know-you-read
    .limit
      h1.ui.header.large#learn-title
        .content 
          i.dice.icon
          span#narrate-title-activity Activity: Select the appropriate option.

        h3#narrate-1-activity  
          span You receive a call from someone claiming to be a representative at a well-known tech company. The caller tells you that there was a billing error and that you are owed a refund, but they need your bank account information to make a deposit. How should you respond?

        .ui.grid(style=" margin-top: 10px;")
          .two.column.row
            .column
              p.ui.container
                button.ui.button.fluid#wrong-bttn-1(onclick="showAnswer1()", style="font-size: 20px;") 
                  span#narrate-2-activity 
                    span Provide your bank account information to receive the refund.

                .hidefloat1#answer-key-1(style="position: relative; top: -30px; left: -15px;")
                  .float-info#wrong-float-1
                    span 
                      span Be careful! Providing bank account details over the phone to an unsolicited caller is very risky and can lead to unauthorized transactions and/or identity theft.

            .column
              p.ui.container
                button.ui.button.fluid#wrong-bttn-2(onclick="showAnswer2()", style="font-size: 20px;") 
                  span#narrate-3-activity  
                    span Ask the caller detailed questions about the refund and why it occurred.

                .hidefloat1#answer-key-2(style="position: relative; top: -30px; left: 15px;")
                  .float-info#wrong-float-2
                    span
                      span Be careful! Questioning the caller about refund details cannot verify their legitimacy, as scammers prepare convincing responses. Further engagement only gives them more chances to manipulate you.


          .two.column.row
            .column
              p.ui.container
                button.ui.button.fluid#wrong-bttn-3(onclick="showAnswer3()", style="font-size: 20px;") 
                  span#narrate-4-activity  
                    span Ask if it is possible to receive the refund as a check through the mail so that you won’t have to share your bank account information.
                
                .hidefloat1#answer-key-3(style="position: relative; top: -30px; left: -15px;")
                  .float-info#wrong-float-3
                    span
                      span Be careful! Even if the caller agrees, you'd still risk sharing your address, which is personal information. Never provide personal details without verifying the caller's legitimacy.
 
            .column
              p.ui.container
                button.ui.button.fluid#correct-bttn-1(onclick="showAnswer4()", style="font-size: 20px;") 
                  span#narrate-5-activity  
                    span Hang up, then call the customer service number from the official website to verify the refund claim..<br><br>

                .hidefloat4#answer-key-4(style="position: relative; top: -30px; left: 15px;")
                  .float-info#correct-float-1
                    span
                      span You got it!  If you receive a suspicious call, end it immediately. Make a separate call using the official customer support number to ensure that you are actually speaking with a representative from the company, not a scammer. 

script.
  function showAnswer4() {
    $('#correct-bttn-1').css({
      'background-color': '#E3F2DC',
      'border': '2px solid #6F8C5A'
    });
    $('#correct-float-1').css({
      'background-color': '#E3F2DC',
      'border': '2px solid #6F8C5A'
    });
    $('#answer-key-4').transition('fade in');
  }
  function showAnswer1() {
    $('#wrong-bttn-1').css({
      'background-color': '#F2CECE',
      'border': '2px solid #F24141'
    });
    $('#wrong-float-1').css({
      'background-color': '#F2CECE',
      'border': '2px solid #F24141'
    });
    $('#answer-key-1').transition('fade in');
  }

    function showAnswer2() {
    $('#wrong-bttn-2').css({
      'background-color': '#F2CECE',
      'border': '2px solid #F24141'
    });
    $('#wrong-float-2').css({
      'background-color': '#F2CECE',
      'border': '2px solid #F24141'
    });
    $('#answer-key-2').transition('fade in');
  }
    function showAnswer3() {
    $('#wrong-bttn-3').css({
      'background-color': '#F2CECE',
      'border': '2px solid #F24141'
    });
    $('#wrong-float-3').css({
      'background-color': '#F2CECE',
      'border': '2px solid #F24141'
    });
    $('#answer-key-3').transition('fade in');
  }





block styles
  link(rel='stylesheet', href='/css/grandparent/reporting/activity1.css')
