#contact-methods.hidden
    .ui.container#raised-container.center-layout
        .limit(style="padding: 0;")
            .ui.grid.computer.only#common-measures-read
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-contact-methods Contact Methods

                    .ui.bulleted.list 
                        .item 
                            span#narrate-1-contact-methods  
                                span Legitimate tech support companies will NEVER contact you by phone, text messages, or email to tell you there is a problem with your electronic devices (e.g. computers, tablets, phones). 
                        .item 
                            span#narrate-2-contact-methods   
                                span Pop-up windows from legitimate tech support companies will NEVER ask you to call a phone number or click a link.
                        .item     
                            span#narrate-3-contact-methods   
                                span Legitimate tech support companies will NEVER pressure you to immediately pay for their services to resolve any issues on your device.

                .six.wide.center.aligned.middle.aligned.column
                    img.ui.image(src='images/tech/protection/telephone.svg')
            br
            i.source [1] How To Spot, Avoid, and Report Tech Support Scams. Federal Trade Commission.
                a(href='https://consumer.ftc.gov/articles/how-spot-avoid-and-report-tech-support-scams' target='_blank')  https://consumer.ftc.gov/articles/how-spot-avoid-and-report-tech-support-scams 
