#contacted.hidden
    .ui.container#personal-info-read(style="width: 75%;")
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content 
                    i.book.icon 
                    span#narrate-title-contacted Upon Receiving a Call
            .ui.stackable.grid
                .six.wide.column.middle.aligned
                    img.ui.medium.centered.image(src=public_resources+'/images/modules/tech/tech-caller.svg' )
                .ten.wide.column
                    strong 
                        span#narrate-header-contacted Unknown Number
                    .ui.bulleted.list 
                        .item#narrate-1-contacted 
                            span Be cautious of calls from unknown numbers as they may be scams. 
                        .item
                            span#narrate-2-contacted  
                                span Never answer calls with unknown numbers.
                            span#narrate-3-contacted   
                                span If it is a legitimate call, they will leave a voicemail for you. 
                            span#narrate-4-contacted   
                                span Listen to the voicemail first, and then decide if you want to call them back.
                                 
                    strong#narrate-5-contacted    
                        span Known Number
                    .ui.bulleted.list 
                        .item#narrate-6-contacted   
                            span Even if the number appears to be from someone you know, like your grandchild, or an authentic place like a police department or law enforcement agency, be aware that caller ID numbers can be spoofed or faked.
                    .ui.ordered.list  
                        .item
                            span#narrate-7-contacted    
                                span If you noticed any warning signs during the call, hang up immediately. 
                            span#narrate-8-contacted 
                                span Then, make separate phone calls to other family members to verify the information.
                        .item#narrate-9-contacted  
                            span Important! If the number is really from a law enforcement, remember that law enforcement agencies never demand money over phone.
