#download.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                h1.ui.header.large#learn-title
                    .content 
                        i.book.icon 
                        span#narrate-title-download Upon Receiving a Request for Downloading Apps and/or Remote Access

                .ten.wide.computer.sixteen.wide.tablet.column
                    p#narrate-1-download 
                        span Rule 1: Never give anyone you don’t know access to your devices.
                    P#narrate-2-download  
                        span Rule 2: Never download an app from an untrusted source.
                    p
                        p#narrate-3-download   
                            span Hang up immediately. If you are looking for tech support company, choose reputable ones. For example, You can always contact support lines for your operating system with questions you might have about potential security risks on your device. 
                        p#narrate-4-download(style="margin-left: 5%;") 
                            span#narrate-5-download  
                                span Microsoft:
                            a#narrate-6-download(href="https://support.microsoft.com/en-us") 
                                span https://support.microsoft.com/en-us 
                        p(style="margin-left: 5%;")
                            span#narrate-7-download 
                                span Apple: 
                            a#narrate-8-download(href="https://support.apple.com/en-us/106932 ") 
                                span https://support.apple.com/en-us/106932 

                    br
                    i.source [8] Tech Support Scams Are Rampant in 2023. AARP.  
                        a(href='https://www.aarp.org/money/scams-fraud/info-2023/fake-online-tech-support.html' target='_blank')  https://www.aarp.org/money/scams-fraud/info-2023/fake-online-tech-support.html 


                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src=public_resources + '/images/modules/tech/download-access.svg' style='margin-left: auto; margin-right: auto')



                













            //- br
            //- i.source [1] The Grandparent Scam. FBI. 
            //-     a(href='https://www.fbi.gov/news/stories/the-grandparent-scam' target='_blank')  https://www.fbi.gov/news/stories/the-grandparent-scam 
            //- br    
            //- i.source [2] Grandparent Scams Take Advantage of Your Love for Your Family. AARP.
            //-     a(href=' https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html' target='_blank')  https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html 
