#fundamental-measures.hidden
    .ui.container(style="width: 100%;")
        .limit
            #contacted-read
                h1.ui.header.large#learn-title(style="margin-top: 10px;")
                    .content
                        i.book.icon
                        span#narrate-title-fundamental-measures Preventative Measures Before Scam Contact
            .ui.stackable.grid(style="margin-top: 0px;")
                .eight.wide.column
                    .dosContainer
                        .ui.large.blue.fluid.label
                            i.thumbs.up.icon 
                            span#narrate-1-fundamental-measures 
                                span Do's
                        .ui.list 
                            .item 
                                i.check.green.icon 
                                .content#narrate-2-fundamental-measures 
                                    span Keep your device’s software up to date.
                            .item 
                                i.check.green.icon 
                                .content#narrate-3-fundamental-measures 
                                    span Use reputable security software to protect your devices.
 
                            .item 
                                i.check.green.icon 
                                .content#narrate-4-fundamental-measures 
                                    span Regularly backup important data. This ensures you can recover your files if you need to wipe your computer completely.

                            .item 
                                i.check.green.icon 
                                .content#narrate-5-fundamental-measures
                                    span Install ad blockers on your browser. This can help prevent malicious pop-ups from appearing while using the internet.

                            .item 
                                i.check.green.icon 
                                .content#narrate-6-fundamental-measures
                                    span If you notice anything suspicious during a phone call or a text conversation, immediately stop all communication.

                .eight.wide.column
                    .dontsContainer
                        .ui.large.red.fluid.label
                            i.thumbs.down.icon 
                            span#narrate-7-fundamental-measures 
                                span Don'ts
                        .ui.list 
                            .item                                 
                                i.times.red.icon 
                                .content#narrate-8-fundamental-measures  
                                    span Never grant remote access to your device unless you initiated the support request to a legitimate tech support company and are certain of the legitimacy of the service provider.
                            .item                                 
                                i.times.red.icon 
                                .content#narrate-9-fundamental-measures  
                                    span Never share sensitive information over the phone, such as your name, birthday, address, bank account number, or credit card number.
                            .item                                 
                                i.times.red.icon 
                                .content#narrate-10-fundamental-measures  
                                    span Never call a phone number for tech support services from a pop-up window, even if it looks legitimate. Security warnings or messages from real tech companies will NEVER ask you to call a phone number or click on a link.
            br
            i.source [8] Tech Support Scams Are Rampant in 2023. AARP.  
                a(href='https://www.aarp.org/money/scams-fraud/info-2023/fake-online-tech-support.html' target='_blank')  https://www.aarp.org/money/scams-fraud/info-2023/fake-online-tech-support.html 
