#pop-up.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content 
                        i.book.icon 
                        span#narrate-title-pop-up Upon Encountering a Pop-up Warning

                .ui.ordered.list 
                    .item 
                        span#narrate-1-pop-up 
                            span Do not click on any portion of the pop-up window. Close your internet browser and reopen it.
                    .item 
                        span#narrate-2-pop-up  
                            span If the pop-up still doesn’t go away or the issue is still not resolved, try restarting your device.
                    .item 
                        span#narrate-3-pop-up  
                            span Check if your software is up to date, and if not, update your software.
                p 
                    span#narrate-4-pop-up 
                        span If the steps above don’t resolve your issue,
                    b#narrate-5-pop-up 
                        span contact the official support line of your software provider or device manufacturer (e.g. Apple, Microsoft). 
                    span#narrate-6-pop-up 
                        span If you need help finding the official contact information, reach out to people you can trust, like family members or friends, for help. 

                    
            br
            i.source [8] Tech Support Scams Are Rampant in 2023. AARP.  
                a(href='https://www.aarp.org/money/scams-fraud/info-2023/fake-online-tech-support.html' target='_blank')  https://www.aarp.org/money/scams-fraud/info-2023/fake-online-tech-support.html 
