#post-actions.hidden
        .ui.container#raised-container.center-layout
            .limit(style="padding: 0;")
                #common-measures-read
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-post-actions Upon Being Scammed

                    .ui.bulleted.list 
                        .item 
                            span#narrate-1-post-actions   
                                span Contact your credit card or bank right away if you paid for any fake tech support services. They might be able to stop the transaction if you act quickly enough [1].           
                        .item 
                            span#narrate-2-post-actions    
                                span Make sure to change any passwords that the scammers may have had access to when they had remote access of your device [8]. 
                        .item 
                            span#narrate-3-post-actions    
                                span If you downloaded any software, delete it. You may want to hire a tech professional who can safely remove any programs installed by the scammers. This will prevent the scammers from stealing your personal information and data[8].
                        .item 
                            span#narrate-4-post-actions    
                                span Update your device’s security software and run a scan. If any suspicious program is detected on your device, make sure it is removed. 
                        .item 
                            span#narrate-5-post-actions    
                                span Backup your important data to cloud storage in case you need to wipe your computer completely. Many cloud storage services also offer built-in malware scanning, providing an extra layer of protection.
                               
                br
                i.source [1] How To Spot, Avoid, and Report Tech Support Scams. Federal Trade Commission.
                    a(href='https://consumer.ftc.gov/articles/how-spot-avoid-and-report-tech-support-scams' target='_blank')  https://consumer.ftc.gov/articles/how-spot-avoid-and-report-tech-support-scams 
                br
                i.source [8] Tech Support Scams Are Rampant in 2023. AARP.  
                    a(href='https://www.aarp.org/money/scams-fraud/info-2023/fake-online-tech-support.html' target='_blank')  https://www.aarp.org/money/scams-fraud/info-2023/fake-online-tech-support.html 
