#preventative.hidden
    .ui.container#raised-container.center-layout
        .limit
            #common-measures-read
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        span#narrate-title-preventative Preventative Measures
                h3 
                    b#narrate-header-preventative 
                        span To prevent Potential Scams 
                .ui.bulleted.list 
                    .item 
                        span 
                            b#narrate-1-preventative  
                                span Set your social media to private. 
                            span#narrate-2-preventative   
                                span Carefully consider what information you share online. 
                    .item 
                        span 
                            b#narrate-3-preventative   
                                span Do not share your family’s information, 
                        span#narrate-4-preventative   
                            span including names, on social media. 
                        span#narrate-5-preventative   
                            span Remember that scammers can use publicly available information to craft their stories.
                    .item 
                        span 
                            b#narrate-6-preventative   
                                span Do not answer calls from numbers that you do not recognize. 
         
                    .item 
                        span 
                            b#narrate-7-preventative   
                                span Establish a secret word or question 
                        span#narrate-8-preventative  
                            span that only your grandchild would know the answer to (e.g., the name of their childhood pet). 
                        span#narrate-9-preventative   
                            span Use this secret verification method to identify if the caller is genuinely your grandchild.
                