#reporting.hidden
    .ui.container#raised-container.center-layout
        .limit
            #common-measures-read
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        span#narrate-title-reporting Reporting 
                h3 
                    b#narrate-1-reporting 
                        span Report Tech Support Scams 
                p 
                    span#narrate-2-reporting  
                        span Report the tech support scam to the Federal Trade Commission (FTC). You can do this at 
                    u#narrate-3-reporting  
                        span ReportFraud.ftc.gov 
                    span 
                        span [1].
               
                h3 
                    b#narrate-4-reporting 
                        span Talk to your family and friends
                p
                    span#narrate-5-reporting  
                        span Tell them what happened to you. Your family and friends may have seen a similar pop-up window or received a similar phone call. Sharing your story can help others protect themselves from potential scammers. 
