lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swp
*.zip

pids
logs
results
outputFiles

#Build
public/css/main.css

#user_uploads
uploads/user_post
uploads/user_avatar

# API keys and secrets
.env
privateFiles

# Dependency directory
node_modules

# misc files
addNewInstructor.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml