#avoid.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 2: Avoid Meeting You In Person
            .ui.grid
                .six.wide.computer.sixteen.wide.tablet.column
                    .ios-chat-container
                        .chat(style="width: 100%;")
                            .mine.messages
                                .message.last
                                    | I'd love to go out with you this weekend!

                            .yours.messages(style="width: 100%;")
                                .message.last
                                    | Ugh, I just got called into work. There are a bunch of nurses out with the flu. Maybe next weekend?
                .ten.wide.computer.sixteen.wide.tablet.column
                    p Romance scammers usually make up reasons to avoid meeting face-to-face. They might say they <strong>live close but are currently out of the country</strong> for work or military duty. Thye may claim to live far away or that <strong>sudden emergencies</strong> keep them from meeting you.
                    p Reviewing the message on the left, this scammer:
                    .ui.bulleted.list 
                        .item makes excuses like being called into work to avoid meeting in person.
                        .item claims to have “emergencies"

                    //- p Reviewing the message on the left, this scammer:
                    //- .ui.bulleted.list 
                    //-     .item wants to move away from whatever site they met you and text instead
                    //-     .item makes fake issues with their account and that they won’t be able to access it
                