#communication.hidden
    .ui.container#types-read(style="width: 97%;")
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Communication Red Flags
            p(style="margin-top: -15px;") When engaging with strangers online, be cautious of these warning signs:
            .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-bottom: 10px; margin-top: -15px;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click each card to learn more
            .ui.three.column.stackable.grid#warning-cards
                .column 
                    .ui.shape
                        .sides
                            .side.active
                                .ui.raised.card.click-me-glow.front
                                    .content
                                        h4.ui.centered.header Switch Platforms
                                    .content
                                        .ios-chat-container
                                            .chat
                                                .yours.messages
                                                    .message.last
                                                        | Hi! Lets switch to WhatsApp to talk. Text me at +1710-222-4821.
                                                        //- | It's been great chatting with you on here, but I find this app a bit clunky and slow. 😕 Do you use WhatsApp? It's so much smoother and we can chat anytime without any hassle. Plus, we can share photos and videos. What's your number? I'll add you right away!
                                                .mine.messages
                                                    .message.last
                                                        | Whats wrong with texting here?
                                                .yours.messages
                                                    .message.last
                                                        | It's too slow. I'll be waiting for your text on WhatsApp!

                            .side
                                .ui.raised.card.back
                                    .content
                                        h4.ui.centered.header Switch Platforms
                                    .content
                                        p 
                                            //- b Scammers Swiftly Shift to Other Messaging Tools
                                            //- | Scammers often suggest switching to other messaging platforms shortly after making contact. This tactic helps them avoid detection by the site's moderation team.
                                            p In order to not be traced, Romance Scammers usually want to move quickly from well-known social networking or dating sites to other methods, usually texting.
                .column 
                    .ui.shape
                        .sides
                            .side.active
                                .ui.raised.card.click-me-glow.front
                                    .content
                                        h4.ui.centered.header Inconsistent 

                                    .content
                                        .ios-chat-container
                                            .chat
                                                .yours.messages
                                                    .message.last
                                                        | Sorry, I was super busy at the office today, swamped with meetings
                                                .mine.messages
                                                    .message.last
                                                        | I thought you were on a trip with your kids?
                                                .yours.messages
                                                    .message.last
                                                        | Oh I was, but I came back early. I missed you too much!
                            .side
                                .ui.raised.card.back
                                    .content
                                        h4.ui.centered.header Inconsistent
                                    .content
                                        p 
                                            | Scammers struggle to keep track of their many fictional identities and victims. Pay attention to discrepancies in their stories or profile information, which can reveal a lack of authenticity.
                .column 
                    .ui.shape
                        .sides
                            .side.active
                                .ui.raised.card.click-me-glow.front
                                    .content
                                        h4.ui.centered.header Dramatic Language 

                                    .content
                                        .ios-chat-container
                                            .chat
                                                .mine.messages
                                                    .message.last
                                                        | Sorry, but I think I need a break.
                                                .yours.messages
                                                    .message(style="margin-bottom: 10px;")
                                                        | PLEASE DON'T LEAVE ME!!! I CAN'T LIVE MY LIFE WITHOUT YOU!!! 😭
                                                    .message.last
                                                        | Without you, I'm nothing. I'll do ANYTHING to make this work!!

                            .side
                                .ui.raised.card.back
                                    .content
                                        h4.ui.centered.header Dramatic Language 
                                    .content
                                        p 
                                            | Scammers use over-the-top language to capture your attention. They will often employ this tactic when they feel you are losing interest or becoming suspicious in order to keep you engaged.

