#dramatic.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 6: Dramatic Language to Keep You Engaged
            .ui.grid
                .seven.wide.computer.sixteen.wide.tablet.column
                    .ios-chat-container
                        .chat(style="width: 100%;")
                            .yours.messages
                                .message.last(style="width: 90%;")
                                    | I haven't heard from you in a while :( You there?
                            .mine.messages
                                .message.last
                                    | Sorry I am just busy...what's up?
                            .yours.messages
                                .message.last(style="width: 90%;")
                                    | I can't stop thinking about you. Every moment we spend together feels like the plot of an epic love story, and I'm completely captivated by the emotions you evoke in me. It's like our connection is written in the stars, and every word we share is a chapter in a book only we can understand.

                .nine.wide.computer.sixteen.wide.tablet.column
                    p Romance Scammers often use dramatic language to keep you engaged, especially if you seem to be losing interest.
                    p Reviewing the message on the left, this scammer:
                    .ui.bulleted.list 
                        .item uses over-the-top language about your relationship to capture your attention, especially when they feel you are losing interest. 

                    //- p Reviewing the message on the left, this scammer:
                    //- .ui.bulleted.list 
                    //-     .item wants to move away from whatever site they met you and text instead
                    //-     .item makes fake issues with their account and that they won’t be able to access it
                