#inconsistent.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 4: Wrong or Inconsistent Information
            .ui.grid
                .six.wide.computer.sixteen.wide.tablet.column
                    .ios-chat-container
                        .chat(style="width: 100%;")
                            .mine.messages
                                .message.last
                                    | The picture you sent me doesn't match the picture on your profile...are you really who you say you are?

                            .yours.messages(style="width: 100%;")
                                .message.last
                                    | You caught me. I'm sorry for not being honest. I was worried you wouldn't like the way I look in real life, I deeply regret lying to you.
                .ten.wide.computer.sixteen.wide.tablet.column
                    p Romance Scammers often have inconsistencies in their stories – things do not always add up.
                    p Reviewing the message on the left, this scammer:
                    .ui.bulleted.list 
                        .item the inconsistencies from the profile to the messages
                        .item the scammer admits it with guilt and regret
                        .item the scammer comes up with an excuse about lying because they were afraid you wouldn’t like them. This manipulative tactic is designed to exploit your trust and may even evoke a sense of guilt.

                    //- p Reviewing the message on the left, this scammer:
                    //- .ui.bulleted.list 
                    //-     .item wants to move away from whatever site they met you and text instead
                    //-     .item makes fake issues with their account and that they won’t be able to access it
                