#initial.hidden
    .ui.container#emotional-read(style="width: 90%;")
        .limit#learn-target
            .ui.computer.only.grid
                .eight.wide.column#vertically-centered-column 
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            | Initial Contact
                    p When the scammers target you, they conduct research on you. Their aim is to learn everything about you in order to persuade you to engage in conversations with them willingly. 
                    p The information could be: Your Hobbies, Job, Passion, Pets or Kids (if you have any), and where you live.



                    //- p After creating a fake profile, scammers actively seek out potential victims by scouring social networking and dating sites for individuals who might be looking for companionship or love. They <strong>use the information available in public profiles</strong> to identify targets and then craft an initial message that is personalized, making their approach feel genuine. Information they might use includes hobbies, job, passions, pets or kids, and where you live.

                .eight.wide.column.middle.aligned
                    img.ui.image(src='/images/romance/initial-contact.png' style='margin-left: auto; margin-right: auto; width: 800px;')
                i.source [13] Mapping Computer Mediated Communication Theories and Persuasive Strategies in Analysing Online Dating Romance Scam,
                    a(href=' https://www.xisdxjxsu.asia/173756e3573d506fecdec60d338dfe30.pdf' target='_blank') ' https://www.xisdxjxsu.asia/173756e3573d506fecdec60d338dfe30.pdf' 
            
            .ui.tablet.only.mobile.only.grid
                .sixteen.wide.column#vertically-centered-column 
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            | Initial Contact
                    //- p After creating a fake profile, scammers actively seek out potential victims by scouring social networking and dating sites for individuals who might be looking for companionship or love. They <strong>use the information available in public profiles</strong> to identify targets and then craft an initial message that is personalized, making their approach feel genuine. Information they might use includes hobbies, job, passions, pets or kids, and where you live.
                    p When the scammers target you, they conduct research on you. Their aim is to learn everything about you in order to persuade you to engage in conversations with them willingly. 
                    p The information could be: Your Hobbies, Job, Passion, Pets or Kids (if you have any), and where you live.

                .sixteen.wide.column.middle.aligned
                    img.ui.image(src='/images/romance/initial-contact.png' style='margin-left: auto; margin-right: auto; width: 800px;')
                i.source [13] Mapping Computer Mediated Communication Theories and Persuasive Strategies in Analysing Online Dating Romance Scam,
                        a(href=' https://www.xisdxjxsu.asia/173756e3573d506fecdec60d338dfe30.pdf' target='_blank') ' https://www.xisdxjxsu.asia/173756e3573d506fecdec60d338dfe30.pdf' 
            