#initial.hidden
    .ui.container#emotional-read
        .limit#learn-target
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            | Initial Scam
                    p 
                    | After creating a fake profile, scammers actively seek out potential victims by scouring social networking and dating sites for individuals who might be looking for companionship or love. They 
                    b use the information available in public profiles 
                    | to identify targets and then craft an initial message that is personalized, making their approach feel genuine. Information they might use includes hobbies, job, passions, pets or kids, and where you live.

                .six.wide.column.middle.aligned
                    img.ui.image(src='/images/romance/initial-contact.png' style='margin-left: auto; margin-right: auto; height: 200; width: 200;')