#isolate.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 5: Try to Isolate You from Your Friends and Family
            .ui.grid
                .nine.wide.computer.sixteen.wide.tablet.column
                    .ios-chat-container
                        .chat(style="width: 100%;")
                            .yours.messages(style="margin-bottom: -20px;")
                                .message.last(style="width: 90%;")
                                    | I've been thinking a lot about us lately, and it seems like some of your friends and family don't really understand the connection we have. I mean, I feel like we're building something special, something just between us. But it's hard when others are consistently interfering or trying to influence our decisions.

                            .mine.messages(style="width: 100%; margin-bottom: -20px;")
                                .message.last
                                    | I don't think anyone is trying to come between us!
                            .yours.messages
                                .message.last(style="width: 90%;")
                                    | I think you should spend some time whithout them for a while. I just feel like it would strength our bond and help us focus on what really matters - our love for each other.

                .seven.wide.computer.sixteen.wide.tablet.column
                    p Romance Scammers may try to isolate you from your friends and family.
                    p Reviewing the message on the left, this scammer:
                    .ui.bulleted.list 
                        .item tries to convince you that your friends and family are trying to come between the two of you
                        .item encourages you to focus on just your relationship with them to isolate you from those who care about you

                    //- p Reviewing the message on the left, this scammer:
                    //- .ui.bulleted.list 
                    //-     .item wants to move away from whatever site they met you and text instead
                    //-     .item makes fake issues with their account and that they won’t be able to access it
                