#objectives.hidden
    .ui.container#raised-container
        .limit#learn-target(style="padding: 0;")
            .ui.grid.computer.only#objectives-read
                .ten.wide.column#vertically-centered-column 
                    //- button.ui.icon.button#volume-up-button.left.floated(style="position: absolute; left: 400px; top: 45px;")
                    //-     i.volume.up.icon
                    h1.ui.header.large#learn-title(style="color: #285362;")
                        .content
                            i.bullseye.icon
                            | Contact &amp; Groom
                    ul.no-bullets
                        li
                            img(src="/images/dart-bullet.svg", alt="Bullet Point")
                            | Discover how scammers initiate contact
                        li
                            img(src="/images/dart-bullet.svg", alt="Bullet Point")
                            | Learn techniques scammers use to build connection
                .six.wide.center.aligned.middle.aligned.column
                    img.ui.medium(src='/images/romance/contact_and_groom.png')
            .ui.grid.tablet.only.mobile.only
                .row
                    h1.ui.header.large#learn-title
                        i.bullseye.icon
                        | Learning Targets

                ul.no-bullets(style="text-align: left;")
                    li
                        img(src="/images/dart-bullet.svg", alt="Bullet Point")
                        | Discover how scammers initiate contact

                    li
                        img(src="/images/dart-bullet.svg", alt="Bullet Point")
                        | Learn techniques scammers use to build connection

                .row
                    .div(style="margin: 0 auto;")
                        img.ui.medium(src='/images/romance/contact_and_groom.png')
