#relationship.hidden
    .ui.container#types-read(style="width: 97%;")
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Relationship Red Flags
            p(style="margin-top: -15px;") Be vigilant for these signs that a relationship may not be what it seems:
            .ui.icon.mini.message(style="padding: 5px; z-index: 99;margin-bottom: 10px; margin-top: -15px;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click each card to learn more
            .ui.three.column.stackable.grid#warning-cards
                .column 
                    .ui.shape
                        .sides
                            .side.active
                                .ui.raised.card.click-me-glow.front
                                    .content
                                        h4.ui.centered.header Avoid Meeting

                                    .content
                                        .ios-chat-container
                                            .chat
                                                .mine.messages
                                                    .message.last
                                                        | I'd love to finally meet you in person. How about we grab a coffee this weekend?
                                                .yours.messages
                                                    .message.last
                                                        | I'm actually traveling overseas for business at the moment. Maybe we can meet up when I get back in a few months?
                            .side
                                .ui.raised.card.back
                                    .content
                                        h4.ui.centered.header Avoid Meeting
                                    .content
                                        p 
                                            | Scammers consistently dodge opportunities for face-to-face meetings, usually with a series of excuses, indicating they may not be who they claim to be.
                .column 
                    .ui.shape
                        .sides
                            .side.active
                                .ui.raised.card.click-me-glow.front
                                    .content
                                        h4.ui.centered.header Fast-Paced 

                                    .content
                                        .ios-chat-container
                                            .chat
                                                .yours.messages
                                                    .message.last
                                                        | Imagine us together, exploring the world hand in hand. Every moment will be an adventure. What do you say, my love? Will you take this leap with me?
                                                        //- | Imagine the possibilities—us hand in hand, navigating the world together. From conzy Sunday mornings to adventurous escapades, every moment with you will be a dream come true. What do you say, my love? Will you take this leap of faith with me?
                                                .mine.messages
                                                    .message.last
                                                        | This is moving too quick for me... I need some time to think.

                            .side
                                .ui.raised.card.back
                                    .content
                                        h4.ui.centered.header Fast-Paced 
                                    .content
                                        p 
                                            | Rapid progression leaves little time for reflection, pushing victims to act on emotion rather than logic. This can lead to hasty decisions and vulnerability to manipulation.
                .column 
                    .ui.shape
                        .sides
                            .side.active
                                .ui.raised.card.click-me-glow.front
                                    .content
                                        h4.ui.centered.header Isolate You 

                                    .content
                                        .ios-chat-container
                                            .chat
                                                .yours.messages
                                                    .message.last
                                                        | Your friends are always so negative about us.
                                                .mine.messages
                                                    .message.last
                                                        | I think they're just looking out for me.
                                                .yours.messages
                                                    .message.last
                                                        | From what I've heard, they don't seem like good friends. You should spend more time with me instead.
                                                        //- | I know, but I think they're trying to ruin what we have. I’m better company anyway. Maybe it's best if you spend more time with me instead. 
                            .side
                                .ui.raised.card.back
                                    .content
                                        h4.ui.centered.header Isolate You 
                                    .content
                                        p 
                                            | Scammers might try to distance you from your support network, making it easier to manipulate you without outside intervention.

