#switch.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 1: Try to Swiftly Shift to Other Messaging Tools
            .ui.grid
                .seven.wide.computer.sixteen.wide.tablet.column
                    .ios-chat-container
                        .chat(style="width: 100%;")
                            .yours.messages
                                .message.last(style="width: 90%;")
                                    | Hey, I've really enjoyed our conversation here. I was thinking it might be more private and secure to continue chatting via text. What do you think? I am just really looking forward to staying in touch more personally.
                                    //- | I feel a strong connection with you, and I'd love to continue our conversation outside of this platform. Unfortunately, I'm facing some issues with my account and might not be able to chat here for long. Could you please share your phone number so we can stay in touch? I really value our connection, and I don't want to lose it.
                            .mine.messages
                                .message.last
                                    | Okay, what is your phone number?
                                    //- | What is going on with your account?

                .nine.wide.computer.sixteen.wide.tablet.column
                    p In order to not be traced, Romance Scammers usually want to move quickly from well-known social networking or dating sites to other methods, usually texting.
                    p Reviewing the message on the left, this scammer:
                    .ui.bulleted.list 
                        .item wants to move away from whatever site they met you and text instead
                        .item might mention security and privacy
                        .item manipulates you by preying on your emotions

                    //- p Reviewing the message on the left, this scammer:
                    //- .ui.bulleted.list 
                    //-     .item wants to move away from whatever site they met you and text instead
                    //-     .item makes fake issues with their account and that they won’t be able to access it
                