#types.hidden
    .ui.container#types-read
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Warning Signs
            p Be vigilant for these warning signs when interacting with people on dating or social media sites, as they may indicate scammer activity: 
            p 
                b Scammers Swiftly Shift to Other Messaging Tools
                | : Scammers often suggest switching to other messaging platforms shortly after making contact. This tactic helps them avoid detection by the site's moderation team.
            p 
                b Avoid Meeting you In Person
                | : They consistently dodge opportunities for face-to-face meetings, usually with a series of excuses, indicating they may not be who they claim to be.
            p
                b Wrong or Inconsistent Information
                | : Pay attention to discrepancies in their stories or profile information, which can reveal a lack of authenticity.
            p 
                b Try to Isolate You from Your Friends and Family
                | : Scammers might try to distance you from your support network, making it easier to manipulate you without outside intervention.
            p 
                b Use Dramatic Language to Keep you Engaged
                | : They use heightened language or dramatic stories to keep you emotionally invested and more susceptible to their schemes.

            //-     strong deeply embarrassed, betrayed, and even genuinely heartbroken. 
            //-     | The mental and emotional impacts can lead to long-lasting trust issues and difficulties in future relationships.
            //- img.ui.image.centered.medium(src='/images/romance/emotional.png')