#activity.hidden
    .ui.container#activity-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.dice.icon
                            | Activity
                    p In this activity, you'll piece together the consequences of identity theft.   
                .six.wide.column.middle.aligned
                    //- img.ui.image(src=`${public_resources}/images/modules/identity/personal-gov-docs.png` style='margin-left: auto; margin-right: auto')