#financial.hidden
    .ui.container#financial-read
        .limit(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-financial Financial Loss
                    p#narrate-1-financial 
                        span Scammers promote falsified products to steal money from buyers. 
                    ul
                        li#narrate-2-financial 
                            span After receiving payment for their product, scammers either never send anything to the buyer or send products that can include harmful substances [2]. 
                        li#narrate-3-financial  
                            span Scammers may also target bank account or credit card information once it has been used for an online purchase on their website.
                    
                    p#narrate-4-financial 
                        span Taking fraudulent medications can also cause harmful side effects and health problems, resulting in additional medical expenses.


                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src=`${public_resources}/images/modules/identity/losing-money.svg` style='margin-left: auto; margin-right: auto')


