#health.hidden
    .ui.container#targeted-read
        .limit(style="padding: 0;")
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-health Health Risks
                .row
                    .sixteen.wide.column
                        p#narrate-1-health 
                            span Scammers sell medications that can pose significant health and safety risks to buyers. These products often contain:
                        ul 
                            li#narrate-2-health 
                                span Too much or too little of the active ingredient that is needed to treat your condition
                            li#narrate-3-health 
                                span Unknown active ingredients that may cause serious side effects and other health problems, such as allergic reactions
                            li#narrate-4-health 
                                span Unknown active ingredients that may interact with other medicines you are taking in unexpected and potentially harmful ways
                            li#narrate-5-health 
                                span Other dangerous, unapproved substances [16]
                    
                        p#narrate-6-health 
                            span Using these fake pills or treatments may also delay proper medical diagnosis and treatment [4,5]

            table.ui.celled.table
                thead
                    tr
                    th(style="background:#e6b8af") Minor
                    th(style="background:#dd7e6b") Moderate
                    th(style="background:#a5200c") Serious
                tbody
                    tr
                    td Pay a small amount of money and not receive the product.

                    td 
                        | Pay a large amount of money and not receive the product.
                        br
                        | Pay a small amount for a product that's ineffective and may cause minor harm.

                    td The product may cause significant harm, especially with long-term use, or potentially be fatal.





            br
            i.source [4] Health Fraud Scams – Be Smart, Be Aware, Be careful. U.S. Food & Drug Administration (FDA) 
                a(href='https://www.youtube.com/watch?v=KsPlwKbGxE8' target='_blank') https://www.youtube.com/watch?v=KsPlwKbGxE8
            br
            i.source [5] Medication Health Fraud and Avoiding Medication Scams with Cynthia Ng. Food & Drug Administration (FDA) 
                a(href='https://www.fda.gov/drugs/news-events-human-drugs/medication-health-fraud-and-avoiding-medication-scams-cynthia-ng' target='_blank') https://www.fda.gov/drugs/news-events-human-drugs/medication-health-fraud-and-avoiding-medication-scams-cynthia-ng
            br
            i.source [16] How to Buy Medicines Safely From an Online Pharmacy. Food and Drug Administration (FDA)
                a(href='https://www.fda.gov/consumers/consumer-updates/how-buy-medicines-safely-online-pharmacy' target='_blank') https://www.fda.gov/consumers/consumer-updates/how-buy-medicines-safely-online-pharmacy

