#targets.hidden
    .ui.container#targets-read
        .limit(style="padding: 0;")
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-targets How scammers choose their targets
                .row
                    .six.wide.column
                        img.ui.image(src=`${public_resources}/images/modules/romance/targeted.png`)
                    .ten.wide.column.middle.aligned
                        ul 
                            li#narrate-1-targets 
                                span Scammers prey on people’s hope of curing their ailments
                            li#narrate-2-targets 
                                span Scammers prey on people’s desperation to alleviate their pain
                            li#narrate-3-targets 
                                span Scammers preying on people's natural desire to be healthier or more fit versions of themselves

                        
                        p 
                            span#narrate-4-targets  
                                span While scammers may target individuals with specific health or fitness goals, 
                            b#narrate-5-targets 
                                span falling victim to their schemes is never the fault of the individual. 
                            span#narrate-6-targets  
                                span Scammers often act opportunistically, selecting targets at random and exploiting vulnerabilities, which means that anyone can potentially be deceived by their tactics.
                        p#narrate-7-targets 
                            span Focus on: 
                        ol 
                            li#narrate-8-targets 
                                span Learning to recognize scam signs
                            li#narrate-9-targets 
                                span Taking steps to avoid becoming a victim

