extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp ¡Revisemos!
        br
        .ui.mini.green.right.labeled.icon.button.showReviewSectionButton
          i.down.arrow.icon
          | Seguir  
        .ui.basic.segment.reviewSegment.hidden
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content.
              Las redes sociales están diseñadas para capturar tu atención por 
              sus características como las notificaciones, reproducción automática 
              y poder revisar publicaciones nuevas sin fin.
            
              
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content.
              El constante ciclo de retroalimentación de las redes sociales pueden 
              generarnos hábitos no saludables.
            
              
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content.
              Aquí hay algunas estrategias que pueden ayudarte a construir hábitos 
              saludables en las redes sociales.
              
          h5.ui.header
            i.caret.right.blue.icon.addIndent
            .content.
              Desactiva o reduce el número de notificaciones que te llegan de las 
              redes sociales
              
          h5.ui.header
            i.caret.right.blue.icon.addIndent
            .content.
              Sé consciente y controla el tiempo que pasas en las redes sociales
          
          h5.ui.header
            i.caret.right.blue.icon.addIndent
            .content.
              Asegúrate de tomarte una pausa para desconectar de las redes sociales 
              cuando lo necesites 
          br
          br
    br
    br
    .ui.warning.message.clickNextWarning.hidden
      .header
       | Haz clic en "Seguir"
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
      .ui.big.labeled.icon.button.gotItButton
          i.rocket.icon
          |   ¡Entendido!

block scripts
  script().
    var voiceoverMappings = {
      '.showReviewSectionButton': {
        "initialDelay": 700,
        "delay": 0,
        //- "files": ['CUSML.10.5.1.mp3','CUSML.10.5.2.mp3', 'CUSML.10.5.3.mp3']
      }
    };
    var nextPage = 'trans_script';
  script(src="/module_js/voiceover.js")  
  script(src="/module_js/base_trans.js")

block styles 
  link(rel='stylesheet', href='/css/trans.css')  
