#accident.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon 
                            span#narrate-title-accident Upon Hearing about an Accident

                    .ui.bulleted.list 
                        .item 
                            span#narrate-1-accident 
                                span Stay calm and verify the situation before reacting; take time to think clearly.
                        .item 
                            span#narrate-2-accident  
                                span Never give out personal or financial information over phone or email.
                        .item 
                            span#narrate-3-accident  
                                span Confirm the story by asking friends or family if they've heard similar accounts.
                        .item 
                            span#narrate-4-accident  
                                span If contacted by an official (e.g., police, medical professional), directly verify with their organization by initiating a separate call.
                        .item 
                            span#narrate-5-accident  
                                span Remember, legitimate law enforcement will NEVER request money over the phone.
                        .item 
                            span#narrate-6-accident  
                                span Disregard requests to keep the matter secret; discuss it with trusted individuals. 
                                                                                            
                .six.wide.column.middle.aligned
                    img.ui.image(src=public_resources+'/images/modules/grandparent/types.svg' style='margin-left: auto; margin-right: auto')
            br
