.ui.container#activity.hidden(style="width: 75%;")
  #grey-buttons
    .limit(style="padding: 0;")
      h1.ui.header.large#learn-title
        .content 
          i.dice.icon
          span#narrate-title-activity Activity: Select the appropriate way to protect yourself:

        .ui.centered.middle.aligned.grid(style="margin-top: 10px;")
          .row
            .one.wide.column
              h1 1)
            .six.wide.column
              p
                button.ui.button.fluid#wrong-bttn-1(onclick="showAnswer1()", style="font-size: 1.25rem;") 
                  span#narrate-1-activity 
                    span Set your account to public mode to attract as many followers as possible.
            .one.wide.column(style="text-align: center;")
              h3 OR
            .eight.wide.column
              p
                button.ui.button.fluid#correct-bttn-1(onclick="showAnswer1()", style="font-size: 1.25rem;") 
                  span#narrate-2-activity  
                    span Set your account to private mode to prevent strangers from reaching you.

          .ui.divider

          .row
            .one.wide.column
              h1 2)
            .six.wide.column
              p
                button.ui.button.fluid#wrong-bttn-2(onclick="showAnswer2()", style="font-size: 1.25rem;") 
                  span#narrate-3-activity  
                    span To identify whether the caller is actually your grandchild, pay attention to the caller’s voice. If the voice sounds identical or very similar, it’s safe to believe the caller is indeed your grandchild.
            .one.wide.column(style="text-align: center;")
              h3 OR
            .eight.wide.column
              p
                button.ui.button.fluid#correct-bttn-2(onclick="showAnswer2()", style="font-size: 1.25rem;") 
                  span#narrate-4-activity  
                    span To identify whether the caller is actually your grandchild, establish and use a secret code, question, or nickname known only to you and your grandchild.
                    br
                    br

          .ui.divider

          .row
            .one.wide.column
              h1 3)
            .six.wide.column
              p
                button.ui.button.fluid#correct-bttn-3(onclick="showAnswer3()", style="font-size: 1.25rem;") 
                  span#narrate-5-activity  
                    span You identified the call as a scam, but you chose not to report it or inform others about it since you weren’t deceived by the scam.
                    br
                    br
            .one.wide.column(style="text-align: center;")
              h3 OR
            .eight.wide.column
              p
                button.ui.button.fluid#wrong-bttn-3(onclick="showAnswer3()", style="font-size: 1.25rem;") 
                  span#narrate-6-activity  
                    span Although you recognized the scam call and weren’t deceived, you chose to report it and inform your family about it since you don’t want them to be scammed.
                    br
                    br

script.
  function showAnswer1() {
    $('#correct-bttn-1').css({
      'background-color': '#E3F2DC',
      'border': '2px solid #6F8C5A'
    });
    $('#wrong-bttn-1').css({
      'background-color': '#F2CECE',
      'border': '2px solid #F24141'
    });
  }

  function showAnswer2() {
    $('#correct-bttn-2').css({
      'background-color': '#E3F2DC',
      'border': '2px solid #6F8C5A'
    });
    $('#wrong-bttn-2').css({
      'background-color': '#F2CECE',
      'border': '2px solid #F24141'
    });
  }

  function showAnswer3() {
    $('#correct-bttn-3').css({
      'background-color': '#F2CECE',
      'border': '2px solid #F24141'
    });
    $('#wrong-bttn-3').css({
      'background-color': '#E3F2DC',
      'border': '2px solid #6F8C5A'
    });
  }

block styles
  link(rel='stylesheet', href='/css/grandparent/reporting/activity1.css')
