#fundamental-measures.hidden
    .ui.container(style="width: 100%;")
        .limit
            #contacted-read
                h1.ui.header.large#learn-title(style="margin-top: 10px;")
                    .content
                        i.book.icon
                        span#narrate-title-fundamental-measures Essential Safety Measures
            .ui.stackable.grid(style="margin-top: 0px;")
                .eight.wide.column
                    .dosContainer
                        .ui.large.blue.fluid.label
                            i.thumbs.up.icon 
                            span#narrate-1-fundamental-measures 
                                span Do's
                        .ui.list 
                            .item 
                                i.check.green.icon 
                                .content#narrate-2-fundamental-measures 
                                    span Remain calm after answering a suspicious call.
                            .item 
                                i.check.green.icon 
                                .content#narrate-3-fundamental-measures 
                                    span Always take the time to verify the caller's story. Contact other family members or reach out directly to your loved one mentioned by the caller.
                            .item 
                                i.check.green.icon 
                                .content#narrate-3-fundamental-measures 
                                    span Establish a secret word or question that only your grandchild would know the answer to (e.g., the name of their childhood pet). Use this secret verification method to identify if the caller is genuinely your grandchild.
                            .item 
                                i.check.green.icon 
                                .content#narrate-4-fundamental-measures 
                                    span Set your social media to private. 
                            .item 
                                i.check.green.icon 
                                .content#narrate-5-fundamental-measures 
                                    span Report the caller to the authorities immediately, whether you recognize it as a scam beforehand or have already fallen victim. Reporting scam attempts or incidents promptly can help protect other grandparents from becoming targets.
                .eight.wide.column
                    .dontsContainer
                        .ui.large.red.fluid.label
                            i.thumbs.down.icon 
                            span#narrate-6-fundamental-measures 
                                span Don'ts
                        .ui.list 
                            .item                                 
                                i.times.red.icon 
                                .content#narrate-7-fundamental-measures  
                                    span Do not answer calls from numbers that you do not recognize. 
                            .item                                 
                                i.times.red.icon 
                                .content#narrate-8-fundamental-measures  
                                    span Never provide personal, family, or financial details to someone over the phone or by email, especially if you have not verified their identity and trustworthiness. 
                            .item                                 
                                i.times.red.icon 
                                .content#narrate-9-fundamental-measures  
                                    span Refrain from sharing personal information on social media.
                            .item                                 
                                i.times.red.icon 
                                .content#narrate-10-fundamental-measures  
                                    span Avoid using untraceable payment methods like cash, wire transfers, gift cards, peer-to-peer payment apps (e.g., Zelle, Cash App), bitcoin
                            .item                                 
                                i.times.red.icon 
                                .content#narrate-11-fundamental-measures  
                                    span Never transfer money to people or accounts for which you aren’t certain about ownership.
                            