#fundamental-measures.hidden
    .ui.container(style="width: 100%;")
        .limit
            #contacted-read
                h1.ui.header.large#learn-title(style="margin-top: 10px;")
                    .content
                        i.book.icon
                        | Methods of Protection
            .ui.stackable.grid(style="margin-top: 0px;")
                .eight.wide.column
                    .dosContainer
                        .ui.large.blue.fluid.label
                            i.thumbs.up.icon 
                            | Do's
                        .ui.list 
                            .item 
                                i.check.green.icon 
                                .content 
                                    | Remain calm after answering a suspicious call.
                            .item 
                                i.check.green.icon 
                                .content 
                                    | Always take the time to verify the caller's story. Contact other family members or reach out directly to your loved one mentioned by the caller.
                            .item 
                                i.check.green.icon 
                                .content 
                                    | No matter how urgent the situation is claimed to be, you must speak with at least one other family member or trusted friend for verification.
                            .item 
                                i.check.green.icon 
                                .content 
                                    | Report the caller to the authorities immediately, whether you recognize it as a scam beforehand or have already fallen victim. Reporting scam attempts or incidents promptly can help protect other grandparents from becoming targets.
                .eight.wide.column
                    .dontsContainer
                        .ui.large.red.fluid.label
                            i.thumbs.down.icon 
                            | Don'ts
                        .ui.list 
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Avoid answering calls from unrecognized numbers.
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Never provide personal, family, or financial details  to someone over the phone or by email, especially if you have not verified their identity and trustworthiness. 
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Refrain from sharing personal information on social media.
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Avoid using untraceable payment methods like cash, wire transfers, gift cards, peer-to-peer payment apps (e.g., Zelle, Cash App), bitcoin
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Never transfer money to people or accounts for which you aren’t certain about ownership.
                            