#fundamental-measures.hidden
    .ui.container#raised-container.center-layout
        .limit
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Methods to Safeguard Individuals from Grandparent Scammers
            p The Fundamental and most crucial rules:
            .ui.bulleted.list 
                .item Remain calm after answering a suspicious call.
                .item Always take the time to verify the caller's story. Contact other family members or reach out directly to your loved one mentioned by the caller.
                .item No matter how urgent the situation is claimed to be, you must speak with at least one other family member or trusted friend for verification.
                .item Report the caller to the authorities immediately, whether you recognize it as a scam beforehand or have already fallen victim. Reporting scam attempts or incidents promptly can help protect other grandparents from becoming targets.


                //- .callout
                //-     .dark-blue-square
                //-         img(src=user.avatarImg, alt='avatar picture')
                //-     .light-blue-content
                //-         h3.call-header Important
                //-         p(style="font-size: 1.25rem;") If you suspect theft, take immediate action to minimize the damage.
