#post-actions.hidden
        .ui.container#raised-container.center-layout(style="width: 60%;")
            .limit(style="padding: 0;")
                .ui.stackable.grid
                    .eleven.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-post-actions Post-Scam Actions for Victims

                        //- h3 
                        //-     b#narrate-header-post-actions 
                        //-         span Identify the Impostor
                        .ui.bulleted.list 
                            .item 
                                span 
                                    span#narrate-1-post-actions  
                                        span If you sent money but not as cash, 
                                    b#narrate-2-post-actions  
                                        span contact your bank immediately. 
                                    span#narrate-3-post-actions  
                                        span They may be able to stop the payment and get your money back. Also, 
                                    b#narrate-4-post-actions  
                                        span change your bank passwords and account information 
                                    span#narrate-5-post-actions  
                                        span that may have been stolen or otherwise compromised. 
                            .item 
                                span 
                                    span#narrate-6-post-actions  
                                        span If you sent cash, 
                                    b#narrate-7-post-actions  
                                        span call the police immediately.
                            .item 
                                span 
                                    span#narrate-8-post-actions  
                                        span Report the scam. Report to local law enforcement and the Federal Trade Commission (FTC). You can do this via their website at 
                                    b#narrate-9-post-actions  
                                        span ftc.gov/complaint 
                                    span#narrate-10-post-actions  
                                        span or by calling them at 
                                    b#narrate-11-post-actions  
                                        span 1-877-FTC-HELP.
                            .item 
                                span#narrate-12-post-actions  
                                    span Do not keep your experience a secret.
                                .ui.bulleted.list 
                                    .item 
                                        span#narrate-13-post-actions  
                                            span Talk to your friends and family about what happened. 
                                        span#narrate-14-post-actions  
                                            span Remember that you are not alone.
                                    .item 
                                        span#narrate-15-post-actions  
                                            span Sharing your experience or knowledge can help protect your loved ones, too. 
                                        span#narrate-16-post-actions  
                                            span You might prevent future scams from happening.            
                    .five.wide.column.centered.middle.aligned
                        img.ui.image(src='/images/grandparent/sheets-icon.svg' style='margin-left: auto; margin-right: auto;')
