#post-actions.hidden
        .ui.container#raised-container.center-layout
            .limit
                #common-measures-read
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Preventative Measures
                    h3 
                        b Identify the Impostor
                    .ui.bulleted.list 
                        .item 
                            span If you sent money but not as cash, 
                                b contact your bank immediately. 
                            span They may be able to stop the payment and get your money back. Also, 
                                b change your bank passwords and account information 
                            span that may have been stolen or otherwise compromised. 
                        .item 
                            span If you sent cash, 
                                b call the police immediately.
                        .item 
                            span Report the scam. Report to local law enforcement and the Federal Trade Commission (FTC). You can do this via their website at 
                                b ftc.gov/complaint 
                            Span or by calling them at 
                                b 1-877-FTC-HELP.
                        .item 
                            span Do not keep your experience a secret.
                            .ui.bulleted.list 
                                .item 
                                    span Talk to your friends and family about what happened. Remember that you are not alone.
                                .item 
                                    span Sharing your experience or knowledge can help protect your loved ones, too. You might prevent future scams from happening.            
                                