#preventative.hidden
    .ui.container#raised-container.center-layout
        .limit
            #common-measures-read
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Preventative Measures
                h3 
                    b To prevent Potential Scams 
                .ui.bulleted.list 
                    .item 
                        span 
                            b Set your social media to private. 
                            | Carefully consider what information you share online. 
                    .item 
                        span 
                            b Do not share your family’s information, 
                            | including names, on social media. Remember that scammers can use publicly available information to craft their stories.
                    .item 
                        span 
                            b Do not answer calls from numbers that you do not recognize. 
                    .item 
                        span 
                            b Establish a secret word or question 
                            | that only your grandchild would know the answer to (e.g., the name of their childhood pet). Use this secret verification method to identify if the caller is genuinely your grandchild.
                