#reactive.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon 
                            span#narrate-title-reactive Reactive Measures During Scam Contact

                    strong#narrate-1-reactive
                        span Identify the Impostor
                    .ui.bulleted.list 
                        .item 
                            span#narrate-2-reactive 
                                span If the caller addresses you as 'grandma' or 'grandpa,' do not respond with your grandchild's name. Instead, 
                            span
                                b#narrate-3-reactive 
                                    span ask the caller to state their own name.
                        .item 
                            span#narrate-4-reactive  
                                span Use the 
                            span
                                b#narrate-5-reactive  
                                    span pre-established secret words or questions 
                            span#narrate-6-reactive  
                                span to identify if the caller is an imposter or your actual family member/friend.
                        .item 
                            span#narrate-7-reactive  
                                span If the caller requests information from you,
                            .ui.bulleted.list 
                                .item 
                                    span#narrate-8-reactive  
                                        span Do not mention your grandchild’s name.
                                .item 
                                    span#narrate-9-reactive  
                                        span Do not mention where you are.
                                .item 
                                    span#narrate-10-reactive  
                                        span Do not mention what happened recently.
                        
                .six.wide.column.middle.aligned
                    img.ui.image(src='/images/grandparent/imposter.png' style='margin-left: auto; margin-right: auto')