extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    #segmentation.ui.raised.segment
      img.ui.medium.image(src='/images/reflection_progress.png' style='margin-left: auto; margin-right: auto;width: 65%;')
    #chatModal.ui.divider(style="background-color: white;")
      .ui.large.header(style="background-color: grey; color: white;")
        img#dart_image1.ui.circular.image(src='/profile_pictures/transparent.png' style='margin: 25px')
        span#characterName Chat with Us
      .content(style="background-color: #dbdbdb; display: block")
        .div(style='overflow: hidden; float: left; background-color: #dbdbdb')
          br
          br
          .ui.grid
            .three.wide.column
              img#dart_image2.ui.tiny.circular.image(src='/profile_pictures/transparent.png' style='float: left; margin-bottom: 25px; margin-left: 10px; display: block')
            .ten.wide.column
              .ui.large.blue.left.pointing.label(style='float: right')
                p Congratulations Sam! You have completed all the content for identity theft! Do you feel ready to protect yourself in the real world? Do you think you are able to help your families and friends from the scams?
          input#fname(type='text' name='fname' value='' placeholder='Please input your question...' style="float: right; width: 100%; border: solid; border-color: gray; background-color: white; color: black; height: 100px; vertical-align: top")
    button.btn(style="margin-top: 10px; background-color: green; color: white; font-size: 24px; padding: 10px 20px; border: none; border-radius: 5px; float: right; clear: both" onclick="location.href='/'; localStorage.setItem('progress', 100);") Finish
 
block scripts
  script.
      // Retrieve character name from local storage
      let characterName = localStorage.getItem('character');
      
      // If a character name is found, update the h1 element
      if (characterName) {
        const characterNameElement = document.getElementById('characterName');
        if (characterName == "Dartie_Happy_3.png"){
          characterName ="Dartie";
        }
       if (characterName == "Daring_PT_Determined.png"){
          characterName ="Daring";
        }
       if (characterName == "Intrepid_PT_Determined.png"){
          characterName ="Intrepid";
        }
       if (characterName == "Valiant_PT_Determined.png"){
          characterName ="Valiant";
        }
       if (characterName == "transparent.png"){
          characterName ="Us";
        }
        characterNameElement.textContent = 'Chat with ' + characterName;
      }
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const dartieImg = document.getElementById('dart_image1');
      const character = localStorage.getItem('character');

      if (character) {
        const newCharacter = character.replace('.png', '1.png');

        dartieImg.src = "/profile_pictures/" + newCharacter;
      }
    }
    );
    document.addEventListener('DOMContentLoaded', function() {
      const dartieImg = document.getElementById('dart_image2');
      const character = localStorage.getItem('character');

      if (character) {
        dartieImg.src = "/profile_pictures/" + character;
      }
    }
    );
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
