extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br      
    .ui.raised.segment
      h1.ui.header
        .content
            | Tricks and Recognize Tricks 
      p Submodule 2
     
    button.btn(style="background-color: green; color: white; font-size: 24px; padding: 10px 20px; border: none; border-radius: 5px; float: right;" onclick="location.href='/identity_learn_page10';") Start Submodule 2


