extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br     
    p The concept and consequences of identity theft (submodule 1)          
    p practice part 1/2
    .ui.raised.segment
      h1.ui.header
        .content
            | Identity Theft learn Page 5
      p What are the following situation can be identified as  Identity theft? Select all that apply.
      ol
        li A. When someone steals your personal information to commit fraud
        li B.  Unauthorized use or attempted use of an existing account
        li C. Unauthorized use or attempted use of personal information to open a new account
        li D. All of the above
      p What Could be happened if your identity is stolen?
      ol 
        li A. Losing money
        li B. XXXXX
        li C. XXXXXXXX
        li D. All of the above
      p Please select all the items that you think are considered personal information.
      ol 
        li Social Security Number
        li Date and place of birth
        li Credit card info: CVC and Expiration date, and password
        li Your favorite restaurant's website 



    button.btn(style="background-color: green; color: white; font-size: 24px; padding: 10px 20px; border: none; border-radius: 5px; float: right;" onclick="location.href='/identity_learn_quiz';") Next




block scripts
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
