extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item(style='background-color: darkgray; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: darkgray; color: white;')
        | Method and Protection
    #segmentation.ui.raised.segment
      img.ui.medium.image(src='/images/learning_progress_bar.png' style='margin-left: auto; margin-right: auto')
      ul
        li
          b Examples of Identity Theft
        ul(style="list-style-type:disc;")
          li There are several types of identity theft based on the information stolen and the harm caused. In this module, we give you three examples of identity theft.
        br
        li
          u Financial identity theft
          |  involves any account that someone else opens or uses without your consent, for which you are financially liable. 
          ul(style="list-style-type:disc;")
            li This could be a bank account, credit card account, subscription to any service, insurance, loan, and many else.

        li
          p <u>Tax-related identity theft</u> occurs when scammers use personal identifiable information to file a tax return to claim a fraudulent refund.

        li
          p <u>Medical identity theft</u> happens when scammers use personal identifiable information to submit fraudulent claims to Medicare or other health insurers without your authorization.
    
      #avatar.ui.one.column.centered.grid(style="margin: 50px")
        .ui.large.right.pointing.circular.label(style="width: 50%;display: flex; align-items: center; float: left;")
          p(style='padding: 20px;') Please remember that there are numerous ways in which identity theft can occur other than these three types. You can check out 
            a(href='https://www.aarp.org/money/scams-fraud/') AARP’s Fraud Resources 
            | for more information about different types of scams.
        img#dart_image1.ui.small.image.right.floated(src='/profile_pictures/transparent.png' style="float: right")


    .div(style='margin-top:20px;')
      button.ui.medium.button.left.floated(onclick="location.href='/identity_learn_page3';") 
        i.arrow.left.icon 
        | Back
      //- button.ui.medium.button.left.floated(onclick="location.href='/';") Save & Exit
      button.ui.medium.button.right.floated(onclick="location.href='/identity_learn_page5';")
        | Next
        i.arrow.right.icon



block scripts
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const dartieImg = document.getElementById('dart_image1');
      const character = localStorage.getItem('character');

      if (character) {
        dartieImg.src = "/profile_pictures/" + character;
      }
    }
    );
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
