extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: #6BBCC7; color: white;')
        | Method and Protection
    #segmentation.ui.raised.segment
        img.ui.medium.image(src='/images/learning_progress_bar.png' style='margin-left: auto; margin-right: auto')
        h2.ui.header(style='margin-left: auto; margin-right: auto; text-align: center')
            .content
                p Preventative measures
                  b 
                      u after
                  |  being contacted by scammers
        ul
            li Dos:
            ul(style="list-style-type:disc;")
                li Always ask yourself "Do I have an account with the company or know tha person who is contacting me?" before giving out personal information
                li Look up the company's phone number and call the company to ask if any request is legitimate and safe
                li Carefully examine spellings in email adresses and URLs to check if there are any minor typos because scammers may try to pose as a legitimate company
                li Check whether the website has secure symbols, like a padlock or key symbol on your status bar 
            br
            li Don'ts:
            ul(style="list-style-type:disc;")
                li Don't share any personal information over the internet and on public computers unless you are sure it's safe or you initiated the contact
                li Don't give out usernames and passwords
                li Don't click on anything in an unsolicited email or text
                li Don't call a number left on your voicemail by a robocaller or listed in a suspicious email or text
                li Don't download anything you don't know is safe
                li Don't user websites that start with "http://" instead of "https://"
        .ui.one.column.centered.grid(style="margin: 50px")
            .ui.large.pointing.below.circular.label(style="float: left;")
                p(style="padding: 10px") You might feel like you encountered scammers in real life. Don't worry! There are the ways not to fall for them.
                p Always trust your instincts!
            img.ui.small.image.right.floated(src='/images/avatar-pic.png' style="float: right")
    .div(style='margin-top:20px;')
      button.ui.medium.button.left.floated(onclick="location.href='/identity_learn_page22;") 
        i.arrow.left.icon 
        | Back
      button.ui.medium.button.left.floated(onclick="location.href='/';") Save & Exit
      button.ui.medium.button.right.floated(onclick="location.href='/identity_learn_page24';")
        | Next
        i.arrow.right.icon

block scripts
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
