extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    #segmentation.ui.raised.segment
        img.ui.medium.image(src='/images/reflect_progress_bar.png' style='margin-left: auto; margin-right: auto')
        h3.ui.header
            .content
                b Reflection:
        p How did you feel about the content you have learned? Do you feel confient recognizing identity theft and understanding its consequences?
        h3 Confidence Rating:  
        form.ui.form(style="width: 100%", action='/postIdentityTheftModOneConfidenceRating', method='POST')
            input(type='hidden', name='username', value=user.username)
            input(type='hidden', name='_csrf', value=csrfToken)
            .field
                .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
                    input.hidden(type='radio' name='confidence' value = 'not_confident' id='radio1')
                    label I don't understand
            .field
                .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
                    input.hidden(type='radio' name='confidence' value = 'okay_confident')
                    label I'm okay
            .field
                .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
                    input.hidden(type='radio' name='confidence' value = 'yes_confident')
                    label I'm confident
            br
    .div(style='margin-top:20px;')
      button.ui.medium.button.left.floated(onclick="location.href='/identity_learn_page7';") 
        i.arrow.left.icon 
        | Back
      button.ui.medium.button.left.floated(onclick="location.href='/';") Save & Exit
      button.ui.medium.button.right.floated(onclick="location.href='/identity_learn_page9';")
        | Next
        i.arrow.right.icon

block scripts
  script.

    function showYes(){
      var hid = document.getElementById("understand");
      hid.style.visibility = "visible";
      hid = document.getElementById("understand_button");
      hid.style.visibility = "hidden";
      hid = document.getElementById("yay");
      hid.style.visibility = "visible";
      hid = document.getElementById("topics_group");
      hid.style.visibility = "visible";
    }

    function showTopic(name){
      document.getElementById("topic_text").innerHTML = name;
      var hid = document.getElementById("topics_group");
      hid.style.visibility = "hidden";
      hid = document.getElementById("topic");
      hid.style.visibility = "visible";
      hid = document.getElementById("topic_response1");
      hid.style.visibility = "visible";
      hid = document.getElementById("topic_response2");
      hid.style.visibility = "visible";
    }

    function checkQuestion(){
      document.getElementById("submitQuestion").style.display = "none";
      let x = 0;
      if(document.getElementById("c1").checked) {
        document.getElementById("b1").style.borderColor="green";
        x = x + .25;
      }
      else document.getElementById("b1").style.borderColor="red";
      if(document.getElementById("c2").checked) {
        document.getElementById("b2").style.borderColor="green";
         x = x + .25;
      }
      else document.getElementById("b2").style.borderColor="red";
      if(document.getElementById("c3").checked) {
         document.getElementById("b3").style.borderColor="green";
          x = x + .25;
      }
      else document.getElementById("b3").style.borderColor="red";
      if(document.getElementById("c4").checked) {
        document.getElementById("b4").style.borderColor="green";
         x = x + .25;
      }
      else document.getElementById("b4").style.borderColor="red";
      document.getElementById("score").innerHTML = x + " / 1.0 points";
      document.getElementById("correctness").style.display = "block";
      document.getElementById('scoreInput').value = x;
    }

    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };

  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    