extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    h2 Reflection: 
    p How did you feel about the first sub-module? Are you confident that you know about the consequences? 
    h2 Confidence Rating:  
    form.ui.form(style="width: 100%", action='/identityConfidenceRating', method='POST')
      input(type='hidden', name='username', value=user.username)
      input(type='hidden', name='_csrf', value=csrfToken)
      .field
        .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
          input.hidden(type='radio' name='confidence' value = 'not_confident' id='radio1')
          label I don't understand
      .field
        .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
          input.hidden(type='radio' name='confidence' value = 'okay_confident')
          label I'm okay
      .field
        .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
          input.hidden(type='radio' name='confidence' value = 'yes_confident')
          label I'm confident
      h1
      #avatar.ui.one.column.centered.grid(style="margin: 50px")
        .ui.huge.right.pointing.circular.label
          p(style="padding-top: 50px") Do you need any clarifications?
          button#nohelp.ui.tiny.button No
          button#help.ui.tiny.button(onclick="showModal()") Yes
        img.ui.small.image.right.floated(src='/images/avatar-pic.png')
      brbr
      h1
      button.ui.green.button.right.floated(type='submit')
          | Next
          i.arrow.right.icon
    .div
      button.ui.button.left.floated(onclick="location.href='/identity_learn_page6';") 
        i.arrow.left.icon 
        | Back
      button.ui.button.left.floated(onclick="location.href='/';") Save & Exit
      button.circular.ui.icon.button.right.floated(onclick="showModal()")
        i.wechat.icon
        
    #chatModal.ui.modal
      i.close.icon
      .ui.large.header(style="background-color: grey; color: white;")
        img.ui.circular.image(src='/images/avatar-pic.jpg' style='margin: 25px')
        | Chat with Intrepid
      .content(style="background-color: #d3d3d3;")
        .div(style='overflow: hidden; float: left')
          img.ui.tiny.circular.image(src='/images/avatar-pic.jpg' style='float: left; margin-bottom: 25px; display: block')
          .ui.large.left.pointing.label(style='float: left')
            p Hi User! Welcome to the Chat! I am so happy you're here! 
              | You requested clarification. Luckily for you, in here, you can ask any questions you have about the material covered.
        .ui.large.left.pointing.label(style='float: left; display: block; clear:both')
          p Before we start, I want to be clear that I am an AI chat-bot and not a human being. 
            | However, I will do my best to help you with what you need assistance on!
        .ui.large.left.pointing.label(style='float: left; clear:both')
          p You can feel free to save and exit the chat through the botton on the bottom left of you screen. 
            | You can always re-enter as well. Does all of this make sense? Select a button below.
        button#understand_button.ui.small.blue.button(onclick="showYes()" style='float: right; clear:both') Yes.
        #understand.ui.large.blue.right.pointing.label(style='float: right; visibility: hidden; clear: both')
          p Yes.
        #yay.ui.large.left.pointing.label(style="visibility: hidden; float: left; clear: both")
          p Yay! Let's begin. Please select a button below what you would like clarification on.
        #topics_group(style="visibility: hidden; clear: both; float: right")
          button.ui.small.blue.button(onclick="showTopic('Consequences of finanical identity theft')") Consequences of financial identity theft
          button.ui.small.blue.button(onclick="showTopic('Identifying a troll')") Identifying a troll
          button.ui.small.blue.button(onclick="showTopic('Other')") Other
        #topic.ui.large.blue.right.pointing.label(style="visibility: hidden; clear: both; float: right") 
          p#topic_text 
        #topic_response1.ui.large.left.pointing.label(style="visibility: hidden; clear: both; float: left") 
          p This can definitely be a hard topic to grasp, so I understand completely!
        #topic_response2.ui.large.left.pointing.label(style="visibility: hidden; clear: both; float: left") 
          p I want to help you as best as I can, so please click the learning option you feel would most help you reach understanding. 
          | We can start with this.

block scripts
  script.

    function showYes(){
      var hid = document.getElementById("understand");
      hid.style.visibility = "visible";
      hid = document.getElementById("understand_button");
      hid.style.visibility = "hidden";
      hid = document.getElementById("yay");
      hid.style.visibility = "visible";
      hid = document.getElementById("topics_group");
      hid.style.visibility = "visible";
    }

    function showTopic(name){
      document.getElementById("topic_text").innerHTML = name;
      var hid = document.getElementById("topics_group");
      hid.style.visibility = "hidden";
      hid = document.getElementById("topic");
      hid.style.visibility = "visible";
      hid = document.getElementById("topic_response1");
      hid.style.visibility = "visible";
      hid = document.getElementById("topic_response2");
      hid.style.visibility = "visible";
    }

    function showModal(){
      $('#chatModal.ui.modal')
        .modal('show')
      ;
    }

    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };

    document.getElementById('nohelp').onclick = hideAvatar;

    function hideAvatar(){
      var hid = document.getElementById("avatar");
      hid.style.display = "none";
    }
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    