extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br     
    p The concept and consequences of identity theft (submodule 1)          
    p Learn 2/4
    .ui.raised.segment
      #avatar.ui.one.column.centered.grid(style="margin: 50px")
        .ui.huge.right.pointing.circular.label
          p(style="padding-top: 20px") Key concept: 
          p Personal Information! 
          p <strong>Please  Protect it!</strong>
        img.ui.small.image.right.floated(src='/images/avatar-pic.png')

      p Personal Information refers to:
      p (1) any information that can be used to distinguish or trace an individual's identity, such as <strong>name, social security number, date and place of birth, mother's maiden name, or biometric records;</strong> and 
      p (2) any other information that is linked or linkable to an individual, such as <strong>medical, educational, financial, and employment information.</strong>" 
      p (Source: https://www.wikiwand.com/en/Personal_data)
    .div(style='margin-top:20px;')
      button.ui.large.button.left.floated(onclick="location.href='/identity_learn_page1';") 
        i.arrow.left.icon 
        | Back
      button.ui.large.button.left.floated(onclick="location.href='/';") Save & Exit
      button.ui.large.green.button.right.floated(onclick="location.href='/identity_learn_page3';")
        | Next
        i.arrow.right.icon



block scripts
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
