extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: darkgray; color: white;')
        | Method and Protection
    #segmentation.ui.raised.segment
      img.ui.medium.image(src='/images/learning_progress_bar.png' style='margin-left: auto; margin-right: auto')
      h1(style='display: block; text-align: center; margin: auto;margin-top: 20px;')
        b How can you recognize the techniques of scammers?
      h2
        i.icon.triangle.exclamation
        | Common warning signs of identity theft
      #avatar.ui.one.column.centered.grid(style="margin: 50px")
        .ui.large.right.pointing.circular.label(style="width: 40%;display: flex; align-items: center; float: left;")
          p(style='padding: 20px;') Next up is another email.
            br
            br
            | Let’s look into this one.
        img.ui.small.image.right.floated(src='/images/avatar-pic.png' style="float: right")
      h3 Example 2 : Claim that they know you via email 
      img.ui.centered.image(src='/images/tricks_bruce.png' style="max-width:100%;max-height:100%;text-align:center;margin-top:40px;margin-bottom: 0px;")
      ul 
        br
        li Here are signs that this email is a scam, (even though it looks like it comes from someone you know!):
          ul(style="list-style-type:disc;")
            li  Scam emails fail to identify the receiver’s name
            li  Scam emails l invite you to click on a new link, redirecting you to an illegitimate website. Be careful when pressing links or filling up forms from emails as it may lead to a phishing website designed to steal your personal information.
      #avatar.ui.one.column.centered.grid(style="margin: 50px")
        .ui.large.right.pointing.circular.label(style="width: 65%;display: flex; align-items: center; float: left;")
          p(style='padding: 20px;') Safe emails will typically identify your name as the recipient; Safe emails will never send you a link to update your personal information or payment information.
        img.ui.small.image.right.floated(src='/images/avatar-pic.png' style="float: right")

    .div(style='margin-top:20px;')
      button.ui.medium.button.left.floated(onclick="location.href='/identity_tricks_3';") 
        i.arrow.left.icon 
        | Back
      button.ui.medium.button.left.floated(onclick="location.href='/';") Save & Exit
      button.ui.medium.button.right.floated(onclick="location.href='/identity_tricks_5';")
        | Next
        i.arrow.right.icon



block scripts
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
