extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: darkgray; color: white;')
        | Method and Protection
    #segmentation.ui.raised.segment
      img.ui.medium.image(src='/images/learning_progress_bar.png' style='margin-left: auto; margin-right: auto')
      h1(style='display: block; text-align: center; margin: auto;margin-top: 20px;')
        b What are the techniques scammers use to steal 
        p your personal information?
      img.ui.centered.image(src='/images/blank_illustrations.png' style="max-width:100%;max-height:100%;text-align:center;margin-top:40px;margin-bottom: 0px;")
      p In person: “shoulder surfing” – watching you from a nearby location as you punch in your telephone number or credit card number – or listen in on your conversation if you give your credit card number over the telephone.
      
      img.ui.centered.image(src='/images/blank_illustrations.png' style="max-width:100%;max-height:100%;text-align:center;margin-top:40px;margin-bottom: 0px;")
      p Paperwork: If you receive an application for “pre-approved” credit cards in the mail, but discard them without tearing up the enclosed materials, criminals may retrieve them and try to activate the cards for their use without your knowledge.
      
      img.ui.centered.image(src='/images/blank_illustrations.png' style="max-width:100%;max-height:100%;text-align:center;margin-top:40px;margin-bottom: 0px;")
      p Online: Scammers often mimic a legitimate site or email address by using a slight variation in spelling. Or an email may look like it came from a legitimate company, but the actual email address is suspicious.
      
      img.ui.centered.image(src='/images/blank_illustrations.png' style="max-width:100%;max-height:100%;text-align:center;margin-top:40px;margin-bottom: 0px;")
      p Fake Social Security Administration (SSA) employees can claim to have found alleged problems with your Social Security number — for example, warning that it's been linked to criminal activity and suspended. They ask you to confirm your number so they can reactivate it or claim they can issue you a new one for a fee.
      p Fake SSA employees may call/message/email you with good news — say, an increase in your benefits. To get the extra money, you just have to pay a fee, or verify your name, date of birth and Social Security number.
      
    .div(style='margin-top:20px;')
      button.ui.medium.button.left.floated(onclick="location.href='/identity_learn_page9';") 
        i.arrow.left.icon 
        | Back
      //- button.ui.medium.button.left.floated(onclick="location.href='/';") Save & Exit
      button.ui.medium.button.right.floated(onclick="location.href='/identity_tricks_2';")
        | Next
        i.arrow.right.icon



block scripts
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
