extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    .ui.raised.segment
        img.ui.medium.image(src='/images/reflect_progress_bar.png' style='margin-left: auto; margin-right: auto')
        h3.ui.header
            .content
                b Reflection;
        p How did you feel about the content you have learned? Do you feel confient recognizing identity theft and understanding its consequences?
        h3 Confidence Rating:  
        form.ui.form(style="width: 100%", action='/postIdentityTheftModThreeConfidenceRating', method='POST')
            input(type='hidden', name='username', value=user.username)
            input(type='hidden', name='_csrf', value=csrfToken)
            .field
                .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
                    input.hidden(type='radio' name='confidence' value = 'not_confident' id='radio1')
                    label I don't understand
            .field
                .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
                    input.hidden(type='radio' name='confidence' value = 'okay_confident')
                    label I'm okay
            .field
                .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
                    input.hidden(type='radio' name='confidence' value = 'yes_confident')
                    label I'm confident
            br
            button.ui.button.right.floated(type='submit')
                | Next
                i.arrow.right.icon
        .div
        button.ui.button.left.floated(onclick="location.href='/identity_learn_page26';") 
            i.arrow.left.icon 
            | Back
        button.ui.button.left.floated(onclick="location.href='/';") Save & Exit

block scripts
  script.

    function showYes(){
      var hid = document.getElementById("understand");
      hid.style.visibility = "visible";
      hid = document.getElementById("understand_button");
      hid.style.visibility = "hidden";
      hid = document.getElementById("yay");
      hid.style.visibility = "visible";
      hid = document.getElementById("topics_group");
      hid.style.visibility = "visible";
    }

    function showTopic(name){
      document.getElementById("topic_text").innerHTML = name;
      var hid = document.getElementById("topics_group");
      hid.style.visibility = "hidden";
      hid = document.getElementById("topic");
      hid.style.visibility = "visible";
      hid = document.getElementById("topic_response1");
      hid.style.visibility = "visible";
      hid = document.getElementById("topic_response2");
      hid.style.visibility = "visible";
    }
    
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };

  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    