extends ../ui_layout

block content
  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item(style='background-color: darkgray; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: darkgray; color: white;')
        | Method and Protection
    #segmentation.ui.raised.segment
      h1.ui.header
        .content
            | Concepts & Consequences
      p Submodule 1
    
    button.btn(style="background-color: green; color: white; font-size: 24px; padding: 10px 20px; border: none; border-radius: 5px; float: right;" onclick="location.href='/identity_learn_page1';") Start Submodule 1


block scripts
  script.
    localStorage.setItem('progress', 5);
    localStorage.setItem('theft-path', "/identity_learn_page0");
