extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: #6BBCC7; color: white;')
        | Method and Protection
    #segmentation.ui.raised.segment
        img.ui.medium.image(src='/images/learning_progress_bar.png' style='margin-left: auto; margin-right: auto')
        h2.ui.header(style='margin-left: auto; margin-right: auto; text-align: center')
            .content
                b How can you protect yourself from scammers?
        iframe(type='text/html' width='540' height='289'
                src='videos/identity-video.mp4'
                frameborder='0' style='display: block; margin: auto')
        ul
            li The first and foremost principle is to always remember to remind yourself it could be a scammer.
            li It's important to remember that scammers ask you to update personal identifiable information, threatening you that it is urgent.
            li It is okay to ask your family, friends, or other people who know more about the identity theft when you feel suspicious.
            li Be prepared to report it to the authorities.
    .div(style='margin-top:20px;')
      button.ui.medium.button.left.floated(onclick="location.href='/identity_protection_1';") 
        i.arrow.left.icon 
        | Back
      //- button.ui.medium.button.left.floated(onclick="location.href='/';") Save & Exit
      button.ui.medium.button.right.floated(onclick="location.href='/identity_learn_page22';")
        | Next
        i.arrow.right.icon


block scripts
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
