extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: #6BBCC7; color: white;')
        | Method and Protection
    #segmentation.ui.raised.segment
        img.ui.medium.image(src='/images/reflect_progress_bar.png' style='margin-left: auto; margin-right: auto')
        h3.ui.header
            .content
                b Reflection:
        p How did you feel about the content you have learned? Do you feel confient recognizing identity theft and understanding its consequences?
        br
        br
        #avatar.ui.one.column.centered.grid(styl="margin: 50px")
          .ui.huge.right.pointing.circular.label
            p(style="padding-top: 50px") Do you need any clarifications?
            .ui.tiny.button(onclick="document.getElementById('avatar').style.display='none'") No
            .ui.tiny.button(onclick="showChatModal()") Yes
          img#dart_image2.ui.small.image.right.floated(src='/profile_pictures/transparent.png')
        br
        h3 Confidence Rating:  
        form.ui.form(style="width: 100%", action='/postIdentityTheftModThreeConfidenceRating', method='POST')
            input(type='hidden', name='username', value=user.username)
            input(type='hidden', name='_csrf', value=csrfToken)
            .field
                .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
                    input.hidden(type='radio' name='confidence' value = 'not_confident' id='radio1')
                    label I don't understand
            .field
                .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
                    input.hidden(type='radio' name='confidence' value = 'okay_confident')
                    label I'm okay
            .field
                .ui.radio.checkbox(style='border-style: solid; border-color: grey; padding: 15px; width: 100%')
                    input.hidden(type='radio' name='confidence' value = 'yes_confident')
                    label I'm confident
            br
            .circular.ui.icon.grey.button.right.floated(style="float: right" onclick="showChatModal()")
              i.wechat.icon
            button#submitButton.ui.tiny.green.button(type='submit' style="float: right") Submit
            br
            br
    .div(style='margin-top:20px;')
        button.ui.medium.button.left.floated(onclick="location.href='/identity_learn_page27';") 
          i.arrow.left.icon 
          | Back
        //- button.ui.medium.button.left.floated(onclick="location.href='/';") Save & Exit
        //- button.ui.medium.button.right.floated(onclick="location.href='/identity_learn_page29';")
        //-   | Next
        //-   i.arrow.right.icon

  #chatModal.ui.modal
    i.close.icon
    .ui.large.header(style="background-color: grey; color: white;")
      img#dart_image1.ui.circular.image(src='/profile_pictures/transparent.png' style='margin: 25px')
      | Chat with Intrepid
    .content(style="background-color: #d3d3d3; display: block")
      .div(style='overflow: hidden; float: left')
        img#dart_image3.ui.tiny.circular.image(src='/profile_pictures/transparent.pngg' style='float: left; margin-bottom: 25px; display: block')
        .ui.large.left.pointing.label(style='float: left')
          p Hi User! Welcome to the Chat! I am so happy you're here! 
            | You requested clarification. Luckily for you, in here, you can ask any questions you have about the material covered.
        .ui.large.left.pointing.label(style='float: left; display: block; clear:both')
          p Before we start, I want to be clear that I am an AI chat-bot and not a human being. 
            | However, I will do my best to help you with what you need assistance on!
        .ui.large.left.pointing.label(style='float: left; clear:both')
          p You can feel free to save and exit the chat through the botton on the bottom left of you screen. 
            | You can always re-enter as well. Does all of this make sense? Select a button below.
      button#understand_button.ui.small.blue.button(onclick="showYes()" style='float: right; clear:both') Yes.
      #understand.ui.large.blue.right.pointing.label(style='float: right; visibility: hidden; clear: both')
        p Yes.
      #yay.ui.large.left.pointing.label(style="visibility: hidden; float: left; clear: both")
        p Yay! Let's begin. Please select a button below what you would like clarification on.
      #topics_group(style="visibility: hidden; clear: both; float: right")
        button.ui.small.blue.button(onclick="showTopic('Consequences of finanical identity theft')") Consequences of financial identity theft
        button.ui.small.blue.button(onclick="showTopic('Identifying a troll')") Identifying a troll
        button.ui.small.blue.button(onclick="showTopic('Other')") Other
      #topic.ui.large.blue.right.pointing.label(style="visibility: hidden; clear: both; float: right") 
        p#topic_text 
      #topic_response1.ui.large.left.pointing.label(style="visibility: hidden; clear: both; float: left") 
        p This can definitely be a hard topic to grasp, so I understand completely!
      #topic_response2.ui.large.left.pointing.label(style="visibility: hidden; clear: both; float: left") 
        p I want to help you as best as I can, so please click the learning option you feel would most help you reach understanding. 
        | We can start with this.

block scripts
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const dartieImg = document.getElementById('dart_image1');
      const character = localStorage.getItem('character');

      if (character) {
        dartieImg.src = "/profile_pictures/" + character;
      }
    }
    );
    document.addEventListener('DOMContentLoaded', function() {
      const dartieImg = document.getElementById('dart_image2');
      const character = localStorage.getItem('character');

      if (character) {
        dartieImg.src = "/profile_pictures/" + character;
      }
    }
    );
    document.addEventListener('DOMContentLoaded', function() {
      const dartieImg = document.getElementById('dart_image3');
      const character = localStorage.getItem('character');

      if (character) {
        dartieImg.src = "/profile_pictures/" + character;
      }
    }
    );
  script.
    
    function showChatModal(){
      $('#chatModal.ui.modal')
        .modal('show')
      ;
    }

    function showYes(){
      var hid = document.getElementById("understand");
      hid.style.visibility = "visible";
      hid = document.getElementById("understand_button");
      hid.style.visibility = "hidden";
      hid = document.getElementById("yay");
      hid.style.visibility = "visible";
      hid = document.getElementById("topics_group");
      hid.style.visibility = "visible";
    }

    function showTopic(name){
      document.getElementById("topic_text").innerHTML = name;
      var hid = document.getElementById("topics_group");
      hid.style.visibility = "hidden";
      hid = document.getElementById("topic");
      hid.style.visibility = "visible";
      hid = document.getElementById("topic_response1");
      hid.style.visibility = "visible";
      hid = document.getElementById("topic_response2");
      hid.style.visibility = "visible";
    }
    
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };

  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    