extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item(style='background-color: darkgray; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: darkgray; color: white;')
        | Method and Protection
    #segmentation.ui.raised.segment
      img.ui.medium.image(src='/images/learning_progress_bar.png' style='margin-left: auto; margin-right: auto')
      h2(style='display: block; text-align: center; margin: auto;margin-top: 20px;')
        b What are the consequences when 
        p personal information is stolen?
      br
      iframe(type='text/html' width='540' height='289'
        src='videos/identity-video.mp4'
        frameborder='0' style='display: block; margin: auto;')
      br
      .div(style='margin-top: 20px;')
        .ui.large.blue.label KEY POINTS
        br
        br
        p With your personal identifiable information, a scammer could...
        ul
          li fraudulently apply for loans and credt cards, resulting in financial losses, decreases in credit scores, and future difficulty receiving loans
          li withdraw your money from you bank accounts, resulting in financial loss
          li steal yout tax refund
          li steal your health care benefits
          li commit crimes under your name or by using your email accounts
          li hack you social media accounts
          li commit other subsequent identity thefts, like accessing PII of your family members
      #avatar.ui.one.column.centered.grid(style="margin: 50px")
        .ui.large.right.pointing.circular.label(style="width: 50%;display: flex; align-items: center; float: left;")
            p(style='padding: 20px;') Please keep in mind that this list is not exhaustive. Scammers can be exploit your identity for their own good in many different ways!
        img.ui.small.image.right.floated(src='/images/avatar-pic.png' style="float: right")
    .div(style='margin-top:20px;margin-bottom:125px;')
      button.ui.medium.button.left.floated(onclick="location.href='/identity_learn_page4';") 
        i.arrow.left.icon 
        | Back
      button.ui.medium.button.left.floated(onclick="location.href='/';") Save & Exit
      button.ui.medium.button.right.floated(onclick="location.href='/identity_learn_page6';")
        | Next
        i.arrow.right.icon



block scripts
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
