extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br      
    .ui.raised.segment
      h1.ui.header
        .content
            | Identity Submodule 2 Hompage
      p Concept & Consequences
     
    button.btn(style="background-color: green; color: white; font-size: 24px; padding: 10px 20px; border: none; border-radius: 5px; float: right;" onclick="location.href='/identity_learn_page9';") Start Submodule 2
  script.
    localStorage.setItem('progress', 40);
    localStorage.setItem('theft-path', "/identity_learn_page8");

