extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    .ui.fluid.tiny.three.item.fluid.menu
      .item(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Concept & Consequences
      .item.active(style='background-color: #6BBCC7; color: white; border-right: 2px solid white;')
        | Tricks and Recognize Tricks
      .item(style='background-color: darkgray; color: white;')
        | Method and Protection
    #segmentation.ui.raised.segment
      img.ui.medium.image(src='/images/learning_progress_bar.png' style='margin-left: auto; margin-right: auto')
      h1(style='display: block; text-align: center; margin: auto;margin-top: 20px;')
        b Lets learn more about warning signs for specific identity theft.
      ul 
        li Financial Identity Theft
          ul(style="list-style-type:disc;")
            li You see unfamiliar or unexpected charges on your bank statement or credit card charges that you didn’t make.
            li You notice new credit cards or loans issued  in your name.
            li You get unexpected calls from debt collectors.
            li You receive denied credit, sudden drop in credit score, or errors in your credit report.
            li You notice bounced checks (if you know you have available funds).
            li You have missing mail/email from bank.
      ul 
        li Tax Identity Theft
          ul(style="list-style-type:disc;")
            li You get a letter from the IRS inquiring about a tax return that you did not file.
            li You get an IRS notice that you owe additional tax or refund offset, or that you have had collection actions taken against you for a year you did not file a tax return.
            li You can’t e-file your tax return because of a duplicate tax return made with the same Social Security number.
            li You get information in the mail/email that you did not request.
            li This includes Employer Identification Number, online Account information, changes to your online account
            li IRS records indicate you received wages or other income from an employer you didn’t work for.
      ul 
        li Medical ID Theft 
          ul(style="list-style-type:disc;")
            li You get a bill from your doctor or health care providers for services or medication you didn’t get.
            li You get a report or call about a medical debt you don’t owe.
            li You are denied insurance coverage because your medical records show a pre-existing health condition you don’t have.
      #avatar.ui.one.column.centered.grid(style="margin: 50px")
        .ui.large.right.pointing.circular.label(style="width: 40%;display: flex; align-items: center; float: left;")
          p(style='padding: 20px;') This is another scam using text messages. This time it threats you to click suspicious links.
        img#dart_image2.ui.small.image.right.floated(src='/profile_pictures/transparent.png' style="float: right")

    .div(style='margin-top:20px;')
      button.ui.medium.button.left.floated(onclick="location.href='/identity_tricks_6';") 
        i.arrow.left.icon 
        | Back
      //- button.ui.medium.button.left.floated(onclick="location.href='/';") Save & Exit
      button.ui.medium.button.right.floated(onclick="location.href='/identity_tricks_8';")
        | Next
        i.arrow.right.icon



block scripts
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const dartieImg = document.getElementById('dart_image2');
      const character = localStorage.getItem('character');

      if (character) {
        dartieImg.src = "/profile_pictures/" + character;
      }
    }
    );
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
