extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br      
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Aprender
      hr
      .ui.basic.segment.removePadding
        .ui.mini.green.right.labeled.icon.button.showLearnSectionButton
          i.down.arrow.icon
          |   Siguiente
      .ui.basic.segment.learnSegment.hidden
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | <b>Ciberbullying</b> Es cuando alguien publica o comparte cosas negativas sobre otra persona en internet.
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | El <b>acosador</b> puede usar dispositivos digitales, sitios web o apps. 
            | Este usualmente lo hará una y otra vez a la misma persona
        .ui.mini.green.right.labeled.icon.button.showKeyTermsButton
          i.down.arrow.icon
          |   Siguiente
    
    .ui.segment.keyIdeasSegment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Vocabulario clave
      .sub.header 
        i.hand.pointer.icon.grayElement
        span.grayElement Selecciona cada palabra para aprender más
      br
      .ui.stackable.two.column.grid
        .ui.column
          .keyTerm.ui.raised.segment.voiceover_keyTerm1
            a.ui.blue.ribbon.label.keyTermLabel
                span Acosador
            span.hidden.keyTermDefinition  
              | Alguien que lastima a una persona o un grupo a propósito más de una vez.
        .ui.column
          .keyTerm.ui.raised.segment.voiceover_keyTerm2
            a.ui.blue.ribbon.label.keyTermLabel
                span Víctima
            span.hidden.keyTermDefinition 
              | Alguien que está siendo acosado
        .ui.column
          .keyTerm.ui.raised.segment.voiceover_keyTerm3
            a.ui.blue.ribbon.label.keyTermLabel
                span Aliado
            span.hidden.keyTermDefinition 
              | Alguien que actúa contra el bullying.
              ul 
                | Un aliado puede confrontar al acosador o decirle a un adulto de confianza. 
                | También, puede apoyar a la persona que está siendo acosada conversando con ella o defendiendola.    
    
    
    .ui.warning.message#clickNextWarning
      .header
       | Dale clic a “Siguiente”
    .ui.warning.message#clickLabelsWarning
     .header
      | Dale clic a cada etiqueta para continuar
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Listo!

block scripts
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.6.1.1.mp3', 'CUSML.6.1.2.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.1.mp3']
      },
      '.voiceover_keyTerm2': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.6.2.3.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
