.ui.segment.mb-9
  .ui.grid.gridInsideTab          
    .row
      .column
        h2.articleSubheading 
          | Uh oh! It looks like we're having trouble loading this article.
        h1.articleHeading
          | You can let the TestDrive team know about any issues by sending us 
          | an email. Just click "Contact Us" at the bottom of the page.
        p.articleAuthor
        p.articleDate
    .row
      .sixteen.wide.column
        img.ui.large.left.floated.image.fullArticleImage
        p.articleText.articleBlock1 
        p.articleText.articleBlock2