#activity.hidden
    .ui.container(style='width: 100%;')
        .limit(style='padding: 0;')
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-types Misleading Safety Claims
                .row
                    .sixteen.wide.column
                        .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px;")
                            i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                            .content
                                p Click each card to learn more.

        .ui.three.column.stackable.grid#warning-cards
            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow
                                .content
                                    h4.ui.centered.header Natural
                        .side
                            .ui.raised.card
                                .content
                                    h4.ui.centered.header Natural
                                .content
                                    p Scammers often exploit 'natural' to grab attention. This doesn't guarantee safety. Even deadly mushrooms are natural. Always verify a product's safety regardless of marketing claims [6].

            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow
                                .content
                                    h4.ui.centered.header Clinically tested/approved
                        .side
                            .ui.raised.card
                                .content
                                    h4.ui.centered.header Clinically tested/approved 
                                .content
                                    p This phrase is often meaningless. A product tested on just one person could be called 'clinically tested.' It doesn't imply safety or FDA approval.

            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow
                                .content
                                    h4.ui.centered.header Meaningless Medical Jargon
                        .side
                            .ui.raised.card
                                .content
                                    h4.ui.centered.header Meaningless Medical Jargon
                                .content
                                    p Scammers use medical jargon to sound professional and convincing. Most people can't distinguish what's fact and what's made up. Jargon often masks a lack of real scientific evidence [6]. 
                                    em Example: "scientific breakthrough", "miraculous cure", "secret ingredient", "exclusive product", or "ancient remedy" [2].
