#emotion.hidden
    .ui.container#targeted-read
        .limit(style="padding: 0;")
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-emotion Emotional Manipulation
                .row
                    .ten.wide.computer.sixteen.wide.tablet.column
                        p
                            span#narrate-1-emotion 
                                span Medication scammers are adept at
                            b#narrate-2-emotion 
                                span manipulating people's emotions. 
                        p 
                            span#narrate-3-emotion 
                                span They thoroughly research people's needs for treatments and then make grandiose claims about their products. They
                            b#narrate-4-emotion 
                                span prey on people's desperation for fast and easy solutions
                            span#narrate-5-emotion 
                                span to complex medical issues.
                       
                        em
                            span#narrate-6-emotion 
                                span Example: Are you tired of fighting an endless battle against addiction? 
                            span#narrate-7-emotion 
                                span Tired of painful withdrawals and disappointing relapses? 
                            span#narrate-8-emotion  
                                span Finally, there's a solution that really works - and it's 100% natural!
                    
                    
                    .six.wide.computer.sixteen.wide.tablet.column
                        img.ui.medium.image(src=public_resources+'/images/modules/medication/techniques_emotional-manipulation.svg' style='margin-left: auto; margin-right: auto')
                     
