#misleading.hidden
    .ui.container#targeted-read
        .limit(style="padding: 0;")
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-misleading Misleading FDA Regulatory Terminology Use
                .row
                    .ten.wide.computer.sixteen.wide.tablet.column
                        p#narrate-1-misleading 
                            span Scammers often:
                        ul 
                            li#narrate-2-misleading 
                                span Use terms like "FDA cleared" or "FDA certified" to create confusion
                            li#narrate-3-misleading 
                                span Claim to be unproven medication alternatives to FDA-approved drugs or have similar effects to prescription drugs.
                            li
                                b#narrate-4-misleading
                                    span When checking a medication, only look for “FDA approved” label. 

                        p 
                            b#narrate-5-misleading  
                                span Example:
                        em
                            span#narrate-6-misleading  
                                span If a medication label says 'Manufactured in an FDA-registered Facility,' this does not mean the medication is safe or FDA-approved. 
                            span#narrate-7-misleading 
                                span FDA registration only means the facility is known to the FDA, not that its products are approved or safe to use.
                    .six.wide.computer.sixteen.wide.tablet.column
                        img.ui.medium.image(src=public_resources+'/images/shared_sources/filler.png' style='margin-left: auto; margin-right: auto')
                     
