#placebo.hidden
    .ui.container(style="width: 75%;")
        .ui.grid
            .nine.wide.computer.sixteen.wide.tablet.column
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        span#narrate-title-placebo Placebo effect
                p 
                    span#narrate-1-placebo 
                        span Even if you hear positive testimonials about a product, including from friends, it could be a 
                    b#narrate-2-placebo 
                        span placebo effect.
                    span#narrate-3-placebo 
                        span Scammers often exaggerate their products' effectiveness, and your desire for a cure can lead your brain to believe the treatment is working initially.
                p
                    span#narrate-4-placebo  
                        span A placebo is a fake treatment that appears real. 
                    span#narrate-5-placebo 
                        span The placebo effect occurs when the brain convinces the body this fake treatment is genuine, potentially stimulating healing or symptom improvement [9]. 
                    span#narrate-6-placebo 
                        span For example, you are served decaf coffee by mistake but still feel energized as if you had a regular coffee.

                p#narrate-7-placebo 
                    span Important Note: Placebos Only Affect Symptoms, Not Underlying Conditions  [10].
            .seven.wide.computer.sixteen.wide.tablet.column
                img.ui.medium.image(src=public_resources+'/images/shared_sources/filler.png' style='margin-left: auto; margin-right: auto')
              
