#terminology.hidden
    .ui.container#targeted-read
        .limit(style="padding: 0;")
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-terminology Terminology
                .row
                    .sixteen.wide.column
                       .ui.grid
                            .eight.wide.column
                                h3 
                                    b#narrate-1-terminology 
                                        span FDA Approved 
                                p#narrate-2-terminology 
                                    span When a medical product (like a drug or device) has been:
                                ul 
                                    li#narrate-3-terminology 
                                        span Checked by the FDA (Food and Drug Administration).
                                    li#narrate-4-terminology 
                                        span Found to be safe to use.
                                    li#narrate-5-terminology 
                                        span Proven to work for its intended purpose.
                                    li#narrate-6-terminology 
                                        span Shown to have more benefits than risks.
                                p In simple terms, it means experts who do not have a financial interest in the product have tested the product and decided it's okay for people to use [7].
                            .eight.wide.column
                                h3 
                                    b#narrate-7-terminology 
                                        span FDA Registration/Registered
                                p#narrate-8-terminology 
                                    span When a company that makes medical products has:
                                ul 
                                    li#narrate-9-terminology 
                                        span Told the FDA about their business
                                    li#narrate-10-terminology 
                                        span Listed what products they make
                                    li#narrate-11-terminology 
                                        span Given information about where they make these products [8, 22].
                                p#narrate-12-terminology 
                                    span Important! When a company registers with the FDA and lists its medical devices, this doesn't mean the FDA has approved, cleared, or authorized the company or its products.
