#testimonial.hidden
    .ui.container#targeted-read
        .limit(style="padding: 0;")
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-testimonial testimonial

                .row
                    .sixteen.wide.column
                       .ui.grid
                            .six.wide.column
                                p
                                    span 
                                        span Scammers use 
                                    b
                                        span fake experts and buyers
                                    span 
                                        span to make positive claims about their products. They also create numerous fake social media profiles and 
                                    b  
                                        span employ bots 
                                    span 
                                        span to generate positive reviews and likes, tricking you into trusting their fake products [6].
                            .ten.wide.column
                                table.ui.celled.table
                                    tbody
                                        tr
                                        td 
                                            p Dr. Emily Carter, Dermatologist
                                            em "As a dermatologist with over 20 years of experience, I was amazed by Life Renew. My patients saw incredible improvements in skin texture, fewer wrinkles, and a youthful glow within weeks. It's a natural miracle in a bottle!"

                                        td 
                                            p John D., Chicago
                                            em "I was addicted to opioids for over 10 years. I tried everything - rehab, therapy, other meds - but nothing worked until ReVivoXyn. After just 30 days on this miracle supplement, I was cured! No withdrawals, no cravings. I finally have my life back."
                            p(style="color:#a5200c") Testimonials are often unreliable. They may be second-hand stories or completely fabricated [6].
