extends ui_layout-esp 

block content
  .twelve.wide.computer.fourteen.wide.tablet.sixteen.wide.mobile.column.centered
    .ui.raised.segment.mainIntroSegment.centerText
      h3.ui.block.center.aligned.header.gradientBackground
        | ¡Bienvenido al Test sobre las Redes Sociales!
      a.ui.card.welcomePageCard(href='javascript:void(0);', onclick='javascript:startIntro();')
        .image
          img#cardImage
        .content
          .header#cardTitle
      
      h3.ui.center.aligned.header
        | ¡Aquí encontrarás lo que podrás hacer!
        
      .ui.tiny.four.steps
        .step.glowing-box.paleYellow#learn
          i.book.icon
          .content
            .title APRENDER
            .title vocabulario clave
        .step.glowing-box.paleGreen#practice
          i.edit.icon
          .content
            .title PRACTICAR
            .title habilidades en redes sociales
        .step.glowing-box.paleBlue#explore
          i.binoculars.icon
          .content
            .title EXPLORAR
            .title el feed de las redes sociales
        .step.glowing-box.palePurple#reflect
          i.question.icon
          .content
            .title REFLEXIONAR
            .title en lo que hiciste
            
    .ui.basic.segment.centerText
      a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button.getStartedButton
            i.rocket.icon
            |   ¡Presiona aquí para empezar!
   
block scripts
  script(src="/module_js/base_intro.js")
  
block styles
  link(rel='stylesheet', href='/css/intro.css')  

  

//- extends ui_layout-esp

//- block content
//-   .twelve.wide.computer.fourteen.wide.tablet.sixteen.wide.mobile.column.centered
//-     br
//-     .ui.raised.segment(style="text-align:center; width:100%; margin:0 0;")
//-       h3.ui.block.center.aligned.header(style="background: linear-gradient(to right, #FCF6BD 0%, #D0F4DE 25%,#A9DEF9 50%,#E4C1F9 100%);")
//-         //- i.bullhorn.blue.icon
//-         | ¡Bienvenido al Test sobre las Redes Sociales!

//-       a.ui.card.welcomePageCard(style="display:inline-block;")
//-         .image
//-           img#cardImage
//-         .content
//-           .header#cardTitle
      
//-       h3.ui.center.aligned.header
//-         | ¡Aquí encontrarás lo que podrás hacer!


//-       .ui.tiny.four.steps
//-         .step.glowing-box#learn(data-color="#FCF6BD",style="background-color: #FCF6BD !important;")
//-           i.book.icon
//-           .content
//-             .title APRENDER
//-             .title(style="background-color: #FCF6BD !important;") vocabulario clave
//-         .step.glowing-box#practice(data-color="#D0F4DE",style="background-color:  #D0F4DE !important;") 
//-           i.edit.icon
//-           .content
//-             .title PRACTICAR
//-             .title( style="background-color: #D0F4DE !important;") habilidades en redes sociales
//-         .step.glowing-box#explore(data-color="#A9DEF9", style="background-color:  #A9DEF9 !important") 
//-           i.binoculars.icon
//-           .content
//-             .title EXPLORAR
//-             .title(style="background-color: #A9DEF9 !important") el feed de las redes sociales
//-         .step.glowing-box#reflect(data-color="#E4C1F9",style="background-color: #E4C1F9 !important;") 
//-           i.question.icon
//-           .content
//-             .title REFLEXIONAR
//-             .title(style="background-color:#E4C1F9 !important;") en lo que hiciste

//-     .ui.basic.segment(style="text-align:center; padding-bottom:4em;")
//-       a(href='javascript:void(0);', onclick='javascript:startIntro();')
//-           .ui.big.green.labeled.icon.button.welcomeButton
//-               i.rocket.icon
//-               |   ¡Presiona aquí para empezar!
//-     br
//-     br
//-     br
 
   
//- block scripts
//-   script(src="/module_js/base_intro.js")

  
