extends ui_layout

block content
  .ten.wide.computer.twelve.wide.tablet.sixteen.wide.mobile.column.centered
    .ui.basic.segment.mb-9
      h1 What would you like to do next?
      .ui.raised.segment
        h3.ui.header
          .content
            | Would you like to:
        hr
        .ui.basic.segment.center.aligned
          .ui.big.green.labeled.icon.button.finish.endPageButton
            i.checkmark.icon
            |   Finish Lesson
          .ui.big.green.labeled.icon.button.finish.endPageButton
            i.chevron.circle.right.icon
            |   See Other Modules
          a(href='javascript:void(0);', onclick='javascript:openFeedback();')
            .ui.big.green.labeled.icon.button.endPageButton
              i.edit.icon
              |   Give Us Feedback
                    
      .ui.raised.segment
        h3.ui.header
          .content
            | You can also go back into the module to:
        hr
        .ui.basic.segment.center.aligned
          .ui.big.blue.labeled.icon.button.cybertutorial.endPageButton
            i.chevron.circle.left.icon
            |   Learn Key Ideas
          .ui.big.blue.labeled.icon.button.cybersim.endPageButton
            i.chevron.circle.left.icon
            |   Practice Skills
          if (modId === 'accounts')
          else if (modId === 'privacy')
            a(href='javascript:void(0);', onclick='javascript:toPrivacyFreePlay();')
              .ui.big.blue.labeled.icon.button.endPageButton
                i.chevron.circle.left.icon
                |  Explore Timeline
          else
            .ui.big.blue.labeled.icon.button.cyber_script.endPageButton
              i.chevron.circle.left.icon
              |   Explore Timeline
      
block scripts
  script(src='/module_js/base_end.js')
  script.
    function openFeedback(){
      window.open(href='https://cornell.qualtrics.com/jfe/form/SV_9tMszwlpe1TIIxT');
    };
    function toPrivacyFreePlay(){       
      window.location.href='/free-play/privacy';
    };

block styles
  link(rel='stylesheet', href='/css/end.css')