extends ./ui_layout

block content
  .ui.text.container.mb-9

block scripts
  script(src=`/module_js/${mod}//${mod}_trans_script.js`)
  script(src="/module_js/voiceover.js")
  script(src="/module_js/base_introSteps.js")