extends ui_layout

block content
  .ui.sixteen.wide.row
    .ui.sixteen.wide.column(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
     .login-box(style="text-align: left;")
      h2.ui.header(style="text-align: left !important; margin:5px 0px; font-family:'Noto Sans', sans-serif;") Password Reset
      span(style="font-size: 17px; font-family:'Arial', Serif;") This is a one-time password reset link for Dart and please enter your new password.

      form.ui.form(action="/changePassword", method='POST')
        //- input(type='hidden', name='_csrf', value=csrfToken)
        .field
          label(for='password' style="margin-top:15px; font-size:larger;") Enter Your New Password 
          input(type='hidden', name='username', id='username', value=email)
          input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='password', name='password', id='password', placeholder='Password', required).field
        button.ui.big.blue.button(type='submit', style="width: 100%; border-radius: 20px;") Confirm

block styles
  style.
    .login-box {
    }
    @media (max-width: 600px) {
      .login-box {
        margin-top: -35px;
      }
    }

block scripts
  link(rel='stylesheet', href='/css/style.css')
  script(src='/module_js/base_end.js')
  script.
    var email = !{email};
    //- console.log(email)
    function openFeedback(){
      window.open(href='https://cornell.qualtrics.com/jfe/form/SV_9tMszwlpe1TIIxT');
    };
    function toPrivacyFreePlay(){       
      window.location.href='/free-play/privacy';
    };