extends ui_layout

block content

  .sixteen.wide.column 
    br
    #new_class.ui.big.green.labeled.icon.button
        i.plus.icon
        |   Create New Class
    br
    table.ui.celled.padded.table
      thead
        tr
          th.single.line Class Name
          th Access Code
          th Number of Students
      each u in classes
        tbody
          tr
            td
              a.item(href='/class/'+u.accessCode)=u.className
            td=u.accessCode
            td=u.students.length
    br
    br
    br
    //- New Reply Modal
    .ui.small.newclass.modal
      i.close.icon
      .header Create New Class
      .content
        form#classform.ui.form(action='/classes', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .field
            label(for='classname') Class Name
            input(type='text', name='classname', id='classname', placeholder='Enter Class Name')
          .field
            label(for='accesscode') Access Code
            input(type='text', name='accesscode', id='accesscode', placeholder='Enter Access Code')
          .ui.error.message
      .actions
        input.ui.green.button(type='submit', value='Submit', form='classform')