extends ui_layout

block content

  .ui.text.container
    br
    h2 Cyberbullying
    p People can bully online just like IRL. Just because its online, doesn't make it less real or hurtful. 

    .ui.form
      .field
        label Have you been bullied before?
        textarea(rows='2')
      .field
        label What does cyberbullying look like?
        textarea(rows='3')

    .ui.big.green.labeled.icon.button.com
        i.rocket.icon
        |   Got it!
    br
    br
    br

