extends ui_layout

block content

  .ui.text.container
    br
    br
    h1 Cookie Policy
    h3.termsSubheader
      | To be completed later
    br
    p.termsParagraph
      | Curricula and Lesson Content Social Media TestDrive is Copyright &copy; 2017-2022 by Cornell University and the Cornell Research Foundation, Inc. All rights reserved.
    p.termsParagraph
      | Permission to use, copy, modify and distribute any part of Social Media TestDrive (&ldquo;TestDrive&rdquo;) and its associated copyrights for educational, research and non-profit purposes, without fee, and without a written agreement is hereby granted, provided that
      | the above copyright notice, this paragraph and the following three paragraphs appear in all copies.
    p.termsParagraph
      | Those desiring to incorporate TestDrive into commercial products or use TestDrive and its associated copyrights for commercial purposes should contact the Center for Technology Licensing at Cornell University at 395 Pine Tree Road, Suite 310, Ithaca,
      | NY 14850; email: ctl-connect@cornell.edu; Tel: 607-254-4698; FAX: 607-254-5454 for a commercial license.
    p.termsParagraph
      | IN NO EVENT SHALL THE CORNELL RESEARCH FOUNDATION, INC. AND CORNELL UNIVERSITY BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF WORK AND ITS ASSOCIATED COPYRIGHTS,
      | EVEN IF THE CORNELL RESEARCH FOUNDATION, INC. AND CORNELL UNIVERSITY MAY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    p.termsParagraph
      | THE WORK PROVIDED HEREIN IS ON AN &quot;AS IS&quot; BASIS, AND THE CORNELL RESEARCH FOUNDATION, INC. AND CORNELL UNIVERSITY HAVE NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS. THE CORNELL RESEARCH FOUNDATION, INC. AND CORNELL
      | UNIVERSITY MAKE NO REPRESENTATIONS AND EXTEND NO WARRANTIES OF ANY KIND, EITHER IMPLIED OR EXPRESS, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THAT THE USE OF WORK
      | AND ITS ASSOCIATED COPYRIGHTS WILL NOT INFRINGE ANY PATENT, TRADEMARK OR OTHER RIGHTS.
    h3.termsSubheader2
      | Software
    br
    p.termsParagraph
      | The code used to run the TestDrive platform is licensed under the
      a(href='https://opensource.org/licenses/MIT' target='_blank')
        | MIT License.

    p(style='white-space:pre;') 
        | If you have any questions about this Policy, or the practices of the Service, please write to us at: 
        | Social Media Lab 
        | 479 Mann Library Building
        | Ithaca, NY 14850
        | socialmediatestdrive@gmail.com
    br
    br
    br
    br
    br
