extends ui_layout
block content
  - var cdn = "https://dhpd030vnpk29.cloudfront.net";
  - var path = isResearchVersion ? 'intro' : 'guest';

  .ui.grid(style="margin-top: -50px;")
    .row#blue-upper
      .ui.container
        h1.ui.header.center.aligned Missions
        .limit(style="padding-bottom: 20px; text-align: center;")
          p#about 
            i.circular.info.pear.small.icon(style="position: relative; bottom: 2px; right: 5px; border: none !important; font-size: 0.8rem")
            | Click on a mission below to start learning.

    .row#white-lower
      .ui.container
        .ui.three.stackable.cards#courses-container

block styles
  link(rel='stylesheet', href='/css/mods.css')

block scripts  
  script(src="/module_js/courses/test.js")
  script(src="/module_js/courses/courses.js")
    