extends ui_layout

block content
  - var cdn = "https://dhpd030vnpk29.cloudfront.net";
  - var path = isResearchVersion ? 'intro' : 'guest';

  .ui.grid(style="margin-top: -50px;")
    .row#blue-upper 
      .ui.text.container
        .ui.flex.container
          h1 Browse Courses
          span 
            .ui.search
              .ui.icon.input
                input#course-search.prompt(type="text" placeholder="Search Courses...")
                i#search-icon.search.icon

    .two.wide.column
      .ui.container(style="margin-left:5%")
        .ui.accordion
          .title
            i.filter.icon
            | Sort By
          .content
            .ui.list
              .item
                .title
                  i.bullet.icon
                  | Featured
                .content
              .item
                .title
                  i.bullet.icon
                  | Popular
                .content 
              .item
                .title
                  i.bullet.icon
                  | Alphabetical
                .content   
                  div(style="text-align:end; margin-right:auto; marging-left:100%")            
                    div#ascend(style="cursor: pointer;") Ascend
                    div#descend(style="cursor: pointer;") Descend
              .item
                .title
                  i.bullet.icon
                  | Latest
                .content 
          .title
            i.dropdown.icon
            | Subject
          .content
            .ui.list
              .item
                i.bullet.icon
                .content Scams
              .item
                i.bullet.icon
                .content Password Security
              .item
                i.bullet.icon
                .content Data Privacy
              .item
                i.bullet.icon
                .content Malware
          .title
            i.dropdown.icon
            | Level
          .content
            .ui.list
              .item
                i.bullet.icon
                .content Beginner
              .item
                i.bullet.icon
                .content Intermediate
              .item
                i.bullet.icon
                .content Advanced

    .fourteen.wide.column
      br
      .ui.container
        .ui.three.stackable.cards#courses-container

block styles
  link(rel='stylesheet', href='/css/mods.css')
  link(rel='stylesheet', href='/css/courses/courses.css')

block scripts  
  script(src="/module_js/courses/test.js")
  script(src="/module_js/courses/courses.js")
