extends ui_layout

block content 
  .ui.sixteen.wide.row
    .ui.sixteen.wide.column(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
     .login-box
      h2.ui.header(style="text-align: left !important; margin:5px 0px") Create an account
      
      form.ui.form(action="/createStudent", method='POST')
        input(type='hidden', name='facilitator')
        input(type='hidden', name='_csrf', value=csrfToken)
        .field
          a.forgot(href='/studentLogin', style="text-align: left !important;") ← back
          label(for='username' style="font-size:larger;") Enter Username
          .ui.pointing.below.label.basic.username-red
              .header Create a simple username: 
                br
                br
                li Avoid using your full name or email address. 
          input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='text', name='username', id='username', placeholder='Username', required).field.left 

          label(for='password' style="font-size:larger; margin:0px") Password
          .ui.pointing.below.label.basic.password-red
            .header Create a secure password: 
              br
              br
              li The longer the password, the better. A minimum of 12 characters is ideal.
              br
              li Avoid personal information like birthdays or common password patterns, e.g. Dragon123 or 123456789.
              br
              li Store your passwords in a password manager app for ease of access!
          input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='password', name='password', id='password', placeholder='Password', required).field
          label(for='password' style="font-size:larger;") Confirm Password

          input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='password', name='confirm-password', id='confirm-password', placeholder='Confirm Password', required).field
                
        button.ui.big.blue.button(type='submit', style="border: 1px solid #2884d4; width: 100%; margin: 15px 0;") Sign up
block styles
  style.
    .ui.pointing.below.label.basic.username-red, .ui.pointing.below.label.basic.password-red {
      display: none;
    }
    .ui.pointing.below.label.active.username-red, .ui.pointing.below.label.active.password-red {
      display: block;
    }
      
block scripts
  link(rel='stylesheet', href='/css/style.css')
  script(src='/module_js/base_end.js')
  script(src='/module_js/base_start.js')
  script(src='/module_js/base_tutorial.js')
  script(src='/module_js/base_introSteps.js')

