extends ui_layout

block content
  .ui.grid(style="margin-top: -58px;")
    .row#blue-upper
      .ui.container
        h1.ui.header.center.aligned Dashboard
        .limit(style="padding-bottom: 20px; text-align: center;")
          p#about 
            i.circular.info.pear.small.icon(style="position: relative; bottom: 2px; right: 5px; border: none !important; font-size: 0.8rem")
            | View your progress on DART Academy and alert hub updates below

      //- Alert Hub
    .row#white-lower
      .ui.container
        .limit.hub-container
          h2.ui.header#in-progress DART Alert Hub:
          
          .slick-slider#steps-slider
            #news-container

        br
        //- Courses
        .limit
          //- h3 Streaks 
        //-   div(style=" text-align: center; font-size: 2em; font-weight: bold; color: #ff6347; ")#streak-count
        //-   br
        //-   .ui.calendar#streak-calendar
        //-   br


                  
        .limit
          h2.ui.header#in-progress My Missions:

          //- Progress Bars
          div#progress-bars-container
        br
        br
        br
 
block styles
  link(rel='stylesheet', href='/css/mods.css')

block scripts  
  script.
    var resources = "#{public_resources}";
  script(src='/module_js/dashboard/dashboard.js')   
  script(src="/module_js/dashboard/streaks.js")