extends ui_layout

block content
  .ui.sixteen.wide.row
    .ui.sixteen.wide.column
      h2.loginPageTitle Welcome to the Facilitator Dashboard!
  .ui.sixteen.wide.row 
    .ui.sixteen.wide.column
      a(href='/createStudent')
        button.ui.big.green.labeled.icon.button
            i.chevron.circle.right.icon
            |   Create a New Student Account
        
block styles
  link(rel='stylesheet', href='/css/login.css')
