extends ui_layout

block content
  .ui.sixteen.wide.row
    .ui.sixteen.wide.column
      h2.loginPageTitle Welcome to the Research Version of DART!
  .ui.sixteen.wide.row 
    .ui.sixteen.wide.column
      h2.ui.header Login as Facilitator
      form.ui.form(action="/facilitatorLogin", method='POST')
        input(type='hidden', name='_csrf', value=csrfToken)
        .field.six.wide.column
          label(for='facilitator_username' style="font-size:larger;") Username
          input(type='text', name='facilitator_username', id='facilitator_username', placeholder='Username', required).field
          label(for='facilitator_password' style="font-size:larger;") Password
          input(type='password', name='facilitator_password', id='facilitator_password', placeholder='Password', required).field
        button.ui.big.green.button(type='submit') Login
        
block styles
    
      
block scripts
  script(src='/module_js/base_end.js')
  script.
    function openFeedback(){
      window.open(href='https://cornell.qualtrics.com/jfe/form/SV_9tMszwlpe1TIIxT');
    };
    function toPrivacyFreePlay(){       
      window.location.href='/free-play/privacy';
    };