extends ui_layout




block content

  .ui.sixteen.wide.row

    .ui.sixteen.wide.column(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
     .login-box
      h2.ui.header Please tell us your email.
      span(style="font-size:20px")  We will reach out to you with a temporary password later. 

      form.ui.form()

        input(type='hidden', name='_csrf', value=csrfToken)

        .field

          label(for='username' style="font-size:larger;") Email

          input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='text', name='username', id='username', placeholder='Enter yoru Email', required).field

        button.ui.big.blue.button(type='submit', style="width: 100%; border-radius: 20px; margin: 15px 0 0 0;") Confirm




block styles




block scripts
  link(rel='stylesheet', href='/css/style.css')

  script(src='/module_js/base_end.js')

  script.

    function openFeedback(){

      window.open(href='https://cornell.qualtrics.com/jfe/form/SV_9tMszwlpe1TIIxT');

    };

    function toPrivacyFreePlay(){       

      window.location.href='/free-play/privacy';

    };