extends ui_layout




block content

 .ui.sixteen.wide.row
  .ui.sixteen.wide.column(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
   .ui.fluid.card.dim(style = "width:106%; margin-top:-40px;margin-bottom:0px; ")
    .gradientdiv
     .login-box(style="margin:auto !important;margin-top:30px !important")
      h2.ui.header(style="text-align: left !important; margin:5px 0px; font-family:'Noto Sans', sans-serif;") Reset your password
      span(style="font-size: 17px; font-family:'Arial', Serif;") To reset your password, enter your email below and submit. An email will be sent to you with instructions about how to complete the process.

      form.ui.form(action="/forgotPassword", method='POST')

        input(type='hidden', name='_csrf', value=csrfToken)

        .field

          label(for='username' style="margin-top:10px; font-size:larger;") Email

          input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='text', name='username', id='username', placeholder='Enter yoru Email', required).field

        button.ui.big.blue.button(type='submit', style="width: 100%; border-radius: 20px; margin: 0px 0 0 0;") Confirm

block styles

  style.
    .login-box {
    }
    @media (max-width: 600px) {
      .login-box {
        margin-top: -35px;
      }
    }

block scripts
  link(rel='stylesheet', href='/css/style.css')

  script(src='/module_js/base_end.js')

  script.

    function openFeedback(){

      window.open(href='https://cornell.qualtrics.com/jfe/form/SV_9tMszwlpe1TIIxT');

    };

    function toPrivacyFreePlay(){       

      window.location.href='/free-play/privacy';

    };
block styles
  link(rel='stylesheet', href='/css/login.css')
  style(type='text/css').
    .gradientdiv {
      height: 100vh; /* adjust this to the height you want */
      background: linear-gradient(to bottom, #2884d4 0%, black 100%);
    }