extends ui_layout




block content
  .ui.grid
    .row#blue-upper(style="min-height: calc(100vh - 7.1rem);")
      .ui.container(style="display: flex; justify-content: center; align-items: center; margin-top: -100px;")
        .limit(style="padding-bottom: 30px;")
          .login-box
            h2.ui.header(style="text-align: left !important; margin:5px 0px; font-family:'Noto Sans', sans-serif;") Reset your password
            p(style="text-align: left !important; color: black !important") To reset your password, enter your email below and submit. An email will be sent to you with instructions about how to complete the process.

            form.ui.form(action="/forgotPassword", method='POST')

              input(type='hidden', name='_csrf', value=csrfToken)

              .field

                label(for='username' style="margin-top:10px; font-size:larger;") Email

                input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='text', name='username', id='username', placeholder='Enter your email', required).field

              button.ui.big.blue.button(type='submit', style="width: 100%; border-radius: 20px; margin: 0px 0 0 0;") Confirm

block styles

  style.
    .login-box {
    }
    @media (max-width: 600px) {
      .login-box {
        margin-top: -35px;
      }
    }

block scripts
  link(rel='stylesheet', href='/css/style.css')

  script(src='/module_js/base_end.js')

  script.

    function openFeedback(){

      window.open(href='https://cornell.qualtrics.com/jfe/form/SV_9tMszwlpe1TIIxT');

    };

    function toPrivacyFreePlay(){       

      window.location.href='/free-play/privacy';

    };
block styles
  link(rel='stylesheet', href='/css/student_login.css')
