extends ui_layout

block content
  .ui.grid
    .row#blue-upper
      .ui.container
        .ui.stackable.grid
          .row.vertically-center
            .eight.wide.column
              img(src="/images/home-hair-color.png", alt="Illustration of older adults safely navigating the online world" style="width: 100%; margin-left: -12px;")
            .eight.wide.column(style="padding-left: 70px;")
              if user 
                if user.name === 'Guest'
                  h1.ui.header Welcome Agent! 
                  br
                else if user
                  h1.ui.header Welcome Agent #{user.name}! 
                  br
              else
                h1.ui.header Learn to spot online deception and stay scam-free
                br
              if user
                button.ui.blue.huge.fluid.button(onclick="location.href='/courses';" )
                  | Browse Courses
                br
                button.ui.huge.fluid.button(onclick="location.href='/dashboard';" )
                  | View Your Learning
              else
                button.ui.blue.huge.fluid.button(onclick="location.href='/getGuest';" )
                  | Get Started
                br
                button.ui.huge.fluid.button(onclick="location.href='/login';" )
                  | I’m a Returning User


        //- h1.ui.header.center.aligned Learn to spot online deception and stay scam-free
        //- .limit(style="padding-bottom: 10px;")
        //-   .home-img-container(style="text-align: center;")
        //-     img(src="/images/dart-home.png", alt="Illustration of older adults safely navigating the online world" style="width: 70%;")
        //-   p#aim(style="margin-top: 15px; width: 108%;") The Deception Awareness and Resilience Training (DART) learning platform offers easy-to-understand resources and training to help you spot false information and avoid scams. 

        //-   //- p#about A platform that aims to help senior people navigate the online world. It offers easy-to-understand resources and training to help you spot false information and avoid scams. 
        //-   .user-actions(style="margin-top: -50px; justify-content: center; display: flex; flex-direction: row; ")
        //-     button.ui.blue.huge.button(onclick="location.href='/getGuest';" )
        //-       | Learn Now
        //-     //- button.ui.blue.huge.button(style="margin-right: 20px;")
        //-     //-   | Sign up 
        //-     //- button.ui.inverted.huge.button
        //-     //-   | View Video

    //- .row#video-overlay(style="background: transparent;")
    //-   .inner-video
    //-     iframe#intro-video(type='text/html' width='600px' height='340px' src='videos/dart_intro.mp4' frameborder='0')
    .row#white-lower
      .ui.container
        //- h2.ui.header.center.aligned#our-mission Our Mission 
        .ui.stackable.grid
          //- First section with text on the left and image on the right
          .row.computer.only.tablet.only.vertically-center
            .eight.wide.column
              h2.info-header Prepare yourself for the online world
              p While the internet can improve our lives, it also presents risks. The Deception Awareness and Resilience Training (DART) platform offers training to help you spot false information and avoid scams.
            .eight.wide.column(style="margin: 0; padding: 0; display: flex; align-items: center;")
              img(src="/images/online-world.png" alt="Image description" style="width: 90%;margin-left: 50px;")
          .row.mobile.only.vertically-center
            .eight.wide.column(style="margin: 0; padding: 0; display: flex; align-items: center;padding-bottom: 15px;")
              img(src="/images/online-world.png" alt="Image description" style="width: 90%;margin-left: 50px;")
            .eight.wide.column
              h2.info-header Prepare yourself for the online world
              p While the internet can improve our lives, it also presents risks. The Deception Awareness and Resilience Training (DART) platform offers training to help you spot false information and avoid scams.
         

          //- Second section with image on the right and text on the left
          .row(style="margin-top: 20vh;").vertically-center
            .eight.wide.column
              img(src="/images/hands-on.png" alt="Image description" style="width: 100%; margin-left: -10px;")
            .eight.wide.column(style="padding-left: 50px;")
              //- h2.info-header Prepare yourself for the online world
              h2.info-header Engaging hands-on learning
              p DART simulates realistic digital dilemmas and scenarios that you may encounter while navigating digital technology and services.

          //- Third section with image on the left and text on the right
          .row(style="margin-top: 20vh;margin-bottom: -2px; padding-bottom: 0;").vertically-center
            .eight.wide.column
              //- h2.info-header Prepare yourself for the online world
              h2.info-header Play. Practice. Protect.
              p Your knowledge will enable you to protect you and your loved ones from online scams and deception.
            .eight.wide.column
              img(src="/images/protect.png" alt="Protect the people in your community" style="width: 100%")

    .row(style="background: #E7F3F8;")
      .ui.container(style="padding-top: 25vh; padding-bottom: 30vh;")
        .ui.stackable.grid(style="height: 119%;")
          .four.wide.column.computer.only
            img(src="/images/phone-bg.png", alt="Phone screen" style="width: 250px;height:450px;position: absolute;top:4px;left:3px;z-index:100;pointer-events:none;")
            .ui.container(style="display: flex;justify-content: left;")
              .containerz
                .single-item(style="width: 225px;position: absolute;")
                  .slide-holder
                      //- p 1 
                      img(src="/images/demo.png", alt="DART app's logo screen;")
                  .slide-holder 
                      //- p 2 
                      img(src="/images/demo2.png", alt="Puzzle match minigame")
                  .slide-holder 
                      //- p 3 
                      img(src="/images/demo3.png", alt="Cryptogram complete the sentence minigame")
                  .slide-holder 
                      //- p 4
                      img(src="/images/demo4.png", alt="Dot connect wordfinder minigame")
          //- show phone demo above rather then besides for tablet
          .tablet.only.row 
            img(src="/images/phone-bg.png", alt="Phone screen" style="width: 250px;height:450px;position: absolute;top:3.8px;left:33.5%;z-index:100;pointer-events:none;")
            .ui.container
              .single-item(style="width: 225px; margin: 0 auto;")
                .slide-holder
                    //- p 1 
                    img(src="/images/demo.png", alt="DART app's logo screen;")
                .slide-holder 
                    //- p 2 
                    img(src="/images/demo2.png", alt="Puzzle match minigame")
                .slide-holder 
                    //- p 3 
                    img(src="/images/demo3.png", alt="Cryptogram complete the sentence minigame")
                .slide-holder 
                    //- p 4
                    img(src="/images/demo4.png", alt="Dot connect wordfinder minigame")
          .mobile.only.row.hide-small-phone
            .mobile-demo-container(style="width: 30%; height: 30%;")
            img(src="/images/phone-bg.png", alt="Phone screen" style="width: 250px;height:450px;position: absolute;top:-12px;left:32%;z-index:100;pointer-events:none;")
            .ui.container
              .single-item(style="width: 225px; margin: 0 auto;")
                .slide-holder
                    //- p 1 
                    img(src="/images/demo.png", alt="DART app's logo screen;")
                .slide-holder 
                    //- p 2 
                    img(src="/images/demo2.png", alt="Puzzle match minigame")
                .slide-holder 
                    //- p 3 
                    img(src="/images/demo3.png", alt="Cryptogram complete the sentence minigame")
                .slide-holder 
                    //- p 4
                    img(src="/images/demo4.png", alt="Dot connect wordfinder minigame")
              br
          .sixteen.wide.mobile.only.sixteen.wide.tablet.only.twelve.wide.computer.only.column(style="margin: 0; padding: 0; display: flex; align-items: center;")
            .text-container(style="display: block; margin-left: 50px;")
              h2 Get our companion app: Deepcover
              p Discover your inner detective as you go on missions to take down rogue agent Walter FANG and his sneaky organization, SCAMM. Play minigames set across the globe, from the lively streets of New York to charming Tokyo.
              p Deepcover reinforces the concepts from DART Learn, helping you solidify your knowledge while having a great time!
              p Start your Deepcover adventure today, available on Google Play and the Apple App Store!
              a(href="https://apps.apple.com/us/app/deepcover/id6468587995", target="_blank", rel="noreferrer noopener" style="margin-right: 25px;")
                img(src="/images/download-app-store.svg", alt="Download on App Store", style="width: 200px; height: auto;")
              a(href="https://play.google.com/store/apps/details?id=com.whitethorngames.dartgame&hl=en_US&gl=US", target="_blank", rel="noreferrer noopener")
                img(src="/images/download-google-play.svg", alt="Download on Google Play", style="width: 200px; height: auto;")

        //- img(src="/images/sponsors/sponsors.png" alt="Image description" style="width: 100%;")
    .row(style="background-color: white;")
      .ui.container(style="padding-top: 2vh; padding-bottom: 2vh; background-color: white;")
        h2.ui.header#sponsors Sponsors
        br
        .ui.grid
          .four.wide.column.center.aligned
            a(href="https://www.buffalo.edu/" target="_blank")
              img(src="/images/sponsors/UniBuffaloLogo.svg" alt="Image description" style="width: 100%;")
          .four.wide.column.center.aligned
            a(href="https://illinois.edu/" target="_blank")
              img(src="/images/sponsors/UniIllinoisLogo.png" alt="Image description" style="width: 100%;")
          .four.wide.column.center.aligned
            a(href="https://www.clemson.edu/" target="_blank")
              img(src="/images/sponsors/ClemsonUniLogo.png" alt="Image description" style="width: 100%;")
          .four.wide.column.center.aligned
            a(href="https://www.clemson.edu/centers-institutes/aging/" target="_blank")
              img(src="/images/sponsors/InstituteforEngagedAgingLogo.png" alt="Image description" style="width: 100%;")
          .three.wide.column.center.aligned
            a(href="https://whitethorngames.com/" target="_blank")
              img(src="/images/sponsors/WhitethornGamesLogo.png" alt="Image description" style="width: 100%;")
          .three.wide.column.center.aligned
            a(href="https://www.amherstcenterforseniorservices.com/" target="_blank")
              img(src="/images/sponsors/AmherstLogo_enhanced.png" alt="Image description" style="width: 100%;")
          .four.wide.column.center.aligned
            a(href="https://www.cornell.edu/" target="_blank")
              img(src="/images/sponsors/CornellUniLogo.png" alt="Image description" style="width: 100%;")
          .three.wide.column.center.aligned
            a(href="https://socialmediatestdrive.org/" target="_blank")
              img(src="/images/sponsors/testDriveLogo.svg" alt="Image description" style="width: 100%;")
          .three.wide.column.center.aligned
            a(href="https://www.nsf.gov/" target="_blank")
              img(src="/images/sponsors/NaturalSciFoundLogo.svg" alt="Image description" style="width: 100%;")



        //- p(style="padding-top:30px") To stay up-to-date on the latest scam cases and keep track of what you're learning, click the button below to create an account.
        //- .ui.basic.segment(style="text-align: center; margin-top: -15px;")
        //-   button.ui.huge.blue.button#sign-up-button(onclick="location.href='/createStudent';")
        //-     | Sign Up Now
        //-     i.arrow.right.icon
        br
  button#scrollToTop.ui.massive.blue.icon.button(onclick="window.scrollTo(0,0);")
      i.arrow.up.icon
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
  script(src='/js/header-transition.js')
  script.
      $(document).ready(function(){
          $('.message .close')
            .on('click', function() {
              $(this)
                .closest('.message')
                .transition('fade')
             ;
          })


           //- for app demo slider
          $('.single-item').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: false,
              arrows: false,
              infinite: true,
              autoplay: true,
              autoplaySpeed: 3000 // milliseconds
          });

          //- For popular courses slider
          /* Referenced Source: https://codepen.io/dannyarty/pen/JjKrPOL */
          //- $('.slider').slick({
          //-   slidesToShow: 3,
          //-   slidesToScroll: 1,
          //-   zIndex: 1,
          //-   accessibility: true,
          //-   arrows: true,
          //-   dots: false,
          //-   centerMode: true,
          //-   variableWidth: true,
          //-   infinite: true,
          //-   focusOnSelect: true,
          //-   cssEase: 'linear',
          //-   touchMove: true,
          //-   prevArrow:'<button class="slick-prev"> < </button>',
          //-   nextArrow:'<button class="slick-next"> > </button>',
          //-   responsive: [                        
          //-       {
          //-         breakpoint: 576,
          //-         settings: {
          //-           centerMode: false,
          //-           variableWidth: false,
          //-         }
          //-       },
          //-   ]
          //-   });
      });

                      
block styles
  link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css')
  //- link(rel='stylesheet', href='/css/mods.css')
  link(rel='stylesheet', href='/css/home.css')
