extends ui_layout

block content
  .ui.sixteen.wide.column
      
    .row.centerText.newDashboardSection
      h2 
        i.trophy.icon
        |  My Learning Achievement
    .ui.divider
    .ui.stackable.two.column.grid.removeMargins
      .column.completionChartColumn
        .ui.basic.segment.center.aligned
          div.customChartLabelText
          .ui.image
            canvas#moduleCompletionCount(width='350' height='350')
      .column
        .ui.basic.segment
          h3(style="text-align:center;") My badges
          .ui.items#badgeItems
            .item
              .ui.tiny.image
                img(src='picture.svg')
              .content.middle.aligned
                p Detective of scams & phishing
            .item
              .ui.tiny.image
                img(src='picture.svg')
              .content.middle.aligned
                p Protector of private information
            .item
              .ui.tiny.image
                img(src='picture.svg')
              .content.middle.aligned
                p Upstander to cyberbullying
            .item
              .ui.tiny.image
                img(src='picture.svg')
              .content.middle.aligned
                p Detective of scams & phishing
            .item
              .ui.tiny.image
                img(src='picture.svg')
              .content.middle.aligned
                p Protector of private information
            .item
              .ui.tiny.image
                img(src='picture.svg')
              .content.middle.aligned
                p Upstander to cyberbullying
          
      
    .row.centerText.newDashboardSection
      h2 
        i.compass.outline.icon
        |  Learning Map
    .ui.divider
    .ui.basic.segment
      table.ui.table#learningMapTable
        tbody
          tr
            td.rightBorder.right.aligned.yAxisLabel(data-label='Topic') Privacy
            td.center.aligned(data-label='Basic') 
              .container(data-mapTableMod="phishing")
                .ui.segment
                  h3 Scams & Phishing
            td.center.aligned(data-label='Intermediate') 
              .container(data-mapTableMod="targeted")
                .ui.segment
                  h3 Ads on Social Media
            td.center.aligned(data-label='Advanced')
              .container(data-mapTableMod="privacy")
                .ui.segment
                  h3 Social Media Privacy
          tr
            td.collapsing.rightBorder.right.aligned.yAxisLabel(data-label='Name') Digital Footprint
            td.center.aligned(data-label='Basic')
              .container(data-mapTableMod="accounts")
                .ui.segment
                  h3 Accounts & Passwords
            td.center.aligned(data-label='Intermediate')
            td.center.aligned(data-label='Advanced')
              .container(data-mapTableMod="digfoot")
                .ui.segment
                  h3 Shaping your Digital Footprint
          tr
            td.rightBorder.right.aligned.bottom.aligned.yAxisLabel(data-label='Name') Relationships
            td.center.aligned(data-label='Basic') 
              .container(data-mapTableMod="presentation")
                .ui.segment
                  h3 Online Identities
            td.center.aligned(data-label='Intermediate') 
              .container(data-mapTableMod="esteem")
                .ui.segment
                  h3 The Ups and Downs of Social Media
            td.center.aligned(data-label='Advanced') 
          tr
            td.rightBorder.right.aligned.yAxisLabel(data-label='Name') 
            td.center.aligned(data-label='Basic') 
              .container(data-mapTableMod="safeposting")
                .ui.segment
                  h3 Is It Private Information?
            td.center.aligned(data-label='Intermediate') 
              .container(data-mapTableMod="cyberbullying")
                .ui.segment
                  h3 How to Be an Upstander
            td.center.aligned(data-label='Advanced') 
              .container(data-mapTableMod="habits")
                .ui.segment
                  h3 Healthy Social Media Habits
          tr
            td.rightBorder.right.aligned.yAxisLabel(data-label='Name') News Literacy
            td.center.aligned(data-label='Basic') 
              .container(data-mapTableMod="digitalliteracy")
                .ui.segment
                  h3 News on Social Media
            td.center.aligned(data-label='Intermediate') 
            td.center.aligned(data-label='Advanced') 
              .container(data-mapTableMod="advancedlit")
                .ui.segment.middle.aligned
                  h3 Responding to Breaking News!
          tr
            td.collapsing.xAxisLabel(data-label='Name') 
            td.center.aligned.topBorder.xAxisLabel(data-label='Basic') Basic
            td.center.aligned.topBorder.xAxisLabel(data-label='Intermediate') Intermediate
            td.center.aligned.topBorder.xAxisLabel(data-label='Advanced') Advanced
    .row.centerText.newDashboardSection
      h2 
        i.hourglass.outline.icon
        |  Module Completion
    .ui.divider
    .ui.stackable.two.column.grid.removeMargins
      .column#moduleProgressColumn
        .ui.items
          .item(data-itemModuleName="accounts")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              .header
                h4 Accounts and Passwords
              .description
                p
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="esteem")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 The Ups and Downs of Social Media
              .description
                p
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="advancedlit")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 Responding to Breaking News!
              .description
                p
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="habits")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 Healthy Social Media Habits
              .description
                p
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="targeted")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 Ads on Social Media
              .description
                p 
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="phishing")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 Scams and Phishing
              .description
                p
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="cyberbullying")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 How to Be an Upstander
              .description
                p 
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="safe-posting")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 Is It Private Information?
              .description
                p 
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="digfoot")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 Shaping Your Digital Footprint
              .description
                p 
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="presentation")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 Online Identities
              .description
                p
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="privacy")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 Social Media Privacy
              .description
                p 
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
          .ui.divider
          .item(data-itemModuleName="digital-literacy")
            .ui.center.aligned.basic.segment.moduleProgressCustomIcon
            .middle.aligned.content
              header
                h4 News in Social Media
              .description
                p 
              .extra
                .ui.right.floated.button.testDriveBlueButton.refreshModuleCompletion See Details
      .column.hideModuleDetails#moduleDetailsColumn
        .ui.top.attached.tabular.menu.moduleCompletionTabs
          a.active.item(data-tab='time_spent') Time Spent
          a.item(data-tab='timeline_actions') Timeline Actions
          a.item(data-tab='reflection') Reflection
        .ui.active.tab.bottom.attached.segment(data-tab='time_spent')
          .ui.stackable.two.column.grid.middle.aligned
            .column
              .ui.basic.segment.center.aligned(style="padding:0;")
                canvas#moduleTimePieChart(width="200" height="200" style="width:100%;height:100%;")
            .column
              .ui.basic.segment.left.aligned
                p 
                  | In the module&nbsp
                  span.emphasizedText.setModName (module name goes here)
                p 
                  | You spent&nbsp
                  span.emphasizedText#setTotalTime 0
                  | &nbsp minutes in total  
                  //- | (class average: 
                  //- span#setClassAvgTime ???
                  //- | &nbsp minutes)
                p 
                  | Learn:&nbsp
                  span.emphasizedText#setSection0Time 0 
                  | &nbspmin
                  br
                  | Practice:&nbsp
                  span.emphasizedText#setSection1Time 0  
                  | &nbspmin
                  br
                  | Explore:&nbsp
                  span.emphasizedText#setSection2Time 0  
                  | &nbspmin
                  br
                  | Reflect:&nbsp
                  span.emphasizedText#setSection3Time 0  
                  | &nbspmin
                  
        .ui.tab.bottom.attached.segment(data-tab='timeline_actions')
          .ui.basic.segment
            p 
              | In the module&nbsp
              span.emphasizedText.setModName (module name goes here)
            p Here are your actions in the timeline:
            p
              i.big.heart.icon
              | &nbsp&nbsp&nbspYou liked 
              span.emphasizedText#setLikeCount 0
              | &nbspposts
            p
              i.big.flag.icon
              | &nbsp&nbsp&nbspYou flagged 
              span.emphasizedText#setFlagCount 0
              | &nbspposts
            p
              i.big.reply.icon
              | &nbsp&nbsp&nbspYou wrote 
              span.emphasizedText#setReplyCount 0
              | &nbspreplies
        .ui.tab.bottom.attached.segment(data-tab='reflection')
          p 
            | In the module&nbsp
            span.emphasizedText.setModName (module name goes here)
          table.ui.celled.table
            thead
              tr 
                th 
                th Your Actions
                th Recommended Actions
            tbody
              tr.positive
                td Q1
                td I flagged the post
                td I flagged the post
              tr.negative
                td Q2
                td I liked the post
                td I flagged the post
              tr
                td Open Q1
                td This module is helpful...
                td NA
            
              
    .row(style="padding-bottom:7em;")
      
  
block scripts
  script(src="/user_portal/learnerDashboard.js")
  script(src=cdn+'/js/lib/Chart.js')
block styles
  link(rel='stylesheet', href='/css/learnerDashboard.css')
