extends ui_layout

block content
  .ui.sixteen.wide.column
      
    .row.centerText.newDashboardSection
      h2 
        i.trophy.icon
        |  My Learning Achievement
    .ui.divider
    .ui.stackable.two.column.grid.removeMargins
      .column
        .ui.placeholder.segment.center.aligned(style="min-height:100%;")
          h3 The pie chart for number of completed modules will go here
      .column
        .ui.basic.segment
          h3(style="text-align:center;") My badges
          .ui.items
            .item
              .ui.tiny.image
                img(src='picture.svg')
              .content.middle.aligned
                p Detective of scams & phishing
            .item
              .ui.tiny.image
                img(src='picture.svg')
              .content.middle.aligned
                p Protector of private information
            .item
              .ui.tiny.image
                img(src='picture.svg')
              .content.middle.aligned
                p Upstander to cyberbullying
          
      
    .row.centerText.newDashboardSection
      h2 
        i.compass.outline.icon
        |  Learning Map
    .ui.divider
    .ui.basic.segment
      table.ui.table#learningMapTable
        tbody
          tr
            td.rightBorder.right.aligned.yAxisLabel(data-label='Topic') Privacy
            td.center.aligned(data-label='Basic') 
              .container(data-mapTableMod="phishing")
                .ui.segment
                  h3 Scams & Phishing
            td.center.aligned(data-label='Intermediate') 
              .container(data-mapTableMod="targeted")
                .ui.segment
                  h3 Ads on Social Media
            td.center.aligned(data-label='Advanced')
              .container(data-mapTableMod="privacy")
                .ui.segment
                  h3 Social Media Privacy
          tr
            td.collapsing.rightBorder.right.aligned.yAxisLabel(data-label='Name') Digital Footprint
            td.center.aligned(data-label='Basic')
              .container(data-mapTableMod="accounts")
                .ui.segment
                  h3 Accounts & Passwords
            td.center.aligned(data-label='Intermediate')
            td.center.aligned(data-label='Advanced')
              .container(data-mapTableMod="digfoot")
                .ui.segment
                  h3 Shaping your Digital Footprint
          tr
            td.rightBorder.right.aligned.yAxisLabel(data-label='Name') Relationships
            td.center.aligned(data-label='Basic') 
              .container(data-mapTableMod="safeposting")
                .ui.segment
                  h3 Is It Private Information?
            td.center.aligned(data-label='Intermediate') 
              .container(data-mapTableMod="cyberbullying")
                .ui.segment
                  h3 How to Be an Upstander
            td.center.aligned(data-label='Advanced') 
              .container(data-mapTableMod="habits")
                .ui.segment
                  h3 Healthy Social Media Habits
          tr
            td.rightBorder.right.aligned.yAxisLabel(data-label='Name') News Literacy
            td.center.aligned(data-label='Basic') 
              .container(data-mapTableMod="digitalliteracy")
                .ui.segment
                  h3 News on Social Media
            td.center.aligned(data-label='Intermediate') 
            td.center.aligned(data-label='Advanced') 
              .container(data-mapTableMod="advancedlit")
                .ui.segment.middle.aligned
                  h3 Responding to Breaking News!
                i.large.circular.icon.trophy
          tr
            td.collapsing.xAxisLabel(data-label='Name') 
            td.center.aligned.topBorder.xAxisLabel(data-label='Basic') Basic
            td.center.aligned.topBorder.xAxisLabel(data-label='Intermediate') Intermediate
            td.center.aligned.topBorder.xAxisLabel(data-label='Advanced') Advanced
    .row.centerText.newDashboardSection
      h2 
        i.hourglass.outline.icon
        |  Module Completion
    .ui.divider
    .ui.stackable.two.column.grid.removeMargins
      .column
        .ui.items
          .item
            .ui.image
              canvas(id='percentage_phishing' width='150' height='100')
            .middle.aligned.content
              .header
                h4 Scams & Phishing
              .description
                p Last accessed yesterday
              .extra
                .ui.right.floated.button See Details
          .ui.divider
          .item
            .ui.image
              canvas(id='percentage_privacy' width='150' height='100')
            .middle.aligned.content
              header
                h4 Social Media Privacy
              .description
                p Last accessed 2 days ago
              .extra
                .ui.right.floated.button See Details
          .ui.divider
          .item
            .ui.image
              canvas(id='percentage_digitalliteracy' width='150' height='100')
            .middle.aligned.content
              header
                h4 News on Social Media
              .description
                p Last accessed 3 days ago
              .extra
                .ui.right.floated.button See Details
          .ui.divider
          .item
            .ui.image
              canvas(id='percentage_targeted' width='150' height='100')
            .middle.aligned.content
              header
                h4 Ads on Social Media
              .description
                p Last accessed 1 week ago
              .extra
                .ui.right.floated.button See Details
      .column
        .ui.top.attached.tabular.menu.moduleCompletionTabs
          a.active.item(data-tab='time_spent') Time Spent
          a.item(data-tab='timeline_actions') Timeline Actions
          a.item(data-tab='reflection') Reflection
        .ui.active.tab.bottom.attached.segment(data-tab='time_spent')
          .ui.stackable.two.column.grid.middle.aligned
            .column
              .ui.placeholder.segment.center.aligned
                p The pie chart for time spent will go here
            .column
              .ui.basic.segment.left.aligned
                p 
                  | In the module&nbsp
                  span.emphasizedText.setModName (module name goes here)
                p 
                  | You spent&nbsp
                  span.emphasizedText#setTotalTime 40
                  | &nbsp minutes in total  
                  | (class average: 
                  span#setClassAvgTime 30
                  | &nbsp minutes)
                p 
                  | Learn:&nbsp
                  span.emphasizedText#setLearnTime 10 
                  | &nbspmin
                  br
                  | Practice:&nbsp
                  span.emphasizedText#setLearnTime 8  
                  | &nbspmin
                  br
                  | Explore:&nbsp
                  span.emphasizedText#setLearnTime 20  
                  | &nbspmin
                  br
                  | Reflect:&nbsp
                  span.emphasizedText#setLearnTime 2  
                  | &nbspmin
                  
        .ui.tab.bottom.attached.segment(data-tab='timeline_actions')
          .ui.basic.segment
            p 
              | In the module&nbsp
              span.emphasizedText.setModName (module name goes here)
            p Here are your actions in the timeline:
            p
              i.big.heart.icon
              | &nbsp&nbsp&nbspYou liked 
              span.emphasizedText#setLikeCount 12
              | &nbspposts
            p
              i.big.flag.icon
              | &nbsp&nbsp&nbspYou flagged 
              span.emphasizedText#setFlagCount 2
              | &nbspposts
            p
              i.big.reply.icon
              | &nbsp&nbsp&nbspYou wrote 
              span.emphasizedText#setReplyCount 10
              | &nbspreplies
        .ui.tab.bottom.attached.segment(data-tab='reflection')
          p 
            | In the module&nbsp
            span.emphasizedText.setModName (module name goes here)
          table.ui.celled.table
            thead
              tr 
                th 
                th Your Actions
                th Recommended Actions
            tbody
              tr.positive
                td Q1
                td I flagged the post
                td I flagged the post
              tr.negative
                td Q2
                td I liked the post
                td I flagged the post
              tr
                td Open Q1
                td This module is helpful...
                td NA
            
              
    .row(style="padding-bottom:7em;")
      
  
block scripts
  script(src="/user_portal/learnerDashboard.js")
  
block styles
  link(rel='stylesheet', href='/css/learnerDashboard.css')
