extends ui_layout

block content
  .ui.sixteen.wide.column
      
    .row.centerText
      h2 
        i.trophy.icon
        |  My Learning Achievement
    .ui.divider
    .ui.placeholder.segment
      h4.centerText The badges will go here
      
    .row.centerText
      h2 
        i.compass.outline.icon
        |  Learning Map
    .ui.divider
    .ui.basic.segment
      table.ui.table#learningMapTable
        tbody
          tr
            td.rightBorder.right.aligned.yAxisLabel(data-label='Topic') Privacy
            td.center.aligned(data-label='Basic') 
              .container
                .ui.segment
                  h3 Scams & Phishing
                i.large.white.circular.icon.trophy
            td.center.aligned(data-label='Intermediate') 
              .container
                .ui.segment
                  h3 Ads on Social Media
                i.large.white.circular.icon.trophy
            td.center.aligned(data-label='Advanced')
              .container
                .ui.segment
                  h3 Social Media Privacy
                i.large.white.circular.icon.trophy
          tr
            td.collapsing.rightBorder.right.aligned.yAxisLabel(data-label='Name') Digital Footprint
            td.center.aligned(data-label='Basic')
              .container
                .ui.segment
                  h3 Accounts & Passwords
            td.center.aligned(data-label='Intermediate')
            td.center.aligned(data-label='Advanced')
              .container
                .ui.segment
                  h3 Shaping your Digital Footprint
                i.large.white.circular.icon.trophy
          tr
            td.rightBorder.right.aligned.yAxisLabel(data-label='Name') Relationships
            td.center.aligned(data-label='Basic') 
              .container
                .ui.segment
                  h3 Is It Private Information?
            td.center.aligned(data-label='Intermediate') 
              .container
                .ui.segment
                  h3 How to Be an Upstander
                i.large.white.circular.icon.trophy
            td.center.aligned(data-label='Advanced') 
              .container
                .ui.segment
                  h3 Healthy Social Media Habits
          tr
            td.rightBorder.right.aligned.yAxisLabel(data-label='Name') News Literacy
            td.center.aligned(data-label='Basic') 
              .container
                .ui.segment
                  h3 News on Social Media
            td.center.aligned(data-label='Intermediate') 
            td.center.aligned(data-label='Advanced') 
              .container
                .ui.segment.middle.aligned
                  h3 Responding to Breaking News!
                i.large.circular.icon.trophy
          tr
            td.collapsing.xAxisLabel(data-label='Name') 
            td.center.aligned.topBorder.xAxisLabel(data-label='Basic') Basic
            td.center.aligned.topBorder.xAxisLabel(data-label='Intermediate') Intermediate
            td.center.aligned.topBorder.xAxisLabel(data-label='Advanced') Advanced
    .row.centerText
      h2 
        i.hourglass.outline.icon
        |  Module Completion
    .ui.divider
    .ui.placeholder.segment
      h4.centerText The status of each module will go here    
    
block styles
  link(rel='stylesheet', href='/css/learnerDashboard.css')
