extends ui_layout

block content

  .ui.text.container
    br
    h2 The Power of Likes Post-Activity Quiz
    form#pres_post.ui.reply.form(action='/postquiz/likes', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .ui.form
        .grouped.fields
          label(for='selfie_post') Matt gets 200 likes for his selfie, but Ryan gets 100. What does this mean about Matt and Ryan?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='selfie_post', tabindex='0', value='0')
            label It says that Matt is twice as cool as Ryan is.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='selfie_post', tabindex='0', value='1')
            label It doesn't say anything about how Matt and Ryan are different.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='selfie_post',  tabindex='0', value='0')
            label It says that Matt has twice as many friends as Ryan does.
        .grouped.fields
          label(for='friend_post') Your friend posted a photo yesterday that got 20 positive comments, but the post you made today only got 5 comments. What does this say about their post?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friend_post', tabindex='0', value='1')
            label It doesn't say anything about them - fewer people probably saw the post today than yesterday.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friend_post', tabindex='0', value='0')
            label It means they post things that aren't cool, and you should stop being friends with them.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friend_post', tabindex='0', value='0')
            label It means that everyone else is mis
        .grouped.fields
          label(for='boring_post') What's a good reason to not like someone's photo on social media?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='boring_post', tabindex='0', value='0')
            label When you don't like what the post is about.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='boring_post', tabindex='0', value='0')
            label When you don't know the person who posted it.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='boring_post', tabindex='0', value='1')
            label Both of the above.
          br
        h2 Just a few more questions... There are no right or wrong answers here!
        .grouped.fields
          label(for='like') How much did you like this activity?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='1')
            label I didn't like it at all.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='2')
            label Not very much, but it wasn't awful.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='3')
            label A little bit, it was neither good nor bad.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='4')
            label Some - it was good but not amazing.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='like', tabindex='0', value='5')
            label A lot - it was awesome!
        .grouped.fields
          label(for='friends') Would you recommend this activity to your friends?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friends', tabindex='0', value='1')
            label No, not at all.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friends', tabindex='0', value='2')
            label Maybe.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='friends', tabindex='0', value='3')
            label Yes, I would!
        .grouped.fields
          label(for='length') What did you think of the length of the activity?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='length', tabindex='0', value='1')
            label It was too short.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='length', tabindex='0', value='2')
            label It was just the right length.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='length', tabindex='0', value='3')
            label It was too long.
        .grouped.fields
          label(for='understand') Do you think you understand the power of likes better after completing the activity?
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='understand', tabindex='0', value='1')
            label Yes, I understand the issues better.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='understand', tabindex='0', value='2')
            label I'm not sure.
        .field
          .ui.radio.checkbox
            input.hidden(type='radio', name='understand', tabindex='0', value='3')
            label No, I didn't learn anything.
        button.ui.button(type='submit') Submit
      br
      br
      br
