extends ui_layout
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var path = isResearchVersion ? 'intro' : 'guest';
  
  .ui.container(style="padding:0;")
    br
    h2 Pick a Module
    br
    .ui.four.stackable.link.cards(style="padding-bottom:4em;")
            
        a.ui.card(href=`/${path}/cyberbullying`)
          .image
            img(src=cdn+'/upstander.png')
          .content
            .header="How to Be an Upstander"
            
        
            
       
       
