extends ui_layout
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var path = isResearchVersion ? 'intro' : 'guest';
  -var moduleOrder = ["accounts", "esteem", "advancedlit", "habits", "targeted", "phishing", "cyberbullying", "safe-posting", "digfoot", "presentation", "privacy", "digital-literacy"];

  .ui.container.removePadding
    if user.isStudent
      .ui.success.huge.icon.message.noModsRemainingMessage.setDisplayNone
        i.circular.check.icon
        .header There are no remaining steps to complete. Nice work!
      .ui.basic.segment.activeModuleSegment
        h2 Next Steps
        .ui.four.doubling.stackable.link.cards.activeModules.addPaddingBottom
      .ui.basic.segment.inactiveModulesSegment  
        h2.setVisibilityHidden Completed
        .ui.four.doubling.stackable.link.cards.inactiveModules.addPaddingBottom
    else
      br
      h2 Pick a Module
      br
      .ui.four.stackable.link.cards(style="padding-bottom:4em;")
        each module in moduleOrder
          a.ui.card(href=`/${path}/${module}`)
            .image
              //- .ui.blue.ribbon.label NEW!
              img(src=cdn+'/'+moduleData[module]["image"])
            .content 
              .header=moduleData[module]["title"]

block scripts
  script(src="/module_js/mods.js")

block styles
  link(rel='stylesheet', href='/css/mods.css')