extends ui_layout

block content
  h2 Pick a Lesson Plan
  br

  .ui.three.stackable.link.cards
      a.ui.card(href='/prequiz/presentation')
        .image
          img(src='/present.png')
        .content
          .header="Safe Posting and Self-Representation"
      a.ui.card(href='/')
        .image
          img(src='/construction.jpg')
        .content
          .header="Cyberbullying"
      a.ui.card(href='/')
        .image
          img(src='/construction.jpg')
        .content
          .header="Digital Literacy Information"
