extends ui_layout
block content
  -var path = isResearchVersion ? 'intro' : 'guest';
  .ui.container
    h2.mt-5.mb-5 Pick a Module
    .ui.four.stackable.link.cards(style="margin-bottom:4em;")
      each moduleInfo, moduleKey in modData 
        a.ui.card(href=`/${path}/${moduleKey}`)
          .image 
            //- .ui.blue.ribbon.label NEW!
            img(src=cdn+"/"+moduleInfo["image"])
          .content
            .header=moduleInfo["title"]