extends ui_layout

block content
  h2 Pick a Lesson Plan
  br

  .ui.three.stackable.link.cards
      a.ui.card(href='/prequiz/presentation')
        .image
          img(src='/present.png')
        .content
          .header="Safe Posting and Self-Presentation"
      a.ui.card(href='/prequiz/cyberbullying')
        .image
          img(src='/cyberbullying.jpg')
        .content
          .header="Cyberbullying"
      a.ui.card(href='/prequiz/digital_literacy')
        .image
          img(src='/digital_literacy.png')
        .content
          .header="Digital Literacy Information"
      a.ui.card(href='/prequiz/likes')
        .image
          img(src='/likes.jpg')
        .content
          .header="The Power of Likes"
