extends ui_layout

block content

  .ui.text.container
    br
    h2 Safe Self-Presentation Pre-Activity Quiz
    form#pres_pre.ui.reply.form(action='/prequiz/presentation', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .ui.form
          .grouped.fields
            label(for='phone_pre') You have your phone out when your friend trips in the hallway. Do you...
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='phone_pre',  tabindex='0', value='0')
              label Take a picture and post so everyone can see.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='phone_pre', tabindex='0', value='0')
              label Text your friends because they'll think it's funny.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='phone_pre', tabindex='0', value='1')
              label Neither, I don't want to embarrass my friend.
          .grouped.fields
            label(for='disclose_pre') Tyler wants to give his friend Drew his home address so Drew can send him a gift. Where should Tyler share his address?
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='disclose_pre', tabindex='0', value='1')
              label He should send it to Drew in a text message.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='disclose_pre', tabindex='0', value='0')
              label He should update his Facebook profile to make sure his full address is visible.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='disclose_pre', tabindex='0', value='0')
              label He should take a photo of his mailbox and street sign and post them where everyone can see.
          .grouped.fields
            label(for='picture_pre') Jen's friend posted a picture of her online. She thinks the picture is embarrassing and she doesn't want anyone to see it. She should...
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='picture_pre', tabindex='0', value='0')
              label Pretend nothing happened - it will go away eventually.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='picture_pre', tabindex='0', value='1')
              label Tell her friend to delete it, because it makes her uncomfortable.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='picture_pre', tabindex='0', value='0')
              label Post an embarrassing picture of her as payback.
          .grouped.fields
            label(for='lie_pre') Miles lied about his age and location on his social media profile to seem cool. Did he do anything wrong?
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='lie_pre', tabindex='0', value='0')
              label No, it doesn't matter whether information on social media is true or not.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='lie_pre', tabindex='0', value='0')
              label No, he wanted to present his best self online and it's okay to share fake information to do that.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='lie_pre', tabindex='0', value='1')
              label Yes, he should try to balance presenting his best self with being truthful.
          .grouped.fields
            label(for='complain_pre') Gina and her friends say mean things about their teachers and parents on social media sites that the adults don't go on. Are Gina's conversations private?
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='complain_pre', tabindex='0', value='1')
              label No, because someone could take a screenshot or show a mean conversation to someone else.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='complain_pre', tabindex='0', value='0')
              label Yes, because Gina kept the conversation between her and her friends.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='complain_pre', tabindex='0', value='0')
              label Yes, because the things you say on social media disappear after you send them.
          h3 Just one more question... there are no right or wrong answers to this one!
          .grouped.fields
            label(for="use") Do you have an account on any social media sites?
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='use', tabindex='0', value='1')
              label Yes.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='use', tabindex='0', value='0')
              label No.
          .field
            .ui.radio.checkbox
              input.hidden(type='radio', name='use', tabindex='0', value='0')
              label I'm not sure.

          br
          button.ui.button(type='submit') Submit
    br
    br
    br