extends ui_layout

block content

  .ui.text.container
    br
    h2 Safe Posting and Self-Representation
    
    .ui.form
      .field
        label What are some safe online behaviors?
        textarea(rows='2')
      .field
        label What does being safe online look like?
        textarea(rows='3')

    .ui.big.green.labeled.icon.button.prepres
        i.rocket.icon
        |   Got it!
    br
    br
    br