extends ui_layout

block content
  .ui.container
    h2 Quiz Results
    br
    h3="You scored "+(pre.score || 0)+" out of "+(total || 0)+" in your Pre Quiz and "+(post.score || 0)+" out of "+(total || 0)+" in your Post Quiz"
    br
    br
    .ui.big.green.labeled.icon.button.finish_lesson
        i.rocket.icon
        |   Finish!