extends ui_layout

block content

  .ui.sixteen.wide.row 
    .ui.sixteen.wide.column(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
     .ui.fluid.card.dim(style = "margin-top:0px;margin-bottom:0px; ")
      .gradientdiv
       .login-box(style="margin:auto !important;margin-top:30px !important")
        h2.ui.header(style="text-align: left !important; margin:5px 0px; font-family:'Noto Sans', sans-serif;") Welcome back!
        form.ui.form(action="/studentLogin", method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          .field
            span(style="font-size: 17px; font-family:'Arial', Serif;") Please enter your details
            label(for='username' style="margin-top:15px; font-size:larger;") Email:
            input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='text', name='username', id='username', placeholder='Email', required).field
            label(for='password' style="font-size:larger;") Password:
            input(style="width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='password', name='password', id='password', placeholder='Password', required).field

          div.checkbox-container(style="display: flex; justify-content: space-between;")
            a.forgot(href='forgotPassword', style="margin: 0px 0 10px 0; text-align: right;") Forgot Password?
          button.ui.big.blue.button(type='submit', style="font-family:'Noto Sans', sans-serif; height:46.28px; border-radius: 17px; width: 100%; margin: 0px 0 0 0;") Log In
          img(style='margin-top:5px; z-index: 0;' src="/profile_pictures/or_divider.png")
          a.ui.button.big.white(href="/getGuest", style="font-family:'Noto Sans', sans-serif; height:46.28px; border-radius: 17px; margin: 0px 0 0 0; padding:14.1429px !important; display: block; width: 100%; background-color: #fff; border: 1px solid #2884d4; text-align: center;")  
                span
                  img(src='/profile_pictures/avatar-icon.svg', alt="Google logo", style="height:20px; vertical-align: middle; margin-right: 10px;")
                  span( style="vertical-align: middle;") Sign In As Guest

          
          img(style='margin-top:5px; z-index: 0;' src="/profile_pictures/or_divider.png")

          form
            input(type='hidden', name='_csrf', value=csrfToken)              
            a.ui.button.big.white(href='/auth', style="font-family:'Noto Sans', sans-serif; height:46.28px; border-radius: 17px; padding:14.1429px !important; display: block; width: 100%; background-color: #fff; border: 1px solid #2884d4; text-align: center; padding: 10px;")   
              span
                img(src='/profile_pictures/g-logo.png', alt="Google logo", style="height:20px; vertical-align: middle; margin-right: 10px;")
                span( style="vertical-align: middle;") Sign In With Google
          img(style='margin-top:5px; z-index: 0;' src="/profile_pictures/or_divider.png")

          a.ui.button.big.green(href="/createStudent", style="font-family:'Noto Sans', sans-serif; height:46.28px; border-radius: 17px; padding:14.1429px !important; display: block; width: 100%; border: 1px solid #2884d4; text-align: center; padding: 10px; ")  Sign Up
              
block styles
  style.
    .login-box {
    }
    @media (max-width: 600px) {
      .login-box {
        margin-top: -35px;
      }
    }
block scripts
  
  link(rel='stylesheet', href='/css/style.css')
  script(src='/module_js/base_end.js')
  script(src='https://kit.fontawesome.com/585fda3aab.js' crossorigin='anonymous')
  script.
    function openFeedback(){
      window.open(href='https://cornell.qualtrics.com/jfe/form/SV_9tMszwlpe1TIIxT');
    };
    function toPrivacyFreePlay(){       
      window.location.href='/free-play/privacy';
    };
    

block styles
  link(rel='stylesheet', href='/css/login.css')
  style(type='text/css').
    .gradientdiv {
      height: 75vh; /* adjust this to the height you want */
      background: linear-gradient(to bottom, #2884d4 0%, black 100%);
    }