extends ui_layout

block content
  .ui.sixteen.wide.row 
    .ui.sixteen.wide.column(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
      .login-box
        h2.ui.header(style="text-align: left !important; margin:5px 0px") Welcome Back!

        form.ui.form(action="/studentLogin", method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          .field
            label(for='username' style="font-size:larger;") Username
            input(style="margin:5px 0px; width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='text', name='username', id='username', placeholder='Username', required).field
            label(for='password' style="font-size:larger;") Password
            input(style="width: 100%; border-radius: 5px; border: 2px solid grey !important; background-color: #fff !!important; color: #000 !important;" type='password', name='password', id='password', placeholder='Password', required).field

          div.checkbox-container(style="display: flex; justify-content: space-between;")
            button.ui.big.blue.button(type='submit', style="width: 100%; margin: 0px 0 0 0;") Login
          
          img(style='margin-top:5px; z-index: 0;' src="/profile_pictures/or_divider.png")
          
          a.ui.button.big.white(href="/getGuest", style="padding:14.1429px !important; display: block; width: 100%; background-color: #fff; border: 1px solid #2884d4; text-align: center; padding: 10px; margin-top: 10px;")  
                span
                  img(src='/profile_pictures/avatar-icon.svg', alt="Google logo", style="height:25px; vertical-align: middle; margin-right: 10px;")
                  span( style="vertical-align: middle;") Guest Login

          
          img(style='margin-top:5px; z-index: 0;' src="/profile_pictures/or_divider.png")
          

          a.ui.button.big.green(href="/createStudent", style="padding:14.1429px !important; display: block; width: 100%; border: 1px solid #2884d4; text-align: center; padding: 10px; margin-top: 10px;")  Create Account
              
block styles

block scripts
  link(rel='stylesheet', href='/css/style.css')
  script(src='/module_js/base_end.js')
  script(src='https://kit.fontawesome.com/585fda3aab.js' crossorigin='anonymous')
  script.
    function openFeedback(){
      window.open(href='https://cornell.qualtrics.com/jfe/form/SV_9tMszwlpe1TIIxT');
    };
    function toPrivacyFreePlay(){       
      window.location.href='/free-play/privacy';
    };
    