extends ui_layout

block content
  .container
    .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
      .ui.fluid.card(style="border-radius: 0px;")
        .image
          img(src='/images/susandavisbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
          .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
            img(src='/images/susandavispfp.png') 
        .content(style="padding-top: 50px;") 
          .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
            .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px; margin-top:50px;") Susan Davis
            .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
              p(style="flex: 1; text-align: center;") 
                strong 29 
                |  Friends
              p(style="flex: 1; text-align: center;") 
                strong 0 
                |  Mutual Friends
              p(style="flex: 1; text-align: center;") 
                strong 15 
                |  Posts
            .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
              .icon-item
                i.icon.users
                p Add Friend
              .icon-item
                i.icon.address.book
                p Follow
              .icon-item
                i.icon.comment.alternate
                p Message
              .icon-item
                i.icon.ellipsis.horizontal
                p More
            p(style="text-align: center; margin-top:20px") 💪 Certified Fitness Trainer | Passionate about empowering others to discover their strength, transform their lives, and embrace a healthier, happier version of themselves. "Your only limit is you." 🌟
          .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.suitcase
                  p(style="margin-left: 5px;") Works at YMCA
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.home
                  p(style="margin-left: 5px;") Lives in Los Angeles, California
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.map.marker.alternate
                  p(style="margin-left: 5px;") From Los Angeles, California
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.users.large-icon 
                  p(style="margin-left: 5px;") Linked Accounts

  .container
    .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
      .ui.fluid.card(style="border-radius: 0px;")
        .image
          img(src='/images/johnwilliamsbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
          .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
            img(src='/images/johnwilliamspfp.png') 
        .content(style="padding-top: 50px;") 
          .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
            .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;margin-top:50px;") John Williams
            .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
              p(style="flex: 1; text-align: center;") 
                strong 340 
                |  Friends
              p(style="flex: 1; text-align: center;") 
                strong 12 
                |  Mutual Friends
              p(style="flex: 1; text-align: center;") 
                strong 353 
                |  Posts
            .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
              .icon-item
                i.icon.users
                p Add Friend
              .icon-item
                i.icon.address.book
                p Follow
              .icon-item
                i.icon.comment.alternate
                p Message
              .icon-item
                i.icon.ellipsis.horizontal
                p More
            p(style="text-align: center; margin-top:20px") Proud dog enthusiast, especially for the pint-sized variety that fills life with joy. Call me the "Little Dog Whisperer" — where small pups steal the show.
          .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.suitcase
                  p(style="margin-left: 5px;") Works as an Accountant
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.home
                  p(style="margin-left: 5px;") Lives in Saugatuck, Michigan
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.map.marker.alternate
                  p(style="margin-left: 5px;") From Saugatuck, Michigan
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.users.large-icon 
                  p(style="margin-left: 5px;") Linked Accounts

  .container
    .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
      .ui.fluid.card(style="border-radius: 0px;")
        .image
          img(src='/images/marysmithbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
          .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
            img(src='/images/marysmithpfp.png') 
        .content(style="padding-top: 50px;") 
          .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
            .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;margin-top:50px;") Mary Smith
            .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
              p(style="flex: 1; text-align: center;") 
                strong 157
                |  Friends
              p(style="flex: 1; text-align: center;") 
                strong 10 
                |  Mutual Friends
              p(style="flex: 1; text-align: center;") 
                strong 362 
                |  Posts
            .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
              .icon-item
                i.icon.users
                p Add Friend
              .icon-item
                i.icon.address.book
                p Follow
              .icon-item
                i.icon.comment.alternate
                p Message
              .icon-item
                i.icon.ellipsis.horizontal
                p More
            p(style="text-align: center; margin-top:20px") Cherishing the brushstrokes of every moment with my beautiful grandchildren. 🎨✨
          .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.suitcase
                  p(style="margin-left: 5px;") Works as an Artist
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.home
                  p(style="margin-left: 5px;") Lives in Seattle, Washington
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.map.marker.alternate
                  p(style="margin-left: 5px;") From Issaquah, Washington
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.users.large-icon 
                  p(style="margin-left: 5px;") Linked Accounts

  .container
    .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
      .ui.fluid.card(style="border-radius: 0px;")
        .image
          img(src='/images/richardharrisonbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
          .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
            img(src='/images/richardharrisonpfp.png') 
        .content(style="padding-top: 50px;") 
          .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
            .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;margin-top:50px;") Richard Harrison
            .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
              p(style="flex: 1; text-align: center;") 
                strong 15
                |  Friends
              p(style="flex: 1; text-align: center;") 
                strong 0 
                |  Mutual Friends
              p(style="flex: 1; text-align: center;") 
                strong 12 
                |  Posts
            .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
              .icon-item
                i.icon.users
                p Add Friend
              .icon-item
                i.icon.address.book
                p Follow
              .icon-item
                i.icon.comment.alternate
                p Message
              .icon-item
                i.icon.ellipsis.horizontal
                p More
            p(style="text-align: center; margin-top:20px") Greetings! I'm Richard, a seasoned architect with a heart full of stories and a love for beautiful design. After creating a wonderful family and life with my late wife, I now find joy in sharing my experiences and embracing life's simple pleasures.
          .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.suitcase
                  p(style="margin-left: 5px;") Works at Retired Architect, Founder of Harrison Designs
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.home
                  p(style="margin-left: 5px;") Lives in Manhattan, New York
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.map.marker.alternate
                  p(style="margin-left: 5px;") From San Francisco, California
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.users.large-icon 
                  p(style="margin-left: 5px;") Linked Accounts

  .container
    .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
      .ui.fluid.card(style="border-radius: 0px;")
        .image
          img(src='/images/jamessmithbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
          .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
            img(src='/images/jamessmithpfp.png') 
        .content(style="padding-top: 50px;") 
          .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
            .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;margin-top:50px;") James Smith
            .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
              p(style="flex: 1; text-align: center;") 
                strong 104
                |  Friends
              p(style="flex: 1; text-align: center;") 
                strong 3 
                |  Mutual Friends
              p(style="flex: 1; text-align: center;") 
                strong 207 
                |  Posts
            .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
              .icon-item
                i.icon.users
                p Add Friend
              .icon-item
                i.icon.address.book
                p Follow
              .icon-item
                i.icon.comment.alternate
                p Message
              .icon-item
                i.icon.ellipsis.horizontal
                p More
            p(style="text-align: center; margin-top:20px") Every day is a gift, enjoy it with your family! 🌍
          .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.suitcase
                  p(style="margin-left: 5px;") Retired
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.home
                  p(style="margin-left: 5px;") Lives in Chicago, Illinois
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.map.marker.alternate
                  p(style="margin-left: 5px;") From Chicago, Illinois
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.users.large-icon 
                  p(style="margin-left: 5px;") Linked Accounts

  .container
    .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
      .ui.fluid.card(style="border-radius: 0px;")
        .image
          img(src='/images/robertjohnsonbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
          .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
            img(src='/images/robertjohnsonpfp.png') 
        .content(style="padding-top: 50px;") 
          .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
            .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;margin-top:50px;") Robert Johnson
            .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
              p(style="flex: 1; text-align: center;") 
                strong 203
                |  Friends
              p(style="flex: 1; text-align: center;") 
                strong 8 
                |  Mutual Friends
              p(style="flex: 1; text-align: center;") 
                strong 142 
                |  Posts
            .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
              .icon-item
                i.icon.users
                p Add Friend
              .icon-item
                i.icon.address.book
                p Follow
              .icon-item
                i.icon.comment.alternate
                p Message
              .icon-item
                i.icon.ellipsis.horizontal
                p More
            p(style="text-align: center; margin-top:20px") Retired and reveling in the joys of gardening, family and southern living.
          .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.suitcase
                  p(style="margin-left: 5px;") Retired
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.home
                  p(style="margin-left: 5px;") Lives in Charleston, South Carolina
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.map.marker.alternate
                  p(style="margin-left: 5px;") From Unknown
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.users.large-icon 
                  p(style="margin-left: 5px;") Linked Accounts

  .container
    .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
      .ui.fluid.card(style="border-radius: 0px;")
        .image
          img(src='/images/barbaramillerbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
          .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
            img(src='/images/barbaramillerpfp.png') 
        .content(style="padding-top: 50px;") 
          .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
            .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;margin-top:50px;") Barbara Miller
            .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
              p(style="flex: 1; text-align: center;") 
                strong 206
                |  Friends
              p(style="flex: 1; text-align: center;") 
                strong 16 
                |  Mutual Friends
              p(style="flex: 1; text-align: center;") 
                strong 304
                |  Posts
            .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
              .icon-item
                i.icon.users
                p Add Friend
              .icon-item
                i.icon.address.book
                p Follow
              .icon-item
                i.icon.comment.alternate
                p Message
              .icon-item
                i.icon.ellipsis.horizontal
                p More
            p(style="text-align: center; margin-top:20px") 👵 Grandma extraordinaire | My grandson is the sprinkle on my cupcake, filling my days with joy, laughter, and the sweetest moments.
          .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.suitcase
                  p(style="margin-left: 5px;") Works as Owner of Baked with Love
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.home
                  p(style="margin-left: 5px;") Lives in Salt Lake City, Utah
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.map.marker.alternate
                  p(style="margin-left: 5px;") From Sandy, Utah
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.users.large-icon 
                  p(style="margin-left: 5px;") Linked Accounts

  .container
    .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
      .ui.fluid.card(style="border-radius: 0px;")
        .image
          img(src='/images/jenniferwilliamsbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
          .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
            img(src='/images/jenniferwilliamspfp.png') 
        .content(style="padding-top: 50px;") 
          .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
            .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;margin-top:50px;") Jennifer Williams
            .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
              p(style="flex: 1; text-align: center;") 
                strong 27
                |  Friends
              p(style="flex: 1; text-align: center;") 
                strong 0 
                |  Mutual Friends
              p(style="flex: 1; text-align: center;") 
                strong 15
                |  Posts
            .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
              .icon-item
                i.icon.users
                p Add Friend
              .icon-item
                i.icon.address.book
                p Follow
              .icon-item
                i.icon.comment.alternate
                p Message
              .icon-item
                i.icon.ellipsis.horizontal
                p More
            p(style="text-align: center; margin-top:20px") Hello, friends! I'm Jennifer, an experienced nurse with a heart that finds joy in caring for others. Life has been a beautiful journey, and I'm here to share the wisdom of years, spread love, and connect with kindred spirits.
          .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.suitcase
                  p(style="margin-left: 5px;") Works as a Nurse at Massachusetts General Hospital
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.home
                  p(style="margin-left: 5px;") Lives in Franklin, Massachusetts 
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.map.marker.alternate
                  p(style="margin-left: 5px;") From Burlington, Vermont
            .icon-item
                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                  i.icon.users.large-icon 
                  p(style="margin-left: 5px;") Linked Accounts

block styles
  link(rel='stylesheet', href='/css/techniques.css?v=1.0')
