extends ui_layout

block content

  .ui.container
    br
    br
    h1.ui.header Help using DART
    h2.ui.header DART is a much better experience when you register. You can access all the learning topics for free.    This page explains how to use DART and how to get started.    
        .ui.section.divider
    h2.ui.header 1. How to Register
        .ui.raised.segment Hello
    h2.ui.header 2. Where to Start 
        .ui.raised.segment Hello
    h2.ui.header 3. Finding a Subject 
        .ui.raised.segment Hello
    h2.ui.header 4. Navigating the Quiz
        .ui.raised.segment Hello

  
block styles
  link(rel='stylesheet', href='/css/tutorial.css')  
    
    
