extends ui_layout

block content

  .ui.container
    br
    br

    .ui.padded.raised.segments 
        .ui.padded.segment 
            h1.ui.header.center.aligned Step #1 - How to Register
        .ui.very.padded.secondary.segment
            h2  
                | Before getting started with DART, it is important to 
                strong register an account 
                | so that your progress can be saved as you complete learning modules. From the home screen,  
                strong navigate to the Sign Up Button. 
            img.ui.massive.fluid.bordered.centered.image(src='/images/tutorial_1.JPG') 
            h2
                | Here, you will need to 
                strong enter your name, email, and create a password 
                | to create an account. You will also be given the choice to subscribe to our newsletter, where you can stay updated on the latest news and exclusive content. 
                | Once you are done entering your info, 
                strong click on the Sign Up button.

            img.ui.massive.fluid.bordered.centered.image(src='/images/tutorial_2.JPG') 

    .ui.hidden.section.divider
    .ui.hidden.section.divider

    .ui.padded.raised.segments 
        .ui.padded.segment 
            h1.ui.header.center.aligned Step #2 - Getting Started
        .ui.very.padded.secondary.segment
            h2  
                | After you have registered your account, you will be brought to the 
                strong Character Select screen. 
                | Here, you can pick from our four agents: Daring, Valiant, and Intrepid. Alternatively, you can opt for independent learning. 
                strong Select the option that best suits your preferences.
            img.ui.massive.fluid.bordered.centered.image(src='/images/tutorial_3.JPG') 
            h2 
                | Once you have picked your option, 
                strong click on
                img.ui.spaced.image(src='/images/tutorial-letsbegin.JPG')
                strong on the next page. 
                | You will now be brought to our Courses page, where you can explore the different learning modules that we have to offer. 
            
            img.ui.massive.fluid.bordered.centered.image(src='/images/tutorial_4.JPG') 
            h2
                | We currently have Identity Theft and Romance Scams modules available and are working hard to create more. Once you have picked a module, 
                strong click on it's Learn Now button 


    .ui.hidden.section.divider
    .ui.hidden.section.divider


    .ui.padded.raised.segments 
        .ui.padded.segment 
            h1.ui.header.center.aligned Step #3 - Navigating the Quiz
        .ui.very.padded.secondary.segment
            h2
                | Before you begin with the module, you will be brought to a Start page. Here, you'll find information about the upcoming learning content, along with a diagram illustrating all the module's steps.
                | You can also learn all of the modeule's material offline by downloading the contents. 
                strong Once you are ready to begin, click on the Start Button.
            img.ui.massive.fluid.bordered.centered.image(src='/images/tutorial-5.JPG') 
            h2 
                | At any time during the modeule you would like to stop, you can click on the 
                img.ui.spaced.image(src='/images/tutorial-homeicon.JPG')
                | icon which can be found at the 
                strong top right corner. 
                | You can also view your progress with the blue progress bar at the top of your screen that you will see once you begin. 
                strong All of your progress will be saved, as long as you are logged into your account. 





block styles
  link(rel='stylesheet', href='/css/tutorial.css')  