.audio-player .wrap {
    margin: 0 auto;
    max-width: 800px;
}

.audio-player .about {
    margin: 40px 0;
    font-style: italic;
}

.audio-player audio {
    width: 100%;
    margin: 20px 0;
}

.audio-player ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    max-height: 200px;
    overflow-y: scroll;
    padding-left: 100px;
    margin-left: -100px;
}

.audio-player li {
    position: relative;
    padding: 0;
    /* margin-bottom: 20px; */
    cursor: pointer; /* Makes the list item clickable */
}

.audio-player li:hover {
    background-color: #e0e0e0; /* Light gray background on hover */
}

.audio-player li:nth-child(odd) {
    background-color: #f0f0f0; /* Light gray background for odd rows */
}

.audio-player li:nth-child(even) {
    background-color: white; /* White background for even rows */
}

.audio-player li:hover {
    background-color: #e0e0e0;
    font-weight: bold;
    text-decoration: underline;
}


.audio-player li:before,
.audio-player li:after {
    top: 0;
    content: attr(data-timecode);
    position: absolute;
    left: -20px;
    transform: translateX(-100%);
    color: blue;
    transition: opacity 0.1s ease-in-out;
}

.audio-player li:before {
    opacity: 1;
}

.audio-player li:after {
    opacity: 0;
    content: "● " attr(data-timecode);
    font-weight: bold;
}

.audio-player li.current:before {
    opacity: 0;
}

.audio-player li.current:after {
    opacity: 1;
}

.audio-player .mejs__container {
    width: 100% !important;
    /* background-color: red !important; */
}
