/* New call-out / admonition styles  */

.blue.message {
    background: #E1F2F4 !important;
    /* color: black; */
    color: #5A6162 !important;
    /* box-shadow: #6BBCC7 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px !important; */
}

.blue.message .content p {
    color: #5A6162 !important;
}

.ui.label {
    color: #3B4545;
}

.blue.message .header, .blue.message i.exclamation.triangle.icon, .blue.message i.info.circle.icon,  .blue.message i.pen.icon {
    color: #235799 !important;
}

h3.call-header {
    color: #235799 !important;
    font-size: 1.5rem;
    margin-bottom: 6px;
    font-weight: bold;
}

/* old avatar with speech bubble styles */
#avatarGrid {
    /* margin: 50px; */
    margin-bottom: 15px;
    /* background-color: red; */
}

#speechBubble {
    display: flex; 
    align-items: center; 
    float: left;
    width:50%;
    background-color: #E1F2F4;
    border: 3px solid #6BBCC7;
    border-radius: 15px; /* Rounded corners, can be adjusted */
}

#speechText {
    font-weight: normal;
    /* padding: 0; 
    text-align: center; 
    margin: 0; */
    /* font-size: 1.2rem;
    font-weight: normal; */
}

.blue-pointing {
    position: relative;
}

.blue-pointing::after {
    content: "";
    position: absolute;
    right: 0; /* Align to the right */
    bottom: -125px; /* Align to the bottom */
    z-index: 999;
    width: 125px; /* Width of the SVG */
    height: 125px; /* Height of the SVG */
    background-image: url('/images/speech-pointer.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* pointer speech bubble on mobile */
.ui[class*="bottom pointing"].label::before, .ui[class*="pointing below"].label::before {
    border-width: 0 3px 3px 0;
    right: auto;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 100.43%;
    left: 50%;
}




/* Avatar Call Out Important Notes / Admonitions CSS */
.ui.icon.blue.message {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 0;
    margin-left: 0;
}

.ui.icon.blue.message .icon {
    height: 135px !important;
    /* width: 170px; */
    min-width: 110px;
    overflow: hidden;
}

.ui.icon.blue.message .icon img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top center;
}

.ui.icon.blue.message .content {
    background: white;
    height: 100%;
    padding: 10px;
    padding-left: 15px;
}

.ui.icon.fluid.blue.message.shorter {
    /* height: 113px; */
}

.ui.icon.blue.message.shorter .icon img {
    width: 100px;
    height: 300px;
}



/* Add your styling for the callout elements */
div.callout {
    display: flex;
    border: 1px solid #2185d0;
    border-radius: 10px;;
    z-index: 999;
    /* box-shadow: 0 0 0 1px #2185d0 inset, 0 0 0 0 transparent; */
  }
  
  .dark-blue-square {
    flex: 0 0 20%; 
    /* Adjust the width of the dark-blue square as needed */
    width: 155px;
    /* height: 110px; */
    overflow: hidden;

    position: relative;
    /* height: 441px;
    position: relative;
    top: -23px; */
    background-color: #E1F2F4; /* Dark blue color */
    z-index: -1;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .dark-blue-square img {
    /* object-fit: cover;
    width: 230px;
    height: 230px;
    object-position: center center;   */

    object-fit: cover;
    object-position: center center;
    width: 215px;
    /* height: 120px; */

    position: absolute;
    top: -21px;
    left: -34px;
    /* object-position: center center; */
    /* position: relative;
    left: -44px; */

  }
  
  .light-blue-content {
    flex: 0 0 80%; /* Adjust the width of the light-blue content as needed */
    padding: 20px; /* Add desired padding */
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white; /* Light blue color */
    color:#555;
    z-index: -1;
  }
  
  /* Additional styling for text elements */
  .light-blue-content h2 {
    color: #333; /* Adjust text color */
    font-size: 1.5em; /* Adjust font size */
  }
  
  .light-blue-content p {
    color: #555; /* Adjust text color */
    font-size: 1em; /* Adjust font size */
  }
  