/* New call-out / admonition styles  */

.blue.message {
    background: #E1F2F4 !important;
    color: black;
    /* color: #5A6162 !important; */
    /* box-shadow: #6BBCC7 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px !important; */
}

.ui.label {
    color: #3B4545;
}

.blue.message .header, i.exclamation.triangle.icon, i.info.circle.icon,  i.pen.icon {
    color: #235799 !important;
}

/* old avatar with speech bubble styles */
#avatarGrid {
    /* margin: 50px; */
    margin-bottom: 15px;
    /* background-color: red; */
}

#speechBubble {
    display: flex; 
    align-items: center; 
    float: left;
    width:50%;
    background-color: #E1F2F4;
    border: 3px solid #6BBCC7;
    border-radius: 15px; /* Rounded corners, can be adjusted */
}

#speechText {
    font-weight: normal;
    /* padding: 0; 
    text-align: center; 
    margin: 0; */
    /* font-size: 1.2rem;
    font-weight: normal; */
}

.blue-pointing {
    position: relative;
}

.blue-pointing::after {
    content: "";
    position: absolute;
    right: 0; /* Align to the right */
    bottom: -125px; /* Align to the bottom */
    z-index: 999;
    width: 125px; /* Width of the SVG */
    height: 125px; /* Height of the SVG */
    background-image: url('/images/speech-pointer.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* pointer speech bubble on mobile */
.ui[class*="bottom pointing"].label::before, .ui[class*="pointing below"].label::before {
    border-width: 0 3px 3px 0;
    right: auto;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 100.43%;
    left: 50%;
}