/* Set font size for all page content to 1.5rem, ~23px, which is what the National Institute on Aging uses for their page's body text */
html {
    font-size: 1rem;
}

header,
footer {
    z-index: 9999999999 !important;
    /* background-color: red !important; */
}

.ui-flash .ui.negative.fluid.large.message,
.ui-flash .ui.warning.fluid.large.message,
.ui-flash .ui.positive.fluid.large.message {
    position:relative;
    font-size: 1.5rem; 
    margin-top: 50px;
    /* margin-bottom:-60px;  */
    z-index:1000;
    font-weight:bold;
}

header a.item {
    /* font-family: 'Armata', sans-serif; */
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem; 
    font-weight: 600 !important;
}
  
/* very specific to override formantic ui  .ui.menu .item color attribute */
#page-header header.ui.borderless.menu.tablet-and-computer .ui.container .right.menu .item.dart-blue {
    color: #2165AE; 
    font-size: 1.5rem;
}

/* very specific to override formantic ui  .ui.menu .item color attribute */
#page-header header.ui.borderless.menu.tablet-and-computer .ui.container .right.menu .item.dart-gray {
    color: #7D7C7C; 
    font-size: 1.5rem;

}

.ui.container#-raised-container {
    width: 100%;
}

#raised-container {
    /* background-color: white; */
    margin-top: 50px;
}

/* .short-page-margin {
    margin-top: 23px !important;
}

.short-page-margin2 {
    margin-top: 50px !important;
} */

#raised-content {
    font-size: 1.5rem;
    /* width: 800px; */
    /* width: 55vw; */
    /* margin: 0 auto; */
    /* background-color: green; */
}


#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.limit {
    position: relative;
    padding-left: 9rem; 
    padding-right: 9rem;
    margin: 0 auto;
}

/* Adjust text raised segment text padding */
@media (max-width: 1200px) {
    .limit {
        padding-left: 2rem; 
        padding-right: 2rem;
    }
}

/* Adjust text raised segment text padding */
@media (max-width: 920px) {
    .limit {
        padding-left: 1rem; 
        padding-right: 1rem;
    }
}


@media (max-width: 430px) {
    /* hide bubbles so they don't get squished */
    .bubble-container {
        display: none !important;
    }

    .limit {
        padding-left: 0rem; 
        padding-right: 0rem;
    }
}


/* Flexbox method to position the header, page content / article, and footer correctly*/
/* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
body{ 
    min-height: 100vh; 
    margin:0; 
    background:  #F5F8FA;   
    /* fix so that the whole page doesn't shift on the "short" pages due to scroll bar being absent */
    overflow-y: scroll !important;
    /* font-family: 'Inter', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

#page-header{ 
    min-height:50px;
}

#page-footer{ 
    min-height: 20px;
}

/* The article fills all the space between header & footer */
body{ 
    display:flex; 
    flex-direction:column; 
}

/*  flex 1 to grow and shrink as necessary to fill available space in the flex container */
#page-article{ 
    flex:1; 
    /* background-color: green !important; */
    /* margin-top: 0;
    padding-top: 0; */
}



img.ui.small.image.dart-logo {
    padding: 0 !important;
    margin: 0 !important;
}

/* .dimmable.modal-open.dimmed,
.dimmable.dimmed {
    margin-right: 0 !important;
    overflow-y: scroll !important;
} */

body.animating.in.dimmable, body.dimmed.dimmable {
    overflow: inherit;
}

.modal-open {
    overflow-y: hidden !important;
    margin: 0 !important;
}

/* .video-js .vjs-big-play-button {
  background-color: #dd3333;
  font-size: 2.5em;
  border-radius: 50%;
  height: 2em !important;
  line-height: 2em !important;
  margin-top: -1em !important;
} */

/* .video-js .vjs-big-play-button {
background-color: #2165AE !important;
font-size: 5em !important;
opacity: 1 !important;
border-radius: 50% !important;
width: 100px !important;
height: 2em !important;
line-height: 2em !important;
margin-top: -1em !important;
}

video[poster]{
    object-fit: cover;
}
.vjs-poster {
    background-size: cover;
    background-position: inherit;
} */