.container {
    max-width: 960px;
    margin: auto;
  }


  body {
    background-color: #eceff1;
    color: #37474f;
  }
  
  h1, h3, p {
    text-align: center;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  
  .draggable-list {
    padding: 5px;
  }
  
  li {
      list-style: none;
      padding: 10px;
      margin: 25px;
      background-color: #cfd8dc;
      border: 3px solid #b0bec5;
      color: #263238;
      cursor: grab;
      text-align: center;
  }
  
  .over {
    background-color: #3b6c8182;
  }
  
  
  table {
    max-width:640px;
    margin: auto;
    margin-bottom: 20px;
    /* border: 1px solid #b0bec5; */
  }
  
  th, td {
    padding: 10px 10px;
  }
  
  td {
    border: 1px solid #90a4ae;
  }
  
  tr:nth-child(even) {
    background-color: #cfd8dc;
  }
  
  button {
    margin: auto;
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #607d8b;
    color: #fff;
  }
  
  button:hover {
    background-color: #516a75;
  }
  
  
  #endMessage {
 display: none;
  }

