.emailHeader {
    background-color: #F5F5F5;
    color: #3757A6;
    border-bottom: 4px solid #3757A6;
    padding: 20px;
    margin: 0;
}

i.user.circle.icon {
    color: #3757A6;
}

p, h3, span {
    font-family: Arial, sans-serif;
    /* font-size: 1.25rem; */
}

#subjectLine {
    font-size: 1.6rem;
    /* margin-left: 100px; */
    font-weight: bold;
}

span.subject {
    color: #747471;
    font-weight: lighter;
}


.senderInfo {
    /* font-size: 1.25rem; */
}

.senderInfo span {
    /* font-size: 1.25rem; */
}

.fromEmail {
    color: #747471;
    font-weight: lighter;
    /* font-size: 1.25rem; */
    margin-left: 10px;
}

.ui.vertical.segment .row {
    padding-right: 15px;
    padding-left: 15px;
}

.emailSimContainer a {
    color: black;
    cursor: pointer;
}

.emailSimContainer a:hover {
    color: black;
}

.fakeLink {
    text-decoration: underline;
    cursor: pointer;
}

.fakeLink:hover {
    text-decoration: underline;
}

.ui.right.floated.header.numContainer {
    margin-top: 5px;
}

#inboxLabel {
    margin-top: -5px;
    margin-left: 15px;
    padding: 6px;
    background: #EEEEEE;
    border: 1px solid black;
    /* font-size: 1.25rem; */
}

i.exclamation.circle.icon  {
    color: #666666;
    font-size: 1.75rem !important;
}

span.pageNum {
    position: relative;
    top: 5px;
    /* font-size: 1.25rem; */
    /* margin-top: 100px;
    background-color: red;
    padding-top: 50px; */

}

.htmlImageExample .ui.icon.message {
    background-color: white !important;
    box-shadow: none !important;
}
button.ui.circular.icon.button.closeEmailArrow {
    margin-left: 0px;
    margin-right: 40px;
}

button.ui.circular.icon.button {
    color: black;
    background-color: white;
}

button.ui.circular.icon.button:hover {
    background-color: #e0e0e0;
}

.ui.vertical.segment:hover {
    /* top & sides solid border, bottom shadow*/
    box-shadow: 
    inset 0 0 0 1px rgba(0, 0, 0, 0.24),
    0 4px 4px -1px rgba(0, 0, 0, 0.24);


/*  Thicker border
    box-shadow: 
    inset 0 0 0 2px rgba(0, 0, 0, 0.24),
    0 4px 4px -2px rgba(0, 0, 0, 0.24); */

}

#emailContent {
    /* margin-left: 100px; */
}

.openEmailContainer {
}

#ban {
    margin-left: 3px;
}

#reply {
    border-radius: 20px;
    color: #444746 !important;
    border: 1px solid #444746 !important;
    /* margin-top: 20px; */
    margin-left: 100px;
}

.modalTitle {
    font-size: 2rem !important;
    font-weight: bold;
    text-align: center;
}

.red.exclamation.triangle.icon {
    color: #C62D2D !important;
}
/* .content {
    font-size: 1.25rem !important;
} */

/* introjs styles copied from ui_layout.css */

/* ---- INTROJS HINTS ---- */


/* ----- (RED DOTS) ----- */

.introjs-hint-dot {
    background: #C62D2D;
    border: 13px solid rgba(146, 146, 146, .36);
    -webkit-animation: introjspulse 2s ease-out;
    -moz-animation: introjspulse 2s ease-out;
    animation: introjspulse 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.introjs-hint-pulse {
    background: #C62D2D;
    width: 15px;
    height: 15px;
}

.introjs-hint-pulse:after { 
    content: '';
    display: inline-block;
    width: 32px; 
    height: 32px;
    background: url('/images/clickHere.png') no-repeat; 
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 100%; /* Position the icon to the right of the dot */
    transform: translateY(-50%);
    margin-left: 20px; 
}

.introjs-button {
    /* font-size: 1.25rem; */
    background: #6BBCC7 !important;
    color: white;
    text-shadow: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5rem;
}

.introjs-button:hover {
    /* font-size: 1.25rem; */
    background: #6BBCC7 !important;
    color: white;
    text-shadow: none;
}

.introjs-tooltip {
    min-width: 400px;
}

.aHint {
    margin-left: 20px;
}
.emailSimContainer {
    pointer-events: none;
    /* margin-bottom: 400px; */
    position: relative;
}


/* #spam-warning {
    margin-top: -15px;
} */

.center-phone {
    text-align: center;
}

#trust-wallet .inboxLabel.ui.label {
    margin-bottom: 15px;
}

#trust-wallet .ui.small.message p {
    font-size: 1rem;
}