header {
  /* shadow from figma */
  /* box-shadow: 0px 4px 4px 0px #00000040 !important; */
  position: relative;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 !important; 
  z-index: 1000 !important;
}

/* img.ui.small.image.dart-logo {
  width: 200px;
} */


/* moved to dart.css */
/* .right.menu a.item {
  font-family: 'Armata', sans-serif;
  font-size: 1.5rem;
} */

/* override formantic ui margin on the menu to avoid weird gap between header and page-article */
.ui.menu {
  margin: 0 !important;
}

.tablet-and-computer {
  display: block !important;
}

.mobile-only {
  display: none !important;
}

@media (max-width: 480px) {
  .mobile-only {
    display: block !important;
  }

  .tablet-and-computer {
    display: none !important;
  }
}
