.ui.popup {
    font-size: 1.25rem;
    min-width: 500px;
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.5; 
}

.introjs-tooltiptext p {
    font-size: 1rem !important;
}







.emailHeader {
    background-color: #F5F5F5;
    color: #2165AE;
    border-bottom: 4px solid #2165AE;
    padding: 20px;
    margin: 0;
}

i.user.circle.icon {
    color: #2165AE;
}


.emailHeader span {
    position: relative;
    top: 3px;
    font-size: 1.75rem;
    font-weight: bold;
}

p, h3, span {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}

#subjectLine {
    font-size: 2rem;
    margin-left: 100px;
    font-weight: bold;
}

span.subject {
    color: #747471;
    font-weight: lighter;
}


.senderInfo {
    font-size: 1.6rem;
}

.senderInfo span {
    font-size: 1.6rem;
}

.fromEmail {
    color: #747471;
    font-weight: lighter;
    font-size: 1.6rem;
    margin-left: 10px;
}

.ui.vertical.segment .row {
    padding-right: 15px;
    padding-left: 15px;
}

.emailSimContainer a {
    color: black;
    cursor: pointer;
}

.emailSimContainer a:hover {
    color: black;
}

.fakeLink {
    text-decoration: underline;
    cursor: pointer;
}

.fakeLink:hover {
    text-decoration: underline;
}

.ui.right.floated.header.numContainer {
    margin-top: 5px;
}

#inboxLabel {
    margin-top: -5px;
    margin-left: 15px;
    padding: 3px;
}

span.pageNum {
    position: relative;
    top: 5px;
    font-size: 1.5rem;
    /* margin-top: 100px;
    background-color: red;
    padding-top: 50px; */

}

.ui.icon.message {
    background-color: white !important;
    box-shadow: none !important;
}
button.ui.circular.icon.button.closeEmailArrow {
    margin-left: 0px;
    margin-right: 40px;
}

button.ui.circular.icon.button {
    color: black;
    background-color: white;
}

button.ui.circular.icon.button:hover {
    background-color: #e0e0e0;
}

.ui.vertical.segment:hover {
    /* top & sides solid border, bottom shadow*/
    box-shadow: 
    inset 0 0 0 1px rgba(0, 0, 0, 0.24),
    0 4px 4px -1px rgba(0, 0, 0, 0.24);


/*  Thicker border
    box-shadow: 
    inset 0 0 0 2px rgba(0, 0, 0, 0.24),
    0 4px 4px -2px rgba(0, 0, 0, 0.24); */

}

#emailContent {
    max-width: 620px;
    margin-left: 100px;
}

.openEmailContainer {
    margin-top: -35px;
}

#ban {
    margin-left: 3px;
}

#reply {
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444746;
    border: 1px solid #444746;
    /* margin-top: 20px; */
    margin-left: 100px;
    font-size: 1.25rem;
    font-weight: bold;
}

/* modal buttons */
.ui.black.basic.big.button,
.ui.blue.big.button {
    min-width: 250px;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
/* Hover effect */
.ui.button.ui.black.basic.big.button:hover {
    background-color: white; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 2px black; 
}

.ui.blue.big.button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 2px #0EABB2; 
}

.modalTitle {
    font-size: 2rem !important;
    font-weight: bold;
    text-align: center;
}

.red.exclamation.triangle.icon {
    color: #C62D2D !important;
}
.content {
    font-size: 1.5rem !important;
}



/* amazon email */

#amazon-header {
    margin-top: 40px;
    display: flex;
    padding: 10px 0px 19px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #7D7C7C;
}

#amazon-logo{
    width: 177.89px;
    height: 53.714px;
}

#amazon-assistance {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#amazon-code {
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
}

/* email resizing fixes */

/* stop envelope from overlapping email title in inbox when screen gets narrow */
.emailSimContainer .eleven.wide.column h3 {
    margin-left: 20px;
}

/* iphone email */

#confirmButton.ui.medium.button{
    background-color: #fd4319;
    text-decoration: solid;
}


#iphone-email {
    border: 5px solid #fd0068;
    border-radius: 10px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

#iphone-email .iphone-header{
    color: #fd0068;
    font-size: 2.25rem;
    font-weight: 800;
}

#iphone-email .pink-text {
    color: #FD0068;
}

#iphone-email #congrats{
    background-color: #FD0068;
    color: white;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.75rem;
}

#iphone-email #confirmButton{
    background-color: #FD4319;
    font-size: 1.75rem;
    font-weight: 600;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#iphone-email .ui.basic.huge.segment#title,
#iphone-email .ui.basic.segment#continue {
    padding-left: 0; 
    padding-right: 0;
}

#iphone-email .ui.segment {
    padding-left: 0;
    padding-right: 0;
}

/* introjs styles copied from ui_layout.css */


/* ---- INTROJS STEPS ---- */


/* ----- (TUTORIAL) ------ */

.introjs-button {
    font-size: 1.5rem;
    background: #6BBCC7;
    color: white;
    text-shadow: none;
    padding-left: 30px;
    padding-right: 30px;
}

.introjs-button:hover {
    font-size: 1.5rem;
    background: #6BBCC7;
    color: white;
    text-shadow: none;
}

.introjs-tooltip {
    min-width: 400px;
}

/* removes a gray overlay that covers everything but the selected element */

.introjs-overlay {
    visibility: hidden;
}


/* the box highlighting the selected element */

.introjs-helperLayer {
    border: 1px solid rgba(0, 149, 255, .5);
    box-shadow: 0 2px 20px rgba(0, 149, 255, .4);
    background-color: rgba(255, 255, 255, 0);
}


/* custom tooltips that have a blue border */

.blueTooltip {
    border: 1px solid rgba(0, 149, 255, .5);
    box-shadow: 0 2px 20px rgba(0, 149, 255, .4);
}


/* avoid editing this, fixes issues with content being hidden under things */


/* brings the tooltip forward on z-axis */

.introjs-tooltipReferenceLayer {
    z-index: 10000005;
}


/* adjusts the tooltip text appearance */

.introjs-tooltiptext {
    line-height: 120%;
    /* font-size: 135%; */
    font-size: 1.25rem !important;

}

.introjs-fixedTooltip {
    position: absolute;
}

.introjs-fixParent {
    position: static;
}


/* customizing the back, next, and done buttons on steps */


/* -  -  -  -  - */

.introjs-skipbutton.introjs-donebutton,
.introjs-skipbutton.introjs-donebutton:hover {
    /* height: 22px; */
    /* line-height: 22px !important;
    visibility: visible;
    float: right;
    border-radius: 5px;
    color: rgba(255, 255, 255, .9);
    background-image: linear-gradient(#21ba45, #21ba45);
    text-shadow: 0px 0px 0 #fff;
    margin-left: 5px;
    border: 0px solid #d4d4d4;
    font: 1rem sans-serif; */
    display: none;
}

.introjs-button.introjs-nextbutton,
.introjs-button.introjs-nextbutton:hover {
    /* height: 22px; */
    line-height: 22px !important;
    border-radius: 5px;
    visibility: visible;
    color: rgba(255, 255, 255, .9);
    background-image: linear-gradient(#2185D0, #2185D0);
    text-shadow: 0px 0px 0 #fff;
    margin-left: 5px;
    border: 0px solid #d4d4d4;
    font: 1rem sans-serif;
}

.introjs-button.introjs-nextbutton:hover {
    background-image: linear-gradient(#1678c2, #1678c2);
    box-shadow: 0 2px 2px #e3e3e3 !important;
}

.introjs-button.introjs-prevbutton,
.introjs-button.introjs-prevbutton:hover {
    /* height: 22px; */
    /* line-height: 22px !important;
    border-radius: 5px;
    visibility: visible;
    color: rgba(255, 255, 255, .9);
    background-image: linear-gradient(#2185D0, #2185D0);
    text-shadow: 0px 0px 0 #fff;
    margin-left: 5px;
    border: 0px solid #d4d4d4;
    font: 1rem sans-serif; */
    display: none;
}

.introjs-button.introjs-skipbutton,
.introjs-button.introjs-skipbutton:hover {
    /* height: 22px; */
    line-height: 22px !important;
    border-radius: 5px;
    visibility: visible;
    /* color: rgba(255, 255, 255, .9); */
    /* background-image: linear-gradient(#21ba45, #21ba45); */
    text-shadow: 0px 0px 0 #fff;
    margin-left: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    /* font: 1rem sans-serif; */
    background-color: #ececec !important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),to(#ececec)) !important;
}

.introjs-button.introjs-skipbutton {
    color: #656255;
}

.introjs-button.introjs-skipbutton:hover {
    color: #4183c4;
}

/* .introjs-skipbutton {
    background: #656255de ;
}

.introjs-skipbutton:hover {
    background: #656255b4 ;
} */

/* .customWideTooltip {
    min-width: 600px;
    margin-top: -250px !important;
} */



.introjs-hint-dot {
    background: #C62D2D;
    border: 13px solid rgba(146, 146, 146, .36);
    -webkit-animation: introjspulse 2s ease-out;
    -moz-animation: introjspulse 2s ease-out;
    animation: introjspulse 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.introjs-hint-pulse {
    background: #C62D2D;
    width: 15px;
    height: 15px;
}

.introjs-hint-pulse:after { 
    content: '';
    display: inline-block;
    width: 32px; 
    height: 32px;
    background: url('/images/clickHere.png') no-repeat; 
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 100%; /* Position the icon to the right of the dot */
    transform: translateY(-50%);
    margin-left: 20px; 
}

.aHint {
    margin-left: 20px;
}




/* -  -  -  -  - */


.emailSimContainer {
    pointer-events: none;
    /* margin-bottom: 400px; */
    position: relative;
}

@media (max-width: 920px) {
    .introjs-tooltip{
        /* margin-top: 275px !important; */
        position: relative !important;
    }
}



.showOpenEmailAnimation,
.showReturnToInboxAnimation {
    position: absolute;
    z-index: 99999999999;
    animation: slideUp 4s ease forwards; 
}

/* toggle where cursor goes to */
.showOpenEmailAnimation {
    left: 45px; 
    top: 125px;
}

.showReturnToInboxAnimation {
    left: 63px; 
    top: 67px;
    /* z-index: 999999999999999999;
    width: 1000px; */
}

.animate {
    animation: slideInFromBottomRight 3s ease forwards;
}

.showOpenEmailAnimation img,
.showReturnToInboxAnimation img {
    /* width: 220px;
    height: 300px; */
    width: 50%;
    transform: scale(0.426389);
    transform-origin: left top;
    pointer-events: auto;
}

@keyframes slideUp {
    from {
        transform: translate(100%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }

}

/* tooltip label */
#report:hover::after,
#block:hover::after,
#delete:hover::after {
    content: attr(data-tooltip); /* Use the data-tooltip attribute to store tooltip text */
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 99999999;
}

/* tooltip arrow */
#report:hover::before,
#block:hover::before,
#delete:hover::before {
    background-color: white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    top: -12px;
    z-index: 99999999999;
}


/* #report::after {
    content: "Report";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 9999999999;
}

#block::after {
    content: "Block";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 9999999999;
}

#delete::after {
    content: "Delete";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 9999999999;
} */



/* css for dynamically added tooltips */
/* 
.report-button,
.block-button,
.delete-button {
    position: relative;
}

.report-tooltip
.block-tooltip
.delete-tooltip {
    display: none;
    position: absolute;
    bottom: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 1;
}

.report-button:hover .report-tooltip,
.block-button:hover .block-tooltip,
.delete-button:hover .delete-tooltip {
    display: block;
} */


/* hand next to warning popups for see why */
.openEmailContainer .ui.red.button {
    font-size: 1.25rem;
}

.warning-button {
    padding: 7px !important;
    margin-left: 20px !important;
    position: relative;
}
.warning-button:after { 
    /* content: '';
    display: inline-block;
    width: 32px; 
    height: 32px;
    background: url('/images/clickHere.png') no-repeat; 
    background-size: 100% 100%;
    position: absolute;
    left: 74%; 
    top: 25%; */
    /* content: url('/images/clickHere.png');
    display: inline-block;
    position: absolute; 
    left: 100%; 
    top: 50%; 
    transform: translateY(-50%); 
    margin-left: 10px;  */

    /* Can't use width and height on content image. Now using approach of background image for the ::after pseudo-element and control its size with background-size. */

    content: ''; 
    display: inline-block;
    position: absolute; /* Positions the image absolutely relative to the button */
    left: 100%; /* Positions the image to the right of the button */
    top: 50%; /* Aligns the top of the image with the middle of the button */
    transform: translateY(-50%); /* Centers the image vertically relative to the button */
    margin-left: 10px; 
    width: 32px; 
    height: 32px; 
    background-image: url('/images/clickHere.png'); 
    background-size: contain;
    background-repeat: no-repeat; 

}
