.emailHeader {
    background-color: #F5F5F5;
    color: #2165AE;
    border-bottom: 4px solid #2165AE;
    padding: 20px;
    margin: 0;
}

i.user.circle.icon {
    color: #2165AE;
}


.emailHeader span {
    position: relative;
    top: 3px;
    font-size: 1.75rem;
    font-weight: bold;
}

p, h3, span {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}

#subjectLine {
    font-size: 2rem;
    margin-left: 100px;
    font-weight: bold;
}

span.subject {
    color: #747471;
    font-weight: lighter;
}


.senderInfo {
    font-size: 1.6rem;
}

.senderInfo span {
    font-size: 1.6rem;
}

.fromEmail {
    color: #747471;
    font-weight: lighter;
    font-size: 1.6rem;
    margin-left: 10px;
}

.ui.vertical.segment .row {
    padding-right: 15px;
    padding-left: 15px;
}

.emailSimContainer a {
    color: black;
    cursor: pointer;
}

.emailSimContainer a:hover {
    color: black;
}

.fakeLink {
    text-decoration: underline;
    cursor: pointer;
}

.fakeLink:hover {
    text-decoration: underline;
}

.ui.right.floated.header.numContainer {
    margin-top: 5px;
}

#inboxLabel {
    margin-top: -5px;
    margin-left: 15px;
    padding: 3px;
}

span.pageNum {
    position: relative;
    top: 5px;
    font-size: 1.5rem;
    /* margin-top: 100px;
    background-color: red;
    padding-top: 50px; */

}

.ui.icon.message {
    background-color: white !important;
    box-shadow: none !important;
}
button.ui.circular.icon.button.closeEmailArrow {
    margin-left: 0px;
    margin-right: 40px;
}

button.ui.circular.icon.button {
    color: black;
    background-color: white;
}

button.ui.circular.icon.button:hover {
    background-color: #e0e0e0;
}

.ui.vertical.segment:hover {
    /* top & sides solid border, bottom shadow*/
    box-shadow: 
    inset 0 0 0 1px rgba(0, 0, 0, 0.24),
    0 4px 4px -1px rgba(0, 0, 0, 0.24);


/*  Thicker border
    box-shadow: 
    inset 0 0 0 2px rgba(0, 0, 0, 0.24),
    0 4px 4px -2px rgba(0, 0, 0, 0.24); */

}

#emailContent {
    margin-left: 100px;
}

.openEmailContainer {
    margin-top: -35px;
}

#ban {
    margin-left: 3px;
}

#reply {
    border-radius: 20px;
    color: #444746 !important;
    border: 1px solid #444746 !important;
    /* margin-top: 20px; */
    margin-left: 100px;
}

.modalTitle {
    font-size: 2rem !important;
    font-weight: bold;
    text-align: center;
}

.red.exclamation.triangle.icon {
    color: #C62D2D !important;
}
.content {
    font-size: 1.5rem !important;
}



/* amazon email */

#amazon-header {
    margin-top: 40px;
    display: flex;
    padding: 10px 0px 19px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #7D7C7C;
}

#amazon-logo{
    width: 177.89px;
    height: 53.714px;
}

#amazon-assistance {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#amazon-code {
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
}

/* introjs styles copied from ui_layout.css */


/* ---- INTROJS STEPS ---- */


/* ----- (TUTORIAL) ------ */


/* removes a gray overlay that covers everything but the selected element */

.introjs-overlay {
    visibility: hidden;
}


/* the box highlighting the selected element */

.introjs-helperLayer {
    border: 1px solid rgba(0, 149, 255, .5);
    box-shadow: 0 2px 20px rgba(0, 149, 255, .4);
    background-color: rgba(255, 255, 255, 0);
}


/* custom tooltips that have a blue border */

.blueTooltip {
    border: 1px solid rgba(0, 149, 255, .5);
    box-shadow: 0 2px 20px rgba(0, 149, 255, .4);
}


/* avoid editing this, fixes issues with content being hidden under things */


/* brings the tooltip forward on z-axis */

.introjs-tooltipReferenceLayer {
    z-index: 10000005;
}


/* adjusts the tooltip text appearance */

.introjs-tooltiptext {
    line-height: 120%;
    /* font-size: 135%; */
    font-size: 1.25rem !important;

}

.introjs-fixedTooltip {
    position: absolute;
}

.introjs-fixParent {
    position: static;
}


/* customizing the back, next, and done buttons on steps */


/* -  -  -  -  - */

.introjs-skipbutton.introjs-donebutton,
.introjs-skipbutton.introjs-donebutton:hover {
    /* height: 22px; */
    /* line-height: 22px !important;
    visibility: visible;
    float: right;
    border-radius: 5px;
    color: rgba(255, 255, 255, .9);
    background-image: linear-gradient(#21ba45, #21ba45);
    text-shadow: 0px 0px 0 #fff;
    margin-left: 5px;
    border: 0px solid #d4d4d4;
    font: 1rem sans-serif; */
    display: none;
}

.introjs-button.introjs-nextbutton,
.introjs-button.introjs-nextbutton:hover {
    /* height: 22px; */
    line-height: 22px !important;
    border-radius: 5px;
    visibility: visible;
    color: rgba(255, 255, 255, .9);
    background-image: linear-gradient(#2185D0, #2185D0);
    text-shadow: 0px 0px 0 #fff;
    margin-left: 5px;
    border: 0px solid #d4d4d4;
    font: 1rem sans-serif;
}

.introjs-button.introjs-nextbutton:hover {
    background-image: linear-gradient(#1678c2, #1678c2);
    box-shadow: 0 2px 2px #e3e3e3 !important;
}

.introjs-button.introjs-prevbutton,
.introjs-button.introjs-prevbutton:hover {
    /* height: 22px; */
    /* line-height: 22px !important;
    border-radius: 5px;
    visibility: visible;
    color: rgba(255, 255, 255, .9);
    background-image: linear-gradient(#2185D0, #2185D0);
    text-shadow: 0px 0px 0 #fff;
    margin-left: 5px;
    border: 0px solid #d4d4d4;
    font: 1rem sans-serif; */
    display: none;
}

.introjs-button,
.introjs-button:hover {
    /* height: 22px; */
    line-height: 22px !important;
    border-radius: 5px;
    visibility: visible;
    /* color: rgba(255, 255, 255, .9); */
    /* background-image: linear-gradient(#21ba45, #21ba45); */
    text-shadow: 0px 0px 0 #fff;
    margin-left: 5px;
    border: none;
    font: 1rem sans-serif;
}

.introjs-skipbutton {
    color: #656255;
}

/* .introjs-skipbutton {
    background: #656255de ;
}

.introjs-skipbutton:hover {
    background: #656255b4 ;
} */

/* .customWideTooltip {
    min-width: 600px;
    margin-top: -250px !important;
} */

/* -  -  -  -  - */


.emailSimContainer {
    pointer-events: none;
    /* margin-bottom: 400px; */
    position: relative;
}

@media (max-width: 920px) {
    .introjs-tooltip{
        /* margin-top: 275px !important; */
        position: relative !important;
    }
}



.showOpenEmailAnimation,
.showReturnToInboxAnimation {
    position: absolute;
    z-index: 99999999999;
    animation: slideUp 4s ease forwards; 
}

/* toggle where cursor goes to */
.showOpenEmailAnimation {
    left: 45px; 
    top: 125px;
}

.showReturnToInboxAnimation {
    left: 63px; 
    top: 67px;
    /* z-index: 999999999999999999;
    width: 1000px; */
}

.animate {
    animation: slideInFromBottomRight 3s ease forwards;
}

.showOpenEmailAnimation img,
.showReturnToInboxAnimation img {
    /* width: 220px;
    height: 300px; */
    width: 50%;
    transform: scale(0.426389);
    transform-origin: left top;
    pointer-events: auto;
}

@keyframes slideUp {
    from {
        transform: translate(100%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }

}

/* tooltip label */
#report:hover::after,
#block:hover::after,
#delete:hover::after {
    content: attr(data-tooltip); /* Use the data-tooltip attribute to store tooltip text */
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 99999999;
}

/* tooltip arrow */
#report:hover::before,
#block:hover::before,
#delete:hover::before {
    background-color: white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    top: -12px;
    z-index: 99999999999;
}


/* #report::after {
    content: "Report";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 9999999999;
}

#block::after {
    content: "Block";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 9999999999;
}

#delete::after {
    content: "Delete";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 9999999999;
} */



/* css for dynamically added tooltips */
/* 
.report-button,
.block-button,
.delete-button {
    position: relative;
}

.report-tooltip
.block-tooltip
.delete-tooltip {
    display: none;
    position: absolute;
    bottom: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 1;
}

.report-button:hover .report-tooltip,
.block-button:hover .block-tooltip,
.delete-button:hover .delete-tooltip {
    display: block;
} */
