#page-article .pusher {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    /* background-color: red !important; */
    /* margin-top: -20px; */
}