
#blue-upper {
    background: linear-gradient(to bottom, #3757A6, #091D32);
    color: white;
    z-index: 0;
    padding-top: 80px;
}

#white-lower {
    background-color: transparent;
    color: black;
    z-index: 0;
    padding-top: 50px;
}

h1.ui.header {
    font-size: 2.5rem;
    color: white;
}

/* .ui.container {
    font-size: 1.25rem;
} */

/* Add the following styles */
#video-overlay {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-overlay .inner-video {
    position: absolute;
    top: -170px;
}

p#about {
    margin-top: 20px;
}

p#aim {
    padding-bottom: 50px;
}

.ui.raised.segment {
    position: relative !important;
    overflow: hidden !important;
}

#raised-content {
    margin-left: 15px;
    margin-right: 15px;
}

.ui.raised.segment .ui.image.banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px !important;
}

.ui.raised.segment .ui.image.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

hr {
    border: none;
    height: 15px;
    background-color: #6BBCC7;
    margin: 0;
    width: 125%;
    margin-left: -50px;
    margin-top: -20px;
    margin-bottom: 30px;
}

p {
    line-height: 1.6; 
}

#in-progress {
    font-size: 2.75rem;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
}

.home-mod-title {
    font-size: 2rem !important;
    font-weight: 600 !important;
    font-family: 'Titillium Web', sans-serif !important;
}

/* Dart alert hub styles */

.hub-container {
    padding-bottom: 40px;
}

.hub-container #raised-content {
    padding-top: 15px;
}

div.ui.header.hub-alert {
    font-size: 1.6rem; 
    font-family: 'Titillium Web', sans-serif;
}

i.exclamation.circle.icon {
    color: #D61A69; 
    font-size: 1.8rem;
}

.alert-info {
    color:black; 
    margin-bottom: 0px;
}

.alert-learn-more { 
    color: black;
    font-weight:lighter;
    background: transparent !important; 
    padding: 10px; 
    margin-right: -15px; 
}

.alert-learn-more span {
    text-decoration: underline; 
    font-weight: bold;
}

