/* classified document styles */
.ui.top.attached.fluid.segment {
    padding:0;
    margin:0;
    border: 4px solid rgba(34, 36, 38, 0.6);
    background: #e7e7e88b;
}

.ui.top.attached.fluid.segment #classification {
    padding: 1.25rem;
    padding-left: 2rem;
}

.ui.top.attached.fluid.segment #classified-by {
    padding: 1.25rem;
    padding-left: 1rem;
    border-left: 4px solid rgba(34, 36, 38, 0.6);
}

.ui.attached.segment#middle-section-outline {
    margin-top:-3px;margin-left:0.05px;border: 4px solid rgba(34, 36, 38, 0.6);
}

.ui.bottom.attached.segment {
    margin-top:-3px;
    margin-left:0.05px;
    border: 4px solid rgba(34, 36, 38, 0.6) !important; 
    margin-bottom: 75px;
}


/* avatar start / continue course section styles */
#avatar-encourage-start {
    min-height: 450px; 
    margin-bottom: -60px;
}

#avatar-encourage-start .speech-div {
    min-height: 175px; 
    width: 100%;
}

#avatar-encourage-start .centerme {
    text-align: center;
}

#avatar-encourage-start .centerme button.ui.massive.blue.button {
    margin-top: 0px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -60%);
}

#avatar-encourage-start .ui.large.label.blue-pointing#speechBubble {
    margin-top: 0px;  
    float: right;
}

#avatar-encourage-start #speechBubble p#speechText {
    text-align: left;
}

#avatar-encourage-start img.dart_image.ui.medium.image {
    margin: 0 auto; 
    width: 25%; 
    float: right; 
    z-index: -1;
}

/* end */


.card-image {
    height: 200px !important;
    object-fit: cover !important;  
}

.further-learning {
    background: #E7F3F8; 
    padding-top: 5vh;
    padding-bottom: 5vh; 
    z-index: 100; 
    margin-top: 0px;
}

.further-learning .ui.card .header {
    font-size: 1.5rem !important;
    color: black !important;
    font-weight: bold !important;
    font-family: 'Titillium Web', sans-serif !important;
}

.further-learning .ui.card .extra.content {
    margin: 0; 
    padding: 0;
}

.further-learning .ui.card .description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75;
    font-weight: normal;
}

.further-learning .ui.card button.ui.fluid.blue.button {
    border-radius: 0;
}


.further-learning .ui.card:hover {
    box-shadow: 0 0 11px rgba(33, 101, 174, 0.5);
    cursor: pointer;
}

.nine.wide.column h3 {
    font-size: 1.75rem; 
    margin-left: -20px;
}
    
.ui.vertical.basic.segments#course-outline {
    width: 75%; 
    margin: 0 auto;
}

@media (max-width: 1000px) {
    #avatar-encourage-start {
        margin-bottom: -120px !important;
    }
}
        
@media (max-width: 900px) {
    .ui.vertical.basic.segments#course-outline {
        width: 100%; 
    }

}


hr {
    border: 1px solid #DEDEDF;
}

.ui.header.red {
    color: #C62D2D;
}
#course-outline .row {
    /* margin-top: 0;
    margin-bottom: 0; */
    padding-top: 0;
    padding-bottom: 0;
}

.ui.divider {
    border: 0px solid transparent !important;
}

/* #course-outline .ui.basic.segment:hover {
    box-shadow: 0 0 11px rgba(33, 101, 174, 0.5);
    background-color: #d3d3d3;
    cursor: pointer;
} */


/* FIX stacking order of after decoration: https://stackoverflow.com/questions/3032856/is-it-possible-to-set-the-stacking-order-of-pseudo-elements-below-their-parent-e  */
#course-outline .ui.basic.segment {
    position: relative;
    z-index: 1;  
}

#course-outline .ui.basic.segment:after {
    content: "";
    position: absolute;
    /* width: 90%; */
    width: 75%;
    height: 100%;
    background: #E7E7E8;
    left: 10%;
    bottom: 0;
    /* height: .6em; */
    z-index: -1;  
}

.ui.inverted.blue.button, .ui.inverted.blue.buttons .button {
    background-color: transparent;
    box-shadow: 0 0 0 2px #2185D0 inset;
    color: #2185D0;
}

.ui.inverted.blue.button:hover, .ui.inverted.blue.buttons .button:hover {
    background-color: #2185D0;
}

/* .blue-hover:hover {
    box-shadow: 0 0 11px rgba(33, 101, 174, 0.5);
    cursor: pointer;
}

.ui.divider {
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 5rem !important;
    margin-top: -18px !important;
    border: 1px solid black!important;
} */

.fake-checkbox {
    width: 40px;
    height: 40px;
    border: 4px solid #555;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    position: relative;
}

.fake-checkbox.completed::after {
    content: '\2713';
    display: inline-block;
    font-size: 4rem;
    font-weight: bolder;
    /* color: #3757A6; */
    color: #C62D2D;
    padding: 0 2px 0 0;
    position: absolute;
    bottom: -32px;
}

.polaroid-text {
    position: absolute; 
    bottom: 30px; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    color: black; 
    font-size: 1.25rem;
    line-height: 1.6;
}

/* inline so the bubbles like 100 learners today will show up next to it */
#mod-title {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Titillium Web', sans-serif;
}


/* semantic ui ordered lists don't have dots after numbers, so I'm using the normal lists but imported the needed semantic ui styles here*/
.learning-objectives {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding: 0em 0em;
    font-size: 1.25rem;
}

/* from sementic ui, see note above in .learning-objectives comment */
li {
    display: list-item;
    table-layout: fixed;
    /* list-style-type: none; */
    list-style-position: outside;
    padding: 0.21428571em 0em;
    line-height: 1.14285714em;
}

/* .learning-objectives li { 
    margin-top: 20px;
    margin-bottom: 20px;
} */

.bubble-container {
    display: inline-block; 
    position: absolute;
    margin-left: 10px;
}

.bubbleText {
    background-color: white; 
    border: 1px solid #6BBCC7;
    font-size: 0.8rem;
    padding: 6px; 
    border-radius: 20px; 
    margin-left: 20px;
}


#banner_pic {
    margin-top: 5px;
}

/* entire badge grid */
#badgesGrid {
    /* background-color: green; */
    margin: 0 auto;
    width: 75%;
}

/* square for each badge */
#badgesGrid .column .content {
    /* background-color: red; */
    text-align: center;
    font-size: 1.2rem;
}

#downloadGrid .button{
    border: 1px solid #6BBCC7;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    /* background-color: white !important;
    color: darkgray !important; */
}

a.ui.fluid.labeled.icon.button {
    background-color: white;
}

.graySquare {
    background-color: #D9D9D9 !important;
    font-size: 1.5rem !important;
    /* color: transparent; */
    /* padding-left: 30%;
    margin-right: 300px !important; */

}

.inline .download {
    position: absolute;
    right: 15px;
    /* padding-left: 100px !important; */

    /* padding-left: 50px !important;
    padding-bottom: 35px !important; */
}

.banner {
    /* background-color: blue; */
    height: 200px;
    width: 100%;
    max-width: 1200px;    
    /* overflow: hidden; */
    position: relative;
}
  
.banner img {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    /* allow us to adjust position of picture inside of the banner */
    position: absolute;

    /* scaled proportionally to completely cover the entire container cropping some parts of the content */
    object-fit: cover;

    /* object-position: center; */

    /* keep image's original size */
    /* object-fit: none; */
    /* Adjust the percent here to move img up/down to select portion of it you want visible */
    /* object-position: center 0%; */

}

#earned_badge {
    width: 50px;
}

#submod-progress-bar .item.active {
    background-color: #6BBCC7; 
    color: white; 
    border-right: 2px solid white;
}

#submod-progress-bar .item {
    background-color: darkgray;
    color: white; 
    border-right: 2px solid white;
}

#submod-progress-bar .item:nth-child(3) {
    border-right: none;
}

/* change the default formantic ui hollow bullets to the solid filled in ones*/
ul {
    list-style-type: disc;
}

/* make underlined text also bolded */
u {
    font-weight: bold;
}

.ui.circular.small.image {
    background: #C4C4C4 !important;
    overflow: hidden;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
}

.ui.circular.tiny.image {
    background: #C4C4C4 !important;
    overflow: hidden;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    margin: 15px;
}

.ui.large.left.pointing.label {
    background: #3757A6;
    color: white;
}

.ui.raised.segment.chat-container {
    height: 500px;
    overflow-y: scroll;
    position: relative; 
    padding: 0 !important;
    background-color: #F1EDED; 
}

.text-message {
    background-color: #F1EDED; 
    width: 100%;
}

.chat-container p {
    font-size: 1.25rem;
}

#encounter_container,
#final_container {
    clear: both; 
    float: right; 
    margin-top: 20px;
}

#encounter_label,
#final_label {
    float: right; 
    display: none; 
    align-items: center; 
    justify-content: center; 
}

#section-grid {
    margin: auto;
}

#section-grid .four.wide.column {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-right: 30px;
}

#section-grid .four.wide.column p {
    text-align: center; 
    margin-top: 0.5em;
}

.ui.huge.label.lockContainer {
    text-align: center;
    background: #3757A6;
    border: 3px solid #3757A6; 
    border-radius: 10px; 
    padding: 40px 80px;
}

.ui.huge.label.lockContainer.unlocked {
    text-align: center;
    background: #6BBCC7;
    border: 3px solid #6BBCC7; 
    border-radius: 10px; 
    padding: 40px 80px;
}

i.big.lock.icon,
i.big.unlock.icon {
    margin: 0 auto; 
    color: white;
}




/* .ui.huge.blue.button {
    background-image: linear-gradient(rgb(86, 124, 220), #3757A6); 
    color: white; 
    border: none; 
    padding: 15px 30px;
    font-size: 1.2rem; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.ui.huge.blue.button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.3);
} */
