
body {
    /* background-color: #919191; */
    /* background-color: white; */
    /* background-color: #F5F8FA; */
    /* overflow-y: hidden !important; */
    /* font-size: 1.25rem; */
    line-height: 1.6;

}


#page-header{ 
    min-height:50px;
}

/* white text top part of header */
#module-header {
    height: 50px;
    margin: 0;
    padding: 0;
}


.delete-tooltip,
.block-tooltip,
.report-tooltip {
    display: none;
}