#nav-menu {
    /* margin-bottom: 25px !important; */
    width: 90vw;
}

/* #backButton,
#nextButton {
    
} */

#saveExitButton {
    background-color: #d6e03f;
    color: #151c22;
}

#nav-container {
    width: 100%;
    display: flex;
    margin: 0 auto !important;
    text-align: center !important;
    justify-content: center !important;
    padding-top: 10px;    
    padding-bottom: 10px;
    z-index: 1000;
    align-items: center !important; 
}

#backButton {
    border-radius: 30px !important;  
    color: #495057 !important;
    border: 1px solid #495057;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease;
    font-family: stolzl, helvetica nueue, heltvetica, sans-serif;
    font-weight: 400;
}

/* when hovering move back button to the left */
#backButton:hover {
    transform: translateX(-5px);
}

#nextButton {
    border-radius: 30px !important;  
    /* color: #495057 !important;
    border: 1px solid #495057; */
    background-color: #3757A6 !important;
    color: white !important;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease;
    font-family: stolzl, helvetica nueue, heltvetica, sans-serif;
    font-weight: 400;
}

#nextButton:hover {
    transform: translateX(5px);
    /* inset shadow instead of border used so that it doesn't doesn't affect the layout (push everything over 2px)*/
    box-shadow: inset 0 0 0 2px #7AC4E0;
}

#skipButton {
    border-radius: 30px !important;  
    color: #3757A6 !important;
    border: 1px solid #3757A6;
    padding-left: 30px;
    padding-right: 30px;
    font-family: stolzl, helvetica nueue, heltvetica, sans-serif;
    font-weight: 400;
}

button.ui.big.button.chatBotButton {
    border-radius: 30px !important; 
    background-color: white; 
    color: black !important;
    border: 1px solid #7AC4E0;
    padding-left: 30px;
    padding-right: 30px;
}

button.ui.big.button.chatBotButton:hover {
    background-color: #7AC4E0; 
}

.chat-container .ui.large.right.pointing.label {
    background: #7AC4E0 !important;
    color: black;
    float: left;
}

#sign-up-button {
    border-radius: 30px !important;  
    background-color: #3757A6 !important;
    color: white !important;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease;

}

#sign-up-button:hover {
    transform: translateX(5px);
    box-shadow: inset 0 0 0 2px #7AC4E0;
}

@media (max-width: 430px) {
    #nextButton {
        padding-left: 10px;
        padding-right: 10px;
    } 
    #skipButton {
        padding-left: 10px;
        padding-right: 10px;
    }
    #backButton {
        padding-left: 10px;
        padding-right: 10px;
    }
}
