/* Override Semantic UI CSS */
.ui.form .field input:not(:placeholder-shown):invalid {
    /* color: initial;  */
    /* background: initial;  */
    /* border-color: initial;  */
    /* border-radius: initial;  */
    /* box-shadow: initial;  */
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem; 
    box-shadow: 0 0 0 0 transparent inset;
    background: #fff;
    color: rgba(0,0,0,.87);
}

.ui.form .field input:not(:placeholder-shown):invalid:focus {
    border-color: #85B7D9; /* You can use your preferred shade of blue here */
}