extends ../../ui_layout

block content
  .ui.container
    br
    .ui.breadcrumb
      a.section(href="/") Home
      i.right.angle.icon.divider
      a.section(href="/courses") Missions
      i.right.angle.icon.divider
      .active.section Romance & Friendship Scams
    br
    h1.ui.header.red#mod-title(style="font-weight: bold !important;") Romance & Friendship Scams
    .ui.top.attached.fluid.segment
      .ui.grid 
        .row
          .eight.wide.column#classification
            strong CLASSIFICATION: 
            | TOP SECRET 
          .eight.wide.column#classified-by 
            strong CLASSIFIED BY: 
            | DART HQ
    .ui.attached.segment#middle-section-outline
      .ui.grid 
        .row 
          .twelve.wide.column
            p Sophia needs your help! While attempting online dating, she has become entangled with romance scammers who are manipulating her emotions.
            //- p Uncover how scammers exploit romance and friendship to carry out their fraudulent schemes. 
            p Uncover how scammers manipulate romance and friendship for fraud. You'll learn how these scams work, how to spot them, and how to protect yourself and others.
            if user.moduleProgress.identity.link === "/course-player?module=romance&section=challenge&page=intro" 
              button.ui.huge.blue.button(onclick="window.location='/course-player?module=romance&section=challenge&page=intro'") Start Mission
            else 
              button.ui.huge.blue.button(onclick="window.location='/course-player?module=romance&section=challenge&page=intro'") Continue Mission

          .four.wide.column 
            img(src="/images/johnson.png" alt="johnson family is confused")
      br

      hr
      
      h2.ui.header.centered#learn-title(style="font-weight: 500 !important;")  
        .content
          i.search.icon
          | Activities
      .ui.vertical.basic.segments#course-outline
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.challenge === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Challenge
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=challenge&page=intro'") Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.concepts === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Concepts
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=concepts&page=objectives'") Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.consequences === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Consequences
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=consequences&page=objectives'") Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.consequences === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Stage 1: Fake Profiles
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=fake&page=objectives'") Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.consequences === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Stage 2: Contact & Groom
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=contact&page=objectives'") Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.consequences === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Stage 3: Scam Requests
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=requests&page=objectives'") Start
        //- .ui.divider
        //- .ui.basic.segment
        //-   .ui.grid
        //-     .row
        //-       .two.wide.centered.column
        //-         if(user.moduleStatus.romance.techniques === 100)
        //-           span.fake-checkbox.completed
        //-         else
        //-           span.fake-checkbox
        //-       .nine.wide.column
        //-         h3 Recognize Techniques
        //-       .five.wide.right.aligned.column
        //-         .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=techniques&page=objectives'") Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.protection === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Methods of Protection
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=protection&page=objectives'") Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.reporting === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Reporting
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=reporting&page=objectives'") Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.practice === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Practice
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=practice&page=objectives'") Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                if(user.moduleStatus.romance.evaluation === 100)
                  span.fake-checkbox.completed
                else
                  span.fake-checkbox
              .nine.wide.column
                h3 Evaluation
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=evaluation&page=intro'") Start
        .ui.divider
        //- .ui.basic.segment
        //-   .ui.grid
        //-     .row
        //-       .two.wide.centered.column
        //-         span.fake-checkbox
        //-       .nine.wide.column
        //-         h3 Reflection
        //-       .five.wide.right.aligned.column
        //-         .ui.blue.inverted.button.small(onclick="window.location='/course-player?module=romance&section=reflection&page=intro'") Start
        //- .ui.divider

      h2.ui.header.centered(style="margin-top: 40px; margin-bottom: 40px;") 
        .content(style="position: relative;")  
          | Complete all activities to earn a certificate
          img(src="/images/certificate-icon.png" style="width: 50px; height: 50px; position: absolute; left: -55px; top: -5px" alt="certificate icon")

    .ui.bottom.attached.segment
      h2(style="color: #285362; font-weight: 500 !important;") Learning Materials 
      p If you would like to learn the material offline, you can download the content below:
      div.ui.two.column.stackable.grid#downloadGrid
        .column
          h3.glossary.pdf Identity Theft Course PDF
          a.ui.inline.fluid.labeled.icon.button(href='/pdf/identity-glossary.pdf', download='identity_theft.pdf')
            i.download.icon.graySquare
            .inline
              p Download Course PDF

        .column
          h3.glossary.pdf Identity Theft Glossary PDF
          a.ui.inline.fluid.labeled.icon.button(href='/pdf/identity-glossary.pdf', download='glossary.pdf')
            i.download.icon.graySquare
            .inline
              p Download Glossary PDF
                //- i.large.download.icon
      br
    .ui.grid.computer.only.tablet.only#avatar-encourage-start
      .row
        .sixteen.wide.column
          .speech-div
            .centerme
              if user.moduleProgress.romance.link === "/course-player?module=romance&section=challenge&page=intro" 
                button.ui.massive.blue.button(onclick="window.location=user.moduleProgress.romance.link") Start Mission
              else 
                button.ui.massive.blue.button(onclick="window.location=user.moduleProgress.romance.link") Continue Mission

            img.dart_image.ui.medium.image(src=user.avatarImg alt="your detective character")

            .ui.large.label.blue-pointing#speechBubble
              if user.moduleProgress.romance.link === "/course-player?module=romance&section=challenge&page=intro" 
                p#speechText
                  | Sophia is counting on you! Click 'Start Mission' to begin. 
              else 
                p#speechText
                  | Welcome back! Click 'Continue Mission' to pick up where you left off.
    .ui.centered.grid.mobile.only
      if user.moduleProgress.romance.link === "/course-player?module=romance&section=challenge&page=intro" 
        button.ui.massive.blue.button(onclick="window.location=user.moduleProgress.romance.link" style="margin-top: 0px; margin-bottom: 60px;") Start Mission
      else 
        button.ui.massive.blue.button(onclick="window.location=user.moduleProgress.romance.link" style="margin-top: 0px;  margin-bottom: 60px;") Continue Mission

    br
    br
  .further-learning
    h2.ui.header.centered.section-title(style="padding-bottom: 2vh;")
      .content
        | Recommended Missions
    .ui.container
      .ui.three.stackable.cards
        .ui.card
          .image
            img.card-image(src="/images/square-sales.png", alt="Sales Scams")
          .content
            .header Sales Scams
            .description
              | Coming soon
          .extra.content
            button.ui.fluid.big.blue.button Start Learning

        .ui.card
          .image
            img.card-image(src="/images/square-grandparent.png", alt="Grandparent Scams")
          .content
            .header Grandparent Scams
            .description
              | Coming soon
          .extra.content
            button.ui.fluid.big.blue.button Start Learning

        .ui.card
          .image
            img.card-image(src=public_resources+"/images/missions/romance-scams-banner.jpg", alt="Romance Scams")
          .content
            .header Romance Scams
            .description
              | Coming soon
          .extra.content
            button.ui.fluid.big.blue.button Start Learning

block styles
  link(rel='stylesheet', href='/css/module-about.css') 