extends ../../ui_layout


block content
    .ui.container
        .limit
            h1.ui.header.large#learn-title
                .content 
                    i.book.icon
                    | References
            br             
            i.source [1] Anatomy of the Online Dating Scam,  Springer Link, 
                a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') 'https://link.springer.com/article/10.1057/sj.2012.57' 
            br
            i.source [2]
                a(href='https://www.pewresearch.org/internet/wp-content/uploads/sites/9/2023/01/PI_2023.02.02_Online-Dating_TOPLINE.pdf' target='_blank')  Pew Research Center, 2022 Topline Questionnaire American Trends Panel 
                | &
                a(href='https://www.forbes.com/health/dating/best-senior-dating-sites/' target='_blank')  Forbes Best Senior Dating Sites
            br
            i.source [3] Cryptocurrency. Forbes. 
                a(href='https://www.forbes.com/advisor/investing/cryptocurrency/what-is-cryptocurrency/' target='_blank') 'https://www.forbes.com/advisor/investing/cryptocurrency/what-is-cryptocurrency/' 
            br
            i.source [4] Money Mules,  FBI, 
                a(href='https://www.fbi.gov/how-we-can-help-you/scams-and-safety/common-scams-and-crimes/money-mules' target='_blank') 'https://www.fbi.gov/how-we-can-help-you/scams-and-safety/common-scams-and-crimes/money-mules' 
            br
            i.source [5] Consequences of Romance Scams. FTC.gov  
                a(href='https://www.ftc.gov/news-events/data-visualizations/data-spotlight/2023/02/romance-scammers-favorite-lies-exposed' target='_blank') 'https://www.ftc.gov/news-events/data-visualizations/data-spotlight/2023/02/romance-scammers-favorite-lies-exposed' 
            br
            i.source [6] Example of Financial Consequences.  
                a(href='https://www.finrafoundation.org/files/non-traditional-costs-financial-fraud' target='_blank') 'https://www.finrafoundation.org/files/non-traditional-costs-financial-fraud' 
            br
            i.source [7] Example of Emotional Consiequence. 
                a(href='https://abc7news.com/scams-targeting-the-elderly-popular-sweepstakes-old-woman-commits-suicide-after-getting-scammed/3126945/' target='_blank') 'https://abc7news.com/scams-targeting-the-elderly-popular-sweepstakes-old-woman-commits-suicide-after-getting-scammed/3126945/' 
            br
            i.source [8] Tainted Love: A Systematic Review of Online Romance Fraud. 
                a(href='https://doi.org/10.1093/iwc/iwad048' target='_blank') 'https://doi.org/10.1093/iwc/iwad048' 
            br
            i.source [9] Catphishing. Mimecast. 
                a(href='https://www.mimecast.com/content/what-is-catphishing/#:~:text=Catphishing%2C%20or%20catfishing%2C%20is%20a%20type%20of%20online%20scam%20where,relationship%20or%20a%20fraudulent%20scheme.' target='_blank') 'https://www.mimecast.com/content/what-is-catphishing/#:~:text=Catphishing%2C%20or%20catfishing%2C%20is%20a%20type%20of%20online%20scam%20where,relationship%20or%20a%20fraudulent%20scheme.' 
            br
            i.source [10] Understanding Romance Scammers Through the Lens of Their Victims: Qualitative Modeling of Risk and Protective Factors in the Online Context. 
                a(href='https://doi.org/10.1007/s12103-022-09706-4' target='_blank') 'https://doi.org/10.1007/s12103-022-09706-4' 
            br
            i.source [11] The Role of Love stories in Romance Scams: A Qualitative Analysis of Fraudulent Profiles, 
                a(href='https://www.cybercrimejournal.com/pdf/Koppetal2015vol9issue2.pdf' target='_blank') 'https://www.cybercrimejournal.com/pdf/Koppetal2015vol9issue2.pdf' 
            br
            i.source [12]
                a(href='https://azbigmedia.com/lifestyle/10-apps-where-people-are-scammed-the-most-in-2021/' target='_blank') 'AZ Big Media, 10 Apps Where People Were Scammed the Most in 2021'
                | & 
                a(href='https://www.quora.com/What-are-the-most-popular-chat-apps-used-by-scammers' target='_blank') 'Quora Most Popular Chat Apps Used by Scammers'
            br
            i.source [13] Mapping Computer Mediated Communication Theories and Persuasive Strategies in Analysing Online Dating Romance Scam,
                a(href=' https://www.xisdxjxsu.asia/173756e3573d506fecdec60d338dfe30.pdf' target='_blank') ' https://www.xisdxjxsu.asia/173756e3573d506fecdec60d338dfe30.pdf' 
            br
            i.source [14] Online Romance Scams: Relational Dynamics and Psychological Characteristics of the Victims and Scammers. A Scoping Review, Clinical Practice & Epidemiology in Mental Health,
                a(href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7254823/ ' target='_blank') 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7254823/ ' 
            br
            i.source [15] Online Romance Scams: Relational Dynamics and Psychological Characteristics of the Victims and Scammers. A Scoping Review, Clinical Practice & Epidemiology in Mental Health,  
                a(href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7254823/' target='_blank') 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7254823/' 
            br
            i.source [16] “I knew it was a scam”: Understanding the triggers for recognizing romance fraud, 
                a(href='https://onlinelibrary.wiley.com/doi/epdf/10.1111/1745-9133.12645' target='_blank') 'https://onlinelibrary.wiley.com/doi/epdf/10.1111/1745-9133.12645' 
            br
            i.source [17] Crypto scam. AARP. 
                a(href='https://www.aarp.org/money/scams-fraud/info-2023/glossary-of-scam-terminology.html#listTitleOne' target='_blank') 'https://www.aarp.org/money/scams-fraud/info-2023/glossary-of-scam-terminology.html#listTitleOne' 
            br
            i.source [18] Love Bombing. University of Colorado Boulder- Health and Wellness Services. 
                a(href='https://www.colorado.edu/health/blog/love-bombing' target='_blank') 'https://www.colorado.edu/health/blog/love-bombing' 
            br
            i.source [19] Romance/Friendship Scams. FBI. 
                a(href='https://www.fbi.gov/how-we-can-help-you/scams-and-safety/common-scams-and-crimes/romance-scams' target='_blank') 'https://www.fbi.gov/how-we-can-help-you/scams-and-safety/common-scams-and-crimes/romance-scams' 
            
