#financial.hidden
    .ui.container#financial-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Reporting Financial Identity Theft
            .ui.bulleted.list 
                .item Contact your financial institution immediately if you suspect an unauthorized transaction from your account or for a lost/stolen debit card. Follow the necessary steps put forth by your financial institution’s fraud department to protect your account from future fraudulent activity.
                .item Follow the necessary steps to avoid future fraud
                    .list(style="margin-top: -10px;")
                        .item Contact the financial institution or business to dispute the account and request closure. 
                        .item Place fraud alert on financial activities.
