#financial.hidden
    .ui.container#financial-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-financial Reporting Financial Identity Theft
            p#narrate-subheader-financial 
                span Reach out to your bank promptly if you believe there is an unauthorized transaction or if your debit card is lost or stolen. Follow the procedures outlined by your bank's fraud department to safeguard your account against potential fraudulent activities in the future. Take the crucial measures to prevent future fraud:
            .ui.bulleted.list 
                .item#narrate-1-financial  
                    span Reach out to the financial institution or business to dispute the account and request closure. 
                .item#narrate-2-financial  
                    span Place a fraud alert on your financial activities.

