#medical.hidden
    .ui.container#medical-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-medical Reporting Medical Identity Theft
            .ui.bulleted.list 
                .item
                    span#narrate-1-medical
                        span Contact your health care provider first to see if it's a mistake. 
                    span#narrate-2-medical
                        span Your health care provider must respond to your request within 30 days and must notify other health care providers who may have the same mistake in their records.
                    a(href='https://consumer.ftc.gov/articles/what-know-about-medical-identity-theft' target="_blank" rel="noopener noreferrer") 
                        sup [1]
                .item
                    span.narrate-nested-group-medical
                        span#narrate-3-medical
                            span If your issue is not resolved by your provider, report the questionable charges to 1-800-MEDICARE or contact your local Senior Medicare Patrol for assistance: 1-877-808-2468 or 
                        a(href="https://smpresource.org/" target="_blank" rel="noopener noreferrer") 
                            span#narrate-link-medical www.SMPResource.org
                .item#narrate-4-medical 
                    span Suspect Medicare Fraud? Contact the Office of Inspector General's fraud hotline:
                .ui.bulleted.list
                    .item
                        span.narrate-nested-group-medical
                            span#narrate-5-medical  
                                span Online:
                            a(href="https://oig.hhs.gov/fraud/report-fraud/" target="_blank" rel="noopener noreferrer") 
                                span#narrate-link-2-medical oig.hhs.gov/fraud/hotline
                            span#narrate-6-medical 
                                span Phone: 1-800-447-8477
                    //- .item TTY: 1-800-377-4950 | Fax: 1-800-223-8164
            i.source *Sources: 1. Federal Trade Commission Consumer Advice 
                a(href='https://consumer.ftc.gov/articles/what-know-about-medical-identity-theft' target='_blank') 'What To Know About Medical Identity Theft' 