#takeaways.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            span#narrate-title-takeaways Congratulations!
                    #text
                        p#narrate-1-takeaways 
                            span You've completed "Reporting" and earned a gold badge!  
                        p#narrate-2-takeaways
                            span You now know:
                        .ui.bulleted.list
                            .item#narrate-3-takeaways(style="line-height: 1rem;")
                                span How to report identity theft
                        p#narrate-4-takeaways 
                            span This knowledge will help you keep yourself and others safe from identity theft.
                .six.wide.center.aligned.column
                    img.ui.small.centered.image#earned_badge(src= public_resources + '/badges/identity/alert_advocate.svg' onmouseenter="animateBadge()" style="margin-bottom: -10px; width: 125px;")
                    h3 <strong>Alert</strong>
                        br
                        | <strong>Advocate</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")