#tax.hidden
    .ui.container#tax-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-tax Reporting Tax Identity Theft
            .ui.bulleted.list 
                .item#narrate-subtitle-tax
                    span If you know or suspect you are a victim of tax-related identity theft, the IRS recommends these actions.
                    .list 
                        .item#narrate-1-tax 
                            span Respond immediately to any IRS notice: Call the IRS number provided.
                        .item#narrate-2-tax 
                            span Visit 
                            <a href="https://www.irs.gov/identity-theft-central" class="visitLink">IRS Identity Theft Central</a> 
                            span if any fraudulent activities regarding tax are made. You can also call 800-908-4490 for assistance.  
