#when.hidden
    .ui.container#when-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-when When you have your identity stolen:
            .ui.bulleted.list
                .item#narrate-1-when 
                    span Report identity theft and get a recovery plan from the 
                    a.visitLink(href="https://www.ftc.gov/news-events/topics/identity-theft/report-identity-theft") 
                        span Federal Trade Commission
                    span . 
                    span You can also report it by phone at 1-877-438-4338.
                .item#narrate-2-when 
                    span Contact your local police department.
                .item#narrate-3-when 
                    span Tell your family, friends, and other people who can help you to minimize the damage and subsequent identity theft.
                .item#narrate-4-when 
                    span Change passwords for other accounts.