#definitions.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | What are Tech Support Scams?
                    p When someone gets a fake phone call or a pop-up warning online claiming there's a serious problem, like a virus, on the their device, it’s a tech support scam. The scammer tries to convince the person to pay for fake technical support services to fix the issue. They often demand payment in hard-to-trace ways like wiring money, gift cards, or cryptocurrency
                        sup 
                            a(href='https://consumer.ftc.gov/articles/how-spot-avoid-and-report-tech-support-scams' target='_blank') [1]
                            a(href='https://states.aarp.org/virginia/tech-support-scams#:~:text=These%20scams%20start%20with%20an,you%20they%20find%20something%20terrible' target='_blank') [2]

                        //- Reflecting on the severe impact these scams have had, Michael Delaney, a Chicago-based lawyer who specializes in elder law, said:
                    i.source [1] FTC. 
                        a(href='https://consumer.ftc.gov/articles/how-spot-avoid-and-report-tech-support-scams' target='_blank') How To Spot, Avoid, and Report Tech Support Scams. 
                    i.source [2] AARP. 
                        a(href='https://states.aarp.org/virginia/tech-support-scams#:~:text=These%20scams%20start%20with%20an,you%20they%20find%20something%20terrible' target='_blank') Tech Support Scams.


                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src='/images/tech/filler.png' style='margin-left: auto; margin-right: auto')
