#initial.hidden
    .ui.container#raised-container.center-layout(style="")
        h1.ui.header.large#learn-title
            .content#narrate-1-intro-video
                i.book.icon
                span How pop-up tech support scams work: Step 1
                sup 
                    a(href='https://consumer.ftc.gov/articles/0557-infographic-how-spot-tech-support-scam' target='_blank') [1]

                //- Reflecting on the severe impact these scams have had, Michael Delaney, a Chicago-based lawyer who specializes in elder law, said:
        img.ui.centered.image(src=public_resources + '/images/modules/tech/popup-1.png')
        i.source [1] FTC. 
            a(href='https://consumer.ftc.gov/articles/0557-infographic-how-spot-tech-support-scam' target='_blank') Infographic: How to Spot a Tech Support Scam.  
