//- mixin initializeScreen(){
//-     - let puzzelTable = document.getElementById("puzzel");
//-     puzzelArrayData = preparePuzzelArray();
//-     for ( var i = 0; i < puzzelArrayData.length ; i++ ) {
//-     var row = puzzelTable.insertRow(-1);
//-     var rowData = puzzelArrayData[i];
//-     for(var j = 0 ; j < rowData.length ; j++){
//-         var cell = row.insertCell(-1);
//-         if(rowData[j] != 0){
//-         var txtID = String('txt' + '_' + i + '_' + j);
//-         cell.innerHTML = '<input type="text" class="inputBox" maxlength="1" style="text-transform: lowercase" ' + 'id="' + txtID + '" onfocus="textInputFocus(' + "'" + txtID + "'"+ ')">';
//-         }else{
//-         cell.style.backgroundColor  = "black";
//-         }
//-     }
//-     }
//-     addHint();
//- }


//- mixin function preparePuzzelArray(){
//-     var items = [	
//-         [0, 0, 0, 0, 'p', 0, 0, 0, 0, 0],
//-         [0, 0, 0, 0, 'u', 0, 0, 0, 0, 0 ],
//-         [0, 0, 0, 0, 'n', 0, 'b', 0, 0, 0],
//-         [0, 'h', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd'],
//-         [0, 0, 0, 0, 0, 0, 'n', 0, 0, 'e'],
//-         [0, 0, 0, 0, 0, 0, 'g', 0, 0, 'l'],
//-         [0, 0, 'm', 'u', 'm', 'b', 'a', 'i', 0, 'h'],
//-         [0, 0, 0, 0, 0, 0, 'l', 0, 0, 'i'],
//-         [0, 0, 0, 0, 0, 0, 'o', 0, 0, 0],
//-         ['k', 'a', 's', 'h', 'm', 'i','r', 0, 0, 0],
//-         [0, 0, 0, 0, 0, 0, 'e', 0, 0, 0]
//-     ];
//-     return items;
//- }

//- mixin function addHint(){
//-     document.getElementById("txt_0_4").placeholder = "1";
//-     document.getElementById("txt_2_6").placeholder = "2";
//-     document.getElementById("txt_3_1").placeholder = "3";
//-     document.getElementById("txt_3_9").placeholder = "4";
//-     document.getElementById("txt_6_2").placeholder = "5";
//-     document.getElementById("txt_9_0").placeholder = "6";
//- }