extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Type 2: Friendship Scams
      h1.ui.header
        .content Example
      p
        strong Friendship:  
        | Instead of creating a romantic relationship, the scammer will 
        | pretend to have your same likes and interests to quickly form a 
        | friendship with you. Once the scammer feels you care for them, they 
        | will ask you for money or personal information to help pay 
        | their bills or other financial hardships.  
      img.ui.centered.image(src='/images/rom-mod5-img1.png')
      br
      br
      p 
        strong Example 
      .smartphone(style="height: 720px;") 
          .content
              .texter
                  i.user.circle.big.icon
                  p Tobias 
                      span >
              .ios-time
                  p Today 3:45PM
              .ios-chat-container
                  .chat(style="font-size:18px;")
                      .yours.messages
                           .message
                               | I&apos;m so happy to be able to talk to someone that also likes
                               | hiking and outdoors!!
                           .message.last
                               | Wait, I have an idea! 
                      .mine.messages
                           .message.last
                               | What is it?
                      .yours.messages
                           .message.last
                               | What if you paid for my flight to your town? I don&apos;t 
                               | have the money right now, but I know hanging out with each other 
                               | would be a blast!              
      br
      br
      p In this text exchange, the scammer uses their mutual interest of 
       | hiking and outdoors to make the person want to comply in the 
       | financial scam.
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('romance', 'sub_romance5', '/learn/submod/4/romance', '/learn/submod/6/romance', 78)  

block scripts
  //- script(src='/js/character.js')
  script.
    postStartTime("romance", "sub_romance5");