extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Type 1: Romantic Scams
      p
        strong Romantic: 
        | The most common Romance and Friendship Scams involve attempts to lure 
        | you into a romantic relationship to either steal your personal 
        | information or money. The following provides a brief description of how these scams operate:
      img.ui.centered.image(src='/images/rom-mod4-img1.png')
      br
      br
      p 
        strong Example 
      //- img.ui.centered.image(src='/images/rom-mod4-img2-phonemsg.png')

      .smartphone(style="height: 720px;") 
          .content
              .texter
                  i.user.circle.big.icon
                  p Tobias 
                      span >
              .ios-time
                  p Today 3:45PM
              .ios-chat-container
                  .chat(style="font-size:18px;")
                      .yours.messages
                           .message.last
                               | I know we haven't known each other for that long, 
                               | but I have very deep feelings for you.
                      .mine.messages
                           .message.last
                               | Really? I do too. Honestly, I haven&apos;t connected with 
                               | someone like this in awhile :&rpar;
                      .yours.messages
                           .message
                               | My too, babe! I want to know more about 
                               | you. What&apos;s your mother&apos;s maiden name?
                           .message.last
                               | What was the name of your elementary school?
                               | I want to get to know you better.
      br
      br
      p This scammer tends to ask more personal information. 
        | Those personal information can be combined to steal others identity.
      //- default height is 640px, but adjust it to what you need to fit bubbles (use seperate stylesheet or inline for now, don't adjust css in module css as it will affect everything)
      //- .smartphone(style="height: 750px;") 
      //-   .content
      //-     .texter
      //-       i.user.circle.big.icon
      //-       p
      //-         | Tobias 
      //-         span &gt;
      //-     .ios-time
      //-       p Today 12:57 PM
      //-     .ios-chat-container
      //-       .chat
      //-         .yours.messages
      //-           .message.last I know we don't know blah blah blah blah blah blah blah
      //-         .mine.messages 
      //-           .message.last 
      //-             | Really? I do too. Blah blah blah blah blah blah blah blah
      //-         .yours.messages 
      //-           .message Me too babe! Blah blah blah blah blah blah blah blah
      //-           .message.last What was the name of your blah blah blah blah blah?

        //- .content
        //-   .header
        //-     | Note
        //-   p Important contact details are included in the downloadable materials on the modules' homepage.


    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('romance', 'sub_romance4', '/learn/submod/3/romance', '/learn/submod/5/romance', 78)  

block scripts
  script.
    postStartTime("romance", "sub_romance4");