extends ../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Three main types of Identity Theft 
      p There are multiple types of identity theft that can occur when your personal information is illegally obtained and misused, leading to various forms of harm. In this module, we present you with three examples that illustrate the different facets of identity theft
      ul
        li
          u Financial identity theft
          |  occurs when someone uses your personal identifiable  information to open or use an account without your permission and you are responsible for any resulting financial loss.  
          ul
            li This can include 
              strong bank accounts, credit cards, subscriptions, insurance, loans, and more. 
        li
          u Tax-related identity theft
          |  happens when someone steals your personal identifiable information and uses it to file a fake tax return to get a refund that they don't deserve. This can cause problems with your own tax return and delay your refund.   

        li
          u Medical identity theft
          |  happens when scammers use your personal identifiable information to submit fraudulent claims to Medicare or other health insurers without your authorization.
    
      .ui.one.column.centered.grid#avatarGrid
        .ui.large.right.pointing.label#speechBubble
          span
            p#speechText(style="font-size: 1.3rem; text-align: left") Please remember that there are numerous ways in which identity theft can occur other than these three types. You can check out <a href="https://www.aarp.org/money/scams-fraud/">AARP’s Fraud Resources </a> for more information about different types of scams.
        img#dart_image1.ui.small.image.right.floated(src=user.avatarImg style="float: right")
      br
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    .ui.container#nav-container
      .div#nav-menu          
        button.ui.huge.basic.button.left.floated#backButton(onclick="location.href='/intro2/temp';") 
          i.arrow.left.icon 
          | Back
        button.ui.huge.green.button.right.floated#nextButton(onclick="location.href='/intro3/temp';")
          | Next
          i.arrow.right.icon
