#activity4.hidden
    .ui.container#know-you-read(style='width: 100%;')
        .limit(style='padding: 0;')
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-activity4 Addiction Treatments
                .row
                    .sixteen.wide.column
                        .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px;")
                            i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                            .content
                                p Click each card to to review the red flags and solutions

        .ui.three.column.stackable.grid#warning-cards
            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front(style="color: #2b63b6")
                              div(style="margin:auto; padding: 3%;")
                                p Does the website claim that the products are FDA approved?

                        .side
                            .ui.raised.card.back(style="background: #0c2343; color:white")
                              div(style="margin:auto; padding: 3%")
                                p Check the FDA’s official website to verify if the product is listed as approved. Legitimate products should have clear evidence of FDA approval or be listed in the FDA’s database. FDA registered doesn’t mean FDA approved.



            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front(style="color: #2b63b6")
                              div(style="margin:auto; padding: 3%")
                                p Does the website heavily use of emotion/testimonial language?



                        .side
                            .ui.raised.card.back(style="background: #0c2343; color:white")
                              div(style="margin:auto; padding: 3%")
                                p Beware of websites that rely heavily on emotional appeals and testimonials rather than facts. Scammers use this to manipulate your emotions and trust, without real evidence. Don't let the emotional words convince you - always seek factual information.

            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front(style="color: #2b63b6")
                              div(style="margin:auto; padding: 3%")
                                p Is the description vague despite sounding scientific?


                        .side
                            .ui.raised.card.back(style="background: #0c2343; color:white")
                              div(style="margin:auto; padding: 3%")
                                p Be mindful of descriptions that employ scientific terms but lack clear explanations. If the information is too vague or overly complicated, it could be a red flag. Search the name of the company or the product online to verify its credibility.
                                

