#activity3.hidden
    .ui.container#know-you-read(style='width: 100%;')
        .limit(style='padding: 0;')
            .ui.stackable.grid
                .row
                    .sixteen.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-activity3 Addiction Treatments
                .row
                    .sixteen.wide.column
                        .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px;")
                            i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                            .content
                                p Click each card to to review the red flags and solutions

        .ui.three.column.stackable.grid#warning-cards
            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front(style="color: #2b63b6")
                              div(style="margin:auto; padding: 3%;")
                                p Are the claims too good to be true (e.g. all natural, “no harsh side effects - just FREEDOM”)?

                        .side
                            .ui.raised.card.back(style="background: #0c2343; color:white")
                              div(style="margin:auto; padding: 3%")
                                p If the claims seem exaggerated or promise miraculous results in an unrealistically short period, they are likely too good to be true. Legitimate medical treatments will have potential side effects disclosed.


            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front(style="color: #2b63b6")
                              div(style="margin:auto; padding: 3%")
                                p Are the researchers mentioned on the website real individuals?


                        .side
                            .ui.raised.card.back(style="background: #0c2343; color:white")
                              div(style="margin:auto; padding: 3%")
                                p Search for the names of the researchers mentioned. Check their credentials and affiliations through professional networks like LinkedIn or academic publications. If you can't find any information about them, be skeptical.

            .column 
                .ui.shape
                    .sides
                        .side.active
                            .ui.raised.card.click-me-glow.front(style="color: #2b63b6")
                              div(style="margin:auto; padding: 3%")
                                p Are the customer testimonials authentic and reliable?

                        .side
                            .ui.raised.card.back(style="background: #0c2343; color:white")
                              div(style="margin:auto; padding: 3%")
                                p Be wary of vague or exaggerated claims in product testimonials, as these may indicate the reviews are fake. Positive reviews can be easily fabricated, so always be skeptical of testimonials.

