#activity6.hidden
    .ui.container#activity6-read
        .limit
            .ui.grid
                .sixteen.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-activity6 Addiction Treatment 
                    p#narrate-1-activity6 
                      span Scammers are adept at manipulating people's emotions. They thoroughly research people's needs for treatments and then make grandiose claims about their products to deceive those desperate for a cure. 

                    p#narrate-2-activity6 
                      span When encountering such a website, pause and ask yourself the questions on the next page.

                  
