#reflection.hidden
    .ui.container#reflection-read
        .limit
            .ui.grid
                .sixteen.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-reflection Addiction Treatment Reflection
                    p#narrate-1-reflection 
                        span Congratulations on completing this case study! You've practiced evaluating health claims critically, a vital skill for making informed decisions. 

                    p#narrate-2-reflection 
                        span The skills you've practiced here—identifying red flags, questioning claims, and seeking reliable information—extend beyond this specific case and can be applied to various health-related decisions. 


                    p  Would you like to practice your detection skills for Anti-Aging Products?
                    .ui.two.buttons
                        button.ui.positive.button(onclick="window.location.href='course-player?module=medication&section=practice&page=introduction'") 
                            | Yes, let’s try that
                        button.ui.negative.button(onclick="window.location.href='course-player?module=medication&section=practice&page=takeaways'")
                            | No, I want to leave this section
                        
