#takeaways.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.middle.aligned.grid
                .column.eleven.wide.computer.only.sixteen.wide.tablet.only
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Congratulations

                    p You now know:
                    .ui.bulleted.list
                        .item(style="line-height: 1rem;")
                            | How to report identity theft
                    p This knowledge will help you keep yourself and others safe from identity theft.
                .column.center.aligned.middle.aligned.five.wide.computer.only.sixteen.wide.tablet.only
                    img(onmouseenter="animateBadge()" src='/badges/identity/champion_of_completion.png' width="30%")
                    p <strong>Champion of Completion</strong>
