#definitions.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | What are Grandparent Scams?
                    p The grandparent scam is a type of scam where scammers pretend to be a target’s grandchild, other loved one, or an official from a trusted organization calling on behalf of the target’s grandchild or loved one. The scammers will claim that the grandchild is in an emergency situation, such as an accident or needs money urgently [1]. 

                        //- Reflecting on the severe impact these scams have had, Michael Delaney, a Chicago-based lawyer who specializes in elder law, said:
                    i.source [1] The Grandparent Scam. FBI. 
                        a(href='https://www.fbi.gov/news/stories/the-grandparent-scam' target='_blank')  https://www.fbi.gov/news/stories/the-grandparent-scam 

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src='/images/private-caller.png' style='margin-left: auto; margin-right: auto')
