#intro-video.hidden
    .ui.container#raised-container.center-layout
        .limit
            #intro-video-read
                h1.ui.header.large#learn-title
                    .content#narrate-1-intro-video
                        i.video.icon
                        span Showcase of a Grandparent Scam
                //- p Click the image to start the video
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p#narrate-2-intro-video 
                            span Video coming soon
                            //- span Click the image to start the video
            br
            p A DART agent is standing in front of her desk, leaning against it and standing up straight as the camera comes cuts in. She looks towards the camera and begins to speak.
            p Narrator/DART Agent (Informative and Serious): Let me tell you the story of Sarah and the grandparent scam. It all started with a simple phone call.
            p We cut to an older woman, Sarah, in her late 60s/early 70s who’s sitting reading a book when she gets a call and answers, a look of concern on her face.
            p Narrator/DART Agent (Informative): Sarah received a call from someone claiming to be her grandson, John. He sounded distressed and not quite like himself, but the connection was bad. “John” said he was in Canada, and he had been arrested. He begged Sarah not to tell his parents, and asked if she could send him bail money.
            p Sarah’s face grows to that of shock and panic as she continues to talk to the scammer on the phone. The scammer manipulated her emotions and concern for her grandson, creating a sense of urgency and desperation, claiming this was his one phone call and he needed the money within the hour.
            p Sarah continues to talk with her phone on speaker as she goes into her banking application on her phone and sends the money to the scammer. Sarah sent a significant amount of money through a wire transfer. The scammer assured her that he would pay her back as soon as he got home safely.
            p Sarah gets off the phone, worry still clear on her face. After a few moments of thinking she calls her grandson back and goes through surprise and sadness as she begins to realize what happened. Doubt crept in. Sarah found herself questioning the situation. Was it truly her grandson on the phone? Sarah decided to call her grandson directly to confirm. To her surprise, John answered the phone, safe and sound. That's when the truth hit her - she had fallen victim to a grandparent scam.
            p Sarah goes through some grief thinking to herself and eventually calls the authorities. She goes through some amount of explanation until she finally gets a happy result. The realization was tough. Sarah had been deceived by a clever imposter preying on her love for her grandson. Determined not to let others suffer the same fate, Sarah gathered her courage and reported the scam to the authorities. Fortunately, she acted quickly enough that they were able to stop the wire transfer.
            p We return to the DART agent, a somber but thoughtful look on her face. Narrator/DART Agent (Informative): Grandparent scams can happen to anyone. It's crucial to stay vigilant, verify information, and, most importantly, share these stories to protect others. If you or someone you know encounters a similar situation, please report it to the authorities.

