#reflection.hidden
    .ui.container#reflection-read(style="width: 90%;")
        .ui.stackable.middle.aligned.grid
            .column.nine.wide.computer.only.sixteen.wide.tablet.only
                h1.ui.header.large#learn-title
                    .content
                        i.lightbulb.icon
                        span#narrate-title-reflection Reflect

                p#narrate-1-reflection
                    span Take a moment to think about the following:
                .ui.list
                    .item(style="font-size: 1.5rem; font-weight: 700; line-height: 1.65rem; margin-bottom: 10px")#narrate-2-reflection
                        span 1. Reflecting on how grandparent scams work, can you think of what personal information might be accessible about you online? Is it something you've shared yourself, such as on social media platforms, or information shared about you by someone else?
                    .item(style="font-size: 1.5rem; font-weight: 700; line-height: 1.65rem;")#narrate-3-reflection
                        span 2. Given your understanding of grandparent scams, if you received a call where the caller claimed to be your grandchild and asked for money, would you immediately consider the possibility that it might be a scam?
                .ui.centered.grid
                    img.ui.small.image(src='/images/reflection.svg')

                //- button.ui.big.blue.button(onclick="toggleReflection()") Journal thoughts
                //- .type-here
                //-     p Disclaimer: Use this to input your thoughts. This information will not be saved or shared with anyone.
                //-     .ui.form
                //-         .ui.fluid.left.corner.labeled.input(style="font-size: 1.25rem;")
                //-             .ui.left.corner.label
                //-                 i.pen.icon
                //-             textarea(placeholder="Type your thoughts here...")

                //- .item How comfortable are you sharing information with strangers, and what level of trust do you think is appropriate when responding to requests from unfamiliar individuals?
                //- .item How much personal information do you currently share online?
                //- .item Do you often stop and think about the value of the personal information you're about to share online?

            .column.seven.wide.computer.only.sixteen.wide.tablet.only
                //- button.ui.big.blue.button(onclick="toggleReflection()") Journal thoughts
                .type-here
                    .ui.form
                        .ui.fluid.left.corner.labeled.input(style="font-size: 1.25rem;")
                            .ui.left.corner.label(style="font-size: 1rem;")
                                i.pencil.alternate.icon
                            textarea(placeholder="Type your thoughts here. What you input will not be saved or shared with anyone.")

                //- img.ui.image(src='/images/reflection.svg')
