#types.hidden
    .ui.container#targeted-read
        .limit#learn-target(style="padding: 0;")
           .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        span#narrate-title-types How do grandparent scams work?   
                p#narrate-1-types(style="margin-top: -10px;") 
                    span Here is a breakdown of the steps scammers use to target and deceive people in grandparent scams:     
                .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px; margin-top: -10px;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content
                        p Click the arrow to learn more.


        .ui.stackable.middle.aligned.grid#double-slider(style="margin-top: 20px;")
            .column.five.wide.computer.only.sixteen.wide.tablet.only
                #image-slider(style="margin: 0 auto;")
                    img(src=public_resources+'/images/modules/grandparent/computer-bad.png' alt='Computer image' )
                    img(src=`${public_resources}/images/modules/identity/personal-gov-docs.png` alt='Passport image' )
                    img(src=public_resources+'/images/modules/grandparent/cast.png' alt='Villian in cast' style="max-width: 250px !important; margin-left: 40px;")
                    img(src=public_resources+'/images/modules/grandparent/ringing-phone.png' alt='Ringing phone' style="max-width: 300px; margin-left: 70px;padding-top: 20px;")

            .column.eleven.wide.computer.only.sixteen.wide.tablet.only(style="max-height:0%")
                #steps-slider
                    //- Card 1
                    .ui.basic.card
                        .content
                            h2#narrate-2-types 
                                span Step 1: Identify targets
                            p#narrate-3-types 
                                span Scammers first target potential victims by searching through social media, obituaries, or other online platforms. 
                    //- Card 2 
                    .ui.basic.card
                        .content
                            h2#narrate-1-types-2
                                span Step 2: Gather target's information
                            p#narrate-2-types-2 
                                span Once they have identified their target, they will gather information about the target’s family members, relationships, and recent life events, such as travel plans.

                    //- Card 3
                    .ui.basic.card
                        .content
                            //- h2 Step 3: Fabricate an Emergency Story
                            h2#narrate-1-types-3 
                                span Step 3: Create a fake emergency storyline
                            p#narrate-2-types-3  
                                span In step 3, scammers come up with a plan: the role they'll play, the story they'll tell, and the tools they'll use. They make up an emergency situation that will create fear and a need for the target to act quickly.
                           
                    //- Card 4
                    .ui.basic.card
                        .content
                            h2#narrate-1-types-4 
                                span Step 4: Phone call impersonation
                            p#narrate-2-types-4  
                                span In step 4, the scammers contact the target pretending to be a grandchild, other loved one, authority figure or someone calling on their behalf to ask for money.

                          
            i.source [2] Grandparent Scams Take Advantage of Your Love for Your Family. AARP.
                a(href='https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html' target='_blank') https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html 
                | [3] Don’t open your door to grandparent scams. FTC. 
                a(href='https://consumer.ftc.gov/consumer-alerts/2021/04/dont-open-your-door-grandparent-scams' target='_blank')  https://consumer.ftc.gov/consumer-alerts/2021/04/dont-open-your-door-grandparent-scams
                    