#types.hidden
    .ui.container#targeted-read
        .limit#learn-target(style="padding: 0;")
           .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | How do grandparent scams work?   
                p(style="margin-top: -10px;") Here is a breakdown of the steps scammers use to target and deceive people in grandparent scams:     
                .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px; margin-top: -10px;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content
                        p Click the arrow to learn more.


        .ui.stackable.middle.aligned.grid#double-slider(style="margin-left: -50px; width: 110%;")
            .column.five.wide.computer.only.sixteen.wide.tablet.only
                #image-slider(style="margin: 0 auto;")
                    img(src='/images/grandparent/computer-bad.png' alt='Computer image' class="image-fill")
                    img(src='/images/learn-2.png' alt='Passport image' class="image-fill")
                    img(src='/images/cast.png' alt='Villian in cast' class="image-fill")
                    img(src='/images/ringing-phone.png' alt='Ringing phone' class="image-fill")

            .column.eleven.wide.computer.only.sixteen.wide.tablet.only(style="max-height:0%")
                #steps-slider
                    //- Card 1
                    .ui.basic.card
                        .content
                            h2 Step 1: Identify Targets
                            p Scammers first target potential victims by searching social media, obituaries, or other online platforms. They look for people already in distress from losing a loved one or who have posted enough information online for the scammer to create a convincing story [2].


                            //- p 
                            //- | Scammers often employ a technique known as love bombing, where they overwhelm their victims with 
                            //- b excessive affection and attention
                            //- | . This method is strategically used to quickly build trust and foster an emotional dependence in the victim, making it easier for the scammer to manipulate them in the future. While receiving compliments and attention can be flattering and make you feel valued, it's crucial to 
                            //- b remain cautious 
                            //- | about the intentions behind these gestures, particularly when you're in the early stages of getting to know someone.
                            //- a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank')
                            //-     sup [1]
                    //- Card 2 
                    .ui.basic.card
                        .content
                            h2 Step 2: Gather Info
                            p Once they have determined who to target, they will gather information about the target’s family, relationships, and other personal information.
                            //- p 
                            //- | To impress you, scammers will disclose details about their personality or their successful careers in order to gain trust and build credibility. They portray themselves as 
                            //- b good, morally upright persons 
                            //- | by using words and phrases with religious connotations. For example, use of adjectives such as "honest" and "sincere". For instance, reviewing the message on the left, you'll notice this scammer highlights his successful architecture career and discusses his faith, strategically using these details to create a trustworthy and appealing persona.
                            //- a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank')
                            //-     sup [2]
                    //- Card 3
                    .ui.basic.card
                        .content
                            h2 Step 3: Fabricate an Emergency Story
                            p In this step, scammers come up with a plan: the role they'll play, the story they'll tell, and the tools they'll use. They fabricate an emergency situation based on the gathered information to evoke fear and urgency from the target [2].

                            //- | Scammers employ various strategies to emotionally manipulate their victims. They show 
                            //- b excessive care and interest 
                            //- | in their lives by asking many questions, creating an illusion of genuine concern. This method makes victims feel uniquely seen and appreciated. By 
                            //- b engaging in lengthy daily conversations 
                            //- | they make it easier for you to fall for them due to the amount of time you have invested into the relationship.  Additionally, they 
                            //- b keep track of their victims' daily routines 
                            //- | to perform considerate actions, like sending reminders, which further reinforces their perceived attentiveness and makes the victim feel taken care of.
                    //- Card 4
                    .ui.basic.card
                        .content
                            h2 Step 4: Initial Phone Call
                            p In step 4, the scammers contact the target, typically over a phone call, pretending to be the target’s grandchild, other loved one, or someone calling on behalf of them to ask for money [3].


    
                            //- | Scammers 
                            //- b strategically time their communications 
                            //- | to deepen emotional connections, notably by texting at night and sending good morning messages. By aligning with the victim's time zone, they often initiate conversations at night around 10 pm with 
                            //- b personal and engaging questions
                            //- |  like, "Share with me the highlight of your day." This approach not only cultivates intimacy by concluding the day on a note of shared experiences but also positions the scammer as one of the last thoughts before the victim falls asleep. Furthermore, a sweet good morning message upon waking ensures a positive start to their day, 
                            //- b keeping the scammer prominently in their thoughts
                            //- | . This calculated pattern of communication aims to strengthen the emotional bond and maintain the scammer's presence in the victim's daily routine.
            i.source [2] Grandparent Scams Take Advantage of Your Love for Your Family. AARP.
                a(href='https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html' target='_blank') https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html 
                | [3] Don’t open your door to grandparent scams. FTC. 
                a(href='https://consumer.ftc.gov/consumer-alerts/2021/04/dont-open-your-door-grandparent-scams' target='_blank')  https://consumer.ftc.gov/consumer-alerts/2021/04/dont-open-your-door-grandparent-scams
                    