#emotional.hidden
    .ui.container#emotional-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Emotional Stress
                    p In addition to the financial loss, the victims also experience sever emotional distress. The common emotional impacts: anxiety, shame, embarrassment, grief, guilt, depression, fear, anger, feelings of vulnerability, lack of trust in others, isolation.
                    p Quotes from victims: “I don’t pick up the phone anymore. I’m scared” (Calgary grandmother who lost $17,000). Her daughter says “she is just so drained and distraught now” 
                    p “I was so scared. It’s the worst trauma that I have ever experienced in my life. I started questioning myself. Why me? I doubted myself. I still have nightmares” (Ottawa grandmother who lost $10,000)
                    p “It’s embarrassment and a total feeling of stupidity and, you know, we walk around saying it’s right across our forehead it says sucker, stupid, gullible” (Maryland man who lost $38,000)
                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.large.image(src='/images/emotionalwords.png' style='margin-left: auto; margin-right: auto')
