#financial.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Financial Loss
                    p Scammers will ask for large amounts of money, typically through methods that are difficult or impossible to trace or recover
                    p According to IC3 Elder Report 2022, over 400 Victims in 2022, with approximate losses of $3.8 million for grandparent scams specifically
                    p FTC Protecting Older Consumers 2022-2023 report shows
                        ul
                            li Family and friend imposter scams is up +36% since last year for ages 60+
                            li Results in losses of $32 million
                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src='/images/losing-money.svg' style='margin-left: auto; margin-right: auto')
