#objectives.hidden
    .ui.container#raised-container
        .limit#learn-target(style="padding: 0;")
            .ui.grid.computer.only#objectives-read
                .ten.wide.column
                    //- button.ui.icon.button#volume-up-button.left.floated(style="position: absolute; left: 400px; top: 45px;")
                    //-     i.volume.up.icon
                    h1.ui.header.large#learn-title(style="color: #285362;")
                        .content
                            i.bullseye.icon
                            | Consequences

                    .ui.divider
                    //- h1.ui.header.large#learn-subheader
                    //-     i.bullseye.icon
                    //-     | Objectives:
                    h3(style="color: #0C2746;") Objectives:
                    ul.no-bullets
                        li
                            img(src="/images/dart-bullet.svg", alt="Bullet Point")
                            | Discover what could happen if you are scammed

                        li
                            img(src="/images/dart-bullet.svg", alt="Bullet Point")
                            | Learn How Scammers select their targets
                .six.wide.center.aligned.middle.aligned.column
                    img.ui.large.image(src='/images/ladyonphone.png' style='margin-left: auto; margin-right: auto')
            .ui.grid.tablet.only.mobile.only
                .row
                    h1.ui.header.large#learn-title
                        i.bullseye.icon
                        | Learning Targets

                ul.no-bullets(style="text-align: left;")
                    li
                        img(src="/images/dart-bullet.svg", alt="Bullet Point")
                        | Discover what could happen if you are scammed

                    li
                        img(src="/images/dart-bullet.svg", alt="Bullet Point")
                        | Learn How Scammers select their targets

                .row
                    .div(style="margin: 0 auto;")
                        img.ui.medium.image(src='/images/ladyonphone.png' style='margin-left: auto; margin-right: auto')

        //- Fill progress bar to correct percent and color 
        //- script.
        //-     var module = "#{module}";
        //-     var section = "#{section}";
        //-     var page = "#{page}"; 

        //-     let total = parseInt(#{numPages});
        //-     let progress = 1 / total;
        //-     console.log(progress);
        //-     script(src='/js/setProgressBar.js')  
        //-     updateProgressBar(progress);