.ui.label {
  background-color: #2185d08a;
  color: #000000d1;
}

.ui.label h4 {
  float: left;
}

  i.exclamation.triangle.icon {
    color: #f9ff00 !important;
  }

  label{
    font-size: 120% !important;
  }
