extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!

        br
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |  A social media audience is anyone who can see information about you or posted by you online.
    
          
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content 
            | Some people use anonymous accounts (i.e. finstas or spam accounts) where they only post to a specific group of people. People might say and post things in an anonymous account that they normally wouldn’t to a broader audience.

        br
    br
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!

block scripts
  script().
    function startIntro(){
      window.location.href='/trans_script/presentation';
    };
