extends ../ui_layout

block content

  .ui.text.container(style="margin-bottom:4em;")
    br
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | Posting on social media can be a great way to show people who you are! You can be yourself and share your thoughts with other people. 
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | Sometimes, people have fake accounts too. These are called <b>finstas</b> or spam accounts. People may have these to talk to others who are interested in the same things as they are, or to post things for only their close friends to see.
      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header 
        i.hand.pointer.icon(style="color:gray;")
        span(style="color: gray;") Click on each label below to learn more
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          #audience.ui.raised.segment
            a.ui.blue.ribbon.label#audienceLabel
                //- i.dollar.sign.icon 
                span Audience
            span.hidden(id="audience_info", style="font-weight:600") Anyone who can see information about you or posted by you online.
        .ui.column
          #anonymous.ui.raised.segment
            a.ui.blue.ribbon.label#anonymousLabel
                //- i.magic.icon 
                span Anonymous
            span.hidden(id="anonymous_info",style="font-weight:600") Keeping your name and identity hidden online.
              ul(style="font-weight:400") Sometimes people use finstas to post anonymously.    
        .ui.column
          #curate.ui.raised.segment
            a.ui.blue.ribbon.label#curateLabel
                //- i.magic.icon 
                span Curate
            span.hidden(id="curate_info",style="font-weight:600") To select and organize what you post on social media.
              ul(style="font-weight:400") Some people keep their main account carefully curated, while they might post more casually on an anonymous account.       
    
    
    .ui.warning.message#clickNextWarning(style="display:none;")
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning(style="display:none;")
     .header
      | Click on each label to proceed   
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!

block scripts
  script(src="/module_js/presentation/presentation_start.js")
  
  
