extends ../ui_layout

block content
  
  .ui.text.container.addBottomMargin
    br  
    .ui.raised.segment
    
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | Social media is a great way to communicate with others and express 
          | yourself. You can also use it to show others, including colleges or 
          | future employers, who you are as a person.
 
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | However, social media use can also have drawbacks. What you and 
          | others share is permanent, and it's easy to get caught in sharing 
          | things you may later regret. It can also take a lot of time to 
          | manage different platforms and accounts.
      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header 
        i.hand.pointer.icon.grayElement
        span.grayElement Click on each word below to learn more
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          .keyTerm.ui.raised.segment
            a.ui.blue.ribbon.label.keyTermLabel
                //- i.magic.icon 
                span Digital Footprint
            span.hidden.keyTermDefinition 
              | All the information online about a person either posted by that 
              | person or others, intentionally or unintentionally.
              ul 
                | Your digital footprint can affect your reputation online and 
                | offline. It's important to manage it as much as you can!
        
        .ui.column
          .keyTerm.ui.raised.segment
            a.ui.blue.ribbon.label.keyTermLabel
                //- i.magic.icon 
                span Audience
            span.hidden.keyTermDefinition  
              | Anyone who can see information about you or posted by you 
              | online.
              ul 
                | Before you post on social media, think about your current and 
                | future audience. Remember that your posts will always be a 
                | part of your digital footprint!

      
        .ui.column
          .keyTerm.ui.raised.segment
            a.ui.blue.ribbon.label.keyTermLabel
                //- i.dollar.sign.icon 
                span Oversharing
            span.hidden.keyTermDefinition 
              | When people share something they later regret.
              ul 
                | This can be when people share too much private or personal 
                | information about themselves.
              
    .ui.warning.message#clickNextWarning
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning
     .header
      | Click on each label to proceed 
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!

block scripts
  script(src="/module_js/base_start.js")

block styles
  link(rel='stylesheet', href='/css/start.css')  
