extends ../ui_layout

block content
  
  .ui.text.container(style="margin-bottom:4em;")
    br
    .ui.raised.segment
      h3.ui.block.center.aligned.header(style="background: linear-gradient(to right, #FCF6BD 0%, #D0F4DE 25%,#A9DEF9 50%,#E4C1F9 100%);")
        //- i.bullhorn.blue.icon
        | Welcome to Social Media TestDrive!
      //- hr
      h4.ui.center.aligned.icon.header Here's what you're about to do!
    //- .ui.blue.message.hidden 
    //-       i.forward.blue.icon
    //-       | Here are the four activities that we will be doing.

    .ui.tiny.four.steps
      .step.glowing-box#learn(data-color="#FCF6BD",style="background-color: #FCF6BD !important;")
        i.book.icon
        .content
          .title LEARN
          .title(style="background-color: #FCF6BD !important;") key ideas
      .step.glowing-box#practice(data-color="#D0F4DE",style="background-color:  #D0F4DE !important;") 
        i.edit.icon
        .content
          .title PRACTICE
          .title( style="background-color: #D0F4DE !important;") social media skills
      .step.glowing-box#explore(data-color="#A9DEF9", style="background-color:  #A9DEF9 !important") 
        i.binoculars.icon
        .content
          .title EXPLORE
          .title(style="background-color: #A9DEF9 !important")  the social media timeline
      .step.glowing-box#reflect(data-color="#E4C1F9",style="background-color: #E4C1F9 !important;") 
        i.question.icon
        .content
          .title REFLECT
          .title(style="background-color:#E4C1F9 !important;")  on what you did
          
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Let's Get Started!

   
   
block scripts
  script().
    function startIntro(){       
      window.location.href='/start/digfoot';
    };

    $("#learn").on('click', function() {
      $('#learn').transition('tada');
      });
  
    $('#practice').on('click', function() {
      $('#practice').transition('tada');
    });
    
    $('#explore').on('click', function() {
      $('#explore').transition('tada');
    });
    
    $('#reflect').on('click', function() {
      $('#reflect').transition('tada');
    });
  
