extends ../ui_layout

block content

  .ui.text.container(style="margin-bottom:4em;")
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
          
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |  All of your actions on social media create a <b>digital footprint</b>. This includes any information you share about yourself and any posts that you have created.

        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |   Remember to think before you post! Try to avoid oversharing about yourself and others. 
                    
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |   Think about ways you can create a positive digital footprint! 
        br
  
    br
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!
            
    block scripts
  script().
    function startIntro(){
      window.location.href='/trans_script/digfoot';
    };
