extends ../../ui_layout


block content
    .ui.container
        .limit
            h1.ui.header.large#learn-title
                .content 
                    i.book.icon
                    | References
            br             
            i.source [1] The Grandparent Scam. FBI.
                a(href='https://www.fbi.gov/news/stories/the-grandparent-scam' target='_blank')  https://www.fbi.gov/news/stories/the-grandparent-scam            
            br
            i.source [2] Grandparent Scams Take Advantage of Your Love for Your Family. AARP.
                a(href='https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html' target='_blank') https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html
            br
            i.source [3] Don’t open your door to grandparent scams. FTC.
                a(href='https://consumer.ftc.gov/consumer-alerts/2021/04/dont-open-your-door-grandparent-scams' target='_blank')  https://consumer.ftc.gov/consumer-alerts/2021/04/dont-open-your-door-grandparent-scams
            br
            i.source [5] FTC Protecting Older Consumers 2022-2023 report. Federal Trade Commission. 
               a(href='https://www.ftc.gov/system/files/ftc_gov/pdf/p144400olderadultsreportoct2023.pdf' target='_blank')  https://www.ftc.gov/system/files/ftc_gov/pdf/p144400olderadultsreportoct2023.pdf
            br
            br
            i.source [6] “Grandparent scam” explained: What you need to know.  
               a(href='https://www.cbsnews.com/news/grandparent-scam-explained-by-former-scammer-what-you-need-to-know/' target='_blank')  https://www.cbsnews.com/news/grandparent-scam-explained-by-former-scammer-what-you-need-to-know/
            br

