#doctor.hidden
        .ui.container#raised-container.center-layout(style="width: 60%;")
            .limit(style="padding: 0;")
                .ui.stackable.grid
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-doctor Questions to ask your doctor or pharmacist about dietary supplements:
                    .eleven.wide.column
                        .ui.ordered.list 
                            .item 
                                span Is there scientific proof it actually works?
                                    
                            .item 
                                span How reliable is this brand?
                                   
                            .item 
                                span What are the side effects?
                                   
                            .item 
                                span How will it interact with my other medications?
                            
                            .item
                                span If it is safe to take, what’s the right amount? 
        
                        .callout
                            .dark-blue-square
                                img(src=user.avatarImg, alt='avatar picture')
                            .light-blue-content
                                h3.call-header#narrate-4-dietary   
                                    span Important
                                p#narrate-5-dietary   
                                    span Avoid supplements claiming to prevent, treat, or cure diseases. Dietary supplements are not intended for these purposes [15]. 
                    
                    .five.wide.column.centered.middle.aligned
                        img.ui.image(src=public_resources+'/images/shared_sources/filler.png' style='margin-left: auto; margin-right: auto;')


            br
            i.source [15] Dietary Supplements: Questions To Ask. Federal Trade Commission (FTC). 
                a(href='https://www.youtube.com/watch?app=desktop&v=CSP07ivTbLs' target='_blank') https://www.youtube.com/watch?app=desktop&v=CSP07ivTbLs