#doctor.hidden
        .ui.container#raised-container.center-layout(style="width: 60%;")
            .limit(style="padding: 0;")
                .ui.stackable.grid
                    .eleven.wide.column
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-doctor Post-Scam Actions for Victims

                        .ui.bulleted.list 
                            .item 
                                span 
                                    span#narrate-1-doctor  
                                        span If you sent money but not as cash, 
                                    b#narrate-2-doctor  
                                        span contact your bank immediately. 
                                    span#narrate-3-doctor  
                                        span They may be able to stop the payment and get your money back. Also, 
                                    b#narrate-4-doctor  
                                        span change your bank passwords and account information 
                                    span#narrate-5-doctor  
                                        span that may have been stolen or otherwise compromised. 
                            .item 
                                span 
                                    span#narrate-6-doctor  
                                        span If you have sent cash, 
                                    b#narrate-7-doctor  
                                        span call the police immediately.
                            .item 
                                span 
                                    span#narrate-8-doctor  
                                        span Report the scam. Report to local law enforcement and the Federal Trade Commission (FTC). You can do this via their website at 
                                    b#narrate-9-doctor  
                                        span ftc.gov/complaint 
                                    span#narrate-10-doctor  
                                        span or by calling them at 
                                    b#narrate-11-doctor  
                                        span 1-877-FTC-HELP.
                            .item 
                                span#narrate-12-doctor  
                                    span Do not keep your experience a secret.
                                .ui.bulleted.list 
                                    .item 
                                        span#narrate-13-doctor  
                                            span Talk to your friends and family about what happened. 
                                        span#narrate-14-doctor  
                                            span Remember that you are not alone.
                                    .item 
                                        span#narrate-15-doctor  
                                            span Sharing your experience or knowledge can help protect your loved ones, too. 
                                        span#narrate-16-doctor  
                                            span You might prevent future scams from happening.            
                    .five.wide.column.centered.middle.aligned
                        img.ui.image(src=public_resources+'/images/modules/grandparent/sheets-icon.svg' style='margin-left: auto; margin-right: auto;')
