#methods.hidden
    .ui.container(style="width: 100%;")
        .limit
            #contacted-read
                h1.ui.header.large#learn-title(style="margin-top: 10px;")
                    .content
                        i.book.icon
                        span#narrate-title-methods Common Methods Used in All Types of Medication Scams
            .ui.stackable.grid(style="margin-top: 0px;")
                .ten.wide.column
                    p
                        span Always question: "Does this claim sound too good to be true?" If yes, be alert!
                    p 
                        span Always consult your doctor before trying new treatments and dietary supplements.
                    p  
                        span Always remember: even harmless remedies can delay proper treatment and recovery.
                    p 
                        span Always apply the knowledge and skills from Chapters 3 and 4.
                .six.wide.column
                    img.ui.big.image(src=`${public_resources}/images/shared_sources/filler.png`)

