#postScam.hidden
        .ui.container#raised-container.center-layout(style="width: 60%;")
            .limit(style="padding: 0;")
                .ui.stackable.grid
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-postScam Post-Scam Methods
                    .eleven.wide.column
                        div#narrate-1-postScam  
                            span If you paid for any fake products
                        .ui.bulleted.list 
                            .item 
                                span 
                                    b#narrate-2-postScam  
                                        span Contact your credit card or bank right away. 
                                    span#narrate-3-postScam  
                                        span They might be able to stop the transaction if you act quickly enough. 
                            .item
                                span 
                                    b#narrate-4-postScam  
                                        span Change your bank account password immediately. 
                                    span#narrate-5-postScam  
                                        span Scammers could use your account details to steal your money and identity.
      
                    .five.wide.column.centered.middle.aligned
                        img.ui.image(src=public_resources+'/images/modules/tech/telephone.svg' style='margin-left: auto; margin-right: auto;')
