#report.hidden
        .ui.container#raised-container.center-layout(style="width: 60%;")
            .limit(style="padding: 0;")
                .ui.stackable.grid
                    .row 
                        h1.ui.header.large#learn-title
                            .content
                                i.book.icon
                                span#narrate-title-report Post-Scam Methods
                    .row 
                        .sixteen.wide.column
                            p
                                span#narrate-1-report  
                                    span Report to the FTC at 
                                u#narrate-2-report  
                                    span ReportFraud.ftc.gov 
                                span#narrate-3-report  
                                    span site or call 1-877-FTC-HELP. 
                                span#narrate-4-report  
                                    span Your reports help the FTC and our law enforcement partners build cases and stop scammers.
                            p
                                span#narrate-5-report  
                                    span Report to the FDA's 
                                u#narrate-6-report  
                                    span MedWatch 
                                span#narrate-7-report  
                                    span (https://www.fda.gov/safety/medwatch-fda-safety-information-and-adverse-event-reporting-program) 
                                span#narrate-8-report  
                                    span site or call 1-800-FDA-1088 (1-800-332-1088). Patients’ names are kept confidential.

                            h3 
                                b#narrate-9-report  
                                    span Talk to your family and friends
                            p#narrate-10-report  
                                span Tell them what happened to you. Your family and friends may have seen similar experiences. Sharing your story can help others protect themselves from potential scammers. 

        
                        //- .six.wide.column.centered.middle.aligned
                        //-     img.ui.image(src=public_resources+'/images/shared_sources/filler.png' style='margin-left: auto; margin-right: auto;')
