#sources.hidden
    .ui.container#raised-container.center-layout
        .limit
            #sources-read
                h1.ui.header.large#learn-title
                    .content
                        i.video.icon
                        span#narrate-title-protect-video Methods of Protection
                //- p Click the image to start the video
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p#narrate-1-protect-video 
                            //- span Click the image to start the video
                            span Video coming soon
            br
            p A DART Agent is looking at a chalkboard that says “Grandparent Scams” on it and turns to the camera as it fades in.
            p Narrator/DART Agent (Informative): Let’s talk about tools to protect yourself from grandparent scams.
            p An older woman, Sarah, looks like she is talking with someone on the phone with an intense look on her face. She takes a moment, pauses, and breathes before returning to conversation thoughtfully.
            p Narrator/DART Agent (Informative): Tool one: Be cautious. Scammers may catch you off guard by claiming to be a grandchild in distress. Pause, breathe, and ask questions only your real grandchild would know.
            p Separate shot, Sarah starts writing out a check in haste but stops suddenly and thinks before pulling out her phone to make a call.
            p Narrator/DART Agent (Informative): Tool two: Take your time. Scammers love creating urgency, making you think you need to act right away. Take your time to think. If you feel rushed or pressured, step back.
            p Separate shot, Sarah is at her computer looking at an email, the email name says “FBI” but the email address is a clearly suspicious one. She examines it and thinks to herself before reporting it.
            p Narrator/DART Agent (Informative): Tool three: Don't trust caller IDs and emails blindly. Scammers can change the name that shows up on a phone call or email. Make sure you’re talking to the right person before giving up money or personal information.
            p The DART Agent stands in front of the chalkboard and moves behind her desk before sitting down.
            p Narrator/DART Agent (Informative): Armed with these tools, you've got the power to outsmart these scammers. If you’re ever in doubt, don’t be afraid to reach out to other loved ones for a second opinion. Stay informed, stay empowered.

