#sources.hidden
    .ui.container
        .limit
            .ui.stackable.grid
                h1.ui.header.large#learn-title(style="margin-top: 10px;")
                    .content
                        i.book.icon
                        span#narrate-title-sources Reliable Sources
            .ui.stackable.grid(style="margin-top: 0px;")
                .ten.wide.computer.sixteen.wide.tablet.column
                    p
                        span#narrate-1-sources
                            span "To find reliable sources of information about diseases and their treatments, visit MedlinePlus.gov, a site operated by the National Institutes of Health (NIH) and Healthfinder.gov.
                    p 
                        span#narrate-2-sources
                            span Information about alternative and complementary medicine is available through the 
                        u#narrate-3-sources
                            span National Center for Complementary and Integrative Health 
                        span 
                            span [2]."

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.big.image(src=`${public_resources}/images/modules/grandparent/sheets-icon.svg`)

            br
            i.source [2] Common Health Scams. Federal Trade Commision (FTC) 
                a(href='https://consumer.ftc.gov/articles/common-health-scams' target='_blank') https://consumer.ftc.gov/articles/common-health-scams