#takeaways.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            span#narrate-title-takeaways Congratulations!
                    #text
                        p#narrate-1-takeaways 
                            span You've completed "Protection" and earned a silver badge!  
                        p#narrate-2-takeaways  
                            span You now know:
                        .ui.bulleted.list
                            .item(style="line-height: 1rem;")#narrate-3-takeaways 
                                span Ways to protect yourself from grandparent scams
                        p#narrate-4-takeaways  
                            span This knowledge will help you keep yourself and others safe from grandparent scams.
                .six.wide.center.aligned.column
                    img.ui.small.centered.image#earned_badge(src= public_resources + '/badges/identity/prodigy_protector.svg' onmouseenter="animateBadge()" style="margin-bottom: -10px; width: 125px;")
                    h3 <strong>Prodigy</strong>
                        br
                        | <strong>Protector</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")