#verify2.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon 
                            span#narrate-title-verify2 Upon Hearing about an verify2

                    .ui.bulleted.list 
                        .item 
                            span#narrate-1-verify2 
                                span Stay calm and verify the situation before reacting; take time to think clearly.
                        .item 
                            span#narrate-2-verify2  
                                span Never give out personal or financial information over phone or email.
                        .item 
                            span#narrate-3-verify2  
                                span Confirm the story by asking friends or family if they've heard similar accounts.
                        .item 
                            span#narrate-4-verify2  
                                span If contacted by an official (e.g., police, medical professional), directly verify with their organization by initiating a separate call.
                        .item 
                            span#narrate-5-verify2  
                                span Remember, legitimate law enforcement will NEVER request money over the phone.
                        .item 
                            span#narrate-6-verify2  
                                span Disregard requests to keep the matter secret; discuss it with trusted individuals. 
                                                                                            
                .six.wide.column.middle.aligned
                    img.ui.image(src=public_resources+'/images/modules/grandparent/types.svg' style='margin-left: auto; margin-right: auto')
            br
            i.source [1] The Grandparent Scam. FBI. 
                a(href='https://www.fbi.gov/news/stories/the-grandparent-scam' target='_blank')  https://www.fbi.gov/news/stories/the-grandparent-scam 
            br    
            i.source [2] Grandparent Scams Take Advantage of Your Love for Your Family. AARP.
                a(href=' https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html' target='_blank')  https://www.aarp.org/money/scams-fraud/info-2019/grandparent.html 
