#verify2.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content 
                        i.book.icon 
                        span#narrate-title-verify2 Verifying Drugs/Medications
                .sixteen.wide.column
                    p#narrate-1-verify2 
                        span The FDA does NOT approve dietary supplements for safety and effectiveness, so it is hard to verify them through FDA approvals databases. 
                    p#narrate-2-verify2 
                        span Therefore, it is important to exercise caution and ask questions before taking any supplements. 
                                                                                    