#verify1.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content 
                        i.book.icon 
                        span#narrate-title-verify1 Verifying Drugs/Medications
                .ten.wide.column
                    div#narrate-1-verify1
                        span If the drug claims to be FDA-approved, you can check for FDA approval by searching the drug name in FDA’s public database, Drugs@FDA.
                    
                    .ui.bulleted.list
                        .item#narrate-2-verify1
                            span Drugs@FDA contains information about drug products and other therapeutic biological products approved by the FDA since 1939. 
                        .item#narrate-3-verify1
                            span Pay attention to the marketing status of the drug: prescription, over-the-counter, or discontinued.
                    div#narrate-4-verify1
                        span Do not confuse the following terms with FDA approval: 
                    .ui.bulleted.list
                        .item#narrate-5-verify1
                            span FDA-registered/registration
                        .item#narrate-6-verify1
                            span FDA-listed/listing
                        .item#narrate-7-verify1
                            span FDA-cleared/clearance 
                        .item#narrate-8-verify1
                            span cGMP (current good manufacturing practices)
                    div#narrate-9-verify1
                        span These rules are about how drugs are made and packaged, not how safe or effective they are.
                .six.wide.column.middle.aligned
                    img.ui.image(src=public_resources+'/images/modules/medication/protection_verify-drugs.svg' style='margin-left: auto; margin-right: auto')
