extends ../ui_layout

block content
  
  .ui.text.container.addBottomMargin
    br
    .ui.raised.segment
      h2.ui.header
        .content What should you do if you accidentally fall for a phishing scam? 
          br
          br
        #hiddenEye.content.grayElement
          .sub.header 
            i.eye.icon 
            span Read and check all the boxes below
      .ui.mini.green.right.labeled.icon.button.showReviewSectionButton
        i.down.arrow.icon
        |   Start
      .ui.basic.segment.reviewSegment.hidden
        .content.ui.list
            .item
              #item1.ui.segment
                .ui.checkbox
                  input.ui(type="checkbox")#checkbox1
                  label 
                    | If you have given a phishing website your password, 
                    | change your password immediately. And if you used the same 
                    | password with other accounts, change those passwords too!
            .item
              #item2.ui.segment
                .ui.checkbox
                  input.ui(type="checkbox")#checkbox2
                  label 
                    | Report the phishing post to the website so it can be 
                    | taken down.
            .item
              #item3.ui.segment
                .ui.checkbox
                  input.ui(type="checkbox")#checkbox3
                  label 
                    | Tell a trusted adult. They can help you take the right steps 
                    | to protect your information.
                  
    br
    .ui.warning.message.clickNextWarning.hidden
      .header
       | Click "Start" 
    .ui.warning.message#checkAllWarning
      .header
        | Check all the boxes to proceed
    .ui.big.labeled.icon.button#phishingTutGuideButton
        i.rocket.icon
        |   Got it!

block scripts
  script.
    var voiceoverMappings = {
      '.showReviewSectionButton': ['','','']
    }
  script(src="/module_js/phishing/phishing_tut_guide.js")
  script(src='/module_js/voiceover.js')
block styles 
  link(rel='stylesheet', href='/css/modules/phishing.css')
