extends ../ui_layout

block content

  .ui.text.container(style="padding-bottom:4em;")
    br
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | When you are online, you might come across scams that try to steal your money or private information.
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | If your private information is stolen, it can lead to some pretty bad consequences. The thief could use your information to:    
      h5.ui.header
        i.caret.right.blue.icon(style="text-indent:3em;")
        .content
          |  Apply for credit cards in your name and buy things
          
      h5.ui.header
        i.caret.right.blue.icon(style="text-indent:3em;")
        .content
          |   Cyberbully someone while pretending to be you
      
      h5.ui.header
        i.caret.right.blue.icon(style="text-indent:3em;")
        .content
          |   Create false identification documents
      
      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header 
        i.hand.pointer.icon(style="color:gray;")
        span(style="color: gray;") Click on each label below to learn more
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          #keyTerm1.ui.raised.segment
            a.ui.blue.ribbon.label#keyTerm1Label
                //- i.dollar.sign.icon 
                span Private information
            span.hidden(id="keyTerm1Definition", style="font-weight:600") Information that can be used to identify you because it is unique to you (e.g., your full name, your address, or your password).

        .ui.column
          #keyTerm2.ui.raised.segment
            a.ui.blue.ribbon.label#keyTerm2Label
                //- i.magic.icon 
                span Phishing scam
            span.hidden(id="keyTerm2Definition",style="font-weight:600")  When someone poses as an institution, like a bank or a school, and posts a message asking you to provide private information.

        .ui.column
          #keyTerm3.ui.raised.segment
            a.ui.blue.ribbon.label#keyTerm3Label
                //- i.magic.icon 
                span Shortened URL
            span.hidden(id="keyTerm3Definition",style="font-weight:600") A web address that has been condensed and that could potentially mislead a user into going into a risky website.
            
    .ui.warning.message#clickNextWarning(style="display:none;")
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning(style="display:none;")
     .header
      | Click on each label to proceed  
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!
            
block scripts
  script(src="/module_js/phishing/phishing_start.js")
