extends ../ui_layout

block content

  #container.ui.text.container.addBottomMargin
    br      
    #step1.ui.raised.segment
      h1 Welcome to the Trolls Module!
      brbr
      h3 In this module, you are going to participate in series of activities to understand the impact of trolls and how to identify them.
      brbr
      h3 Trolls are important to be aware of because they can negatively affect harmony in society and cause confusion among users.
      brbr
      h4 To learn about trolls, you are going to move through a series of sections:
        ul
          li Learn - a guided lesson on defining and spotting trolls
          li Practice - a guided practice on identifying real-life troll accounts using learned tactics
          li Explore - an individual exploration to identify real-life troll accounts using learned tactics
          li Reflect - an individual assessment to evaluate the learned skills

    .ui.segment.keyIdeasSegment
      ui.raised.segment
        h3.ui.header
          i.book.blue.icon
          .content
            | Learn
        hr
      .ui.column
        #step2.keyTerm.ui.raised.segment
          a.ui.blue.ribbon.label.keyTermLabel
              span.ribbons Definition
              span Definition
          h1 What is a troll?
          span.keyTermDefinition  
            | A troll is a fake social media account that spreads misinformation.
      brbr
        
    
    .ui.segment.keyIdeasSegment
      h3.ui.header#redflags
        i.flag.red.icon
        .content Red Flags - Key Tactics to Spot a Troll
      hr
      #profile
        h3 Explore a user's profile. 
      .ui.centered.card
        .content
          #step3
            img.ui.circular.image(src='/images/stock_image4.png') 
          p.header
            | Karen Smith
          p#step4.meta
            | @asdfkjjklj
          p#step5.description
            | Enter bio here 
          span.left.floated.like
            i.calendar.location.arrow.icon
            |     San Franciso, California
          span.left.floated.like
            i.calendar.alternate.icon
            |     Joined September 2019
        .content
          p.left.floated 
            b 15,000 
            | followers
          p.right.floated
            b 10,000 
            | following

      #wording
        h3 Inspect the wording on a user's post. 
      #step6.ui.centered.card
        .content
          img.left.floated.mini.ui.circular.image(src='/images/stock_image3_cropped.png')
          p.header.left.floated
            | Lori Williams
          p.ui.button.tiny.right.floated
            | Follow
          p.meta
            | @jkklkj
          .description
            p It's a cult!
        .extra.content
          span.left.floated.like
            i.like.icon
            |       Like
          p.right.floated
            |       5:12 PM - October 5, 2020

      #time
        h3 Investigate the times of a user's posts.
      p
        | 
      .ui.two.column.grid
        .column
          .ui.centered.card
            .content
              img.left.floated.mini.ui.circular.image(src='/images/stock_image2.png')
              p.header.left.floated
                | Matthew Green
              p.ui.button.tiny.right.floated
                | Follow
              p.meta 
                | @matty_g_1827
              .description
                p “Sometimes paranoia's just having all the facts. ” ― William S. Burroughs
            .extra.content
              span.left.floated.like
                i.like.icon
                |       Like
              p.right.floated#step7
                |       3:34 AM - May 4, 2022
        .column
          .ui.centered.card
            .content
              img.left.floated.mini.ui.circular.image(src='/images/stock_image2.png')
              p.header.left.floated
                | Matthew Green
              p.ui.button.tiny.right.floated
                | Follow
              p.meta 
                | @matty_g_1827
              .description
                p Don't ask what meaning of life is. You define it. #quote #true
            .extra.content
              span.left.floated.like
                i.like.icon
                |       Like
              p.right.floated#step8
                |       3:35 AM - May 4, 2022
        .column
          .ui.centered.card
            .content
              img.left.floated.mini.ui.circular.image(src='/images/stock_image2.png')
              brbr
              p.header.left.floated
                | Matthew Green
              p.ui.button.tiny.right.floated
                | Follow
              p.meta 
                | @matty_g_1827
              .description
                p Man forging a check to get groceries in a crisis = "criminal"
            .extra.content
              span.left.floated.like
                i.like.icon
                |       Like
              p.right.floated#step9
                |       12:00 PM - May 5, 2022
        .column
          .ui.centered.card
            .content
              img.left.floated.mini.ui.circular.image(src='/images/stock_image2.png')
              brbr
              p.header.left.floated
                | Matthew Green
              p.ui.button.mini.right.floated
                | Follow
              p.meta 
                | @matty_g_1827
              .description
                p An art gallery is diagnosed with clinical depression.
            .extra.content
              span.left.floated.like
                i.like.icon
                |       Like
              p.right.floated
                |       1:30 PM - May 5, 2022
      p
        |
      #followers
        h3 Examine a user's followers/following.
      h5.ui.header
      .ui.centered.card
        .content
          img.left.floated.mini.ui.circular.image(src='/images/missing_photo.png')
          p.header.left.floated
            | Joe Kelly
          p.ui.button.tiny.right.floated
            | Follow
          p.meta
            | @politicslover123
        .content
          center
            b Following
          #step10.ui.list
            p.item @asdkfaj
              i.check.square.blue.right.floated.icon
            p.item @random_person36
              i.check.square.blue.right.floated.icon
            p.item @b0t_xox4456
              i.check.square.blue.right.floated.icon
            p.item @ryan_r_8991
              i.check.square.blue.right.floated.icon 

    #step11.ui.segment.keyIdeasSegment
      .ui.header
        i.flag.green.icon
        h3.content Green Flags - Key Characteristics of a Real Account
        .keyTerm.ui.raised.segment
          a.ui.blue.ribbon.label.keyTermLabel
              span.ribbons #1
          span.keyTermDefinition  
            | A verification checkmark
        .keyTerm.ui.raised.segment
          a.ui.blue.ribbon.label.keyTermLabel
              span.ribbons #2
          span.keyTermDefinition 
            | Mutual followers
        .keyTerm.ui.raised.segment
          a.ui.blue.ribbon.label.keyTermLabel
              span.ribbons #3
          span.keyTermDefinition 
            | Personalized pictures and posts
      
    .ui.warning.message#clickNextWarning
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning
     .header
      | Click on each label to proceed   
//-    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
         .ui.labeled.icon.button
             i.rocket.icon
             |   Got it!

block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/trolls/trolls_learn.js")
  script(src="/module_js/base_introSteps.js")
  script(src='/module_js/base_tutorial.js')
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')  
    
    
