extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
        .ui.mini.green.right.labeled.icon.button.showReviewSectionButton
          i.down.arrow.icon
          |   Next  
        .ui.basic.segment.reviewSegment.hidden
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              |  Companies collect all sorts of data about your online activity 
              | and then use that data to show you targeted ads on social media. 

          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Ads are required to be labeled in some way, such as “ad” or 
              | “sponsored.”  But the posts can still look very similar to regular 
              | social media posts on your timeline.


          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | You can follow these strategies to help reduce the number of 
              | targeted ads you see online:
              
          h5.ui.header
            i.caret.right.blue.icon
            .content
              |   Turn off cookies in your web browser
              
          h5.ui.header
            i.caret.right.blue.icon
            .content
              |   Adjust privacy settings in your apps
          
          h5.ui.header
            i.caret.right.blue.icon
            .content
              |   Limit what you share
          br
            
    br
    br
    .ui.warning.message.clickNextWarning.hidden
      .header
       | Click "Next"
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
        .ui.big.labeled.icon.button.gotItButton
            i.rocket.icon
            |   Got it!

block scripts
  script.
    var voiceoverMappings = {
      '.showReviewSectionButton': ['CUSML.2.6.1.mp3','CUSML.2.6.2.mp3','CUSML.2.6.3.mp3']
    };
    var nextPage = 'trans2';
  script(src="/module_js/voiceover.js")  
  script(src="/module_js/base_trans.js")
  
block styles
  link(rel='stylesheet', href='/css/modules/targeted.css')
  link(rel='stylesheet', href='/css/trans.css')  
