extends ../ui_layout

block content
  
  .ui.text.container.addBottomMargin
    br
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | It's really common to see advertisements when browsing through your 
          | social media feed.
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | In fact, companies often collect information about you and use it to 
          | show you ads for things they think you'll like. This is called 
          | targeted advertising.
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | While it may be nice to see ads tailored to your interests, the more 
          | companies know about you, the more your information is at risk of 
          | being sold, stolen, or used in ways you don't agree with.

      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header.grayElement 
        i.hand.pointer.icon
        span Click on each word below to learn more
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          .ui.raised.segment.keyTerm
            a.ui.blue.ribbon.label.keyTermLabel
                //- i.dollar.sign.icon 
                span Data
            span.hidden.keyTermDefinition 
              | Facts and statistics about a user that are collected for 
              | different purposes.
              ul
                | Apps and websites collect data about your online activity 
                | (i.e. other sites you visit, what you click on, what you 
                | search for, etc.)

        .ui.column
          .ui.raised.segment.keyTerm
            a.ui.blue.ribbon.label.keyTermLabel
                span Targeted advertising
            span.hidden.keyTermDefinition  
              | When apps or websites show you certain types of advertisements 
              | based on information they’ve collected about you. 
            
        .ui.column
          .ui.raised.segment.keyTerm
            a.ui.blue.ribbon.label.keyTermLabel
                span Sponsored post
            span.hidden.keyTermDefinition 
              | A post on social media that is paid for by a company as an 
              | advertisement for their product.
              ul 
                | Sponsored posts usually are labeled as “sponsored” but they 
                | look a lot like posts from the average person. 
    .ui.warning.message#clickNextWarning
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning
     .header
      | Click on each label to proceed  
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!

block scripts
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')
  
