extends ../ui_layout

block content

  .ui.text.container
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
          
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |  Companies collect <b>data</b> from you, such as which websites you visit, what products you buy online, and what you look up on search engines. Companies then use this data to show you <b>targeted advertising</b> on social media.

        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |   The advertisements can be in the form of a <b>sponsored post</b>, which look similar to regular social media posts but contain advertisements.


        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |   Here are some strategies you can use to prevent targeted advertisements.
            
        h5.ui.header
          i.caret.right.blue.icon(style="text-indent:3em;")
          .content
            |   Turn off cookies in your web browser
            
        h5.ui.header
          i.caret.right.blue.icon(style="text-indent:3em;")
          .content
            |   Adjust privacy settings on the website
        
        h5.ui.header
          i.caret.right.blue.icon(style="text-indent:3em;")
          .content
            |   Limit what you share
        br
            
    br
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!
    br
    br
    br
    block scripts
  script().
    function startIntro(){
      
        window.location.href='/trans2/targeted';

      };
