extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .ui.equal.width.padded.internally.celled.grid
    .ten.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column(style="background-color:#FFFFFF; padding-bottom:4em;")
      img.ui.fluid.image(src = cdn+'/post_pictures/spcookies.jpg' style="max-width:100%;")  
      .ui.equal.width.padded.internally.celled.grid.stackable
        .ui.column.center.aligned
          h2 Confetti Cookies
        .row
          .ui.column
            p Level: <b>Easy</b>
            p Total: <b>25 mins</b>
          .ui.column
            p Prep: <b>10 mins</b>
            p Cook: <b>15 mins</b>
          .ui.column
            p Yield: <b>30-36 cookies</b>
        .row 
          .ui.column
            h3 Ingredients:
            p 1 package yellow cake mix
            p ½ cup canola oil or other neutral-tasting oil
            p ¼ cup water
            p 1 egg
            p 3 cups fruit rice crisp cereal or cocoa rice crisp cereal
        .row
          .column
            h4 Directions:
            ol.ui.list
              li Preheat your oven to 350ºF.
              li Dump the cake mix into a large bowl and add the oil, water, and egg. Stir until thoroughly combined.
              li Stir in the cereal until well distributed.
              li Drop the dough by the teaspoonful onto a greased cookie sheet.
              li Bake for 10 to 12 minutes, or until the edges begin to brown.
              li Let the cookies cool on the sheet for a few minutes before removing them to a wire rack to cool. Store the cookies in an airtight container at room temperature. For optimum freshness, enjoy them within a few days. They can be frozen to enjoy later.
            p (Recipe by Sarah Hatfield on Go Dairy Free)
          
      a(href='javascript:void(0);', onclick='javascript:startIntro();')
          .ui.big.green.labeled.icon.button
              i.rocket.icon
              |   Let's Continue!

          
    .computer.only.tablet.only.six.wide.column
      h2 What's Cooking
      .ui.equal.width.padded.grid
        .row 
          .ui.column
            img.ui.fluid.image(src=cdn+ '/post_pictures/Food_Interest_Page_2.jpg' style="object-fit:cover;width:130px;height:130px;")
          .ui.column
            h4 Irresistable Fudge Brownies
        .row 
          .ui.column
            img.ui.fluid.image(src= cdn +'/post_pictures/Food_Interest_Page_3.jpg' style="object-fit:cover;width:130px;height:130px;")
          .ui.column
            h4 Easy + Quick Dinners
        .row 
          .ui.column
            img.ui.fluid.image(src= cdn +'/post_pictures/Food_Interest_Page_4.jpg' style="object-fit:cover;width:130px;height:130px;")
          .ui.column
            h4 'Tis the Season for Pies!
          
block scripts
  script().
    function startIntro(){
      window.location.href='/trans_script/targeted';
    };
