extends ../script.pug

block post
  if (val.type == user.targetedAdTopic)
    include ../partials/script/targetedAd
    
  else if (((val.type == 'Sports') || (val.type == 'Food') || (val.type == 'Gaming')) && (!(val.type == user.targetedAdTopic)))
    //- do nothing, do not display. This is another targteted ad, but one of the unselected types 
    
  else
  
    include ../partials/script/actorPost
  
  //- Why am I seeing this ad modal, used in targeted ads modual. text depends on previously selected interest in trans2.
  .ui.small.modal#whyAmISeeingThisAdModal
    i.close.icon
    .header Why am I seeing this ad?
    if (user.targetedAdTopic == 'Sports')
      .content(id="sports")
    else if (user.targetedAdTopic == 'Food')
      .content(id="food")
    else if (user.targetedAdTopic == 'Gaming')
      .content(id="gaming")
  
  //-Hide ad modal, used in targeted ads module. 
  .ui.small.modal#hideAdModal
    i.close.icon  
    .header Why did you choose to hide this ad?
    .content
        .ui.form
           .field
             .ui.checkbox
               input(type='checkbox')
               label The ad was not relevant to me
           .field
             .ui.checkbox
               input(type='checkbox')
               label I see this ad too often
           .field
             .ui.checkbox
               input(type='checkbox')
               label The ad was inappropriate
           br
           .actions
             .ui.positive.right.labeled.icon.button
               | Done
               i.checkmark.icon              

block scripts2
  script.
    /* alert('hi'); */
