extends ../script.pug

block post
  if (val.type == user.targetedAdTopic[user.targetedAdTopic.length - 1])
    - const isAd = true
    include ../partials/script/actorPost
  else if (val.type == "neutral")
    include ../partials/script/actorPost
  else