extends ../ui_layout

block content

  .ui.equal.width.padded.grid.stackable
    .row
      .column.center.aligned
        h3 Boggle Earth VR
      .column.center.aligned
        p Features
      .column.center.aligned
        p Highlights
      .column.center.aligned
        p Available Now
    .row
      .column.center.aligned
        .ui.fluid.image
          img(src=cdn+ '/post_pictures/Games_Interest_Page_1.png' style="object-fit:cover;height:280px;")
          h1(style="position:absolute; bottom:50%; width:100%; height:auto; color:white;") Your World Awaits
          p(style="position:absolute; bottom:40%; width:100%; height:auto; color:white;") Come experience the wonder of Boggle Earth in virtual reality
    .row
      .column.center.aligned
        h1 Introducing Boggle Earth VR
        p Explore the world from totally new perspectives. Stroll the streets of Tokyo, soar overYosemite, or teleport across the globe.
        
    .row
      .column.left.aligned
        .ui.fluid.image
          img(src=cdn+ '/post_pictures/Games_Interest_Page_2.jpg' style="object-fit:cover;height:280px;")
          h2(style="position:absolute; bottom:50%; left:5%; right:5%; width:100%; height:auto; color:white;") Be the Change
          
        
      .column
        .ui.fluid.image
          img(src=cdn+ '/post_pictures/Games_Interest_Page_3.jpg' style="object-fit:cover;height:280px;")
          h2(style="position:absolute; bottom:50%; left:5%; right:5%; width:100%; height:auto; color:white;") Space VR
        
  a(href='javascript:void(0);', onclick='javascript:startIntro();', style="margin-bottom:4em;")
      .ui.big.green.labeled.icon.button
          i.rocket.icon
          |   Let's Continue!
          
            
block scripts
  script().
    function startIntro(){
      
        window.location.href='/trans_script/targeted';

    };
