extends ../ui_layout

block content

  .ui.text.container
    h3 sports
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Let's Continue!
    
block scripts
  script().
    function startIntro(){

    window.location.href='/trans_script/targeted';

    };
