extends ../ui_layout

block content

  .ui.text.container(style="margin-bottom:4em;")
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
          
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |  Companies collect all sorts of data about your online activity and then use that data to show you targeted ads on social media. 

        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |   Ads are required to be labeled in some way, such as “ad” or “sponsored.”  But the posts can still look very similar to regular social media posts on your timeline.


        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |   You can follow these strategies to help reduce the number of targeted ads you see online:
            
        h5.ui.header
          i.caret.right.blue.icon(style="text-indent:3em;")
          .content
            |   Turn off cookies in your web browser
            
        h5.ui.header
          i.caret.right.blue.icon(style="text-indent:3em;")
          .content
            |   Adjust privacy settings in your apps
        
        h5.ui.header
          i.caret.right.blue.icon(style="text-indent:3em;")
          .content
            |   Limit what you share
        br
            
    br
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!

    block scripts
  script().
    function startIntro(){
        window.location.href='/trans2/targeted';
      };
