extends ../ui_layout

block content
  .ui.equal.width.padded.grid.stackable
    .row
      .column.center.aligned
        h3 Boggle Earth VR
      .column.center.aligned
        p Features
      .column.center.aligned
        p Highlights
      .column.center.aligned
        p Available Now
    .row
      .column.center.aligned
        .ui.fluid.image.gamingElement1
          img(src=cdn+ '/post_pictures/Games_Interest_Page_1.png')
          h1 Your World Awaits
          p Come experience the wonder of Boggle Earth in virtual reality
    .row
      .column.center.aligned
        h1 Introducing Boggle Earth VR
        p Explore the world from totally new perspectives. Stroll the streets of Tokyo, soar overYosemite, or teleport across the globe.
        
    .row
      .column.left.aligned
        .ui.fluid.image.gamingElement2
          img(src=cdn+ '/post_pictures/Games_Interest_Page_2.jpg')
          h2 Be the Change
          
        
      .column
        .ui.fluid.image.gamingElement2
          img(src=cdn+ '/post_pictures/Games_Interest_Page_3.jpg')
          h2 Space VR
        
  a.addBottomMargin(href='javascript:void(0);', onclick='javascript:startIntro();')
    .ui.big.green.labeled.icon.button
        i.rocket.icon
        |   Let's Continue!
          
            
block scripts
  script().
    function startIntro(){
      window.location.href='/trans_script/targeted';
    };
    
block styles
  link(rel='stylesheet', href='/css/modules/targeted.css')
