#emotional.hidden
    .ui.container#emotional-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Emotional Impact
            p In addition to Financial loss, Individuals may feel 
                strong deeply embarrassed, betrayed, and even genuinely heartbroken. 
                | The mental and emotional impacts can lead to long-lasting trust issues and difficulties in future relationships.
            img.ui.image.centered.medium(src='/images/romance/emotional.png')
            i.source [6] Example of Financial Consequences.  
                a(href='https://www.finrafoundation.org/files/non-traditional-costs-financial-fraud' target='_blank') 'https://www.finrafoundation.org/files/non-traditional-costs-financial-fraud' 
            br
            i.source [7] Example of Emotional Consiequence. 
                a(href='https://abc7news.com/scams-targeting-the-elderly-popular-sweepstakes-old-woman-commits-suicide-after-getting-scammed/3126945/' target='_blank') 'https://abc7news.com/scams-targeting-the-elderly-popular-sweepstakes-old-woman-commits-suicide-after-getting-scammed/3126945/' 
            
