#financial.hidden
    .ui.container#raised-container.center-layout
        .limit
            #financial-read
                h1.ui.header.large#learn-title
                    .content
                        i.video.icon
                        | Financial Impact
                //- p Click the image to start the video
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p Click the image to start the video
            br
            #video-container
                video-js#my_video_1.video-js.vjs-default-skin.vjs-show-big-play-button-on-pause(width='640px' height='360px' controls='' preload='none' data-setup='{ "poster":"/images/identity-consequences-poster.png", "aspectRatio":"16:9", "playbackRates": [0.5, 0.75, 1, 1.5, 2] }')
                    source(src='https://dart-store.s3.amazonaws.com/identity-consequences.mp4' type='video/mp4')

        //- script.
        //-     var module = "#{module}";
        //-     var section = "#{section}";
        //-     var page = "#{page}"; 

        //-     let total = parseInt(#{numPages});
        //-     let progress = 2 / total;
        //-     console.log(progress);
        //-     updateProgressBar(progress);