#financial.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-financial Financial Impact
                    span#narrate-1-financial         
                        span The Federal Trade Commission (FTC) reports that in 2022 nearly 70,000 people reported a Romance Scams. 
                        strong Reported losses hit $1.3 billion. 
                        span#narrate-3-financial 
                            span The median reported loss was $4,400. Romance Scams increased during the pandemic while people struggled emotionally. Michael Delaney, a lawyer from Chicago with a focus on elder law, shared his observations from working with clients:
                        //- Reflecting on the severe impact these scams have had, Michael Delaney, a Chicago-based lawyer who specializes in elder law, said:
                    blockquote
                        span#narrate-4-financial 
                            span I've seen elders mortgage their houses, borrow large sums of money from their neighbors, empty out their retirement accounts”
                    i.source Sources: 
                        a(href='https://www.nytimes.com/2023/02/03/business/retiree-romance-scams.html' target='_blank')  New York Times 
                        | & [5]
                        a(href=' https://www.ftc.gov/news-events/data-visualizations/data-spotlight/2023/02/romance-scammers-favorite-lies-exposed' target='_blank')  Federal Trade Commission

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src=`${public_resources}/images/modules/identity/losing-money.svg` style='margin-left: auto; margin-right: auto' alt="losing money")
