#general.hidden
    .ui.container#general-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | With your personal information, a scammer could…
            .ui.bulleted.list 
                .item fraudulently apply for loans and credit cards, resulting in financial losses, decreases in credit scores, and future difficulty receiving loans.
                .item withdraw your money from your bank accounts, resulting in financial loss.
                .item steal your tax refund.
                .item steal your health care benefits.
                .item commit crimes under your name or by using your email accounts.
                .item hack your social media accounts.
                .item commit other subsequent identity thefts, like accessing personal information of your family members.
