#targeted.hidden
    .ui.container#targeted-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .six.wide.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Scam Targets
                    img.ui.image(src='/images/romance/targeted.png' alt="sad person questioning themself")
                .ten.wide.column.middle.aligned
                    p Many victims wonder, 'Why me? Why was I chosen?'
                    p Becoming a target of scams is in 
                        strong no way your fault. 
                        | Scammers often select their targets at 
                        strong random, 
                        | meaning that 
                        strong anyone can be vulnerable 
                        | to their tricks. Your primary focus should be on learning how to spot the signs of scams and taking action to avoid them.
