#targeted.hidden
    .ui.container#targeted-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .six.wide.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-targeted Scam Targets
                    img.ui.image(src=`${public_resources}/images/modules/romance/targeted.png`)
                .ten.wide.column.middle.aligned
                    p 
                        span#narrate-1-targeted 
                            span Many victims wonder, 'Why me? Why was I chosen?'
                    p 
                        span#narrate-2-targeted 
                            span Becoming a target of scams is in 
                        strong 
                            span#narrate-3-targeted
                                span no way your fault. 
                        span#narrate-4-targeted 
                            span Scammers often select their targets at 
                        strong 
                            span#narrate-5-targeted
                                span random, 
                        span#narrate-6-targeted
                            span meaning that 
                        strong 
                            span#narrate-7-targeted
                                span anyone can be vulnerable 
                        span#narrate-8-targeted
                            span to their tricks. Your primary focus should be on learning how to spot the signs of scams and taking action to avoid them.
