#targeted.hidden
    .ui.container#raised-container.center-layout
        .limit
            #targeted-read
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Targeted
