extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.text.container
    br
    .ui.raised.segment
      h3.ui.header
        i.wechat.icon
        .content
          | Someone you don’t know personally but is a friend of a friend sends you the following message.
      hr 
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.eye.icon
              |   View  Messages


    #show_steps.ui.segment.hidden
      //- .ui.header.title
      a.ui.blue.ribbon.label#clickHereToSee
        h4
          i.hand.pointer.icon
          content Click here to see ways to respond.

      br
      br
      #steps.ui.stackable.two.column.grid.hidden
        .ui.column
          #step1.ui.raised.segment
            a.ui.blue.ribbon.label#step1Label
                //- i.magic.icon 
                span Ignore the person
            span.hidden(id="step1_info", style="font-weight:600") Ignoring the person is always an option! You shouldn't share private information with someone you haven't met in real life.

        .ui.column
          #step2.ui.raised.segment
            a.ui.blue.ribbon.label#step2Label
                //- i.magic.icon 

                span Change the Subject
            span.hidden(id="step2_info",style="font-weight:600") One thing you can do is to change the subject.
        
        .ui.column
          #step3.ui.raised.segment
            a.ui.blue.ribbon.label#step3Label
                //- i.magic.icon 
                span Be Direct
            span.hidden(id="step3_info",style="font-weight:600") Try saying “I don’t know you. I don’t feel comfortable giving you my address.”
        
        .ui.column
          #step4.ui.raised.segment
            a.ui.blue.ribbon.label#step4Label
                //- i.magic.icon 
                span Talk to a trusted adult
            span.hidden(id="step4_info",style="font-weight:600") It's always helpful to get advice from someone you trust.
    
    #chat1.container.clearfix.hidden
      .chat(style="right:24px;")
        .chat-header.clearfix
          //-making close button have minimize functionality so user can't accidentally close the chat and not be able to reference it
          a.chat-minimize(href='#')
            i.large.close.icon
          a.chat-minimize(href='#')
            i.window.minimize.icon

          a(href='#')
            img.ui.avatar.image(src=cdn+'/profile_pictures/user21.jpg',style="width: 3em;height: 3em;")
          .chat-about
            .chat-with Chat with Sam Hill
            //- .chat-num-messages already 1 902 messages
          //- i.fa.fa-star
        // end chat-header
        .chat-history
          ul
            li.clearfix
              .message-data
                span.message-data-name 
                  i.dot.circle.icon.online
                  | Sam 
                span.message-data-time 10:12 AM
              .message.my-message
                | Hey, your friend gave me your number.
            li
              .message-data
                span.message-data-name
                  i.dot.circle.icon.online
                  |  Sam 
                span.message-data-time 10:12 AM
              .message.my-message
                | She said you were really into basketball.
            li
              .message-data
                span.message-data-name
                  i.dot.circle.icon.online
                  |  Sam 
                span.message-data-time 10:20 AM
              .message.my-message
                | What’s your address so I can stop by after school to shoot some hoops

        // end chat-history
        .chat-message.clearfix
          .ui.fluid.action.input
            input#message-to-send(type='text', name='message-to-send', placeholder='Type your message')
            button
              i.blue.send.icon
              | Send
        // end chat-message
        // end chat
    // end container
    script()#message-template(type='text/x-handlebars-template').
      <li class="clearfix">
      <div class="message-data align-right">
      <span class="message-data-time" >{{time}}</span> &nbsp; &nbsp;
      <span class="message-data-name" >Me</span> <i class="dot circle icon me"></i>
      </div>
      <div class="message other-message float-right">
      {{messageOutput}}
      </div>
      </li>
    script()#message-response-template(type='text/x-handlebars-template').
      <li>
      <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time">{{time}}</span>
      </div>
      <div class="message my-message">
      {{response}}
      </div>
      </li>

    br
    .ui.warning.message#clickViewMessagesWarning(style="display:none;")
      .header
       | Click "View Messages"
    .ui.warning.message#clickToSeeWarning(style="display:none;")
     .header
      | Click the blue banner to see ways to respond
    .ui.warning.message#clickLabelsWarning(style="display:none;")
     .header
      | Click on each label to proceed  
    .ui.big.labeled.icon.button.cybersim#safepostSimButton
        i.rocket.icon
        |   Got it!
    br
    br
    br
block scripts
  script().
  
    //a function to animate any unclicked labels, used for error messaging
    function animateUnclickedLabels() {
      if($('#step1_info').is(":hidden")){
        $('#step1Label').transition('bounce');
      }
      if($('#step2_info').is(":hidden")){
        $('#step2Label').transition('bounce');
      }
      if($('#step3_info').is(":hidden")){
        $('#step3Label').transition('bounce');
      }
      if($('#step4_info').is(":hidden")){
        $('#step4Label').transition('bounce');
      }
    };

    setTimeout(function(){
      $('.sub.header').transition('shake'); 
    }, 1500);

    setTimeout(function(){
      $('#point1').transition('jiggle');    
    }, 2500);

    $('#introduction_next').on('click', function () { 
      $('#clickViewMessagesWarning').hide();     
      $('#chat1').show(); 
      setTimeout(function(){
        $('#show_steps').show();
        $('#steps').hide();
        $('#show_steps').transition('jiggle');    
      }, 3000);      

    });

    $('#show_steps a').on('click', function () {
        $('#steps').show();   
        $('#clickToSeeWarning').hide();      
        //$('.ui.big.labeled.icon.button.cybersim').addClass('green');
     });

     $('#step1>a').on('click', function () {      
        $('#step1_info').show(); 
        $('#step1').transition('tada'); 
        if($('#step1_info').is(":visible") && $('#step2_info').is(":visible") && $('#step3_info').is(":visible") && $('#step4_info').is(":visible")){
          $('#clickLabelsWarning').hide();
          $('.ui.big.labeled.icon.button.cybersim').addClass('green');
        }    
    });

    $('#step2>a').on('click', function () {      
        $('#step2_info').show();      
        $('#step2').transition('tada'); 
        if($('#step1_info').is(":visible") && $('#step2_info').is(":visible") && $('#step3_info').is(":visible") && $('#step4_info').is(":visible")){
          $('#clickLabelsWarning').hide();
          $('.ui.big.labeled.icon.button.cybersim').addClass('green');
        }       
    });

     $('#step3>a').on('click', function () {      
        $('#step3_info').show(); 
        $('#step3').transition('tada');
        if($('#step1_info').is(":visible") && $('#step2_info').is(":visible") && $('#step3_info').is(":visible") && $('#step4_info').is(":visible")){
          $('#clickLabelsWarning').hide();
          $('.ui.big.labeled.icon.button.cybersim').addClass('green');
        }        
    });

    $('#step4>a').on('click', function () {      
        $('#step4_info').show(); 
        $('#step4').transition('tada'); 
        if($('#step1_info').is(":visible") && $('#step2_info').is(":visible") && $('#step3_info').is(":visible") && $('#step4_info').is(":visible")){
          $('#clickLabelsWarning').hide();
          $('.ui.big.labeled.icon.button.cybersim').addClass('green');
        }       
    });
    
    $('#safepostSimButton').on('click', function(){
      
      if($('#chat1').is(":hidden")){
        $("#clickViewMessagesWarning").show();
      } else if ($('#show_steps').is(":visible") && $('#steps').is(":hidden")){
        $("#clickToSeeWarning").show();
        $("#clickHereToSee").transition('bounce');
      } else if ($('#show_steps').is(":visible") && $('#steps').is(":visible")){
        if($('#step1_info').is(":visible") && $('#step2_info').is(":visible") && $('#step3_info').is(":visible") && $('#step4_info').is(":visible")){
          $('#clickLabelsWarning').hide();
          $('.ui.big.labeled.icon.button.cybersim').addClass('green');
        } else {
          $('#clickLabelsWarning').show();
          animateUnclickedLabels();
        }  
      }
    });

    //I do not know what this is supposed to do
    /*$("input").change(function(){
      if (($('input:checked').length) == 
            ($('input').length)){
        $('.ui.big.labeled.icon.button.cybersim').addClass('green');
        $('.ui.big.labeled.icon.button.cybersim').transition('jiggle');
      }
      else{
        //$('.ui.big.labeled.icon.button.cybersim').removeClass('green');
      }
    });*/
   
    
    
