extends ../ui_layout

block content

  .ui.text.container(style="padding-bottom:4em;")
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
          
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | Your social media <b>audience</b> can include a lot of people that you don’t know very well. This is why you should not share <b>private information</b> online, such as your full name, address, or phone number.
        
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content 
            | If someone you don’t know is asking for private information about you online, you should be cautious! When this happens, it's important to slow down, pause, and think about the situation. You can respond by <b>changing the subject or telling a trusted adult.</b>
        
        br
        //-.ui.large.list
          a.item
            i.arrow.circle.right.blue.icon
            .content
              span(style='color:black;') Your social media <b>audience</b> can include a lot of people that you don’t know very well. This is why you should not share <b>private information</b> online, such as your full name, address, or phone number.
          br
          a.item
            i.arrow.circle.right.blue.icon
            .content
              span(style='color:black;')  If someone you don’t know is asking for private information about you online, you should be cautious! When this happens, it's important to slow down, pause, and think about the situation. You can respond by <b>changing the subject or telling a trusted adult.</b>
          br

        //-ui.list
          .item
            h5
              i.arrow.circle.right.blue.icon
              | Your social media <b>audience</b> can include a lot of people that you don’t know very well. This is why you should not share <b>private information</b> online, such as your full name, address, or phone number.
          br
          
          .item
            h5
              i.arrow.circle.right.blue.icon
              | If someone you don’t know is asking for private information about you online, you should be cautious! When this happens, it's important to slow down, pause, and think about the situation. You can respond by <b>changing the subject or telling a trusted adult.</b>
    
    br
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!
    block scripts
  script().
    function startIntro(){
        //- var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
        //-   intro.setOptions({
        //-     steps: [
        //-       { 
        //-         intro: "<b>Cyberbullying</b> is when someone posts or shares negative things about someone else online. The <b>bully</b> may use digital devices, sites, or apps. The bully often does this again and again to the same person"
        //-       },
        //-       {
        //-         intro: "An <b>upstander</b> will confront the bully, or support and defend the target."
            
        //-       },
        //-       { 
               
        //-         intro: "You can also <b>flag</b> the comment or tell a trusted adult."
                
        //-       }
              
        //-     ]
        //-   });
        //-   intro.start().onexit(function() {
        //-   window.location.href='/trans_script/digital-literacy';
        //- });
        window.location.href='/trans_script/safe-posting';

      };
