extends ../ui_layout

block content

  .ui.text.container
    br
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | Social media can connect people over the Internet. People use social media to share information, their interests, and connect with friends and family. They can also use it to talk to new people and meet new friends!
 
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | On social media, you may be talking to many different people at the same time. You might not know some of them in real life. Remember to always be careful about the information you share online, especially with people you've never met face-to-face.
      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header 
        i.hand.pointer.icon(style="color:gray;")
        span(style="color: gray;") Click on each label below to learn more
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          #audience.ui.raised.segment
            a.ui.blue.ribbon.label#audienceLabel
                //- i.dollar.sign.icon 
                span Audience
            span.hidden(id="audience_info", style="font-weight:600") Anyone who can see information about you or posted by you online.
              ul(style="font-weight:400") This could include strangers or people you haven't met face-to-face.

        .ui.column
          #private_information.ui.raised.segment
            a.ui.blue.ribbon.label#privateInformationLabel
                //- i.magic.icon 
                span Private information
            span.hidden(id="private_information_info",style="font-weight:600") Information about you that can be used to identify you because it is unique to you.
              ul(style="font-weight:400") This can include things like your full name, school, home address, or phone number.
        
        .ui.column
          #risky.ui.raised.segment
            a.ui.blue.ribbon.label#riskyLabel
                //- i.magic.icon 
                span Risky
            span.hidden(id="risky_info",style="font-weight:600") Potentially harmful to one’s emotional or physical well-being.
              ul(style="font-weight:400") It is risky to share private information online. People could share it with others or use it to try to trick or scam you.
    
    .ui.warning.message#clickNextWarning(style="display:none;")
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning(style="display:none;")
     .header
      | Click on each label to proceed  
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!
    br
    br
    br
block scripts
  script().
  
    //a function to animate any unclicked labels, used for error messaging
    function animateUnclickedLabels() {
      if($('#audience_info').is(":hidden")){
        $('#audienceLabel').transition('bounce');
      }
      if($('#private_information_info').is(":hidden")){
        $('#privateInformationLabel').transition('bounce');
      }
      if($('#risky_info').is(":hidden")){
        $('#riskyLabel').transition('bounce');
      }
    };
  
    $('#introduction_next').on('click', function () {   
      $('#clickNextWarning').hide();   
      $('#question').show(); 
      $('#question').transition('jiggle');     
      if(!($('#question').is(":hidden") ||  $('#private_information_info').is(":hidden") || $('#audience_info').is(":hidden") || $('#risky_info').is(":hidden"))){
        $('.ui.labeled.icon.button').addClass('green');
      } 
    });

    $('#audience>a').on('click', function () {      
        $('#audience_info').show(); 
        $('#audience').transition('tada');     
        if(!($('#question').is(":hidden") ||  $('#private_information_info').is(":hidden") || $('#audience_info').is(":hidden")|| $('#risky_info').is(":hidden"))){
          $('#clickLabelsWarning').hide();
          $('.ui.labeled.icon.button').addClass('green');
        }
    });

    $('#private_information>a').on('click', function () {      
        $('#private_information_info').show();      
        $('#private_information').transition('tada');     
        if(!($('#question').is(":hidden") ||  $('#private_information_info').is(":hidden") || $('#audience_info').is(":hidden") || $('#risky_info').is(":hidden"))){
          $('#clickLabelsWarning').hide();
          $('.ui.labeled.icon.button').addClass('green');
        }
    });

     $('#risky>a').on('click', function () {      
        $('#risky_info').show(); 
        $('#risky').transition('tada');     
        if(!($('#question').is(":hidden") ||  $('#private_information_info').is(":hidden") || $('#audience_info').is(":hidden") || $('#risky_info').is(":hidden"))){
          $('#clickLabelsWarning').hide();
          $('.ui.labeled.icon.button').addClass('green');
        }
    });


    function startIntro(){
        if($('#question').is(":hidden")){
          //User has not clicked next
          $('#clickNextWarning').show();
          $('#introduction_next').transition('bounce');
        }else{
          var clickedAllLabels = ($('#audience_info').is(":visible") && $('#private_information_info').is(":visible") &&  $('#risky_info').is(":visible"));
          if(clickedAllLabels == true){ 
            //everything is good to proceed
            $('#clickLabelsWarning').hide();
            window.location.href='/tutorial/safe-posting';
          } else { 
            //User has not clicked all the labels
            $('#clickLabelsWarning').show();
            animateUnclickedLabels();
          }
        }         
      };
