extends ../ui_layout

block content
  .ui.text.container.addBottomMargin
    br 
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn

      hr
      .ui.basic.segment.removePadding
        .ui.mini.green.right.labeled.icon.button.showLearnSectionButton
          i.down.arrow.icon
          |
          | Siguiente

      .ui.basic.segment.learnSegment.hidden
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | Las redes sociales son una buena vía para comunicarnos con los demás y expresarnos. Además, puedes usarlas para mostrar a otros, incluidas las universidades o futuros empleadores, quién eres tú como persona.

        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | Sin embargo, el uso de las redes sociales también puede tener inconvenientes. Lo que tú y los demás comparten es permanente, y es fácil quedar atrapado compartiendo cosas de las que luego te puedas arrepentir. También puede tomar mucho tiempo administrar diferentes plataformas y cuentas.

        br
        .ui.mini.green.right.labeled.icon.button.showKeyTermsButton
          i.down.arrow.icon
          |
          | Siguiente

    .ui.segment.keyIdeasSegment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Vocabulario Clave
      .sub.header 
        |
        |
        i.hand.pointer.icon.grayElement
        span.grayElement Selecciona cada palabra para aprender más
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          .keyTerm.ui.raised.segment.voiceover_keyTerm1
            a.ui.blue.ribbon.label.keyTermLabel
              //- i.magic.icon 
              span Huella Digital
            span.hidden.keyTermDefinition 
              |
              |
              | Toda información en línea sobre una persona publicada por esa persona u otras personas, de forma intencionada o no.

              ul
                | Su huella digital puede afectar su reputación en línea y fuera de línea.¡Es importante manejarlo lo mejor que puedas!

        .ui.column
          .keyTerm.ui.raised.segment.voiceover_keyTerm2
            a.ui.blue.ribbon.label.keyTermLabel
              //- i.magic.icon 
              span Audiencia
            span.hidden.keyTermDefinition 
              |
              |
              | Cualquiera que pueda ver información sobre ti o publicaciones realizadas por ti en línea.

              ul
                | Antes de publicar en las redes sociales, piensa en tu audiencia actual y futura.¡Recuerda que tus publicaciones siempre serán parte de tu huella digital!

        .ui.column
          .keyTerm.ui.raised.segment.voiceover_keyTerm3
            a.ui.blue.ribbon.label.keyTermLabel
              //- i.dollar.sign.icon 
              span Compartir en exceso
            span.hidden.keyTermDefinition 
              |
              |
              | Cuando las personas comparten algo de lo que luego se arrepienten.

              ul
                | Esto puede ocurrir cuando las personas comparten demasiada información privada o personal sobre sí mismas.

    #clickSiguienteWarning.ui.warning.message
      .header
        | Clic "Siguiente"

    #clickLabelsWarning.ui.warning.message
      .header
        | Dale clic a cada etiqueta para continuar

    a(href="javascript:void(0);", onclick="javascript:clickGotIt();")
      .ui.labeled.icon.button
        i.rocket.icon
        |
        | ¡Entendido!

block scripts
  script.
    var voiceoverMappings = {
      ".showLearnSectionButton": {
        initialDelay: 700,
        delay: 1000,
        //- "files": ['CUSML.4.1.1.mp3','CUSML.4.1.2.mp3']
      },
      ".voiceover_keyTerm1": {
        initialDelay: 700,
        delay: 0,
        //- "files": ['CUSML.4.2.1.mp3']
      },
      ".voiceover_keyTerm2": {
        initialDelay: 700,
        delay: 0,
        //- "files": ['CUSML.4.2.2.mp3']
      },
      ".voiceover_keyTerm3": {
        initialDelay: 700,
        delay: 0,
        //- "files": ['CUSML.4.2.3.mp3']
      },
    };
  script(src="/module_js/voiceover.js")
  script(src="/module_js/base_start.js")

block styles
  link(rel="stylesheet", href="/css/start.css") 
