extends ../ui_layout

block content

  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column

  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid(style="padding-top:1em;")
      .ui.fixed.bottom.sticky(style="padding-bottom:6em;")
        .ui.icon.compact.message.warning(style="display:none;")#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
          
        .ui.icon.message.warning(style="display:none;")#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue.
    .ui.raised.segment
      h2.ui.header#generalStep Create Your Profile
      
      .ui.form(style="font-size:130%;")
        .field
          label Name
          input(type="text" autocomplete='off')
        .field
          label Bio
          textarea(type="text" rows="3" autocomplete='off')   
        .field
          label Birthday
          input(type="text" autocomplete='off')     
        div#locationStep
          .field
            label Current City
            input(type="text" autocomplete='off') 
          .field
            label Hometown
            input(type="text" autocomplete='off')
          .field
            label School
            input(type="text" autocomplete='off') 
        br

              
    button.ui.big.labeled.icon.button.cybertrans#cyberTransButton(style="margin-bottom:4em;")
        i.rocket.icon
        |   Let's Continue!     
          
block scripts
  script.
    var hintsList = [
      {
        hint: `Fill out the profile information. Remember to not share too many
          details about who you are.`,
        element: '#generalStep',
        hintPosition: 'top-middle',
        audioFile: ['CUSML.8.4.06.mp3']
      },
      {
        hint: `Start off by sharing only a little bit of information about
          yourself. You can always add more information later if you need to.`,
        element: '#generalStep',
        hintPosition: 'top-right',
        audioFile: ['CUSML.8.4.07.mp3']
      }
    ];
  script(src="/module_js/base_sim.js")
  script(src="/module_js/voiceover.js")
  
block styles
  link(rel='stylesheet', href='/css/modules/accounts.css')
