extends ../ui_layout

block content

  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column

  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid(style="padding-top:1em;")
      .ui.fixed.bottom.sticky(style="padding-bottom:6em;")
        .ui.icon.compact.message.warning(style="display:none;")#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
          
        .ui.icon.message.warning(style="display:none;")#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue.
    .ui.raised.segment
      h2.ui.header#generalStep Create Your Profile
      
      .ui.form(style="font-size:130%;")
        .field
          label Name
          input(type="text")
        .field
          label Bio
          textarea(type="text" rows="3")   
        .field
          label Birthday
          input(type="text")     
        div#locationStep
          .field
            label Current City
            input(type="text") 
          .field
            label Hometown
            input(type="text")
          .field
            label School
            input(type="text") 
        br

              
    button.ui.big.labeled.icon.button.cybertrans#cyberTransButton(style="margin-bottom:4em;")
        i.rocket.icon
        |   Let's Continue!     
          
block scripts
  script(src="/module_js/accounts/accounts_sim2.js")
  script(src="/module_js/base_sim.js")
  
block styles
  style 
    include ../../css/accounts/sim2.css 
