extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container.resultsAddBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment.reflectionTopSegment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          
          .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection1
            i.down.arrow.icon
            |   Start
          .ui.basic.segment.reflectionPromptSegment.hidden  
            .ui.label.resultsPromptLabel
              h4.reflectionPrompt
                | What are some features of a strong password?
            .ui.form
              .inline.fields
                label
                textarea.glowing-border(rows='2' id="accounts_responseOne")
            
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection2
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt
                  | Why is it important to choose your username carefully?
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="accounts_responseTwo")
            
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection3
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt
                  | What kind of information is okay to share on your social media 
                  | profile?
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="accounts_responseThree")

    .ui.warning.message.hidden.startPromptsWarning
      .header
        | Click "Start"
    .ui.warning.message.hidden.openAllPromptsWarning
      .header
        | Click "Next"
    br
    .ui.big.labeled.icon.button.results_print(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.labeled.icon.button.results_end
          i.rocket.icon
          |   Continue

block scripts
  script.
    var voiceoverMappings = {
      '.voiceover_reflection1': {
        "initialDelay": 0,
        "delay": 0,
        "files": ['']
      },
      '.voiceover_reflection2': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['']
      },
      '.voiceover_reflection3': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['']
      },
      '.voiceover_reflection4': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['']
      }
    };
  script(src = "/module_js/accounts/accounts_results.js")
  script(src='/module_js/base_results.js')
  script(src='/module_js/voiceover.js')
  
block styles
  link(rel='stylesheet', href='/css/results.css')
    
    
