extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
        .ui.mini.green.right.labeled.icon.button.showReviewSectionButton
          i.down.arrow.icon
          |   Next  
        .ui.basic.segment.reviewSegment.hidden  
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | To use a social media site, you need a username and a password. 
              | A username identifies who you are to people on social media. A 
              | password is a secret code that you use to log in.
                  
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | A social media profile page will let other people learn about who 
              | you are. You can include information such as your first name, a 
              | picture of yourself, and a short description about yourself.
              
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | When you create a username and profile, think about what kinds of 
              | information you are sharing with other people. Choosing a strong 
              | password can keep your account safe.
            
          br
      
    br
    br
    .ui.warning.message.clickNextWarning.hidden
      .header
       | Click "Next"
      
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
      .ui.big.labeled.icon.button.gotItButton
        i.rocket.icon
        |   Got it!

block scripts
  script().
    var nextPage = 'results';
    var voiceoverMappings = {
      '.showReviewSectionButton': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['','','']
      }
    };
  script(src="/module_js/voiceover.js")  
  script(src="/module_js/base_trans.js")
  
block styles
  link(rel='stylesheet', href='/css/trans.css') 
