extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | How can you recognize the techniques of scammers?
      h2 Example 4: Messages or Emails say they’ve noticed some suspicious activity or log-in attempts 

      .imessage
        p.from-them
          | BMO: ALERT For security reasons, your account has been temporarily suspended. Please verify your information:  
          u bit.ly/123340

      .imessage
        p.from-them
          | Wells Fargo Bank: Your account has been temporarily blocked. Please log in to 
          u http://goo.gl/23489 

      p Here are signs that indicate the two messages are scams:
        ul
          li 
            | These two messages claim there’s a problem with your account or your payment information without specific information.
          li  
            | These two messages induce a sense of threat or urgency and compels you to click on the provided link.
          li 
            | These two messages fail to demonstrate official sources.
    
          
    .ui.icon.blue.message
        .icon
          img#dart_image1.ui.small.image.right.floated(src='/profile_pictures/transparent.png')
        .content
          .header
            //- i.info.circle.icon
            | Important!
          ul 
            li
              | Legitimate companies will never ask for your personal information through a link in messages, especially if the tone of the message sounds urgent or serious. 

            li 
              | So, be cautious and don't give out your personal information to anyone who asks for it through a message. Stay safe!If there's no fine print, the coupon is likely not legitimate.
          
          
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', '/submod2/learn8/identity', '/submod2/learn10/identity', 44)  

block scripts
  script(src='/js/character.js')

block styles
  link(rel='stylesheet', href='/css/learn2.css')