extends ../../../module_layout

block content

  .ui.container(style="font-size: 1.5rem;")
    //- .page-container.custom-padding(style="font-size: 1.5rem;")
    .top-info
      h1.ui.header.large#learn-title
        .content
          | Recognize the Techniques of Scammers
      h2 Example 1: Pressure you to act quickly 
      br
    .ui.centered.stackable.grid
      .eight.wide.column
        .htmlImage#walmart-email
          .ui.padded.raised.segment
            span#subjectLine
              | URGENT!!!
            #inboxLabel.ui.large.label
              | inbox
              i.delete.icon
            .ui.icon.message
              i.user.circle.blue.icon 
              .content.senderInfo
                .header
                  | Walmrt
                  span.fromEmail &lt;walmart@gmail.com&gt;
            //- .ui.message#spam-warning
            //-   p
            //-     | Why is this message in Spam? It's similar to messages that were identified as spam in the past.
            //-   .ui.button Report not spam
            p Hi customer. This is an URGENT message!
            p Your payment was declined on a recent purchase. Resubmit your credit card details at this link below within 24 hours.
            p Click here NOW! 
              span.fakeLink http://jdksj6879sh.com

          //- img.ui.fluid.image(src='/images/learn2-3.png' style='margin-left: auto; margin-right: auto')
      .eight.wide.column
        p(style="line-height: 1.5;") Scammers often mimic a legitimate site or email address by using a slight variation in spelling. Or an email may look like it came from a legitimate company, but the actual email address is suspicious. For example, the email's address is not from the company's site.      
    br
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn3', '/learn/submod2/2/identity', '/learn/submod2/4/identity', 32)  

block scripts
  script.
    postStartTime("identity", "sub2_learn3");

block styles 
  link(rel='stylesheet', href='/css/example-emails.css')
