extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | What are the techniques scammers use to steal your personal information?
      img.ui.fluid.image(src='/images/learn2-4.png' style='margin-left: auto; margin-right: auto')
      br  
      p Fake Social Security Administration (SSA) employees may claim to have found alleged problems with your Social Security number — for example, warning that it's been linked to criminal activity and suspended. These scammers may then ask you to confirm your number so they can reactivate it or claim they can issue you a new one for a fee.

      p Fake SSA employees may call/message/email you with good news — say, an increase in your benefits. To get the extra money, you just have to pay a fee, or verify your name, date of birth and Social Security number.
       
      
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn4', '/submod2/learn3/identity', '/submod2/learn5/identity', 34)  

block scripts
  script.
    postStartTime("identity", "sub2_learn4");