extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Recognize the Techniques of Scammers
      h2 Example 4:  Messages or Emails offer a coupon or gift card

      .imessage
        p.from-them
          | Congratulations! You’ve won a $1,000 Walmart gift card. Go to 
          u http://bit.ly/145634 
          | to claim now.

      p Here are signs that this message is a scam:
      .ui.bulleted.list
          .item 
            | This message offers a coupon for a $1000 gift card. Is that too good to be true?
          .item  
            | This message does not demonstrate an official source of Walmart.
          .item 
            | This message invites you to click on a shortened foreign link. Legitimate links:
          .ui.bulleted.list
            .item 
              | should be https://
            .item 
              | should not shortened
            .item 
              | should have no typos or misspelling
          .item  
            | This message fails to provide fine prints, such as the expiration date or the exceptions to the sale. A legitimate deal will list such details for legal reasons.
      .ui.icon.blue.message
        .icon
          img#dart_image1.ui.small.image.right.floated(src=user.avatarImg)
        .content
          .header
            //- i.info.circle.icon
            | Important
          p Legitimate companies won't ask for personal info in exchange for coupons or gift cards. Legally, they can't.

    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn7', '/learn/submod2/6/identity', '/learn/submod2/8/identity', 40)  

block scripts
  script.
    postStartTime("identity", "sub2_learn7");
    
block styles
  link(rel='stylesheet', href='/css/learn2.css')

  