extends ../../../module_layout

block content

  .ui.container(style="font-size: 1.5rem;")
    //- .page-container.custom-padding(style="font-size: 1.5rem;")
    .top-info
      br
      h1.ui.header.large#learn-title
        .content
          | Recognize the Techniques of Scammers
      h2 Example 3: Claim that they know you
      br
    .ui.centered.stackable.grid
      .eight.wide.column
        .htmlImage#walmart-email
          .ui.padded.raised.segment
            span#subjectLine
              | FW: Note from Bruce Stayton
            #inboxLabel.ui.large.label
              | inbox
              i.delete.icon
            .ui.icon.message
              i.user.circle.blue.icon 
              .content.senderInfo
                .header
                  | Bruce Stayton
                  span.fromEmail &lt;938@enu.qz&gt;
            //- .ui.message#spam-warning
            //-   p
            //-     | Why is this message in Spam? It's similar to messages that were identified as spam in the past.
            //-   .ui.button Report not spam
            p Just thought picture 7 and 15 might look familiar to you
            p.fakeLink https://tdlrc:890ss.com/

          //- img.ui.fluid.image(src='/images/learn2-3.png' style='margin-left: auto; margin-right: auto')
      .eight.wide.column

        p Here are signs that this email is a scam:
        ul#bruce(style="margin-top: 10px;")
            li Scam emails fail to identify the receiver’s name.
            li Scam emails invite you to click on a new link, redirecting you to an illegitimate website. Be careful when pressing links or filling out forms from emails as it may lead to a phishing website designed to steal your personal information.

    br
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn6', '/learn/submod2/5/identity', '/learn/submod2/7/identity', 38)  

block scripts
  script.
    postStartTime("identity", "sub2_learn6");

block styles 
  link(rel='stylesheet', href='/css/example-emails.css')
