extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Tax Identity Theft
      ul 
        li
          | You get a letter from the IRS inquiring about 
          strong a tax return that you did not file. 
        li 
          | You receive an IRS notice claiming that you owe additional tax or refund offset, or that collection actions have been taken against you for a year when you have not filed a tax return.
        li 
          | You 
          strong can’t e-file your tax return 
          | because of a duplicate tax return made with the same Social Security number.
        li 
          | You get information in the mail/email that 
          strong you did not request. 
          | This includes 
          strong Employer Identification Number, online Account information, changes 
          | to your online account.
        li 
          | IRS records indicate 
          strong you received wages or other income from an employer you didn’t work for.
          
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', '/submod2/learn10/identity', '/submod2/learn12/identity', 48)  

block scripts
  script(src='/js/character.js')