extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      .ui.large.pointing.below.label#speechBubble(style="float: none; width: 100%;")
          p#speechText(style="font-size: 1.5rem; text-align: left") 
              strong Great job, #{user.name}! 
              br
              | You have learned how to recognize the techniques that scammers usually use! Do you feel more confident now in dealing with the outside world? 
              br
              br
              | Let's put our learning into practice!
      img#dart_image1.ui.small.image(src=user.avatarImg style="margin: 0 auto;")
      br
          
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn13', '/learn/submod2/12/identity', '/learn/submod2/14/identity', 52)  

block scripts
  script.
    postStartTime("identity", "sub2_learn13");