extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Warning Signs for specific Identity Theft Scams
      .row#video-overlay(style="background: transparent;text-align: center; margin-top: 25px;")
          .inner-video
              iframe#intro-video(type='text/html' width='600px' height='340px' src='https://dart-store.s3.amazonaws.com/identity-warning.mp4' frameborder='0')

      //- iframe(type='text/html' width='640' height='360'
      //-   src='/videos/identity-intro.mp4'
      //-   frameborder='0' style='display: block; margin: auto;')
      
      .ui.icon.blue.message
        .icon
          img#dart_image1.ui.small.image.right.floated(src='/profile_pictures/transparent.png')
        .content
          .header
            //- i.info.circle.icon
            | 
          p Lets learn more about warning signs for specific identity theft scams:
            br
            strong Financial Identity Theft
            br
            strong Tax Identity Theft
            br
            strong Medical Identity Theft
      br

          
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn9', '/learn/submod2/8/identity', '/learn/submod2/10/identity', 44)  

block scripts
  script(src='/js/character.js')
  script.
    postStartTime("identity", "sub2_learn9");
