extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | What are the techniques scammers use to steal your personal information?
      img.ui.fluid.image(src='/images/learn2-3.png' style='margin-left: auto; margin-right: auto')
      br
      p Online: Scammers often mimic a legitimate site or email address by using a slight variation in spelling. Or an email may look like it came from a legitimate company, but the actual email address is suspicious. For example, the email's address is not from the company's site.      
      
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn3', '/learn/submod2/2/identity', '/learn/submod2/4/identity', 32)  

block scripts
  script.
    postStartTime("identity", "sub2_learn3");