extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | How can you recognize the techniques of scammers?
      p Example 1 info 
          
      .ui.icon.blue.message
        .icon
          img#dart_image1.ui.small.image.right.floated(src='/profile_pictures/transparent.png')
        .content
          .header
            //- i.info.circle.icon
            | Important
          p  Legitimate companies won’t email or text you with a link to update your payment information. 
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', '/submod2/learn3/identity', '/submod2/learn5/identity', 34)  

block scripts
  script(src='/js/character.js')