extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Recognize the Techniques of Scammers
      h2 Example 5: Messages or Emails say they’ve noticed some suspicious activity or log-in attempts 

      .imessage
        p.from-them
          | BMO: ALERT For security reasons, your account has been temporarily suspended. Please verify your information:  
          u bit.ly/123340

      .imessage
        p.from-them
          | Wells Fargo Bank: Your account has been temporarily blocked. Please log in to 
          u http://goo.gl/23489 

      p Here are signs that indicate the two messages are scams:
        ul
          li 
            | These two messages claim there’s a problem with your account or your payment information without specific information.
          li  
            | These two messages induce a sense of threat or urgency and compels you to click on the provided link.
          li 
            | These two messages fail to demonstrate official sources.
    
          
      .ui.icon.blue.message
        .icon
          img#dart_image1.ui.small.image.right.floated(src='/profile_pictures/transparent.png')
        .content
          .header
            //- i.info.circle.icon
            | Important
          p Beware of urgent requests for personal information. Legitimate companies don't ask for it this way.

    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  
block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn', '/learn/submod2/7/identity', '/learn/submod2/9/identity', 42)  

block scripts
  script(src='/js/character.js')
  script.
    postStartTime("identity", "sub2_learn8");
    
block styles
  link(rel='stylesheet', href='/css/learn2.css')
