extends ../../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | What are the techniques scammers use to steal your personal information?
      img.ui.fluid.image(src='/images/learn2-1.png' style='margin-left: auto; margin-right: auto')
      br
      p In person: “shoulder surfing” – watching you from a nearby location as you enter in your telephone number or credit card number – or listening in on your conversation as you give your credit card number over the telephone.
      img.ui.fluid.image(src='/images/learn2-2.png' style='margin-left: auto; margin-right: auto') 
      br   
      p Paperwork: If you receive an application for “pre-approved” credit cards in the mail, but discard them without tearing up the enclosed materials, scammer may retrieve them and try to activate the cards for their use without your knowledge.
      br
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn2', '/submod2/learn/identity', '/submod2/learn3/identity', 30)  

block scripts
  script(src='/js/character.js')