#badge.hidden
    .ui.container#badge-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            | Congratulations!
                    #text
                        p You've completed the Evaluation and earned a platinum badge!  
                        p You have an Romance and Friendship Scam Resilience score of 
                            span#resil-score 
                            |  out of 100.
                        p Next, chat with Agent #{user.avatar} to reflect on your experience.
                .six.wide.center.aligned.column
                    img.ui.small.centered.image#earned_badge(src='/badges/identity/champion_of_completion.svg' onmouseenter="animateBadge()" style="margin-bottom: -10px; width: 125px;")
                    h3 <strong>Champion of</strong>
                        br
                        | <strong>Completion</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")


