#intro.hidden
    .ui.container#intro-read
        .limit#learn-target(style="padding: 0;")
            .ui.computer.only.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content
                            i.puzzle.icon
                            | Evaluation
                        span(style="float: right; font-size: 1.5rem; margin-top: 5px; color: #151C22;")
                            i.clock.outline.icon
                            | 10 min
                    .ui.divider
                    h3(style="color: #0C2746;") Find out your Romance and Friendship Scam Resilience Score!

                    p Take this to assess your understanding of romance and frienship scams and earn a badge!

                    br
                .six.wide.center.aligned.column
                    img.ui.small.centered.image(src='/badges/identity/locked-badge.svg' style="margin-bottom: -10px; width: 125px;")
                    br
                    i Complete to earn a certificate!
            .ui.tablet.only.mobile.only.grid.middle.aligned
                .sixteen.wide.column
                    h1.ui.header.large#learn-title
                        .content
                            i.puzzle.icon
                            | Evaluation
                        span(style="float: right; font-size: 1.5rem; margin-top: 5px; color: #151C22;")
                            i.clock.outline.icon
                            | 10 min
                    .ui.divider
                    h3(style="color: #0C2746;") Find out your Identity Theft Resilience Score!

                    p Take this to assess your understanding of identity theft and earn a badge!

                    br
                .sixteen.wide.center.aligned.column
                    img.ui.small.centered.image(src='/badges/identity/locked-badge.svg' style="margin-bottom: -10px; width: 125px;")
                    br
                    i Complete to earn a certificate!

