extends ../ui_layout-esp

block content
  
  .ui.text.container.addBottomMargin
    br
    
    h2.ui.header
      .content ¿Qué puedes hacer si deseas ocultar los anuncios?
        .sub.header 
          br  
          span.blackText
            | Aunque es difícil evitar por completo los anuncios, hay algunas cosas que puedes hacer para limitar la cantidad de datos que rastrean las empresas y de publicidad dirigida que te aparece.
        
        .sub.header 
          br
          .ui.compact.segment
            .ui.large.read-only.checked.checkbox.exampleCheckbox
              input.ui(type="checkbox" id="" checked="")
              label Lee y haz check en las opciones que aparecen a continuación
          br
        
    .ui.styled.fluid.accordion
      #point1.title(data-voiceoverIndex='voiceover_tut_guide_1')
        i.dropdown.icon
        |     Desactiva las cookies en tu navegador web
      .content.ui.list
          .item
            #protip1.ui.segment
              .ui.large.checkbox#checkbox1
                input.checkbox.ui(type="checkbox" id="")
                label Las cookies se utilizan para identificar tu dispositivo y conocer tu experiencia navegando por internet. Puedes ir a la configuración de tu navegador para desactivarlas.

          .item
            #protip1.ui.segment
              .ui.large.checkbox#checkbox1
                input.checkbox.ui(type="checkbox" id="")
                label Pero ten en cuenta que pueden haber algunos sitios web que no funcionen si desactivas las cookies.

          .item
              #point1_button.button.ui.mini.green.right.labeled.icon.button
                i.down.arrow.icon
                | Siguiente
                
      #point2.title(data-voiceoverIndex='voiceover_tut_guide_2')
        i.dropdown.icon
        |     Ajusta la configuración de privacidad en tus aplicaciones
      .content.ui.list
          .item
            #protip2.ui.segment
              .ui.large.checkbox#checkbox2
                input.checkbox.ui(type="checkbox")
                label Cambia tu configuración de privacidad para que las aplicaciones no obtengan cierta información.
          
          .item
            #protip2.ui.segment
              .ui.large.checkbox#checkbox2
                input.checkbox.ui(type="checkbox")
                label También puedes hacer que tu cuenta sea privada o desactivar el acceso a cierta información dentro de la configuración de privacidad.
            
          .item
              #point2_button.button.ui.mini.green.right.labeled.icon.button
                i.down.arrow.icon
                | Siguiente
                  
      #point3.title(data-voiceoverIndex='voiceover_tut_guide_3')
        i.dropdown.icon
        |     Limita lo que compartes
      .content.ui.list
          .item
            #protip3.ui.segment
              .ui.large.checkbox#checkbox3
                input.checkbox.ui(type="checkbox")
                label Si no es necesario, no compartas tu link de tu perfil o tu información en los sitios web.
                           
    br
    .ui.warning.message.hidden#checkAllBoxesWarning
     .header
      | Haz check en las opciones que aparecen para continuar
    .ui.big.labeled.icon.button.cybersim#cyberSimButton
        i.rocket.icon
        |   Entendido

block scripts
  script.
    var voiceoverMappings = {
      'voiceover_tut_guide_1': {
        "initialDelay": 500,
        "delay": 500,
        "files": ['CUSML.2.4.03.mp3','CUSML.2.4.04.mp3','CUSML.2.4.05.mp3']
      },
      'voiceover_tut_guide_2': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.2.4.06.mp3','CUSML.2.4.07.mp3','CUSML.2.4.08.mp3']
      },
      'voiceover_tut_guide_3': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.2.4.09.mp3','CUSML.2.4.10.mp3']
      }
    };
  script(src="/module_js/voiceover.js")
  script(src="/module_js/targeted-esp/targeted-esp_tut_guide.js")
  
block styles
  link(rel='stylesheet' href='/css/modules/targeted.css')
  link(rel='stylesheet' href='/css/checkbox_activity.css')

  
    
    
    
