#callout.hidden
    .ui.container#disclaimer-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                //- .content
                //-     i.book.icon
                //-     | Reporting Tax Identity Theft
                //- br
            .ui.grid.computer.only.tablet.only#avatar-encourage-start
                .row
                    .sixteen.wide.column
                        .speech-div#long-callout(style="width: 120%; margin-left: -50px; margin-top: -15px;")
                            img.dart_image.ui.medium.image#avatarSize(src=user.avatarImg alt="image of avatar")

                            .ui.large.right.pointing.label.blue-pointing#speechBubble
                                p#speechText
                                    p
                                        span#narrate-title-callout  I'd like to emphasize two essential suggestions. 
                                    p#narrate-1-callout
                                        span First emotional manipulation is a widely used technique among romance scammers. Therefore, do NOT feel obligated, guilty, or sad when refusing to give money or help transfer money for someone you've only met online.
                                    p#narrate-2-callout
                                        span Second, Romance Scams can be emotionally difficult. Don’t be afraid to talk to a professional counselor. 