#callout.hidden
    .ui.container#disclaimer-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                //- .content
                //-     i.book.icon
                //-     | Reporting Tax Identity Theft
                //- br
                .into-container 
                    p I'd like to emphasize two essential suggestions. 
                    p First emotional manipulation is a widely used technique among romance scammers. Therefore, do 
                        strong NOT feel obligated, guilty, or sad when refusing to give money or help transfer money for someone you've only met online.
                    p Second, Romance Scams can be emotionally difficult. 
                        strong Don’t be afraid to talk to a professional counselor.


                        //- li Never sending money or making investments with someone you haven't met in person.
                        //- li Never share personal information with someone you haven't met in person.
                .avatar-container(style="text-align: center; margin-top: -30px;")
                    img#dart_image1.ui.small.image(src=user.avatarImg style="text-align: center; display: block; margin: 0 auto;")
