#objectives.hidden
    .ui.container#raised-container
        .limit#learn-target(style="padding: 0;")
            .ui.grid.computer.only
                .ten.wide.column
                    //- button.ui.icon.button#volume-up-button.left.floated(style="position: absolute; left: 400px; top: 45px;")
                    //-     i.volume.up.icon
                    h1.ui.header.large#learn-title(style="color: #285362;")
                        .content
                            i.bullhorn.icon
                            span#narrate-title-objectives Reporting
                        span(style="float: right; font-size: 1.5rem; margin-top: 5px; color: #151C22;")
                            i.clock.outline.icon
                            span#narrate-time-objectives 5 min
                    .ui.divider
                    //- h1.ui.header.large#learn-subheader
                    //-     i.bullseye.icon
                    //-     | Objectives:
                    h3(style="color: #0C2746;") 
                        span#narrate-header-objectives Objective:
                    ul.no-bullets
                        li
                            img(src="/images/dart-bullet.svg", alt="Bullet Point")
                            span#narrate-1-objectives
                                span Learn how to report romance and friendship scams
                .six.wide.center.aligned.middle.aligned.column
                    img.ui.image(src='/images/reporting2.png')
            .ui.grid.tablet.only.mobile.only
                .row
                    h1.ui.header.large#learn-title
                        i.bullseye.icon
                        | Objectives

                ul.no-bullets(style="text-align: left;")
                    li
                        img(src="/images/dart-bullet.svg", alt="Bullet Point")
                        | Learn how to report romance and freindship scams
                .row
                    .div(style="margin: 0 auto;")
                        img.ui.image(src='/images/reporting2.png')

        //- Fill progress bar to correct percent and color 
        //- script.
        //-     var module = "#{module}";
        //-     var section = "#{section}";
        //-     var page = "#{page}"; 

        //-     let total = parseInt(#{numPages});
        //-     let progress = 1 / total;
        //-     console.log(progress);
        //-     script(src='/js/setProgressBar.js')  
        //-     updateProgressBar(progress);