#quiz.hidden
    .ui.container.quizContainer#raised-container(style="padding: 0px;")
        .limit
            .quiz-container   
                br
                h1.ui.header.large#learn-title(style="margin-top: -10px;")
                    .content
                        i.edit.icon
                        span#narrate-title-quiz Quiz         

                .question#narrate-1-quiz(style="margin-bottom: 20px;")
                    span
                //- .ui.icon.mini.message#detail-instruct(style="padding: 5px; z-index: 99; margin-bottom: 30px;")
                //-     i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                //-     .content
                //-         p#narrate-2-quiz
                //-             span Hover over or click the sender to view email details.
                .htmlImage(style="margin-bottom: 20px;")
                .image
                .choiceList
                .fourChoices 
                    //- .choice1
                    //-     .ui.radio.checkbox
                    //-         input(type="radio", name="choice", value="1")
                    //-         label
                    //- .choice2
                    //-     .ui.radio.checkbox
                    //-         input(type="radio", name="choice", value="2")
                    //-         label
                    //- .choice3
                    //-     .ui.radio.checkbox
                    //-         input(type="radio", name="choice", value="3")
                    //-         label
                    //- .choice4
                    //-     .ui.radio.checkbox
                    //-         input(type="radio", name="choice", value="4")
                    //-         label
                .checkboxChoices            
                br
                br
                .result   
                    .circleResults
                        strong#showResults  
                    .resultText
                    br
                    br
                .quizMessage
                    .ui.red.center.aligned.message
                        i.close.icon
                        .errorMessage.header
                .explanationCorrectMulti
                    button.ui.basic.blue.right.labeled.icon.button.explainButtonCorrect
                        i.right.caret.icon
                        a Show Explanations
                    p.correctScore
                    h2.ui.header.correctOrIncorrect
                        i.check.circle.green.large.icon
                        | Correct
                .explanationIncorrectMulti
                    button.ui.basic.blue.right.labeled.icon.button.explainButtonIncorrect
                        i.right.caret.icon
                        a Show Explanations
                    p.incorrectScore
                    h2.ui.header.correctOrIncorrect
                        i.times.circle.red.large.icon
                        | Incorrect
                    p.yourAnswers
                    p.theAnswers
                .explanationCorrectYesNo
                    p.correctScore
                    h2.ui.header
                        i.check.circle.green.large.icon
                        | Correct
                    .ui.green.message 
                        p.correctExplanation
                    br
                    br
                .explanationIncorrectYesNo
                    p.incorrectScore
                    h2.ui.header
                        i.times.circle.red.large.icon
                        | Incorrect
                    .ui.red.message 
                        p.incorrectExplanation
                    br
                    br
                .quizButtonContainer(style="margin-top: -20px;")
                    .ui.blue.huge.button.preButton#narrate-try-again Previous Question
                    .ui.blue.huge.button.viewAnswers#narrate-view-answers View Answers
                    .ui.blue.huge.button.nextButton#narrate-next Next Question
            .ui.tablet.only.centered.grid
                .avatar-container
                    img#dart_image1.ui.medium.image(src=user.avatarImg alt="image of your avatar")