#realizing.hidden
    .ui.container#raised-container
        .ui.stackable.middle.aligned.grid
            .column.ten.wide.computer.only.sixteen.wide.tablet.only
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        span#narrate-title-realizing After Realizing They’re a Scammer
                p 
                    span#narrate-header-realizing If you begin to suspect that an individual is a scammer, what should you do:
                .ui.bulleted.list 
                    .item#narrate-1-realizing   
                        span Stop all contact with the scammer and block their phone number, email address, and social media accounts.
                    .item#narrate-2-realizing
                        span If you give financial information to the scammer, like your credit card number or bank account information, contact your bank or credit card company immediately. They may be able to help you cancel transactions or get your money back.

            .column.six.wide.computer.only.sixteen.wide.tablet.only
                img.ui.centered.image(src=`${public_resources}/images/modules/romance/realizing.png` alt="stealing through phones")

