#responsive.hidden
    .ui.container#responsive-read
        .limit#learn-target
            h1 Actions to take if you or someone you know has been scammed
            .ui.bulleted.list 
                a.item(href='https://reportfraud.ftc.gov/#/') Report Romance Scams to the FTC
                a.item(href='https://www.fbi.gov/how-we-can-help-you/scams-and-safety') Or the FBI
            img.ui.image.centered.big(src="/images/romance/responsive.png" alt="site to report")