#responsive.hidden
    .ui.container#responsive-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Responsive measures if you or someone you know has been scammed
            p Reach out to your bank promptly if you believe there is an unauthorized transaction or if your debit card is lost or stolen. Follow the procedures outlined by your bank's fraud department to safeguard your account against potential fraudulent activities in the future. Take the crucial measures to prevent future fraud:
            .ui.bulleted.list 
                .item Reach out to the financial institution or business to dispute the account and request closure. 
                .item Place a fraud alert on your financial activities.

