#responsive.hidden
    .ui.container#responsive-read
        .limit#learn-target
            h1
                span#narrate-title-responsive Actions to take if you or someone you know has been scammed
            .ui.bulleted.list 
                a.item#narrate-1-responsive(href='https://reportfraud.ftc.gov/#/') 
                    span Report Romance Scams to the FTC
                a.item#narrate-2-responsive(href='https://www.fbi.gov/how-we-can-help-you/scams-and-safety') 
                    span Or the FBI
            img.ui.image.centered.big(src=`${public_resources}/images/modules/romance/responsive.png`)

