#scammed.hidden
    .ui.container#scammed-read
        .ui.grid
            .ten.wide.computer.sixteen.wide.tablet.column
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | If You've Been Scammed
                .ui.bulleted.list
                    .item If you are communicating on a dating site or social media platform, report the scammer’s account to the company.
                    .item Personal information shared in a Romance Scam may put you at risk for identity theft. Keep an eye on your credit report and financial accounts for any unusual activity.
                    .item Talk to friends and loved ones about your experience. They can learn from you and you can help them to be better protected.
            .column.six.wide.computer.only.sixteen.wide.tablet.only
                img.ui.centered.image(src='/images/romance/if_scammed.svg' alt="credit cards, money, and a phone")
