#tax.hidden
    .ui.container#tax-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Reporting Tax Identity Theft
            .ui.bulleted.list 
                .item If you know or suspect you are a victim of tax-related identity theft, the IRS recommends these actions.
                    .list 
                        .item Respond immediately to any IRS notice: Call the IRS number provided.
                        .item Visit <a href="https://www.irs.gov/identity-theft-central" class="visitLink">IRS Identity Theft Central</a> if any fraudulent activities regarding tax are made. You can also call 800-908-4490 for assistance.  
