#when.hidden
    .ui.container#when-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.list.icon
                    | When you have your identity stolen:
            .ui.bulleted.list 
                .item Report identity theft and get a recovery plan from the <a href="https://www.ftc.gov/news-events/topics/identity-theft/report-identity-theft" class="visitLink"> Federal Trade Commission</a>. You can also report it by phone at 1-877-438-4338.
                .item Contact your local police department.
                .item Tell your family, friends, and other people who can help you to minimize the damage and subsequent identity theft.
                .item Change passwords for other accounts.