.ui.icon.message.warning#clickAllDotsWarning
  i.close.icon
  i.hand.pointer.icon.float
  .content
    .ui.header There are still blue dots to find!
    p Click through all of the blue dots to continue.