extends ../ui_layout

block content

  .sixteen.wide.column(style="padding-left:50px;") 
    include ../partials/teacherDashboardMenu

    .row.addMargin
      .sixteen.wide.column
        .ui.selection.dropdown(name="classSelection")
          input(type="hidden")
          i.dropdown.icon
          .default.text Select a Class
          .menu
        .ui.icon.button.refreshSelectionButton
          i.redo.alternate.icon
            
    .row.centerText
      h2
        i.chart.line.icon
        | Student Activity
    .ui.divider
    .row.addMargin
      .ui.basic.segment
        canvas#studentActivityBarChart(width="400" height="400")
        
    .row.centerText
      h2
        i.stopwatch.icon
        | Time Spent
    .ui.divider
    .row.addMargin
      .ui.basic.segment
        canvas#avgTimeSpentBarChart(width="400" height="400")
        
    .row.centerText
      h2
        i.star.outline.icon
        | Leader Chart
    .ui.divider
    .row.addMargin
      .ui.placeholder.segment.centerText
        h3 Leaderboard
        h5 Goes Here

block scripts
  - var n = '/user_portal/teacherDashboardTools.js?t=' + (new Date()).getTime().toString();
  script(src=n)
  - var m = '/user_portal/classOverview.js?t=' + (new Date()).getTime().toString();
  script(src=m)
  script(src='/js/lib/chart.js') 

  
block styles
  link(rel='stylesheet', href='/css/teacherDashboard/classOverview.css')
