extends ../ui_layout

block content

  .sixteen.wide.column.dashboardContentColumn.hiddenVisibility
    include ../partials/teacherDashboardMenu

    .row.addMargin
      .sixteen.wide.column
        h2 Select A Class:
        .row
          .ui.selection.dropdown(name="classSelection")
            input(type="hidden")
            i.dropdown.icon
            .default.text Select a Class
            .menu
        .row
          .ui.labeled.icon.button.refreshSelectionButton
            i.check.icon
            | Show Overview
            
        //- h2 Select A Class
        //- .ui.selection.dropdown(name="classSelection")
        //-   input(type="hidden")
        //-   i.dropdown.icon
        //-   .default.text Select a Class
        //-   .menu
        //- .ui.icon.button.refreshSelectionButton
        //-   i.redo.alternate.icon
          
    .ui.basic.segment.hiddenVisibility#studentActivitySegment  
      .row.centerText
        h2
          i.chart.line.icon
          | Student Activity
      .ui.divider
      .row.addMargin
        .ui.basic.segment
          .ui.active.inverted.dimmer
            .ui.text.loader Loading...
          canvas#studentActivityBarChart(width="400" height="400")
    .ui.basic.segment.hiddenVisibility#avgTimeSegment 
      .row.centerText
        h2
          i.stopwatch.icon
          | Time Spent
      .ui.divider
      .row.addMargin
        .ui.basic.segment
          .ui.active.inverted.dimmer
            .ui.text.loader Loading...
          canvas#avgTimeSpentBarChart(width="400" height="400")
    .ui.basic.segment.hidden#leaderboardParentSegment  
      .row.centerText
        h2
          i.star.outline.icon
          | Leader Chart
      .ui.divider
      .row.loaderRow
        .ui.centered.inline.text.loader Loading...    
      .row.addMargin
        .ui.basic.segment#leaderboardSegment

            

block scripts
  - var n = '/user_portal/teacherDashboardTools.js?t=' + (new Date()).getTime().toString();
  script(src=n)
  - var m = '/user_portal/classOverview.js?t=' + (new Date()).getTime().toString();
  script(src=m)
  script(src='/js/lib/chart.js') 

  
block styles
  - var o = '/css/teacherDashboard/sideMenu.css?t=' + (new Date()).getTime().toString();
  link(rel='stylesheet', href=o)
  link(rel='stylesheet', href='/css/teacherDashboard/classOverview.css')
