extends ../ui_layout

block content

  .sixteen.wide.column(style="padding-left:50px;") 
    include ../partials/teacherDashboardMenu

    .row.addMargin
      .sixteen.wide.column

        h2 Step 1: Select Class
        .ui.selection.dropdown(name="classSelection")
          input(type="hidden")
          i.dropdown.icon
          .default.text Select a Class
          .menu
        .ui.icon.button.nextStepButton1
          i.arrow.right.icon
        h2.usernameSelectionStepLabel.hidden Step 2: Select Student
        select.ui.search.dropdown.usernameSelection.hidden(name="usernameSelection")
          option(value='') Search...
        .ui.icon.button.nextStepButton2.hidden
          i.arrow.right.icon


    .row.addMargin
      .ui.basic.segment(style="padding:0;")#studentReportSegment
    .row(style="padding-bottom:7em;")
      button.ui.labeled.icon.button.testDriveBlueButton 
        i.download.icon
        | Download Table

block scripts
  script(src='/user_portal/teacherDashboardTools.js')
  - var m = '/user_portal/studentReport.js?t=' + (new Date()).getTime().toString();
  script(src=m)
  
block styles
  link(rel='stylesheet', href='/css/teacherDashboard/classOverview.css')
