#intro.hidden
    .ui.container#intro-read
        .limit#learn-target(style="padding: 0;")
            .ui.computer.only.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content
                            i.puzzle.icon
                            span#narrate-title-intro Challenge
                        span(style="float: right; font-size: 1.5rem; margin-top: 5px; color: #151C22;")
                            i.clock.outline.icon
                            span#narrate-time-intro 5 min
                    .ui.divider
                    h3#narrate-1-intro(style="color: #0C2746;") 
                        span Find out your Grandparent Scam Resilience Score!
                    p#narrate-2-intro
                        span Take this to assess your current knowledge and earn your first badge!
                    
                    .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                        i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                        .content 
                            p#narrate-3-intro
                                span Click the 'Next' button below to start the challenge.
                    //- p Click the 'Next' button below to take the challenge.
                    br
                .six.wide.center.aligned.column
                    img.ui.small.centered.image(src= public_resources + '/badges/identity/locked-badge.svg' style="margin-bottom: -10px; width: 125px;")
                    br
                    i Complete to earn a badge!
            .ui.tablet.only.mobile.only.grid.middle.aligned
                .sixteen.wide.column
                    h1.ui.header.large#learn-title
                        .content
                            i.puzzle.icon
                            | Challenge
                        span(style="float: right; font-size: 1.5rem; margin-top: 5px; color: #151C22;")
                            i.clock.outline.icon
                            | 5 min
                    .ui.divider
                    h3(style="color: #0C2746;") Find out your Grandparent Scam Resilience Score!
                    p DART HQ has gathered a variety of suspicious messages. Your task? Differentiate between what’s genuine and what's a scam.

                    p Take this to assess your current knowledge and earn your first badge!

                    p Click the 'Next' button below to take the challenge.
                    br
                .sixteen.wide.center.aligned.column
                    img.ui.small.centered.image(src= public_resources + '/badges/identity/locked-badge.svg' style="margin-bottom: -10px; width: 125px;")
                    br
                    i Complete to earn a badge!

