.row
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.left.floated.column    
    h2.searchTitle Uh oh! We're having trouble loading this page. 
    
    .ui.basic.segment.searchItem(style='padding:0;' data-itemNumber='item1')
      p.resultURL.url 
      a
        h4.resultTitle.title
      p.resultPublished.time
      p.resultPreviewText.text

    .ui.basic.segment.searchItem(style='padding:0;' data-itemNumber='item2')
      p.resultURL.url
      a
        h4.resultTitle.title
      p.resultPublished.time
      p.resultPreviewText.text

    .ui.basic.segment.searchItem(style='padding:0;' data-itemNumber='item3')
      p.resultURL.url
      a
        h4.resultTitle.title
      p.resultPublished.time
      p.resultPreviewText.text

    .ui.basic.segment.searchItem(style='padding:0;' data-itemNumber='item4')
      p.resultURL.url 
      a
        h4.resultTitle.title
      p.resultPublished.time
      p.resultPreviewText.text
        
    .ui.basic.segment.searchItem(style='padding:0;' data-itemNumber='item5')
      p.resultURL.url 
      a
        h4.resultTitle.title
      p.resultPublished.time
      p.resultPreviewText.text
