#badge.hidden
    .ui.container#badge-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            | Congratulations!
                    #text
                        p You've completed the Evaluation and earned a badge!  
                        p You have an Identity Theft Resilience score of 
                            span#resil-score 
                            |  out of 100.
                        p  It's truly amazing to see how much you've grown, and your hard work has certainly paid off with the well-deserved improvement badge.     
                .six.wide.center.aligned.column#earned_badge
                    img(src='/badges/identity/adventure_achiever.png')
                    p(style="font-weight: 400; font-size: 1.5rem;") <strong>Adventure</strong>
                        br
                        | <strong>Achiever</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")



