#disclaimer.hidden
    .ui.container#disclaimer-read
        .limit#learn-target
            h1.ui.header.large#learn-title

                //- .into-container 
                //-     p When assessing an online profile, it is not necessary for all the characteristics to be present to determine if it is a fake profile for a romance scammer, a combination of several traits could indicate the profile is associated with a romance scammer.
                //- .avatar-image(style="text-align: center;")
                //-     img#dart_image.ui.small.image(src=user.avatarImg style="text-align: center; display: block; margin: 0 auto;")
        .ui.grid.computer.only.tablet.only#avatar-encourage-start
            .row
                .sixteen.wide.column
                    .speech-div
                        img.dart_image.ui.medium.image#avatarSize(src=user.avatarImg)

                        .ui.large.label.blue-pointing#speechBubble
                            p#speechText
                                |  When assessing an online profile, it is not necessary for all the characteristics to be present to determine if it is a fake profile for a romance scammer, a combination of several traits could indicate the profile is associated with a romance scammer.
