#examples2.hidden
    .ui.container#trusted-read(style="width: 94%;")
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Female Fake vs Real Profile Examples
            .ui.computer.only.grid
                .four.wide.column
                    .ui.fluid.card#profile-template
                        .ui.image
                            img#bg(src='/images/romance/marysmithbg.png') 
                        .ui.circular.image
                            img(src='/images/marysmithpfp.png') 
                        .ui.basic.centered.segment 
                            .ui.centered.header Mary Smith
                            .ui.three.column.grid
                                .column
                                    p
                                        strong 157
                                        |  Friends
                                .column
                                    p
                                        strong 10
                                        |  Mutual Friends
                                .column
                                    p
                                        strong 362
                                        |  Posts
                            p#bio  Cherishing the brushstrokes of every moment with my beautiful grandchildren. 🎨✨
                            .icon-item
                                i.icon.suitcase
                                span  Works as an Artist
                            .icon-item
                                i.icon.home
                                span  Lives in Seattle, Washington
                            .icon-item
                                i.icon.map.marker.alternate
                                span  From Issaquah, Washington
                            .icon-item
                                i.icon.users.large-icon
                                span  Linked Accounts 
                                i.facebook.icon
                                i.pinterest.icon
                                i.instagram.icon
                .three.wide.column#vertically-centered-column
                    h4 
                        em(style="color: green;") Real 
                        em Female Profile
                    span Notice:
                    .ui.bulleted.list 
                        .item
                            | Mentions grandchildren 
                        .item
                            | Profile picture doesn’t emphasize her looks 
                        .item
                            | Short bio
                        .item
                            | A reasonable number of friends and posts
                        .item
                            | Some mutual friends
                        .item
                            | Linked social media accounts


                .five.wide.column
                    .ui.fluid.card#profile-template
                        .ui.image
                            img#bg(src='/images/jenniferwilliamsbg.png') 
                        .ui.circular.image
                            img(src='/images/jenniferwilliamspfp.png') 
                        .ui.basic.centered.segment 
                            .ui.centered.header Jennifer Williams
                            .ui.three.column.grid
                                .column
                                    p
                                        strong 27
                                        |  Friends
                                .column
                                    p
                                        strong 0 
                                        |  Mutual Friends
                                .column
                                    p
                                        strong 15
                                        |  Posts
                            p#bio  Hello, friends! I'm Jennifer, an experienced nurse with a heart that finds joy in caring for others. Life has been a beautiful journey, and I'm here to share the wisdom of years, spread love, and connect with kindred spirits.
                            .icon-item
                                i.icon.suitcase
                                span  Works at  Massachusetts Hospital
                            .icon-item
                                i.icon.home
                                span  Lives in Franklin, Massachusetts 
                            .icon-item
                                i.icon.map.marker.alternate
                                span  From Burlington, Vermont
                            .icon-item
                                i.icon.users.large-icon
                                span  Linked Accounts
                .four.wide.column#vertically-centered-column
                    h4 
                        em(style="color: red;") Fake 
                        em Female Profile
                    span Notice:
                    .ui.bulleted.list 
                        .item
                            | Financially independent as a nurse but not wealthy
                        .item
                            | Conventionally attractive
                        .item
                            | No mention of past relationships
                        .item
                            | No mention of kids
                        .item
                            | Bio mentions caring for others and her heart
                        .item
                            | The cover’s photo suggests enjoying reading 
                        .item
                            | Few friends, few posts, and no Linked Accounts

            .ui.tablet.only.mobile.only.grid
                .centered.row
                    .eight.wide.column
                        .ui.fluid.card#profile-template
                            .ui.image
                                img#bg(src='/images/romance/marysmithbg.png') 
                            .ui.circular.image
                                img(src='/images/marysmithpfp.png') 
                            .ui.basic.centered.segment 
                                .ui.centered.header Mary Smith
                                .ui.three.column.grid
                                    .column
                                        p
                                            strong 157
                                            |  Friends
                                    .column
                                        p
                                            strong 10
                                            |  Mutual Friends
                                    .column
                                        p
                                            strong 362
                                            |  Posts
                                p#bio  Cherishing the brushstrokes of every moment with my beautiful grandchildren. 🎨✨
                                .icon-item
                                    i.icon.suitcase
                                    span  Works as an Artist
                                .icon-item
                                    i.icon.home
                                    span  Lives in Seattle, Washington
                                .icon-item
                                    i.icon.map.marker.alternate
                                    span  From Issaquah, Washington
                                .icon-item
                                    i.icon.users.large-icon
                                    span  Linked Accounts 
                                    i.facebook.icon
                                    i.pinterest.icon
                                    i.instagram.icon
                    .eight.wide.column#vertically-centered-column
                        h4 
                            em(style="color: green;") Real 
                            em Female Profile
                        span Notice:
                        .ui.bulleted.list 
                            .item
                                | Mentions grandchildren 
                            .item
                                | Profile picture doesn’t emphasize her looks 
                            .item
                                | Short bio
                            .item
                                | A reasonable number of friends and posts
                            .item
                                | Some mutual friends
                            .item
                                | Linked social media accounts

                .centered.row
                    .eight.wide.column
                        .ui.fluid.card#profile-template
                            .ui.image
                                img#bg(src='/images/jenniferwilliamsbg.png') 
                            .ui.circular.image
                                img(src='/images/jenniferwilliamspfp.png') 
                            .ui.basic.centered.segment 
                                .ui.centered.header Jennifer Williams
                                .ui.three.column.grid
                                    .column
                                        p
                                            strong 27
                                            |  Friends
                                    .column
                                        p
                                            strong 0 
                                            |  Mutual Friends
                                    .column
                                        p
                                            strong 15
                                            |  Posts
                                p#bio  Hello, friends! I'm Jennifer, an experienced nurse with a heart that finds joy in caring for others. Life has been a beautiful journey, and I'm here to share the wisdom of years, spread love, and connect with kindred spirits.
                                .icon-item
                                    i.icon.suitcase
                                    span  Works at  Massachusetts Hospital
                                .icon-item
                                    i.icon.home
                                    span  Lives in Franklin, Massachusetts 
                                .icon-item
                                    i.icon.map.marker.alternate
                                    span  From Burlington, Vermont
                                .icon-item
                                    i.icon.users.large-icon
                                    span  Linked Accounts
                    .eight.wide.column#vertically-centered-column
                        h4 
                            em(style="color: red;") Fake 
                            em Female Profile
                        span Notice:
                        .ui.bulleted.list 
                            .item
                                | Financially independent as a nurse but not wealthy
                            .item
                                | Conventionally attractive
                            .item
                                | No mention of past relationships
                            .item
                                | No mention of kids
                            .item
                                | Bio mentions caring for others and her heart
                            .item
                                | The cover’s photo suggests enjoying reading 
                            .item
                                | Few friends, few posts, and no Linked Accounts
