#examples.hidden
    .ui.container#trusted-read(style="width: 94%;")
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Male Fake vs Real Profile Examples
            .ui.computer.only.grid
                .four.wide.column
                    .ui.fluid.card#profile-template
                        .ui.image
                            img#bg(src='/images/romance/jamesbg.png') 
                        .ui.circular.image
                            img(src='/images/jamessmithpfp.png') 
                        .ui.basic.centered.segment 
                            .ui.centered.header James Washington
                            .ui.three.column.grid
                                .column
                                    p
                                        strong 104
                                        |  Friends
                                .column
                                    p
                                        strong 3 
                                        |  Mutual Friends
                                .column
                                    p
                                        strong 207
                                        |  Posts
                            p#bio Every day is a precious gift, enjoy it with your friends and family! 🌍
                            .icon-item
                                i.icon.suitcase
                                span  Retired
                            .icon-item
                                i.icon.home
                                span  Lives in Chicago, Illinois 
                            .icon-item
                                i.icon.map.marker.alternate
                                span  From Chicago, Illinois 
                            .icon-item
                                i.icon.users.large-icon
                                span  Linked Accounts 
                                i.linkedin.icon 
                                i.twitter.icon

                .three.wide.column#vertically-centered-column
                    h4 
                        em(style="color: green;") Real 
                        em Male Profile
                    span Notice:
                    .ui.bulleted.list 
                        .item
                            | Does not advertise wealth
                        .item
                            | Short bio
                        .item
                            | A reasonable number of friends and posts
                        .item
                            | Some mutual friends
                        .item
                            | Linked social media accounts


                .five.wide.column
                    .ui.fluid.card#profile-template
                        .ui.image
                            img#bg(src='/images/richardharrisonbg.png') 
                        .ui.circular.image
                            img(src='/images/richardharrisonpfp.png') 
                        .ui.basic.centered.segment 
                            .ui.centered.header Richard Harrison
                            .ui.three.column.grid
                                .column
                                    p
                                        strong 15
                                        |  Friends
                                .column
                                    p
                                        strong 0 
                                        |  Mutual Friends
                                .column
                                    p
                                        strong 12 
                                        |  Posts
                            p#bio Greetings! I'm Richard, a seasoned architect with a heart full of stories and a love for beautiful design. After creating a wonderful family and life with my late wife, I now find joy in sharing my experiences and embracing life's simple pleasures.
                            .icon-item
                                i.icon.suitcase
                                span  Works at Harrison Designs
                            .icon-item
                                i.icon.home
                                span  Lives in Manhattan, New York
                            .icon-item
                                i.icon.map.marker.alternate
                                span  From San Francisco, California
                            .icon-item
                                i.icon.users.large-icon
                                span  Linked Accounts
                .four.wide.column#vertically-centered-column
                    h4 
                        em(style="color: red;") Fake 
                        em Male Profile

                    span Notice:
                    .ui.bulleted.list 
                        .item
                            | Authority Figure – Owned his own business
                        .item
                            | A job that requires a lot of education and likely wealth– Architect
                        .item
                            | Widower & Father – mentions his late wife and family
                        .item
                            | Makes him seem like an ideal person by saying he embraces “life’s simple pleasures”
                        .item
                            | Few friends, few posts, and no Linked Accounts
            .ui.tablet.only.mobile.only.grid
                .centered.row
                    .eight.wide.column
                        .ui.card#profile-template
                            .ui.image
                                img#bg(src='/images/romance/jamesbg.png') 
                            .ui.circular.image
                                img(src='/images/jamessmithpfp.png') 
                            .ui.basic.centered.segment 
                                .ui.centered.header James Washington
                                .ui.three.column.grid
                                    .column
                                        p
                                            strong 104
                                            |  Friends
                                    .column
                                        p
                                            strong 3 
                                            |  Mutual Friends
                                    .column
                                        p
                                            strong 207
                                            |  Posts
                                p#bio Every day is a precious gift, enjoy it with your friends and family! 🌍
                                .icon-item
                                    i.icon.suitcase
                                    span  Retired
                                .icon-item
                                    i.icon.home
                                    span  Lives in Chicago, Illinois 
                                .icon-item
                                    i.icon.map.marker.alternate
                                    span  From Chicago, Illinois 
                                .icon-item
                                    i.icon.users.large-icon
                                    span  Linked Accounts 
                                    i.linkedin.icon 
                                    i.twitter.icon

                    .eight.wide.column 
                        h4 
                            em(style="color: green;") Real 
                            em Male Profile
                        span Notice:
                        .ui.bulleted.list 
                            .item
                                | Does not advertise wealth
                            .item
                                | Short bio
                            .item
                                | A reasonable number of friends and posts
                            .item
                                | Some mutual friends
                            .item
                                | Linked social media accounts

                .centered.row
                    .eight.wide.column
                        .ui.fluid.card#profile-template
                            .ui.image
                                img#bg(src='/images/richardharrisonbg.png') 
                            .ui.circular.image
                                img(src='/images/richardharrisonpfp.png') 
                            .ui.basic.centered.segment 
                                .ui.centered.header Richard Harrison
                                .ui.three.column.grid
                                    .column
                                        p
                                            strong 15
                                            |  Friends
                                    .column
                                        p
                                            strong 0 
                                            |  Mutual Friends
                                    .column
                                        p
                                            strong 12 
                                            |  Posts
                                p#bio Greetings! I'm Richard, a seasoned architect with a heart full of stories and a love for beautiful design. After creating a wonderful family and life with my late wife, I now find joy in sharing my experiences and embracing life's simple pleasures.
                                .icon-item
                                    i.icon.suitcase
                                    span  Works at Harrison Designs
                                .icon-item
                                    i.icon.home
                                    span  Lives in Manhattan, New York
                                .icon-item
                                    i.icon.map.marker.alternate
                                    span  From San Francisco, California
                                .icon-item
                                    i.icon.users.large-icon
                                    span  Linked Accounts
                    .eight.wide.column#vertically-centered-column
                        h4 
                            em(style="color: red;") Fake 
                            em Male Profile

                        span Notice:
                        .ui.bulleted.list 
                            .item
                                | Authority Figure – Owned his own business
                            .item
                                | A job that requires a lot of education and likely wealth– Architect
                            .item
                                | Widower & Father – mentions his late wife and family
                            .item
                                | Makes him seem like an ideal person by saying he embraces “life’s simple pleasures”
                            .item
                                | Few friends, few posts, and no Linked Accounts


