#examples.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .four.wide.column.middle.aligned
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Real Profile Examples
                    .two.wide.column.middle.aligned
                        .container(style="max-width: 750px; margin: 50px auto; ")
                            .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
                                .ui.fluid.card(style="border-radius: 0px;background-color: white;")
                                    .image
                                        img(src='/images/jamessmithbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
                                        .ui.circular.image(style="position: absolute; top: 100px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
                                            img(src='/images/jamessmithpfp.png') 
                                        .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
                                            .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;") James Smith
                                            .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
                                                p(style="flex: 1; text-align: center;") 
                                                    strong 104
                                                    |  Friends
                                                p(style="flex: 1; text-align: center;") 
                                                    strong 3 
                                                    |  Mutual Friends
                                                p(style="flex: 1; text-align: center;") 
                                                    strong 207 
                                                    |  Posts
                                            .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
                                                .icon-item
                                                    i.icon.users
                                                    p(style="font-size: 0.9rem;") Add Friend
                                                .icon-item
                                                    i.icon.address.book
                                                    p(style="font-size: 0.9rem;") Follow
                                                .icon-item
                                                    i.icon.comment.alternate
                                                    p(style="font-size: 0.9rem;") Message
                                                .icon-item
                                                    i.icon.ellipsis.horizontal
                                                    p(style="font-size: 0.9rem;") More
                                            p(style="text-align: center; margin-top:20px") Every day is a gift, enjoy it with your family! 🌍
                                        .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
                                            .icon-item
                                                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                    i.icon.suitcase
                                                    p(style="margin-left: 5px; font-size: 0.9rem;") Retired
                                            .icon-item
                                                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                    i.icon.home
                                                    p(style="margin-left: 5px; font-size: 0.9rem; margin-left: 5px;") Lives in Chicago, Illinois
                                            .icon-item
                                                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                    i.icon.map.marker.alternate
                                                    p(style="margin-left: 5px; font-size: 0.9rem;") From Chicago, Illinois
                                            .icon-item
                                                .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                    i.icon.users.large-icon 
                                                    p(style="margin-left: 5px; font-size: 0.9rem;") Linked Accounts
               
                .container(style="max-width: 200px;margin-top:160px;")
                    ul(style="list-style-type: none; padding-left: 0;")
                        li(style="font-size: 1.2rem;")
                            | Notice:
                            ul(style="font-size: 1.2rem; padding-left: 20px; margin-top: 5px;")
                                li Does not advertise wealth
                                li Short bio
                                li A reasonable number of friends and posts
                                li Some mutual friends
                                li Linked social media accounts

                    
                .six.wide.column.middle.aligned
                    .container(style="max-width: 750px; margin: 50px auto; padding: 0 20px;")
                        .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
                            .ui.fluid.card(style="border-radius: 0px;")
                                .image
                                    img(src='/images/marysmithbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
                                    .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
                                        img(src='/images/marysmithpfp.png') 
                                    .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
                                        .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;") Mary Smith
                                        .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
                                            p(style="flex: 1; text-align: center;") 
                                                strong 157
                                                |  Friends
                                            p(style="flex: 1; text-align: center;") 
                                                strong 10 
                                                |  Mutual Friends
                                            p(style="flex: 1; text-align: center;") 
                                                strong 362 
                                                |  Posts
                                        .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
                                            .icon-item
                                                i.icon.users
                                                p(style="font-size: 0.9rem;") Add Friend
                                            .icon-item
                                                i.icon.address.book
                                                p(style="font-size: 0.9rem;") Follow
                                            .icon-item
                                                i.icon.comment.alternate
                                                p(style="font-size: 0.9rem;") Message
                                            .icon-item
                                                i.icon.ellipsis.horizontal
                                                p(style="font-size: 0.9rem;") More
                                        p(style="text-align: center; margin-top:20px") Cherishing the brushstrokes of every moment with my beautiful grandchildren. 🎨✨
                                    .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
                                        .icon-item
                                            .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                i.icon.suitcase
                                                p(style="margin-left: 5px; font-size: 0.9rem;") Works as an Artist
                                        .icon-item
                                            .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                i.icon.home
                                                p(style="margin-left: 5px; font-size: 0.9rem; margin-left: 5px;") Lives in Seattle, Washington
                                        .icon-item
                                            .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                i.icon.map.marker.alternate
                                                p(style="margin-left: 5px; font-size: 0.9rem;") From Issaquah, Washington
                                        .icon-item
                                            .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                i.icon.users.large-icon 
                                                p(style="margin-left: 5px; font-size: 0.9rem;") Linked Accounts

                .container(style="max-width: 200px;margin-top:160px;")
                    ul(style="list-style-type: none; padding-left: 0;")
                        li(style="font-size: 1.2rem;")
                            | Notice:
                            ul(style="font-size: 1.2rem; padding-left: 20px; margin-top: 5px;")
                                li Mentions grandchildren
                                li Profile picture doesn’t emphasize her looks
                                li Short bio
                                li A reasonable number of friends and posts
                                li Some mutual friends
                                li Linked social media accounts



