#examples.hidden
    .ui.container#trusted-read(style="width: 90%;")
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Real Profile Examples
            .ui.four.column.computer.only.grid
                .column
                    .ui.fluid.card#profile-template
                        .ui.image
                            img#bg(src='/images/romance/jamesbg.png') 
                        .ui.circular.image
                            img(src='/images/jamessmithpfp.png') 
                        .ui.basic.centered.segment 
                            .ui.centered.header James Washington
                            .ui.three.column.grid
                                .column
                                    p
                                        strong 104
                                        |  Friends
                                .column
                                    p
                                        strong 3 
                                        |  Mutual Friends
                                .column
                                    p
                                        strong 207
                                        |  Posts
                            p#bio Every day is a precious gift, enjoy it with your friends and family! 🌍
                            .icon-item
                                i.icon.suitcase
                                span  Retired
                            .icon-item
                                i.icon.home
                                span  Lives in Chicago, Illinois 
                            .icon-item
                                i.icon.map.marker.alternate
                                span  From Chicago, Illinois 
                            .icon-item
                                i.icon.users.large-icon
                                span  Linked Accounts 
                                i.linkedin.icon 
                                i.twitter.icon

                .column#vertically-centered-column 
                    span Notice:
                    .ui.bulleted.list 
                        .item
                            | Does not advertise wealth
                        .item
                            | Short bio
                        .item
                            | A reasonable number of friends and posts
                        .item
                            | Some mutual friends
                        .item
                            | Linked social media accounts


                .column
                    .ui.fluid.card#profile-template
                        .ui.image
                            img#bg(src='/images/romance/marysmithbg.png') 
                        .ui.circular.image
                            img(src='/images/marysmithpfp.png') 
                        .ui.basic.centered.segment 
                            .ui.centered.header Mary Smith
                            .ui.three.column.grid
                                .column
                                    p
                                        strong 157
                                        |  Friends
                                .column
                                    p
                                        strong 10
                                        |  Mutual Friends
                                .column
                                    p
                                        strong 362
                                        |  Posts
                            p#bio  Cherishing the brushstrokes of every moment with my beautiful grandchildren. 🎨✨
                            .icon-item
                                i.icon.suitcase
                                span  Works as an Artist
                            .icon-item
                                i.icon.home
                                span  Lives in Seattle, Washington
                            .icon-item
                                i.icon.map.marker.alternate
                                span  From Issaquah, Washington
                            .icon-item
                                i.icon.users.large-icon
                                span  Linked Accounts 
                                i.facebook.icon
                                i.pinterest.icon
                                i.instagram.icon
                .column#vertically-centered-column 
                    span Notice:
                    .ui.bulleted.list 
                        .item
                            | Mentions grandchildren 
                        .item
                            | Profile picture doesn’t emphasize her looks 
                        .item
                            | Short bio
                        .item
                            | A reasonable number of friends and posts
                        .item
                            | Some mutual friends
                        .item
                            | Linked social media accounts
            .ui.tablet.only.mobile.only.grid
                .centered.row
                    .eight.wide.column
                        .ui.card#profile-template
                            .ui.image
                                img#bg(src='/images/romance/jamesbg.png') 
                            .ui.circular.image
                                img(src='/images/jamessmithpfp.png') 
                            .ui.basic.centered.segment 
                                .ui.centered.header James Washington
                                .ui.three.column.grid
                                    .column
                                        p
                                            strong 104
                                            |  Friends
                                    .column
                                        p
                                            strong 3 
                                            |  Mutual Friends
                                    .column
                                        p
                                            strong 207
                                            |  Posts
                                p#bio Every day is a precious gift, enjoy it with your friends and family! 🌍
                                .icon-item
                                    i.icon.suitcase
                                    span  Retired
                                .icon-item
                                    i.icon.home
                                    span  Lives in Chicago, Illinois 
                                .icon-item
                                    i.icon.map.marker.alternate
                                    span  From Chicago, Illinois 
                                .icon-item
                                    i.icon.users.large-icon
                                    span  Linked Accounts 
                                    i.linkedin.icon 
                                    i.twitter.icon

                    .eight.wide.column#vertically-centered-column
                        span Notice:
                        .ui.bulleted.list 
                            .item
                                | Does not advertise wealth
                            .item
                                | Short bio
                            .item
                                | A reasonable number of friends and posts
                            .item
                                | Some mutual friends
                            .item
                                | Linked social media accounts

                .centered.row
                    .eight.wide.column
                        .ui.card#profile-template
                            .ui.image
                                img#bg(src='/images/romance/marysmithbg.png') 
                            .ui.circular.image
                                img(src='/images/marysmithpfp.png') 
                            .ui.basic.centered.segment 
                                .ui.centered.header Mary Smith
                                .ui.three.column.grid
                                    .column
                                        p
                                            strong 157
                                            |  Friends
                                    .column
                                        p
                                            strong 10
                                            |  Mutual Friends
                                    .column
                                        p
                                            strong 362
                                            |  Posts
                                p#bio  Cherishing the brushstrokes of every moment with my beautiful grandchildren. 🎨✨
                                .icon-item
                                    i.icon.suitcase
                                    span  Works as an Artist
                                .icon-item
                                    i.icon.home
                                    span  Lives in Seattle, Washington
                                .icon-item
                                    i.icon.map.marker.alternate
                                    span  From Issaquah, Washington
                                .icon-item
                                    i.icon.users.large-icon
                                    span  Linked Accounts 
                                    i.facebook.icon
                                    i.pinterest.icon
                                    i.instagram.icon
                    .eight.wide.column#vertically-centered-column
                        span Notice:
                        .ui.bulleted.list 
                            .item
                                | Mentions grandchildren 
                            .item
                                | Profile picture doesn’t emphasize her looks 
                            .item
                                | Short bio
                            .item
                                | A reasonable number of friends and posts
                            .item
                                | Some mutual friends
                            .item
                                | Linked social media accounts

