#male.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.middle.aligned.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Fake Male Profiles
                    p Common characteristics: 
                    .ui.bulleted.list
                        .item 
                            | Authority figure, widower, or father
                        .item 
                            | Typically holds a job that requires a lot of education while holding power, such as a businessman, manager, or architect. Job that requires lots of travel or time out of the country.
                        .item  
                            | Wealthy. Pictures of luxurious lifestyles, posing in front of yachts or sports cars, etc.
                        //- .item  
                        //-     | Their bio may use adjectives like “loyal, respectful, humorous, religious,” to seem like an ideal match
                        .item  
                            | Their hobbies could include activities commonly perceived as masculine, such as “fitness” or “swimming.” But also mentioning hobbies such as “cooking” and “romantic dancing” helps
                .six.wide.computer.ten.wide.tablet.centered.middle.aligned.column
                    img.ui.medium.image(src='/images/romance/fake_what1.png' style='margin-left: auto; margin-right: auto;')
                    //- .ui.fluid.card#profile-template
                    //-     .ui.image
                    //-         img#bg(src='/images/richardharrisonbg.png') 
                    //-     .ui.circular.image
                    //-         img(src='/images/richardharrisonpfp.png') 
                    //-     .ui.basic.centered.segment 
                    //-         .ui.centered.header Richard Harrison
                    //-         .ui.three.column.grid
                    //-             .column
                    //-                 p
                    //-                     strong 15
                    //-                     |  Friends
                    //-             .column
                    //-                 p
                    //-                     strong 0 
                    //-                     |  Mutual Friends
                    //-             .column
                    //-                 p
                    //-                     strong 12 
                    //-                     |  Posts
                    //-         p#bio Greetings! I'm Richard, a seasoned architect with a heart full of stories and a love for beautiful design. After creating a wonderful family and life with my late wife, I now find joy in sharing my experiences and embracing life's simple pleasures.
                    //-         .icon-item
                    //-             i.icon.suitcase
                    //-             span  Works at Harrison Designs
                    //-         .icon-item
                    //-             i.icon.home
                    //-             span  Lives in Manhattan, New York
                    //-         .icon-item
                    //-             i.icon.map.marker.alternate
                    //-             span  From San Francisco, California
                    //-         .icon-item
                    //-             i.icon.users.large-icon
                    //-             span  Linked Accounts
                    i.source [1] Anatomy of the Online Dating Scam,  Springer Link, 
                        a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') 'https://link.springer.com/article/10.1057/sj.2012.57' 
                    br
                    i.source [11] The Role of Love stories in Romance Scams: A Qualitative Analysis of Fraudulent Profiles, 
                        a(href='https://www.cybercrimejournal.com/pdf/Koppetal2015vol9issue2.pdf' target='_blank') 'https://www.cybercrimejournal.com/pdf/Koppetal2015vol9issue2.pdf' 
                        
