#male.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column(style="display: flex; justify-content: center; flex-direction: column;")
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Fake Male Profiles
                    p Common characteristics of fake male profiles include portraying themselves as <strong>authority figures</strong> with jobs that suggest a high level of <strong>education and power</strong>, such as businessmen, managers, or architects. These professions often come with narratives of extensive travel or commitments abroad, conveniently providing a pretext for not being able to meet in person.
                    p They display a <strong>wealthy lifestyle</strong> emphasized through images featuring luxurious settings, yachts, or sports cars. Many also claim to be widowers and fathers, strategically designed to elicit sympathy and depict a sense of responsibility. Their profiles are filled with adjectives like "loyal, respectful, humorous, religious," to craft an image of the ideal partner. They include a mix of masculine and broadly appealing hobbies like “fitness” and “cooking”, aiming to appeal to a wide audience.
                .six.wide.column.middle.aligned
                    .ui.fluid.card#profile-template
                        .ui.image
                            img(src='/images/richardharrisonbg.png' style="height: 80px;") 
                        .ui.circular.image
                            img(src='/images/richardharrisonpfp.png') 
                        .ui.basic.centered.segment 
                            .ui.centered.header Richard Harrison
                            .ui.three.column.grid
                                .column
                                    p
                                        strong 15
                                        |  Friends
                                .column
                                    p
                                        strong 0 
                                        |  Mutual Friends
                                .column
                                    p
                                        strong 12 
                                        |  Posts
                            //- .icons-container(style="display: flex; width: 100%; justify-content: space-around; margin-top: 0px;")
                            //-     .icon-item
                            //-         i.circular.inverted.icon.users(style="background-color: #EDECF2 !important; color: #202125 !important;")
                            //-         p(style="font-size: 0.7rem;") Add Friend
                            //-     .icon-item
                            //-         i.circular.inverted.icon.address.book(style="background-color: #EDECF2 !important; color: #202125 !important;")
                            //-         p(style="font-size: 0.7rem;") Follow
                            //-     .icon-item
                            //-         i.circular.inverted.icon.comment.alternate(style="background-color: #EDECF2 !important; color: #202125 !important;")
                            //-         p(style="font-size: 0.7rem;") Message
                            //-     .icon-item
                            //-         i.circular.inverted.icon.ellipsis.horizontal(style="background-color: #EDECF2 !important; color: #202125 !important;")
                            //-         p(style="font-size: 0.7rem;") More
                            p#bio Greetings! I'm Richard, a seasoned architect with a heart full of stories and a love for beautiful design. After creating a wonderful family and life with my late wife, I now find joy in sharing my experiences and embracing life's simple pleasures.
                            .icon-item
                                i.icon.suitcase
                                span  Works at Harrison Designs
                            .icon-item
                                i.icon.home
                                span  Lives in Manhattan, New York
                            .icon-item
                                i.icon.map.marker.alternate
                                span  From San Francisco, California
                            .icon-item
                                i.icon.users.large-icon
                                span  Linked Accounts
