#male.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Fake Male Profiles
                    p(style="font-size: 1.5rem;") Common characteristics of fake male profiles include portraying themselves as <strong>authority figures</strong> with jobs that suggest a high level of <strong>education and power</strong>, such as businessmen, managers, or architects. These professions often come with narratives of extensive travel or commitments abroad, conveniently providing a pretext for not being able to meet in person.
                    p(style="font-size: 1.5rem;") They display a <strong>wealthy lifestyle</strong> emphasized through images featuring luxurious settings, yachts, or sports cars. Many also claim to be widowers and fathers, strategically designed to elicit sympathy and depict a sense of responsibility. Their profiles are filled with adjectives like "loyal, respectful, humorous, religious," to craft an image of the ideal partner. They include a mix of masculine and broadly appealing hobbies like “fitness” and “cooking”, aiming to appeal to a wide audience.
                    
                .six.wide.column.middle.aligned
                    .container(style="max-width: 750px; margin: 50px auto; padding: 0 20px;")
                        .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
                        .ui.fluid.card(style="border-radius: 0px;")
                            .image
                            img(src='/images/richardharrisonbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;") 
                            .ui.circular.image(style="position: absolute; top: 40px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
                                img(src='/images/richardharrisonpfp.png') 
                            .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
                                .header(style="font-size: 1.5rem; font-weight: bold; margin-bottom: 20px;") Richard Harrison
                                .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
                                    p(style="flex: 1; text-align: center; font-size: 0.9rem;") 
                                        strong 15
                                        |  Friends
                                    p(style="flex: 1; text-align: center; font-size: 0.9rem;") 
                                        strong 0 
                                        |  Mutual Friends
                                    p(style="flex: 1; text-align: center; font-size: 0.9rem;") 
                                        strong 12 
                                        |  Posts
                                .icons-container(style="display: flex; width: 100%; justify-content: space-around; margin-top: 20px;")
                                    .icon-item
                                        i.icon.users
                                        p(style="font-size: 0.9rem;") Add Friend
                                    .icon-item
                                        i.icon.address.book
                                        p(style="font-size: 0.9rem;") Follow
                                    .icon-item
                                        i.icon.comment.alternate
                                        p(style="font-size: 0.9rem;") Message
                                    .icon-item
                                        i.icon.ellipsis.horizontal
                                        p(style="font-size: 0.9rem;") More
                                p(style="text-align: center; margin-top:20px; font-size: 0.9rem;") Greetings! I'm Richard, a seasoned architect with a heart full of stories and a love for beautiful design. After creating a wonderful family and life with my late wife, I now find joy in sharing my experiences and embracing life's simple pleasures.
                            .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
                                .icon-item
                                    .icon-container(style="display: flex; align-items: center; margin-right: 10px;margin-left: 5px;")
                                        i.icon.suitcase
                                        p(style="margin-left: 5px; font-size: 0.9rem;") Works at Retired Architect, Founder of Harrison Designs
                                .icon-item
                                    .icon-container(style="display: flex; align-items: center; margin-right: 10px; margin-left: 5px;")
                                        i.icon.home
                                        p(style="margin-left: 5px; font-size: 0.9rem; margin-left: 5px;") Lives in Manhattan, New York
                                .icon-item
                                    .icon-container(style="display: flex; align-items: center; margin-right: 10px; margin-left: 5px;")
                                        i.icon.map.marker.alternate
                                        p(style="margin-left: 5px; font-size: 0.9rem;") From San Francisco, California
                                .icon-item
                                    .icon-container(style="display: flex; align-items: center; margin-right: 10px; margin-left: 5px; margin-bottom: 5px;")
                                        i.icon.users.large-icon 
                                        p(style="margin-left: 5px; font-size: 0.9rem;") Linked Accounts
