#objectives.hidden
    .ui.container#raised-container
        .limit#learn-target(style="padding: 0;")
            .ui.grid.computer.only#objectives-read
                .ten.wide.column
                    //- button.ui.icon.button#volume-up-button.left.floated(style="position: absolute; left: 400px; top: 45px;")
                    //-     i.volume.up.icon
                    h1.ui.header.large#learn-title(style="color: #285362;")
                        .content
                            i.user.icon
                            | Fake Profiles
                        span(style="float: right; font-size: 1.5rem; margin-top: 5px; color: #151C22; ")
                            i.clock.outline.icon
                            | 10 min
                    .ui.divider
                    //- h1.ui.header.large#learn-subheader
                    //-     i.bullseye.icon
                    //-     | Objectives:
                    ul.no-bullets
                        li
                            img(src="/images/dart-bullet.svg", alt="Bullet Point")
                            | Learn how to spot fake profiles

                        li
                            img(src="/images/dart-bullet.svg", alt="Bullet Point")
                            | Discover characteristics of fake profiles

                        li
                            img(src="/images/dart-bullet.svg", alt="Bullet Point")
                            | Practice distinguishing between real and fake profiles
                .six.wide.center.aligned.middle.aligned.column
                    img(src='/images/heartwithmag.png', style='width: 300px;')
            .ui.grid.tablet.only.mobile.only
                .row
                    h1.ui.header.large#learn-title
                        i.bullseye.icon
                        | Learn how to spot fake profiles

                ul.no-bullets(style="text-align: left;")
                    li
                        img(src="/images/dart-bullet.svg", alt="Bullet Point")
                        | Discover characteristics of fake profiles

                    li 
                        img(src="/images/dart-bullet.svg", alt="Bullet Point")
                        | Discover what information scammers are after
                    li
                        img(src="/images/dart-bullet.svg", alt="Bullet Point")
                        | Practice distinguishing between real and fake profiles

                .row
                    .div(style="margin: 0 auto;")
                        img(src='/images/heartwithmag.png', style='width: 300px;')

        //- Fill progress bar to correct percent and color 
        //- script.
        //-     var module = "#{module}";
        //-     var section = "#{section}";
        //-     var page = "#{page}"; 

        //-     let total = parseInt(#{numPages});
        //-     let progress = 1 / total;
        //-     console.log(progress);
        //-     script(src='/js/setProgressBar.js')  
        //-     updateProgressBar(progress);