#realorfake.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .eight.wide.column.middle.aligned
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Activity: Real or fake Profile
                    .four.wide.column.middle.aligned
                        .container(style="max-width: 750px; margin: 50px auto; padding: 0 20px;")
                            .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
                            .ui.fluid.card(style="border-radius: 0px;")
                                .image
                                img(src='/images/susandavisbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;" alt="profile") 
                                .ui.circular.image(style="position: absolute; top: 25px; left: 50%; transform: translateX(-50%); z-index: 99; width: 200px; ")
                                    img(src=`${public_resources}/images/modules/romance/susandavispfp.png` alt="profile") 
                                .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
                                    .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px; ") Susan Davis
                                    .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
                                        p(style="flex: 1; text-align: center;") 
                                            strong 29 
                                            |  Friends
                                        p(style="flex: 1; text-align: center;") 
                                            strong 0 
                                            |  Mutual Friends
                                        p(style="flex: 1; text-align: center;") 
                                            strong 15 
                                            |  Posts
                                    .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
                                        .icon-item
                                            i.icon.users
                                            p(style="font-size: 0.9rem;") Add Friend
                                        .icon-item
                                            i.icon.address.book
                                            p(style="font-size: 0.9rem;") Follow
                                        .icon-item
                                            i.icon.comment.alternate
                                            p(style="font-size: 0.9rem;") Message
                                        .icon-item
                                            i.icon.ellipsis.horizontal
                                            p(style="font-size: 0.9rem;") More
                                    p(style="text-align: center; margin-top:20px") 💪 Certified Fitness Trainer | Passionate about empowering others to discover their strength, transform their lives, and embrace a healthier, happier version of themselves. "Your only limit is you." 🌟
                                .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
                                    .icon-item
                                        .icon-container(style="display: flex; align-items: center; margin-right: 10px;margin-left: 5px;")
                                            i.icon.suitcase
                                            p(style="margin-left: 5px; font-size: 0.9rem;") Works at YMCA
                                    .icon-item
                                        .icon-container(style="display: flex; align-items: center; margin-right: 10px;margin-left: 5px;")
                                            i.icon.home
                                            p(style="margin-left: 5px; font-size: 0.9rem; margin-left: 5px;") Lives in Los Angeles, California
                                    .icon-item
                                        .icon-container(style="display: flex; align-items: center; margin-right: 10px;margin-left: 5px;")
                                            i.icon.map.marker.alternate
                                            p(style="margin-left: 5px; font-size: 0.9rem;") From Los Angeles, California
                                    .icon-item
                                        .icon-container(style="display: flex; align-items: center; margin-right: 10px;margin-left: 5px; margin-bottom: 5px;")
                                            i.icon.users.large-icon 
                                            p(style="margin-left: 5px; font-size: 0.9rem;") Linked Accounts

                    
                .six.wide.column.middle.aligned
                    .container(style="max-width: 750px; margin: 50px auto; padding: 0 20px;")
                        .eleven.wide.column.middle.aligned(style="margin-left: 0px; padding-left: 0px;")
                            .ui.fluid.card(style="border-radius: 0px;")
                                .image
                                    img(src='/images/johnwilliamsbg.png' style="height: 200px; object-position: 0 0; border-radius: 10px;" alt="profile") 
                                    .ui.circular.image(style="position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 99; width: px; ")
                                        img(src=`${public_resources}/images/modules/romance/johnwilliamspfp.png` alt="profile") 
                                    .ui.basic.segment(style="margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;") 
                                        .header(style="font-size: 1.75rem; font-weight: bold; margin-bottom: 20px;") John Williams
                                        .flex-container(style="display: flex; justify-content: space-between; width: 100%;")
                                            p(style="flex: 1; text-align: center;") 
                                                strong 340 
                                                |  Friends
                                            p(style="flex: 1; text-align: center;") 
                                                strong 12 
                                                |  Mutual Friends
                                            p(style="flex: 1; text-align: center;") 
                                                strong 353 
                                                |  Posts
                                        .icons-container(style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;")
                                            .icon-item
                                                i.icon.users
                                                p(style="font-size: 0.9rem;") Add Friend
                                            .icon-item
                                                i.icon.address.book
                                                p(style="font-size: 0.9rem;") Follow
                                            .icon-item
                                                i.icon.comment.alternate
                                                p(style="font-size: 0.9rem;") Message
                                            .icon-item
                                                i.icon.ellipsis.horizontal
                                                p(style="font-size: 0.9rem;") More
                                        p(style="text-align: center; margin-top:20px") Proud dog enthusiast, especially for the pint-sized variety that fills life with joy. Call me the "Little Dog Whisperer" — where small pups steal the show.
                                    .new-icons-container(style="display: flex; flex-direction: column; width: 100%; margin-top: 10px;")
                                        .icon-item
                                            .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                i.icon.suitcase
                                                p(style="margin-left: 5px; font-size: 0.9rem;") Works as an Accountant
                                        .icon-item
                                            .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                i.icon.home
                                                p(style="margin-left: 5px; font-size: 0.9rem; margin-left: 5px;") Lives in Saugatuck, Michigan
                                        .icon-item
                                            .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                i.icon.map.marker.alternate
                                                p(style="margin-left: 5px; font-size: 0.9rem;") From Saugatuck, Michigan
                                        .icon-item
                                            .icon-container(style="display: flex; align-items: center; margin-right: 10px;")
                                                i.icon.users.large-icon 
                                                p(style="margin-left: 5px; font-size: 0.9rem;") Linked Accounts





