#takeaways.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            | Congratulations!
                    #text
                        p You've now familiarized yourself with the characteristics of fake profiles. 
                        p To assist you further, we've prepared a downloadable 
                        a(href="#", style="color: blue; text-decoration: underline; font-weight: bold;") CHECKLIST 
                        | file. If you ever find yourself unsure about certain profiles, feel free to use this checklist to assess them. 
                .six.wide.center.aligned.column
                    img.ui.small.centered.image#earned_badge(src='/badges/identity/aftermath_ace.svg' onmouseenter="animateBadge()" style="margin-bottom: -10px; width: 125px;")
                    h3 <strong>Aftermath</strong>
                        br
                        | <strong>Ace</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")
