#what1.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Spotting Fake Profiles
                    p Romance & friendship scams begin with the creation of a fake profile. The scammers build a false persona to persuade the victim they’re an authority or likable person, increasing trust.
                        | The median reported loss was $4,400. Romance Scams increased during the pandemic while people struggled emotionally.
                    p When encountering a profile, exercise caution if it appears incomplete, or if the individual excuses this by claiming forgetfulness or a lack of time. Genuine profiles typically show <strong>regular interactions</strong>, such as comments and likes from friends, and are connected to other social media accounts. A lack of these interactions could indicate the profile isn't real. Moreover, the use of a <strong>conventionally attractive profile</strong> photo could be a calculated move to lure you in.
                    i.source Sources: 
                    a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') [1] Anatomy of the online dating romance scam.
                    | 
                    | 
                    a(href='https://www.cybercrimejournal.com/pdf/Koppetal2015vol9issue2.pdf' target='_blank') [2] The Role of Love stories in Romance Scams: A Qualitative Analysis of Fraudulent Profiles.

                .six.wide.column.middle.aligned
                    img.ui.image(src='/images/scammerprofile.png' style='margin-left: auto; margin-right: auto')
