#what.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.middle.aligned.grid
                .column.eleven.wide.computer.only.sixteen.wide.tablet.only.mobile.only
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Fake profiles
                    p Romance and friendship scams begin with the creation of a fake profile—a practice known as <strong>catfishing</strong>. The scammers build a false persona to persuade the victim they’re an authority or likable person, increasing trust. 

                    p Common characteristics in fake profiles include:
                    .ui.bulleted.list
                        .item  
                            | Parts of their profiles left blank, with claims of forgetting or not having time to fill them in
                        .item 
                            | Social networks appearing empty, characterized by few comments, likes, or shares.
                        .item 
                            | A lack of connections to other social media accounts.
                        .item 
                            | Their bio may use adjectives like “loyal, respectful, humorous, religious,” to seem like an ideal match

                    //- i.source
                    //-     a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') [1] Anatomy of the online dating romance scam
                    //-     |  & 
                    //-     a(href='https://www.cybercrimejournal.com/pdf/Koppetal2015vol9issue2.pdf' target='_blank') [2] The Role of Love stories in Romance Scams

                    //- p When encountering a profile, exercise caution if it appears incomplete, or if the individual excuses this by claiming forgetfulness or a lack of time. Genuine profiles typically show <strong>regular interactions</strong>, such as comments and likes from friends, and are connected to other social media accounts. A lack of these interactions could indicate the profile isn't real. Moreover, the use of a <strong>conventionally attractive profile</strong> photo could be a calculated move to lure you in.


                    //- p Romance and friendship scams begin with the creation of a fake profile—a practice known as <strong>catfishing</strong>. Scammers use a fake online profile to trick you into believing they are someone else. By presenting themselves as an ideal partner, scammers can manipulate your emotions and gain your trust, making it easier for them to take advantage of you.
                    
                    //- p When encountering a profile, exercise caution if it appears incomplete, or if the individual excuses this by claiming forgetfulness or a lack of time. Genuine profiles typically show <strong>regular interactions</strong>, such as comments and likes from friends, and are connected to other social media accounts. A lack of these interactions could indicate the profile isn't real. Moreover, the use of a <strong>conventionally attractive profile</strong> photo could be a calculated move to lure you in.

                    //- Creating fictional identities allows them to present themselves as ideal partners and exploit your desires and vulnerabilities.
                    //- presenting themselves as an ideal partner, scammers can manipulate your emotions and gain your trust, making it easier for them to take advantage of you. 

                    //- p Romance & friendship scams begin with the creation of a fake profile—a practice known as <strong>catfishing</strong>. Scammers use a fake online profile to trick you into believing they are someone else. By presenting themselves as an ideal partner, scammers can manipulate your emotions and gain your trust, making it easier for them to take advantage of you. The aim is to create a compelling but entirely fictional identity to attract victims, playing on their desires and vulnerabilities.


                    //- p Romance & friendship scams begin with the creation of a fake profile. The scammers build a false persona to persuade the victim they’re an authority or likable person, increasing trust.
                    //- p When encountering a profile, exercise caution if it appears incomplete, or if the individual excuses this by claiming forgetfulness or a lack of time. Genuine profiles typically show <strong>regular interactions</strong>, such as comments and likes from friends, and are connected to other social media accounts. A lack of these interactions could indicate the profile isn't real. Moreover, the use of a <strong>conventionally attractive profile</strong> photo could be a calculated move to lure you in.
                .column.five.wide.computer.only.sixteen.wide.tablet.only.mobile.only
                    img.ui.medium.image(src='/images/romance/romance-concepts-types-4.png' style='margin-left: auto; margin-right: auto;' alt="deep fake")

                    //- img.ui.medium.image(src='/images/romance/fake_what1.png' style='margin-left: auto; margin-right: auto;')
            //- i.source
            //-     br
            //-     a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') [1] Anatomy of the online dating romance scam
            //-     |  & 
            //-     a(href='https://www.cybercrimejournal.com/pdf/Koppetal2015vol9issue2.pdf' target='_blank') [2] The Role of Love stories in Romance Scams
