extends ../../module_layout

block content

  .ui.container#raised-container
    .limit#learn-target(style="padding: 0;")
      .ui.grid.computer.only
        .ten.wide.column
          h1.ui.header.large#learn-title
            i.bullseye.icon
            | Learning Targets

          ul.no-bullets
            li
              img(src="/images/dart-bullet.svg", alt="Bullet Point")
              | Understand the basics of identity theft

            li
              img(src="/images/dart-bullet.svg", alt="Bullet Point")
              | Discover what information scammers are after

            //- li
            //-   img(src="/images/dart-bullet.svg", alt="Bullet Point")
            //-   | Practice online identity management
        .six.wide.column
          //- img.ui.image#villain-image(src="/images/villains.png", alt="Disguised SCAMM villains")
          .villain-container
            img.villain-image(src='/images/villains.png')
            img.villain-reveal.hidden(src='/images/villains-reveal.png')
      .ui.grid.tablet.only.mobile.only
        .row
          h1.ui.header.large#learn-title
            i.bullseye.icon
            | Learning Targets

          ul.no-bullets(style="text-align: left;")
            li
              img(src="/images/dart-bullet.svg", alt="Bullet Point")
              | Understand the basics of identity theft

            li
              img(src="/images/dart-bullet.svg", alt="Bullet Point")
              | Discover what information scammers are after

            //- li
            //-   img(src="/images/dart-bullet.svg", alt="Bullet Point")
            //-   | Practice online identity management
        .row
          .villain-container(style="margin: 0 auto;")
            img.villain-image(src='/images/villains.png')
            img.villain-reveal.hidden(src='/images/villains-reveal.png')
    //- Fill progress bar to correct percent and color 
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'intro', '/about/identity', '/intro/2/identity', 4, 'Back', 'Next')  

block styles 
  link(rel='stylesheet', href='/css/learning-targets.css')
  link(rel='stylesheet', href='/css/middle-aligned-layout.css')

block scripts
  script.
    postStartTime("identity", "intro");
  script(src='/module_js/identity/villain-reveal.js')
