extends ../../ui_layout

block content
  .ui.container
    br
    .ui.breadcrumb
      a.section(href="/") Home
      i.right.angle.icon.divider
      a.section(href="/courses") Courses
      i.right.angle.icon.divider
      .active.section Identity Theft
    br
    h1.ui.header.red#mod-title Identity Theft
    .ui.top.attached.fluid.segment(style="padding:0;margin:0;border: 4px solid rgba(34, 36, 38, 0.6);background: #e7e7e88b")
      .ui.grid 
        .row
          .eight.wide.column(style="padding: 1.25rem; padding-left: 2rem;")
            strong CLASSIFICATION: 
            | TOP SECRET 
          .eight.wide.column(style="padding: 1.25rem; padding-left: 1rem; border-left: 4px solid rgba(34, 36, 38, 0.6);") 
            strong CLASSIFIED BY: 
            | DART HQ
      //- table.ui.celled.table
      //-   thead
      //-     tr
      //-       th 
      //-         | CLEARANCE: 
      //-         span.no-bold TOP SECRET 
      //-       th(style="border-left: 3px solid rgba(34, 36, 38, 0.6);")
      //-         | CLASSIFIED BY: 
      //-         span.no-bold DART HQ
    .ui.attached.segment(style="margin-top:-3px;margin-left:0.05px;border: 4px solid rgba(34, 36, 38, 0.6);")
      .ui.grid 
        .row 
          .twelve.wide.column
            p The Johnsons need your help! They've been targeted by SCAMM, falling victim to a sneaky identity theft scheme.
            p Uncover how scammers steal personal information to impersonate their targets. You'll learn how these scams work, how to spot them, and how to protect yourself.
            button.ui.huge.blue.button(onclick="window.location='/challenge/identity';") Start Course
          .four.wide.column 
            img(src="/images/johnson.png")

        //- .row(style="text-align: center;")
        //-   .sixteen.wide.column
        //-     button.ui.huge.blue.button Start Course
      br
      hr
          //- .four.wide.column 
          //-   img(src="/images/identity-theft-square.jpg")
      h2.ui.header.centered#learn-title 
        .content
          i.list.icon
          | Course Outline
      //- p Outline
      .ui.vertical.basic.segments#course-outline
        .ui.basic.segment(style="background: transparent;")
          .ui.grid
            .row
              .two.wide.centered.column
                span.fake-checkbox.completed
              .nine.wide.column
                h3 Challenge
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                span.fake-checkbox
              .nine.wide.column
                h3 Concepts
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                span.fake-checkbox
              .nine.wide.column
                h3 Consequences
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                span.fake-checkbox
              .nine.wide.column
                h3 Recognize Techniques
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                span.fake-checkbox
              .nine.wide.column
                h3 Methods of Protection
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                span.fake-checkbox
              .nine.wide.column
                h3 Practice
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small Start
        .ui.divider
        .ui.basic.segment
          .ui.grid
            .row
              .two.wide.centered.column
                span.fake-checkbox
              .nine.wide.column
                h3 Evaluation
              .five.wide.right.aligned.column
                .ui.blue.inverted.button.small Start
        .ui.divider
      h2.ui.header.centered(style="margin-top: 40px; margin-bottom: 40px;")
        .content(style="position: relative;")
          | Complete all activities to earn a certificate
          img(src="/images/certificate-icon.png" style="width: 50px; height: 50px; position: absolute; left: -55px; top: -5px")

    .ui.bottom.attached.segment(style="margin-top:-3px;margin-left:0.05px;border: 4px solid rgba(34, 36, 38, 0.6);")
      //- img(src="/images/top-secret2.png" width="225px" style="position: absolute; right: 0%; top: 4%;")
      //- h2.ui.header.red.bottom.aligned.centered TOP SECRET
      h2(style="color: #285362") Learning Materials
      p If you would like to learn the material offline, you can download the content below:
      div.ui.two.column.stackable.grid#downloadGrid
        .column
          h3.glossary.pdf Identity Theft Course PDF
          a.ui.inline.fluid.labeled.icon.button(href='/pdf/identity-glossary.pdf', download='identity_theft.pdf')
            i.download.icon.graySquare
            .inline
              p Download Course PDF

        .column
          h3.glossary.pdf Identity Theft Glossary PDF
          a.ui.inline.fluid.labeled.icon.button(href='/pdf/identity-glossary.pdf', download='glossary.pdf')
            i.download.icon.graySquare
            .inline
              p Download Glossary PDF
                //- i.large.download.icon
      br
    br



block styles
  link(rel='stylesheet', href='/css/module-intro.css') 

block scripts
  script.
    postStartTime("identity", "intro");

