extends ../../module_layout

block content

  .ui.container#raised-container
    .limit
      h1.ui.header.large#learn-title
        .content
          | Intro
      p Click the image to start the video
      video-js#my_video_1.video-js.vjs-default-skin.vjs-show-big-play-button-on-pause(width='640px' height='360px' controls='' preload='none' data-setup='{ "poster":"/images/warning-poster.png", "aspectRatio":"16:9", "playbackRates": [0.5, 0.75, 1, 1.5, 2] }')
        source(src='https://dart-store.s3.amazonaws.com/identity-warning.mp4' type='video/mp4')


          
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'sub2_learn9', '/learn/submod2/8/identity', '/learn/submod2/10/identity', 44)  

block scripts
  script.
    postStartTime("identity", "sub2_learn9");
