extends ../../ui_layout

block content

  .ui.container#raised-container
    .ui.raised.segment
      #raised-content
        h1.ui.header.large#mod-title
          .content
            | Identity Theft
        .limit
          p There are six amazing badges waiting for you to earn!

          //- semantic ui grid to organize the badges properly
          .ui.stackable.grid#badgesGrid
            .four.column.row
              .column 
                .content
                  img(src='/badges/identity/mystery_badge.png')
                  p Challenge
                    br
                    | Conqueror
              .column
                .content
                  img(src='/badges/identity/mystery_badge2.png')
                  p Foundations 
                    br
                    | Achiever
              .column
                .content
                  img(src='/badges/identity/mystery_badge2.png')
                  p Progress 
                    br
                    | Master
              .column
                .content
                  img(src='/badges/identity/mystery_badge2.png')
                  p Champion of
                    br
                    | Completion
            .four.column.centered.row
              .column
              .column 
                .content
                  img(src='/badges/identity/mystery_badge3.png')
                  p Intrepid
                    br
                    | Investigator
              .column
                .content
                  img(src='/badges/identity/mystery_badge4.png')
                  p Adventure
                    br
                    | Achiever
              .column
        br
        br
        .ui.one.column.centered.grid#avatarGrid
          .ui.large.right.pointing.circular.label#speechBubble
            p#speechText(style="font-size: 1.3rem") Remember that you can take a break anytime and pick up where you left off when you return!
          img#dart_image1.ui.small.image.right.floated(src='/profile_pictures/transparent.png' style="float: right")
    +navButtons('/intro/identity', '/challenge/identity', 'Back', 'Challenge')  

block scripts
  script(src='/js/character.js')
  script(src='/js/progress.js' percent=4 link="/intro2/identity")  
  
block styles
  link(rel='stylesheet', href='/css/module.css') 

 
 


