extends ../../module_layout

block content

  .ui.container#raised-container
    .limit
      p There are six amazing badges for you to earn!

      //- semantic ui grid to organize the badges properly
      .ui.computer.only.tablet.only.grid#badgesGrid
        .four.column.row
          .column 
            .content
              img(src='/badges/identity/mystery_badge.png')
              p Challenge
                br
                | Conqueror
          .column
            .content
              img(src='/badges/identity/mystery_badge2.png')
              p Foundations 
                br
                | Achiever
          .column
            .content
              img(src='/badges/identity/mystery_badge2.png')
              p Progress 
                br
                | Master
          .column
            .content
              img(src='/badges/identity/mystery_badge2.png')
              p Champion of
                br
                | Completion
        .four.column.centered.row
          .column
          .column 
            .content
              img(src='/badges/identity/mystery_badge3.png')
              p Intrepid
                br
                | Investigator
          .column
            .content
              img(src='/badges/identity/mystery_badge4.png')
              p Adventure
                br
                | Achiever
          .column
      //- mobile only badge display
      .ui.mobile.only.grid#badgesGrid
        .two.column.row
          .column 
            .content
              img(src='/badges/identity/mystery_badge.png')
              p Challenge
                br
                | Conqueror
          .column
            .content
              img(src='/badges/identity/mystery_badge2.png')
              p Foundations 
                br
                | Achiever
        .two.column.row
          .column
            .content
              img(src='/badges/identity/mystery_badge2.png')
              p Progress 
                br
                | Master
          .column
            .content
              img(src='/badges/identity/mystery_badge2.png')
              p Champion of
                br
                | Completion
        .two.column.row
          .column 
            .content
              img(src='/badges/identity/mystery_badge3.png')
              p Intrepid
                br
                | Investigator
          .column
            .content
              img(src='/badges/identity/mystery_badge4.png')
              p Adventure
                br
                | Achiever
    //- br
    //- br
    //- .ui.one.column.centered.grid#avatarGrid
    //-   .ui.large.right.pointing.circular.label#speechBubble
    //-     p#speechText(style="font-size: 1.3rem") Remember that you can take a break anytime and pick up where you left off when you return!
    //-   img#dart_image1.ui.small.image.right.floated(src='/profile_pictures/transparent.png' style="float: right")


    //- Fill progress bar to correct percent and color 
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'intro2', '/intro/identity', '/challenge/identity', 4, 'Back', 'Challenge')  

block scripts
  script.
    postStartTime("identity", "intro2");

