extends ../../module_layout

block content
  .ui.container#raised-container.top-padding
    .limit
        p Congratulations on successfully completing all of the identity theft learn section! 
        p Now, let's take your learning to the next level by exploring some real-world scenarios together. 
        p Get ready to apply your newly acquired knowledge to practical situations and excel even further! 
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'explore', '/submod3/learn13/identity', '/explore2/identity', 64, 'Back', 'Start Explore')  

block scripts
    script.
      postStartTime("identity", "explore");