extends ../../module_layout

block content
  .ui.container#raised-container
    .limit
        br
        .into-container 
            p I'm glad you're here, Agent #{user.name}. While you were brushing up on your detection skills, we've received some emails for you.
            p Let me show you your email inbox and give you a quick tour.
            <br>
        .avatar-container(style="text-align: center;")
            img#dart_image1.ui.medium.image(src=user.avatarImg style="text-align: center; display: block; margin: 0 auto;")
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'explore2', '/explore/identity', '/explore/3/identity', 66, 'Back', 'Start Tour')  

block scripts
    script.
        postStartTime("identity", "explore2");