#activity.hidden
    .ui.container#raised-container.center-layout
        .limit
            #common-measures-read
                h1.ui.header.large#learn-title
                    .content
                        i.dice.icon
                        span#narrate-title-preventative Activity
                h3 
                    b#narrate-header-preventative 
                        span Coming soon
                