#activity2.hidden
    .ui.container(style="width: 90%;")
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.volume.up.icon
                    | Car Accident: Part 2/4
            .ui.centered.stackable.grid
                .eight.wide.column
                    .audio-player
                        .wrap
                            audio#audio.with-transcript(controls)
                                source(src="https://dart-store.s3.amazonaws.com/grandparent-audio/car2.wav" type="audio/mpeg")
                                | Your browser does not support the audio element.
                            ul#transcript(data-audio-file="https://dart-store.s3.amazonaws.com/grandparent-audio/car2.wav" style="max-height: 300px;")
                                li.speaker1.current(data-timecode="00:00") Grandma: Oh, my poor Alex. Of course, I’ll do anything to help you. What do you need me to do?
                                li.speaker2(data-timecode="00:06") Scammer: I need you to help me post bail. The police say it's $8,000. Can you send it right away?
                                li.speaker1(data-timecode="00:12") Grandma: $8,000. Yes. But how do I do it? Where do I send the money?
                                li.speaker2(data-timecode="00:18") Scammer: Can you send it right away? The police are only letting me call you for a little bit. My lawyer is gonna call you to explain what you need to do next. Please don’t tell Mom and Dad about this, okay? I’ll be in big trouble if they find out.
                                li.speaker1(data-timecode="00:32") Grandma: Yes, yes. I will make sure you are okay! I love you.
                                li.speaker2(data-timecode="00:37") Scammer: Thank you grandma, I love you too! Please hurry, I just want to get out of here.
                                li.speaker1(data-timecode="00:41") Grandma: Okay, Okay.
                .eight.wide.column#content-column2
                    .step1-activity2
                        p After listening to that conversation, what feelings best describe your reaction? Select all that apply.
                        .ui.vertical.inverted.buttons
                            button.ui.button(data-value="concern2") Concern
                            button.ui.button(data-value="anxiety2") Anxiety
                            button.ui.button(data-value="anger2") Anger
                            button.ui.button(data-value="confusion2") Confusion
                            button.ui.button(data-value="embarrassment2") Embarrassment
                            button.ui.button(data-value="empathy2") Empathy
                            button.ui.button(data-value="nothing2") I didn't feel anything
                        button.ui.button.primary#submit-button2 Submit
                    .step2-activity2.hidden
                        .ui.icon.mini.message#instruction-text
                            i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                            .content
                                p#narrate-2-intro-video
                                    span Drag the tactic card used in the quote below to the drop area.

                        //- .ui.message#instruction-text Drag the tactic card used in the quote below to the drop area.
                        .ui.grid
                            .sixteen.wide.column
                                .ui.horizontal.list.draggable-options#adjust-width
                                    .item.ui.card.draggable(data-value="create-urgent" draggable="true") Create an urgent scenario
                                    .item.ui.card.draggable(data-value="request-secrecy" draggable="true") Request for secrecy
                                    .item.ui.card.draggable(data-value="introduce-lawyer" draggable="true") Introduce a third role
                                    .item.ui.card.draggable(data-value="pressure-fast" draggable="true") Pressure to act quickly
                        .ui.grid
                            .sixteen.wide.column
                                .quote-container.hidden
                                    p#current-quote "I need you to help me post bail. The police say it's $8,000. Can you send it right away?"
                                    .droppable-area
                                        .ui.segment.droppable-activity2#drop-text Drop Here
                    .step3-activity2.hidden
                        .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                            i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                            .content
                                p#narrate-2-intro-video
                                    span Click the "Next" button below to move on to the next part of the conversation.
script.
  document.addEventListener('DOMContentLoaded', function () {
    const selectedValues2 = new Set();
    document.querySelectorAll('.step1-activity2 .ui.button').forEach(button => {
      button.addEventListener('click', function () {
        const value = this.getAttribute('data-value');
        if (selectedValues2.has(value)) {
          selectedValues2.delete(value);
          this.classList.remove('active');
        } else {
          selectedValues2.add(value);
          this.classList.add('active');
        }
      });
    });

    document.getElementById('submit-button2').addEventListener('click', function () {
      document.querySelector('.step1-activity2').classList.add('hidden');
      document.querySelector('.step2-activity2').classList.remove('hidden');
      document.querySelector('.quote-container').classList.remove('hidden');
    });

    const draggables = document.querySelectorAll('.draggable');
    const droppable = document.querySelector('.droppable-activity2');
    let draggedElement = null;

    const quotes = [
      { text: "1. \"I need you to help me post bail. The police say it's $8,000. Can you send it right away?\"", value: "create-urgent" },
      { text: "2. \"Can you send it right away? The police are only letting me call you for a little bit.\"", value: "pressure-fast" },
      { text: "3. \"Please don’t tell Mom and Dad about this, okay? I’ll be in big trouble if they find out.\"", value: "request-secrecy" },
      { text: "4. \"My lawyer is gonna call you to explain what you need to do next.\"", value: "introduce-lawyer" }
    ];
    let currentQuoteIndex = 0;

    function loadNextQuote() {
      if (currentQuoteIndex < quotes.length) {
        document.getElementById('current-quote').innerText = quotes[currentQuoteIndex].text;
        droppable.setAttribute('data-expected', quotes[currentQuoteIndex].value);
      } else {
        document.querySelector('.step2-activity2').classList.add('hidden');
        document.querySelector('.step3-activity2').classList.remove('hidden');
      }
    }

    draggables.forEach(draggable => {
      draggable.addEventListener('dragstart', function () {
        draggedElement = this;
        setTimeout(() => this.classList.add('hidden'), 0);
      });

      draggable.addEventListener('dragend', function () {
        setTimeout(() => this.classList.remove('hidden'), 0);
        draggedElement = null;
      });
    });

    droppable.addEventListener('dragover', function (e) {
      e.preventDefault();
    });

    droppable.addEventListener('dragenter', function (e) {
      e.preventDefault();
      this.classList.add('hovered');
    });

    droppable.addEventListener('dragleave', function () {
      this.classList.remove('hovered');
    });

    droppable.addEventListener('drop', function () {
      this.classList.remove('hovered');
      const draggedValue = draggedElement.getAttribute('data-value');
      const expectedValue = this.getAttribute('data-expected');
      const instructionText = document.getElementById('instruction-text');

      if (draggedValue === expectedValue) {
        draggedElement.remove();
        instructionText.classList.remove('red', 'green');
        instructionText.classList.add('green');
        instructionText.innerText = 'Correct!';
        currentQuoteIndex++;
        setTimeout(() => {
          instructionText.classList.remove('green');
          instructionText.innerText = 'Drag the tactic card used in the quote below to the drop area.';
          loadNextQuote();
        }, 1000);
      } else {
        instructionText.classList.remove('red', 'green');
        instructionText.classList.add('red');
        instructionText.innerText = 'Try again.';
        setTimeout(() => {
          instructionText.classList.remove('red');
          instructionText.innerText = 'Drag the tactic card used in the quote below to the drop area.';
          draggedElement.classList.remove('hidden');
        }, 1000);
      }
    });

    loadNextQuote();
  });