#general.hidden
    .ui.container#general-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-general With your personal information, a scammer could…
            .ui.bulleted.list 
                .item
                    span#narrate-3-general 
                        span fraudulently apply for loans and credit cards resulting in financial losses decreases in credit scores and future difficulty receiving loans
                .item 
                    span#narrate-4-general 
                        span withdraw your money from your bank accounts resulting in financial loss.
                .item#narrate-5-general  
                    span steal your tax refund.
                .item#narrate-6-general 
                    span steal your health care benefits.
                .item#narrate-7-general 
                    span commit crimes under your name or by using your email accounts.
                .item#narrate-8-general 
                    span hack your social media accounts.
                .item#narrate-9-general 
                    span commit other subsequent identity thefts like accessing personal information of your family members.
