#types.hidden
    .ui.container#types-read
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-types Types
            //- p There are several common types of identity theft including: Financial, Tax, and Medical. 
            .ui.icon.mini.message(style="padding: 5px; margin-top:-5px; margin-bottom: -10px; z-index: 99;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p#narrate-1-types
                        span Click the arrows to learn more.
            .ui.stackable.middle.aligned.grid#double-slider(style="margin-top: -20px;")
                .column.centered.six.wide.computer.only.ten.wide.tablet.only
                    #image-slider(style="margin: 0 auto;")
                        img(src='/images/financial-theft.svg' alt='Financial Identity Theft' style="margin: 0 auto; padding-top: 10px;")
                        img(src='/images/medical-theft.svg' alt='Medical Identity Theft')
                        img(src='/images/tax-theft.png' alt='Tax-Related Identity Theft' style="max-width: 18%; margin-left: 75px;")
                .column.ten.wide.computer.only.fifteen.wide.tablet.only
                    #steps-slider
                        //- Card 1
                        .ui.basic.card
                            .content
                                h2#narrate-2-types 
                                    span Financial Identity Theft 
                                p#narrate-3-types 
                                    span Thieves use your personal information to open or use an account without your permission. 
                                    a(href='https://bjs.ojp.gov/topics/crime/identity-theft' target='_blank')
                                        sup [1]
                                    span#narrate-4-types  
                                        span This may lead to:
                                .ui.bulleted.list
                                    .item#narrate-5-types 
                                        span Unexpected charges on statements or cards
                                    .item#narrate-6-types 
                                        span Unknown credit cards or loans in your name
                                    .item#narrate-7-types 
                                        span Surprise calls from debt collectors
                                    .item#narrate-8-types 
                                        span Denied credit or credit score drop
                                    .item#narrate-9-types 
                                        span Bounced checks with available funds
                                        a(href='https://www.aura.com/learn/signs-of-identity-theft#:~:text=Bounced%20checks%20(if%20you%20know%20you%20have%20available%20funds)&text=A%20bounced%20check%20could%20indicate,contact%20your%20bank%20right%20away.' target='_blank')
                                            sup [2]
                        //- Card 2 
                        .ui.basic.card
                            .content
                                h2#narrate-1-types-2  
                                    span Medical Identity Theft 
                                p#narrate-2-types-2  
                                    span Thieves use your personal information to submit fraudulent claims to Medicare or other health insurers without your authorization. 
                                    a(href='https://oig.hhs.gov/fraud/consumer-alerts/medical-identity-theft/' target='_blank')
                                        sup [3]
                                    span#narrate-3-types-2  
                                        span This may lead to:
                                .ui.bulleted.list
                                    .item#narrate-4-types-2
                                        span Bill for services or medications you didn't get
                                    .item#narrate-5-types-2
                                        span Report or call about a medical debt you don't owe
                                    .item#narrate-6-types-2
                                        span Notice saying you reached your benefit limit
                                    .item#narrate-7-types-2
                                        span Denied insurance coverage due to tampered medical records
                                        a(href='https://consumer.ftc.gov/articles/what-know-about-medical-identity-theft' target='_blank') 
                                            sup [4]
                        //- Card 3
                        .ui.basic.card
                            .content
                                h2#narrate-1-types-3
                                    span Tax Identity Theft 
                                p#narrate-2-types-3
                                    span Thieves use your personal information to file a fake tax return to get a refund that belongs to you. 
                                    a(href='https://www.irs.gov/newsroom/taxpayer-guide-to-identity-theft' target='_blank')
                                        sup [5]
                                    span#narrate-3-types-3
                                        span This may lead to:
                                .ui.bulleted.list
                                    .item#narrate-4-types-3 
                                        span Unrequested mail/email with new account details
                                    .item#narrate-5-types-3 
                                        span IRS records show income from an unknown employer
                                    .item#narrate-6-types-3 
                                        span IRS letter for an unfiled tax return
                                    .item#narrate-7-types-3 
                                        span IRS notice claiming unexpected tax or actions against you
                                    .item#narrate-8-types-3 
                                        span E-file issue due to duplicate Social Security number
                                        a(href='https://www.irs.gov/newsroom/taxpayer-guide-to-identity-theft' target='_blank')
                                            sup [6]
                i.source *Sources: 1. Bureau of Justice Statistics 
                    a(href='https://bjs.ojp.gov/topics/crime/identity-theft' target='_blank') 'Identity Theft and Financial Fraud' 
                    | 2. Aura 
                    a(href='https://www.aura.com/learn/signs-of-identity-theft#:~:text=Bounced%20checks%20(if%20you%20know%20you%20have%20available%20funds)&text=A%20bounced%20check%20could%20indicate,contact%20your%20bank%20right%20away.' target='_blank') '25 Warning Signs of Identity Theft' 
                    | 3. U.S. Department of Health and Human Services.  
                    a(href='https://oig.hhs.gov/fraud/consumer-alerts/medical-identity-theft/' target='_blank') 'Medical Identity Theft' 
                    | 4. Federal Trade Commision 
                    a(href='https://consumer.ftc.gov/articles/what-know-about-medical-identity-theft' target='_blank') 'What To Know About Medical Identity Theft' 
                    | 5. IRS 
                    a(href='https://www.irs.gov/newsroom/taxpayer-guide-to-identity-theft' target='_blank') 'Taxpayer guide to identity theft' 
                    | 6. IRS 
                    a(href='https://www.irs.gov/newsroom/taxpayer-guide-to-identity-theft' target='_blank') 'Taxpayer guide to identity theft' 



