#arrive.hidden
    .ui.container#arrive-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                //- .content
                //-     i.book.icon
                //-     | Reporting Tax Identity Theft
                //- br
                .into-container 
                    p I'm glad you're here, Agent #{user.name}. While you were brushing up on your detection skills, we've received some emails for you.
                    p Let me show you your email inbox and give you a quick tour.
                    <br>
                .avatar-container(style="text-align: center;")
                    img#dart_image1.ui.small.image(src=user.avatarImg style="text-align: center; display: block; margin: 0 auto;")
