#arrive.hidden
    .ui.container#arrive-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                //- .content
                //-     i.book.icon
                //-     | Reporting Tax Identity Theft
                //- br
                .into-container 
                    p Hi, Agent #{user.name}.
                    p Your friend Rachel is seeking your help. She recently met someone named Alex on Facebook, and she considers him to be her perfect match. However, she started to become suspicious about Alex and wants to share their conversations with you. Rachel would like to hear your opinion about Alex.
                    <br>
                .avatar-container(style="text-align: center;")
                    img#dart_image1.ui.small.image(src=user.avatarImg style="text-align: center; display: block; margin: 0 auto;")
