#conversation3.hidden
    .ui.container#raised-container
        .ui.grid
            .seven.wide.column
                .smartphone-practice
                    .content#practice3
                        .texter
                            i.user.circle.large.icon
                            span Alex 
                        //- .ios-time
                        //-     p
                        //-         | Today 
                        //-         span#current-time
                        .ios-chat-container
                            .chat
                                .mine.messages
                                    .message.last
                                        | I’m a retired teacher. Your job sounds amazing. How long have you been there?! 
                                .yours.messages
                                    .message.last
                                        | About two months. I love what I do for work, but it can get lonely sometimes. My wife died of cancer five years ago and I have a daughter who is studying abroad in London. I miss them a lot. 
                                .mine.messages
                                    .message.last
                                        | I know how you feel. I lost my husband two years ago and my two grown-up children live in different states.
                                .yours.messages
                                    .message.last
                                        | Well, I try to keep myself busy with work and hobbies to cope with the loneliness. I like to travel when I can, and I also love working out, cooking, and reading!  I wish I had someone to share my life with. What do you like to do for fun?
                                .mine.messages
                                    .message.last
                                        | I like to cook too! I also enjoy gardening and volunteering at my local animal shelter. I love working with animals. 
                                .yours.messages
                                    .message.last(style="margin-bottom: 10px;")
                                        | Wow, you like to cook too? That warms my heart, we seem to really have a lot of things in common. It's hard to meet people who share my hobbies and interests these days. Here’s my number: +34 xx-xxx-xxx. Please text me so that I can keep writing to you, let’s get to know each other better.

            .nine.wide.column
                h1.ui.header.large#learn-title
                    .content
                        | Occupation and Interests

                p Read through the conversation that occurs after Alex asks Rachel what she does for work. Then answer the question below:
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p Swipe up or down on the phone to scroll through all messages.

                b It seems Alex wants to talk to Rachel through text messaging rather than continuing the conversation on Facebook Messenger. Do you think Rachel should agree to this?
                br
                br
                button.ui.big.green.button(data-modal="yesModal2" style="margin-right: 30px; width: 200px;") Yes
                button.ui.big.red.button(data-modal="noModal2" style="width: 200px;") No



            //- .ten.wide.column#conversation-cards
            //-     .ui.raised.fluid.card
            //-         //- .content
            //-         //-     h4.ui.centered.header Switch Platforms
            //-         .content
            //-             .ios-chat-container
            //-                 .chat
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I was scrolling through my feed and came across pics of your dogs. Gotta admit, they're the most adorable creatures I've seen today, well, after you, of course! 
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Thank you!
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I'm so glad you replied to me! I also have a dog named Max. He’s my best friend.
            //-                     .yours.messages
            //-                         .message.last
            //-                             | So cute!
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Btw, what are your dogs’ names?
            //-                     .yours.messages
            //-                         .message.last
            //-                             | Fluffy and Mia
            //-                     .mine.messages
            //-                         .message.last
            //-                             | They seem very cute and cuddly. I noticed we are both from Los Angeles, I really miss living there. Right now, I'm in Spain because I work as an engineer on big projects around the world. What do you do for work?


            //- .six.wide.column
            //-     p(style="margin-top: 20px;") Here are signs that the two messages are scams:
            //-         .ui.bulleted.list
            //-             .item 
            //-                 | Claim there’s a problem with your account or your payment information without specific information.
            //-             .item 
            //-                 | Induce a sense of threat or urgency and compels you to click on the provided link.
            //-             .item
            //-                 | Fail to demonstrate official sources.
            //-     .callout
            //-         .dark-blue-square
            //-             img(src=user.avatarImg, alt='avatar picture')
            //-         .light-blue-content
            //-             h3.call-header Important
            //-             p Beware of urgent requests for personal information. Legitimate companies don't ask for it this way.
