#conversation6.hidden
    .ui.container#raised-container
        .ui.grid
            .seven.wide.column
                .smartphone-practice
                    .content#practice6
                        .texter
                            i.user.circle.large.icon
                            span Alex 
                        //- .ios-time
                        //-     p
                        //-         | Today 
                        //-         span#current-time
                        .ios-chat-container
                            .chat
                                .yours.messages
                                    .message.last
                                        | Rachel, my love, I’m in big trouble. My project is a disaster. There was an accident at the site and some of the workers got injured. The local authorities are blaming me and they have seized my passport and my money. They are asking for a huge bribe to let me go. I don’t know what to do and I’m really scared. 
                                .mine.messages
                                    .message.last
                                        | That’s terrible! I’m so sorry. How much do they want? 
                                .yours.messages(style="margin-bottom: 25px;")
                                    .message.last
                                        | They want $1,000. I don’t have that kind of money. I need your help, my love. Can you please send me some money? I promise I will pay you back as soon as I get out of here. Please, my love. You are my only hope. 
            .nine.wide.column
                h1.ui.header.large#learn-title
                    .content
                        //- i.phone.volume.icon
                        //- i.user.friends.icon
                        | Business Trip Trouble

                //- p After Alex leaves for Nigeria, he sends Rachel a message saying he is in trouble and needs her help.
                //- p Rachel told you that she and Alex had a great conversion that day, and they began to talk everyday since then. Rachel told you that she was the happiest she's ever been during the first two weeks of talking with Alex.
                //- p For the last month, Alex texted her morning and night, showing a lot of care in different ways. For example, Alex checked Rachel’s local weather and reminded her to take an umbrella. Rachel emphasized that she has never felt this loved, understood, and respected. She feels like they are a perfect match for each other.
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p Swipe up or down on the phone to scroll through all messages.
                p  Alex asked for money, and Rachel is considering sending money to him, saying: "$1,000 is a lot of money, but I love him and I trust him, so I want to help him!""
                strong Should Rachel send money to Alex?
                br
                button.ui.big.green.button(data-modal="yesModal5" style="text-align: left; margin-right: 30px; width: 100%; padding-left: 10px; padding-right: 10px; margin-bottom: 10px") Yes, you should help him since he really needs your help and you care for him!

                button.ui.big.red.button(data-modal="noModal5" style="text-align: left; width: 100%; padding-left: 10px; padding-right: 10px; margin-bottom: 10px") No, Alex must be a romance scammer! He hasn’t seen you in person, and now he wants money from you, report him! 

                button.ui.big.orange.button(data-modal="maybeModal5" style="text-align: left; width: 100%; padding-left: 10px; padding-right: 10px;") I understand you're worried, but don't give him money. You've never met him, and scammers often tell fake sob stories to get money. They might claim to be in trouble and need money urgently. Please stay calm. If you can't stop talking to him, let's wait and see how he acts.



            //- .ten.wide.column#conversation-cards
            //-     .ui.raised.fluid.card
            //-         //- .content
            //-         //-     h4.ui.centered.header Switch Platforms
            //-         .content
            //-             .ios-chat-container
            //-                 .chat
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I was scrolling through my feed and came across pics of your dogs. Gotta admit, they're the most adorable creatures I've seen today, well, after you, of course! 
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Thank you!
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I'm so glad you replied to me! I also have a dog named Max. He’s my best friend.
            //-                     .yours.messages
            //-                         .message.last
            //-                             | So cute!
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Btw, what are your dogs’ names?
            //-                     .yours.messages
            //-                         .message.last
            //-                             | Fluffy and Mia
            //-                     .mine.messages
            //-                         .message.last
            //-                             | They seem very cute and cuddly. I noticed we are both from Los Angeles, I really miss living there. Right now, I'm in Spain because I work as an engineer on big projects around the world. What do you do for work?


            //- .six.wide.column
            //-     p(style="margin-top: 20px;") Here are signs that the two messages are scams:
            //-         .ui.bulleted.list
            //-             .item 
            //-                 | Claim there’s a problem with your account or your payment information without specific information.
            //-             .item 
            //-                 | Induce a sense of threat or urgency and compels you to click on the provided link.
            //-             .item
            //-                 | Fail to demonstrate official sources.
            //-     .callout
            //-         .dark-blue-square
            //-             img(src=user.avatarImg, alt='avatar picture')
            //-         .light-blue-content
            //-             h3.call-header Important
            //-             p Beware of urgent requests for personal information. Legitimate companies don't ask for it this way.
