#conversation4.hidden
    .ui.container#raised-container
        .ui.grid
            .seven.wide.column
                .smartphone-practice
                    .content#practice4
                        .texter
                            i.user.circle.large.icon
                            span Alex 
                        //- .ios-time
                        //-     p
                        //-         | Today 
                        //-         span#current-time
                        .ios-chat-container
                            .chat
                                .yours.messages
                                    .message.last
                                        | Hi, here is another picture of my dog Max.
                                    img.ui.small.image(src=`${public_resources}/images/modules/romance/alex_dog2.png`, alt="Max the dog" style="border-radius: 10px; margin-top: 40px; margin-left: 30px; margin-bottom: -15px;")
                                .mine.messages
                                    .message.last
                                        | Aww, he looks very happy and playful. 
                                .yours.messages
                                    .message.last
                                        | He is. He always makes me smile. And…your lovely face makes me smile too. 
                                .mine.messages
                                    .message.last
                                        | Thanks, you are very handsome and I love your beard. 
                                .yours.messages
                                    .message.last
                                        |  You are very sweet! I feel a connection with you. Can I call you? 
                                .mine.messages
                                    .message.last
                                        | Sure, I would love to hear your voice. 
                                .yours.messages
                                    .message.last
                                        |  How about now? Is it a good time for you?
                                .mine.messages
                                    .message.last(style="width: 250px;")
                                        | Yes, I am free right now.
                                .yours.messages
                                    .message.last(style="margin-bottom: 10px;")
                                        |  Great, I will call you in a minute!
            .nine.wide.column
                h1.ui.header.large#learn-title
                    .content
                        //- i.phone.volume.icon
                        //- i.user.friends.icon
                        | Building a Connection

                //- p Read through the conversation that continues between your friend Rachel and Alex. Then answer the question below:
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p Swipe up or down on the phone to scroll through all messages.

                p Rachel told you that she and Alex had a great conversion that day, and they began to talk everyday since then. Rachel told you that she was the happiest she's ever been during the first two weeks of talking with Alex.
                //- p For the last month, Alex texted her morning and night, showing a lot of care in different ways. For example, Alex checked Rachel’s local weather and reminded her to take an umbrella. Rachel emphasized that she has never felt this loved, understood, and respected. She feels like they are a perfect match for each other.
                strong After hearing Rachel’s feelings and details about the situation, what are your thoughts?
 

                br
                br
                button.ui.big.green.button(data-modal="yesModal3" style="margin-right: 30px; width: 200px; padding-left: 0px; padding-right: 0px;") I am happy for her and will encourage her to pursue love without hesitation.
                button.ui.big.red.button(data-modal="noModal3" style="width: 200px; padding-left: 0px; padding-right: 0px;") I am happy for her but will urge caution. Is a perfect match realistic?

            //- .ten.wide.column#conversation-cards
            //-     .ui.raised.fluid.card
            //-         //- .content
            //-         //-     h4.ui.centered.header Switch Platforms
            //-         .content
            //-             .ios-chat-container
            //-                 .chat
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I was scrolling through my feed and came across pics of your dogs. Gotta admit, they're the most adorable creatures I've seen today, well, after you, of course! 
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Thank you!
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I'm so glad you replied to me! I also have a dog named Max. He’s my best friend.
            //-                     .yours.messages
            //-                         .message.last
            //-                             | So cute!
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Btw, what are your dogs’ names?
            //-                     .yours.messages
            //-                         .message.last
            //-                             | Fluffy and Mia
            //-                     .mine.messages
            //-                         .message.last
            //-                             | They seem very cute and cuddly. I noticed we are both from Los Angeles, I really miss living there. Right now, I'm in Spain because I work as an engineer on big projects around the world. What do you do for work?


            //- .six.wide.column
            //-     p(style="margin-top: 20px;") Here are signs that the two messages are scams:
            //-         .ui.bulleted.list
            //-             .item 
            //-                 | Claim there’s a problem with your account or your payment information without specific information.
            //-             .item 
            //-                 | Induce a sense of threat or urgency and compels you to click on the provided link.
            //-             .item
            //-                 | Fail to demonstrate official sources.
            //-     .callout
            //-         .dark-blue-square
            //-             img(src=user.avatarImg, alt='avatar picture')
            //-         .light-blue-content
            //-             h3.call-header Important
            //-             p Beware of urgent requests for personal information. Legitimate companies don't ask for it this way.
