#conversation7.hidden
    .ui.container#raised-container
        .ui.grid
            .seven.wide.column
                .smartphone-practice
                    .content#practice7
                        .texter
                            i.user.circle.large.icon
                            span Alex 
                        .ios-time
                            p
                                | Yesterday 
                                span#current-time
                        .ios-chat-container
                            .chat
                                //- .yours.messages
                                //-     .message.last
                                //-         | Because I am the main manager of this project. I didn't want to worry you, babe. I thought I could handle it on my own. But I can't. I need you. Please, Rachel. Don't let this ruin our chances of happiness. Just trust me.
                                .mine.messages
                                    .message.last
                                        | How can I give you the money?
                                .yours.messages
                                    .message.last
                                        | Thank you, my love. I can’t thank you enough. You are an angel and my hero. You can send me the money through Western Union. It’s fast and easy. I will text you the information you need. Please, my love. Send me the money as soon as possible. And send me the confirmation number and the amount you sent. Love you.
                                .mine.messages
                                    .message.last
                                        | OK, my love. I will do it. I hope this will resolve everything. Love you too.
                                .yours.messages(style="margin-bottom: 20px;")
                                    .message.last
                                        | Thank you, I got it! Rachel, you are the best thing that ever happened to me. What would I do without you in my life? You are my soulmate.
                                .ios-time(style="margin-bottom: -20px;")
                                    p
                                        | Today 
                                .yours.messages(style="margin-bottom: 20px;")
                                    .message.last
                                        | Hello, my love. Thank you again! You’re amazing and my lifesaver. I love you. But, there is a problem. The authorities are not satisfied and they want more money, saying the bribe was not enough. They need another $5,000 to let me go. My love, please help me again. I’m begging you. I need you. I love you. 



            .nine.wide.column
                h1.ui.header.large#learn-title
                    .content
                        //- i.phone.volume.icon
                        //- i.user.friends.icon
                        | Money Sent 
                p Rachel decided to give the money to him. She believed him and wanted to keep him in her life. However, now Alex is asking for more money. Rachel wants you to help her decide if Alex is a romance scammer. Review her recent messages with Alex.
                //- p Rachel told you that she and Alex had a great conversion that day, and they began to talk everyday since then. Rachel told you that she was the happiest she's ever been during the first two weeks of talking with Alex.
                //- p For the last month, Alex texted her morning and night, showing a lot of care in different ways. For example, Alex checked Rachel’s local weather and reminded her to take an umbrella. Rachel emphasized that she has never felt this loved, understood, and respected. She feels like they are a perfect match for each other.
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p Swipe up or down on the phone to scroll through all messages.
                strong Do you think Alex is a romance scammer?
                br
                br
                button.ui.big.green.button(data-modal="yesModal6" style="margin-right: 30px; width: 200px;") Yes
                button.ui.big.red.button(data-modal="noModal6" style="width: 200px;") No


            //- .ten.wide.column#conversation-cards
            //-     .ui.raised.fluid.card
            //-         //- .content
            //-         //-     h4.ui.centered.header Switch Platforms
            //-         .content
            //-             .ios-chat-container
            //-                 .chat
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I was scrolling through my feed and came across pics of your dogs. Gotta admit, they're the most adorable creatures I've seen today, well, after you, of course! 
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Thank you!
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I'm so glad you replied to me! I also have a dog named Max. He’s my best friend.
            //-                     .yours.messages
            //-                         .message.last
            //-                             | So cute!
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Btw, what are your dogs’ names?
            //-                     .yours.messages
            //-                         .message.last
            //-                             | Fluffy and Mia
            //-                     .mine.messages
            //-                         .message.last
            //-                             | They seem very cute and cuddly. I noticed we are both from Los Angeles, I really miss living there. Right now, I'm in Spain because I work as an engineer on big projects around the world. What do you do for work?


            //- .six.wide.column
            //-     p(style="margin-top: 20px;") Here are signs that the two messages are scams:
            //-         .ui.bulleted.list
            //-             .item 
            //-                 | Claim there’s a problem with your account or your payment information without specific information.
            //-             .item 
            //-                 | Induce a sense of threat or urgency and compels you to click on the provided link.
            //-             .item
            //-                 | Fail to demonstrate official sources.
            //-     .callout
            //-         .dark-blue-square
            //-             img(src=user.avatarImg, alt='avatar picture')
            //-         .light-blue-content
            //-             h3.call-header Important
            //-             p Beware of urgent requests for personal information. Legitimate companies don't ask for it this way.
