#conversation5.hidden
    .ui.container#raised-container
        .ui.grid
            .seven.wide.column
                .smartphone-practice
                    .content#practice5
                        .texter
                            i.user.circle.large.icon
                            span Alex 
                        //- .ios-time
                        //-     p
                        //-         | Today 
                        //-         span#current-time
                        .ios-chat-container
                            .chat
                                .yours.messages
                                    .message.last
                                        | Rachel, I want to be with you. I want to hold you in my arms and kiss you.
                                .mine.messages
                                    .message.last
                                        | Me too. I really want to see you in person. When can we meet?
                                .yours.messages
                                    .message.last
                                        | I want to meet you as soon as possible. But unfortunately, I have to go to Nigeria for another big project. It’s very important for my company and career. I’m leaving tomorrow for a week. 
                                .mine.messages
                                    .message.last
                                        | Oh, no. That’s too bad. I will miss you so much. 
                                .yours.messages
                                    .message.last
                                        | I will miss you too. But don’t worry. I will call you every day and text you all the time. And when I come back, I will fly to you and we will be together. 
                                .mine.messages(style="margin-bottom: 20px;")
                                    .message.last
                                        | That sounds wonderful. I can’t wait to see you!
            .nine.wide.column
                h1.ui.header.large#learn-title
                    .content
                        //- i.phone.volume.icon
                        //- i.user.friends.icon
                        | Possibility to Meet

                p A week later their conversation begins to get more serious.
                //- p Rachel told you that she and Alex had a great conversion that day, and they began to talk everyday since then. Rachel told you that she was the happiest she's ever been during the first two weeks of talking with Alex.
                //- p For the last month, Alex texted her morning and night, showing a lot of care in different ways. For example, Alex checked Rachel’s local weather and reminded her to take an umbrella. Rachel emphasized that she has never felt this loved, understood, and respected. She feels like they are a perfect match for each other.
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p Swipe up or down on the phone to scroll through all messages.
                strong After reviewing this conversation, what are your thoughts?
                br
                br
                button.ui.big.green.button(data-modal="yesModal5" style="text-align: left; margin-right: 30px; width: 100%; padding-left: 10px; padding-right: 10px; margin-bottom: 10px") It seems like Alex is very busy, so Rachel may need to be more understanding and thoughtful toward him.
                button.ui.big.red.button(data-modal="noModal5" style="text-align: left; width: 100%; padding-left: 10px; padding-right: 10px;") Their relationship seems to have developed very well. However, I am still concerned that they have been together for more than a month but have never met each other in person. It feels like Alex is avoiding meeting in person.


            //- .ten.wide.column#conversation-cards
            //-     .ui.raised.fluid.card
            //-         //- .content
            //-         //-     h4.ui.centered.header Switch Platforms
            //-         .content
            //-             .ios-chat-container
            //-                 .chat
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I was scrolling through my feed and came across pics of your dogs. Gotta admit, they're the most adorable creatures I've seen today, well, after you, of course! 
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Thank you!
            //-                     .yours.messages
            //-                         .message.last
            //-                             | I'm so glad you replied to me! I also have a dog named Max. He’s my best friend.
            //-                     .yours.messages
            //-                         .message.last
            //-                             | So cute!
            //-                     .mine.messages
            //-                         .message.last
            //-                             | Btw, what are your dogs’ names?
            //-                     .yours.messages
            //-                         .message.last
            //-                             | Fluffy and Mia
            //-                     .mine.messages
            //-                         .message.last
            //-                             | They seem very cute and cuddly. I noticed we are both from Los Angeles, I really miss living there. Right now, I'm in Spain because I work as an engineer on big projects around the world. What do you do for work?


            //- .six.wide.column
            //-     p(style="margin-top: 20px;") Here are signs that the two messages are scams:
            //-         .ui.bulleted.list
            //-             .item 
            //-                 | Claim there’s a problem with your account or your payment information without specific information.
            //-             .item 
            //-                 | Induce a sense of threat or urgency and compels you to click on the provided link.
            //-             .item
            //-                 | Fail to demonstrate official sources.
            //-     .callout
            //-         .dark-blue-square
            //-             img(src=user.avatarImg, alt='avatar picture')
            //-         .light-blue-content
            //-             h3.call-header Important
            //-             p Beware of urgent requests for personal information. Legitimate companies don't ask for it this way.
