.extra.content
  .ui.fluid.left.labeled.right.icon.input
    .ui.label
      if user.profile.picture
        img.ui.avatar.image.small(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name || user.username || user.id)
      else
        img.ui.avatar.image.small(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
    .ui.form
      .field 
        textarea.newcomment(type='text', placeholder='Write a Comment' rows='1')
    i.big.send.link.icon