#activity.hidden
    .ui.container#activity-read
        .limit#learn-target
            br
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Activity
            .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Select thumbs up if you should do it and select thumbs down if you shouldn’t do it.

            .ui.vertical.basic.segments
                .ui.vertical.segment
                    .ui.grid
                        .seven.wide.mobile.four.wide.tablet.three.wide.computer.middle.aligned.column
                            .ui.circular.big.basic.icon.button.green-button
                                i.icon.thumbs.up
                            .ui.circular.big.basic.icon.button.red-button(data-content="Try again")
                                i.icon.thumbs.down
                        .nine.wide.mobile.twelve.wide.tablet.thirteen.wide.computer.middle.aligned.column
                            p Review your credit card and bank account statements regularly.
                .ui.vertical.segment
                    .ui.grid
                        .seven.wide.mobile.four.wide.tablet.three.wide.computer.middle.aligned.column
                            .ui.circular.big.basic.icon.button.green-button
                                i.icon.thumbs.up
                            .ui.circular.big.basic.icon.button.red-button(data-content="Try again")
                                i.icon.thumbs.down
                        .nine.wide.mobile.twelve.wide.tablet.thirteen.wide.computer.middle.aligned.column
                            p Collect your mail every day and place a hold on it when away for several days.
                .ui.vertical.segment
                    .ui.grid
                        .seven.wide.mobile.four.wide.tablet.three.wide.computer.middle.aligned.column
                            .ui.circular.big.basic.icon.button.red-button(data-content="Try again")
                                i.icon.thumbs.up
                            .ui.circular.big.basic.icon.button.green-button
                                i.icon.thumbs.down
                        .nine.wide.mobile.twelve.wide.tablet.thirteen.wide.computer.middle.aligned.column
                                p Share personal information on social media.
                .ui.vertical.segment
                    .ui.grid
                        .seven.wide.mobile.four.wide.tablet.three.wide.computer.middle.aligned.column
                            .ui.circular.big.basic.icon.button.green-button
                                i.icon.thumbs.up
                            .ui.circular.big.basic.icon.button.red-button(data-content="Try again")
                                i.icon.thumbs.down
                        .nine.wide.mobile.twelve.wide.tablet.thirteen.wide.computer.middle.aligned.column
                            p Shred old documents, receipts, credit offers, account statements, and expired credit cards, and blackout sensitive information.
                .ui.vertical.segment
                    .ui.grid
                        .seven.wide.mobile.four.wide.tablet.three.wide.computer.middle.aligned.column
                            .ui.circular.big.basic.icon.button.green-button
                                i.icon.thumbs.up
                            .ui.circular.big.basic.icon.button.red-button(data-content="Try again")
                                i.icon.thumbs.down
                        .nine.wide.mobile.twelve.wide.tablet.thirteen.wide.computer.middle.aligned.column
                            p Set up two-factor authentication on any account that allows it.
                .ui.vertical.segment
                    .ui.grid
                        .seven.wide.mobile.four.wide.tablet.three.wide.computer.middle.aligned.column
                            .ui.circular.big.basic.icon.button.red-button(data-content="Try again")
                                i.icon.thumbs.up
                            .ui.circular.big.basic.icon.button.green-button
                                i.icon.thumbs.down
                        .nine.wide.mobile.twelve.wide.tablet.thirteen.wide.computer.middle.aligned.column
                                p Carry your social security card in your wallet.
                .ui.vertical.segment
                    .ui.grid
                        .seven.wide.mobile.four.wide.tablet.three.wide.computer.middle.aligned.column
                            .ui.circular.big.basic.icon.button.green-button
                                i.icon.thumbs.up
                            .ui.circular.big.basic.icon.button.red-button(data-content="Try again")
                                i.icon.thumbs.down
                        .nine.wide.mobile.twelve.wide.tablet.thirteen.wide.computer.middle.aligned.column
                            p Create passwords with over 8 characters; avoid using your birthday or pet names.
