#common-measures.hidden
    .ui.container#raised-container.center-layout
        .limit
            #common-measures-read
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Common Measures
                .ui.bulleted.list 
                    .item Stay cautious at all times as the sender might be a scammer
                    .item Get to know the techniques scammers use as presented in Chapter 2
                    .item When in doubt, don't hesitate to consult your family, friends, or those familiar with identity theft
                    .item Be prepared to report scams to the authorities.
                .callout
                    .dark-blue-square
                        img(src=user.avatarImg, alt='avatar picture')
                    .light-blue-content
                        h3.call-header Important
                        p(style="font-size: 1.25rem;") If you suspect theft, take immediate action to minimize the damage.
