#preventative-donts.hidden
    .ui.container#raised-container.center-layout
        .limit
            #preventative-donts-read
                h1.ui.header.large#learn-title
                    .content
                        i.video.icon
                        | When you have your identity stolen
                .dontsContainer
                    .ui.large.red.fluid.label
                        i.thumbs.down.icon 
                        | Don'ts
                .ui.bulleted.list 
                    .item Don’t share any  personal information over the internet and on public computers unless you are sure it’s safe or you initiated the contact 
                    .item Don’t give out usernames and passwords
                    .item Don’t click on anything in an unsolicited email or text
                    .item Don’t call a number left on your voicemail by a robocaller or listed in a suspicious email or text 
                    .item Don’t download anything you don’t know is safe
                    .item Don’t use websites that start with “http://” instead of “https://” 

