#preventative-dos.hidden
    .ui.container#raised-container.center-layout
        .limit
            #preventative-dos-read
                h1.ui.header.large#learn-title
                    .content
                        i.video.icon
                        | Preventative measures
            .dosContainer(style="margin-top: 10px;")
                .ui.large.blue.fluid.label
                    i.thumbs.up.icon 
                    | Do's
                .ui.bulleted.list 
                    .item Always ask yourself “Do I have an account with the company or know the person who is contacting me?” before giving out personal information.
                    .item Look up the company’s phone number and call the company to ask if any request is legitimate and safe.
                    .item Carefully examine spellings in email addresses and URLs to check if there are any minor typos because scammers may try to pose as a legitimate company.
                    .item Check whether the website has secure symbols, like a padlock or key symbol on your status bar.
                img.ui.centered.fluid.image(src='/images/sub3learn3.png' style="width: 600px;" alt="A padlock is a symbol of a secure website")
                p(style="line-height: 0.75rem; font-size: 1.2rem; text-align: center; font-style: italic;") A website with a padlock is considered secure as it uses encryption to protect your data.
