#reflection.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.middle.aligned.grid
                .column.eleven.wide.computer.only.sixteen.wide.tablet.only
                    h1.ui.header.large#learn-title
                        .content
                            i.lightbulb.icon
                            | Reflect

                    p Take a moment to think about the following:
                .column.five.wide.computer.only.sixteen.wide.tablet.only
                    img.ui.image(src='/images/reflection.svg')
