#takeaways.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.middle.aligned.grid
                .column.eleven.wide.computer.only.sixteen.wide.tablet.only
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Congratulations

                    p You now know:
                    .ui.bulleted.list
                        .item(style="line-height: 1rem;")
                            | The basics of identity theft
                        .item(style="line-height: 1rem;")
                            | What information scammers are after
                        .item(style="line-height: 1rem;")
                            | Online identity management
                    p This knowledge will help you keep yourself and others safe from identity theft.
                .column.center.aligned.middle.aligned.five.wide.computer.only.sixteen.wide.tablet.only
                    img(onmouseenter="animateBadge()" src='/badges/identity/foundation_acheivers.png' width="50%")
                    p <strong>Foundation Acheivers</strong>
