#family.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Inaccurate Family Details
            .ui.centered.stackable.grid
                .ten.wide.column
                    p Scammers may know the name of your family member, such as your grandchild, but they likely lack specific details about them or other relatives. 

                    p Therefore, be alert if they say something inaccurate about your family members. It is a big red flag! They may try to excuse the mistake by claiming they misremembered or misspoke.
                        span 
                            b Hang up immediately, then make separate phone calls to other family members to verify the information.


                .six.wide.column
                    div.ui.header
                        i.phone.volume.icon
                        | Example
                    //- a(href='https://dart-store.s3.amazonaws.com/grandparent-audio/randy.mp3' target='_blank') Listen to the audio example
                    .text-only-audio
                        ul
                            li.speaker2 Scammer: Hi grandma, it’s Alex
                            li.speaker1 Grandparent: Oh, Alex. How are you doing?
                            li.speaker2 Scammer: I’m travelling with my sister.
                            li.speaker1 Grandparent: Your sister? Who?
                            li.speaker2 Scammer: Oh, no, I mean my friend.
