#fear.hidden
    .ui.container(style="width: 75%;")
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Urgent Scenarios
            .ui.centered.stackable.grid
                .eight.wide.column
                    p  Grandparent scammers often create a false sense of urgency to manipulate grandparents' emotions, making them feel extremely worried and compelled to take immediate action.

                    .ui.bulleted.list
                        .item 
                            p They'll try to make it 
                                b sound extremely frightening and urgent.
                        .item 
                            p The scammer may 
                                b act very upset, cry, and beg for help.


                    p If a phone call instills an acute feeling of fear or urgency, it could be a warning sign of grandparent scams.
                    em Hang up immediately, then make separate phone calls to other family members to verify the information.


                .eight.wide.column
                    div.ui.header
                        i.phone.volume.icon
                        | Audio Example
                    .audio-player
                        .wrap
                            audio#audio.with-transcript(controls)
                                source(src="https://dart-store.s3.amazonaws.com/grandparent-audio/fear.mp3" type="audio/mpeg")
                                | Your browser does not support the audio element.
                            ul#transcript(data-audio-file="https://dart-store.s3.amazonaws.com/grandparent-audio/fear.mp3")
                                li.speaker1.current(data-timecode="00:00") Grandparent: Hello
                                li.speaker2(data-timecode="00:01") Scammer: Hello?
                                li.speaker1(data-timecode="00:02") Grandparent: Yeah?
                                li.speaker2(data-timecode="00:03") Scammer: Yes, is this Mrs. Smith?
                                li.speaker1(data-timecode="00:04") Grandparent: It is
                                li.speaker2(data-timecode="00:05") Scammer: I am David Pelzer, I am calling on behalf of the Legal Aid Society. I am the attorney that is assigned to your relative’s case
                                li.speaker1(data-timecode="00:12") Grandparent: Okay
                                li.speaker2(data-timecode="00:13") Scammer: Pretty much as Jimmy informed you, he was involved in a car accident. He has a fractured nose.
                                li.speaker1(data-timecode="00:18") Grandparent: He told me he was okay
                                li.speaker2(data-timecode="00:20") Scammer: Yeah he is, I mean he has a fractured nose. The lady in the other vehicle got injured, and she was released from the hospital which is obviously good news. Now, when the authorities arrive on an accident scene, they perform what is called a breathalyzer test, that he failed. Jimmy had an alcohol content of .10. The legal limit is .08.
                                li.speaker1(data-timecode="00:38") Grandparent: He was drinking and driving?
                                li.speaker2(data-timecode="00:39") Scammer: Yes. But I spoke to the judge handling the matter. Because Jimmy has a clean record, if we are able to post his bond, the judge will dismiss his reckless endangerment charge.