#fear.hidden
    .ui.container(style="width: 90%;")
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 5:  A Fear Inducing and Urgent Scenario
            .ui.centered.stackable.grid
                .eight.wide.column
                    p  Grandparent scammers often create a false sense of urgency to manipulate grandparents' emotions, making them feel extremely worried and compelled to take immediate action.

                    .ui.bulleted.list
                        .item 
                            p They'll try to make it sound extremely frightening and urgent. 
                        .item 
                            p The scammer may act very upset, cry, and beg for help.


                    p If a phone call instills an acute feeling of fear or urgency, it could be a warning sign of grandparent scams.

                .eight.wide.column
                    h3 Audio Example
                    p Grandparent: Hello
                    p Scammer (accented speech, male speech): Hello?
                    p Grandparent: Yeah?
                    p Scammer: Yes, is this Mrs. Smith?
                    p Grandparent: Yes it is
                    p Scammer: I am David Pelzer, I am calling on behalf of the Legal Aid Society. I am the attorney that is assigned to your relative’s case
                    p Grandparent: Okay
                    p Scammer: Pretty much as Jimmy informed you, he was involved in a car accident. He has a fractured nose.
                    p Grandparent: He told me he was okay
                    p Scammer: Yeah he is, I mean he has a fractured nose. The lady in the other vehicle got injured, and she was released from the hospital which is obviously good news. Now, when the authorities arrive on an accident scene, they perform what is called a breathalyzer test, that he failed. Jimmy had an alcohol content of .10. The legal limit is .08.
                    p Grandparent: He was drinking and driving?
                    p Scammer: Yes, I spoke to the judge handling the matter behind chambers because when I did the interview I did a background check and noticed that Jimmy has a clean record. If we are able to post his bond, the judge will dismiss his reckless endangerment charge
