#secrecy2.hidden
    .ui.container(style="width: 70%;")
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    span#narrate-title-secrecy2 Demand for Secrecy - Avoid Criminal Record Excuse
            .ui.centered.stackable.grid
                .ten.wide.column
                    .ui.bulleted.list
                        .item 
                            strong#narrate-1-secrecy2 
                                span Excuse 2:
                            span#narrate-2-secrecy2 
                                span To avoid having a criminal record, the “lawyer” may advise you not to disclose this information to anyone, especially the bank representative. 
                            span#narrate-3-secrecy2 
                                span They emphasize that it's important to keep this confidential.
                    //- p <strong> Excuse 2: To avoid having a criminal record, </strong> the “lawyer” may advise you not to disclose this information to anyone, especially the bank representative. They emphasize that it's important to keep this confidential.

                    .callout
                        .dark-blue-square
                            img(src=user.avatarImg, alt='avatar picture')
                        .light-blue-content
                            h3.call-header#narrate-4-secrecy2  
                                span Important
                            p 
                                span#narrate-5-secrecy2 
                                    span This is a very cunning scheme. 
                                span#narrate-6-secrecy2 
                                    span The scammers are aware that banks and money transfer services ask about the purpose when someone wants to withdraw or transfer a large amount of money. 
                                span#narrate-7-secrecy2 
                                    span They take advantage of grandparents' worries that their grandchild may get a criminal record. 
                                span#narrate-8-secrecy2 
                                    span By playing on this fear, the scammers persuade the grandparents not to reveal the real reason for the money transaction. So, DO NOT BELIEVE THEM!

                .six.wide.column
                    div.ui.header
                        i.phone.volume.icon
                        | Example
                    //- a(href='https://dart-store.s3.amazonaws.com/grandparent-audio/randy.mp3' target='_blank') Listen to the audio example
                    .text-only-audio
                        ul
                            li.speaker1 Scammer: At Walmart, they have the right to ask why you are doing the money transfer. If you tell them that you are sending money to pay a bond or any legal fee, they have the right to put Jimmy’s arrest into the public record. My advice is to keep the transfer reason private. Just tell them that it is a gift or even a birthday present.