extends ../../module_player_layout


block content
    //- button.ui.icon.button.m.left.right#volume-up-button
    //-     i.volume.up.icon

    .display-page 
        include concepts/objectives.pug
        include concepts/intro-video.pug
        include concepts/definitions.pug


block styles 
    link(rel='stylesheet', href='/css/learning-targets.css')
    link(rel='stylesheet', href='/css/middle-aligned-layout.css')

block scripts        
    script(src='/js/text2speech.js')  
    script(src='/module_js/identity/villain-reveal.js')
    script(src='/module_js/identity/identity-theft.js')    
    script. 
        var module = "#{module}";
        var section = "#{section}";
        var page = "#{page}"; 
        var total = parseInt(#{numPages});
        //- var progress;

        //- if (page === 'objectives') {
        //-     progress = (1 / total) * 100;
        //- } else if (page === 'intro-video') {
        //-     progress = (2 / total) * 100;
        //- } else if (page === 'definitions') {
        //-     progress = (3 / total) * 100;
        //- }

        //- $('#progress-bar').attr('value', progress);
