extends ../../ui_layout


block content
    .ui.container
        .limit
            h1.ui.header.large#learn-title
                .content 
                    i.book.icon
                    | References
            br             
            i.source [1] *Sources: 1. USA Gov
                a(href='https://www.usa.gov/identity-theft' target='_blank')  'Identity Theft'             
            br
            i.source [2] *Sources: 1. National Institute of Standards and Technology 
                a(href='https://csrc.nist.gov/glossary/term/personal_information' target='_blank') 'Personal Information' 
            br 
            i.source [3] University of Pittsburgh 
                a(href='https://www.technology.pitt.edu/help-desk/how-to-documents/guide-identifying-personally-identifiable-information-pii' target='_blank') 'Guide to Identifying Personally Identifiable Information (PII)' 
            br
            i.source [4] Bureau of Justice Statistics 
                a(href='https://bjs.ojp.gov/topics/crime/identity-theft' target='_blank') 'Identity Theft and Financial Fraud' 
            br
            i.source [5] Aura
                a(href='https://www.aura.com/learn/signs-of-identity-theft#:~:text=Bounced%20checks%20(if%20you%20know%20you%20have%20available%20funds)&text=A%20bounced%20check%20could%20indicate,contact%20your%20bank%20right%20away.' target='_blank') '25 Warning Signs of Identity Theft' 
            br  
            i.source [6] U.S. Department of Health and Human Services.
                a(href='https://oig.hhs.gov/fraud/consumer-alerts/medical-identity-theft/' target='_blank') 'Medical Identity Theft' 
            br 
            i.source [7] Federal Trade Commision
                a(href='https://consumer.ftc.gov/articles/what-know-about-medical-identity-theft' target='_blank') 'What To Know About Medical Identity Theft' 
            br
            i.source [8] IRS 
                a(href='https://www.irs.gov/newsroom/taxpayer-guide-to-identity-theft' target='_blank') 'Taxpayer guide to identity theft' 
            br
            i.source [9] Ken Paxton Attorney General of Texas
                a(href='https://www.texasattorneygeneral.gov/consumer-protection/identity-theft/help-prevent-identity-theft#:~:text=Store%20documents%20that%20have%20your,them%20for%20a%20specific%20reason' target='_blank') 'Help Pre­vent Iden­ti­ty Theft'
            br
            i.source [10] Federal Trade Commission Consumer Advice
                a(href='https://consumer.ftc.gov/articles/creating-strong-passwords-and-other-ways-protect-your-accounts' target='_blank') 'Creating Strong Passwords and Other Ways To Protect Your Accounts'
            br
            i.source [11] Michigan Consumer Protection 
                a(href='https://www.michigan.gov/consumerprotection/protect-yourself/consumer-alerts/id-theft-telemarketing/tax-related-id-theft' target='_blank') 'Tax-related ID Theft' 
            br
            i.source [12] Consumer Advice 
                a(href='https://consumer.ftc.gov/articles/how-recognize-and-avoid-phishing-scams' target='_blank') 'How to Recognize and Avoid Phishing Scams' 
            br
            i.source [13] Whitehouse.gov 
                a(href='https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2007/m07-16.pdf' target='_blank') 'Safeguarding Against and Responding to the Breach of Personally Identifiable Information' 
            br
            i.source [14] University of Pittsburgh 
                a(href='https://www.technology.pitt.edu/help-desk/how-to-documents/guide-identifying-personally-identifiable-information-pii' target='_blank') 'Guide to Identifying Personally Identifiable Information (PII)' 
            br
            i.source [15] U.S. Department of Justice 
                a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank') 'Identity Theft' 
            br
            i.source [16] AARP 
                a(href='https://www.aarp.org/money/scams-fraud/info-2019/social-security.html' target='_blank') 'Social Security Scams' 

            

           

