#fear.hidden
    .ui.container#know-you-read(style="width: 90%;")
        .top-info#examplePage(style="margin-top: 10px;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 5:  A Fear Inducing and Urgent Scenario
            .ui.centered.stackable.grid
                .eight.wide.column
                    p  Grandparent scammers often create a false sense of urgency to manipulate grandparents' emotions, making them feel extremely worried and compelled to take immediate action.

                    .ui.bulleted.list
                        .item 
                            p They'll try to make it sound extremely frightening and urgent. 
                        .item 
                            p The scammer may act very upset, cry, and beg for help.


                    p If a phone call instills an acute feeling of fear or urgency, it could be a warning sign of grandparent scams.

                .eight.wide.column
