#money.hidden
    .ui.container#know-you-read(style="width: 90%;")
        .top-info#examplePage(style="margin-top: 10px;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 8: Money Pickup
            .ui.centered.stackable.grid
                .eight.wide.column
                    p If the caller claims they will <strong> quickly send someone to your home to pick up the money, </strong> regardless of how they try to legitimize it by calling that person an 'officer,' 'government delivery person,' or any other official title, it is definitely a grandparent scam.

                    .callout
                        .dark-blue-square
                        .light-blue-content
                            h3.call-header Important
                            p No legitimate government agency will demand money over the phone.
                .eight.wide.column
