#payment.hidden
    .ui.container#know-you-read(style="width: 90%;")
        .top-info#examplePage(style="margin-top: 10px;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 7:  Request for Untraceable Payment Methods
            .ui.centered.stackable.grid
                .eight.wide.column
                    p When the caller demands payment <strong> via cash, gift cards, wire transfers, or even cryptocurrency, </strong> it is a warning sign for a grandparent scam. 


                    p The scammer may claim these untraceable payment methods allow for faster transfers than checks. However, this excuse creates a false sense of urgency to pressure you into sending money quickly. 

                    .callout
                        .dark-blue-square
                        .light-blue-content
                            h3.call-header Important
                            p The real reason scammers demand these methods is that:
                            .ui.bulleted.list
                                .item The money cannot be reversed or recovered once sent 
                                .item Anoymous payments make it easier for scammers to avoid being traced or caught


                .eight.wide.column
