#responses.hidden
    .ui.container#know-you-read(style="width: 90%;")
        .top-info#examplePage(style="margin-top: 10px;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 2: Generic Responses
            .ui.centered.stackable.grid
                .eight.wide.column
                    p If you ask their name and the caller still avoids answering it and responding something like “I am your favorite grandson”, or asking you to guess, do not give any names! This is a major red flag of a grandparent scam.


                .eight.wide.column
