#secrecy1.hidden
    .ui.container#know-you-read(style="width: 90%;")
        .top-info#examplePage(style="margin-top: 10px;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 6: Demand for Secrecy 
            .ui.centered.stackable.grid
                .eight.wide.column
                    p If the caller <strong> persistently requests and implies that you should keep the accident a secret </strong> from other family members, friends, and anyone involved in this case, such as bank representative. It is a Big Red Flag. They often use the following excuses:
                    
                    .ui.bulleted.list
                        .item <strong> Excuse 1: </strong> It is too “embarrassing” to let their parents know, and they “don't want to worry anyone.” However, they promise to let their parents know after things get resolved.
                    
                    .callout
                        .dark-blue-square
                        .light-blue-content
                            h3.call-header Important
                            p This scheme is used to underscore the "grandchild" embarrassment and to convince you that you're the only person they trust. They want you to believe that you're their favorite and most trustworthy family member, aiming to prevent you from reaching out to others to confirm the scammer's true identity.


                .eight.wide.column
