#titles.hidden
    .ui.container#know-you-read(style="width: 90%;")
        .top-info#examplePage(style="margin-top: 10px;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 1: Generic Titles
            .ui.centered.stackable.grid
                .eight.wide.column
                    p Be alert if you answer the phone and hear 'Grandma' or 'Grandpa' instead of being addressed by your name or a personal nickname. This generic greeting could be a red flag, especially if it's not how your grandchild would normally address you.


                    p  Do not give any names; wait the caller to speak their own name, or else you may inadvertently provide your grandchild’s name to the scammers.



                .eight.wide.column
