#voice.hidden
    .ui.container#know-you-read(style="width: 90%;")
        .top-info#examplePage(style="margin-top: 10px;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 4:  Voice Sounding Unnatural
            .ui.centered.stackable.grid
                .eight.wide.column
                    p  When you answer the phone,  if you feel their voice does not sound the same as it usually doess, <strong>be alert!!</strong>

                    p <strong> They may claim that: </strong>

                    .ui.bulleted.list
                        .item 
                            p They are sick 
                        .item 
                            p Their phone line quality is poor
                        .item 
                            p They need to talk quietly because they are hiding and trying to disguise themselves or not be heard by others.

                .eight.wide.column
