extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container(style="padding-bottom:4em;")
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect

    .ui.raised.segment
      .ui.label
        h4
          | How many of these attention-grabbing design features did you notice?
      .content.checkOne
        .ui.form
          br
          .inline.fields
            label(for='notifications', name='notifications') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='notifications', tabindex='0') Notifications
        .ui.form
          .inline.fields
            label(for='likes', name='likes') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='likes', tabindex='0') Likes and comments from other people
        .ui.form
          .inline.fields
            label(for='timeSpent', name='timeSpent') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='timeSpent', tabindex='0') Time spent on social media

    .ui.raised.segment.responseTwo
      .ui.label
        h4
          | How many minutes do you think you spent on the TestDrive timeline?
    
      .ui.form
        br
        .ui.form
          .inline.fields(style="max-width:15em;")
            input.glowing-border(type='text' id="habits_responseTwo")
            label  &nbsp&nbspMinutes
      button.ui.green.button#checkTime Find out the actual time!
      br
      .ui.header(style="display:none;")#undoHide You actually spent:
      .ui.statistics(style="display:none;")
        .statistic
          .value#habitsActivityTotalTimeMinutes 0
          .label
            | min 
        .statistic  
          .value :
          .label
        .statistic
          .value#habitsActivityTotalTimeSeconds 0
          .label
            | sec
        

    .ui.raised.segment
      .ui.label
        h4
          | On the TestDrive timeline, what did you do to build a healthy social media habit?
      .content.checkTwo
        .ui.form
          br
          .inline.fields
            label(for='wouldRead', name='wouldRead') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldRead', tabindex='0') I reviewed the time spent on the site
        .ui.form
          .inline.fields
            label(for='checkSource', name='checkSource') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='checkSource', tabindex='0') I reduced the number of notifications that I get
        .ui.form
          .inline.fields
            label(for='corroboration', name='corroboration') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='corroboration', tabindex='0') I ignored the notifications
        .ui.form
          .inline.fields
            label(for='corroboration', name='wouldViewAd') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldViewAd', tabindex='0') I did not do anything to build a healthy social media habit
            
    .ui.raised.segment.responseFour
      .ui.label
        h4
          | Why is it important to build healthy social media habits?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="habits_responseFour")
          
          
    include ../partials/optInToShareActivityData.pug
    br
    .ui.big.green.labeled.icon.button(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.cyberbullying_end
          i.rocket.icon
          |   Continue
          
          
block scripts
  script(src="/module_js/habits/habits_results.js")
  script(src='/optInToShareActivityData.js')
block styles
  link(rel='stylesheet', href='/css/results.css')
  link(rel='stylesheet', href='/css/optInToShareActivityData.css')
