extends ../ui_layout
  
block content
  .computer.only.tablet.only.four.wide.column 
    .ui.sticky.sideMenu
      .ui.vertical.menu
        a.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Home
        a.active.item(data-value='notifications')#notificationsteps
          i.icon.bell
          |  Notifications
  //-mobile only version of the menu
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu
      a.item(data-value='feed')#feedsteps
        i.icon.home
        |  Home
      a.active.item(data-value='notifications')#notificationsteps      
        i.icon.bell
        |  Notifications
        .ui.red.right.pointing.label !
  #content.eight.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
    .ui.stackable.secondary.menu
      .ui.container
        .item
          button.ui.basic.button.notificationsDisplay.settingsButton
            i.cog.icon
            |   Settings
        .item
          button.ui.basic.button.notificationsDisplay#activityButton
            i.clock.icon
            |   My Activity
    //-Activity display 
    .ui.container.habitsActivityDisplay
      h2.ui.header#hint1 My Activity
      .ui.divider
      h2.ui.header#hint2 Time on TestDrive:
      .ui.statistics
        .statistic
          .value 6
          .label
            | min 
        .statistic  
          .value :
          .label
        .statistic
          .value 30
          .label
            | sec
      h2.ui.header#hint3 Manage My Time:
      .field#reminderTimeSelectField.mt-4.mb-3
        label Set Daily Reminder
          br
          .ui.selection.dropdown(name='reminderTimeSelect').mt-2
            input(type='hidden')#reminderTimeSelectValue
            i.dropdown.icon
            .default.text 
            .menu
              .item(data-value='15 minutes') 15 minutes
              .item(data-value='1 hour') 1 hour
              .item(data-value='2 hours') 2 hours
              .item(data-value='4 hours') 4 hours
              .item(data-value='8 hours') 8 hours
      span We'll send you a reminder once you've reached the time you set for yourself.  
    button.ui.big.labeled.icon.button.cybertrans.mb-9#cyberTransButton.mt-6
        i.rocket.icon
        |   Let's Continue!
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        include ../partials/messages/removeHiddenMessage
        include ../partials/messages/clickAllDotsMessage
  .computer.only.tablet.only.four.wide.column
            
block scripts
  script(src="/module_js/habits/habits_sim4.js")
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_sim.js")
  
block styles
  link(rel='stylesheet', href="/css/modules/habits/habits_sim.css")
  link(rel='stylesheet', href='/css/sim.css')