extends ../ui_layout

block content

  .ui.text.container(style="padding-bottom:4em;")
    br
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | Using social media can be fun and interesting. In fact, social media sites are created to be that way. The features within the apps are designed by people who want to grab your attention.
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | Social media companies want you to spend more and more time on social media, but in a way that doesn’t always benefit you. Spending too much time on social media can take away time from other meaningful things in your life.
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | Today, you're going to explore how and why they do that, and how it affects you.

      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header 
        i.hand.pointer.icon(style="color:gray;")
        span(style="color: gray;") Click on each label below to learn more
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          .ui.raised.segment#audience
            a.ui.blue.ribbon.label#audienceLabel
                //- i.dollar.sign.icon 
                span Habit
            span.hidden(id="audience_info", style="font-weight:600") Something we do automatically without thinking.
              ul(style="font-weight:400") Social media <i>habits</i> can include things like checking social media regularly or scrolling through your social media feed as soon as you wake up.

        .ui.column
          #private_information.ui.raised.segment
            a.ui.blue.ribbon.label#privateInformationLabel
                //- i.magic.icon 
                span Attention-grabbing design
            span.hidden(id="private_information_info",style="font-weight:600")  Features of a device or app that are intended to encourage users to use it frequently.
              ul(style="font-weight:400") Some features include notifications for new content, autoplay on videos, and endless scrolling.
        .ui.column
          #risky.ui.raised.segment
            a.ui.blue.ribbon.label#riskyLabel
                //- i.magic.icon 
                span Feedback loop
            span.hidden(id="risky_info",style="font-weight:600") When you get a response to something you do or post online, causing your brain to experience a temporary moment of pleasure.
            
    .ui.warning.message#clickNextWarning(style="display:none;")
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning(style="display:none;")
     .header
      | Click on each label to proceed  
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!
            
block scripts
  script().
  
    //a function to animate any unclicked labels, used for error messaging
    function animateUnclickedLabels() {
      if($('#audience_info').is(":hidden")){
        $('#audienceLabel').transition('bounce');
      }
      if($('#private_information_info').is(":hidden")){
        $('#privateInformationLabel').transition('bounce');
      }
      if($('#risky_info').is(":hidden")){
        $('#riskyLabel').transition('bounce');
      }
    };
  
    $('#introduction_next').on('click', function () {   
      $('#clickNextWarning').hide();   
      $('#question').show(); 
      $('#question').transition('jiggle');     
      if(!($('#question').is(":hidden") ||  $('#private_information_info').is(":hidden") || $('#audience_info').is(":hidden") || $('#risky_info').is(":hidden"))){
        $('.ui.labeled.icon.button').addClass('green');
      } 
    });

    $('#audience').on('click', function () {      
        $('#audience_info').show(); 
        $('#audience').transition('tada');     
        if(!($('#question').is(":hidden") ||  $('#private_information_info').is(":hidden") || $('#audience_info').is(":hidden")|| $('#risky_info').is(":hidden"))){
          $('#clickLabelsWarning').hide();
          $('.ui.labeled.icon.button').addClass('green');
        }
    });

    $('#private_information').on('click', function () {      
        $('#private_information_info').show();      
        $('#private_information').transition('tada');     
        if(!($('#question').is(":hidden") ||  $('#private_information_info').is(":hidden") || $('#audience_info').is(":hidden") || $('#risky_info').is(":hidden"))){
          $('#clickLabelsWarning').hide();
          $('.ui.labeled.icon.button').addClass('green');
        }
    });

     $('#risky').on('click', function () {      
        $('#risky_info').show(); 
        $('#risky').transition('tada');     
        if(!($('#question').is(":hidden") ||  $('#private_information_info').is(":hidden") || $('#audience_info').is(":hidden") || $('#risky_info').is(":hidden"))){
          $('#clickLabelsWarning').hide();
          $('.ui.labeled.icon.button').addClass('green');
        }
    });
    
    function startIntro(){
        if($('#question').is(":hidden")){
          //User has not clicked next
          $('#clickNextWarning').show();
          $('#introduction_next').transition('bounce');
        }else{
          var clickedAllLabels = ($('#audience_info').is(":visible") && $('#private_information_info').is(":visible") &&  $('#risky_info').is(":visible"));
          if(clickedAllLabels == true){ 
            //everything is good to proceed
            $('#clickLabelsWarning').hide();
            window.location.href='/tutorial/habits';
          } else { 
            //User has not clicked all the labels
            $('#clickLabelsWarning').show();
            animateUnclickedLabels();
          }
        }         
      };
