extends ../ui_layout

block content

  .ui.text.container
    br
    br
    br
    block scripts
      script().
        function startIntro(){
            var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'showBullets':false, 'scrollToElement':true, 'doneLabel':'Done &#10003', 'tooltipClass':'blueTooltip'});
              intro.setOptions({
                steps: [
                  { 
                    intro: "Now you get to explore the TestDrive timeline! You can read what others have posted, respond, or make your own posts."
                  },
                  {
                    intro: "As you look through the timeline, see if you can find features that grab your attention and think about what you can do to build a healthy social media habit."
                
                  }
                ]
              });
              intro.start().onexit(function() {
              window.location.href='/modual/habits';
            });
            
              
          };
          $(window).on("load", function() {startIntro();});
          
