extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column 
    .ui.sticky.sideMenu
      .ui.vertical.menu(style="width:auto;")
        a.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Home
        a.active.item(data-value='notifications')#notificationsteps
          i.icon.bell
          |  Notifications
    
  //-mobile only version of the menu
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu(style="width:100%; padding-top:5em;")
      a.item(data-value='feed')#feedsteps
        i.icon.home
        |  Home
      a.active.item(data-value='notifications')#notificationsteps      
        i.icon.bell
        |  Notifications
        .ui.red.right.pointing.label !
    br
    br

  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid(style="margin-top:1em;")
      .ui.fixed.bottom.sticky(style="padding-bottom:6em; padding-left:1em; padding-right:1em")
        .ui.icon.compact.message.warning(style="display:none;")#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
            
        .ui.message.centered.success(style="display:none;")#nextPageInstruction
          .content
            .ui.header Click the "My Activity" button to continue! 
    
        .ui.icon.message.warning(style="display:none; padding-left:1em; padding-right:1em;")#notificationWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots before going to the activity page
          
    button.ui.basic.button.notificationsDisplay#settingsButton
      i.cog.icon
      |   Settings
      
    button.ui.basic.button.notificationsDisplay#activityButton
      i.clock.icon
      |   My Activity
    br
    br
    //-Settings display
    .ui.container.settingsDisplay
      h2.ui.header#hint1 Notification Settings
      .ui.divider
      br
      form.ui.form#addBottomMargin
        .field#hint2
          br
          .ui.toggle.checkbox(name='popupAlertsCheckbox')
            input(type='checkbox' name='popupAlerts')
            label(style="font-weight:bold;") Pause All
        span.settingLabel This will pause all notifications.
        br
        br
        br
        .field(style="display:none;")#pauseTimeSelectField
          label(style="font-size:100%;") How long would you like to pause notifications for?
            br
            br
            .ui.selection.dropdown(name='pauseTimeSelect')
              input(type='hidden')
              i.dropdown.icon
              .default.text 
              .menu
                .item(data-value='15 minutes' style="font-size:100%") 15 minutes
                .item(data-value='1 hour' style="font-size:100%") 1 hour
                .item(data-value='2 hours' style="font-size:100%") 2 hours
                .item(data-value='4 hours' style="font-size:100%") 4 hours
                .item(data-value='8 hours' style="font-size:100%") 8 hours
        br
        br    

block scripts
  script(src="/module_js/habits/habits_sim3.js")
  script(src="/module_js/base_sim.js")
      
    
