extends ../script.pug

block additionalMenu
  .ui.vertical.menu
    a.active.item(data-value='feed')#feedsteps 
      i.icon.home
      |  Home
    a.item(data-value='notifications')#notificationsteps
      i.icon.bell
      |  Notifications
      .ui.red.right.pointing.label !

block additionalMenu2 
  //-mobile only version of the menu  
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu
      a.active.item(data-value='feed')#feedsteps
        i.icon.home
        |  Home
      a.item(data-value='notifications')#notificationsteps      
        i.icon.bell
        |  Notifications
        .ui.red.right.pointing.label !
                 
block rightColumn 
  //- notification popup
  .ui.fixed.bottom.sticky.notificationPopup#desktopPopup(correspondingpost=0)
    .ui.info.message#removeHidden
      i.close.icon
      .ui.feed
        .event
          .label
            img.popupNotificationImage(src=cdn + '/profile_pictures/user39.jpg')
          .content
            .summary Thomas Rogers commented on Hannah Lee's post: “I love ribs”.    
  //-Mobile version of the notification popup
  .ui.fixed.bottom.sticky.notificationPopup.hidden#mobilePopup(correspondingpost=0)
    .ui.info.message#removeHiddenMobile
      i.close.icon
      .ui.feed
        .event
          .label
            img.popupNotificationImage(src=cdn + '/profile_pictures/user39.jpg')
          .content
            .summary Thomas Rogers commented on Hannah Lee's post: “I love ribs”.               

block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/habits/habits_script.js")        
  
block styles
  link(rel='stylesheet', href='/css/script.css')    
  link(rel='stylesheet', href='/css/modules/habits/habits_script.css')