extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column 
    .ui.sticky.sideMenu
      .ui.vertical.menu(style="width:auto;")
        a.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Home
        a.active.item(data-value='notifications')#notificationsteps
          i.icon.bell
          |  Notifications
          
  //-mobile only version of the menu
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu(style="width:100%; padding-top:5em;")
      a.item(data-value='feed')#feedsteps
        i.icon.home
        |  Home
      a.active.item(data-value='notifications')#notificationsteps      
        i.icon.bell
        |  Notifications
        .ui.red.right.pointing.label !
    br
    br

  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid(style="margin-top:1em;")
      .ui.fixed.bottom.sticky(style="margin-bottom:6em; margin-left:1em; margin-right:1em")  
        .ui.icon.compact.message.warning(style="display:none;")#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
        .ui.icon.message.warning(style="display:none;")#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue
                
    button.ui.basic.button.notificationsDisplay#settingsButton
      i.cog.icon
      |   Settings
      
    button.ui.basic.button.notificationsDisplay#activityButton
      i.clock.icon
      |   My Activity
    br
    br
    //-Activity display 
    .ui.container.habitsActivityDisplay
      h2.ui.header#hint1 My Activity
      .ui.divider

      h2.ui.header#hint2 Time on TestDrive:
      .ui.statistics
        .statistic
          .value 6
          .label
            | min 
        .statistic  
          .value :
          .label
        .statistic
          .value 30
          .label
            | sec
          
      h2.ui.header#hint3 Manage My Time:
      br
      .field#reminderTimeSelectField
        label(style="font-size:100%; font-weight:bold;") Set Daily Reminder
          br
          br
          .ui.selection.dropdown(name='reminderTimeSelect')
            input(type='hidden')
            i.dropdown.icon
            .default.text 
            .menu
              .item(data-value='remind 15 minutes' style="font-size:100%") 15 minutes
              .item(data-value='remind 1 hour' style="font-size:100%") 1 hour
              .item(data-value='remind 2 hours' style="font-size:100%") 2 hours
              .item(data-value='remind 4 hours' style="font-size:100%") 4 hours
              .item(data-value='remind 8 hours' style="font-size:100%") 8 hours
      br
      span We'll send you a reminder once you've reached the time you set for yourself.
      
    button.ui.big.labeled.icon.button.cybertrans#cyberTransButton(style="margin-bottom:4em; margin-top:2em;")
        i.rocket.icon
        |   Let's Continue!
            
          
    


block scripts
  script(src="/module_js/habits/habits_sim4.js")
  script(src="/module_js/base_sim.js")
