extends ../ui_layout

block content

  .ui.text.container(style="padding-bottom:4em;")
    br
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Learn
      hr
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | Using social media can be fun and interesting. In fact, the features within social media apps are designed to capture your attention.
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | It benefits social media companies for users to spend time on social media, so it is up to you to be sure you are balancing your social media time with other meaningful things in your life.
      h5.ui.header
        i.arrow.circle.right.blue.icon
        .content
          | Today, you are going to learn about media balance and explore what you can do to build healthy social media habits.

      br
      #introduction_next.button.ui.mini.green.right.labeled.icon.button
              i.down.arrow.icon
              |   Next
    
    #question.ui.segment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Key Ideas
      .sub.header 
        i.hand.pointer.icon(style="color:gray;")
        span(style="color: gray;") Click on each label below to learn more
      br
      //- .ui.segments     
      .ui.stackable.two.column.grid
        .ui.column
          .keyTerm.ui.raised.segment
            a.ui.blue.ribbon.label.keyTermLabel
                //- i.dollar.sign.icon 
                span Habit
            span.hidden.keyTermDefinition(style="font-weight:600") Something we do automatically without thinking.
              ul(style="font-weight:400") Social media <i>habits</i> can include things like checking social media regularly or scrolling through your social media feed as soon as you wake up.

        .ui.column
          .keyTerm.ui.raised.segment
            a.ui.blue.ribbon.label.keyTermLabel
                //- i.magic.icon 
                span Attention-grabbing design
            span.hidden.keyTermDefinition(style="font-weight:600")  Features of a device or app that are intended to encourage users to use it frequently.
              ul(style="font-weight:400") Some features include notifications for new content, autoplay on videos, and endless scrolling.
        .ui.column
          .keyTerm.ui.raised.segment
            a.ui.blue.ribbon.label.keyTermLabel
                //- i.magic.icon 
                span Feedback loop
            span.hidden.keyTermDefinition(style="font-weight:600") The pleasure you experience when you get a response to something you do or post online, making you want to go back and post more.
            
    .ui.warning.message#clickNextWarning(style="display:none;")
      .header
       | Click "Next"
    .ui.warning.message#clickLabelsWarning(style="display:none;")
     .header
      | Click on each label to proceed  
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   Got it!
            
block scripts
  script(src='/module_js/base_start.js')
    
