.resultsPromptLabel{
  background-color:#2185d08a;
  color:#000000d1;
}

.resultsPromptLabel h4 {
  float: left;
}

.resultsPromptLabel .triangle.icon{
  color: #f9ff00 !important;
}

.img.post img {
  max-width: 100%;
  cursor: pointer;
  display: inline !important;
}
