.ui.one.column.centered.grid {
  padding-top: 1em;
}

.ui.fixed.bottom.sticky {
  padding-bottom: 6em;
}

#removeHidden, #clickAllDotsWarning {
  display: none;
}

.img.post img {
  max-width: 100%;
}

.read.rounded.right.floated.info_button {
  z-index: 9;
  text-align: center;
  position: relative;
  bottom: 10px;
  width: 7%;
  height: auto;
}

.newsArticleTitleContainer {
  background: rgba(0, 0, 0, 0.05) !important;
}
