#definitions.hidden
    .ui.container#definitions-read(style="width: 97%;")
        .limit#learn-target(style="padding: 0;")
            .ui.two.column.internally.celled.padded.centered.stackable.grid
                .column
                    h1.ui.header.large(style="color: #285362;") 
                        .content
                            i.book.icon
                            | Romance Scams
                    p The scammer aims to build trust and a strong bond to form a 
                        strong Romantic relationship 
                        | over time.
                    img.medium.centered.ui.image(src='/images/romance/romance-concepts-1.png' style="width: 200px;" alt="couple with broken heart and robbery bags")
                .column(style="padding-left: 40px;")
                    h1.ui.header.large(style="color: #285362;") 
                        .content
                            i.book.icon
                            | Friendship Scams
                    p The scammer aims to build trust and a strong bond to form a 
                        strong Friendship relationship 
                        | over time.

                    img.medium.centered.ui.image(src='/images/romance/romance-concepts-2.png' style="width: 250px;" alt="disguised people")
            //- .ui.vertical.divider
            //-     | and
