#definitions.hidden
    .ui.container#definitions-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.middle.aligned.grid
                .column.eleven.wide.computer.only.sixteen.wide.tablet.only
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Identity Theft Basics

                    //- p Identity Theft occurs when someone uses your 
                    //-     strong personal information without your permission.
                    //- p For instance, they might take your name, social security number, or credit card details. 
                    //- p This information enables them to do things like make purchases, open new accounts, or commit crimes.

                    //- p Identity theft is when your personal identifiable information (PII) is stolen and used against you.
                    i Identity theft 
                    span is when your personal information is stolen and used against you.
                        a(href='https://www.usa.gov/identity-theft' target='_blank') 
                            sup [1]

                .column.five.wide.computer.only.sixteen.wide.tablet.only
                    .polaroid 
                        img.ui.image(src='/images/johnsons-suprised.png')
                        //- p(style="text-align: center; font-size: 1rem;") When Mr. Johnson shared his personal information over the phone, it led to unauthorized charges by scammers.
                        //- p Mr. Johnson sharing his personal info over the phone let scammers make unauthorized charges.
                        p Mr. Johnson sharing his personal info over the phone allowed scammers to make unauthorized charges.
            i.source *Sources: 1. USA Gov
                a(href='https://www.usa.gov/identity-theft' target='_blank')  'Identity Theft' 
