#fake-websites.hidden
    .ui.container#fake-websites-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            span#narrate-title-fake-websites Fake Websites
                    p#narrate-1-fake-websites 
                        span Fake dating sites promise the perfect match, but in reality, they are full of fake accounts. To access these sites, you often have to pay a fee and provide personal information (including a photo), resulting in financial losses or identity theft. 
                    p#narrate-2-fake-websites 
                        span Fake Online Dating Sites may contain malware that can infect your personal devices to steal your personal information, hack your camera, and even hold your device for ransom. 
                    strong#narrate-3-fake-websites 
                        span Please Only Use Reputable and Popular Dating websites

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.image(src=`${public_resources}/images/modules/romance/fake.png` style='margin-left: auto; margin-right: auto' alt="image of fake website")
                