#fake-websites.hidden
    .ui.container#fake-websites-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Fake Websites
                    p Fake dating sites promise the perfect match, but in reality, they are full of fake accounts. To access these sites, you often have to pay a fee and provide personal information (including a photo), resulting in financial losses or identity theft. 
                    p Fake Online Dating Sites may contain malware that can infect your personal devices to steal your personal information, hack your camera, and even hold your device for ransom. 
                    strong Please Only Use Reputable and Popular Dating websites

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.image(src='/images/romance/fake.png' style='margin-left: auto; margin-right: auto')
                