#fake-websites.hidden
    .ui.container#fake-websites-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Fake Websites
                    p Beyond individual scammers, some websites themselves are elaborate scams. These fake social media and dating sites are designed to appear authentic, promising connections and matches that are, in reality, nothing but 
                        strong fake accounts and bots.
                    p 
                        strong Financial and personal information 
                        | is often at risk on these sites. To become a member, you're asked to pay a fee and share personal details, including photos. This can lead to significant financial loss or identity theft.               
                    p The website may also contain 
                        strong malware 
                        | that can infect your device allowing scammers to steal your personal information, hack into your camera, or even lock you out of your device and demand payment to regain access.

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.image(src='/images/romance/fake.png' style='margin-left: auto; margin-right: auto')
                