#intro-video.hidden
    .ui.container#raised-container.center-layout
        .limit
            #intro-video-read
                h1.ui.header.large#learn-title
                    .content
                        i.video.icon
                        |  Sophia’s Scam Story: Falling for Fiction
                //- p Click the image to start the video
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p Video coming soon
                        //- p Click the image to start the video
                p An older woman in her late 60s/early 70s named Sophia sits at a computer with a chat window opened up on it. A narration plays while she interacts with the computer, typing on it and conversing with an individual whose screen name is Christopher.
                p Narrator/DART Agent (Informative) A few years after her husband’s passing, Sophia decided to try online dating. One evening, she received a message. Christopher was a charming 70-year-old retired businessman who seemed to be well-traveled, successful, and interested in finding a meaningful relationship.
                p Their relationship began innocently, talking about shared interests. Christopher made Sophia feel special with compliments and affection. His messages turned romantic, and he told Sophia he loved her. Sophia felt like she was falling for him.
                p Sophia begins to look concerned at the computer, empathetic and worried for Christopher. The text he’s sent her is a sad but tall tale where he asks Sophia for money. As she settles on a decision to send him money, we see her pull up her bank account on her computer and send him the aforementioned money.
                p Later, Christopher admitted he had invested all of his money in a business deal that had gone terribly wrong. He needed a loan from Sophia to get back on his feet, or he might lose his home. Sophia had heard about romance scams, where scammers start online relationships and ask for money. But Christopher was so real, Sophia cared for him. She sent him $10,000 from her retirement account to help.
                p Christopher continued to make excuses for why he couldn’t pay Sophia back and said even more hardships came his way. Sophia sent him more money to help.
                p Sophia’s face grows more concerned and worried. She tries to call Christopher, message him, and email him, but all she gets is excuses back. This culminates in her crying, realizing she’d been scammed. She calls the authorities and tells her family on the phone.
                p Sophia was desperate to meet Christopher in person. But when Christopher continued to make excuses for being unable to meet, Sophia realized she had been scammed. Heartbroken and financially devastated, she reported the scam to the authorities. By this point, it was unlikely that they would be able to do anything to help her get her money back.
                p Sophia meets with her daughter, who helps her figure out what to do with her finances. They pour over papers together and get on phone calls with the appropriate aids.
                p With the help of her family and friends, Sophia was able to rebuild her life and regain financial stability. Sophia hopes her story serves as a cautionary tale to others. Be vigilant.
            br
            #video-container(style="display:none;")
                video-js#my_video_1.video-js.vjs-default-skin.vjs-show-big-play-button-on-pause(width='640px' height='360px' controls='' preload='none' data-setup='{ "poster":"/images/warning-poster.png", "aspectRatio":"16:9", "playbackRates": [0.5, 0.75, 1, 1.5, 2] }')
                    source(src='https://dart-store.s3.amazonaws.com/identity-warning.mp4' type='video/mp4')
        //- script.
        //-     var module = "#{module}";
        //-     var section = "#{section}";
        //-     var page = "#{page}"; 

        //-     let total = parseInt(#{numPages});
        //-     let progress = 2 / total;
        //-     console.log(progress);
        //-     updateProgressBar(progress);