#phases.hidden
    .ui.container#phases-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .eleven.wide.computer.sixteen.wide.tablet.column#vertically-centered-column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            span#narrate-title-phases What are Romance and Friendship Scams?
                    p 
                        strong#narrate-1-phases 
                            span Scammers pretend to be someone else to lure you into romantic relationships or friendships. 
                        span#narrate-2-phases    
                            span To do this, the scammer would:
                        a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank')
                            sup [1]          
                    
                    ui.list
                        .item 
                            strong#narrate-3-phases 
                                span Stage 1: 
                            span#narrate-4-phases  
                                span Create a fake and alluring profile on a dating or social networking website. 
                        .item
                            strong#narrate-5-phases 
                                span Stage 2: 
                            span#narrate-6-phases  
                                span Contact and groom you, establishing a strong connection.
                        .item
                            strong#narrate-7-phases  
                                span Stage 3:
                            span#narrate-8-phases 
                                span Request money or involve you in criminal activities without your awareness.

                .five.wide.computer.sixteen.wide.tablet.column
                    img.ui.image(src=`${public_resources}/images/modules/romance/romance-concepts-phases.jpg` style='margin-left: auto; margin-right: auto' alt="man's heart getting stolen")
                i.source *Sources: 1. Anatomy of the Online Dating Scam,  Springer Link, 
                    a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') 'https://link.springer.com/article/10.1057/sj.2012.57' 
