#phases.hidden
    .ui.container#phases-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            | Scam Phases
                    p During a romance or friendship scam, the scammer will:
                        a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank')
                            sup [1]          
                    
                    ol 
                        li 
                            strong Create fake profiles: 
                            | Create alluring fake profiles on dating or social networking sites, designed to draw you in.
                        li
                            strong Contact and groom: 
                            | Invest time in developing a seemingly genuine bond with you, which can take the form of a romantic relationship or friendship
                        li
                            strong Make a request: 
                            | After gaining your trust, they fabricate an emergency, requesting money or a favor. Unknowingly, this could entangle you in illegal activities.
                    //- donesn't have dots next to the numbers
                    //-  .ui.ordered.list 
                    //-     .item 
                    //-         strong Create fake profiles: 
                    //-         | Create alluring fake profiles on dating or social networking sites, designed to draw you in.
                    //-     .item 
                    //-         strong Contact and groom: 
                    //-         | Invest time in developing a seemingly genuine bond with you, which can take the form of a romantic relationship or friendship
                    //-     .item 
                    //-         strong Make a request: 
                    //-         | After gaining your trust, they fabricate an emergency, requesting money or a favor. Unknowingly, this could entangle you in illegal activities.                

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.image(src='/images/romance/romance-concepts-phases.jpg' style='margin-left: auto; margin-right: auto')
                i.source *Sources: 1. Anatomy of the Online Dating Scam,  Springer Link, 
                    a(href='https://link.springer.com/article/10.1057/sj.2012.57' target='_blank') 'https://link.springer.com/article/10.1057/sj.2012.57' 
