#reflection.hidden
    .ui.container#reflection-read(style="width: 90%;")
        .ui.stackable.middle.aligned.grid
            .column.nine.wide.computer.only.sixteen.wide.tablet.only
                h1.ui.header.large#learn-title
                    .content
                        i.lightbulb.icon
                        | Reflect

                p Take a moment to think about the following:
                .ui.bulleted.list
                    .item(style="font-size: 1.5rem; font-weight: 700; line-height: 1.65rem; margin-bottom: 10px") Can you remember which social media platforms or dating apps you have used? Has anyone who has ever contacted you made you feel uncomfortable?
                    .item(style="font-size: 1.5rem; font-weight: 700; line-height: 1.65rem;") Given what you've learned about fake and trusted dating sites, will your online behavior change?
                .ui.centered.grid
                    img.ui.small.image(src='/images/reflection.svg')

                //- button.ui.big.blue.button(onclick="toggleReflection()") Journal thoughts
                //- .type-here
                //-     p Disclaimer: Use this to input your thoughts. This information will not be saved or shared with anyone.
                //-     .ui.form
                //-         .ui.fluid.left.corner.labeled.input(style="font-size: 1.25rem;")
                //-             .ui.left.corner.label
                //-                 i.pen.icon
                //-             textarea(placeholder="Type your thoughts here...")

                //- .item How comfortable are you sharing information with strangers, and what level of trust do you think is appropriate when responding to requests from unfamiliar individuals?
                //- .item How much personal information do you currently share online?
                //- .item Do you often stop and think about the value of the personal information you're about to share online?

            .column.seven.wide.computer.only.sixteen.wide.tablet.only
                //- button.ui.big.blue.button(onclick="toggleReflection()") Journal thoughts
                .type-here
                    .ui.form
                        .ui.fluid.left.corner.labeled.input(style="font-size: 1.25rem;")
                            .ui.left.corner.label(style="font-size: 1rem;")
                                i.pencil.alternate.icon
                            textarea(placeholder="Type your thoughts here. What you input will not be saved or shared with anyone.")

                //- img.ui.image(src='/images/reflection.svg')
