#takeaways.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            | Congratulations!
                    #text
                        p You've completed "Concepts" and earned a bronze badge!  
                        p You now know:
                        .ui.bulleted.list
                            .item(style="line-height: 1rem;")
                                | The basics of romance and friendship scams
                            .item(style="line-height: 1rem;")
                                | Legitimate vs fraudulent dating websites
                        p This knowledge will help you keep yourself and others safe from romance and friendship scams.
                .six.wide.center.aligned.column
                    img.ui.small.centered.image#earned_badge(src='/badges/romance/concepts.svg' onmouseenter="animateBadge()" style="margin-bottom: -10px; width: 125px;" alt="unlocked badge")
                    h3 <strong>Foundation</strong>
                        br
                        | <strong>Acheivers</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")