#trusted.hidden
    .ui.container#trusted-read(style="width: 90%;")
        .limit#learn-target(style="padding: 0;")
            .ui.two.column.computer.only.grid
                .column(style="display: flex; justify-content: center; flex-direction: column;")
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Trusted Dating Sites
                    p For a safer online dating experience, it's best to use well-known and trusted websites. These platforms typically offer enhanced security measures to protect users. On the right, you'll find a list of reputable and popular dating websites. However, be aware that no website can guarantee complete protection from scammers, who may still find ways to create fake profiles. Always exercise caution and use your best judgment.
                    i.source Sources: 
                        a(href='https://www.pewresearch.org/internet/wp-content/uploads/sites/9/2023/01/PI_2023.02.02_Online-Dating_TOPLINE.pdf' target='_blank')  Pew Research Center, 2022 Topline Questionnaire American Trends Panel 
                        | &
                        a(href='https://www.forbes.com/health/dating/best-senior-dating-sites/' target='_blank')  Forbes Best Senior Dating Sites
                .column
                    .ui.three.column.grid
                        .column
                            a.ui.card(href='https://www.facebook.com/dating' target='_blank') 
                                .image
                                    img.ui.image.centered(src='/images/romance/trusted_facebook.svg'  style="width: 100px; height: 100px;")
                                .content
                                    | Facebook Dating
                            a.ui.card(href='https://www.singles50.com/' target='_blank')
                                .image
                                    img.ui.small.image.centered(src='/images/romance/trusted_singles50.png' style="height: 100px; width: 100px;")
                                .content
                                    | Singles50
                        .column
                            a.ui.card(href='https://www.seniormatch.com/' target='_blank')
                                .image
                                    img.ui.image.centered(src='/images/romance/trusted_match.png' style="width: 200px; height: 100px;")
                                .content
                                    | Senior Match
                            a.ui.card(href='https://www.pof.com/' target='_blank')
                                .image
                                    img.ui.small.image.centered(src='/images/romance/trusted_fish.png' style="width: 100px; height: 100px;")
                                .content
                                    | Plenty of Fish
                        .column
                            a.ui.card(href='https://www.silversingles.com/' target='_blank')
                                .image
                                    img.ui.small.image.centered(src='/images/romance/trusted_silver.svg' style="width: 100px; height: 100px;")
                                .content
                                    | Silver Singles
                            a.ui.card(href='https://www.ourtime.com/' target='_blank')
                                .image
                                    img.ui.small.image.centered(src='/images/romance/trusted_ourtime.png' style="width: 150px; height: 100px;")
                                .content
                                    | Our Time
            .ui.tablet.only.mobile.only.grid
                .row
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Trusted Dating Sites
                    p For a safer online dating experience, it's best to use well-known and trusted websites. These platforms typically offer enhanced security measures to protect users. Below is a list of reputable and popular dating websites. However, be aware that no website can guarantee complete protection from scammers, who may still find ways to create fake profiles. Always exercise caution and use your best judgment.
                .row
                    .ui.stackable.three.column.grid
                        .column
                            a.ui.card(href='https://www.facebook.com/dating' target='_blank') 
                                .image
                                    img.ui.image.centered(src='/images/romance/trusted_facebook.svg'  style="width: 100px; height: 100px;")
                                .content
                                    | Facebook Dating
                            a.ui.card(href='https://www.singles50.com/' target='_blank')
                                .image
                                    img.ui.small.image.centered(src='/images/romance/trusted_singles50.png' style="height: 100px; width: 100px;")
                                .content
                                    | Singles50
                        .column
                            a.ui.card(href='https://www.seniormatch.com/' target='_blank')
                                .image
                                    img.ui.image.centered(src='/images/romance/trusted_match.png' style="width: 200px; height: 100px;")
                                .content
                                    | Senior Match
                            a.ui.card(href='https://www.pof.com/' target='_blank')
                                .image
                                    img.ui.small.image.centered(src='/images/romance/trusted_fish.png' style="width: 100px; height: 100px;")
                                .content
                                    | Plenty of Fish
                        .column
                            a.ui.card(href='https://www.ourtime.com/' target='_blank')
                                .image
                                    img.ui.small.image.centered(src='/images/romance/trusted_ourtime.png' style="width: 150px; height: 100px;")
                                .content
                                    | Our Time
                            a.ui.card(href='https://www.silversingles.com/' target='_blank')
                                .image
                                    img.ui.small.image.centered(src='/images/romance/trusted_silver.svg' style="width: 100px; height: 100px;")
                                .content
                                    | Silver Singles

                i.source Sources: 
                    a(href='https://www.pewresearch.org/internet/wp-content/uploads/sites/9/2023/01/PI_2023.02.02_Online-Dating_TOPLINE.pdf' target='_blank')  Pew Research Center, 2022 Topline Questionnaire American Trends Panel 
                    | &
                    a(href='https://www.forbes.com/health/dating/best-senior-dating-sites/' target='_blank')  Forbes Best Senior Dating Sites
