#trusted.hidden
    .ui.container#trusted-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Trusted Dating Sites
                p For a safer online dating experience, it's best to use well-known and trusted websites. These platforms typically offer enhanced security measures to protect users. Below is a list of reputable and popular dating websites. However, be aware that no website can guarantee complete protection from scammers, who may still find ways to create fake profiles. Always exercise caution and use your best judgment.
                img.ui.image.centered(src='/images/romance/trusted-1.png')
                img.ui.image.centered(src='/images/romance/trusted-2.png')
                
                i.source Sources: 
                    a(href='https://www.pewresearch.org/internet/wp-content/uploads/sites/9/2023/01/PI_2023.02.02_Online-Dating_TOPLINE.pdf' target='_blank')  Pew Research Center, 2022 Topline Questionnaire American Trends Panel 
                    | &
                    a(href='https://www.forbes.com/health/dating/best-senior-dating-sites/' target='_blank')  Forbes Best Senior Dating Sites
