#types.hidden
    .ui.container#types-read
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Types

            .ui.icon.mini.message(style="padding: 5px; margin-top:-5px; margin-bottom: -10px; z-index: 99;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click the arrows to learn more.
            .ui.stackable.middle.aligned.grid#double-slider(style="margin-top: -20px;")
                .column.six.wide.computer.only.sixteen.wide.tablet.only
                    #image-slider(style="margin: 0 auto;")
                        img(src='/images/romance/romance-concepts-types-1.png' alt='Gift Card Request')
                        img(src='/images/romance/romance-concepts-types-2.png' alt='Investment / Cryptocurrency')
                        img(src='/images/romance/romance-concepts-types-3.png' alt='Money Mule')
                        img(src='/images/romance/romance-concepts-types-4.png' alt='Catfishing')
                
                .column.ten.wide.computer.only.sixteen.wide.tablet.only
                    #steps-slider
                        //- Card 1
                        .ui.basic.card
                            .content
                                h2 Gift Card Request
                                p Scammers request gift cards, claiming they need them for emergency expenses, to fund travel to meet in person, or as a simple favor to prove love or friendship. They convince victims to buy these cards and share the codes, pitching it as a quick and simple way to send money.  This method leaves little trace and makes fund recovery nearly impossible.

                        //- Card 2 
                        .ui.basic.card
                            .content
                                h2 Investment / Cryptocurrency
                                p Instead of asking you for money, a scammer might offer to help you make money. They will offer investment advice, often involving cryptocurrency. The scammers may have you open a cryptocurrency account and then provide you with a link to deposit your funds. This account will show high levels of returns to encourage you to deposit even more money. However, once you try to withdraw your money, you will be asked to either pay a hefty tax bill or the site will shut down, taking your money with it.
 
                        //- Card 3
                        .ui.basic.card
                            .content
                                h2 Money Mule
                                p Scammers manipulate you into moving illegal money, in a scheme reminiscent of how a mule carries heavy loads. After building a relationship, they will ask you to do them a favor. They will send you money to purchase gift cards or cryptocurrency, then ask you to open a bank account or to send/receive packages. While these may seem like innocent favors, you are actually helping them launder money which could result in you being charged with a crime. 

                        //- Card 3
                        .ui.basic.card
                            .content
                                h2 Catfishing
                                p Scammers use a fake online profile to trick you into believing they are someone else. By presenting themselves as an ideal partner, scammers can manipulate emotions and gain trust, making it easier to exploit victims for financial or emotional gain. The aim is to create a compelling but entirely fictional identity to attract victims, playing on their desires and vulnerabilities.
 
