.ui.one.column.centered.grid{
  padding-top: 1em;
}

.ui.fixed.bottom.sticky{
  padding-bottom: 6em;
}

#removeHidden, #clickAllDotsWarning{
  display: none;
}

.ui.form{
  font-size: 130%;
}

.field label{
  margin-bottom: 1em;
}

.field input{
  margin-top: 1em;
}

.field .ui.warning.message{
  margin-bottom:18px;
  font-size:16px;
}

.ui.indicating.progress{
  margin-top:.5em;
}

#strengthLabel{
  font-weight: bold;
  font-size:120%;
}

#feedbackMessage{
  margin-bottom: 18px;
  font-size: 16px;
}

#feedbackSuggestion{
  padding-left: 28px;
  margin-top: 0;
}
