extends ../ui_layout

block content

  #content.sixteen.wide.column.centered.removeTopPadding.addBottomMargin
    //- #####################################################
    .ui.one.column.centered.grid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.message.warning.hidden#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
          
        .ui.icon.message.warning.hidden#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue.
        .ui.icon.message.success.hidden#instructionsToContinue
          .content
            .ui.header Click the article to continue! 

    .ui.grid.gridInsideTab(style="margin-bottom:12em;")  
      .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
        .ui.fluid.card.dim()#step1
          .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  | You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span 
                      | The admins will review this post further. We are sorry 
                      | you had this experience.
          .content#hint1
            .right.floated.meta= "Yesterday"
            a(href='#')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user21.jpg')
                  span='Sam Hill'
          .img.post.articleImage.articleTab(data-tab="two")        
            img(src='/picture.svg')

          .content.newsArticleTitleContainer.articleTab(data-tab="two")
              a.articleLink
                | thehillwoodtimes.com &nbsp; &nbsp;
              .header
                | BREAKING NEWS: Haywell Middle School to Close Starting 
                | Tomorrow 
          .four.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              | Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              | Flag
            .ui.share.button(tabindex='0')
              i.share.icon
              | Share
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                | Like
              a.ui.basic.red.left.pointing.label.count 2
                  
    //- #####################################################

block scripts
  script(src='/module_js/advancedlit/advancedlit_sim1.js')
  script(src='/module_js/base_sim.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
