extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
        .ui.mini.green.right.labeled.icon.button.showReviewSectionButton
          i.down.arrow.icon
          |   Next  
        .ui.basic.segment.reviewSegment.hidden
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Social media can be a great place to find information about things 
              | that just happened or are currently taking place.

          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | When you come across breaking news on your timeline, it’s 
              | important to fact-check the information in the article. Ask 
              | yourself these questions:
              
          h5.ui.header
            i.circle.bullet.blue.icon
            .content
              | Is this article a news piece or an opinion piece?
              
          h5.ui.header
            i.circle.bullet.blue.icon
            .content
              | Does the article mention where or from whom the author got the 
              | information?
              
          h5.ui.header
            i.circle.bullet.blue.icon
            .content
              | Are there other sources that are also reporting this news?
                      
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | If you think the article is incorrect or incomplete, wait to get 
              | the full story before you decide to share it!
          br
    br
    br
    .ui.warning.message.clickNextWarning.hidden
      .header
       | Click "Next"
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!
            
block scripts
  script().
    var voiceoverMappings = {
      '.showReviewSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.9.5.01.mp3','CUSML.9.5.02.mp3','CUSML.9.5.03.mp3']
      }
    };
    var nextPage = 'trans_script';
  script(src="/module_js/voiceover.js")  
  script(src="/module_js/base_trans.js")
    
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
  link(rel='stylesheet', href='/css/trans.css')  
