extends ../ui_layout

block content

  .ui.text.container.addBottomMargin
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
          
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | Social media can be a great place to find information about things 
            | that just happened or are currently taking place.

        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | When you come across breaking news on your timeline, it’s 
            | important to fact-check the information in the article. Ask 
            | yourself these questions:
            
        h5.ui.header
          i.caret.right.blue.icon
          .content
            | Is this article a news piece or an opinion piece?
            
        h5.ui.header
          i.caret.right.blue.icon
          .content
            | Does the article mention where the information they reported comes 
            | from?
            
        h5.ui.header
          i.caret.right.blue.icon
          .content
            | Are there other sources that are also reporting this news?
                    
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | If you think the article is incorrect or incomplete, wait to get 
            | the full story before you decide to share it!
        br
  
    br
    br
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.green.labeled.icon.button
            i.rocket.icon
            |   Got it!
            
block scripts
  script().
    function startIntro(){
      window.location.href='/trans_script/advancedlit';
    };
    
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
