extends ../ui_layout

block content
  
//- insert code for articles after RAs provide design
//- will probably need to create 3 sim pages

block scripts
  script(src='/module_js/advancedlit/advancedlit_results.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
