extends ../ui_layout

block content

  .ui.text.container.addBottomMargin

block scripts
  script(src="/module_js/advancedlit/advancedlit_trans_script.js")
  script(src="/module_js/base_introSteps.js")
        
