extends ../ui_layout

block content
  
  //- insert code for article after RAs provide design

  #content.sixteen.wide.column.centered.removeTopPadding.addBottomMargin
    
    //- #####################################################
    .ui.active.tab(data-tab="one")
      .ui.grid  
        .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
          #step1.ui.fluid.card.dim()
            .ui.dimmer.flag
              .content
                .center
                  h2.ui.inverted.icon.header
                    i.red.flag.icon
                    | You&apos;ve flagged this!
                    h3.ui.inverted.header
                      span 
                        | The admins will review this post further. We are sorry 
                        | you had this experience.
            .content
              .right.floated.meta= "Yesterday"
              a(href='#')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user21.jpg')
                    span='Sam Hill'
            .img.post.articleImage.articleTab(data-tab="two")        
              img(src='/picture.svg')

            .content.newsArticleTitleContainer.articleTab(data-tab="two")
                a.articleLink
                  | reedcountyvoice.com &nbsp; &nbsp;
                .header
                  | BREAKING NEWS: Tornado Warning Issued in Reed County   
            .four.ui.bottom.attached.icon.buttons
              .ui.reply.button(tabindex='0')
                i.reply.icon
                | Reply
              .ui.flag.button(tabindex='0')
                i.flag.icon
                | Flag
              .ui.share.button(tabindex='0')
                i.share.icon
                | Share
              .ui.labeled.button(tabindex='0')
                .ui.like.button
                  i.heart.icon
                  | Like
                a.ui.basic.red.left.pointing.label.count 0
                  
    //- #####################################################
    .ui.tab(data-tab="two")
    
      button.ui.big.testDriveBlue.button.homeTab(data-tab='one')
        i.icon.reply
        | Return to the timeline
      button.ui.big.green.button.searchTab#step4(data-tab='three')
        i.icon.search
        | Search for "Reed County tornado"
      .ui.segment(style='margin-bottom: 4em;')
        .ui.grid          
          .row
            .column#step2


              h1 
                | BREAKING NEWS: Tornado Warning Issued in Reed County 
              h2 
                | The Reed County Voice
              p Author: Jeremy Townsend
              p 10 minutes ago
          .row
            .sixteen.wide.column#step3
              
              img.ui.large.left.floated.image.fullArticleImage(src='/picture.svg')

              p.articleText 
                | According to the National Weather Service, a tornado watch was 
                | issued for Reed County today, effective immediately. Severe 
                | wind gusts and large thunderstorms might lead to significant 
                | damage to the local community. Residents are advised to 
                | discuss emergency plans and check their tornado shelter.
              p.articleText 
                | Please stay tuned for more news to come.
                
    //- #####################################################
    .ui.tab(data-tab="three")
      .ui.grid     
        .row
          .column

            button.ui.big.testDriveBlue.button.homeTab(data-tab='one')
              i.icon.reply
              | Go back to the timeline
            button.ui.big.testDriveBlue.button.articleTab(data-tab='two')
              i.icon.reply
              | Go back to the article
        .row
          .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.left.floated.column    
            h2#step5 Search results for "Reed County tornado"
            
            
            p.resultURL reedcountyvoice.com
            a
              h4.resultTitle 
               | Tornado Watch Issued in Reed County - The Reed County Voice
            p.resultPreviewText
              | The National Weather Service issued a tornado watch at 3 p.m. 
              | yesterday. Residents should expect large hail and very heavy 
              | downpours starting early today.

            p.resultURL reedcountyvoice.com
            a
              h4.resultTitle 
                | Local Grocery Stores Emptied after Tornado Warning - The Reed County Voice
            p.resultPreviewText
              | After the tornado warning was issued, residents of Reed County 
              | rushed to stores to stock up on supplies. Many stores were 
              | emptied while others limited sales of important ...

            p.resultURL reedcountyfl.gov
            a
              h4.resultTitle 
                | Record-Breaking Roller Coaster "Tornado" Coming to Town - Reed 
                | County
            p.resultPreviewText
              | Five Flags in Reed County is planning to construct a new roller 
              | coaster named "Tornado Coaster." Once finished, it will be one 
              | of the tallest roller coasters in the ...

            p.resultURL weather.gov
            a
              h4.resultTitle 
                | Active Alerts - National Weather Service
            p.resultPreviewText
              | Tornado Warning: Take Action! A tornado has been sighted or 
              | indicated in Reed County, FL. There is imminent danger to life 
              | and property. Move to an interior room on the lowest ...
              
            p.resultURL fiveflagspark.com
            a
              h4.resultTitle 
                | "Tornado Coaster" Opening Next Year! - Five Flags Theme Park
            p.resultPreviewText
              | Five Flags announces construction plans for “Tornado Coaster,” a 
              | record-breaking roller coaster that is first of its kind in the 
              | country. ...

block scripts
  script(src='/module_js/advancedlit/advancedlit_tutorial.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
