extends ../ui_layout

block content
  
//- insert code for article after RAs provide design
//- will probably need to create 3 sim pages

block scripts
  script(src='/module_js/advancedlit/advancedlit_sim.js')
  script(src='/module_js/base_sim.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
