extends ../../ui_layout

block content
    .ui.container
        .limit
            h1.ui.header.large#learn-title
                .content 
                    i.book.icon
                    | References
            br             
            i.source [1] U.S. Food and Drug Administration (FDA) 
                a(href='https://www.fda.gov/drugs/buying-using-medicine-safely/medication-health-fraud' target='_blank') 'Medication Health Fraud'
            br
            i.source [2] Federal Trade Commission (FTC)
                a(href='https://consumer.ftc.gov/articles/common-health-scams' target='_blank') 'Common Health Scams'
            br
            i.source [3] Food and Drug Administration (FDA)
                a(href='https://www.fda.gov/cosmetics/cosmetics-laws-regulations/it-cosmetic-drug-or-both-or-it-soap#Definedrug' target='_blank') 'Is It a Cosmetic, a Drug, or Both? (Or Is It Soap?)'
            br
            i.source [4] Food and Drug Administration (FDA)
                a(href='https://www.fda.gov/drugs/frequently-asked-questions-popular-topics/prescription-drugs-and-over-counter-otc-drugs-questions-and-answers' target='_blank') 'Prescription Drugs and Over-the-Counter (OTC) Drugs'
            br
            i.source [5] Food and Drug Administration (FDA)
                a(href='https://www.fda.gov/drugs/news-events-human-drugs/medication-health-fraud-and-avoiding-medication-scams-cynthia-ng' target='_blank') 'Medication Health Fraud and Avoiding Medication Scams with Cynthia Ng'
            br
            i.source [6] Food and Drug Administration (FDA)
                a(href='https://www.fda.gov/drugs/bioterrorism-and-drug-preparedness/how-spot-health-fraud' target='_blank') 'How to Spot Health Fraud'
            br
            i.source [7] Food and Drug Administration (FDA)
                a(href='https://www.fda.gov/media/151975/download#:~:text=What%20does%20“FDA%20approved”%20mean,the%20known%20and%20potential%20risks' target='_blank') 'About FDA: Patient QandA'
            br
            i.source [8] Food and Drug Administration (FDA)
                a(href='https://www.fda.gov/medical-devices/consumers-medical-devices/are-there-fda-registered-or-fda-certified-medical-devices-how-do-i-know-what-fda-approved' target='_blank') 'Are There "FDA Registered" or "FDA Certified" Medical Devices? How Do I Know What Is FDA Approved?'
            br
            i.source [9] WebMD
                a(href='https://www.webmd.com/pain-management/what-is-the-placebo-effect' target='_blank') 'What Is the Placebo Effect?'
            br
            i.source [10] Harvard Health Publishing
                a(href='https://www.health.harvard.edu/newsletter_article/the-power-of-the-placebo-effect' target='_blank') 'The Power of the Placebo Effect'
            br
            i.source [11] Food and Drug Administration (FDA)
                a(href='https://www.fda.gov/drugs/otc-drug-review-process-otc-drug-monographs#:~:text=An%20OTC%20drug%20monograph%20establishes,GRASE' target='_blank') 'OTC Drug Review Process | OTC Drug Monographs'
            br
            i.source [12] FDA 101: Dietary Supplements. 
                a(href='https://www.fda.gov/consumers/consumer-updates/fda-101-dietary-supplements' target='_blank') 'Food and Drug Administration (FDA)'
            br
            i.source [13] Questions and Answers on Dietary Supplements. 
                a(href='https://www.fda.gov/food/information-consumers-using-dietary-supplements/questions-and-answers-dietary-supplements#:~:text=The%20Federal%20Trade%20Commission%20' target='_blank') 'Food and Drug Administration (FDA)'
            br 
            i.source [14] Abbreviated New Drug Application.
                a(href='https://www.fda.gov/drugs/types-applications/abbreviated-new-drug-application-anda' target='_blank') 'Food and Drug Administration (FDA)'
            br 
            i.source [15] Dietary Supplements: Questions To Ask. 
                a(href='https://www.youtube.com/watch?app=desktop&v=CSP07ivTbLs' target='_blank') 'Federal Trade Commission (FTC)'
            br
            i.source [16] How to Buy Medicines Safely From an Online Pharmacy.
                a(href='https://www.fda.gov/consumers/consumer-updates/how-buy-medicines-safely-online-pharmacy' target='_blank') 'Food and Drug Administration (FDA)'
            br 
            i.source [17] US FDA and FTC: Opioid Addiction and Health Fraud.
                a(href='https://d1wqtxts1xzle7.cloudfront.net/99977890/U.S._20FDA_20and_20FTC_Opioid_20Addiction_20and_20Health_20Fraud-libre.pdf?1679073820=&response-content-disposition=inline%3B+filename%3DU_S_FDA_and_FTC_Opioid_Addiction_and_Hea.pdf&Expires=1722885116&Signature=IDPvUBdeU8C~ZMdTzMgp8GcTSll5jxC6sI7ro4NNCqCtVTKp-tf95mi04ifLWh9T0PKqGhf5dmnvrvkUypUXm8k8lcx-IgzMxM7JCwI9zzB5q13Qy7hit7mlNjdE3VrGkdAoGiWWVBd0m3wXUfzwwyhvjZcf4SI5me9D1uS1I0wBUqRX5p79UGJ-YtLb5wd6OxVDJ36dUE7aF9CBFccjiPeHCx95anQlUxKfrKDSP3eaUrF86eCQeSWESoJHMSxJ1o32qSOrTTkZ5TDM5igULfjBEhab65T3zAtjK9jAltsHofUBY93NIxmM-I52L7gr~TPB-wS7Quz3HVebgQIdtA__&Key-Pair-Id=APKAJLOHF5GGSLRBV4ZA' target='_blank') '54th USPHS Scientific & Training Symposium'
            br 
            i.source [18] Considering an Online Pharmacy?.
                a(href='https://www.fda.gov/drugs/besaferx-your-source-online-pharmacy-information/considering-online-pharmacy' target='_blank') 'Food and Drug Administration (FDA)'
            br
            i.source [19] Unproven Remedies for Arthritis. 
                a(href='https://orthop.washington.edu/patient-care/articles/arthritis/unproven-remedies-for-arthritis.html' target='_blank') 'University of Washington Medicine'
            br
            i.source [20] New Drug Application. 
                a(href='https://www.fda.gov/drugs/types-applications/new-drug-application-nda' target='_blank') 'Food and Drug Administration (FDA)'
            br
            i.source [21] Scams tied to Ozempic and other new weight-loss drugs are surging. 
                a(href='https://www.latimes.com/business/story/2024-06-12/ozempic-wegovy-semaglutide-scams-protect-yourself' target='_blank') 'Los Angeles Times'
                        br
            i.source [22] Registration and Listing.
                a(href='https://www.fda.gov/industry/fda-basics-industry/registration-and-listing' target='_blank') 'Food and Drug Administration (FDA)'
            br
            i.source [23] Learn if a Medical Device Has Been Cleared by FDA for Marketing.
                a(href='https://www.fda.gov/medical-devices/consumers-medical-devices/learn-if-medical-device-has-been-cleared-fda-marketing' target='_blank') 'Food and Drug Administration (FDA)'
            br
            i.source [24] Additions/Deletions for Prescription and OTC Drug Product Lists.
                a(href='https://www.fda.gov/drugs/drug-approvals-and-databases/additionsdeletions-prescription-and-otc-drug-product-lists' target='_blank') 'Food and Drug Administration (FDA)'












