#popups.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Pop-up Warnings
                    p Scammers also use pop-ups as a way to trick targets into believing their device already has a problem. When targets proactively reach out using the method provided in the pop-up window, the scam begins…
                
                    i.source *Sources: 1. FTC. 
                        a(href='https://consumer.ftc.gov/articles/robocalls' target='_blank') 'Robocalls.' 

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src=public_resources + '/images/modules/tech/types-popup.svg' style='margin-left: auto; margin-right: auto')
