#pressure.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Pressure to Act fast
                    p Scammers may use social engineering techniques during a tech support scam to make their potential victims feel pressured to act quickly [12,13]. 
                    i "...they may tell you that your computer is vulnerable to viruses because it is no longer protected [8]. These tactics manipulate your emotion into responding quickly out of fear."
                    br
                    i.source *Sources: 1. America’s Cyber Defense Agency. 
                        a(href='https://www.cisa.gov/news-events/news/avoiding-social-engineering-and-phishing-attacks' target='_blank') 'Avoiding Social Engineering and Phishing Attacks.' 

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src='/images/tech/filler.png' style='margin-left: auto; margin-right: auto')
