#robocalls.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Robocalls
                    p Automated robocalls enable scammers to reach many people quickly. This allows them to contact large groups of people without having to have a real person on the phone. Only once someone contacts the number provided will they be connected to a real person. This allows the scammers to focus on the most susceptible targets [1,6,8].
                    
                    i.source *Sources: 1. FTC. 
                        a(href='https://consumer.ftc.gov/articles/robocalls' target='_blank') 'Robocalls.' 

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src='/images/tech/robotcalls-support.svg' style='margin-left: auto; margin-right: auto')
