#spoofing.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Spoofing
                    p Tech support scammers often impersonate real tech support companies, like Microsoft, Apple, and Norton. They will do this by disguising their caller ID or using company logos. This is called spoofing [1,3,5]. 

                    i "Scammers are crafty. They can make calls, emails, and messages look legitimate—even faking caller IDs. Always be skeptical of unsolicited contacts, no matter how real they seem. Verify independently before trusting.

                    i.source *Sources: 1. FTC. 
                        a(href='https://consumer.ftc.gov/articles/how-spot-avoid-and-report-tech-support-scams' target='_blank') 'How To Spot, Avoid, and Report Tech Support Scams.' 
                    i.source  2. FBI. 
                        a(href='https://www.fbi.gov/how-we-can-help-you/scams-and-safety/common-scams-and-crimes/spoofing-and-phishing' target='_blank') 'Spoofing and Phishing.' 

                .six.wide.computer.sixteen.wide.tablet.middle.aligned.column
                    img.ui.medium.image(src=public_resources + '/images/modules/tech/spoofing-laptop.svg' style='margin-left: auto; margin-right: auto')
