#takeaways.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            | Congratulations!
                    #text
                        p You've completed "Techniques" and earned a bronze badge!  
                        p You now know:
                        .ui.bulleted.list
                            .item(style="line-height: 1rem;")
                                | How tech support scammers operate
                        p This knowledge will help you keep yourself and others safe from identity theft.
                .six.wide.center.aligned.column
                    img.ui.small.centered.image#earned_badge(src= public_resources + '/badges/identity/trained_tactician.svg' onmouseenter="animateBadge()" style="margin-bottom: -10px; width: 125px;")
                    h3 <strong>Trained</strong>
                        br
                        | <strong>Tactician</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")