#types.hidden
    .ui.container#types-read
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Fabricating Emergency
            p(style="margin-top: -10px;") Grandparent scammers frequently use these fabricated emergency and frightening scenarios to exploit grandparents' emotional vulnerabilities and get them to send money:
            .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click the arrows to learn more.
            .ui.stackable.middle.aligned.grid#double-slider(style="margin-top: -20px;")
                .column.centered.six.wide.computer.only.ten.wide.tablet.only
                    #image-slider(style="margin: 0 auto;")
                        img(src='/images/grandparent/types.png' alt='Shoulder Surfing' style="max-width: 310px; margin-left: 50px;")
                        img(src='/images/grandparent/types-2.png' alt='Shoulder Surfing'  style="max-width: 310px; margin-left: 70px;")
                        img(src='/images/grandparent/types-3.png' alt='Shoulder Surfing' style="max-width: 310px; margin-left: 100px;")
                        img(src='/images/grandparent/types-4.png' alt='Shoulder Surfing' style="max-width: 225px; margin: 0 auto; padding-top: -15px; margin-left: 145px;")
                        img(src='/images/grandparent/types-5.png' alt='Fake Social Security Administration (SSA) employee' style="margin-top: 50px; max-width: 275px; margin-left: 150px;")

                .column.ten.wide.computer.only.fifteen.wide.tablet.only
                    #steps-slider
                        //- Card 1
                        .ui.basic.card
                            .content
                                h2 Accidents
                                p The theme of a <b>car accident while traveling in Canada or overseas</b> is often used in grandparent scams. Scammers pretend to be the grandchildren and claim to be injured or tested positive for alcohol while driving, making the situation seem urgent and severe. Other Types of Accidents: being arrested/kidnapped when traveling overseas, legal troubles, medical emergencies
                                    //- a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank')
                                    //-     sup [1]
                        //- Card 2 
                        .ui.basic.card
                            .content
                                h2 Reasons for Requesting Money
                                p Based on the story they use, they may ask for money for one or more of the following reasons: posting bail, paying a ransom, covering medical treatment, or funding car repairs. These reasons can easily cause <b>pressure and panic</b> in grandparents, making them more susceptible to complying with the scammer's demands.
                                    //- a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank')
                                    //-     sup [1]
                        //- Card 3
                        .ui.basic.card
                            .content
                                h2 Prey on Vulnerable Moments
                                p The initial contact from the scammer will often come late at night when people may be disoriented or less alert, making them more vulnerable to being confused or misled.
                                p Contacting during times of bad weather, natural disasters, or other concerning events when people are already in a heightened state of worry about loved ones' safety. This preys on the grandparents’ emotional vulnerability.   
                        //- Card 4
                        .ui.basic.card
                            .content
                                h2 Spoofing Caller ID
                                p Scammers use fake caller ID information to appear local or trusted, such as impersonating a government agency, police department, or even the law firm that the faked lawyer claims to be from. This practice is known as caller ID spoofing, allowing scammers to use any phone number they choose. Therefore, due to caller ID spoofing technology, even if the calling number is correct, you shouldn't fully trust it, as scammers can fake this number.
                                    //- a(href='https://www.aarp.org/money/scams-fraud/info-2019/social-security.html' target='_blank')
                                    //-     sup [2]
                        //- Card 5
                        .ui.basic.card
                            .content
                                h2 Voice-changing Software to Mimic Loved Ones
                                p Now, certain AI tools make it easy for scammers to clone your loved one's voice. They can then use this cloned voice to communicate with you and deceive you.
                                    //- a(href='https://www.aarp.org/money/scams-fraud/info-2019/social-security.html' target='_blank')
                                    //-     sup [2]

                i.source(style="position: relative !important; top: -100px !important;") *Sources: 1. U.S. Department of Justice 
                    a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank') 'Identity Theft' 
                    | 2. AARP 
                    a(href='https://www.aarp.org/money/scams-fraud/info-2019/social-security.html' target='_blank') 'Social Security Scams' 



