#websites.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Fake Websites
                    p Scammers may create fake websites and advertisements for their fake tech support companies. These fake websites will sometimes appear in internet search results (e.g., Google search) when potential victims are looking for tech support services [1]. 
                    p Characteristics of fake websites include:
                    .ui.bulleted.list 
                        .item 
                            | Lack of “Shipping” and “Privacy Policy” pages. 
                        .item 
                            | Unusual payment methods
                        .item 
                            | Broken links
                        .item 
                            | Spelling, grammar and formatting issues
                        .item 
                            | Poor quality content and website design

                    
                    i.source *Sources: 1. Identity Guard. 
                        a(href='https://www.identityguard.com/news/how-to-tell-if-a-website-is-fake' target='_blank') 'How To Tell If a Website Is Fake: 12 Warning Signs.' 

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src='/images/tech/filler.png' style='margin-left: auto; margin-right: auto')
