.ui.raised.segments
    .content
        .ui.segment
            i.apple.big.icon
            .ui.header.centered.aligned(style='font-weight: bolder;') Thanks for choosing Apple.
            p Dear Customer,
            p Thank you for contacting Apple Customer Service. We understand that you're facing some issues with your Apple device, and we're here to help!
            p Could you please provide us with more details about the problem you're experiencing? This will help us better understand the situation and provide you with the appropriate solution.
            p.purple-text You can reply to this email with the information attached.
            p.purple-text Thank you,
            p.purple-text Sarah (she/her)
            p.purple-text iTunes Store Customer Support
            p
                a(href='' style="pointer-events: none;") http://www.apple.com/support/itunes
