/* desktop menu */

.ui.vertical.menu {
    width: auto;
    max-height: 100%;
}

.ui.sticky.sideMenu {
    width: 100%;
    height: 500px;
}

.ui.vertical.menu a.item {
    margin-bottom: 0;
}


/* mobile menu */

.ui.top.fixed.vertical.menu.mobileView {
    width: 100%;
    padding-top: 5em;
}


/* hiding the notifications display */

.notificationsDisplay {
    display: none;
}


/* notifications */

.ui.feed>.event>.label {
    overflow: hidden;
    width: 3em;
    height: 3em;
}

.ui.feed>.event>.label>img {
    width: 100%;
    height: 100%;
    display: inline;
    margin: 0 auto;
}