#authority.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Impersonating Authority Figure
                    p Social media posts, phone directories, and obituaries are the main sources used to gather information about potential targets. 
                    p The scammers look for:
                    .ui.bulleted.list 
                        .item 
                            | people who are already in distress from losing a loved one.
                        .item 
                            | details about a person's life, including their: address, birthdates, the name of family members, where grandchildren go to school, vacation plans, and even telephone numbers.
                    //- p All the collected information is used to create a convincing story.



                    i.source *Sources: 1. Grandparent-Family Emergency Scam.
                        a(href='https://www.michigan.gov/consumerprotection/protect-yourself/consumer-alerts/scams/grandparent-family-emergency-scam#:~:text=Scammers%20may%20also%20check%20Facebook,to%20be%20the%20real%20grandchild.' target='_blank') 'Consumer Protection.' 

                    //- p [4] Elder Fraud Report. 2023. Internet Crime Complaint Center (IC3). https://www.ic3.gov/Media/PDF/AnnualReport/2023_IC3ElderFraudReport.pdf

                        //- ul
                        //-     li Family and friend imposter scams is up +36% since last year for ages 60+
                        //-     li Results in losses of $32 million
                    //- .ui.bulleted.list 
                    //-     .item 
                    //-         | Family and friend imposter scams is up +36% since last year for ages 60+
                    //-     .item 
                    //-         | Results in losses of $32 million

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src='/images/grandparent/exploit-data.png' style='margin-left: auto; margin-right: auto')
                    br
                    b All the collected information is used to create a convincing story.
