#avatar.hidden
    .ui.container#disclaimer-read
        .limit#learn-target
            h1.ui.header.large#learn-title

        .ui.grid.computer.only.tablet.only#avatar-encourage-start
            .row
                .sixteen.wide.column
                    .speech-div
                        img.dart_image.ui.medium.image#avatarSize(src=user.avatarImg)

                        .ui.large.label.blue-pointing#speechBubble
                            p#speechText
                                | Scammers can exploit information about your loved ones posted on social media. Even if you are careful not to share your personal or family information, be cautious that other relatives may inadvertently share details about you through family photos or posts about family events. Scammers can then use this information to make their lies more convincing.


