#avatar.hidden
    .ui.container#disclaimer-read
        .limit#learn-target
            h1.ui.header.large#learn-title

        .ui.grid.computer.only.tablet.only#avatar-encourage-start
            .row
                .sixteen.wide.column
                    .speech-div
                        img.dart_image.ui.medium.image#avatarSize(src=user.avatarImg)

                        .ui.large.label.blue-pointing#speechBubble
                            p#speechText
                                | Even if you're careful not to share personal information online, your family members (like your children) might post family photos or other details that inadvertently expose information about you. Scammers can exploit such information to deceive you, so it is important to be cautious.

