#grandchild.hidden
    .ui.container(style="width: 75%;")
        .ui.grid
            .ten.wide.computer.sixteen.wide.tablet.column
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        span#narrate-title-grandchild Impersonating Your Grandchild
                p
                    span#narrate-1-grandchild  
                        span Grandparent scams typically start with a phone call from someone claiming to be your grandchild. 
                    span#narrate-2-grandchild 
                        span They might provide your grandchild's name and location to gain your trust.
                    a(href='https://www.fbi.gov/news/stories/the-grandparent-scam' target='_blank')
                    sup [1] 
                p
                    span#narrate-3-grandchild 
                        span Alternatively, if they don't have your grandchild's name, they may begin with "Hi Grandpa/Grandma" and wait for you to provide further details, such as your grandchild's name or other information they can use to convince you they are your loved one.

                i.source *Sources: 1. FBI.
                    a(href='https://www.fbi.gov/news/stories/the-grandparent-scam' target='_blank') 'The Grandparent Scam.' 
                i.source 2.  Holly Haase, Inside Edition. 
                    a(href='https://www.youtube.com/watch?v=KpgwhdA0Wbg' target='_blank') 'Grandparent Scam Exposed.'


                //- p [4] Elder Fraud Report. 2023. Internet Crime Complaint Center (IC3). https://www.ic3.gov/Media/PDF/AnnualReport/2023_IC3ElderFraudReport.pdf

                    //- ul
                    //-     li Family and friend imposter scams is up +36% since last year for ages 60+
                    //-     li Results in losses of $32 million
                //- .ui.bulleted.list 
                //-     .item 
                //-         | Family and friend imposter scams is up +36% since last year for ages 60+
                //-     .item 
                //-         | Results in losses of $32 million

            .six.wide.computer.sixteen.wide.tablet.column
                div.ui.header
                    i.phone.volume.icon
                    | Audio Example
                //- a(href='https://dart-store.s3.amazonaws.com/grandparent-audio/randy.mp3' target='_blank') Listen to the audio example
                .audio-player
                    .wrap
                        audio#audio.with-transcript(controls)
                            source(src=`${public_resources}/audio/grandparent-audio/randy.mp3`  type="audio/mpeg")
                            | Your browser does not support the audio element.
                        ul#transcript(data-audio-file=`${public_resources}/audio/grandparent-audio/randy.mp3`)
                            li.speaker1.current(data-timecode="00:00") Scammer: Hi Grandpa.
                            li.speaker2(data-timecode="00:01") Grandpa: What?
                            li.speaker1(data-timecode="00:02") Scammer: Do you know who this is?
                            li.speaker2(data-timecode="00:03") Grandpa: Randy?
                            li.speaker1(data-timecode="00:04") Scammer: Yeah.
                            li.speaker2(data-timecode="00:05") Grandpa: What's the matter?
                            li.speaker1(data-timecode="00:06") Scammer: I've been in a car wreck.
                            li.speaker2(data-timecode="00:08") Grandma: Are you hurt bad?
