#types.hidden
    .ui.container#types-read
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Techniques
            .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click the arrows to learn more.
            .ui.stackable.middle.aligned.grid#double-slider(style="margin-top: -20px;")
                .column.centered.six.wide.computer.only.ten.wide.tablet.only
                    #image-slider(style="margin: 0 auto;")
                        img(src='/images/shoulder-surfing.png' alt='Shoulder Surfing')
                        img(src='/images/paperwork.svg' alt='Shoulder Surfing')
                        .htmlImageExample#walmart-email(style="position: relative; max-width: 400px; padding-top: 30px")
                            .ui.padded.raised.segment
                                //- span#subjectLine
                                //-     | URGENT!!!
                                //- #inboxLabel.ui.large.label
                                //-     | inbox
                                //-     i.delete.icon
                                .ui.icon.message(style="margin: 0px; margin-left: -15px; margin-top: -20px;")
                                    i.user.circle.blue.icon(style="margin: 0px; margin-left: -20px; margin-right: 10px;")
                                    .content.senderInfo
                                        .header(style="font-size: 1.45rem;")
                                            | Walmrt
                                            span.fromEmail &lt;walmrt@gmail.com&gt;
                                //- p Hi customer. This is an URGENT message!
                                p Your payment was declined on a recent purchase. Resubmit your credit card details at this link below within 24 hours.
                                p Click here NOW! 
                                    span.fakeLink http://jdksj6879sh.com
                        

                        img(src='/images/fakessa.png' alt='Fake Social Security Administration (SSA) employee' style="margin-top: 50px;")

                .column.ten.wide.computer.only.fifteen.wide.tablet.only
                    #steps-slider
                        //- Card 1
                        .ui.basic.card
                            .content
                                h2 In person
                                p “Shoulder surfing” – watching you from a nearby location as you enter in your telephone number or credit card number – or listening in on your conversation as you give your credit card number over the telephone.
                                    a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank')
                                        sup [1]
                        //- Card 2 
                        .ui.basic.card
                            .content
                                h2 Paperwork
                                p If you receive an application for “pre-approved” credit cards in the mail, but discard them without tearing up the enclosed materials, scammer may retrieve them and try to activate the cards for their use without your knowledge.
                                    a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank')
                                        sup [1]
                        //- Card 3
                        .ui.basic.card
                            .content
                                h2 Online
                                p Scammers often mimic a legitimate site or email address by using a slight variation in spelling. Or an email may look like it came from a legitimate company, but the actual email address is suspicious.  For example, this email's address "walmrt@gmail.com" has a misspelling of "walmart". Therefore, the email is not from the company's site.      
                        //- Card 4
                        .ui.basic.card
                            .content
                                h2 Fake employee
                                p Fake Social Security Administration (SSA) employees may claim to have found alleged problems with your Social Security number — for example, warning that it's been linked to criminal activity and suspended. These scammers may then ask you to confirm your number so they can reactivate it or claim they can issue you a new one for a fee.
                                    a(href='https://www.aarp.org/money/scams-fraud/info-2019/social-security.html' target='_blank')
                                        sup [2]
                i.source *Sources: 1. U.S. Department of Justice 
                    a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank') 'Identity Theft' 
                    | 2. AARP 
                    a(href='https://www.aarp.org/money/scams-fraud/info-2019/social-security.html' target='_blank') 'Social Security Scams' 



