#communication.hidden
    .ui.container
        .ui.grid
            .ten.wide.computer.sixteen.wide.tablet.middle.aligned.column
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Communication Guidelines
                .ui.bulleted.list(style="margin-top: 5px;")
                    .item 
                        .content 
                            | Always take new online relationships slowly!
                    .item 
                        .content 
                            | If the words they are using make you uncomfortable, stop talking with them.
                    .item 
                        .content 
                            | Talk with your friends and family about your new relationship to get their impressions!
            .six.wide.computer.sixteen.wide.tablet.center.aligned.column
                img(src='/images/romance/communication_guidelines.png')
