#contacted.hidden
    .ui.container(style="width: 100%;")
        .limit
            #contacted-read
                h1.ui.header.large#learn-title(style="margin-top: 10px;")
                    .content
                        i.book.icon
                        | When being contacted by scammers
            .ui.stackable.grid(style="margin-top: 0px;")
                .eight.wide.column
                    .dosContainer
                        .ui.large.blue.fluid.label
                            i.thumbs.up.icon 
                            | Do's
                        .ui.list 
                            .item 
                                i.check.green.icon 
                                .content 
                                    | Always ask yourself “Do I have an account with the company or know the person who is contacting me?” before giving out personal information.
                            .item 
                                i.check.green.icon 
                                .content 
                                    | Look up the company’s phone number and call the company to ask if any request is legitimate and safe.
                            .item 
                                i.check.green.icon 
                                .content 
                                    | Carefully examine spellings in email addresses and URLs to check if there are any minor typos because scammers may try to pose as a legitimate company.
                            .item 
                                i.check.green.icon 
                                .content 
                                    | Check whether the website has secure symbols, like a padlock or key symbol on your status bar.
                .eight.wide.column
                    .dontsContainer
                        .ui.large.red.fluid.label
                            i.thumbs.down.icon 
                            | Don'ts
                        .ui.list 
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Don’t share any personal information over the internet and on public computers unless you are sure it’s safe or you initiated the contact
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Don’t give out usernames and passwords
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Don’t click on anything in an unsolicited email or text
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Don’t call a number left on your voicemail by a robocaller or listed in a suspicious email or text
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Don’t download anything you don’t know is safe
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Don’t use websites that start with “http://” instead of “https://” 
                img.ui.centered.fluid.image(src='/images/padlock.svg' style="width: 650px; z-index: -1; margin-top: 5px; margin-bottom: -50px;" alt="A padlock is a symbol of a secure website")
                .ui.centered.row
                    p(style="line-height: 1.4rem; font-size: 1.2rem; text-align: left; font-style: italic; width: 450px; margin-left: 100px; margin-top: -10px;") A website with a padlock and https is considered secure as it uses encryption to protect your data.