#guidelines.hidden
    .ui.container(style="width: 100%;")
        .limit
            #preventative-read
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Preventative measures
                        a(href='https://www.texasattorneygeneral.gov/consumer-protection/identity-theft/help-prevent-identity-theft#:~:text=Store%20documents%20that%20have%20your,them%20for%20a%20specific%20reason' target='_blank')
                            sup [1]
                        a(href='https://consumer.ftc.gov/articles/creating-strong-passwords-and-other-ways-protect-your-accounts' target='_blank') 
                            sup [2]
            .ui.stackable.grid(style="margin-top: 10px;")
                .eight.wide.column
                    .dosContainer
                        .ui.large.blue.fluid.label
                            i.thumbs.up.icon 
                            | Do's
                        .ui.list 
                            .item 
                                i.check.green.icon 
                                .content 
                                    | Shred old documents, receipts, credit offers, account statements, and expired credit cards, and blackout sensitive information.
                            .item                                 
                                i.check.green.icon 
                                .content 
                                    | Collect your mail every day and place a hold on it when away for several days.
                            .item                                 
                                i.check.green.icon 
                                .content 
                                    | Review your credit card and bank account statements regularly.
                            .item                                 
                                i.check.green.icon 
                                .content 
                                    | Set up two-factor authentication on any account that allows it.
                            .item                                 
                                i.check.green.icon 
                                .content 
                                    | Create passwords with over 8 characters, avoid using your birthday or pet names.
                            .item                                 
                                i.check.green.icon 
                                .content 
                                    | Log out completely and close the browser after computer use.

                            //- .item Always ask yourself “Do I have an account with the company or know the person who is contacting me?” before giving out personal information.
                            //- .item Look up the company’s phone number and call the company to ask if any request is legitimate and safe.
                            //- .item Carefully examine spellings in email addresses and URLs to check if there are any minor typos because scammers may try to pose as a legitimate company.
                            //- .item Check whether the website has secure symbols, like a padlock or key symbol on your status bar.
                .eight.wide.column
                    .dontsContainer
                        .ui.large.red.fluid.label
                            i.thumbs.down.icon 
                            | Don'ts
                        .ui.list 
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Don’t carry your social security card in your wallet.
                            .item                                 
                                i.times.red.icon 
                                .content 
                                    | Don’t share personal information on social media (e.g., the schools you attended, your birthday, or your pet name). Scammers can use that as answers to security questions for finding passwords.


                            //- .item Don’t share any  personal information over the internet and on public computers unless you are sure it’s safe or you initiated the contact 
                            //- .item Don’t give out usernames and passwords
                            //- .item Don’t click on anything in an unsolicited email or text
                            //- .item Don’t call a number left on your voicemail by a robocaller or listed in a suspicious email or text 
                            //- .item Don’t download anything you don’t know is safe
                            //- .item Don’t use websites that start with “http://” instead of “https://” 
                //- img.ui.centered.fluid.image(src='/images/padlock.svg' style="width: 650px; z-index: -1; margin-top: 5px; margin-bottom: -10px;" alt="A padlock is a symbol of a secure website")
                .ui.row(style="margin-left: 20px; margin-top: -5px;")
                    i.source *Sources: 1. Ken Paxton Attorney General of Texas 
                        a(href='https://www.texasattorneygeneral.gov/consumer-protection/identity-theft/help-prevent-identity-theft#:~:text=Store%20documents%20that%20have%20your,them%20for%20a%20specific%20reason' target='_blank') 'Help Pre­vent Iden­ti­ty Theft' 
                        br
                        | 2. Federal Trade Commission Consumer Advice 
                        a(href='https://consumer.ftc.gov/articles/creating-strong-passwords-and-other-ways-protect-your-accounts' target='_blank') 'Creating Strong Passwords and Other Ways To Protect Your Accounts' 
