#intro-video.hidden
    .ui.container#raised-container.center-layout
        .limit
            #common-measures-read
                h1.ui.header.large#learn-title
                    .content
                        i.video.icon
                        |  Protecting Yourself
                //- p Click the image to start the video
                .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content 
                        p Video coming soon
            br
            p INT. HOME - DAY. A man in his mid to late 60s is going through his computer, learning how to protect himself from Romance Scammers. Narrator/DART Agent (Informative) introduces tips for self-protection.
            p The man receives messages asking for money, which he reports. Tip 1: Never send money to someone you’ve only met online! He adjusts his Facebook privacy settings. Tip 2: Update your privacy settings on social media to keep personal information private.
            p Having a conversation with his son and daughter, looking concerned while they look affirming. Tip 3: Discuss new relationships with friends and family for their impressions. The man, looking serious on the phone, is advised, Tip 4: If financial info was given to a scammer, contact the bank immediately for potential transaction cancellation or reimbursement.
            p Showcasing the FTC’s reporting system webpage, the narrator emphasizes, "Help protect others! Always report Romance Scams!"

            //- #video-container
            //-     video-js#my_video_1.video-js.vjs-default-skin.vjs-show-big-play-button-on-pause(width='640px' height='360px' controls='' preload='none' data-setup='{ "poster":"/images/warning-poster.png", "aspectRatio":"16:9", "playbackRates": [0.5, 0.75, 1, 1.5, 2] }')
            //-         source(src='https://dart-store.s3.amazonaws.com/identity-warning.mp4' type='video/mp4')