#privacy.hidden
    .ui.container#trusted-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .eight.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Privacy Settings 
                    p Configuring your privacy settings on social media and dating websites helps safeguard your personal information. By adjusting these settings, you control who can access your profile and data, reducing the risk of exploitation by scammers or unauthorized individuals.
                    p For specific guidance on adjusting these settings, consider searching the help center of the social media or dating app you're using. For example, Facebook provides a 
                        a(href='https://www.facebook.com/help/193677450678703' target='_blank') tutorial on configuring privacy settings 
                        | at their help center.
                .eight.wide.computer.sixteen.wide.tablet.center.aligned.column
                    img.ui.big.image.centered(src=`${public_resources}/images/modules/romance/facebook_settings.png` alt="facebook settings")
                    i Selecting privacy settings on Facebook

