#privacy.hidden
    .ui.container#trusted-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Privacy Settings 
                p Configuring your privacy settings on social media and dating websites helps safeguard your personal information. On most websites, these preferences are found in the settings page. By adjusting these settings, you control who can access your profile and data, reducing the risk of exploitation by scammers or unauthorized individuals.


                p 
                img.ui.image.centered(src='/images/romance/romance-protection-privacy.png')

