#reverse-image.hidden
    .ui.container#trusted-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Reverse Image Search 
                p Using this technique involves uploading an image or providing its URL to a search engine, such as Google Images, to find other instances of that image on the internet. This process can help verify the authenticity of profiles or identify potential scams.



                p 
                img.ui.image.centered(src='/images/romance/romance-protection-reverse.png')

