#reverse-image.hidden
    .ui.container#trusted-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Reverse Image Search 
                p Update your privacy settings on social media so that only friends and loved ones can see what you share.  (On most apps, these preferences are found in the settings page.)

                p 
                img.ui.image.centered(src='/images/romance/romance-protection-search.png')

