#reverse-image.hidden
    .ui.container#trusted-read
        .limit#learn-target
            .ui.grid
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Reverse Image Search 
                p Using this technique involves uploading an image or providing its URL to a search engine, such as Google Images, to find other instances of that image on the internet. This process can help verify the authenticity of profile pictures and other images shared with you by potential scammers. If the image appears on multiple websites with different names or stories, it may indicate that the person you are communicating with is not who they claim to be.
                p 
                img.ui.image.centered(src='/images/romance/romance-protection-reverse.png')

