#search.hidden
    .ui.container
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .eight.wide.computer.sixteen.wide.tablet.column#vertically-centered-column 
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Search for Message
                    p See if you can find the same message sent to other people through a Google search. If the message is indeed a scam, search results may reveal warnings, reports, or discussions about similar fraudulent activities, allowing you to recognize the scam and avoid falling victim to it.

                    //- p Copying a suspicious message and pasting it into a search engine to see if others have received it and identified it as a scam can help you protect yourself from romance and friendship scams. This practice helps protect you by providing context and warning signs from other potential victims. If the message is indeed a scam, search results may reveal warnings, reports, or discussions about similar fraudulent activities, allowing you to recognize the scam and avoid falling victim to it.
                .eight.wide.computer.sixteen.wide.tablet.center.aligned.column
                    img.ui.image.centered(src=`${public_resources}/images/modules/romance/romance-protection-search.png` alt="search for text on google")
//-                     i Selecting privacy settings on Facebook

