#search.hidden
    .ui.container#activity-read(style="width: 100%;")
        .limit#learn-target
            h1.ui.header.large#learn-title(style="margin-top: 10px;")
                .content
                    i.book.icon
                    | Activity
            .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Select thumbs up if you should do it and select thumbs down if you shouldn’t do it.
            .ui.stackable.grid
                .eight.wide.column
                    .ui.vertical.basic.segments
                        .ui.vertical.segment
                            .ui.grid
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.green-button
                                        i.icon.thumbs.up
                                .two.wide.column#thumb-down
                                    .ui.circular.small.basic.icon.button.red-button(data-content="Try again")
                                        i.icon.thumbs.down
                                .twelve.wide.column
                                    p Set up two-factor authentication on any account that allows it.                       
                        .ui.vertical.segment
                            .ui.grid
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.green-button
                                        i.icon.thumbs.up
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.red-button(data-content="Try again")
                                        i.icon.thumbs.down
                                .twelve.wide.column
                                    p Collect your mail every day and place a hold on it when away for several days.
                        .ui.vertical.segment
                            .ui.grid
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.red-button(data-content="Try again")
                                        i.icon.thumbs.up
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.green-button
                                        i.icon.thumbs.down
                                .twelve.wide.column
                                        p Carry your social security card in your wallet.
                        .ui.vertical.segment
                            .ui.grid
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.green-button
                                        i.icon.thumbs.up
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.red-button(data-content="Try again")
                                        i.icon.thumbs.down
                                .twelve.wide.column
                                    p Shred old documents, receipts, credit offers, account statements, and expired credit cards, and blackout sensitive information.
                .eight.wide.column
                    .ui.vertical.basic.segments
                        .ui.vertical.segment
                            .ui.grid
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.red-button(data-content="Try again")
                                        i.icon.thumbs.up
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.green-button
                                        i.icon.thumbs.down
                                .twelve.wide.column
                                        p Share personal information on your public social media.
                        .ui.vertical.segment
                            .ui.grid
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.green-button
                                        i.icon.thumbs.up
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.red-button(data-content="Try again")
                                        i.icon.thumbs.down
                                .twelve.wide.column
                                    p Check your medical bills, benefit statements, and records for suspicious activity.
                        .ui.vertical.segment
                            .ui.grid
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.green-button
                                        i.icon.thumbs.up
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.red-button(data-content="Try again")
                                        i.icon.thumbs.down
                                .twelve.wide.column
                                    p Review your credit card statements regularly.
                        .ui.vertical.segment
                            .ui.grid
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.green-button
                                        i.icon.thumbs.up
                                .two.wide.column
                                    .ui.circular.small.basic.icon.button.red-button(data-content="Try again")
                                        i.icon.thumbs.down
                                .twelve.wide.column
                                    p Create passwords with over 8 characters, incorporating a mix of uppercase and lowercase letters, numbers, and symbols.
