#search.hidden
    .ui.container#trusted-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Search for Message
                p See if you can find the same message sent to other people through a Google search.

                p 
                img.ui.image.centered(src='/images/romance/romance-protection-search.png')

