#security.hidden
    .ui.container
        .ui.grid
            .ten.wide.computer.sixteen.wide.tablet.middle.aligned.column
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Security Guidelines
                .ui.bulleted.list(style="margin-top: 5px;")
                    .item 
                        .content 
                            | Never send money to someone you’ve never met in person, especially if your interactions have been solely online or over the phone!
                    .item 
                        .content 
                            | Keep the conversation going on the original website until you make sure the person you are talking to is who they say they are (i.e., you have been able to meet them in person or do a video call with them)
                    .item 
                        .content 
                            | Don’t share your personal information (SSN, bank account/password), intimate photos, or information about your friends or family with people you have not met in real life.
            .six.wide.computer.sixteen.wide.tablet.center.aligned.column
                img(src='/images/romance/security_guidelines.png', style='width: 300px;' alt="lock")
                    //- .ui.bulleted.list
                    //-     .item 
                    //-         .content 
                    //-             | Never send money to someone you’ve never met in person, especially if your interactions have been solely online or over the phone!
                    //-     .item 
                    //-         .content 
                    //-             | Always take new online relationships slowly!
                    //-     .item 
                    //-         .content 
                    //-             | Talk with your friends and family about your new relationship to get their impressions!
                    //-     .item 
                    //-         .content 
                    //-             | Keep the conversation going on the original website until you make sure the person you are talking to is who they say they are (i.e., you have been able to meet them in person or do a video call with them)
                    //-     .item 
                    //-         .content 
                    //-             | Learn the techniques scammers employ and what to look out for (Chapter 2)
                    //-     .item 
                    //-         .content 
                    //-             | Don’t share your personal information (SSN, bank account/password) or information about your friends or family with people you have not met in real life.
                    //-     .item 
                    //-         .content 
                    //-             | Look for inconsistencies in the information Romance Scammers may share (e.g., claim to be from Boston, but know nothing about the area).
                    //-     .item 
                    //-         .content 
                    //-             | Check their profile to see if they share more information about themselves, post pictures, and have friends.
                    //-     .item 
                    //-         .content 
                    //-             | Be cautious about people with brand new profiles, little personal information, and few friends and pictures.
                    //-     .item 
                    //-         .content 
                    //-             | If the words they are using make you uncomfortable, stop talking with them.
                    //-     .item 
                    //-         .content 
                    //-             | Notice if they live far away but are trying to connect with people in your area.