#types.hidden
    .ui.container#types-read
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Types
            .ui.icon.mini.message(style="padding: 5px; margin-top:-5px; margin-bottom: -10px; z-index: 99;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click the arrows to learn more.
            .ui.stackable.middle.aligned.grid#double-slider(style="margin-top: -20px;")
                .column.six.wide.computer.only.sixteen.wide.tablet.only
                    #image-slider(style="margin: 0 auto;")
                        img(src='/images/financial-theft.svg' alt='Financial Identity Theft')
                        img(src='/images/medical-theft.svg' alt='Medical Identity Theft')
                        img(src='/images/tax-theft.png' alt='Tax-Related Identity Theft' style="max-width: 18%; margin-left: 75px;")
                .column.ten.wide.computer.only.sixteen.wide.tablet.only
                    #steps-slider
                        //- Card 1
                        .ui.basic.card
                            .content
                                h2 Financial Identity Theft 
                                p Thieves use your personal information to open or use an account without your permission. This may lead to:
                                .ui.bulleted.list
                                    .item Unexpected charges on statements or cards
                                    .item Unknown credit cards or loans in your name
                                    .item Surprise calls from debt collectors
                                    .item Denied credit or credit score drop
                                    .item Bounced checks with available funds
                                        sup [1]
                        //- Card 2 
                        .ui.basic.card
                            .content
                                h2 Medical Identity Theft 
                                p Thieves use your personal information to submit fraudulent claims to Medicare or other health insurers without your authorization. This may lead to:
                                .ui.bulleted.list
                                    .item Bill for services or medications you didn't get
                                    .item Report or call about a medical debt you don't owe
                                    .item Notice saying you reached your benefit limit
                                    .item Denied insurance coverage due to tampered medical records
                                        sup [2]
                        //- Card 3
                        .ui.basic.card
                            .content
                                h2 Tax Identity Theft 
                                p Thieves use your personal information to file a fake tax return to get a refund that belongs to you. This may lead to:
                                .ui.bulleted.list
                                    .item Unrequested mail/email with new account details
                                    .item IRS records show income from an unknown employer
                                    .item IRS letter for an unfiled tax return
                                    .item IRS notice claiming unexpected tax or actions against you
                                    .item E-file issue due to duplicate Social Security number
                                        sup [3]
                i.source *Sources: 1. Aura 
                    a(href='https://www.aura.com/learn/signs-of-identity-theft#:~:text=Bounced%20checks%20(if%20you%20know%20you%20have%20available%20funds)&text=A%20bounced%20check%20could%20indicate,contact%20your%20bank%20right%20away.' target='_blank') '25 Warning Signs of Identity Theft' 
                    | 2. Federal Trade Commision 
                    a(href='https://consumer.ftc.gov/articles/what-know-about-medical-identity-theft' target='_blank') 'What To Know About Medical Identity Theft' 
                    | 3. Michigan Consumer Protection 
                    a(href='https://www.michigan.gov/consumerprotection/protect-yourself/consumer-alerts/id-theft-telemarketing/tax-related-id-theft' target='_blank') 'Tax-related ID Theft' 



