.ui.small.modal(data-modalName='digfoot_normalPostModal')
  i.close.icon  
  .header How would this post influence digital footprints?
  .content
      .ui.form
        .field
          .ui.checkbox
            input(type='checkbox')
            label The post will have a negative impact on this person’s digital footprint.
        .field
          .ui.checkbox
            input(type='checkbox')
            label This person was sharing something that they might later regret.
        .field
          .ui.checkbox
            input(type='checkbox')
            label The post was not considerate of other people’s digital footprints.
        .field
          .ui.checkbox
            input(type='checkbox')
            label The post will not have an impact on this person’s digital footprint. 
        .field
          .ui.checkbox
            input(type='checkbox')
            label This was a responsible post that will create a positive digital footprint.
  .actions
    .ui.positive.right.labeled.icon.button
      | Done
      i.checkmark.icon