.ui.small.popinfo.modal(data-modalName='digital-literacy_articleInfoModal')
  i.close.icon  
  h3.ui.header
    i.info.circle.icon 
    | Info about News Source  
  .content
      .field
        h3.ui.header#post_info_text_modual
  .actions
    .ui.positive.right.labeled.icon.button
      | Done
      i.checkmark.icon