.ui.small.info.flag.modal(data-modalName='digital-literacy_flagModal')  
  i.close.icon  
  .header You've flagged this article! Do you think there are any signs of fake news? [check multiple]  
  .content
    form.ui.form()  
      .inline.field
        .ui.checkbox
          input.hidden(type='checkbox', tabindex='0')
          label The article had a shocking and exaggerated headline.
      .inline.field
        .ui.checkbox
          input.hidden(type='checkbox', tabindex='0')
          label The article used sensational images.
        label
      .inline.field
        .ui.checkbox
          input.hidden(type='checkbox', tabindex='0')
          label The article had an unusual web address or site name.
      .inline.field
        .ui.checkbox
          input.hidden(type='checkbox', tabindex='0')
          label The article had spelling errors, ALL CAPS, or dramatic punctuation!!!!
      .inline.field
        .ui.checkbox
          input.hidden(type='checkbox', tabindex='0')
          label I didn't see any signs. This could be a real news article. I’m flagging it for another reason
  .actions
    .ui.positive.right.labeled.icon.button
      | Submit
      i.checkmark.icon
