.ui.small.modal#next_steps_modual  
  i.close.icon  
  .header You've clicked on this article! Let's explore some things you could do next. 
  .content
      .ui.styled.fluid.accordion
        .title
          //- .ui.fitted.large.checkbox
          //-   input.ui(type="checkbox", checked="")#check
          i.dropdown.icon
          |     Read the full article
        .content
          p.transition.hidden
            | Look out for unbelievable claims or wild images. Check for spelling or grammar mistakes, too!
        .title
          i.dropdown.icon
          |     Check out the website this article is from
        .content
          p
            | If the website is not part of a credible news, academic, or governmental organization, this is a sign the article might not be trustworthy.
        .title
          i.dropdown.icon
          | Fact-check the article by searching the topic on Snopes.com, FactCheck.org, or major news websites.
        .content
          p
            | Corroboration from other sources that confirms or supports a news article is a sign that the information is credible.
        .title
          i.dropdown.icon
          |     Be aware of what you share.
        .content
          p
            | It's easy to quickly like or share something, but you could be spreading fake news! Remember to only like or share articles you know are true.
  .actions
    .ui.positive.right.labeled.icon.button
      | Done
      i.checkmark.icon
