//- esteem checklist modal  
.ui.small.long.first.modal(data-modalName="esteem_postModal1")
  i.close.icon  
  .header How could Jeremy feel if he saw this post?
  .content
    .ui.form
      .ui.grid
        .eight.wide.column
          .field
            .ui.checkbox
              input(type='checkbox')
              label Happy
          .field
            .ui.checkbox
              input(type='checkbox')
              label Excited
          .field
            .ui.checkbox
              input(type='checkbox')
              label Sad
          .field
            .ui.checkbox
              input(type='checkbox')
              label Jealous
          .field
            .ui.checkbox
              input(type='checkbox')
              label Encouraged
        .eight.wide.column
          .field
            .ui.checkbox
              input(type='checkbox')
              label Anxious
          .field
            .ui.checkbox
              input(type='checkbox')
              label Angry
          .field
            .ui.checkbox
              input(type='checkbox')
              label Embarrassed
          .field
            .ui.checkbox
              input(type='checkbox')
              label Neutral   
  .actions
    .ui.positive.right.labeled.icon.button
      | Done
      i.checkmark.icon      
      
.ui.small.long.modal(data-modalName="esteem_postModal2")
  i.close.icon  
  .header What kinds of things could Jeremy do to make himself feel better?
  .content
    .ui.form
      .field
        .ui.checkbox
          input(type='checkbox')
          label Reach out to other friends on social media
      .field
        .ui.checkbox
          input(type='checkbox')
          label Support his friend by leaving a comment
      .field
        .ui.checkbox
          input(type='checkbox')
          label Express his feelings to his friend(s)
      .field
        .ui.checkbox
          input(type='checkbox')
          label Do an activity that he enjoys
      .field
        .ui.checkbox
          input(type='checkbox')
          label Spend time with friends and family offline
      .field
        .ui.checkbox
          input(type='checkbox')
          label Take a break from social media
      .field
        .ui.checkbox
          input(type='checkbox')
          label Do something else             
  .actions
    .ui.positive.right.labeled.icon.button
      | Done
      i.checkmark.icon       
