//- esteem checklist modal     
.ui.small.long.modal#esteem_post_modal
  i.close.icon  
  .content
    .ui.styled.fluid.accordion
      .active.title
        i.dropdown.icon
        |  How would Jeremy feel if he saw this post?
      .active.content
        .ui.form
          .ui.grid
            .eight.wide.column
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Happy
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Excited
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Sad
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Jealous
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Encouraged
            .eight.wide.column
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Anxious
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Angry
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Embarrassed
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Empathetic
              .field
                .ui.checkbox
                  input(type='checkbox')
                  label Neutral
        br
        .button.ui.mini.green.right.labeled.icon.button.esteemModalNextButton
          i.down.arrow.icon
          | Next          
      .title.esteemModalSection2
        i.dropdown.icon
        |  What kinds of things could Jeremy do to make himself feel better?
      .content
        .ui.form
          .field
            .ui.checkbox
              input(type='checkbox')
              label Reach out to other friends on social media
          .field
            .ui.checkbox
              input(type='checkbox')
              label Support his friend by leaving a comment
          .field
            .ui.checkbox
              input(type='checkbox')
              label Express his feelings to his friend(s)
          .field
            .ui.checkbox
              input(type='checkbox')
              label Do an activity that he enjoys
          .field
            .ui.checkbox
              input(type='checkbox')
              label Spend time with friends and family offline
          .field
            .ui.checkbox
              input(type='checkbox')
              label Take a break from social media
          .field
            .ui.checkbox
              input(type='checkbox')
              label Do something else                 
  .actions
    .ui.positive.right.labeled.icon.button
      | Done
      i.checkmark.icon       
