//- New Post Modal  
- const pictures = ["basketballshoes.jpg", "typewriter.jpg", "cat.jpg", "cupcakes.jpg", "autumn.jpg", "Disneyland.jpg", "studytime.jpg", "palm_trees.jpeg", "footballseason.jpg", "Iceland.jpg", "balloons.jpg", "beachpuppy.jpg"];
.ui.small.long.post.modal.newPostModal 
  i.close.icon  
  .header Add a New Post  
  .content.scrolling
    form#postform.ui.feed.form(action='/post/new', method='POST')  
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='module', value=mod)
      .field  
        textarea(rows='3',placeholder='What do you want to share?',name='body')
      .ui.segment
        - for (var i = 0 ; i < 4; ++i) {
          .three.fields
            - for (let j = 0; j < 3; ++j){
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='picinput' value=pictures[i*3+j])
                  label
                    img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/"+pictures[i*3+j])
            - }
        - }
      .ui.error.message
  .actions  
    input.ui.green.button(type='submit', name="foo", value='Post', form='postform')