.ui.small.basic.share.modal
  .ui.icon.header
    i.share.icon
    | You have shared this post!
  .actions(style="text-align:center;")   
    .ui.green.ok.inverted.button
      i.checkmark.icon
      | Done