.ui.small.modal#hideAdModal(data-modalName="targeted_hideAdModal")
  i.close.icon  
  .header Why did you choose to hide this ad?
  .content
    .ui.form
      .field
        .ui.checkbox
          input(type='checkbox')
          label The ad was not relevant to me
      .field
        .ui.checkbox
          input(type='checkbox')
          label I see this ad too often
      .field
        .ui.checkbox
          input(type='checkbox')
          label The ad was inappropriate
      br
      .actions
        .ui.positive.right.labeled.icon.button
          | Done
          i.checkmark.icon     