extends ../../module_layout

block content


  .ui.container#raised-container
    .limit(style="padding: 0;")
      .ui.grid.middle.aligned
        .ten.wide.column

          //- h1.ui.header.large#learn-title
          //-   .content
          //-     i.puzzle.icon
          //-     | Challenge
          //- p Test your online safety and scam detection skills in a 7-minute assessment.
          //- p Rate your agreement with 10 statements about your recent online activities. Then, evaluate 4 real-life email or text message examples and rate your confidence in identifying if each example is real or a scam.

          //- p Assessing your online safety before and after completing the course allows us to evaluate its effectiveness and make improvements.

          //- p Use the buttons below to take or skip the challenge.

          h1.ui.header.large#learn-title
            .content
              i.puzzle.icon
              | Challenge
            span(style="float: right; font-size: 1.5rem; margin-top: 5px; color: black;")
              i.clock.outline.icon
              | 5-10 minutes
          .ui.divider
          h3 Find out your Identity Theft Resilience Score!
          p DART HQ has gathered a variety of suspicious messages. Your task? Differentiate between what’s genuine and what's a scam. Then rate statements regarding your online behaviors.

          p Take this to assess your current knowledge and earn your first badge!

          p Use the buttons below to take or skip the challenge.
          br
          








          //- p Test your level of online safety and how well you spot identity theft scams. The challenge has two parts. Part 1: "My Online Behaviors" includes 10 statements reflecting your recent online activities. Rate your agreement with each statement based on your behavior. Part 2: "Detecting Scams" presents 4 real-life email or text message examples—some genuine, others scams. Rate your confidence in identifying whether each example is real or a scam.

          //- p Test your level of online safety and how well you spot identity theft scams. The challenge has two parts:

          //- b Part 1: My Online Behaviors
          //- p 10 statements related to your online activities over the past month. Rate your level of agreement with each statement based on your recent online behavior.

          //- b Part 2: Detecting Scams
          //- p 4 real-life email or text message examples, some genuine and others scams. Rate how confident you are about whether each example is real or a scam.
          
          
          //- p By assessing your online safety and risk before and after you complete the course, we are able to evaluate how effective the DART program is. This allows us to collect your feedback and improve the program.
        .six.wide.center.aligned.column
          img.ui.small.centered.image(src='/badges/identity/locked-badge.svg')
          br
          i Complete to earn a badge!


    //- +navButtons('/intro2/identity', '/challenge2/identity', 'Back' , 'Take', true, '/submod/learn/identity')  
    //- Fill progress bar to correct percent and color 
    script.
        var progress = #{user.moduleStatus.identity.challenge}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'challenge', '/about/identity', '/challenge/2/identity', 20, 'Back' , 'Take Challenge', true, '/course-player?module=identity&section=concepts&page=objectives')


block styles
  link(rel='stylesheet', href='/css/challenge.css')  
  link(rel='stylesheet', href='/css/middle-aligned-layout.css')

  
block scripts
  script.
    postStartTime("identity", "challenge");
    //- $('#header-title').text("Identity Theft - Challenge");

