extends ../../ui_layout

block content


  .ui.container#raised-container
    .ui.raised.segment
      #raised-content
        h1.ui.header.large#mod-title
          .content
            | Evaluation
        .limit
          p Before we begin the lesson, would you like to start with a challenge to help us customize the content based on your current understanding? 
          .ui.grid#to_earn_badge
            .three.column.row
              .column
                .content
                  img(src='/badges/identity/mystery_badge.png')
                  p <strong>Challenge</strong>
                    br
                    | <strong>Conqueror</strong>
          p This will also give you an opportunity to earn your first badge! 
          p If you prefer not to take it press the "skip" button to proceed directly to the default DART Learn lesson.
    +navButtons('/intro2/identity', '/challenge2/identity', 'Back' , 'Take', true, '/submod/learn/identity')  


block scripts
  script(src='/js/progress.js' percent=6 link="/challenge/identity")  
  
block styles
  link(rel='stylesheet', href='/css/module.css')  
  link(rel='stylesheet', href='/css/evaluate.css')  
  //- link(rel='stylesheet', href='/css/short-page-footer-fixed.css')  

    
