extends ../../module_layout

block content


  .ui.container#raised-container
    .limit
      h1.ui.header.large#mod-title
        .content
          | Challenge
      p Want to try a challenge before we start? 
      .ui.grid#to_earn_badge
        .three.column.row
          .column
            .content
              img(src='/badges/identity/mystery_badge.png')
              p <strong>Challenge</strong>
                br
                | <strong>Conqueror</strong>
      p Earn your first badge by completing this task! 
      p If you'd rather proceed directly to the DART Learn lesson, click "Skip"
    //- +navButtons('/intro2/identity', '/challenge2/identity', 'Back' , 'Take', true, '/submod/learn/identity')  
    //- Fill progress bar to correct percent and color 
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('/intro2/identity', '/challenge2/identity', 6, 'Back' , 'Take', true, '/submod/learn/identity')


block styles
  link(rel='stylesheet', href='/css/module.css')  
  link(rel='stylesheet', href='/css/evaluate.css')  
  //- link(rel='stylesheet', href='/css/short-page-footer-fixed.css')  

    
