extends ../../module_layout

block content

  .ui.container#raised-container
    .limit(style="padding: 0;")
      .ui.grid.middle.aligned
        .ten.wide.column
          h1.ui.header.large#learn-title
            .content#great-job
              i.award.icon
              | Congratulations!
          #text
            p You've completed the Challenge and earned your very first Badge!  But that's not all—there are still five more badges for you to earn. Keep up the great work as we head into Learn!      
        .six.wide.center.aligned.column#earned_badge
          img(onmouseenter="animateBadge()" src='/badges/identity/challenge_conqueror.png')
          p(style="font-weight: 400; font-size: 1.5rem;") <strong>Challenge</strong>
            br
            | <strong>Conqueror</strong>

        //- .ui.grid#badgesGrid(style="margin:0 auto; text-align: center;")
        //-   .one.column.row
        //-     .column
        //-       .content
        //-         img#earned_badge(onmouseenter="animateBadge()" src='/badges/identity/challenge_conqueror.png')
        //-         p <strong>Challenge</strong>
        //-           br
        //-           | <strong>Conqueror</strong>

    //- audio(autoplay=true, src="/sound/Jingle_Win_Synth_00.mp3")
    audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")

    script.
        var progress = #{user.moduleStatus.identity.challenge}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'challenge3', '/challenge/2/identity', '/course-player?module=identity&section=concepts&page=objectives', 100, 'Back', 'Learn')  


    




block scripts
  script.
    postStartTime("identity", "challenge3");

    //- function animateBadge() {
    //-   $('#earned_badge')
    //-     .transition('jiggle in')
    //-   ;
    //- }


    //- setTimeout(function() {
    //-   $('#great-job')
    //-     .transition({
    //-       animation: 'scale in',
    //-       duration: '0.5s',
    //-     })
    //-   ;
    //- }, 100);
    
    setTimeout(function() {
      document.getElementById('unlockBadge').play();

      $('#earned_badge')
        .transition({
          animation: 'tada in',
          duration: '1s',
        })
      ;
    }, 100);

    //- setTimeout(function() {
    //-   $('#text')
    //-     .transition({
    //-       animation: 'fade in',
    //-       duration: '1s',
    //-     })
    //-   ;
    //- }, 500);

    //- localStorage.setItem('progress', 5);
    //- localStorage.setItem('theft-path', "/challenge3/identity");

block styles
  link(rel='stylesheet', href='/css/challenge.css')  
  link(rel='stylesheet', href='/css/progress.css')   
  link(rel='stylesheet', href='/css/middle-aligned-layout.css')
