extends ../../module_layout

block content


  .ui.container#raised-container
    .limit
      h1.ui.header.large#mod-title
        .content
          | Challenge
      p Are you ready to assess your understanding of identity theft? Take this brief 5-question challenge to gauge your current knowledge on this crucial topic. Successfully completing it will earn you your first badge!

      p Prefer to dive straight into the DART Learn lesson? Simply click "Skip" to proceed.
      .ui.grid#to_earn_badge
        .three.column.row
          .column
            .content
              img(src='/badges/identity/mystery_badge.png')
              p <strong>Challenge</strong>
                br
                | <strong>Conqueror</strong>


    //- +navButtons('/intro2/identity', '/challenge2/identity', 'Back' , 'Take', true, '/submod/learn/identity')  
    //- Fill progress bar to correct percent and color 
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'challenge', '/intro/2/identity', '/challenge/2/identity', 6, 'Back' , 'Challenge', true, '/learn/submod/identity')


block styles
  link(rel='stylesheet', href='/css/challenge.css')  
  //- link(rel='stylesheet', href='/css/short-page-footer-fixed.css')  

  
block scripts
  script.
    postStartTime("identity", "challenge");

