extends ../../module_layout

block content


  .ui.container#raised-container
    .limit
      h1.ui.header.large#mod-title
        .content
          | Challenge
      p Test your current understanding of identity theft scams with a quick 5-question challenge. It will gauge your knowledge and pinpoint areas to focus on in the course.
      p Complete the challenge to earn your first badge!
      .ui.grid#to_earn_badge
        .three.column.row
          .column
            .content
              img(src='/badges/identity/mystery_badge.png')
              p <strong>Challenge</strong>
                br
                | <strong>Conqueror</strong>


    //- +navButtons('/intro2/identity', '/challenge2/identity', 'Back' , 'Take', true, '/submod/learn/identity')  
    //- Fill progress bar to correct percent and color 
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'challenge', '/intro/identity', '/challenge/2/identity', 6, 'Back' , 'Challenge', true, '/learn/submod/identity')


block styles
  link(rel='stylesheet', href='/css/challenge.css')  
  //- link(rel='stylesheet', href='/css/short-page-footer-fixed.css')  

  
block scripts
  script.
    postStartTime("identity", "challenge");

