#personal-info.hidden
    .ui.container#personal-info-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content 
                            i.book.icon
                            | Personal Information
                    p Information that can be used to distinguish or trace an individual’s identity, either alone or when combined with other information that is linked or linkable to a specific individual.
                        sup [1]
                    p Here are some specific examples of personal information:
                    .ui.bulleted.list 
                        .item 
                            strong Personal Descriptors: 
                            | full name, maiden name, alias, gender, race, date of birth
                        .item 
                            strong Personal identification numbers: 
                            | social security number (SSN), passport number, driver’s license number, taxpayer identification number, patient identification number, financial account number, medicare number, or credit card number
                        .item 
                            strong Personal address information: 
                            | street address or email address
                        .item 
                            strong Personal account information:
                            |  bank account, social media account, shopping platform account, and the corresponding passwords
                        .item 
                            strong Personal telephone numbers
                            sup [2]               


                    //- p Identity thieves try to steal your information so they can impersonate you. The more pieces of info they can get about you, the more likely they'll be able to imitate you and commit fraud. They target these details, among others:
                    //- .ui.bulleted.list 
                    //-     .item 
                    //-         strong Descriptors: 
                    //-         | full name, maiden name, alias, gender, race, date of birth
                    //-     .item 
                    //-         strong Identification numbers: 
                    //-         | social security (SSN), taxpayer (TIN), patient, passport, driver’s license, medicare
                    //-     .item 
                    //-         strong Account information: 
                    //-         | bank, credit card, social media, entertainment
                    //-     .item 
                    //-         strong Address information:
                    //-         |  street address or email address
                    //-     .item 
                    //-         strong Phone numbers
                .six.wide.column.middle.aligned
                    img.ui.image(src='/images/learn-2.png' style='margin-left: auto; margin-right: auto')
                i.source *Sources: 1. Whitehouse.gov 
                    a(href='https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2007/m07-16.pdf' target='_blank') 'Safeguarding Against and Responding to the Breach of Personally Identifiable Information' 
                    br
                    | 2. University of Pittsburgh 
                    a(href='https://www.technology.pitt.edu/help-desk/how-to-documents/guide-identifying-personally-identifiable-information-pii' target='_blank') 'Guide to Identifying Personally Identifiable Information (PII)' 
