extends ../ui_layout

block content
  
  .ui.text.container.addBottomMargin
    br
    .ui.raised.segment
      h3.ui.header
        i.book.blue.icon
        .content
          | Aprender
      hr
      .ui.basic.segment.removePadding
        .ui.mini.green.right.labeled.icon.button.showLearnSectionButton
          i.down.arrow.icon
          |   Comenzar
      .ui.basic.segment.learnSegment.hidden
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | Al usar las redes sociales es importante saber qué compartimos y con quién lo hacemos.
        
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | Si tu perfil es público, las personas podrían usar tu información de manera mal intencionada, como tratar de engañarte o estafarte.

        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            | La información que compartes también puede ser utilizada por la empresa que administra el sitio web. Ellos pueden vender tu información a los anunciantes y así mostrarte alguna publicidad dirigida.
        
        br
        .ui.mini.green.right.labeled.icon.button.showKeyTermsButton
          i.down.arrow.icon
          |   Seguir
      
    .ui.segment.keyIdeasSegment.hidden
      h3.ui.header
        i.key.blue.icon
        .content Vocabulario clave
      .sub.header.grayElement
        i.hand.pointer.icon
        span Selecciona cada palabra para aprender más
      br
    
      .ui.stackable.two.column.grid
        .ui.column
          .ui.raised.segment.keyTerm.voiceover_keyTerm1
            a.ui.blue.ribbon.label.keyTermLabel
                span Privacidad
            span.hidden.keyTermDefinition  
              | Control de información personal que te protege de ser observado o rastreado por otros.

        .ui.column
          .ui.raised.segment.keyTerm.voiceover_keyTerm2
            a.ui.blue.ribbon.label.keyTermLabel
                span Configuración de la privacidad
            span.hidden.keyTermDefinition 
              | Las opciones que un sitio web o aplicación deberían darte sobre qué información es visible para los otros usuarios y las empresas.

        .ui.column
          .ui.raised.segment.keyTerm.voiceover_keyTerm3
            a.ui.blue.ribbon.label.keyTermLabel
                span Política de privacidad
            span.hidden.keyTermDefinition 
              | Un documento legal que una aplicación o página web debe proporcionar. Además, describe qué información del usuario recopilan y para qué la utilizan.
        
        .ui.column
          .ui.raised.segment.keyTerm.voiceover_keyTerm4
            a.ui.blue.ribbon.label.keyTermLabel
                //- i.magic.icon 
                span Exclusión voluntaria
            span.hidden.keyTermDefinition 
              | Poder elegir no participar en algo.
              
    .ui.warning.message#clickNextWarning
      .header
       | Haz clic en "Seguir"
    .ui.warning.message#clickLabelsWarning
     .header
      | Haz clic en cada etiqueta para seguir
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
        .ui.labeled.icon.button
            i.rocket.icon
            |   ¡Listo!
            
block scripts
  script.
    var voiceoverMappings = {
      '.showLearnSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        //- "files": ['CUSML.7.1.1.mp3','CUSML.7.1.2.mp3','CUSML.7.1.3.mp3']
      },
      '.voiceover_keyTerm1': {
        "initialDelay": 700,
        "delay": 0,
        //- "files": ['CUSML.7.2.1.mp3']
      },
      '.voiceover_keyTerm2':  {
        "initialDelay": 700,
        "delay": 0,
        //- "files": ['CUSML.7.2.2.mp3']
      },
      '.voiceover_keyTerm3': {
        "initialDelay": 700,
        "delay": 0,
        //- "files": ['CUSML.7.2.3.mp3']
        },
      '.voiceover_keyTerm4': {
        "initialDelay": 700,
        "delay": 0,
        //- "files": ['CUSML.7.2.4.mp3']
      }
    };
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_start.js")
  
block styles
  link(rel='stylesheet', href='/css/start.css')
