extends ../ui_layout-esp

block content

  .ui.text.container
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky.warningMessagesSticky
        .ui.icon.compact.message.warning.hidden#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p Sube y dale clic a "Siguiente" para comenzar
        .ui.icon.compact.message.warning.hidden#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p Asegúrate de hacer clic en "Entendido" en los puntos azules!
          
        .ui.icon.message.warning.hidden#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header Todavía hay puntos azules por descubrir!
            p Haz clic en todos los puntos azules para continuar.
    br
    br
    h1 Política de Privacidad de Social Media TestDrive:
    
    p Effective as of April 17, 2019

    h2 1. Social Media TestDrive
    p.greyOut Gracias por visitar Social Media TestDrive. A continuación, encontrarás la política de privacidad de Social Media TestDrive, una aplicación web que promueve la alfabetización digital creada por el Social Media Lab de la Universidad de Cornell ("Social Media Lab", “nosotros”). Estamos dedicados a proteger la privacidad del usuario y a tratar cualquier información personal que obtenemos con cuidado y respeto. Esta Política de Privacidad ("Política") está diseñada para responder a tus preguntas sobre cómo recopilamos, protegemos, usamos y compartimos información obtenida a través de la aplicación Social Media TestDrive disponible en app.socialmediatestdrive.org (colectivamente, el "Servicio"). Esperamos que esta información aumente tu confianza en Social Media Lab y Social Media TestDrive y mejore tu experiencia al usar el Servicio.

    p.greyOut Asimismo, puedes revisar nuestros términos de uso, los cuales están disponibles y comparten información obtenida a través Social Media Test Drive, los cuales junto con estas políticas rigen el uso del servicio. <a href="https://socialmediatestdrive.org/terms.html">https://socialmediatestdrive.org/terms.html</a>, que junto con esta Política, rigen el uso del Servicio. Te animamos a leer esta Política y los Términos y Condiciones aplicables con tu padre, madre o tutor antes de usar el Servicio y a no usar el Servicio si tú o tu padre, madre o tutor no están de acuerdo con alguna parte de esta Política o los Términos y Condiciones. Al usar el Servicio, manifiestas tu acuerdo con los términos y condiciones de esta Política y los Términos y Condiciones. Sin embargo, ten en cuenta que esta Política y los Términos y Condiciones se aplican únicamente a tu uso del Servicio y no rigen tu uso de otros sitios web o aplicaciones móviles producidos o publicados por el Social Media Lab.

    p.greyOut El Servicio es controlado y operado por el Social Media Lab en los Estados Unidos, y tu uso del Servicio no pretende someternos a las leyes o jurisdicción de ningún estado, país o territorio que no sea el de los Estados Unidos. Podemos, a nuestra discreción, decidir limitar la disponibilidad del Servicio, en su totalidad o en parte, a cualquier persona, área geográfica o jurisdicción que elijamos, en cualquier momento y a nuestro exclusivo criterio.

    
    h2 2. ¿Qué información recopilamos?
    p#hint1

    p.greyOut En esta Política, la Información Personal significa información que puede usarse para identificar o contactar a una persona específica en línea o fuera de línea, como el nombre de la persona, dirección de correo electrónico, número de teléfono o un identificador persistente que puede usarse para reconocer a un usuario con el tiempo y en diferentes sitios o servicios. La Información No Personal es información agregada, información demográfica y otra información que no revela la identidad de una persona.

    h3 Información de los niños.
    p.greyOut El Servicio no recopila Información Personal. El Servicio se usa de forma anónima. Los usuarios pueden ingresar a cualquier módulo de lección como invitados, lo que automáticamente creará una cuenta de usuario de un solo uso. Una vez que el usuario termina una lección o abandona el Servicio, esta cuenta de invitado y todos los datos asociados se eliminan permanentemente. No hay forma de que ninguna cuenta de invitado pueda ser recuperada o reutilizada por los usuarios o por el Social Media Lab. Los usuarios tienen la opción de proporcionar comentarios a través de una encuesta anónima de Qualtrics al final de cada módulo; esta encuesta no recopila ninguna Información Personal. Puedes acceder a la Política de Privacidad de Qualtrics en https://www.qualtrics.com/privacy-statement/. Esta Política no aborda, ni aceptamos responsabilidad por, la manera en que las escuelas u otras terceras partes recopilan, usan o comparten información derivada del Servicio.

    h3 Información recopilada a través de la tecnología.
      p#hint2
    p.greyOut Nosotros y nuestros proveedores de servicios podemos recopilar cierta Información No Personal de forma automática cuando se usa el Servicio, y tal información puede incluir información anónima sobre el uso del Servicio, tipo de dispositivo (por ejemplo, iPad Air), navegador, sistema operativo (por ejemplo, iOS8.1) y país. Utilizamos esta información para administrar y mejorar la experiencia del usuario en nuestro Servicio, para ayudar a diagnosticar y solucionar posibles fallos del servidor y para recopilar información demográfica amplia. Utilizamos Google Analytics para recopilar y agregar esta información. Generamos un ID de usuario personalizado en Google Analytics para asegurar que un usuario no pueda ser rastreado a través de dispositivos, aplicaciones o sitios. No permitimos ningún servicio de publicidad de terceros ni tecnologías de seguimiento en el Servicio. No permitimos que la información personal de un niño o estudiante sea rastreada y utilizada para dirigir anuncios en otros sitios web o servicios de terceros. No permitimos que ningún tercero utilice los datos de un niño o estudiante para crear un perfil, participar en el enriquecimiento de datos o publicidad social, o dirigir publicidad.

    h3 Información retenida en el dispositivo o en el navegador
    p.bigTextOnHover El Servicio almacena el nombre de usuario de la cuenta de invitado en el navegador mientras el usuario avanza a través de un módulo de lección. Una vez que el usuario abandona el Servicio o termina un módulo de lección, esta información se elimina.

    h2 3. ¿Cómo utilizamos la información que recopilamos?
    p#hint3
    p.greyOut Podemos compartir la Información No Personal agregada generada por el uso del Servicio – incluyendo datos recopilados a través de Google Analytics — con vendedores contratados por el Social Media Lab para mantener el Servicio, financiadores, socios, partidarios financieros y patrocinadores del Servicio o del Social Media Lab por varias razones, como entender cómo aumentar la efectividad de los servicios del Social Media Lab y el tráfico y tendencias que ocurren en el Servicio Social Media TestDrive. Además, podemos compartir Información No Personal agregada con investigadores académicos u otros y con los medios de comunicación. No compartimos ningún dato con terceros para fines publicitarios o de marketing. No vendemos ni alquilamos la información personal de un niño o estudiante. No mostramos ninguna publicidad basada en el comportamiento o el contexto de la información personal de un niño o estudiante. No mostramos ninguna publicidad en el Servicio. Los datos recopilados a través de las encuestas de retroalimentación anónimas de Qualtrics se utilizarán para mejorar el Servicio.

    h3 Cumplimiento de la ley; Emergencias; Cumplimiento.
    p.greyOut No obstante cualquier otra disposición de esta Política en contrario, nos reservamos el derecho de divulgar cualquier información generada a través del uso del Servicio a otros, de acuerdo con la ley aplicable y como creamos que sea apropiado (a) bajo la ley aplicable, (b) a nuestros proveedores de servicios de terceros, (c) para cumplir con el proceso legal, (d) para responder a solicitudes gubernamentales, (e) para hacer cumplir nuestros Términos y Condiciones, (f) para proteger nuestras operaciones, (g) para asistencia en la detección y prevención de fraudes, (h) para proteger los derechos, la privacidad, la seguridad o la propiedad del Social Media Lab, el usuario o terceros, (i) para permitirnos buscar remedios disponibles o limitar los daños que podamos sufrir, y (j) en conexión con una disposición de todo o una parte sustancial de nuestro negocio, activos o acciones, como una venta, fusión, consolidación, reorganización, empresa conjunta, asignación o procedimientos de bancarrota o similares.

    h2 5. Privacidad en línea de los niños
    p Apoyamos la Ley de Protección de la Privacidad en Línea de los Niños y no recopilamos Información Personal de niños menores de 13 años.

    h2 6. Revelaciones importantes
    p.greyOut Ningún sitio web es completamente seguro o "a prueba de hackers". Como tal, no podemos prometer que un tercero no podrá utilizar el Servicio con fines no autorizados, como intentar acceder a la información almacenada en un dispositivo en el cual la App está instalada. Si tienes motivos para creer que tu interacción con nosotros ya no es segura, por favor notifícanos inmediatamente el problema contactándonos de acuerdo con la sección a continuación titulada "Contáctanos". Ten en cuenta que, si nos notificas por correo físico, esto retrasará el tiempo que tardamos en responder al problema.

    h2 7. Cambios a la Política de Privacidad
    p.greyOut De vez en cuando, esta Política puede ser cambiada, ampliada o enmendada, y puede incluir la introducción de disposiciones adicionales. La fecha efectiva que aparece en la parte superior de esta página indica cuándo se realizaron los últimos cambios en esta Política y los Términos y Condiciones, y el uso del Servicio en o después de dicha fecha efectiva constituye tu aceptación de la Política vigente en ese momento.

    h2 8. Contáctanos
    p.greyOut.preserveWhitespace
        | Si tienes alguna pregunta sobre esta Política o las prácticas del Servicio, por favor escríbenos a:
        | Social Media Lab
        | 487 Mann Library Building
        | Ithaca, NY 14850
        | socialmediatestdrive@gmail.com
    br
    br
    p#hint4
    
    .ui.warning.message.hidden#clickAllDotsSim2
      .header
        | Haz clic en todos los puntos azules para continuar
    button.ui.big.labeled.icon.button.privacytutorial.addBottomMargin#cyberTransButton
      i.rocket.icon
      |   Continuar!

      
block scripts
  script.
    var stepsList = [
      {
        intro: `¡Dale "Siguiente" para comenzar!`,
        audioFile: ['']
      },
      {
        intro: `Ahora que hemos aprendido sobre el método <b>ASK</b>, intentemos
        analizar una Política de Privacidad!`,
        audioFile: ['']
      },
      {
        intro: `Esta es la Política de Privacidad de TestDrive. Ve si puedes encontrar qué
        información recopila TestDrive sobre ti cuando la usas.`,
        audioFile: ['']
      },
      {
        intro: `Haz clic en "Listo" y luego busca los puntos azules &nbsp;<a role='button' tabindex='0'
        class='introjs-hint'><div class='introjs-hint-dot'></div><div
        class='introjs-hint-pulse'></div></a> &nbsp; &nbsp; &nbsp; &nbsp; para aprender más...`,
        audioFile: ['']
      }
    ];
    
    var hintsList=
    [
      {
        hint: `¿Qué información será <b>accedida</b> por TestDrive? ¡Lee esta
        sección para descubrirlo!`,
        element: '#hint1',
        hintPosition: 'middle-middle',
        audioFile: ['']
      },
      {
        hint: `¿Qué se <b>sabrá</b> sobre mí si uso TestDrive? ¡Lee esta
        sección para descubrirlo!`,
        element: '#hint2',
        hintPosition: 'left-top',
        audioFile: ['']
      },
      {
        hint: `What will be <b>shared</b> with other people or companies? Read this
        section to find out!`,
        element: '#hint3',
        hintPosition: 'middle-middle',
        audioFile: ['CUSML.7.4.6.mp3']
      },
      {
        hint: `To summarize, TestDrive does not collect any personal information. It
        also does not share personal information with other companies.`,
        element: '#hint4',
        hintPosition: 'middle-middle',
        audioFile: ['CUSML.7.4.7.mp3']
      }
    ];
  script(src="/module_js/voiceover.js")
  script(src="/module_js/base_sim.js")
  
block styles
  link(rel='stylesheet' href='/css/modules/privacy.css')
  
  
