extends ../ui_layout-esp

block content
  
  .ui.text.container
    br
    .ui.raised.segment
      .button.ui.mini.green.right.labeled.icon.button#tut_guide_start
        i.down.arrow.icon
        | Comenzar   
      .ui.basic.segment.hidden
        h2.ui.header
          .content ¿Cuáles son algunas cosas que puedo hacer para proteger mi privacidad?
            br
            h5.ui.header
              i.arrow.circle.right.blue.icon
              .content.
                Antes de proteger tu información, tienes que entender qué recopilan las empresas sobre ti.
            h5.ui.header
              i.arrow.circle.right.blue.icon
              .content.
                Las redes sociales tienen una política de privacidad que explica qué información recopila sobre ti y qué hacen con ella.
        br
        .button.ui.mini.green.right.labeled.icon.button#tut_guide_next
          i.down.arrow.icon
          | Seguir   
    br  
    #instructionSegment.content.hidden
      .ui.compact.segment
        .ui.large.read-only.checked.checkbox.exampleCheckbox
          input.ui(type="checkbox" id="" checked="")
          label Lee y haz check privacy.en las opciones que aparecen a continuación
    #askQuestion.ui.raised.segment.hidden
      .ui.basic.segment
        h2.ui.header#point3
          .content
            | Recuerda la palabra PREGUNTAR cuando analices una política de privacidad. Pregúntate a ti mismo...
        .content.ui.list
            .item
              .ui.segment.requiredCheckbox
                .ui.checkbox
                  input.requiredCheckboxInput(type="checkbox")
                  label.
                    Acceso: ¿Qué información recopilará o tendrá #[b acceso] la empresa?
            .item
              .ui.segment.requiredCheckbox
                .ui.checkbox
                  input.requiredCheckboxInput(type="checkbox")
                  label.
                    Compartir: ¿Qué se #[b compartirá] con otras compañías?
            .item
              .ui.segment.requiredCheckbox
                .ui.checkbox
                  input.requiredCheckboxInput(type="checkbox")
                  label.
                    Saber: ¿Qué se puede #[b saber] de mí si uso esto?              
    .ui.warning.message#checkAllWarning
      .header
        | Revisa todas las opciones para seguir
    .ui.warning.message#clickStartWarning
      .header
        | Haz clic en "Comenzar"
    .ui.warning.message#clickNextWarning
      .header
        | Haz clic "Seguir"
    .ui.big.labeled.icon.button.cybersim2#privacyTutGuideButton
        i.rocket.icon
        |   ¡Listo!

block scripts
  script.
    var voiceoverMappings = {
      '#tut_guide_start': {
        'initialDelay': 700,
        'delay': 500,
        'files': ['CUSML.7.3.1.mp3','CUSML.7.3.2.mp3','CUSML.7.3.3.mp3']
      },
      '#tut_guide_next': {
        'initialDelay': 700,
        'delay': 500,
        'files': ['CUSML.7.3.4.mp3','CUSML.7.3.5.mp3','CUSML.7.3.6.mp3','CUSML.7.3.7.mp3']
      }
    };
  script(src="/module_js/privacy-esp/privacy-esp_tut_guide.js")
  script(src='/module_js/voiceover.js')

block styles
  link(rel='stylesheet' href='/css/checkbox_activity.css')
  link(rel='stylesheet' href='/css/modules/privacy.css')
  
    
    
