extends ../ui_layout

block content

  .ten.wide.computer.twelve.wide.tablet.sixteen.wide.mobile.column.centered
    
    .ui.basic.segment.addBottomMargin
      h1 ¿Que te gustaría hacer?
      .ui.raised.segment
        h3.ui.header
          .content
            | Te gustaría:
        hr
        .ui.basic.segment.center.aligned
          .ui.big.green.labeled.icon.button.finish.endPageButton
              i.checkmark.icon
              |   Finalizar la lección
          br
          br
          .ui.big.green.labeled.icon.button.finish.endPageButton
              i.chevron.circle.right.icon
              |   Ver otro módulos
          br
          br
          a(href='javascript:void(0);', onclick='javascript:startIntroOne();')
              .ui.big.green.labeled.icon.button.endPageButton
                  i.edit.icon
                  |   Contarnos tu opinión
        
      .ui.raised.segment
        h3.ui.header
          .content
            | También puedes regresar al módulo para:

        hr
        .ui.basic.segment.center.aligned
          .ui.big.blue.labeled.icon.button.cybertutorial.endPageButton
              i.chevron.circle.left.icon
              |   Aprender el vocabulario clave
          br
          br
          .ui.big.blue.labeled.icon.button.cybersim.endPageButton
              i.chevron.circle.left.icon
              |   Practicar tus habilidades
          br
          br
          a(href='javascript:void(0);', onclick='javascript:startIntroTwo();')
              .ui.big.blue.labeled.icon.button.endPageButton
                  i.chevron.circle.left.icon
                  |  Explorar el feed
      
block scripts
  script(src='/module_js/base_end.js')
  script().
  
    function startIntroOne(){       
      window.open(href='https://cornell.qualtrics.com/jfe/form/SV_9tMszwlpe1TIIxT');
    };
    
    function startIntroTwo(){       
          window.location.href='/free-play/privacy-esp';
        };
