extends ../ui_layout

block content

  
    .ui.text.container.addBottomMargin
      br
      .column
        .ui.raised.segment
          .ui.blue.ribbon.label
            h3
              i.history.icon
              | &nbsp ¡Revisemos!
              
          br  
          .ui.mini.green.right.labeled.icon.button.showReviewSectionButton
            i.down.arrow.icon
            |   Seguir  
          .ui.basic.segment.reviewSegment.hidden
            h5.ui.header   
              .content  
                | Es importante comprender qué información recopilan las empresas de redes sociales sobre usted. Cuando lees la Política de Privacidad de un sitio web, Pregúntate a ti mismo...
            
            h5.ui.header
              i.arrow.circle.right.blue.icon
              .content
                | Acceso: ¿Qué información recopilará o tendrá <b>acceso</b> la empresa?
            
            h5.ui.header
              i.arrow.circle.right.blue.icon
              .content
                | Compartir: ¿Qué se <b>compartirá</b> con otras compañías?
        
            h5.ui.header
              i.arrow.circle.right.blue.icon
              .content
                | Saber: ¿Qué se puede <b>saber</b> de mí si uso esto? 
              
            h5.ui.header
              .content
                | ¡Además, cuando se registre en una cuenta de redes sociales, asegúrese de saber cuáles son sus <b>configuraciones de privacidad</b> y cámbielas a algo con lo que se sienta cómodo!
            br
        br
        br
        .ui.warning.message.clickNextWarning.hidden
          .header
           | Haz clic "Seguir"
        a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
          .ui.big.labeled.icon.button.gotItButton
              i.rocket.icon
              |   ¡Listo!

block scripts
  script().
    var voiceoverMappings = {
      '.showReviewSectionButton': {
        "initialDelay": 700,
        "delay": 500,
        "files": ['CUSML.7.7.1.mp3','CUSML.7.7.2.mp3','CUSML.7.7.3.mp3','CUSML.7.7.4.mp3', 'CUSML.7.7.5.mp3']
      }
    };
    var nextPage = 'free-play-esp';
  script(src="/module_js/voiceover.js")
  script(src="/module_js/base_trans.js")
    
block styles
  link(rel='stylesheet', href='/css/trans.css')  
