#badge.hidden
    .ui.container#badge-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            | Congratulations!
                    #text
                        p You've completed the Challenge and earned your very first Badge!  But that's not all—there are still five more badges for you to earn. Keep up the great work as we head into Learn!      
                .six.wide.center.aligned.column#earned_badge
                    img(onmouseenter="animateBadge()" src='/badges/identity/challenge_conqueror.png')
                    p(style="font-weight: 400; font-size: 1.5rem;") <strong>Challenge</strong>
                        br
                        | <strong>Conqueror</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")
    script.




