#badge.hidden
    .ui.container#badge-read
        .limit#learn-target(style="padding: 0;")
            .ui.stackable.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            span#narrate-title-badge Congratulations!
                    #text
                        p#narrate-1-badge
                            span You've completed the Challenge and earned a bronze badge!  
                        p#narrate-2-badge
                            span You have an Identity Theft Resilience score of 
                                span#shownHere
                                    span#resil-score
                                    span  out of 100.
                        p#narrate-3-badge 
                            span To build your resilience and earn more badges, continue to the next section.    
                .six.wide.center.aligned.column
                    img.ui.small.centered.image#earned_badge(src='/badges/identity/challenge_conqueror.svg' onmouseenter="animateBadge()" style="margin-bottom: -10px; width: 125px;")
                    h3 <strong>Challenge</strong>
                        br
                        | <strong>Conqueror</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")



