#offer.hidden
    .ui.container#offer-read
        .limit#learn-target
            .top-info(style="margin-top: 10px;")
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Example 3: Offer a coupon or gift card
                .ios-chat-container
                    .chat(style="width: 100%; align-items: center; font-size: 1.4rem;")
                        .yours.messages
                            .message.last(style="width: 500px;")
                                | Congratulations! You’ve won a $1,000 Walmart gift card. Go to 
                                u http://bit.ly/145634 
                                | to claim now.
                p Here are signs that this message is a scam:
                    .ui.bulleted.list
                        .item 
                            | This message offers a coupon for a $1000 gift card. Is that too good to be true?
                        .item  
                            | This message does not demonstrate an official source of Walmart.
                        .item 
                            | This message invites you to click on a shortened foreign link. Legitimate links:
                            .ui.bulleted.list
                                .item 
                                    | should be https://
                                .item 
                                    | should not be shortened
                                .item 
                                    | should have no typos or misspelling
                        .item  
                            | This message fails to provide fine prints, such as the expiration date or the exceptions to the sale. A legitimate deal will list such details for legal reasons.
                //- div.callout
                //-     .dark-blue-square
                //-         img(src=user.avatarImg, alt='avatar picture')
                //-     .light-blue-content
                //-         h3.call-header Important
                //-         p Legitimate companies won't ask for personal info in exchange for coupons or gift cards. Legally, they can't.
