#suspicious.hidden
    .ui.container#suspicious-read(style="width: 90%;")
        .top-info(style="margin-top: 10px;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Example 4: Suspicious activity or log-in attempts
        .ui.centered.stackable.grid
            .seven.wide.column
                .ios-chat-container
                    .chat(style="width: 100%; align-items: center; font-size: 1.4rem;")
                        .yours.messages
                            .message.last(style="width: 500px; margin-top: 20px; margin-bottom: 20px;")
                                | BMO: ALERT For security reasons, your account has been temporarily suspended. Please verify your information:  
                                u bit.ly/123340
                            .message.last(style="width: 500px;")
                                | Wells Fargo Bank: Your account has been temporarily blocked. Please log in to 
                                u http://goo.gl/23489 
            .nine.wide.column
                p(style="margin-top: 20px;") Here are signs that the two messages are scams:
                    .ui.bulleted.list
                        .item 
                            | Claim there’s a problem with your account or your payment information without specific information.
                        .item 
                            | Induce a sense of threat or urgency and compels you to click on the provided link.
                        .item
                            | Fail to demonstrate official sources.
                div.callout
                    .dark-blue-square
                        img(src=user.avatarImg, alt='avatar picture')
                    .light-blue-content
                        h3.call-header Important
                        p Beware of urgent requests for personal information. Legitimate companies don't ask for it this way.
