#takeaways.hidden
    .ui.container#reflection-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid.middle.aligned
                .ten.wide.column
                    h1.ui.header.large#learn-title
                        .content#great-job
                            i.award.icon
                            | Congratulations!
                    #text
                        p You now know:
                        .ui.bulleted.list
                            .item(style="line-height: 1rem;")
                                | Techniques scammers use to steal your personal information
                        p This knowledge will help you keep yourself and others safe from identity theft.
                .six.wide.center.aligned.column#earned_badge
                    img(src='/badges/identity/progress_master.png' style="width: 100px;")
                    p(style="font-weight: 400; font-size: 1.5rem;") <strong>Progress</strong>
                        br
                        | <strong>Master</strong>
            audio(id="unlockBadge", src="/sound/unlock.wav", preload="auto")