extends ../ui_layout

block content

  .ui.text.container(style="margin-bottom:4em;")
    br
    .column
      .ui.raised.segment
        .ui.blue.ribbon.label
          h3
            i.history.icon
            | &nbsp Let's review!
        br
        .ui.mini.green.right.labeled.icon.button.showReviewSectionButton
          i.down.arrow.icon
          |   Next  
        .ui.basic.segment.reviewSegment.hidden  
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | A red flag feeling is when something happens on social media that 
              | makes you feel uncomfortable, worried, sad, or anxious.

          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | If you get a red flag feeling on social media, pause and think 
              | about how you're feeling and what you can do to feel better. 
                      
          h5.ui.header
            i.arrow.circle.right.blue.icon
            .content
              | Remember to think about media balance and how you can use social 
              | media in a way that feels positive and in balance with other 
              | activities you enjoy doing.
          br
    br
    br
    .ui.warning.message.clickNextWarning.hidden
      .header
       | Click "Next"
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
      .ui.big.labeled.icon.button.gotItButton
          i.rocket.icon
          |   Got it!
            
block scripts
  script.
    var voiceoverMappings = {
      '.showReviewSectionButton': {
        "initialDelay": 700,
        "delay": 0,
        "files": ['CUSML.1.5.1.mp3','CUSML.1.5.2.mp3','CUSML.1.5.3.mp3']
      }
    };
    var nextPage = 'trans2';
  script(src="/module_js/voiceover.js")  
  script(src="/module_js/base_trans.js")
    
block styles
  link(rel='stylesheet', href='/css/trans.css') 
