extends ../script.pug

block post
  if (val.type === user.esteemTopic)
    if (val.info_text !== "")
      include ../partials/script/taggedPost
    else
      include ../partials/script/actorPost
  

  include ../partials/script/modals/esteemPost
  
block rightColumn
  .computer.only.four.wide.column
    .ui.sticky.compact.positive.message.advancedLitReminder
      p 
        | Remember that you are viewing Jeremy’s timeline, but you can still make posts and comments of your own.
        
block scripts2
  script.
    $('.advancedLitReminder')
    .sticky({
      context: '#content',
      offset: 90
    })
