extends ../script.pug

block post
  if (val.type === user.esteemTopic)
    if (val.info_text !== "")
      include ../partials/script/taggedPost
    else
      include ../partials/script_actorPost
    
  include ../partials/script/esteemModal 


block scripts2
  script.
    /* alert('hi'); */
