extends ../ui_layout

block content
  
  .ui.text.container(style="margin-bottom:4em;")
    br
    .column
      .ui.raised.segment
        h3.ui.header
          i.binoculars.blue.icon
          .content
            | Explore
        hr
          
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |  Before exploring the TestDrive timeline, choose a topic below to 
            | see things that are more interesting to you! 
      
          
        h5.ui.header
          i.arrow.circle.right.blue.icon
          .content
            |  Choose a topic below to learn more!
        br
        .ui.container
          form.ui.form
              .field#animateDropdownError
                label(style="font-size:120%;")
                  i.search.large.gray.icon
                  .ui.selection.dropdown(name='topicSelect')
                    input(type='hidden')
                    i.dropdown.icon
                    .default.text Choose a topic...
                    .menu
                      .item(data-value='0' style="font-size:100%") Food
                      .item(data-value='1' style="font-size:100%") Sports
                      .item(data-value='2' style="font-size:100%") Gaming
      br
      br

    br
    br
    .ui.warning.message#selectTopicError(style="display:none;")
     .header
      | Select an interest to proceed 
      
    a(href='javascript:void(0);', onclick='javascript:startIntro();')
        .ui.big.labeled.icon.button
            i.rocket.icon
            |   Let's Continue!
    br
    br
    br
    
block scripts
  script(src="/module_js/esteem/esteem_trans2.js")
  
