extends ../script.pug

block post
  if (val.type === user.esteemTopic[user.esteemTopic.length - 1] || val.type === "neutral")
    if (val.info_text !== "")
      include ../partials/script/taggedPost
    else
      include ../partials/script/actorPost
  
block rightColumn

  .computer.only.four.wide.column
    .ui.sticky.compact.positive.message.advancedLitReminder
      case user.esteemTopic[user.esteemTopic.length - 1]
        when "Music"
          p.
            Recuerda que estás viendo el feed de Jeremy. Presta atención a las 
            publicaciones de Ana y Alonso. Todavía puedes hacer publicaciones y 
            agregar comentarios en el feed.
        when "Sports"
          p.
            Recuerda que estás viendo el feed de Jeremy. Presta atención a las 
            publicaciones de Ana y Alonso. Todavía puedes hacer publicaciones y 
            agregar comentarios en el feed.
        when "Gaming"
          p.
            Recuerda que estás viendo el feed de Jeremy. Presta atención a las 
            publicaciones de Ana y Alonso. Todavía puedes hacer publicaciones y 
            agregar comentarios en el feed.  
        default
          p.
            Recuerda que estás viendo el feed de Jeremy. Presta atención a las 
            publicaciones de Ana y Alonso. Todavía puedes hacer publicaciones y 
            agregar comentarios en el feed.
            
block scripts2
  script.
    $('.advancedLitReminder')
    .sticky({
      context: '#content',
      offset: 115
    })
