extends ../script.pug

block post  
  if (val.type === user.esteemTopic[user.esteemTopic.length - 1] || val.type === "neutral")
    include ../partials/script/actorPost

block rightColumn
  .ui.sticky.compact.positive.message.esteemReminder
    case user.esteemTopic[user.esteemTopic.length - 1]
      when "Music"
        p.
          Remember that you are viewing Jeremy's timeline. Pay special 
          attention to posts by Jeremy's friends, Kiki and Franklin. You can 
          still make posts and add comments on the timeline. 
      when "Sports"
        p.
          Remember that you are viewing Jeremy's timeline. Pay special 
          attention to posts by Jeremy's friends, Brielle and Hayden. You can 
          still make posts and add comments on the timeline.  
      when "Gaming"
        p.
          Remember that you are viewing Jeremy's timeline. Pay special 
          attention to posts by Jeremy's friends, Lindsay and Asher. You can 
          still make posts and add comments on the timeline.  
      default
        p.
          Remember that you are viewing Jeremy's timeline. Pay special 
          attention to posts by Jeremy's friends, Kiki and Franklin. You can 
          still make posts and add comments on the timeline.
            
block scripts2
  script.    
    $('.esteemReminder').sticky({
      context: '#content',
      offset: 115
    })