#emotional.hidden
    .ui.container#emotional-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Emotional Stress
                    p Falling for a tech support scam can result in feelings of embarrassment or loss of trust in reputable tech support companies. 

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.large.image(src=public_resources+'/images/modules/grandparent/emotionalwords.png' style='margin-left: auto; margin-right: auto')
