#financial.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Financial Loss
                    p Tech support fraud is the top crime affecting people 60+. 
                    p In 2023, there were 17,696 complaints from individuals over 60 years old, resulting in losses of more than $589 million.
                        a(href='https://www.ic3.gov/Media/PDF/AnnualReport/2023_IC3ElderFraudReport.pdf' target="_blank") 
                            sup [1]
                    i.source *Sources: 1. 2023 Elder Fraud Report.
                        a(href='https://www.ic3.gov/Media/PDF/AnnualReport/2023_IC3ElderFraudReport.pdf' target='_blank') 'Internet Crime Complaint Center (IC3)' 

                    //- p [4] Elder Fraud Report. 2023. Internet Crime Complaint Center (IC3). https://www.ic3.gov/Media/PDF/AnnualReport/2023_IC3ElderFraudReport.pdf

                        //- ul
                        //-     li Family and friend imposter scams is up +36% since last year for ages 60+
                        //-     li Results in losses of $32 million
                    //- .ui.bulleted.list 
                    //-     .item 
                    //-         | Family and friend imposter scams is up +36% since last year for ages 60+
                    //-     .item 
                    //-         | Results in losses of $32 million

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.image(src=`${public_resources}/images/modules/identity/losing-money.svg` style='margin-left: auto; margin-right: auto')
