#identity.hidden
    .ui.container#financial-read
        .limit#learn-target(style="padding: 0;")
            .ui.grid
                .ten.wide.computer.sixteen.wide.tablet.column
                    h1.ui.header.large#learn-title
                        .content
                            i.book.icon
                            | Identity Theft
                    p Tech support scammers not only steal the money they charge victims for fake services, they also steal personal information that can be used for identity theft, like passwords, credit card numbers, or social security numbers, anything stored on your computer. This personal information can be used for fraud, leading to additional financial loss and emotional distress. For more on how to prevent identity theft, see the DART Academy Identity Theft module.

                        a(href='https://www.aarp.org/money/scams-fraud/info-2019/identity-theft.html' target="_blank") 
                            sup [1]
                    i.source *Sources: 1. AARP. 
                        a(href='https://www.aarp.org/money/scams-fraud/info-2019/identity-theft.html' target='_blank') 'Identity Theft.' 

                    //- p [4] Elder Fraud Report. 2023. Internet Crime Complaint Center (IC3). https://www.ic3.gov/Media/PDF/AnnualReport/2023_IC3ElderFraudReport.pdf

                        //- ul
                        //-     li Family and friend imposter scams is up +36% since last year for ages 60+
                        //-     li Results in losses of $32 million
                    //- .ui.bulleted.list 
                    //-     .item 
                    //-         | Family and friend imposter scams is up +36% since last year for ages 60+
                    //-     .item 
                    //-         | Results in losses of $32 million

                .six.wide.computer.sixteen.wide.tablet.column
                    img.ui.medium.image(src=`${public_resources}/images/modules/identity/login-theft.png` style='margin-left: auto; margin-right: auto')
