#family.hidden
    .ui.container
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Red Flag 3:  Inaccurate Family Details
            .ui.centered.stackable.grid
                .eight.wide.column
                    p Scammers may know the name of your family member, such as your grandchild, but they likely lack specific details about them or other relatives. 

                    p Therefore, be alert if they say something inaccurate about your family members. It is a big red flag!! They may try to excuse the mistake by claiming they misremembered or misspoke. Verify the information later with someone you trust.

                .eight.wide.column
                    h3 Audio Example
                    p Grandparent: Hello
                    p Scammer: Hi grandma
                    p Grandparent: Who is this?
                    p Scammer: It’s Alex
                    p Grandparent: Oh, Alex. How are you doing?
                    p Scammer: I am traveling with my sister.
