//-Buttons at the top of the notifications page (and settings and activity pages)
button.ui.basic.button.habitsNotificationsDisplay.habitsSettingsButton.hidden
  i.cog.icon
  |   Settings                    
button.ui.basic.button.habitsNotificationsDisplay.habitsActivityButton.hidden
  i.clock.icon
  |   My Activity
  
//-Buttons at the top of the notifications page (and settings and activity pages)
button.ui.basic.button.habitsSettingsDisplay.habitsSettingsButton.hidden
  i.cog.icon
  |   Settings                    
button.ui.basic.button.habitsSettingsDisplay.habitsActivityButton.hidden
  i.clock.icon
  |   My Activity
  
//-Buttons at the top of the notifications page (and settings and activity pages)
button.ui.basic.button.habitsActivityDisplay.habitsSettingsButton.hidden
  i.cog.icon
  |   Settings                    
button.ui.basic.button.habitsActivityDisplay.habitsActivityButton.hidden
  i.clock.icon
  |   My Activity